<template lang="pug">
//- '
ul.list-units
    template(v-for='(unit, i) in units')
        component(:is='unitComponent', :unit='unit', :key='i')
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
// BornanUI
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';
// Disciplines
import Alternative from '@/components/DisciplinesMatchCentre/_commons/schedule/Alternative.vue';
@Component({
    computed: {
        unitComponent(): string {
            return `Unit${this.$props.disc}`;
        }
    },
    components: {
        BEventCard,
        Alternative
        // unitComponentes are now registered globally
    }
    // props: {
    //     disc: String,
    //     title: String,
    //     units: Array
    // }
})
export default class ScheduleListUnits extends Vue {
    @Prop()
    declare disc: string;
    @Prop()
    declare title: string;
    @Prop()
    declare units: any[];
    //
}
</script>
