<template lang="pug">
.b-match-centre(v-if='unitInfo')
    //-  SI ES PARTIDO DE PARTIDOS si necesito mostrar el resultado total
    template(v-if='subUnits.length == 0')
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"no-scores"')
    template(v-else)
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
    BMatchNocs.no-names(:competitors='competitors', :type='type')
    //-
    template(v-if='hasPeriods')
        BMatchSectionTitle.sticky
            span(v-if='subUnits.length < 1') Periods
        BMatchResultsPeriod.no-final(v-if='subUnits.length < 1' :competitors='competitors', :periods='results.Results.Periods', :show='"rows"')

        template(v-if='results.Info.IsLive')
            //- splits
            .h2h-result__splits-title
            .h2h-result__splits-title
            //- total competitor
            div(v-for='(competitor, i) in competitors', :key='i')
                .h2h-result__competitor__detail-results__bte
                    ResultAnimated(type='p', :res='competitor.Sport.GamePoints')
                .h2h-result__competitor__detail-results__bte
                    img.serve(v-if='competitor.Sport.Server == "true"', src='@theme/images/tennis-ball.png')

        template(v-else)
            //- splits
            .h2h-result__splits-title
                span Total
            //- total competitor
            div(v-for='(competitor, i) in competitors', :key='i')
                .h2h-result__competitor__detail-results__total-rs
                    ResultAnimated(type='p', :res='competitor.Result')
        //- notas
        .result-container-animation__value_p_reason-ten
            p {{$t('disciplines.ret-message')}}
            p {{$t('disciplines.wo-message')}}

        //-
        template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
            BMatchSectionTitle.sticky
                span Statistics
            StatsPeriod(
                :competitors='competitors',
                :periods='results.Results.Periods',
                :display-periods='displayPeriods',
                :match-duration='results.Results.Duration',
                :desc-stats='results.Stats.colStats.teams',
                :type='type'
            )
    //- si es Team vs TEAM aqui se listan todos lo partidos correspondientes
    template(v-if='subUnits.length > 0')
        //- h4.title Matches

    .body-section-container_results.body-section-container.container-fluid
        //- title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='true')

        .body-section-container_results__disc.body-section-container_results__disc_h2h

           
        .body-section-container_results__disc.body-section-container_results__disc_h2h(v-if='subUnits.length > 0')

            BMatchSectionTitle.sticky
                span Matches
            ul.schedule-days__list-units-disc
                li.schedule-days__list-units-disc__disc(v-for="subMatch,indexDs in subUnits", :id='"sub-match-" + indexDs')
                    .body-section-container_results.body-section-container.container-fluid.schedule-days__subunit
                        title-sub-unit.schedule-days__subunit__title(v-if='subMatch.Info', :results-res='subMatch.Info', :show-venue='false', :show-court='true')

                        .body-section-container_results__disc.body-section-container_results__disc_h2h.schedule-days__subunit__body
                            BMatchCompetitors(:competitors='subMatch.Competitors', :type='type', :show='"scores"')

                            BMatchResultsPeriod.no-final.submatch(:competitors='subMatch.Competitors', :periods='subMatch.Results.Periods', :show='"rows"')
                            StatsPeriod(
                                v-if='subMatch.HasStats',
                                :competitors='subMatch.Competitors',
                                :periods='subMatch.Results.Periods',
                                :display-periods='displayPeriods',
                                :match-duration='results.Results.Duration',
                                :desc-stats='results.Stats.colStats.teams',
                                type='type'
                            )
                            officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleSubUnit from '@/components/DisciplinesMatchCentre/TEN/TitleTennis.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import ResultAnimated from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
import StatsPeriod from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchResultsPeriod from '@/BornanUI/components/BMatchResultsPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results', 'unit', 'bio'],
    components: {
        titleSubUnit,
        officials,
        scoreh,
        period,
        periodResp,
        StatsPeriod,
        ResultAnimated,
        h2h,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchResultsPeriod
    }
})
/* eslint-enable */
export default class TTEResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];
    subUnits: Array<any> = [];
    type = '' as string;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.type = '';
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (value.SubUnits) {
            this.subUnits = value.SubUnits;
        }
        //this.resultsStatistic = results.Results.Stats
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
.b-match-result-periods {
    &.rows {
        /* MAS grande cuando es el resultado final de un partido */
        grid-template-rows: 5fr 4fr 2fr 4fr 5fr;
        &.submatch {
            grid-template-rows: 5fr 4fr 3fr 4fr 5fr;
            border-top: 1px solid $color-primary-25;
            border-bottom: 1px solid $color-primary-25;
        }
    }
}
</style>
