<template lang="pug">
.b-match-centre(v-if='unitInfo')
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs.no-winner(:competitors='competitors', :type='type')
    //- Presentation
    //- sl-indiv(v-if='type == "A"', :list-competitor='competitors')
    //- sl-doubl(v-if='type == "D"', :list-competitor='competitors')
    //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='true') 
    //-
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span Officials
        officials(:list-officials='officials')
.b-match-centre(v-else)
    p no data
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { slIndiv, slDoubl, slTeams, officials, BMatchCompetitors, BMatchNocs, BMatchSectionTitle }
})
/* eslint-enable */
export default class TTEStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '' as string;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
