@font-face {
    font-family: 'anjaeliane';
    src: url('@theme/fonts/anja_eliane-webfont.woff2') format('woff2'),
        url('@theme/fonts/anja_eliane-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
