<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h.fill
                .fill
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    current-last(:competitors='competitors', :current='current', :last='last')
                    period(:competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    //-statistic(v-if='stats', :stats='unitStats')
                    //-officials(v-if='hasOfficials', :list-officials='officials')
        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath.fill
                .fill
                    current-last(
                        v-if='unitInfo.IsLive'
                        :competitors='competitors', :periods='periods',
                        :current='current', :last='last',
                        :show-diff='false'
                        )
                        template(#split='{split}')
                            span.medal-section-container__list__body__splits__values__list__split__diff
                                | {{ split.Result }}
                    score-ath(
                        :competitors='competitors', :periods='periods',
                        :type='unitInfo ? unitInfo.Type : "T"',
                        :show-diff='false'
                    )
                        template(#split='{split}')
                            span.medal-section-container__list__body__splits__values__list__split__diff
                                | {{ split.Result }}
                            
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period, scoreAth, currentLast }
})
/* eslint-enable */
export default class SKBResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
