<template lang="pug">
.schedule-days__list-units-disc__disc__units-container(v-if='disc && day')
    template(v-if='listUnitsByLoc.length > 0')
        template(v-for='loc in listUnitsByLoc')
            p.info {{ loc.Desc }}
            ul.body-section-container__list-events
                component(
                    v-for='unit in loc.Units',
                    :key='unit.id ? unit.id : unit.Key',
                    :is='unit.id ? "Alternative" : unitComponent',
                    :unit='unit')

    ul.body-section-container__list-events(v-else-if='listUnits.length > 0')
        component(v-for='unit in listUnits', :key='unit.id ? unit.id : unit.Key', :is='unit.id ? "Alternative" : unitComponent', :unit='unit')

    .loading-container(v-else-if='isLoading')
        i.fa.fas.fa-spin.fa-spinner

    p.info(v-else) {{ $t("filters.no-results") }}
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import services from '@/settings/services';

import Alternative from '@/components/DisciplinesMatchCentre/_commons/schedule/Alternative.vue';
/* eslint-disable */
@Component({
    components: {
        Alternative
        // unitComponentes are now registered globally
    }
})
/* eslint-enable */
export default class ScheduleDiscDay extends Vue {
    @Prop()
    declare disc: string;
    @Prop()
    declare day: string;
    //
    listUnits: any[] = [];
    listUnitsByLoc: any[] = [];
    isLoading = true;

    get unitComponent() {
        return `Unit${this.$props.disc}`;
    }

    @Watch('disc')
    onChangeDisc() {
        this.getDiscUnits();
    }

    @Watch('day')
    onChangeDay() {
        this.getDiscUnits();
    }

    async getDiscUnits() {
        this.isLoading = true;
        this.listUnits = [];
        this.listUnits = await services.link('schedule_date', this.$props.disc, this.$props.day);
        this.isLoading = false;

        // Now reorganize if Disc is Order by LOC
        this.listUnitsByLoc = [];
        const selDisc: any = this.$store.state.disciplines.find((e: any) => e.Key == this.$props.disc);
        if (selDisc && selDisc.EventOrder === 'LOC') {
            const units = this.listUnits.slice();
            units.sort(this.sortingUnitsLoc);
            let currLoc = '';
            let objLoc: any = {};
            for (let i = 0; i < units.length; i++) {
                if (units[i].Loc != currLoc || units[i].id) {
                    currLoc = units[i].Loc;
                    objLoc = { Loc: units[i].Loc, Desc: units[i].LocDesc, Units: [] };
                    this.listUnitsByLoc.push(objLoc);
                }
                objLoc.Units.push(units[i]);
            }
        }
    }

    sortingUnitsLoc(a: any, b: any) {
        if (a.Loc < b.Loc) return -1;
        if (a.Loc > b.Loc) return 1;

        if (a.DateTimeRaw < b.DateTimeRaw) return -1;
        if (a.DateTimeRaw > b.DateTimeRaw) return 1;

        return 0;
    }

    mounted() {
        this.getDiscUnits();
    }
}
</script>
