<template lang="pug">
.b-grid-container(v-if='infoSchedule')
    .b-grid-wrapper
        .b-grid-header
            .button-scroll.hidden
                span ++
            .dates.syncscroll
                .empty-discipline
                template(v-for='(date, index) in infoSchedule.dates')
                    router-link.date-link(:to='{ name: "schedule", params: { tab: "days", day: date.raw } }')
                        BDayLabel.date(:weekday='date.weekDay', :day='date.day', :class='date.raw == today ? "today" : ""')
        .b-grid-content.syncscroll
            .b-grid-col.discipline
                template(v-for='(discipline, index) in infoSchedule.matrix') 
                    router-link.discipline-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
                        BDisciplineLabel.start.dark.discipline(
                            :disc='discipline.Disc.Key',
                            :description='discipline.Disc.Desc',
                            :class='[live[discipline.Disc.Key] ? "live" : ""]')
            template(v-for='(days, indexDay) in reverseMatrix')
                .b-grid-col
                    template(v-for='(day, indexDisc) in days')
                        //- es un dia con competicion y la disciplina es deportiva
                        template(v-if='day !== "N" && !infoSchedule.matrix[indexDisc].Disc.NonSport')
                            router-link(
                                :to='{ name: "disc_schedule", params: { disc: infoSchedule.matrix[indexDisc].Disc.Key, date: getDateMatrix(indexDay) } }')
                                .day(
                                    :class='[day == "0" ? "competition" : day == "1" ? "competition medals" : "no-event", isToday(indexDay) ? "today" : ""]')
                                    //- span {{ day == "N" ? "" : day }}
                                    span
                        template(v-else)
                            .day(:class='[day == "0" ? "competition" : day == "1" ? "competition medals" : "no-event"]')
                                span
    //- .b-grid
    //-     //- .empty-date
    //-     //- template(v-for='(date, index) in infoSchedule.dates')
    //-     //-     router-link.date-link(:to='{ name: "schedule", params: { tab: "days", day: date.raw } }')
    //-     //-         BDayLabel.date(:weekday='date.weekDay', :day='date.day', :class='date.raw == today ? "today" : ""')
    //-     template(v-for='(discipline, index) in infoSchedule.matrix')
    //-         router-link.discipline-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
    //-             BDisciplineLabel.discipline(:disc='discipline.Disc.Key', :description='discipline.Disc.Desc', :class='[ live[discipline.Disc.Key] ? "live" : "" ]')
    //-         template(v-for='(hasDisc, indexH) in discipline.Dates')
    //-             //-.day(:class='[hasDisc == "N" && !discipline.Disc.NonSport ? "event" : "", isToday(indexH) ? "today" : ""]')
    //-             template(v-if='hasDisc !== "N" && !discipline.Disc.NonSport')
    //-                 router-link(:to='{ name: "disc_schedule", params: { disc: discipline.Disc.Key, date: getDateMatrix(indexH) } }')
    //-                     .day(
    //-                         :class='[hasDisc == "0" ? "competition" : hasDisc == "1" ? "competition medals" : "no-event", isToday(indexH) ? "today" : "" ]')
    //-                         //- span {{ hasDisc == "N" ? "" : hasDisc }} {{ indexH }}
    //-                         span
    //-             template(v-else)
    //-                 .day(
    //-                     :class='[hasDisc == "0" ? "competition" : hasDisc == "1" ? "competition medals" : "no-event" ]')
    //-                     //- span {{ hasDisc }}
    //-                     span

    .b-grid-legend 
        span.today {{ $t("tooltip.today") }}
        span.live {{ $t("tooltip.live") }}
        span.competition {{ $t("tooltip.competition-day") }}
        span.medals {{ $t("tooltip.medal-day") }}
.b-grid-container(v-else)
    h4 {{ $t("sections.no-data") }}

    //- .schedule-calendar(v-if='infoSchedule')
    //-     .schedule-calendar__dates-container
    //-         ul.schedule-calendar__dates-container__dates-list.schedule-calendar__dates-container__dates-list_empty
    //-             li.schedule-calendar__dates-container__dates-list__date.schedule-calendar__dates-container__dates-list_empty__date(
    //-                 @mouseover='setHover("", "")',
    //-                 :class='isHover("col-0", "") ? "active" : "no-active"')
    //-         ul#dates.schedule-calendar__dates-container__dates-list
    //-             li.schedule-calendar__dates-container__dates-list__date(
    //-                 v-for='(dates, indexD) in infoSchedule.dates',
    //-                 @mouseover='setHover("col-" + (indexD + 1), "row-0")',
    //-                 :class='[isHover("col-" + (indexD + 1), "never") ? "active" : "no-active", isToday(indexD) ? "today" : ""]')
    //-                 router-link(:to='{ name: "schedule", params: { tab: "days", day: dates.raw } }')
    //-                     p.schedule-calendar__dates-container__dates-list__date__month {{ dates.weekDay }}
    //-                     p.schedule-calendar__dates-container__dates-list__date__day {{ dates.day }}

    //-     .schedule-calendar__disc-dates
    //-         .schedule-calendar__disc-dates__disc-container
    //-             ul.schedule-calendar__disc-dates__disc-container__disc-list
    //-                 li.schedule-calendar__disc-dates__disc-container__disc-list__disc(
    //-                     v-for='(discipline, indexM) in infoSchedule.matrix',
    //-                     @mouseover='setHover("", "row-" + (indexM + 1))',
    //-                     :class='isHover("never", "row-" + (indexM + 1)) ? "active" : "no-active"')
    //-                     //- router-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
    //-                     //-     img.schedule-calendar__disc-dates__disc-container__disc-list__disc__picto(
    //-                     //-         :src='pictoIcon(discipline.Disc.Key, "w")'
    //-                     //-     )
    //-                     //-     i.far.fa-circle(v-if='live[discipline.Disc.Key]')
    //-                     //-     p.schedule-calendar__disc-dates__disc-container__disc-list__disc__text.visible-sm__flex {{ discipline.Disc.Desc }}
    //-                     //-     p YOO
    //-                     router-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
    //-                         BDisciplineLabel(:disc='discipline.Disc.Key', :description='discipline.Disc.Desc')
    //-                             i.far.fa-circle(v-if='live[discipline.Disc.Key]')

    //-         #matrix.schedule-calendar__disc-dates__days-container
    //-             ul.schedule-calendar__disc-dates__days-container__days(v-for='(discDate, indexDD) in infoSchedule.matrix')
    //-                 li.schedule-calendar__disc-dates__days-container__days__day(
    //-                     v-for='(hasDisc, indexH) in discDate.Dates',
    //-                     @mouseover='setHover("col-" + (indexH + 1), "row-" + (indexDD + 1))',
    //-                     :class='[isHover("col-" + (indexH + 1), "row-" + (indexDD + 1)) ? "active" : "no-active", hasDisc !== "N" && !discDate.Disc.NonSport ? "hasEvent" : "", isToday(indexH) ? "today" : ""]')
    //-                     router-link(
    //-                         v-if='hasDisc !== "N" && !discDate.Disc.NonSport',
    //-                         :to='{ name: "disc_schedule", params: { disc: discDate.Disc.Key, date: getDateMatrix(indexH) } }')
    //-                         p.schedule-calendar__disc-dates__days-container__days__day__event(
    //-                             v-if='hasDisc == 0',
    //-                             @mouseover='showTooltip($event, "top", $t("tooltip.competition-day"))',
    //-                             @mouseleave='hideTooltip')
    //-                         p.schedule-calendar__disc-dates__days-container__days__day__medal-event(
    //-                             v-else-if='hasDisc == 1',
    //-                             @mouseover='showTooltip($event, "top", $t("tooltip.medal-day"))',
    //-                             @mouseleave='hideTooltip')
    //-                             span.fa-lg.fas.fa-medal
    //-                     img.schedule-calendar__disc-dates__days-container__days__day__cer(
    //-                         v-else-if='hasDisc == 0 && discDate.Disc.Key == "CER"',
    //-                         :src='pictoIcon("CER", "N")',
    //-                         @mouseover='showTooltip($event, "bottom", $t("tooltip.ceremony"))',
    //-                         @mouseleave='hideTooltip')
    //-                     p.schedule-calendar__disc-dates__days-container__days__day__event(
    //-                         v-else-if='hasDisc == 0 && discDate.Disc.NonSport')
    //-                     p.schedule-calendar__disc-dates__days-container__days__day__no-event(v-else)
    //-     .schedule-calendar__legends
    //-         ul.schedule-calendar__legends__list
    //-             li.schedule-calendar__legends__list__legend
    //-                 p.schedule-calendar__legends__list__legend__info
    //-                     //-span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_live
    //-                     i.far.fa-circle
    //-                     | {{ $t("tooltip.live") }}
    //-             li.schedule-calendar__legends__list__legend
    //-                 p.schedule-calendar__legends__list__legend__info
    //-                     span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_today
    //-                     | {{ $t("tooltip.today") }}
    //-             li.schedule-calendar__legends__list__legend
    //-                 p.schedule-calendar__legends__list__legend__info
    //-                     span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_competition
    //-                     | {{ $t("tooltip.competition-day") }}
    //-             li.schedule-calendar__legends__list__legend
    //-                 p.schedule-calendar__legends__list__legend__info
    //-                     span.schedule-calendar__legends__list__legend__info__icon.fa-lg.fas.fa-medal
    //-                     | {{ $t("tooltip.medal-day") }}
    //-     .b-tooltip(v-if='visibleTooltip', v-bind:style='{ left: postXTooltip, top: postYTooltip }') {{ tooltipText }}
    //- p(v-else) {{ $t("sections.no-data") }}
</template>

<script lang="ts">
import { Component, Watch, Mixins, Prop } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import Tooltip from '@/mixins/tooltip';
import Dates from '@/mixins/dates';
//
import BDayLabel from '@/BornanUI/BDayLabel.vue';

@Component({
    components: {
        BDisciplineLabel: () => import(/* webpackChunkName: "BDisciplineLabel" */ '@/BornanUI/BDisciplineLabel.vue'),
        BDayLabel
    }
})
export default class ScheduleCalendar extends Mixins(Images, Dates, Tooltip) {
    @Prop()
    infoSchedule: any;
    @Prop()
    live: any;
    @Prop()
    declare today: string;
    //
    posX = '';
    posY = '';
    //today           : string = ''
    dataSchedule: any = {};
    tooltipText = '';
    visibleTooltip = false;
    postXTooltip = '';
    postYTooltip = '';

    // @Watch('infoSchedule')
    // onChangeInfoSchedule(value: any) {
    //     this.scrollingDays(value);
    // }

    get reverseMatrix(): Array<any> {
        // quiero hacer columnas por dia
        // necesito, recorrer las disciplinas guardando el dia 1 de todas en un mismo array
        const result = [] as Array<any>;
        this.$props.infoSchedule.dates.forEach((date: any, index: number) => {
            result[index] = [];
            this.$props.infoSchedule.matrix.forEach((disc: any) => {
                result[index].push(disc.Dates[index]);
            });
        });
        return result;
    }

    setHover(x: any, y: any) {
        this.posX = x;
        this.posY = y;
    }
    isHover(x: any, y: any) {
        return x === this.posX || y === this.posY;
    }

    scrollingDays(info: any) {
        if (info)
            this.$nextTick(() => {
                const matrix = document.querySelectorAll('#matrix')[0];
                const dates = document.querySelectorAll('#dates')[0];
                if (!matrix) {
                    console.error("Couldn't find the matrix element");
                    return;
                }
                matrix.addEventListener('scroll', function(e: Event | any) {
                    dates.scrollLeft = e.target.scrollLeft;
                });
            });
    }

    getDateMatrix(numDay: number) {
        return this.$props.infoSchedule.dates[numDay].raw;
    }

    isToday(idxDay: number) {
        const t = this.$props.infoSchedule.dates[idxDay];
        return t && t.raw == this.$props.today;
    }

    syncScroll(currentscroll: number) {
        // https://codepen.io/dannievinther/pen/pGdjPV
        const elms = document.querySelectorAll('.syncscroll') as NodeListOf<HTMLElement>;
        if (elms) {
            for (let i = 0; i < elms.length; i++) {
                elms[i].scrollLeft = currentscroll;
            }
        }
    }

    mounted() {
        // SYNCSCROLL
        const watchScrollElm = document.querySelector('.b-grid-content') as HTMLElement;
        watchScrollElm.addEventListener('scroll', () => {
            const currentScroll = watchScrollElm.scrollLeft;
            this.syncScroll(currentScroll);
        });
        this.syncScroll(0);
    }
}
</script>

<style scoped lang="scss">
$position-top: $navbar-final-height;
$discipline-width: 182px;
$discipline-width-small: 146px;
$day-width: 46px;
$day-width-small: 34px;
@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
}
@keyframes liveDiscipline {
    from {
        opacity: 0.4;
    }
}
.b-grid-container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 2rem;
    box-sizing: border-box;
    .b-grid-wrapper {
        position: relative;
        overscroll-behavior: contain;
        margin: 2rem 1rem 1rem 0.2rem;
        @media (max-width: $breakpoint-small) {
            margin: 2rem 0.6rem 1rem 0.2rem;
        }
        .b-grid-header,
        .b-grid-days-row {
            position: -webkit-sticky;
            position: sticky;
            top: $position-top;
            padding-top: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            .button-scroll {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                // width: calc(100% - $discipline-width);
                height: 100%;
                &.hidden {
                    display: none;
                }
                span {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 0.6rem;
                    cursor: pointer;
                    background-color: $color-secondary;
                }
            }
            .dates {
                overflow: hidden;
                display: flex;
                flex-direction: row;
                flex: 1;
                background-color: rgba(255, 255, 255, 0.94);
                position: relative;

                .empty-discipline {
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    flex: 0 0 $discipline-width;
                    background-color: rgba(255, 255, 255, 0.94);
                    @media (max-width: $breakpoint-small) {
                        flex: 0 0 $discipline-width-small;
                    }
                }
                .date-link + .date-link {
                    border-left: 1px solid $color-primary-25;
                }
                .date-link {
                    flex: 1 0 $day-width;
                    @media (max-width: $breakpoint-small) {
                        flex: 1 0 $day-width-small;
                    }
                    .date {
                        padding: 0.6rem 0;
                        color: $color-primary-dark;
                        text-decoration: none;
                        font-family: $font-monospace;
                        &:hover {
                            background-color: $color-secondary-variant;
                        }
                        &.today {
                        }
                    }
                }
            }
        }
        .b-grid-content {
            flex: 1;
            padding: 0;
            display: flex;
            overflow: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: auto; // auto/touch use momentum-scroll in mobile
            -ms-overflow-style: none; // IE and Edge
            scrollbar-width: none; // Firefox
            &::-webkit-scrollbar {
                display: none; // Hide scrollbar for Chrome, Safari and Opera
            }
            .b-grid-col {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex: 1 0 $day-width;
                @media (max-width: $breakpoint-small) {
                    flex: 1 0 $day-width-small;
                }
                &.discipline {
                    padding: 0.2rem 0;
                    align-items: flex-start;
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    flex: 0 0 $discipline-width;
                    @media (max-width: $breakpoint-small) {
                        flex: 0 0 $discipline-width-small;
                    }
                }
                .discipline-link {
                    padding: 0.4rem 0; // este es el alto de los DIAS en el GRID
                    position: relative;
                    z-index: 5;
                    color: $color-primary-dark;
                    height: 50%;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.94);
                    &:hover {
                        color: $color-primary;
                        background-color: $color-secondary-variant;
                    }
                    .discipline-label {
                        box-sizing: border-box;
                        padding: 0.4rem 0 0.4rem 1rem;
                        @media (max-width: $breakpoint-small) {
                            padding: 0.4rem 0;
                        }
                        &.live {
                            border-left: 2px solid $color-primary-50;
                            animation: liveDiscipline 1.6s infinite alternate;
                        }
                    }
                }
                a {
                    width: 100%;
                    height: 100%;
                    &:hover {
                        .day {
                            // background-color: $color-primary;
                            transform: scale(1.25);
                            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                        }
                    }
                }
                .day {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &.no-event {
                        background-color: transparent;
                        border-left: 1px solid $color-primary-25;
                    }
                    &.today,
                    &.live {
                        background-color: $color-primary-25;
                    }
                    &.live {
                        animation: fadeIn 1.6s infinite alternate;
                    }
                    &.competition {
                        background-color: $color-secondary-variant;
                    }
                    &.medals {
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }

    // ===================

    .b-grid {
        margin: 0 1rem 2rem 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: max-content repeat(var(--disciplines-length), 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-content: flex-start;
        @media (max-width: $breakpoint-small) {
            margin: 1rem 0.4rem;
        }
        .date-link {
            height: fit-content;
        }
        .empty-date {
            height: 73px;
        }
        .date {
            color: $color-primary-dark;
            text-decoration: none;
            font-family: $font-monospace;
            padding: 0.8rem 0.7rem;
            @media (max-width: $breakpoint-small) {
                padding: 0.6rem 0.4rem;
            }
            &:hover {
                background: $color-secondary-variant;
            }
            &.today {
            }
        }
        .discipline {
            color: $color-primary-dark;
            text-decoration: none;
            &:hover {
                background: $color-secondary-variant;
            }
        }
        .discipline-link {
            width: $discipline-width;
            .discipline-label {
                &.live {
                    animation: liveDiscipline 1.6s infinite alternate;
                }
            }
        }
        .discipline-link,
        .empty-date {
            position: sticky;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            z-index: 5;
        }
        .no-event + .no-event {
            border-left: 1px solid $color-primary-25;
        }
        .discipline-link + .no-event {
            border-left: 0 solid $color-primary-25;
        }
        .date-link + .date-link {
            border-left: 1px solid $color-primary-25;
        }
        .discipline,
        .day,
        .date {
            border-bottom: 0 solid $color-primary-25;
        }
        /* FILAS */
        .discipline,
        .day {
            padding: 0.8rem 0.6rem;
            @media (max-width: $breakpoint-small) {
                padding: 0.1rem;
            }
        }
        .day {
            width: $day-width;
            height: 100%;
        }
        .discipline {
            padding-left: 1.4rem;
            padding-right: 1.4rem;
            border-right: 1px solid $color-primary-25;
            @media (max-width: $breakpoint-small) {
                padding-left: 0.4rem;
                padding-right: 0.4rem;
            }
        }
    }
    .b-grid,
    .b-grid-legend {
        .day,
        span {
            &.no-event {
                background-color: transparent;
            }
            &.today,
            &.live {
                background-color: $color-primary-25;
            }
            &.live {
                animation: fadeIn 1.6s infinite alternate;
            }
            &.competition {
                background-color: $color-secondary-variant;
            }
            &.medals {
                background-color: $color-secondary;
            }
        }
    }
    .b-grid-legend {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0.6rem 0;
        span + span {
            margin-left: 0.5rem;
        }
        span {
            font-size: 0.8rem;
            width: max-content;
            text-align: center;
            padding: 0.2rem 0.6rem;
            color: $color-primary-dark;
        }
    }
}
</style>
