<template lang="pug">
#schedule-days-scroll.schedule-days(v-if='infoSchedule')
    ul.schedule-days__list-days
        li.schedule-days__list-days__day(v-for='(date, indexD) in infoSchedule.dates')
            button.schedule-days__list-days__day__button(@click='setDay(date.raw)', :class='{ active: selectedDay == date.raw }')
                span.schedule-days__list-days__day__button__day-week {{ date.weekDay }}
                span.schedule-days__list-days__day__button__day-number {{ date.day }}
    ul.schedule-days__list-discs(v-if='discsByDay.length > 0')
        li.schedule-days__list-discs__disc(v-for='(disc, indexDs) in discsByDay')
            div(@click='showUnitsDisc(indexDs)', :class='discSelected == indexDs ? "open" : "closed"', :id='disc.Disc.Key')
                BDisciplineLabel.dark(:disc='disc.Disc.Key')

    ul.schedule-days__list-units-disc(v-if='discsByDay.length > 0')
        li.schedule-days__list-units-disc__disc(v-for='(disc, indexDes) in discsByDay')
            button.schedule-days__list-units-disc__disc__desc(
                @click='showUnitsDisc(indexDes)',
                :class='discSelected == indexDes ? "open" : "closed"',
                :id='disc.Disc.Key')
                BDisciplineLabel.white(:disc='disc.Disc.Key', :description='disc.Disc.Desc')
                    i.fas.fa-angle-right
            schedule-disc-day(:disc='disc.Disc.Key', :day='selectedDay', v-if='discSelected == indexDes')
p(v-else) {{ $t("sections.no-data") }}
</template>

<script lang="ts">
import { Watch } from 'vue-property-decorator';
import Component, { mixins } from 'vue-class-component';
import Images from '@/mixins/images';
//
import ScheduleDiscDay from './ScheduleDiscDay.vue';
//
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';

@Component({
    props: ['infoSchedule', 'live', 'today'],
    components: { ScheduleDiscDay, BDisciplineLabel }
})
export default class ScheduleDays extends mixins(Images) {
    declare infoSchedule: any;
    discsByDay: any[] = [];
    selectedDay = '';
    discSelected = -1;

    setDay(day: string, replace?: boolean) {
        if (replace) this.$router.replace({ params: { day } });
        else this.$router.push({ params: { day } });
    }

    getDiscByDay(selectDay: any) {
        let currDisc = null;
        if (this.discSelected >= 0) {
            currDisc = this.discsByDay[this.discSelected];
        }
        // Disicplines for the new day
        this.discsByDay = this.$props.infoSchedule.matrix.filter((d: any) => {
            if (d.Disc.Key != 'CER' && d.Dates[selectDay] != 'N') {
                return d;
            }
        });
        // Check if previous discipline is in new day
        this.discSelected = this.discsByDay.indexOf(currDisc);
    }

    showUnitsDisc(indexN: number) {
        if (this.discSelected == indexN) this.discSelected = -1;
        else this.discSelected = indexN;
    }

    @Watch('$route.params.day')
    onChangeDay(value: string) {
        const allDays: any[] = this.$props.infoSchedule.dates;
        let idxDay = allDays.findIndex((e: any) => e.raw == value);
        if (idxDay < 0) {
            // Find closest day to today!
            const todayN = parseInt(this.$props.today.replace(/-/g, ''));
            let diff = null;
            for (let i = 0; i < allDays.length; i++) {
                const currN = parseInt(allDays[i].raw.replace(/-/g, ''));
                const d = Math.abs(todayN - currN);
                if (diff == null || d < diff) {
                    idxDay = i;
                    diff = d;
                }
            }
            //
            this.setDay(allDays[idxDay].raw, true);
            return;
        }
        //
        this.selectedDay = allDays[idxDay].raw;
        this.getDiscByDay(idxDay);
    }

    mounted() {
        const day = this.$route.params.day;
        this.onChangeDay(day);
    }
}
</script>
