<style scoped lang="scss">
.schedule-calendar__disc-dates {
    .schedule-calendar__disc-dates__disc-container {
        ul.schedule-calendar__disc-dates__disc-container__disc-list {
            li.schedule-calendar__disc-dates__disc-container__disc-list__disc {
                padding-left: 0.5rem;
                a {
                    width: 100%;
                    .label {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
</style>

<template lang="pug">
.schedule-calendar(v-if='infoSchedule')
    .schedule-calendar__dates-container
        ul.schedule-calendar__dates-container__dates-list.schedule-calendar__dates-container__dates-list_empty
            li.schedule-calendar__dates-container__dates-list__date.schedule-calendar__dates-container__dates-list_empty__date(
                @mouseover='setHover("", "")',
                :class='isHover("col-0", "") ? "active" : "no-active"'
            )
        ul#dates.schedule-calendar__dates-container__dates-list
            li.schedule-calendar__dates-container__dates-list__date(
                v-for='(dates, indexD) in infoSchedule.dates',
                @mouseover='setHover("col-" + (indexD + 1), "row-0")',
                :class='[isHover("col-" + (indexD + 1), "never") ? "active" : "no-active", isToday(indexD) ? "today" : ""]'
            )
                router-link(:to='{ name: "schedule", params: { tab: "days", day: dates.raw } }')
                    p.schedule-calendar__dates-container__dates-list__date__month {{ dates.weekDay }}
                    p.schedule-calendar__dates-container__dates-list__date__day {{ dates.day }}

    .schedule-calendar__disc-dates
        .schedule-calendar__disc-dates__disc-container
            ul.schedule-calendar__disc-dates__disc-container__disc-list
                li.schedule-calendar__disc-dates__disc-container__disc-list__disc(
                    v-for='(discipline, indexM) in infoSchedule.matrix',
                    @mouseover='setHover("", "row-" + (indexM + 1))',
                    :class='isHover("never", "row-" + (indexM + 1)) ? "active" : "no-active"'
                )
                    //- router-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
                    //-     img.schedule-calendar__disc-dates__disc-container__disc-list__disc__picto(
                    //-         :src='pictoIcon(discipline.Disc.Key, "w")'
                    //-     )
                    //-     i.far.fa-circle(v-if='live[discipline.Disc.Key]')
                    //-     p.schedule-calendar__disc-dates__disc-container__disc-list__disc__text.visible-sm__flex {{ discipline.Disc.Desc }}
                    //-     p YOO
                    router-link(:to='{ name: "discipline", params: { disc: discipline.Disc.Key } }')
                        BDisciplineLabel(:disc='discipline.Disc.Key', :description='discipline.Disc.Desc')
                            i.far.fa-circle(v-if='live[discipline.Disc.Key]')

        #matrix.schedule-calendar__disc-dates__days-container
            ul.schedule-calendar__disc-dates__days-container__days(v-for='(discDate, indexDD) in infoSchedule.matrix')
                li.schedule-calendar__disc-dates__days-container__days__day(
                    v-for='(hasDisc, indexH) in discDate.Dates',
                    @mouseover='setHover("col-" + (indexH + 1), "row-" + (indexDD + 1))',
                    :class='[isHover("col-" + (indexH + 1), "row-" + (indexDD + 1)) ? "active" : "no-active", hasDisc !== "N" && !discDate.Disc.NonSport ? "hasEvent" : "", isToday(indexH) ? "today" : ""]'
                )
                    router-link(
                        v-if='hasDisc !== "N" && !discDate.Disc.NonSport',
                        :to='{ name: "disc_schedule", params: { disc: discDate.Disc.Key, date: getDateMatrix(indexH) } }'
                    )
                        p.schedule-calendar__disc-dates__days-container__days__day__event(
                            v-if='hasDisc == 0',
                            @mouseover='showTooltip($event, "top", $t("tooltip.competition-day"))',
                            @mouseleave='hideTooltip'
                        )
                        p.schedule-calendar__disc-dates__days-container__days__day__medal-event(
                            v-else-if='hasDisc == 1',
                            @mouseover='showTooltip($event, "top", $t("tooltip.medal-day"))',
                            @mouseleave='hideTooltip'
                        )
                            span.fa-lg.fas.fa-medal
                    img.schedule-calendar__disc-dates__days-container__days__day__cer(
                        v-else-if='hasDisc == 0 && discDate.Disc.Key == "CER"',
                        :src='pictoIcon("CER", "N")',
                        @mouseover='showTooltip($event, "bottom", $t("tooltip.ceremony"))',
                        @mouseleave='hideTooltip'
                    )
                    p.schedule-calendar__disc-dates__days-container__days__day__event(
                        v-else-if='hasDisc == 0 && discDate.Disc.NonSport'
                    )
                    p.schedule-calendar__disc-dates__days-container__days__day__no-event(v-else)
    .schedule-calendar__legends
        ul.schedule-calendar__legends__list
            li.schedule-calendar__legends__list__legend
                p.schedule-calendar__legends__list__legend__info
                    //-span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_live
                    i.far.fa-circle
                    | {{ $t("tooltip.live") }}
            li.schedule-calendar__legends__list__legend
                p.schedule-calendar__legends__list__legend__info
                    span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_today
                    | {{ $t("tooltip.today") }}
            li.schedule-calendar__legends__list__legend
                p.schedule-calendar__legends__list__legend__info
                    span.schedule-calendar__legends__list__legend__info__span.schedule-calendar__legends__list__legend__info__span_competition
                    | {{ $t("tooltip.competition-day") }}
            li.schedule-calendar__legends__list__legend
                p.schedule-calendar__legends__list__legend__info
                    span.schedule-calendar__legends__list__legend__info__icon.fa-lg.fas.fa-medal
                    | {{ $t("tooltip.medal-day") }}
    .b-tooltip(v-if='visibleTooltip', v-bind:style='{ left: postXTooltip, top: postYTooltip }') {{ tooltipText }}
p(v-else) {{ $t("sections.no-data") }}
</template>

<script lang="ts">
import { Watch } from 'vue-property-decorator';
import Component, { mixins } from 'vue-class-component';
//
import Images from '@/mixins/images';
import Tooltip from '@/mixins/tooltip';
import Dates from '@/mixins/dates';

/* eslint-disable */
@Component({
    components: {
        BDisciplineLabel: () => import(/* webpackChunkName: "BDisciplineLabel" */ '@/BornanUI/BDisciplineLabel.vue')
    },
    props: ['infoSchedule', 'live', 'today']
})
/* eslint-enable */
export default class ScheduleCalendar extends mixins(Images, Dates, Tooltip) {
    posX = '';
    posY = '';
    //today           : string = ''
    dataSchedule: any = {};
    tooltipText = '';
    visibleTooltip = false;
    postXTooltip = '';
    postYTooltip = '';

    @Watch('infoSchedule')
    onChangeInfoSchedule(value: any) {
        this.scrollingDays(value);
    }

    setHover(x: any, y: any) {
        this.posX = x;
        this.posY = y;
    }
    isHover(x: any, y: any) {
        return x === this.posX || y === this.posY;
    }

    scrollingDays(info: any) {
        if (info)
            this.$nextTick(() => {
                const matrix = document.querySelectorAll('#matrix')[0];
                const dates = document.querySelectorAll('#dates')[0];
                if (!matrix) {
                    console.error("Couldn't find the matrix element");
                    return;
                }
                matrix.addEventListener('scroll', function(e: Event | any) {
                    dates.scrollLeft = e.target.scrollLeft;
                });
            });
    }

    getDateMatrix(numDay: number) {
        return this.$props.infoSchedule.dates[numDay].raw;
    }

    isToday(idxDay: number) {
        const t = this.$props.infoSchedule.dates[idxDay];
        return t && t.raw == this.$props.today;
    }

    //
    mounted() {
        this.scrollingDays(this.$props.infoSchedule);
    }
}
</script>
