<template lang="pug">
    .discLiveMatches(:class="show ? 'openedMenuSchedule' : 'closedMenuSchedule' ")
        .discLiveMatches__container
            button.close(@click='toggle()', :class="show ? 'openedMenuSchedule' : 'closedMenuSchedule' ")
                i.fa.fa-times
            span.title(v-for='discip in disciplines', v-if='disc == discip.Key') {{discip.Desc}}
            ul.discLiveMatches__container__menu
                .schedule
                    li.discLiveMatches__container__list(v-for='unit in matches')
                        h2h.unit(v-if='(unit && unit.isH2H) && espDisc == false', :unit='unit', :show-splits='false', :show-winner='false')
                        h2hJudo.unit(v-if='(unit && unit.isH2H) && disc == "JUD"', :unit='unit', :show-splits='false', :show-winner='false')
                        h2hFbl.unit(v-if='(unit && unit.isH2H) && disc == "FBL"', :unit='unit', :show-splits='false', :show-winner='false')
                        h2h.unit(v-if='((unit && unit.isH2H) && disc == "KTE") && unit.UnitDescS.slice(0,3) == "MSK"', :unit='unit', :show-splits='false', :show-winner='false')
                        h2hKte.unit(v-if='((unit && unit.isH2H) && disc == "KTE") && unit.UnitDescS.slice(0,3) != "MSK"', :unit='unit', :show-splits='false', :show-winner='false')
                        ath.unit(v-if='unit && (disc == "OWS" || disc == "SWM" || disc == "SHO" || disc == "CRD")', :unit='unit')
            //-button.discnav__container__toggle(role='button', aria-label='menu', aria-expanded='false', @click='toggleMenu', @mouseover="showTooltip($event, 'left', $t('tooltip.choose-sport') )", @mouseleave='hideTooltip')
                i.fa.fa-ellipsis-v
    
        //.b-tooltip( v-if='visibleTooltip' , v-bind:style="{'right': postXTooltip, 'top': postYTooltip}") {{tooltipText}}
</template>

<script lang="ts">
import { Component, Watch, Prop } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import Tooltip from '@/mixins/tooltip';
import Images from '@/mixins/images';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
import h2hJudo from '@/components/DisciplinesMatchCentre/JUD/H2HJudo.vue';
import h2hKte from '@/components/DisciplinesMatchCentre/KTE/H2HKarate.vue';
import h2hFbl from '@/components/DisciplinesMatchCentre/FBL/H2HFootball.vue';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import { mixins } from 'vue-class-component';
import services from '@/settings/services';

/* eslint-disable */
@Component({
    computed: mapGetters(['language', 'languages', 'events']),
    props: ['unit', 'info', 'show'],
    components: { h2h, h2hJudo, h2hKte, h2hFbl, ath }
})
/* eslint-enable */
export default class LiveScheduleNav extends mixins(Tooltip, Images) {
    show = false;
    matches: any = [];
    espDisc = false;
    discipline: any;
    disciplines: any = [];

    get unitRSC() {
        return this.$route.params.rsc;
    }

    get disc() {
        return this.$route.params.disc;
    }

    getDisciplines() {
        this.disciplines = this.$store.state.disciplines;
    }

    @Watch('unitRSC')
    async getSchedule() {
        this.matches = await services.link('schedule_event', this.disc, this.unitRSC);
        if (
            this.disc == 'JUD' ||
            this.disc == 'KTE' ||
            this.disc == 'OWS' ||
            this.disc == 'SHO' ||
            this.disc == 'FBL' ||
            this.disc == 'CRD'
        ) {
            this.espDisc = true;
        } else {
            this.espDisc = false;
        }
    }

    toggle() {
        this.$emit('toggle');
    }

    mounted() {
        this.getSchedule();
        this.getDisciplines();
    }

    /*@Watch('$route.name')
    onPropertyNameChanged(value: string) {
        this.calcPage(value);
    }
    toggleMenu(): void {
        this.$store.commit('toggleDisc');
    }
    getDisciplines() {
        this.disciplines = this.$store.state.disciplines;
    }

    onMouseOver($event: any, disc: any) {
        this.showTooltip($event, 'left', disc.Desc, false);
        this.setHoverDisc(disc.Key);
    }

    onMouseLeave() {
        this.hideTooltip();
        this.setHoverDisc('');
    }

    setHoverDisc(disc: string) {
        this.hoverDisc = disc;
    }
    mounted() {
        this.getDisciplines();
        if (this.$route.name) this.calcPage(this.$route.name);
    }*/
}
</script>
