<template lang="pug">
    li.schedule-disicpline-event-unit
        .schedule-disicpline-event-unit__container(:class="[$route.params.disc, unit.ShowLink ? 'link' : 'no-link']" , @click="navigateToUnit(unit.ShowLink, $route.params.disc, unit.ResCode, unit.ResType)")
            .info-unit
                .info-unit__date
                    p {{ getMonths(unit.DateTimeRaw) }}
                    span {{ getDays(unit.DateTimeRaw) }}
                .info-unit__tu-container
                    .info-unit__tu-container__title
                        .info-unit__tu-container__title__link
                            span {{ unit.EventDesc }}
                                slot(name='unit-title')
                                    span {{ unit.PhaseDescA }}{{ unitDesc }}
                                        span.fa-lg.fas.fa-medal(v-if="unit.Medal && unit.Medal !== '0'")
                .info-unit__dsv
                    .info-unit__dsv__status
                        span.fas.fa-clock
                        p(v-if='unit.Estimated')
                            | {{ unit.EstText }}
                        p(v-else)
                            | {{getHoursMinutes(unit.DateTimeRaw)}}
                    .info-unit__dsv__venue
                        slot(name='unit-place')
                            span {{unit.VenueDesc}}
            .result-unit(ref='resUni')
                .result-unit__competitor(:class="{ 'winner' : unit.Home.RkPo == 1} ")
                    .result-unit__competitor__flag
                        img(v-if="unit.Home.Org && unit.Home.Org !== 'BYE'", :src='flag(unit.Home.Org)')
                        span {{ unit.Home.Org }}
                    .result-unit__competitor__name(v-if='isTeam(unit)')
                        span(:class="isBio(unit.Home, bio) ? 'isBio': ''") {{ unit.Home.Name }}
                    .result-unit__competitor__double(v-if='!isTeam(unit)')
                        ul.result-unit__competitor__double__list
                            li.result-unit__competitor__double__list__player(v-for='member,index in unit.Home.Members' :key='index')
                                template(v-if='bio')
                                    span(:class="isBio(unit.Home, bio) ? 'isBio': ''") {{ member.Name }}
                                template(v-else)
                                    span {{ member.Name }}
                    .result-unit__competitor__detail-results   
                        ul.result-unit__competitor__detail-results__splits(v-if='showSplits && hasIRMs==false')
                            li.result-unit__competitor__detail-results__splits__rs(v-for='splitH,indexSH in unit.Home.Splits', :key='unit.Home.reg')
                                result(v-if='showWinner', :type='"p"', :res='splitH.Result', :clas="splitH.RkPo == 1 ? 'winner':'' ") 
                                result(v-else, :type='"p"', :res='splitH.Result')
                        .result-unit__competitor__detail-results__total-rs(v-if='unit.Home.Result || unit.Home.IRM!="OK"')
                            result(:type='"p"', :res='unit.Home.Result ? unit.Home.Result : unit.Home.IRM')
                            p.result-unit__competitor__detail-results__total-rs.penalty(v-if='unit.Home.ResDetail != ""') ( {{unit.Home.ResDetail}} )
                
                .result-unit__competitor(:class="{ 'winner' : unit.Away.RkPo == 1} ")
                    .result-unit__competitor__flag
                        img(v-if="unit.Away.Org && unit.Away.Org !== 'BYE'", :src='flag(unit.Away.Org)')
                        span {{ unit.Away.Org }}
                    .result-unit__competitor__name(v-if='isTeam(unit)')
                        span(:class="isBio(unit.Away, bio) ? 'isBio': ''") {{ unit.Away.Name }}
                    .result-unit__competitor__double(v-if='!isTeam(unit)')
                        ul.result-unit__competitor__double__list
                            li.result-unit__competitor__double__list__player(v-for='member,index in unit.Away.Members' :key='index')
                                template(v-if='bio')
                                    span(:class="isBio(unit.Away, bio) ? 'isBio': ''") {{ member.Name }}
                                template(v-else)
                                    span {{ member.Name }}
                    .result-unit__competitor__detail-results
                        ul.result-unit__competitor__detail-results__splits(v-if='showSplits && hasIRMs==false')
                            li.result-unit__competitor__detail-results__splits__rs(v-for='splitA,indexSA in unit.Away.Splits', :key='unit.Away.reg')
                                result(v-if='showWinner', :type='"p"', :res='splitA.Result', :clas="splitA.RkPo == 1 ? 'winner':'' ")
                                result(v-else, :type='"p"', :res='splitA.Result')
                        .result-unit__competitor__detail-results__total-rs(v-if='unit.Away.Result || unit.Away.IRM!="OK"')
                            result(:type='"p"', :res='unit.Away.Result ? unit.Away.Result : unit.Away.IRM')
                            p.result-unit__competitor__detail-results__total-rs.penalty(v-if='unit.Away.ResDetail != ""') ( {{unit.Away.ResDetail}} )
            .status-unit
                span(:class='unit.Status') {{ unit.StatusDesc }}
                    i.far.fa-circle(v-if='unit.IsLive')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import ResultAnimated from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
import ResizeObserver from 'resize-observer-polyfill';

@Component({
    mixins: [Images, Dates],
    props: ['unit', 'showSplits', 'showWinner', 'bio'],
    components: { ResultAnimated }
})
export default class H2H extends Vue {
    observer: any;

    get unitDesc() {
        const unit = this.$props.unit;
        if (unit) {
            const isFinal = unit.Phase.substr(-4) == 'FNL-';
            if (isFinal && unit.UnitDescA != unit.PhaseDescA) return ` - ${unit.UnitDescA}`;
        }
        return '';
    }

    get hasIRMs() {
        const unit = this.$props.unit;
        if (unit) {
            return unit.Home.IRM != 'OK' || unit.Away.IRM != 'OK';
        }
        return false;
    }

    isTeam(unit: Record<string, any> | any) {
        return this.checkCompetitor(unit.Home) && this.checkCompetitor(unit.Away);
    }

    checkCompetitor(comp: any) {
        if (comp && comp.Members) return comp.Members.length == 1 || comp.Members.length >= 3;
        if (comp && !comp.Members) return true;
        return false;
    }
    navigateToUnit(hasLink: boolean, disc: string, key: string, resType?: string) {
        if (!disc) {
            disc = this.$props.unit.Disc;
        }
        if (hasLink) {
            if (resType === 'groups') {
                const evt = key.substring(0, 20);
                this.$router.push({ name: 'disc_groups', params: { disc: disc, rsc: evt, group: key } });
                return;
            }
            this.$router.push({ name: 'disc_results', params: { disc: disc, rsc: key } });
        }
    }
    isBio(participant: any, bio: any) {
        if (!bio || !participant) return false;

        if (participant.Members) {
            return participant.Members.some((e: any) => e.Reg == bio);
        } else {
            return participant.Reg == bio;
        }
    }

    async initResize() {
        await this.$nextTick();
        this.observer = new ResizeObserver((entries: any) => {
            entries.forEach(() => {
                this.resizeName();
                if (window.innerWidth < 768) {
                    this.cleanResize();
                }
            });
        });

        const someEl = this.$el;
        this.observer.observe(someEl);
    }

    cleanResize() {
        const resUnit: any = this.$refs.resUni;
        const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
        for (let i = 0; i < listCompetitors.length; i++) {
            for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
                if (
                    listCompetitors[i].childNodes[n].nodeName != '#comment' &&
                    (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
                        listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
                ) {
                    listCompetitors[i].childNodes[n].style.maxWidth = 'none';
                }
            }
        }
    }

    stopResize() {
        this.observer.disconnect();
        this.cleanResize();
    }

    async resizeName() {
        await this.$nextTick();
        const resUnit: any = this.$refs.resUni;
        const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
        for (let i = 0; i < listCompetitors.length; i++) {
            const withCompetitor: number = listCompetitors[i].clientWidth - 1;
            let counterWidth = 0;
            for (let c = 0; c < listCompetitors[i].childNodes.length; c++) {
                if (
                    listCompetitors[i].childNodes[c].nodeName != '#comment' &&
                    listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__double') == -1 &&
                    listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__name') == -1
                ) {
                    counterWidth += listCompetitors[i].childNodes[c].clientWidth;
                }
            }
            const finalWidth = withCompetitor - counterWidth;
            for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
                if (
                    listCompetitors[i].childNodes[n].nodeName != '#comment' &&
                    (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
                        listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
                ) {
                    listCompetitors[i].childNodes[n].style.maxWidth =
                        finalWidth < 10 ? 'none' : finalWidth.toString() + 'px';
                }
            }
        }
    }

    async mounted() {
        await this.initResize();
    }

    beforeDestroy() {
        this.stopResize();
    }
}
</script>
