<template lang="pug">
.b-match-centre
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs.no-winner(:competitors='competitors', :type='type')
    //- 
    BMatchSectionTitle.sticky
        span Team Members
    //- Presentation
    sl-indiv(v-if='type == "A"', :list-competitor='competitors')
    sl-doubl(v-if='type == "D"', :list-competitor='competitors')
    //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='true')
    template(v-if='type == "T"')
        BTeamStartList(:teamHome='competitors[0].Members', :teamAway='competitors[1].Members')
        template(v-if='competitors[0].TeamOfficials || competitors[1].TeamOfficials')
            BMatchSectionTitle.sticky
                span Team Officials
            BTeamStartList.officials(
                :teamHome='competitors[0].TeamOfficials',
                :teamAway='competitors[1].TeamOfficials'
            )
    //-
    BMatchSectionTitle.sticky
        span Officials
    officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';
import BTeamStartList from '@/BornanUI/components/BTeamStartList.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        slIndiv,
        slDoubl,
        slTeams,
        officials,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods,
        BTeamStartList
    }
})
/* eslint-enable */
export default class FBLStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ?? 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
