<template lang="pug">
.body-section-container.container-fluid(v-if='unitInfo')
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs.no-winner(:competitors='competitors', :type='type')

    //- Team Members
    template(v-if='unitInfo.isH2H')
        sl-indiv(v-if='type == "A"', :list-competitor='competitors')
        sl-doubl(v-if='type == "D"', :list-competitor='competitors')
        //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='true')
        template(v-if='type == "T"')
            BMatchSectionTitle.sticky
                span Team Members
            BTeamStartList(:teamHome='competitors[0].Members', :teamAway='competitors[1].Members')
            //- Team Officials
            template(v-if='competitors[0].TeamOfficials || competitors[1].TeamOfficials')
                BMatchSectionTitle.sticky
                    span Team Officials
                BTeamStartList.officials(
                    :teamHome='competitors[0].TeamOfficials',
                    :teamAway='competitors[1].TeamOfficials'
                )
    template(v-else)
        ath(:list-competitor='competitors', :show-photo='type == "A"')
    //- Officials
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span Officials
        officials(:list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';

import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
//
import H2HTeam from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import H2HTeamOfficials from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeamOfficials.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';
import BTeamStartList from '@/BornanUI/components/BTeamStartList.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        slIndiv,
        slDoubl,
        officials,
        ath,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods,
        H2HTeam,
        H2HTeamOfficials,
        BTeamStartList
    }
})
/* eslint-enable */
export default class BKBStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
