@keyframes statusLive {
    from {
        opacity: 0.2;
    }
}
.b-event-card + .b-event-card {
    border-top: 1px solid $color-primary-25;
    padding-top: 1rem;
}

.b-event-card {
    cursor: pointer;
    font-family: $font-primary;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas, HOUR + CONTENT */
    grid-template-rows: auto;

    &:hover {
        transform: scale(1.02);
        transition: all 0.5s ease-in;
        // background-color: $color-primary-25;
    }
    .b-content {
        display: grid;
        grid-template-columns: 1fr; /* 1 columna*/
        grid-template-rows: minmax(40px, min-content) 1fr; /* 2 filas, INFO + MATCH */
        overflow: hidden;
        @media (max-width: $breakpoint-beventcard-large) {
            grid-template-columns: 1fr;
        }
        .info {
            color: $color-primary;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            padding: 0.5rem 0;
            border: 0px solid red;
            & > * {
                border: 0 solid blue;
            }
            .hour {
                color: $color-primary-50;
                font-size: 1rem;
                font-weight: bold;
                text-align: right;
                padding: 0;
            }
            .group {
                font-size: 1rem;
                flex: 0 0 auto;
                padding: 0 0 0 0.8rem;
                font-weight: bold;
            }
            .round {
                font-size: 1rem;
                flex: 0 0 auto;
                padding: 0 0 0 0.8rem;
                span {
                    /* icono de medalla */
                    margin-left: 0.4rem;
                }
            }
            .venue {
                color: $color-primary-50;
                font-size: 0.8rem;
                flex: 1 1 auto;
                text-align: right;
                padding: 0 0 0 0.2rem;
            }
        }

        .match {
            display: grid;
            grid-template-columns: minmax(max-content, 2fr) 4fr 2rem;
            grid-template-rows: 2rem 1fr 1fr; /* 3 FILAS y 2 COLUMNAS */
            padding: 1rem 0 1rem 2rem;

            @media (max-width: $breakpoint-beventcard-noclabel) {
                padding: 0.6rem 0 0.6rem 1.2rem;
            }
            @media (max-width: $breakpoint-beventcard-nocsmall) {
                padding: 0.6rem 0 0.6rem 0.6rem;
            }
            .home,
            .away {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0.5rem 1rem;
                &.winner {
                    background-color: $color-surface-winner;
                    border: 0 solid $color-primary-50;
                }
            }
            .home {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .away {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            .results {
                grid-column: 2/3;
                grid-row: 1/4;
            }
            .status {
                font-size: 0.8rem;
                font-weight: 100;
                position: relative;
                color: $color-secondary;
                border: 1px solid $color-secondary;
                grid-column: 3/4;
                grid-row: 1/4;
                width: 100%;
                height: 100%;
                div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                    line-height: 0.8;
                }
            }
            @media (max-width: $breakpoint-medium) {
                grid-template-columns: 1fr 2rem;
                grid-template-rows: 2rem 1fr 2rem; /* 3 filas HOME + RESULTS + AWAY */
                .home {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .results {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .away {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .status {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }

            .results {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr; /* 3 filas, TITLES + HOME + AWAY */
                justify-items: center;
                margin: 0 1.5rem;
                .res-home {
                    grid-row: 2/3;
                    border-bottom: 1px solid $color-primary-25;
                }
                .res-away {
                    grid-row: 3/4;
                }
                .res-title {
                    grid-row: 1/2;
                    font-size: 0.8rem;
                    color: $color-primary-25;
                }
                .res-home,
                .res-away {
                    .split {
                        color: $color-primary-50;
                        font-weight: 300;
                        font-size: 1rem;
                    }
                    .result {
                        color: $color-primary-dark;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }
            }
            .no-result {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .pre-match {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr; /* 3 FILAS y 2 COLUMNAS */
            padding: 1rem 0 1rem 2rem;
            align-items: center;
            justify-items: flex-start;
            .home,
            .away {
                padding: 0.5rem 0;
            }
            .home {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .away {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .status {
                justify-self: flex-end;
                width: fit-content;
                height: fit-content;
                padding: 0.4rem 0.8rem;
                grid-column: 2/3;
                grid-row: 1/3;
            }
        }
        /* cuando el resultado es una lista de ganadores */
        .match-list {
            display: grid;
            grid-template-columns: 1fr 2rem;
            grid-template-rows: 1fr; /* 3 FILAS y 2 COLUMNAS */
            padding: 1rem 0 1rem 2rem;
            align-items: center;
            justify-items: flex-start;
            .competitors {
                grid-column: 1/2;
                grid-row: 1;
                border: 0 solid orange;
                padding: 0.5rem 0;
                margin-left: 4rem;
                width: 70%;
                @media (max-width: $breakpoint-small) {
                    margin-left: 0.5rem;
                }
                .label {
                    padding: 0.4rem 0;
                    border: 0 solid blue;
                }
            }
            .status {
                font-size: 0.8rem;
                font-weight: 100;
                position: relative;
                color: $color-secondary;
                border: 1px solid $color-secondary;
                grid-column: 2/3;
                grid-row: 1;
                width: 100%;
                height: 100%;
                div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                    line-height: 0.8;
                }
            }
            .competitors-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .noc-label {
                display: flex;
                align-items: center;
                .rank {
                    margin-right: 0.5rem;
                }
            }
        }

        /* status colors */
        .match,
        .pre-match,
        .match-list {
            .status {
                font-size: 0.8rem;
                font-weight: 100;
                border: 1px solid $color-secondary;
                &.unscheduled {
                    color: $unscheduled;
                    border-color: $unscheduled;
                }
                &.scheduled {
                    color: $scheduled;
                    border-color: $scheduled;
                }
                &.delayed {
                    color: $scheduled;
                    border-color: $scheduled;
                }
                &.postponed {
                    color: $scheduled;
                    border-color: $scheduled;
                }
                &.rescheduled {
                    color: $scheduled;
                    border-color: $scheduled;
                }
                &.start_list {
                    color: $startList;
                    border-color: $startList;
                }
                &.running {
                    color: $running;
                    border-color: $running;
                }
                &.live {
                    animation: statusLive 1.4s infinite alternate;
                    border-width: 1px;
                }
                &.interrupted {
                    color: $running;
                    border-color: $running;
                }
                &.getting_ready {
                    color: $finished;
                    border-color: $finished;
                }
                &.schedule_break {
                    color: $running;
                    border-color: $running;
                }
                &.finished {
                    color: $finished;
                    border-color: $finished;
                }
                &.unconfirmed {
                    color: $finished;
                    border-color: $finished;
                }
                &.unofficial {
                    color: $finished;
                    border-color: $finished;
                }
                &.official {
                    color: $official;
                    border-color: $official;
                }
                &.cancelled {
                    color: $official;
                    border-color: $official;
                }
                &.protested {
                    color: $live;
                    border-color: $live;
                }
            }
        }
    }
}
