div .body-section-container {
    .pos {
        color: $lightGreen1;
    }
    &_start-list {
        margin: 0 auto;
        &__venue {
            color: $color-on-background;
            font-size: 1.5rem;
            margin: 0;
        }
        &__status {
            color: $color-secondary;
            font-size: 1.1em;
            margin: 0;
        }
        &__date {
            font-family: $font-results-numbers;
            color: $color-on-background;
            font-size: 0.95em;
            margin-top: 4px;
        }

        &__list {
            list-style: none;
            padding: 0;
            @include display-flex();
            @include flex-direction(column);
            position: relative;
            left: -2em;
            &__competitor {
                width: 100%;
                &__list {
                    width: 100%;
                    @include flex-direction(column);
                    list-style: none;
                    @include display-flex();
                    &__member {
                        @include flex(1);
                        @include display-flex();
                        @include align-items(flex-end);
                        @include justify-content(center);
                        &__container {
                            @include display-flex();
                            @include align-items(center);
                            position: relative;
                            @include flex-direction(column);
                            @include flex-wrap(wrap);
                            &__avatar {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                display: block;
                                position: relative;
                                top: -2.7rem;
                                img {
                                    width: 100%;
                                    border-radius: 50%;
                                }
                            }
                        }
                        &__info {
                            background-color: transprent;
                            @include display-flex();
                            min-width: 230px;
                            z-index: 0;
                            position: relative;
                            margin: 0;
                            padding: 2rem 1rem;
                            @include justify-content(flex-end);
                            @include flex-direction(row-reverse);
                            @include align-items(center);
                            &:before {
                                content: attr(data-bib);
                                font-family: $font-results-numbers;
                                position: absolute;
                                display: block;
                                right: 12px;
                                top: 4px;
                                color: $lightGreen1;
                                font-size: 0.95em;
                                font-weight: 500;
                            }
                            &__country {
                                @include display-flex();
                                margin-top: 6px;
                                padding-left: 11px;
                                &__flag {
                                    max-height: 24px;
                                    @include box-shadow(1px 1px 6px $gray2);
                                }
                                &__org {
                                    margin-left: 5px;
                                    margin-bottom: 0;
                                    font-weight: 700;
                                }
                            }
                            &__name,
                            &__position {
                                color: $gray4;
                                font-weight: 500;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 19px;
                            }
                            &__position {
                                color: $lightGreen1;
                                font-size: 0.85em;
                                font-weight: 600;
                                font-family: inherit;
                            }
                            &__avatar {
                                @include display-flex();
                                @include justify-content(center);
                                @include align-items(center);
                                overflow: hidden;
                                border-radius: 50%;
                                img {
                                    width: 36px;
                                    height: auto;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    &__official-title {
                        margin: 1em auto 0;
                        @include display-flex();
                        @include justify-content(center);
                        font-weight: 800;
                    }
                }
                &:first-child {
                    .body-section-container_start-list__list__competitor__list__member {
                        padding-left: 0;
                        padding-right: 0;
                        &__container {
                            order: 1;
                        }
                        &__info {
                            margin-right: 0;
                            padding-right: 20px;
                            @include display-flex();
                            @include flex-direction(row);
                            @include justify-content(flex-end);
                            &:before {
                                content: attr(data-bib);
                                font-family: $font-results-numbers;
                                position: absolute;
                                display: block;
                                left: 0px;
                                right: 380px;
                                top: 4px;
                                font-size: 0.95em;
                                font-weight: 500;
                                margin-left: 10px;
                            }
                            &__country {
                                padding-right: 11px;
                                padding-left: 0;
                                @include flex-direction(row-reverse);
                                &__org {
                                    margin-left: auto;
                                    margin-right: 5px;
                                }
                            }
                            &__name {
                                padding-right: 14px;
                                text-align: right;
                            }
                        }
                    }
                }
                &:last-child {
                    &:before {
                        content: 'VS';
                        display: block;
                        top: calc(50% - 36px);
                        z-index: 9;
                        font-size: 3em;
                        margin: 0 auto;
                        color: $lightGreen1;
                        font-family: $font-results-numbers;
                        width: 71px;
                        @include border-radius(50%);
                        border: 1px solid red;
                    }
                }
            }
        }
        &_start-list-team {
            .body-section-container_start-list__list_team {
                background: $color-surface;
                margin-bottom: 2em;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                left: 0;
                &:before {
                    color: $color-on-surface;
                }
                .body-section-container_start-list__list__competitor {
                    &:last-child {
                        &:before {
                            color: $color-on-surface;
                        }
                    }
                    &__list__member__info {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 300px) {
    div .body-section-container {
        &_start-list {
            &__list {
                @include flex-direction(row);
                &:before {
                    content: 'VS';
                    display: block;
                    top: calc(35% - 30px);
                    position: absolute;
                    z-index: 1;
                    font-size: 3em;
                    color: $color-bodysectioncontainer-startlits-list-before;
                    left: 48.5%;
                    font-family: $font-results-numbers;
                    width: 71px;
                    @include border-radius(50%);
                }
                &__competitor {
                    &:last-child:before {
                        display: none;
                    }
                    &:first-child {
                        .body-section-container_start-list__list__competitor__list {
                            &__official-title {
                                @include justify-content(flex-end);
                                margin: 4em 3em 1em 0;
                            }
                            &__member {
                                padding-right: 4.5em;
                                @include justify-content(flex-end);
                                &:last-child {
                                    padding-right: 4.5em;
                                }
                                &__info {
                                    @include flex-direction(column);
                                    margin-left: auto;
                                    @include align-items(flex-end);
                                }
                            }
                        }
                    }
                    &__list {
                        &__member {
                            @include justify-content(flex-start);
                            padding-left: 5.5em;
                            &:first-child {
                                padding-left: 5.5em;
                            }
                            &__info {
                                @include flex-direction(column);
                                @include align-items(flex-start);
                            }
                        }
                        &__official-title {
                            margin: 4em 0 1em 2em;
                            @include justify-content(flex-start);
                        }
                    }
                }
            }
            &.body-section-container_start-list_start-list-team {
                .body-section-container_start-list__list {
                    @include flex-direction(row);
                    &__competitor {
                        &:first-child {
                            .body-section-container_start-list__list__competitor__list__member {
                                &__info {
                                    @include flex-direction(row);
                                    @include align-items(center);
                                }
                            }
                        }
                        .body-section-container_start-list__list__competitor__list__member {
                            &__info {
                                @include flex-direction(row-reverse);
                                @include align-items(center);
                            }
                        }
                    }
                }
                .body-section-container_start-list__list__competitor__list__member__info {
                    @include flex-direction(row-reverse);
                    background-color: $color-surface;
                    padding: 0.5rem 2rem;
                    min-width: 300px;
                    transition: 0.3s;
                    &:hover {
                    }
                }
            }
            &_start-list-team {
                .body-section-container_start-list__list_team {
                    margin-bottom: 3em;
                    .body-section-container_start-list__list__competitor {
                        //padding-right: 4.5em;
                        &__list__member__info {
                            margin-left: -17px;
                            margin-bottom: -3px;
                            margin-top: 0;
                            margin-right: 0;
                            max-width: 300px;
                            @include flex(1);
                        }
                        &:first-child {
                            @include justify-content(flex-end);
                            @include display-flex();
                        }
                        &:last-child {
                            padding-left: 5.5em;
                        }
                    }
                }
            }
        }
    }
}
