<template lang="pug">
.body-section-container_results.body-section-container.container-fluid
    .body-section-container_results__disc.body-section-container_results__disc_h2h            
            scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
            period-resp(
                v-if='hasPeriods',
                :competitors='competitors', :periods='results.Results.Periods',
                :display-periods='displayPeriods'
                )
                template(#splits)
                    .h2h-result__splits-title
                        span(v-if='results.Info.IsLive')
                        span(v-else) Total
                template(#total='{competitor}')
                    .h2h-result__competitor__detail-results__total-rs(v-if='results.Info.IsLive')
                        i.fas.fa-volleyball-ball(v-if='competitor.Sport.Server=="true"', style='font-size: 28px')
                    .h2h-result__competitor__detail-results__total-rs(v-else)
                        result(type='p', :res='competitor.Result')
            period-stats(
                v-if='results && results.Stats.showStats && results.Stats.hasStats',
                :competitors='competitors',
                :periods='results.Results.Periods',
                :display-periods='displayPeriods',
                :desc-stats='results.Stats.colStats.teams'
                )    
            stats-players(
                v-if='results && results.Stats.showStats && results.Stats.hasStats',
                :competitors='competitors',
                :list-stats='results.Stats.colStats.players'
                )

</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
//
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';

/* eslint-disable */
@Component({
    components: { officials, scoreh, periodResp, periodStats, statsPlayers, Result }
})
/* eslint-enable */
export default class VBVResults extends Vue {
    @Prop()
    results = {} as any;
    //
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
