<template lang="pug">
BEventCard(:unit='unit', :disc='"VBV"', resultType='h2h',  :show-splits='true', :show-split-winner='false', :bio='bio', :court='true')

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    components: { BEventCard }
})
/* eslint-enable */
export default class VBVSchUnit extends Vue {
    @Prop()
    'unit' = {} as any;
    @Prop()
    'bio' = {} as any;
}
</script>
