.medal-list {
    width: 100%;
}
.medal-item {
    .medal-item__info-disc {
        p {
            margin: 0; // reset bootstrap
        }
    }
    &__info-disc {
        @include display-flex();
        @include align-items(center);
        background: $color-medal-item-info-disc-bg;
        @include justify-content(center);
        flex-grow: 0;
        &__img {
            margin: 5px;
            width: 43px;
            color: $color-medal-item-info-disc-img;
        }
        &__desc {
            width: fit-content;
            color: $color-medal-item-info-disc;
            margin: 0 0 0 8px;
            font-weight: 600;
            padding: 7px 0;
            text-transform: uppercase;
        }
    }

    &__events-list {
        width: 100%;
        list-style: none;
        padding: 1rem;
        @include justify-content(center);
        @media (max-width: $breakpoint-small) {
            padding: 0.6rem 0.2rem;
        }
        &__event {
            width: 100%;
            color: $color-medalitem-event;
            display: inline-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            &__desc {
                color: $color-medalitem-event-desc;
                margin: 0;
                font-size: 1.2rem;
                font-weight: 900;
                padding: 0.5rem 1rem;
                text-align: left;
                width: 100%;
                max-width: 800px;
            }
            &__medals {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                width: 100%;
                max-width: 800px;
                &__medal {
                    width: 100%;
                    max-width: 100%;
                    display: grid;
                    grid-template-columns: 3fr 10fr;
                    border-top: 0 solid $color-primary-25;
                    border-bottom: 1px solid $color-primary-25;
                    @media (max-width: $breakpoint-small) {
                        grid-template-columns: 1fr 3fr;
                    }

                    &.ME_GOLD {
                        //background: $color-events-list-event-desc-medals-medal-ME_GOLD-bg;

                        border-left: 0.6rem solid $color-events-list-event-desc-medals-medal-ME_GOLD-bg;
                    }
                    &.ME_SILVER {
                        //background: $color-events-list-event-desc-medals-medal-ME_SILVER-bg;
                        border-left: 0.6rem solid $color-events-list-event-desc-medals-medal-ME_SILVER-bg;
                    }
                    &.ME_BRONZE {
                        //background: $color-events-list-event-desc-medals-medal-ME_BRONZE-bg;
                        border-left: 0.6rem solid $color-events-list-event-desc-medals-medal-ME_BRONZE-bg;
                    }

                    &__container {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background: transparent;
                        padding: 0.5rem 1rem;
                        @media (max-width: $breakpoint-small) {
                            padding: 0.4rem 0.1rem;
                        }
                        .medal {
                            background: transparent;
                            border: 0;
                            &:hover {
                                border: 0;
                            }
                        }
                        &__kind {
                            width: 43px;
                            margin-right: 5px;
                            font-weight: 800;
                        }
                    }
                    &__avatar {
                        padding: 0px 8px 0 6px;
                        @media (max-width: $breakpoint-small) {
                            width: 20px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    &__info {
                        height: 56px;
                        @include justify-content(space-evenly);
                        width: 100%;
                        padding: 0 1rem;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        align-items: center;
                        @media (max-width: $breakpoint-small) {
                            padding: 0 0.2rem;
                        }
                        &__flag {
                            align-self: flex-start;
                            text-align: left;
                            order: 2;
                            &__athletes {
                                padding: 0 1rem;
                            }
                            &__org {
                                color: $color-medalitem-event-medal-noc;
                                font-weight: 600;
                                margin-left: 4px;
                            }
                        }
                        &__name {
                            order: 1;
                            text-align: left;
                            justify-self: flex-start;
                            &__text {
                                width: 100%;
                                color: $color-medalitem-event-medal-athlete;
                                line-height: initial;
                                text-align: left;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
