.search-medals {
    .body-section-container__title {
        margin: 8px 0 0;
        line-height: inherit;
    }
}

/*  fila MENU de disciplinas */
.medal-disciplines {
    width: 100%;
    padding: 8px 0;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
        &__disc {
            &__container {
                background: $color-medal-disciplines-list-disc-container-bg;
                padding: 3px;
                margin: 0 2px;
                cursor: pointer;
                @include display-flex();
                &:hover {
                    background: $color-medal-disciplines-list-disc-container-hover-bg;
                }
                &__img {
                    height: 50px;
                }
            }
        }
    }
}
