<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        .body-section-container_results__disc.body-section-container_results__disc_ath.fill
            .fill
                current-last(
                    v-if='unitInfo.IsLive'
                    :competitors='competitors', :periods='periods',
                    :show-diff='false'
                    :current='current', :last='last'
                    )
                    template(#split='{split}')
                        span.medal-section-container__list__body__splits__values__list__split__diff
                            | {{ split.Result }}
                        

                score-ath(
                    :competitors='competitors', :periods='periods',
                    :type='unitInfo ? unitInfo.Type : "T"',
                    :show-diff='false'
                )
                    template(#split='{split}')
                        span.medal-section-container__list__body__splits__values__list__split__diff
                            | {{ split.Result }}
                        
                
                //-officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreAth, currentLast }
})
/* eslint-enable */
export default class WSKResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    get isJump() {
        return this.$route.params.rsc.indexOf('.JUMP--', 1) == 1;
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
