@use '@theme/styles/_theme/_background' as background;
.entries-header {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    @include background.overlay-full-gradient;
    .label {
        width: fit-content;
        color: $white;
        font-size: 2rem;
        img {
            width: 100%;
        }
    }
    @media (max-width: $breakpoint-medium) {
        height: 150px;
    }
}
