<template lang="pug">
BEventCard(:unit='unit', :disc='"FSL"', :show-split-winner='false', :show-splits='true', :bio='bio',  resultType='h2h')
//- h2h(v-if='unit', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
//-     template(#unit-place)
//-         span {{ unit.VenueDesc }} - {{ unit.LocDesc }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import h2h from '@/components/DisciplinesMatchCentre/FBL/H2HFootball.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

@Component({
    props: ['unit', 'bio'],
    components: { h2h, BEventCard }
})
export default class FBLSchUnit extends Vue {}
</script>
