<template lang="pug">
    ath(v-if='unit', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath }
})
/* eslint-enable */
export default class OWSSchUnit extends Vue {}
</script>
