<template lang="pug">
.discipline-results
    template(v-if='results')
        template(v-if='results.Results.Records && results.Results.Records.length > 0')
            BMatchSectionTitle.sticky
                span {{$t('disciplines.records')}}
            records(:records='results.Results.Records')

        //-
        template(v-if='hasPeriods && unitInfo.Status === "RUNNING"')
            BMatchSectionTitle.sticky
                span {{$t('disciplines.current')}}
            curr-period(:periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
            //- Current split: 1

        BMatchSectionTitle.sticky
            span {{$t('disciplines.results')}}
            //-pre {{ results }}
        score-ath(
            :competitors='competitors',
            :periods='periods',
            :current-period='results.Results.CurrentPeriod',
            :type='unitInfo ? unitInfo.Type : "T"',
            :show-accum='true')
        //-statistic(v-if='stats', :stats='unitStats')
        //-officials(v-if='hasOfficials', :list-officials='officials')
    template(v-else)
        h3 {{$t('disciplines.no-results')}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currPeriod from '@/components/DisciplinesMatchCentre/_commons/results/ATHCurrentPeriod.vue';
import records from '@/components/DisciplinesMatchCentre/_commons/Records.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        currPeriod,
        officials,
        scoreAth,
        records,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods
    }
})
/* eslint-enable */
export default class ATHResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 0;
    }
}
</style>
