<template lang="pug"> 
    mixin detailSplits()
        .h2h-result__competitor__detail-results__split(v-if='!displayPeriods || displayPeriods[indexSH]')
            result(v-if='showWinner', type='p', :res='splitH.Result', :clas="splitH.RkPo == 1 ? 'winner':'' ")
            result(v-else, type='p', :res='splitH.Result')


    .h2h-result
        .h2h-result__competitor(:class="{ 'winner1' : Match.resHome > Match.resAway} ")
            .h2h-result__competitor__info
                .h2h-result__competitor__info__flag
                    img(:src='flag(HomeFlag)')
                    span {{ HomeFlag }}
                
                .h2h-result__competitor__info__name
                    span(v-if='Match.Sport') {{ Match.Sport.HomeFencerTVName }}

            .h2h-result__competitor__detail-results
                    slot(name='total', :competitor='Match')
                        .h2h-result__competitor__detail-results__total-rs-fen(v-if='Match.HomeIRM!="OK" && Match.AwayIRM!="OK"')
                            result.res(v-if='Match.ResHome', type='p', :res='Match.ResHome')
                            result.res(v-if='Match.ResAway', type='p', :res='Match.TotHome')
        
        .h2h-result__competitor.splits-title
            .h2h-result__competitor__info
            .h2h-result__competitor__detail-results
                .h2h-result__splits-title
                    span {{ Relay }}
                .h2h-result__splits-title
                    span Total

        .h2h-result__competitor(:class="{ 'winner1' : Match.resAway > Match.resHome} ")
            .h2h-result__competitor__detail-results.hidden-sm
                        slot(name='total', :competitor='Match')
                            .h2h-result__competitor__detail-results__total-rs-fen(v-if='Match.HomeIRM!="OK" && Match.AwayIRM!="OK"')
                                result.res(v-if='Match.ResAway', type='p', :res='Match.ResAway')
                                result.res(v-if='Match.ResAway', type='p', :res='Match.TotAway')
            .h2h-result__competitor__info

                .h2h-result__competitor__info__flag
                    img(:src='flag(AwayFlag)')
                    span {{ AwayFlag }}

                .h2h-result__competitor__info__name
                    span(v-if='Match.Sport') {{ Match.Sport.AwayFencerTVName }}
            
            .h2h-result__competitor__detail-results.visible-sm__flex
                    slot(name='total', :competitor='Match')
                        .h2h-result__competitor__detail-results__total-rs-fen(v-if='Match.HomeIRM!="OK" && Match.AwayIRM!="OK"')
                            result.res(v-if='Match.ResAway', type='p', :res='Match.ResAway')
                            result.res(v-if='Match.ResAway', type='p', :res='Match.TotAway')
                        
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import services from '@/settings/services';
import Images from '@/mixins/images';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';

/* eslint-disable */
@Component({
    props: {
        competitors: { type: Object },
        periods: { type: Array },
        showSplits: { type: Boolean, default: true },
        showWinner: { type: Boolean, default: true },
        displayPeriods: { type: Array },
        current: { type: Number, default: 0 },
        homeflag: { type: String },
        awayflag: { type: String },
        relay: { type: String },
        type: { type: String, default: 'A' }
    },
    components: { Result }
})
/* eslint-enable */
export default class H2HPeriodNew extends mixins(Images) {
    get Match(): any {
        return this.$props.competitors;
    }

    get HomeFlag(): any {
        return this.$props.homeflag;
    }

    get AwayFlag(): any {
        return this.$props.awayflag;
    }

    get Relay(): any {
        return this.$props.relay;
    }

    get isTeam() {
        return this.$props.type === 'T' || this.$props.type === 'A';
    }
}
</script>
