<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h
                scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                .replay(v-for='competitor,index in results.Results.Periods')
                    period-resp.schedule-days__subunit__match(:competitors='competitor', :type='unitInfo ? unitInfo.Type : "T"', :homeflag='competitors[0].Org', :awayflag='competitors[1].Org', :relay='results.Results.Periods[index].Desc')
                //-statistic(v-if='stats', :stats='unitStats')
                //-officials(v-if='hasOfficials', :list-officials='officials')
                period-stats(
                    v-if='results && results.Stats.showStats && results.Stats.hasStats',
                    :competitors='competitors',
                    :match-duration='results.Results.Duration',
                    :desc-stats='results.Stats.colStats.teams')

        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath
                current-last(
                    v-if='unitInfo.IsLive'
                    :competitors='competitors', :show-diff='false',
                    :current='current', :last='last'
                    )
                score-ath(
                    :competitors='competitors', :periods='periods',
                    :type='unitInfo ? unitInfo.Type : "T"',
                    :show-diff='false'
                    )
        
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/FEN/H2HFencingPeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/FEN/H2HFencingPeriod.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period, periodResp, scoreAth, currentLast, periodStats }
})
/* eslint-enable */
export default class FENResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
