<template lang="pug">
    BEventCard(:unit='unit', :disc='"VBV"', resultType='h2h',  :show-splits='true', :show-split-winner='false', :bio='bio', :court='true')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { BEventCard }
})
/* eslint-enable */
export default class FENSchUnit extends Vue {}
</script>
