@mixin body-section-container-GRID_CARDS($min) {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
    grid-gap: 0.5rem;
    align-content: center;
    justify-items: stretch;
    margin: 0;
    padding: 2rem 1rem;
}
