@use "@theme/styles/_theme/_background" as background;
.leftnav {
    bottom: 0;
    height: 100%;
    @include display-flex();
    position: relative;
    z-index: 9;
    &__toggle-button {
        display: block;
        z-index: 99999;
        &__button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: block;
            height: 36px;
            margin-right: 10.68px;
            outline: none;
            padding: 0;
            width: 28px;
            @include border-radius(49%);
        }
        &__bornan-logo,
        &__bornan-logo-alt {
            img {
                height: $navcontainer-heigth - 10;
                width: auto;
            }
        }
        &__bornan-logo {
            display: none;
        }
    }
    &__container {
        height: 100%;
        min-height: 100%;
        width: auto;
        background: $color-leftnav-container-menu-bg;
        @include background.overlay-full-tiles;
        &.main-menu {
            z-index: -9;
            .leftnav__container__menu {
                &_main {
                    @include transform(translateX(0));
                }
                &_nav-button .fas {
                    @include transform(rotateY(180deg));
                }
            }
        }
        &.sub-menu {
            .leftnav__container__menu {
                &_main {
                    color: inherit;
                    // @include transform(translateX(-56px));
                }
                &_sub {
                    // @include transform(translateX(8px));
                    opacity: 1;
                }
            }
        }

        &__menu {
            width: 0;
            height: 100%;
            transition: width 0.5s;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            overflow-y: auto;
            overflow-x: hidden;

            &_nav-button {
                background-color: $color-leftnav-container-menu-navbutton-bg;
                border: none;
                border-bottom: 2px solid $color-leftnav-container-menu-navbutton-border;
                color: $color-leftnav-container-menu-navbutton;
                cursor: pointer;
                font-size: 13px;
                font-weight: 600;
                position: relative;
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                transition: all 0.5s;
                opacity: 1;
                outline: none;
                padding: 7px 5px 8px;
                width: 100%;
                .fas {
                    font-size: 0.9em;
                    transition: all 0.5s;
                }
                &.button-hidden {
                    border: none;
                    height: 0;
                    opacity: 0;
                    padding: 0;
                }
            }
            &_main,
            &_sub {
                transition: all 0.5s;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            &_main {
                opacity: 1;
                @include flex(1);
            }
            &_sub {
                padding-left: 9px;
                text-align: left;
                @include flex(1);
                top: 49px;
                opacity: 0;
                z-index: 0;
            }
            &__list {
                @include display-flex();
                @include align-items(center);
                line-height: 3em;
                margin: 0;
                padding: 0 12px;
                white-space: pre;
                &__disc {
                    color: $white;
                    text-decoration: none;
                    &.router-link-active {
                        color: $color-leftnav-container-disc-active;
                    }
                    &:hover,
                    &:active {
                        color: $color-leftnav-container-disc-hover;
                    }
                    .far,
                    .fas,
                    .fa {
                        min-width: 29px;
                    }
                    &__desc {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-left: 7px;
                        opacity: 0;
                        transition: transform 0.5s;
                    }
                }
            }
            &__list-submenu {
                @include display-flex();
                @include align-items(center);
                line-height: 3em;
                margin: 0;
                padding: 0 12px;
                white-space: pre;
                &__nav {
                    color: $color-leftnav-link;
                    position: relative;
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover,
                    &:active {
                        color: $color-leftnav-link-hover;
                    }
                    .far,
                    .fas,
                    .fa,
                    .fab {
                        min-width: 29px;
                    }
                    .fa-calendar-alt {
                        font-size: 1.2em;
                    }
                    .fa-list-alt {
                        font-weight: 300;
                        font-size: 1.15em;
                    }
                    .fa-elementor {
                        font-size: 1.2em;
                    }
                    .fa-poll-h {
                        font-size: 1.25em;
                    }
                    &.router-link-active {
                        color: $color-leftnav-link-active;
                    }
                    &__text {
                        font-size: 15px;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-left: 7px;
                    }
                }
            }
            &__logo {
                padding-bottom: 1em;
                width: 100%;
                &__link {
                    &__img {
                        width: 50%;
                        &_b {
                            max-width: 100px;
                            margin: 0 auto;
                        }
                    }
                    &__copyright {
                        color: $white;
                        font-size: 0.8em;
                        font-weight: 600;
                        margin-top: 3px;
                    }
                }
                &__copy-version {
                    &__copyright {
                        color: $white;
                        font-size: 14px;
                        font-weight: 600;
                        @include animation(shownFontSmall 0.8s);
                    }
                    .leftnav__container__menu__logo__copy-version__bornan {
                        color: $gray5;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        @include animation(shownFontNormal 0.8s);
                    }
                    &__version {
                        font-size: 12px;
                        font-weight: 300;
                        @include animation(shownFontSmall 0.8s);
                        p {
                            color: $white;
                        }
                    }
                    p {
                        color: $white;
                        margin-bottom: 3px;
                    }
                }
            }
            &.nav_medals {
                .leftnav__container__menu__list-submenu__nav {
                    .fa-sort-numeric-down {
                        font-size: 1.2em;
                        text-align: center;
                    }
                    .fa-search {
                        font-size: 1.1em;
                        text-align: center;
                        + .fa-medal {
                            left: -4px;
                            top: 21px;
                        }
                    }
                    .fa-medal {
                        font-size: 0.7em;
                        left: -6px;
                        position: absolute;
                        top: 18px;
                    }
                }
            }
            &.nav_disc {
                .leftnav__container__menu_nav-button {
                    min-height: 40px;
                }
            }
        }
        &__toggle {
            background: rgba(255, 255, 255, 0.3);
            border: none;
            color: var(--secundary-color);
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            left: auto;
            line-height: 23px;
            outline: none;
            padding: 0px;
            position: absolute;
            right: -27px;
            top: 0;
            text-align: center;
            vertical-align: top;
            width: 27px;
            z-index: 2;
            i.fas {
                font-size: 15px;
                margin-left: 7px;
                margin-top: 5px;
                transition: all 0.5s;
            }
        }
    }
    &.closedMenu {
        .leftnav__container {
            width: 0;
        }
    }
    &.openedMenu {
        .leftnav__container {
            width: auto;
            &__toggle {
                .fas {
                    @include transform(rotateY(180deg));
                }
            }
            &__menu {
                width: 250px;
                z-index: 11;
                &__list__disc__desc {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .leftnav {
        &__toggle-button {
            &__bornan-logo {
                display: block;
            }
            &__bornan-logo-alt {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .leftnav {
        bottom: auto;
        position: relative;
        top: auto;
        &__toggle-button {
            left: 14px;
        }
        &__container__menu {
            width: 56px;
        }
        &.closedMenu {
            .leftnav__container {
                width: auto;
            }
        }
    }
}
