// @use "@theme/styles/_themes/gcc2022/_background" as background;
@use "@theme/styles/_theme/_background" as background;

$navbar-initial-padding: 6px;
$navbar-final-height: calc($navcontainer-heigth - $navbar-initial-padding + var(--ios-safe-area-top));

.nav-container {
    box-sizing: border-box;
    background-color: $color-primary;
    display: grid;
    grid-template-columns: 56px minmax(calc(100% - 106px), 1fr) 50px; // como maximo el vieport - los dos menus
    grid-template-rows: auto;
    padding: 0;
    position: relative;
    height: $navbar-final-height;
    padding-top: max($navbar-initial-padding, var(--ios-safe-area-top));
    @include background.overlay-full-tiles;
    .toggle-button-left {
        margin-top: 0.5rem;
        width: 100%;
        &:hover {
            button {
                .burger-line {
                    background: $color-secondary;
                }
            }
        }
        button {
            height: 28px;
            border: none;
            outline: none;
            background: transparent;
            color: $white;
            cursor: pointer;

            .burger-line + .burger-line {
                margin-top: 7px;
            }
            .burger-line {
                width: 24px;
                height: 2px;
                background: $white;
                transition: all 0.5s;
                display: block;
                margin: 0;
                opacity: 1;
                padding: 0;
            }
            &.openedMenu {
                .burger-line {
                    &.top {
                        transform: rotate(-225deg);
                        margin-top: 0;
                    }
                    &.middle {
                        opacity: 0;
                        margin-top: -2px;
                    }
                    &.bottom {
                        transform: rotate(225deg);
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 40px 66px; // 40px: logo bornan , 66px: caben 2 iconos
        grid-template-rows: auto;
        justify-items: flex-start;
        align-content: flex-start;
        padding-top: 0.5rem;
        .logo {
            align-self: flex-start;
            padding-left: 1.2rem;
            height: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            img {
                width: 100%;
                height: 100%;
            }
            @media (max-width: $breakpoint-small) {
                padding-left: 0;
            }
        }
        .logo-bornan {
            height: 1.8rem;
        }
        .extras {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .datetime {
                button {
                    color: $white;
                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
        @media (max-width: $breakpoint-nav-extras) {
            display: block; /* le quitas el grid en small, solo tiene el logo */
            .logo {
                width: 100%;
                align-self: center;
                height: 1.5rem;
                a {
                    width: 100%;
                }
            }
            .logo-bornan,
            .extras {
                display: none;
            }
        }
    }
    .toggle-button-right {
        margin-top: 0.5rem;
        button {
            border: none;
            outline: none;
            background: transparent;
            color: $white;
            cursor: pointer;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    .toggle-menu-right-dots {
        margin-top: -0.5rem;
    }
}
