// @use "@theme/styles/_themes/gcc2022/_background" as background;
@use "@theme/styles/_theme/_background" as background;
.discnav {
    background-color: transparent;
    height: 100%;
    opacity: 1;
    position: relative;
    right: 0;
    @include transition(all 0.5s);
    text-align: right;
    top: 0;
    width: 0;
    z-index: 8;
    @include background.overlay-full-tiles;
    &.openedMenu {
        width: 220px;
        right: calc(220px - 50px); //Su ancho nuevo, menos el que le asigna el GRID + el tamaño de la scrollbar
        .discnav__container {
            &__toggle {
                i.fas {
                    @include transform(rotateY(180deg));
                }
            }
            &__menu__list__disc__desc {
                opacity: 1;
            }
        }
    }
    &.closedMenu {
        .discnav__container__menu__list__disc__desc {
            opacity: 0;
        }
    }
    &__container {
        background: $color-discnav-container-menu-bg;
        height: 100%;
        /* min-height: 100%;
        position: relative; */
        overflow-x: hidden;
        overflow-y: auto;
        &__toggle {
            background-color: transparent;
            border: none;
            //color: $white;
            cursor: pointer;
            display: inline-block;
            font-size: 17px;
            right: 8px;
            line-height: 31px;
            outline: none;
            padding: 0px;
            top: -37px;
            text-align: center;
            vertical-align: top;
            width: 47px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -4px;
                width: 1px;
                top: 0px;
                height: 29px;
                background-color: $opgray;
            }
            i.fas {
                font-size: 15px;
                margin-left: 7px;
                margin-top: 5px;
                @include transition(all 0.5s);
            }
        }

        &__menu {
            color: $color-discnav-container-menu;
            display: block;
            /* height: inherit; */
            line-height: 48px;
            margin: 0 0 0 auto;
            /* overflow-y: auto; */
            /* overflow-x: hidden; */
            padding: 0px 3px 5px 3px;
            position: relative;
            min-height: 100%;
            width: 100%;
            &__list {
                @include display-flex();
                list-style: none;
                &__disc {
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    color: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //
                    outline: none;
                    padding: 0;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;
                    &.router-link-active {
                        color: $color-discnav-container-menu-list-disc-routerlinkactive;
                    }
                    &:hover,
                    &:active {
                        color: $color-discnav-container-menu-list-disc-hoveractive;
                    }
                    &.live::before {
                        background-color: $lightLive;
                        content: '';
                        display: block;
                        height: 8px;
                        @include border-radius(50%);
                        @include animation(parpadeo 1s infinite);
                        left: -7px;
                        position: absolute;
                        top: 21px;
                        width: 8px;
                    }
                    &.today {
                        background-color: $color-discnav-container-menu-list-today-bg;
                        content: '';
                        display: block;
                        height: 38px;
                        @include border-radius(0 100% 100% 0);
                        left: -16px;
                        position: absolute;
                        top: 5px;
                        width: 12px;
                    }

                    &__picto {
                        height: 42px;
                        @include border-radius(50%);
                        background-color: $color-discnav-container-menu-list-picto-bg;
                        @include display-flex();
                        max-width: 42px;
                        border: solid 1px $color-discnav-container-menu-list-picto-border;
                        transition: 0.4s;
                        &:hover,
                        &:active {
                            transition: 0.4s;
                            transform: scale(1.1);
                            background-color: $color-discnav-container-menu-list-picto-bg-hover;
                            border: solid 1px $color-discnav-container-menu-list-picto-border-hover;
                        }
                    }
                    &__desc {
                        font-size: 16px;
                        font-weight: 600;
                        margin-left: 10px;
                        text-transform: uppercase;
                        @include transition(0.2s);
                    }
                }
                /* &:nth-child(1),&:nth-child(4),&:nth-child(6), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19), &:nth-child(22), &:nth-child(25), &:nth-child(26), &:nth-child(29){
            @include display-flex();
          } */
            }
        }
    }
}
@media (min-width: 768px) {
    .discnav {
        width: 100%; // SIN ESTO SE ESCONDE TOTALMENTE
    }
}
