<template lang="pug">
section.body-section-container_start-list(v-if='sortedCompetitors.length > 0')
    //- h4 ___ATH. lista simple de atletas
    ul.medal-section-container
        li.medal-section-container__list
            .medal-section-container__list__body.d-flex.justify-content-center
                .medal-section-container__list__body__elipse.d-flex.justify-content-center
                    p #
                .medal-section-container__list__body__noc.d-flex
                    p {{$t('startlist.noc')}}
                .medal-section-container__list__body__bib.bib.d-flex(v-if='showBib')
                    p {{$t('startlist.bib')}}
                .medal-section-container__list__body__name.title
                    p {{$t('startlist.name')}}
                .medal-section-container__list__body__bib.bib.visible-sm__flex(v-if='!showBib')
                    p {{$t('startlist.bib')}}

            li.medal-section-container__list(v-for='(competitor, index) in sortedCompetitors', :key='competitor.Reg')
                .medal-section-container__list__body.d-flex.justify-content-center
                    .medal-section-container__list__body__elipse.d-flex.justify-content-center
                        p {{ competitor.StartOrder }}
                    .medal-section-container__list__body__noc.d-flex
                        img(:src='flag(competitor.Org)')
                        span {{ competitor.Org }}
                    .medal-section-container__list__body__bib.visible-sm__flex(v-if='competitor.Bib')
                        p {{ competitor.Bib }}
                    .medal-section-container__list__body__bib.hidden-sm__flex(v-if='competitor.Bib')
                        p {{ competitor.Bib }}
                    .medal-section-container__list__body__name.d-flex(@click='goToBio(competitor)')
                        .medal-section-container__list__body__name__avatar(
                            v-if='showPhoto && (!competitor.Members || competitor.Members.length == 0)'
                        )
                            img(:src='photo(competitor.Reg)', @error='errPhotoSm')
                        p {{ competitor.Name }}

                    .medal-section-container__list__body__members(
                        v-if='competitor.Members && competitor.Members.length > 0'
                    )
                        .medal-section-container__list__body__members__descs
                            ul.medal-section-container__list__body__splits__descs__list
                                li.medal-section-container__list__body__splits__descs__list__member(
                                    v-for='(member, idxM) in competitor.Members',
                                    :key='idxM'
                                )
                                    .ath_list(@click='goToBio(member)')
                                        .bib(v-if='member.Bib') {{ member.Bib }}
                                        .bib(v-else)
                                        .avatar(v-if='showPhoto')
                                            img(:src='photo(member.Reg)', @error='errPhotoSm')
                                        .name {{ member.Name }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';

@Component({
    props: ['listCompetitor', 'showPhoto'],
    mixins: [Images, Dates]
})
export default class ATH extends Vue {
    sortedCompetitors: any[] = [];
    showBib = false;

    setData(value: any[]) {
        this.sortedCompetitors = value.slice();
        this.sortedCompetitors.sort((a: any, b: any) => a.StartSortOrder - b.StartSortOrder);
        //
        this.showBib = false;
        for (let i = 0; !this.showBib && i < this.sortedCompetitors.length; i++) {
            const bib = this.sortedCompetitors[i].Bib;
            if (typeof bib == 'string' && bib != '') this.showBib = true;
        }
    }

    @Watch('listCompetitor')
    onChangeCompetitors(value: any[]) {
        this.setData(value);
    }

    goToBio(competitor: any) {
        if (competitor.Reg)
            this.$router.push({ name: 'athletesbio', params: { disc: this.$route.params.disc, reg: competitor.Reg } });
    }

    created() {
        this.setData(this.$props.listCompetitor);
    }
}
</script>

startSortOrder
