<template lang="pug">
section.body-section-container_start-list
    ul.body-section-container_start-list__list(v-if='hasComps')
        li.body-section-container_start-list__list__competitor.col-12.col-lg-6(
            v-for='(competitor, indexC) in listCompetitor',
            :key='indexC'
        )
            ul.body-section-container_start-list__list__competitor__list
                li.body-section-container_start-list__list__competitor__list__member.col-12.visible-md__flex
                    .body-section-container_start-list__list__competitor__list__member__container
                        .body-section-container_start-list__list__competitor__list__member__container__avatar
                            img(:src='photo(competitor.Reg)', @error='errPhoto')
                    .body-section-container_start-list__list__competitor__list__member__info.pointer(
                        :data-bib='competitor.Bib',
                        @click='goToBio(competitor)'
                    )
                        .body-section-container_start-list__list__competitor__list__member__info__country
                            img.body-section-container_start-list__list__competitor__list__member__info__country__flag(
                                :src='flag(competitor.Org)'
                            )
                            p.body-section-container_start-list__list__competitor__list__member__info__country__org {{ competitor.Org }}
                        p.body-section-container_start-list__list__competitor__list__member__info__name(
                            v-if='competitor.Reg'
                        ) {{ competitor.Name }}
                        p.body-section-container_start-list__list__competitor__list__member__info__name(v-else) {{ $t("res.brackets.upcoming") }}

                li.body-section-container_start-list__list__competitor__list__member.col-12.hidden-md__flex
                    member(:member='competitor', :bib='competitor.Bib')

            template(v-if='competitor.TeamOfficials.length > 0 && !hiddenOfficials')
                p.body-section-container_start-list__list__competitor__list__title-official {{$t('startlist.team-officials')}}
                ul.body-section-container_start-list__list__competitor__list
                    li.body-section-container_start-list__list__competitor__list__member.col-12(
                        v-for='official,indexO in competitor.TeamOfficials',
                        :key='indexO'
                    )
                        member(:member='official', :show-pos='showPos', :is-team='true')
    p(v-else)
        | {{ $t("sections.no-results") }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import h2hHasComps from '@/mixins/h2hHasComps';
//
import Member from './H2HMember.vue';

@Component({
    props: ['listCompetitor', 'hiddenOfficials'],
    mixins: [Images, Dates, h2hHasComps],
    components: {
        Member
    }
})
export default class H2HIndividual extends Vue {
    goToBio(partic: any) {
        if (partic.Reg)
            this.$router.push({ name: 'athletesbio', params: { disc: this.$route.params.disc, reg: partic.Reg } });
    }
}
</script>
