<style lang="scss">
.team-member {
    .team {
        width: 100%;
        background: $color-surface;
        color: $color-on-surface;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .country {
            .flag {
                width: 30px;
            }
        }
        .name {
            padding: 0 0.6rem;
        }
    }
    .player {
        margin-top: 6px;
        padding: 1rem;
        background: $color-surface;
        color: $color-on-surface;
        box-shadow: $card-boxshadow-small;
        @media (max-width: 550px) {
            padding: 0.5rem 0.4rem;
        }

        .avatar {
            margin: 0 0.5rem;
            img {
                border-radius: 50%;
                width: 36px;
            }
        }
        .name {
            font-size: 1rem;
            color: $color-primary;
            text-align: left;
        }
        .position {
            font-size: 0.8rem;
            color: $color-primary-25;
        }
    }
}
</style>

<template lang="pug">
.team-member(v-if='member', :data-bib='bib', @click='goToBio')
    .team(v-if='isTeam && !showPos')
        .country 
            img.flag(:src='flag(member.Org)')
            p {{ member.Org }}
        .name(v-if='member.Reg') {{ member.Name }}
        .name(v-else) {{ $t("res.brackets.upcoming") }}
    .player(v-else)
        //- .country 
        //-     img.flag(:src='flag(member.Org)')
        //-     p {{ member.Org }}
        .avatar
            img(:src='photo(member.Reg)', @error='errPhoto')
        .name(v-if='member.Reg') {{ member.Name }}
        .name(v-else) {{ $t("res.brackets.upcoming") }}
        .position(v-if='member.PosDesc !== "" && showPos') {{ member.PosDesc }}
        .position(v-if='member.FuncDesc !== "" && showPos') {{ member.FuncDesc }}

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';

@Component({
    props: ['member', 'bib', 'showPos', 'isTeam'],
    mixins: [Images, Dates]
})
export default class H2HMember extends Vue {
    goToBio() {
        if (this.$props.member.Reg)
            this.$router.push({
                name: 'athletesbio',
                params: { disc: this.$route.params.disc, reg: this.$props.member.Reg }
            });
    }
}
</script>
