<template lang="pug">
.body-section-container_start-list__list__competitor__list__member__info.pointer(
    v-if='member',
    :data-bib='bib',
    @click='goToBio()'
    style='"cursor:pointer;"'
)
    .fill-width.t-skewX
        .body-section-container_start-list__list__competitor__list__member__info__country
            img.body-section-container_start-list__list__competitor__list__member__info__country__flag(
                :src='flag(member.Org)'
            )
            p.body-section-container_start-list__list__competitor__list__member__info__country__org &nbsp;{{ member.Org }}

        p.body-section-container_start-list__list__competitor__list__member__info__name(v-if='member.Reg') {{ member.Name }}
        p.body-section-container_start-list__list__competitor__list__member__info__name(v-else) {{ $t("res.brackets.upcoming") }}

        p.body-section-container_start-list__list__competitor__list__member__info__name.pos(
            v-if='member.PosDesc !== "" && showPos'
        ) {{ member.PosDesc }}
        p.body-section-container_start-list__list__competitor__list__member__info__name.pos(
            v-if='member.FuncDesc !== "" && showPos'
        ) {{ member.FuncDesc }}
    .body-section-container_start-list__list__competitor__list__member__info__avatar(v-if='!isTeam')
        img(:src='photo(member.Reg)', @error='errPhoto')
        //- jugador muestra la foto
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
//

@Component({
    props: ['member', 'bib', 'showPos', 'isTeam'],
    mixins: [Images, Dates]
})
export default class H2HMember extends Vue {
    goToBio() {
        if (this.$props.member.Reg)
            this.$router.push({
                name: 'athletesbio',
                params: { disc: this.$route.params.disc, reg: this.$props.member.Reg }
            });
    }
}
</script>
