<template lang="pug">
section.start-list
    .teams-members
        .team-left
            template(v-if='listCompetitor[0].TeamOfficials.length > 0 && !hiddenOfficials')
                BPlayerLabel.startlist(
                    v-for='(member, i) in listCompetitor[0].TeamOfficials',
                    :key='`official_left_${i}`',
                    :reg='member.Reg',
                    :name='member.Name',
                    :position='member.FuncDesc'
                )

            template(v-else)
                span
        .team-right
            template(v-if='listCompetitor[1].TeamOfficials.length > 0 && !hiddenOfficials')
                BPlayerLabel.startlist(
                    v-for='(member, i) in listCompetitor[1].TeamOfficials',
                    :key='`official_right_${i}`',
                    :reg='member.Reg',
                    :name='member.Name',
                    :position='member.FuncDesc'
                )

            template(v-else)
                span 


</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import h2hHasComps from '@/mixins/h2hHasComps';
//
import H2HMember from './H2HMember_new.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    components: {
        H2HMember,
        scoreh,
        BMatchCompetitors,
        BMatchNocs,
        BPlayerLabel
    }
})
export default class H2HTeam extends Mixins(Images, Dates, h2hHasComps) {
    @Prop()
    declare listCompetitor: any;
    @Prop()
    showPhoto: any;
    @Prop()
    showPos: any;
    @Prop()
    hiddenOfficials: any;
}
</script>
