<style lang="scss">
.start-list {
    .teams {
        padding: 1rem;
        background: $color-surface;
        box-shadow: $card-boxshadow;
        .match-vs {
            display: grid;
            grid-template-columns: 1fr 50px 1fr;
            grid-template-rows: auto;
            align-items: center; /* centra vertical */
            justify-content: center;
            .team {
                /* duplicado con el de Member, mandale la clase left o right al componente y elimina este */
                width: 100%;
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-on-surface;
            }
            .vs {
                font-size: 2rem;
                font-weight: 900;
                color: $color-on-surface;
            }
            .right {
                .team-member {
                    .team {
                        justify-content: flex-end;
                        .country {
                            order: 2;
                        }
                        .name {
                            order: 1;
                        }
                    }
                }
            }
        }
    }
    .teams-members {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 2rem;
        .officials-title {
            margin: 1rem 0;
            font-size: 1.3rem;
        }
        @media (max-width: 550px) {
            grid-gap: 0.5rem;
        }
        .team-left {
            justify-content: flex-start;
            align-items: flex-start;
            .team-member {
                justify-self: flex-end;
                .player {
                    display: grid;
                    grid-template-columns: max-content 1fr max-content;
                    justify-content: flex-start;
                    align-items: center;
                    @media (max-width: 550px) {
                        grid-template-columns: max-content 1fr;
                        grid-template-rows: 2fr 1fr;
                    }
                }
            }
        }
        .team-right {
            justify-content: flex-end;
            align-items: flex-end;
            .team-member {
                justify-self: flex-start;
                .team {
                    .country {
                        order: 2;
                    }
                    .name {
                        order: 1;
                    }
                }
                .player {
                    display: grid;
                    grid-template-columns: max-content 1fr max-content;
                    justify-content: flex-end;
                    align-items: center;
                    .name {
                        order: 2;
                        text-align: right;
                    }
                    .position {
                        order: 1;
                    }
                    .avatar {
                        order: 3;
                    }
                    @media (max-width: 550px) {
                        grid-template-columns: 1fr max-content;
                        grid-template-rows: 2fr 1fr;
                        .name {
                            order: 1;
                            text-align: right;
                        }
                        .position {
                            order: 3;
                        }
                        .avatar {
                            order: 2;
                        }
                    }
                }
            }
        }
    }
}
</style>
<template lang="pug">
section.start-list(v-if='!hasComps')
    h3 {{ $t("sections.no-results") }}
section.start-list(v-else)
    .teams-members
        .team-left
            BPlayerLabel.startlist(
                v-for='(member, i) in listCompetitor[0].Members',
                :key='`player_left_${i}`',
                :reg='member.Reg',
                :name='member.Name',
                :position='member.PosDesc'
            )
        .team-right
            BPlayerLabel.startlist.mirror(
                v-for='(member, i) in listCompetitor[0].Members',
                :key='`player_right_${i}`',
                :reg='member.Reg',
                :name='member.Name',
                :position='member.PosDesc'
            )
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import h2hHasComps from '@/mixins/h2hHasComps';
//
import H2HMember from './H2HMember_new.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    components: {
        H2HMember,
        scoreh,
        BMatchCompetitors,
        BMatchNocs,
        BPlayerLabel
    }
})
export default class H2HTeam extends Mixins(Images, Dates, h2hHasComps) {
    @Prop()
    declare listCompetitor: any;
    @Prop()
    showPhoto: any;
    @Prop()
    showPos: any;
    @Prop()
    hiddenOfficials: any;
}
</script>
