<template lang="pug">
    mixin competitors()
        .body-section-container_results__list__competitor__list__member__info.competitor.pointer(@click='goToBio(competitor)')
            .body-section-container_results__list__competitor__list__member__info__country
                img.body-section-container_results__list__competitor__list__member__info__country__flag(:src=`flag(competitor.Org)`)
                p.body-section-container_results__list__competitor__list__member__info__country__org {{ competitor.Org }}

    .match-stats-by-player(v-if='competitor')
        template(v-if='showTeam')
            //-+competitors()
            .body-section-container_results__list__competitor__list__member__info
                .body-section-container_results__list__competitor__list__member__info__country
                    img.body-section-container_results__list__competitor__list__member__info__country__flag(:src='flag(competitor.Org)')
                    p.body-section-container_results__list__competitor__list__member__info__country__org {{ competitor.Org }}
                p.body-section-container_results__list__competitor__list__member__info__name {{ competitor.Name }}
        .table-responsive
            table.player-stats
                thead
                    tr.player-stats__header
                        th.fixed-col {{$t('stats.player')}}
                        th.stat-content(v-for='anStat,idx in listStats', :key='idx')
                            span.d-xl-none {{ anStat.abbr }}
                            span.d-none.d-xl-block {{ anStat.Desc }}
                tbody
                    tr.player-stats__member(v-for='aMember,idx in competitor.Members', :key='idx', v-if='!checkPosition || checkPosition(aMember, position)')
                        td.fixed-col.player-stats__player
                            router-link.player-stats__player__link(:to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: aMember.Reg } }')
                                
                                .player-stats__player__bib(v-if='showBib')
                                    | {{ aMember.Bib }}
                                .player-stats__player__avatar
                                    img(:src='photo(aMember.Reg)', @error='errPhoto')
                                .player-stats__player__name
                                    | {{ aMember.NameS }}
                                

                        td.stat-content(v-for='anStat,idxS in listStats', :key='idxS')
                            result(type='p', clas='m-0', :res='getStat(anStat, aMember.Stats)', v-if='aMember.Stats && !anStat.showResult')
                            result(type='p', clas='m-0', :res='aMember.Result', v-else-if='anStat.showResult && aMember.Result > 0')
                            result(type='p', clas='m-0', res='', v-else-if='anStat.showResult')
                    
                    tr.player-stats__total
                        td.fixed-col.player-stats__player.total
                            .player-stats__name {{$t('stats.total')}}
                            
                        td.stat-content.total(v-for='anStat,idxS in listStats', :key='idxS')
                            result(type='span', :res='getStat(anStat, competitor.Stats)', v-if='competitor.Stats && !anStat.showResult')
                            result(type='span', :res='competitor.Result', v-else-if='anStat.showResult && competitor.Result > 0')
                            result(type='span', res='-', v-else-if='anStat.showResult')

</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import Images from '@/mixins/images';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';

/* eslint-disable */
@Component({
    props: {
        competitor: { type: Object, default: null },
        listStats: { type: Array, default: () => [] },
        showTeam: { type: Boolean, default: true },
        showBib: { type: Boolean, default: true },
        checkPosition: { type: Function, default: undefined },
        position: { type: String, default: '*' }
    },
    components: { Result }
})
/* eslint-enable */
export default class H2HStatsByPlayer extends mixins(Images) {
    isGoalkeeper(member: any) {
        return member.Position == 'GK' || member.Sport.Goalkeeper == 'true';
    }

    getStat(item: any, data: any) {
        if (!data) return '';
        if (item.Multikey && item.Multikey.length > 0) {
            let stat = item.Layout;
            // console.log('SISISIS')
            let isEmpty = true;
            for (let i = 0; i < item.Multikey.length; i++) {
                let cad = '';
                cad = cad.concat('@', String(i + 1));
                // let valueStat = data;
                let statValue = data[item.Multikey[i]];
                if (statValue !== '') isEmpty = false;
                else statValue = '0';
                stat = stat.replace(cad, statValue);
                // console.log(item.Multikey[i], data[item.Multikey[i]] )
            }
            if (isEmpty) return '';
            else return stat;
        } else {
            return data[item.Key];
        }
    }
}
</script>
