<template lang="pug">
    mixin competitors(varName,isHome)
        if isHome
            .body-section-container_results__list__competitor__list__member__info.competitor.pointer(:data-bib=`${varName}.Bib`, @click='goToBio(competitors[0])')
                .body-section-container_results__list__competitor__list__member__info__country
                    img.body-section-container_results__list__competitor__list__member__info__country__flag(:src=`flag(${varName}.Org)`)
                    p.body-section-container_results__list__competitor__list__member__info__country__org {{ #{varName}.Org }}
        else
            .body-section-container_results__list__competitor__list__member__info.competitor.away.pointer(:data-bib=`${varName}.Bib` , @click='goToBio(competitors[1])')
                .body-section-container_results__list__competitor__list__member__info__country
                    p.body-section-container_results__list__competitor__list__member__info__country__org.away {{ #{varName}.Org }}
                    img.body-section-container_results__list__competitor__list__member__info__country__flag(:src=`flag(${varName}.Org)`)

    .match-stat
            
        .match-stat__content
            .match-stat__content__games(v-if='periods && periods.length>1')
                .match-stat__content__games__game(:class='{ active: selPeriod==100 }', @click='changeViewStat(100)') {{$t('stats.total')}}
                template(v-for='period,idx in periods')
                    .match-stat__content__games__game(
                        v-if='!displayPeriods || displayPeriods[idx]',
                        @click='changeViewStat(idx)', :class='{ active: selPeriod==idx }'
                        )
                        span {{ period.Desc }}

            .match-stat__content__time(v-if='duration')
                i.fa.fa-clock-o
                span.match-stat__content__time__label {{$t('stats.duration')}}:
                span.match-stat__content__time__value {{duration.substring(0,8)}}

            .match-stat__content__stats
                
                template(v-if='homeStat && awayStat')
                    ul.match-stat__content__stats__list(v-if='competitors.length==2')
                        li.match-stat__content__stats__list__element(v-for='item, idx in descStats', :key='idx')
                            .match-stat__content__stats__list__element_value
                                | {{homeStat[idx]}}
                            .match-stat__content__stats__list__element_desc
                                | {{item.Desc}}
                            .match-stat__content__stats__list__element_value
                                | {{awayStat[idx]}}
                template(v-else)
                    span -

</template>

<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import images from '@/mixins/images';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';

@Component({
    components: { BMatchNocs }
})
export default class StatsPeriod extends mixins(images) {
    @Prop()
    competitors!: any[];
    @Prop()
    periods!: any[];
    @Prop()
    displayPeriods!: boolean[];
    @Prop()
    descStats: any;
    @Prop({ type: Boolean, default: true })
    showTitle = true;
    @Prop({ type: String, default: '' })
    matchDuration!: string;
    @Prop({ type: String, default: '' })
    type!: string;

    duration = '';
    homeStat = {} as any;
    awayStat = {} as any;
    selPeriod = 100;

    @Watch('competitors')
    watchCompetitors() {
        this.changeViewStat(this.selPeriod);
    }

    changeViewStat(value: number) {
        if (this.competitors.length < 2) return;
        const home = this.competitors[0];
        const away = this.competitors[1];
        this.selPeriod = value;
        //Match Stat
        if (value === 100) {
            this.homeStat = this.buildStats(home.Stats);
            this.awayStat = this.buildStats(away.Stats);
            this.duration = this.matchDuration;
        }
        //Period Stat
        else {
            this.homeStat = this.buildStats(home.Splits[value].Stats);
            this.awayStat = this.buildStats(away.Splits[value].Stats);
            if (this.periods) this.duration = this.periods[value].Duration;
        }
    }
    buildStats(stats: any) {
        const val = [];
        if (this.descStats) {
            for (let i = 0; i < this.descStats.length; i++) {
                val.push(this.getStat(this.descStats[i], stats));
            }
            return val;
        } else {
            return false;
        }
    }

    getStat(item: any, data: any) {
        if (!data) return '-';
        if (item.Multikey && item.Multikey.length > 0) {
            let stat = item.Layout;
            let isEmpty = true;
            for (let i = 0; i < item.Multikey.length; i++) {
                const mask = '@' + (i + 1);
                let statValue = data[item.Multikey[i]];
                if (statValue !== '') isEmpty = false;
                else statValue = '0';
                stat = stat.replace(mask, statValue);
            }
            if (isEmpty) return '';
            else return stat;
        } else {
            const value = data[item.Key];
            if (!value) return '-';
            return value;
        }
    }
    goToBio(partic: any) {
        if (partic.Reg)
            this.$router.push({ name: 'athletesbio', params: { disc: this.$route.params.disc, reg: partic.Reg } });
    }
    mounted() {
        this.changeViewStat(100);
    }
}
</script>
