<template lang="pug">
    mixin competitors(varName,isHome)
        if isHome
            .body-section-container_results__list__competitor__list__member__info.competitor.pointer(@click='goToBio(competitors[0])')
                .body-section-container_results__list__competitor__list__member__info__country
                    img.body-section-container_results__list__competitor__list__member__info__country__flag(:src=`flag(${varName}.Org)`)
                    p.body-section-container_results__list__competitor__list__member__info__country__org {{ #{varName}.Org }}
        else
            .body-section-container_results__list__competitor__list__member__info.competitor.away.pointer(@click='goToBio(competitors[1])')
                .body-section-container_results__list__competitor__list__member__info__country
                    p.body-section-container_results__list__competitor__list__member__info__country__org.away {{ #{varName}.Org }}
                    img.body-section-container_results__list__competitor__list__member__info__country__flag(:src=`flag(${varName}.Org)`)
                

    .match-stat(:class="{ 'showingStat' : showStat }")
        p.match-stat__heading(v-if='showTitle') {{$t('stats.statistics')}}
        .match-stat__title(v-if='showButton')
            button.match-stat__title__text(@click='toggleShowStat()')
                i.fa.fa-chart-bar
                |  {{$t('stats.stats')}}
                i.fas.fa-angle-down
        .match-stat__content(v-if='showStat')
            .match-stat__content__time(v-if='duration')
                i.fa.fa-clock-o
                span.match-stat__content__time__label {{$t('stats.duration')}}:
                span.match-stat__content__time__value {{duration}}
            
            .match-stat__content__competitors(v-if='competitors.length==2')
                +competitors('competitors[0]', true)
                .match-stat__content__competitors__fill
                +competitors('competitors[1]', false)

            .match-stat__content__stats
                ul.match-stat__content__stats__list(v-if='competitors.length==2')
                    li.match-stat__content__stats__list__element(v-for='(item, idx) in descStats' :key='idx')
                        .match-stat__content__stats__list__element_value
                            | {{ getStat(item, competitors[0].Stats)}}
                        .match-stat__content__stats__list__element_desc
                            | {{item.Desc}}
                        .match-stat__content__stats__list__element_value
                            | {{ getStat(item, competitors[1].Stats)}}


</template>

<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import images from '@/mixins/images';
import { mixins } from 'vue-class-component';

@Component({
    //props: ['results'],
    //components: { titleUnit, officials, scoreh, period,  }
})
export default class MatchStats extends mixins(images) {
    @Prop() competitors: any;
    @Prop() descStats: any;
    @Prop() showButton = false;
    @Prop({ type: Boolean, default: true }) showTitle = true;

    showStat = true;
    duration = '';
    homeStat: any[] = [];
    awayStat: any[] = [];

    @Watch('competitors')
    watchCompetitors() {
        if (this.competitors.length < 2) return;
        const home = this.competitors[0];
        const away = this.competitors[1];
        this.homeStat = this.buildStats(home.Stats);
        this.awayStat = this.buildStats(away.Stats);
    }

    toggleShowStat() {
        this.showStat = !this.showStat;
    }
    goToBio(partic: any) {
        if (partic.Reg)
            this.$router.push({ name: 'athletesbio', params: { disc: this.$route.params.disc, reg: partic.Reg } });
    }

    buildStats(stats: any) {
        const val = [];
        for (let i = 0; i < this.descStats.length; i++) {
            const key = this.descStats[i].Key;
            let curr = stats ? stats[key] : undefined;
            if (!curr) curr = '-';
            val.push(curr);
        }
        return val;
    }
    getStat(item: any, data: any) {
        if (!data) return '';
        if (item.Multikey && item.Multikey.length > 0) {
            let stat = item.Layout;
            let isEmpty = true;
            for (let i = 0; i < item.Multikey.length; i++) {
                let cad = '';
                cad = cad.concat('@', String(i + 1));
                let statValue = data[item.Multikey[i]];
                if (statValue !== '') isEmpty = false;
                else statValue = '0';
                stat = stat.replace(cad, statValue);
            }
            if (isEmpty) return '';
            else return stat;
        } else {
            return data[item.Key];
        }
    }
    mounted() {
        this.watchCompetitors();
    }
}
</script>
