<template lang="pug">
.b-match-player-stats(v-if='competitors && competitors.length == 2')
    //- filters
    StatsSelector(v-if='listStats', :list-stats='listStats', @selection='selStat')
    //- Stats HOME
    StatsByPlayer(
        :competitor='competitors[0]',
        :list-stats='currentListStats',
        :show-team='showTeam',
        :show-bib='showBib',
        :check-position='checkPosition',
        :position='position'
    )
    //- Stats AWAY
    StatsByPlayer(
        :competitor='competitors[1]',
        :list-stats='currentListStats',
        :show-team='showTeam',
        :show-bib='showBib',
        :check-position='checkPosition',
        :position='position'
    )
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import Images from '@/mixins/images';
import StatsSelector from './StatsSelector.vue';
import StatsByPlayer from './H2HStatsByPlayer.vue';
//
import BSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

/* eslint-disable */
@Component({
    props: {
        competitors: { type: Array, default: () => [] },
        listStats: { type: Array, default: () => [] },
        showTeam: { type: Boolean, default: true },
        showBib: { type: Boolean, default: true },
        title: { type: String, default: '' },
        checkPosition: { type: Function, default: undefined }
    },
    components: { StatsSelector, StatsByPlayer, BSectionTitle }
})
/* eslint-enable */
export default class StatsMatchPlayers extends mixins(Images) {
    currentListStats: any | null = null;
    position = '*';
    selStat(index: number) {
        this.currentListStats = this.$props.listStats[index].Stats;
        this.position = this.$props.listStats[index].Position;
    }
}
</script>

<style scoped lang="scss">
.b-match-player-stats {
    width: 100%;
}

.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
