<template lang="pug">
    .match-stats-selector(v-if='listStats')
        .match-stats-selector__categories(:class='{ center: listStats.length==1 }')
            ul.match-stats-selector__categories__list(v-if='listStats.length>1')
                li.match-stats-selector__categories__elem(
                    v-for='stat,idx in listStats', role='tab',
                    v-show='(!showOnlyDesktop && !stat.onlyDesktop) || ( showOnlyDesktop && stat.onlyDesktop) || stat.allPlatforms '
                    :class='{ active: idx==selIndex }',
                    @click='onSelect(idx)'
                    )
                    | {{ stat.Desc }}
                    
            .d-xl-none.match-stats-selector__categories__button-show(@click='showLegend = !showLegend')
                span(v-if='showLegend') {{$t('stats.hide-stats')}}
                span(v-else) {{$t('stats.show-stats')}}
                i.fas.fa-info.ml-2

        .match-stats-selector__legends(v-if='showLegend')
            .match-stats-selector__legends__list
                .match-stats-selector__legends__list__item(v-for='st in legendList')
                    span.key {{ st.abbr }}:
                    | {{ st.Desc }}

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

/* eslint-disable */
@Component({
    props: {
        listStats: { type: Array, default: () => [] }
    }
})
/* eslint-enable */
export default class StatsMatchPlayers extends Vue {
    showLegend = false;
    selIndex = -1;
    showOnlyDesktop = false;
    lastWitdh = -1;

    onListchange(val: any[]) {
        let idx = val.findIndex(el => el.Default == true);
        if (idx == -1 && val.length > 0) idx = 0;
        if (idx >= 0) {
            let stat = this.$props.listStats[idx];
            if (
                (!this.showOnlyDesktop && !stat.onlyDesktop) ||
                (this.showOnlyDesktop && stat.onlyDesktop) ||
                stat.allPlatforms
            ) {
                // todo OK
            } else {
                // no vale este indica, no cuadra
                for (let n = 0; n < this.$props.listStats.length; n++) {
                    stat = this.$props.listStats[n];
                    if (
                        (!this.showOnlyDesktop && !stat.onlyDesktop) ||
                        (this.showOnlyDesktop && stat.onlyDesktop) ||
                        stat.allPlatforms
                    ) {
                        idx = n;
                        break;
                    }
                }
            }
        }
        this.selIndex = idx;
        this.$emit('selection', idx);
    }

    onSelect(idx: number) {
        this.selIndex = idx;
        this.$emit('selection', idx);
    }

    get legendList() {
        if (this.$props.listStats && this.$props.listStats[this.selIndex])
            return this.$props.listStats[this.selIndex].Stats;
        return [];
    }
    OnResize() {
        const w = window.innerWidth;
        if (w != this.lastWitdh) {
            this.showOnlyDesktop = w >= 1200;
            this.onListchange(this.$props.listStats);
            this.lastWitdh = w;
            // console.log('RESIZE')
        }
    }
    mounted() {
        window.addEventListener('resize', this.OnResize);
        this.OnResize();
    }
}
</script>
