.medal-section-container.current-last {
    margin-bottom: 30px;
    .medal-section-container__list__title {
        margin-top: 15px;
        padding: 5px 0px;
        font-size: 16px;
        font-weight: 600;
        color: $white2;
        background-color: $blueSolid;
        border-radius: 14px;
        i {
            margin-left: 10px;
            @include animation(shown 1s infinite);
        }
    }
    .medal-section-container__list__body {
        &__result-curr-last {
            @include justify-content(center);
            min-width: 65px;
            font-family: $font-results-numbers;
            font-size: 30px;
        }
    }
    .medal-section-container__list__body__competitor {
        @include display-flex();
        @include flex(1);
        @include align-items(center);
        padding: 3px 0px 3px 10px;
        &__info {
            margin-left: 10px;
            &__country {
                @include display-flex();
                img {
                    box-shadow: 2px 2px 3px $color-gray;
                    max-height: 21px;
                }
            }
            &__org {
                margin-left: 5px;
                font-weight: 700;
            }
        }
        &__container {
            background-color: $white2;
            @include display-flex();
            @include align-items(center);
            @include box-shadow(1px 1px 6px $gray5);
            @include border-radius(4px);
            min-height: 40px;
            position: relative;
            border: 2px solid $lightGreen1;
            overflow: hidden;
            @include flex-direction(column);
            @include flex-wrap(wrap);
            z-index: 0;
            &__avatar {
                width: 40px;
                height: 40px;
                display: block;
                position: relative;
                img {
                    object-fit: cover;
                    max-height: 44px;
                    min-width: 46px;
                    object-position: center;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                    height: inherit;
                    width: inherit;
                    max-height: 80px;
                    min-width: 77px;
                    left: -8px;
                }
            }
        }
        &__container {
            min-height: 80px;
            &__avatar {
                width: 60px;
                height: 80px;
                img {
                    max-height: 80px;
                    min-width: 77px;
                    left: -8px;
                }
            }
        }
    }
}
