.header-section-container.searcher {
    &:after {
        background-color: $color-headersectioncontainer-searcher-after-bg;
    }

    .header-section-container__searcher {
        list-style: none;
        padding: 0;
        @include display-flex();
        margin: 0;
        @include flex(1);
        @include justify-content(center);
        @include align-items(center);
        &.events {
            .header-section-container__searcher {
                &__events {
                    .dropdown-element__button {
                        color: $color-headersectioncontainer-searcher-events-headersection-events-dropdown;
                        border-color: $color-headersectioncontainer-searcher-events-headersection-events-dropdown-border;
                    }
                }
                &__groups,
                &__events {
                    .progress {
                        .progress-bar {
                            width: 0%;
                        }
                    }
                }
            }
        }

        &.groups {
            .header-section-container__searcher {
                &__groups,
                &__events {
                    .dropdown-element__button {
                        color: $color-headersectioncontainer-searcher-groups-headersection-events-dropdown;
                        border-color: $color-headersectioncontainer-searcher-groups-headersection-events-dropdown-border;
                    }
                }
            }
            .progress.progress__event {
                .progress-bar {
                    width: 100%;
                }
            }
        }

        &.matches {
            .dropdown-element__button {
                color: $color-headersectioncontainer-searcher-matches-dropdown;
                border-color: $color-headersectioncontainer-searcher-matches-dropdown-border;
            }
            .progress {
                .progress-bar {
                    width: 100%;
                }
            }
        }
        .progress {
            height: 6px;
            @include border-radius(0px);
            width: 141px;
            .progress-bar {
                width: 0;
                background-color: $color-headersectioncontainer-searcher-progress-progressbar-bg;
                @include transition(all 0.5s);
            }
        }

        .dropdown-element {
            &__button {
                @include border-radius(50%);
                background-color: $color-headersectioncontainer-searcher-dropdownelement-button-bg;
                border: 0px solid $color-headersectioncontainer-searcher-dropdownelement-button-border;
                padding: 0;
                line-height: 5em;
                min-width: 5.2em;
                cursor: pointer;
                font-weight: 100;
                color: $color-headersectioncontainer-searcher-dropdownelement-button-border;
                transition: all 0.5s;
            }
            &__box {
                &.dropdownC {
                    padding: 0;
                    opacity: 0;
                    z-index: -1;
                    .dropdown-element__box__list__element {
                        margin: 0;
                    }
                }

                &.dropdownO {
                    height: auto;
                    white-space: nowrap;
                    left: -55%;
                    top: calc(100% + 5px);
                    padding: 6px;
                    background-color: $color-headersectioncontainer-searcher-dropdownelement-dropdownO-bg;
                    margin: 0 auto;
                    border: 1px solid $color-headersectioncontainer-searcher-dropdownelement-dropdownO-border;
                    @include box-shadow(
                        1px 3px 6px $color-headersectioncontainer-searcher-dropdownelement-dropdownO-boxshadow
                    );
                }
                &__list {
                    &__element {
                        &__container {
                            &.active span {
                                color: $color-headersectioncontainer-searcher-dropdownelement-list-element-container-active;
                                font-weight: 500;
                            }
                            &__desc {
                                text-align: left;
                                color: $color-headersectioncontainer-searcher-dropdownelement-list-element-container-desc;
                            }
                        }
                    }
                }
            }
        }
    }
}
