<template lang="pug">
div
    BEventCard(:unit='unit', :disc='"FSK"', resultType='ath')
    //-ath(v-if='unit', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, BEventCard }
})
/* eslint-enable */
export default class FSKSchUnit extends Vue {}
</script>
