<template lang="pug">
.b-match-centre
    template(v-if='results.Results.Records && results.Results.Records.length > 0')
        BMatchSectionTitle.sticky
            span Records
        records(:records='results.Results.Records')
    //- lista
    BMatchSectionTitle.sticky
        span Participants
    BMatchCompetitors(:competitors='competitors', :show='"list"')
    //- Presentation
    //- ath(:list-competitor='competitors', :show-photo='type == "A"') 
    //-
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span Officials
        officials(:list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import records from '@/components/DisciplinesMatchCentre/_commons/Records.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { ath, officials, records, BMatchCompetitors, BMatchNocs, BMatchSectionTitle, BMatchPeriods }
})
/* eslint-enable */
export default class ATHStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 0;
    }
}
</style>
