<template lang="pug">
div(v-if='true')
    .athlete-bio
        template(v-if='bio.isTeam')
            .profile
                BPlayerLabel.big(:noc='bio.Org', :name='bio.OrgDesc')
            .disciplines
                BDisciplineLabel.center(:disc='bio.Disc', :description='bio.DiscDesc')
            .data
                .data-item(v-if='bio.Members')
                    .name {{ $t("bios.members_count") }}
                    .value {{ bio.Members.length }}
                template(v-if='bio.ExtraData')
                    //- GENDERS
                    .data-item(v-if='bio.ExtraData.genders.men > 0')
                        .name {{$t('gender.M')}}
                        .value {{ bio.ExtraData.genders.men }}
                    .data-item(v-if='bio.ExtraData.genders.women > 0')
                        .name {{$t('gender.W')}}
                        .value {{ bio.ExtraData.genders.women }}
                    .data-item(v-if='bio.ExtraData.genders.nd > 0')
                        .name {{$t('gender.ND')}}
                        .value {{ bio.ExtraData.genders.nd }}
                    //- AGES
                    .data-item(v-if='bio.ExtraData.ages.average != 0')
                        .name {{$t('bios.average_age')}}
                        .value {{ bio.ExtraData.ages.average }}

        template(v-else)
            .noc
                BNocLabel(:noc='bio.Org', :description='bio.OrgDesc')
            .profile
                BPlayerLabel.big(:reg='bio.Reg', :name='bio.Name')
            .disciplines 
                BDisciplineLabel.center(:disc='bio.Disc', :description='bio.DiscDesc')
            .data
                .data-item(v-if='bio.Age')
                    .name {{ $t("bios.age") }}
                    .value {{ bio.Age }}
                .data-item(v-if='bio.Weight')
                    .name {{ $t("bios.weight") }}
                    .value {{ bio.Weight }}
                    .unit {{ $t("bios.weight_unit") }}
                .data-item(v-if='bio.Height')
                    .name {{ $t("bios.height") }}
                    .value {{ bio.Height }}
                    .unit {{ $t("bios.height_unit") }}
                .data-item(v-if='bio.Gender')
                    .name {{ $t("bios.gender") }}
                    .value {{ $t("gender." + bio.Gender) }}

div(v-else)
    .body-section-container_bio__profile__info
        template(v-if='!bio.isTeam')
            .body-section-container_bio__profile__info__avatar
                img.body-section-container_bio__profile__info__avatar__img(:src='photo(bio.Reg)', @error='errPhoto')
            .body-section-container_bio__profile__info__profile
                .body-section-container_bio__profile__info__profile__name
                    p.body-section-container_bio__profile__info__profile__name__text {{ bio.Name }}
                .noc-label
                    BNocLabel(:noc='bio.Org', :description='bio.OrgDesc')
                    .gender {{ $t("gender." + bio.Gender) }}
                .discipline-label
                    BDisciplineLabel(:disc='bio.Disc', :description='bio.DiscDesc')
                .body-section-container_bio__profile__info__profile__gender.body-section-container_bio__profile__info__profile_input
                    p.body-section-container_bio__profile__info__profile__gender__text {{ $t("bios.gender") }}:
                        span(v-if='bio.Gender') {{ $t("gender." + bio.Gender) }}
                .body-section-container_bio__profile__info__profile__age.body-section-container_bio__profile__info__profile_input
                    p.body-section-container_bio__profile__info__profile__age__text {{ $t("bios.age") }}:
                        span(v-if='bio.Age') {{ bio.Age }}
        template(v-else)
            .body-section-container_bio__profile__info__profile.body-section-container_bio__profile__info__profile_team 
                .noc-label
                    BNocLabel(:noc='bio.Org', :description='bio.OrgDesc')
                    .gender {{ $t("gender." + bio.Gender) }}
                .discipline-label
                    BDisciplineLabel(:disc='bio.Disc', :description='bio.DiscDesc')
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';

@Component({
    components: {
        BDisciplineLabel: () => import('@/BornanUI/BDisciplineLabel.vue'),
        BNocLabel: () => import('@/BornanUI/BNocLabel.vue'),
        BPlayerLabel: () => import('@/BornanUI/BPlayerLabel.vue')
    }
})
export default class Bio extends Mixins(Images) {
    @Prop()
    bio: any;
    @Prop()
    declare title: string;
}
</script>

<style scoped lang="scss">
.athlete-bio {
    padding-top: 1rem;
    padding-bottom: 0;
    .noc {
        width: 100%;
        display: grid;
        justify-content: flex-end;
        padding: 0.4rem 1rem;
    }
    .profile {
        color: $color-primary;
    }
    .disciplines {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        @media (max-width: $breakpoint-small) {
            margin-top: 0.6rem;
        }
        .data-item + .data-item {
            border-left: 1px solid $white;
        }
        .data-item {
            background: $color-surface-lighter;
            width: min(160px, 100%);
            display: grid;
            grid-template-columns: repeat(auto-fit, 100%);
            grid-template-rows: 3fr 4fr;
            justify-content: center;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            color: $color-primary;
            .name,
            .unit {
                color: $color-primary-dark;
                font-size: 0.8rem;
            }
            .value {
                font-weight: bold;
                font-size: 1.4rem;
            }
            @media (max-width: $breakpoint-small) {
                .name {
                    font-size: 0.8rem;
                }
                .value {
                    font-size: 1rem;
                }
            }
        }
    }
}

.body-section-container_bio__profile__info__profile__disc {
    border: 1px solid green;
}
.discipline-label {
    font-size: 1.3rem;
    margin-top: 1rem;
    align-self: flex-end;
    .label {
        color: $color-on-surface;
    }
}
.noc-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    align-self: start;
    margin-top: 0.2rem;
    .label {
        font-size: 0.8rem;
    }
    .gender {
        font-size: 1.2rem;
    }
}
</style>
