<style scoped lang="scss">
// reset
.body-section-container_bio__profile__info {
    background: transparent;
    flex-direction: column;
    padding: 2rem;
}
.athlete-profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    width: 100%;
    .title {
        border: 1px solid green;
    }
    .profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        background: #ddd;
        .avatar {
            align-self: flex-start;
            width: 15%;
            flex-grow: 0;
            overflow: hidden;
            img {
                width: 90%;
                max-width: 100px;
                clip-path: circle(50%);
            }
        }
        .info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .name {
                padding: 2rem 0;
                align-self: flex-start;
                font-size: 2rem;
            }
            .country-discipline {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .country {
                    align-self: flex-start;
                    display: flex;
                    gap: 1rem;
                    img {
                        width: 40px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
                .discipline {
                    align-self: flex-end;
                    display: flex;
                    gap: 1rem;
                    img {
                        width: 40px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
            .gender {
                align-self: flex-end;
                font-size: 20px;
            }
            .age {
                align-self: flex-end;
                font-size: 20px;
            }
        }
    }
}
</style>

<template lang="pug">
.body-section-container_bio__profile__info
    template(v-if='!bio.isTeam')
        h2 __ATH.profiel ??
        .athlete-profile
            .title titulo.profile
            .profile
                .avatar
                    img(:src='photo(bio.Reg)', @error='errPhoto')
                .info
                    .name {{ bio.Name }}
                    .country-discipline
                        .country
                            img(:src='flag(bio.Org)')
                            p {{ bio.OrgDesc }}
                        .discipline
                            img(:src='picto(bio.Disc, "N")')
                            p {{ bio.DiscDesc }}
                    .gender(v-if='bio.Gender')
                        small {{ $t("bios.gender") }}:
                            | {{ $t("gender." + bio.Gender) }}
                    .age(v-if='bio.Age')
                        small {{ $t("bios.age") }}:
                            | {{ bio.Age }}
                    .position(v-if='bio.Position')
                        p {{ bio.PosDesc }}
    template(v-else)
        .body-section-container_bio__profile__info__profile.body-section-container_bio__profile__info__profile_team
            .body-section-container_bio__profile__info__profile__noc
                img.body-section-container_bio__profile__info__profile__noc__img(:src='flag(bio.Org)')
                p.body-section-container_bio__profile__info__profile__noc__text {{ bio.Name }}
                p.body-section-container_bio__profile__info__profile__noc__gender {{ $t("gender." + bio.Gender) }}
                i.fas.fa-mars.gender(v-if='bio.Gender == "M"')
                i.fas.fa-venus.gender(v-if='bio.Gender == "W"')
            .body-section-container_bio__profile__info__profile__disc
                img.body-section-container_bio__profile__info__profile__disc__img(:src='picto(bio.Disc, "")')
                p.body-section-container_bio__profile__info__profile__disc__text {{ bio.DiscDesc }}
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';

@Component({
    props: ['bio', 'title']
})
export default class Bio extends Mixins(Images) {}
</script>
