<template lang="pug">
.body-section-container_bio__entrie-container(v-if='entries.length > 0')
    ul.body-section-container_bio__entrie-container__list-entries
        li.body-section-container_bio__entrie-container__list-entries__entrie(v-for='entrie in entries', :key='entrie.EvKey')
            .body-section-container_bio__entrie-container__list-entries__entrie__name {{ entrie.Desc }}
            .body-section-container_bio__entrie-container__list-entries__entrie__rank-medal
                .body-section-container_bio__entrie-container__list-entries__entrie__rank-medal__medal
                    img.body-section-container_bio__entrie-container__list-entries__entrie__rank-medal__medal__img(
                        v-if='entrie.Medal !== ""',
                        :src='medals(entrie)')
                    p.body-section-container_bio__entrie-container__list-entries__entrie__rank-medal__medal__no-medal(v-else)
                p.body-section-container_bio__entrie-container__list-entries__entrie__rank-medal__rank(v-if='entrie.Rank') {{ $t("bios.rank") }}
                    span {{ entrie.Rank }}
                    p.body-section-container_bio__entrie-container__list-entries__entrie__rank-medal__rank(v-else)
                        | {{ $t("bios.unrank") }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';

@Component({
    props: ['entries'],
    mixins: [Images]
})
export default class BioEvent extends Vue {}
</script>
