<template lang="pug">
.body-section-container_bio__members-container
    ul.members
        li.member(v-for='(member, index) in members', :key='index')
            biosimple(:bio='member')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import biosimple from '@/components/Bio/BioSimple.vue';
import Images from '@/mixins/images';

@Component({
    props: ['members'],
    components: {
        biosimple
    },
    mixins: [Images]
})
export default class Biomembers extends Vue {}
</script>
