<template lang="pug">
.body-section-container_bio__profile__info
    template(v-if='!bio.isTeam')
        .avatar
            img(:src='photo(bio.Reg)', @error='errPhoto')
        .name {{ bio.Name }}
        .inputs
            .input(v-if='bio.Gender')
                .name {{ $t("bios.gender") }}
                .value {{ $t("gender." + bio.Gender) }}
            .input(v-if='bio.Age')
                .name {{ $t("bios.age") }}
                .value {{ bio.Age }}
    template(v-else)
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';

@Component({
    props: ['bio', 'title'],
    mixins: [Images]
})
export default class Bio extends Vue {}
</script>
