<template lang="pug">
.match
    a(:href='!match.Info || !match.Info.IsBye ? "#" : false', @click.prevent='navigateTo')
        .teamContainer(:style='{ top: pos + "px" }')
            span.teamContainer__date(
                v-if='!match.Info || !match.Info.IsBye',
                :title='title',
                :class='!match.Info || !match.Info.DateTimeRaw ? "notTime" : ""'
            )
                | {{ textInfo }}
            span.teamContainer__date.notTime(v-else)

            bracket-competitor(:comp='match.Home', :idx='idx * 2 + 1', :show-draw='showDraw')
            bracket-competitor(:comp='match.Away', :idx='idx * 2 + 2', :show-draw='showDraw')

            .connector(v-if='match.conn1', :style='match.conn1')
                .connector(:style='match.conn2')
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import BracketCompetitor from './BracketCompetitor.vue';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
@Component({
    props: ['match', 'pos', 'idx', 'showDraw'],
    components: {
        BracketCompetitor
    }
})
export default class BracketMatch extends Mixins(Images, Dates) {
    get title() {
        return this.$props.match && this.$props.match.Info.HasTBD ? this.$t('res.brackets.tbd') : false;
    }
    get textInfo() {
        const info = this.$props.match.Info;
        let out = '' as any;
        if (info.DateTimeRaw) {
            out = this.getWeekDay(info.DateTimeRaw, !info.HideStartDate);
        } else out = this.$t('res.brackets.tbd');
        //
        if (info.HideLocation != true && info.Loc != info.LocDesc) {
            out += ' / ' + info.LocDesc;
        } else {
            out;
        }
        return out;
    }

    navigateTo() {
        if (!this.$props.match.Info.IsBye)
            this.$router.push({
                name: 'disc_results',
                params: {
                    disc: this.$route.params.disc,
                    rsc: this.$props.match.Info.Key
                }
            });
    }
}
</script>
