<template lang="pug">
//.team(:style='{width: teamW+SIZES.scoreW+"px"}',:reg='comp.IsBye ? false : comp.Reg',:class='comp.Type')
.team(:reg='comp.IsBye ? false : comp.Reg', :class='comp.Type')
    .player(:title='comp.Desc ? comp.Desc : false')
        template(v-if='isDoubles')
            span(v-if='comp.IsBye') {{ $t("res.brackets.bye") }}
            span(v-else-if='comp.IsTBD') {{ $t("res.brackets.upcoming") }}
            ul.isDoubles(v-else)
                li(v-for='member in comp.Members')
                    BNocLabel.flag.name.brackets(:noc='member.Org', :description='member.Name')

        template(v-if='!isDoubles')
            span(v-if='comp.IsBye') {{ $t("res.brackets.bye") }}
            span(v-else-if='comp.IsTBD') {{ $t("res.brackets.upcoming") }}
            template(v-else)
                BNocLabel.flag.name.brackets(:noc='comp.Org', :description='comp.Name')

    .score
        span {{ comp.ShowRes ? comp.Res : "--" }}
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';
// Bornan UI
import BNocLabel from '@/BornanUI/BNocLabel.vue';

@Component({
    // name: 'BracketCompetitor',
    // mixins: [Images],
    props: ['comp', 'idx', 'showDraw'],
    components: {
        BNocLabel
    }
})
export default class BracketCompetitor extends Mixins(Images) {
    parentComponent = this.$parent.$parent.$parent as any;
    get SIZES() {
        if (!this.parentComponent) return false;
        return this.parentComponent.SIZES;
    }
    get isDoubles() {
        if (!this.parentComponent) return false;
        return this.parentComponent.isDoubles;
    }
    get teamW() {
        if (!this.parentComponent) return false;
        return this.parentComponent.teamW;
    }
}
</script>
