<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='false')
        

        .body-section-container_results__disc.body-section-container_results__disc_ath.fill
            .fill.summary
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th(rowspan=2) {{ $t('res.final.rank2') }}
                                th(rowspan=2).text-left {{$t('res.final.name') }}
                                th.bb(:colspan='numRaces') {{ $t('res.KBD.pointsPerRace') }}
                                //-th(rowspan=2) #{__('tables.medal')} #{__('tables.racePoints')}
                                th(rowspan=2) {{ $t('res.KBD.totalPoints') }}
                                th(rowspan=2) {{ $t('res.KBD.netPoints') }}
                            tr
                                th(v-for='n in numRaces') {{ n }}

                        tbody
                            tr(v-for='comp in competitors', :key='comp.Reg')
                                td {{comp.Rk}}
                                td.text-left
                                    img(:src='flag(comp.Org)')
                                    | {{ comp.Name }}
                                    
                                td.races(v-for='n in numRaces')
                                    p(v-if="comp.Sport['Result_'+n]") {{comp.Sport['Result_'+n]}}
                                    p(v-if="comp.Sport['ResDetail_'+n]") {{comp.Sport['ResDetail_'+n]}}

                                td {{comp.Sport.TotalPoints}}
                                td {{comp.Sport.NetPoints}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Images from '@/mixins/images';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    mixins: [Images],
    components: { titleUnit, officials, scoreAth }
})
/* eslint-enable */
export default class KBDSummary extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            return;
        }
        this.competitors = value.Competitors;
        this.unitInfo = value.Info;
    }

    get numRaces() {
        const r = this.$props.results;
        if (r && r.Results && r.Results.Sport) {
            let n = r.Results.Sport.NumRaces;
            try {
                n = parseInt(n);
            } catch (e) {
                n = 0;
            }
            return n;
        }
        return 0;
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
