<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_ath.fill
            .fill
                a.watch-live(v-if='results.ExtraInfo && results.ExtraInfo.link', :href='results.ExtraInfo.link', target='_blank')
                    i.far.fa-eye
                    | {{ $t('res.KBD.watch-live')}}

                template(v-if='!hasRounds')
                    score-ath(:competitors='competitors', :type='"A"')

                template(v-else)
                    template(v-for='race,idx in races')
                        button.schedule-days__list-units-disc__disc__desc(@click="race.Display= !race.Display", :class="race.Display ? 'open': 'closed'", :id='idx')
                            | {{race.RoundDesc}} - {{ race.Desc }}
                            i.fas.fa-angle-right
                        score-ath(v-if='race.Display', :competitors='race.Competitors', :type='"A"')

                    button.schedule-days__list-units-disc__disc__desc.mt-3(@click="displayTotal= !displayTotal", :class="displayTotal ? 'open': 'closed'")
                        | {{ $t('res.KBD.final-standing') }}
                        i.fas.fa-angle-right
                    score-ath(v-if='results && displayTotal && finalStandings', :competitors='finalStandings.Competitors', :type='"A"')
                        template(#extraColumnsTitle='{competitor}')
                            .medal-section-container__list__body__diff.visible-sm__flex
                                p Q Pts
                        template(#extraColumnsContent='{competitor}')
                            .medal-section-container__list__body__diff
                                p {{competitor.QPoints}}

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreAth }
})
/* eslint-enable */
export default class KBDResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasOfficials = false;
    //
    races: any[] = [];
    finalStandings: any = null;
    displayTotal = true;

    @Watch('results')
    async setValues(value: any, old?: any) {
        this.races = [];
        this.finalStandings = null;
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            return;
        }

        this.unitInfo = value.Info;
        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;

        // Recapitular las races!!!!
        await this.$nextTick();
        if (this.hasRounds) this.setRaceInformation();
    }

    get hasRounds(): boolean {
        return this.numRounds > 0;
    }

    get numRounds() {
        const r = this.$props.results;
        if (r && r.Results && r.Results.Sport) {
            let n = r.Results.Sport.NumRounds;
            try {
                n = parseInt(n);
            } catch (e) {
                n = 0;
            }
            return n;
        }
        return 0;
    }

    setHeatInformation(info: any, comps: any, r: any, h: any, isFinalRace: boolean): any {
        const heat: any = {};
        const roundText = `Round_${r}`;
        const heatText = h > 0 ? roundText + `_Heat_${h}` : roundText;
        heat.Display = false;
        heat.Round = r;
        heat.Heat = h;
        heat.RoundDesc = info[`${roundText}_Name`];
        heat.Desc = info[`${heatText}_Name`];
        heat.Order = parseInt(info[`${heatText}_Order`]);
        // Competitors info
        heat.Competitors = [];
        for (let c = 0; c < comps.length; c++) {
            const comp = comps[c];
            const hc: any = {
                Reg: comp.Reg,
                Name: comp.Name,
                Org: comp.Org
            };
            hc.IRM = comp.Sport[`${heatText}_IRM`];

            hc.Result = comp.Sport[`${heatText}_Points`];
            hc.Rk = comp.Sport[`${heatText}_Rk`];
            hc.RkPo = comp.Sport[`${heatText}_RkPo`];
            hc.Order = comp.Sport[`${heatText}_Order`];
            if (isFinalRace == true) {
                hc.QPoints = comp.Sport.QPoints;
            }
            if (hc.Order == heat.Order) heat.Competitors.push(hc);
        }
        heat.Competitors.sort((a: any, b: any) => a.RkPo - b.RkPo);
        return heat;
    }

    setRaceInformation() {
        if (this.numRounds == 0) return;
        const isFinalRace = this.$props.results.Info.RSC.endsWith('.FNL-.000100--');
        const info = this.$props.results.Results.Sport;
        const comps = this.$props.results.Competitors;
        for (let r = 1; r <= this.numRounds; r++) {
            //Round processing!
            const t = info[`Round_${r}_NumHeats`];
            const nHeats: number = parseInt(t);
            for (let h = 1; h <= nHeats; h++) {
                const heat = this.setHeatInformation(info, comps, r, h, false);
                // check if has results
                if (heat && heat.Competitors.length > 0) {
                    let isFinished = 0;
                    for (let i = 0; i < heat.Competitors.length; i++) isFinished += heat.Competitors[i].RkPo;
                    if (isFinished > 0) this.races.push(heat);
                }
            }
            this.finalStandings = this.setHeatInformation(info, comps, r, 0, true);
        }
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
