.body-section-container__list-nocs {
    list-style: none;
    @include body-section-container-GRID_CARDS(280px);
    width: 100%;
    &__noc {
        background-color: $color-body-section-container-list-nocs-noc-bg;
        //@include flex(0 1 99%);
        @include justify-content(center);
        @include display-flex();
        @include flex-direction(column);
        padding: 0 0 1rem 0;
        margin: 0;
        transition: 0.5s;
        border: solid 1px $color-body-section-container-list-nocs-noc-border;
        &:hover {
            transform: scale(1.02);
            background-color: $color-body-section-container-list-nocs-noc-bg-hover;
            border: solid 1px $color-body-section-container-list-nocs-noc-border-hover;
        }
        &__title {
            background: $color-body-section-container-list-nocs-noc-title-bg;
            color: $color-body-section-container-list-nocs-noc-title;
            font-weight: 500;
            @include align-items(center);
            @include justify-content(center);
            @include display-flex();
            margin-bottom: 0.7rem;
            padding: 0.7rem 0;
            &__img {
                width: 30px;
                border-radius: 0px;
            }
            &__desc {
                margin-left: 3px;
            }
        }
        &__nath,
        &__nteam {
            color: $color-listnocs-noc-nathnteam;
            font-weight: 500;
            font-size: 0.95em;
            @include justify-content(space-between);
            @include display-flex();
            margin: 3px 0 0;
            padding: 0 20px 0 20px;
        }
    }
}
