@import './_participant.scss';
@import './_nocs.scss';
@mixin title-border-left {
    border-left: 1rem solid $color-primary-25;
    padding: 0.4rem 0 0.4rem 0.6rem;
}
.participants {
    position: relative;
    .green {
        color: green;
    }
    .orange {
        color: orange;
    }
    .red {
        color: red;
    }

    .button-fixed-bottom {
        border: 0px solid green;
        position: fixed;
        z-index: 9;
        bottom: 0;
        margin: 0 auto;
        width: min($max-width-grid, 100%);
        @media (max-width: $breakpoint-medium) {
            width: 100%;
        }
        padding: 0.6rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .button-next {
            position: relative;
            z-index: 999;
            border: 1px solid transparent;
            background-color: $color-secondary;
            color: $white;
            font-size: 1.2rem;
            padding: 0.6rem 1.2rem;
            &:hover {
                border: 1px solid $color-primary;
                background-color: $color-primary;
                color: $white;
            }
        }
    }

    .loaded-data {
        color: $color-secondary;
        margin: 0 1rem;
    }

    .participants-list {
        opacity: 1;
        &.loading {
            opacity: 0.4;
        }

        .disc-group + .disc-group,
        .noc-group + .noc-group,
        .noc-item + .noc-item {
            border-top: 1px solid $color-primary-25;
        }

        .disc-group,
        .noc-group {
            .title {
                position: sticky;
                background-color: #fff;
            }
        }
        .disc-group {
            position: relative;
            .title {
                top: 53.5px;
                z-index: 4;
            }
        }
        .noc-group {
            position: relative;
            .title {
                top: 100px;
                z-index: 3;
            }
        }
        .disc-group,
        .noc-group {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .b-discipline-label,
                .label {
                    flex: 1 1;
                }
                span + span {
                    margin-left: 0.8rem;
                }
                span {
                    flex: 0 0 max-content;
                    &.trigger {
                        cursor: pointer;
                        i {
                            transform: rotate(0);
                            transition: rotate 0.6s;
                            &.opened {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        .disc-group,
        .noc-group,
        .athletes {
            margin-left: 1rem;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            @media (max-width: $breakpoint-large) {
                margin-left: 0.8rem;
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;
            }
            @media (max-width: $breakpoint-medium) {
                margin-left: 0.6rem;
            }
        }
        .disc-group {
            > .title {
                @include title-border-left;
                margin-top: 0.6rem; // mismo que margin-bottom del group-disc
            }
            .noc-group {
                padding-top: 1rem;
                padding-bottom: 0.6rem;
                @media (max-width: $breakpoint-small) {
                    padding-top: 0.6rem;
                    padding-bottom: 0.2rem;
                }
                .athletes,
                .team-info {
                    /* 3, 2, 1 columnas */
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .b-player.list:nth-child(-n + 3) {
                        border-top: 0;
                    }
                    @media (max-width: $breakpoint-large) {
                        grid-template-columns: 1fr 1fr;
                        .b-player.list:nth-child(-n + 3) {
                            border-top: 1px solid $color-primary-25;
                        }
                        .b-player.list:nth-child(-n + 2) {
                            border-top: 0;
                        }
                    }
                    @media (max-width: $breakpoint-medium) {
                        grid-template-columns: 1fr;
                        .b-player.list:nth-child(-n + 3) {
                            border-top: 1px solid $color-primary-25;
                        }
                        .b-player.list:nth-child(-n + 2) {
                            border-top: 1px solid $color-primary-25;
                        }
                        .b-player.list:nth-child(-n + 1) {
                            border-top: 0;
                        }
                    }
                }
            }
        }
        .teams-list {
            .team-title {
                display: flex;
                justify-content: space-between;
                .team-qty {
                    min-width: max-content;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 1em;
                    }
                }
            }

            .noc-team {
                padding-top: 1rem;
                padding-bottom: 0.6rem;
                @media (max-width: $breakpoint-small) {
                    padding-top: 0.6rem;
                    padding-bottom: 0.2rem;
                }
            }
            a {
                width: inherit;
                .team-name {
                    text-decoration: none;
                    color: $color-primary-dark;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            .team-desc {
                display: flex;
                align-items: center;
                .icon-discipline {
                    max-height: 2.2em;
                    max-width: 2.2em;
                    margin-right: 0.7em;
                }
            }
        }
    }
}

.body-section-container__button-navigation-container {
    background-color: $color-secondary;
    color: $color-on-secondary;
    bottom: 4px;
    @include align-items(center);
    @include display-flex();
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.1rem 0.5rem;
    position: fixed;
    width: fit-content;
    z-index: 1;

    &__button {
        background-color: $color-secondary;
        border: none;
        color: $color-on-secondary;
        font-weight: 800;
        @include display-flex();
        @include align-items(center);
        @include transition(all 0.5s);
        padding: 0.5rem;

        &:hover {
            color: $color-primary;
        }
        &_prev {
            margin-right: 4px;
        }
        &_next {
            margin-left: 4px;
        }
        .fas {
            font-size: 1.2em;
            line-height: 16px;
        }
        .fa-angle-left {
            margin-right: 6px;
        }
        .fa-angle-right {
            margin-left: 6px;
        }
        .fa-arrow-alt-circle-down {
            margin-left: 5px;
        }
        span {
            line-height: initial;
        }
    }
    &__state {
        font-weight: 800;
        @include display-flex();
        margin: 0 5px;
        white-space: nowrap;
    }
}
