.body-section-container__list-participant {
    @include body-section-container-GRID-CARDS(280px);
    width: 100%;
    margin-bottom: 50px;
    .body-section-container__list__element__container {
        padding: 0 0 5px;
        display: flex;
        flex-direction: column;
        &:hover {
            background-color: $color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-hover;
        }
        &__disc {
            padding: 0.6rem 0;
            @include display-flex();
            @include justify-content(center);
            background: $color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-disc-bg;
            &__img {
                height: 26px;
                margin-right: 4px;
                //margin-left: 20px;
            }
            &__text {
                color: $color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-disc-text;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &__player {
            @include display-flex();
            &_link {
                @include display-flex();
                width: 100%;
            }
        }
        &__members {
            list-style: none;
            padding: 0;
            margin: 0;

            @include flex(1);
            &__member {
                @include display-flex();
            }
        }
        &__avatar {
            padding: 10px 8px 0 6px;
        }
        &__info {
            justify-content: flex-start;
            width: 100%;
            padding: 5px;
            &__flag {
                justify-content: flex-start;
                &__org {
                    color: $color-primary-dark;
                    font-weight: 600;
                    margin-left: 4px;
                }
            }
            &__name {
                justify-content: flex-start;
                &__text {
                    line-height: initial;
                    text-align: left;
                }
            }
        }
    }
}

.body-section-container__list__element__container {
    &__info {
        min-width: calc(100% - 50px);
        text-align: left;
        //margin: 5px 0 4px -30px;
    }
    &__members {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex(1);
        /* width: 100%; */
        overflow: hidden;
    }
}

.body-section-container__list__element__container__player.body-section-container__list__element__container__player_link {
    @include display-flex();
    //@include flex-direction(column);
    width: 100%;
    padding: 0 10px;
}
