<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h.fill
                .fill
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    period(v-if='hasPeriods',
                        :competitors='competitors', :periods='results.Results.Periods', 
                        :current='results.Results.CurrentPeriod',
                        :show-detail='true'
                        )
                    //-statistic(v-if='stats', :stats='unitStats')
                    //-officials(v-if='hasOfficials', :list-officials='officials')
        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath.fill
                .fill
                    score-ath(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period, scoreAth }
})
/* eslint-enable */
export default class RBSResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
