<template lang="pug">      
    ul.body-section-container__list-info-groups.body-section-container__list-info-groups_sort
        li.body-section-container__list-info-groups__group.table-responsive 
            ul.divTable.table-groups
                li.divTableBody.table-groups__header
                    ul.divTableRow.table-groups__header__tr
                        li.divTableCell.table-groups__header__tr__td Name
                        li.divTableCell.table-groups__header__tr__td(v-for='split,indexS in periods', :key='indexS' ,  v-if='split.Order <= current')
                            span(v-if='results.GoldenScore == "true"') {{ split.Desc }}
                        li.divTableCell.table-groups__header__tr__td Total
                li.divTableBody.table-groups__body(v-for='competitor,indexC in competitors', :key='indexC')
                    ul.divTableRow.table-groups__body__tr
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name 
                            img.table-groups__body__tr__td_name__flag(:src='flag(competitor.Org)') 
                            span.table-groups__body__tr__td_name__org {{competitor.Org}}
                            span.table-groups__body__tr__td_name__text {{competitor.Name}}
                        li.divTableCell.table-groups__body__tr__td(v-for='split,indexM in competitor.Splits', :key='indexM', v-if='periods[indexM].Order <= current')
                            .result-unit__competitor__detail-results__splits__rs
                                result(:type='"p"', :res='competitor.Result', :ippon='competitor.Sport.Ippon', :wazari='competitor.Sport.WazaAri', :yuko='competitor.Sport.Yuko', v-if='results.GoldenScore == "true"')
                        li.divTableCell.table-groups__body__tr__td 
                            .result-unit__competitor__detail-results__splits__rs
                                result(:type='"p"', :res='competitor.Result', :ippon='competitor.Sport.Ippon', :wazari='competitor.Sport.WazaAri', :yuko='competitor.Sport.Yuko')
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import services from '@/settings/services';
import Images from '@/mixins/images';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultKarate.vue';

/* eslint-disable */
@Component({
    props: ['competitors', 'periods', 'results', 'current', 'showDetail'],
    components: { Result }
})
/* eslint-enable */
export default class Period extends mixins(Images) {}
</script>
