<template lang="pug">
.b-match-centre(v-if='unitInfo')
    template(v-if='unitInfo.isH2H')
        template(v-if='results.Results.ResDetail != ""')
            BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
            BMatchNocs(:competitors='competitors', :type='type')
            //- notas
            span.result-container-animation__value_p_reason(v-if='results.Results.ResDetail != "HIKIWAKE"') WINNER BY {{ results.Results.Sport.Decision }}
            span.result-container-animation__value_p_reason(v-if='results.Results.ResDetail == "HIKIWAKE"') {{ results.Results.Sport.Decision }}
            p.result-container-animation__value_p_legend KIKEN: One competitor does not show up, SENSHU: First unopposed point advantage, HANSOKU: Desqualification,
            p.result-container-animation__value_p_legend-1 SHIKKAKU: Serious Desqualification, HANTEI: Referee's decision & HIKIWAKE: Tie
            template(v-if='unitInfo.PhaseDescS.slice(0, 3) == "MTK" || unitInfo.PhaseDescS.slice(0, 3) == "MSK"')
                BMatchSectionTitle.sticky
                    span Periods
                period-resp(
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :current='results.Results.CurrentPeriod'
                )
            template(v-else-if='unitInfo.PhaseDescS.slice(0, 3) != "MTK" || unitInfo.PhaseDescS.slice(0, 3) != "MSK"')
                BMatchSectionTitle.sticky
                    span Period
                period(
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :current='results.Results.CurrentPeriod'
                )
                span.result-container-animation__value_p_reason I: Ippon, W: Wazari, Y: Yuko
        //-
        template(v-else)
            BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
            BMatchNocs(:competitors='competitors', :type='type')
            //- 
            div(v-if='unitInfo.PhaseDesc.includes("Team")')
                div(v-for='(teams, i) in competitors')
                    p Team {{ competitors[i].Name }}:
                    div(v-for='comp in teams.Members')
                        span {{ comp.Name }}

            template(v-if='unitInfo.PhaseDescS.slice(0, 3) == "MTK" || unitInfo.PhaseDescS.slice(0, 3) == "MSK"')
                BMatchSectionTitle.sticky
                    span Periods2
                period-resp(
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :current='results.Results.CurrentPeriod'
                )
            template(v-else-if='unitInfo.PhaseDescS.slice(0, 3) != "MTK" || unitInfo.PhaseDescS.slice(0, 3) != "MSK"')
                //- KTE uno contra uno
                BMatchSectionTitle.sticky
                    span Periods
                period(
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :current='results.Results.CurrentPeriod'
                )
    template(v-else)
        template(v-if='unitInfo.IsLive')
            BMatchSectionTitle.sticky
                span Current
            current-last(:competitors='competitors', :show-diff='false', :current='current', :last='last')

        BMatchSectionTitle.sticky
            span Results
        score-ath(
            :competitors='competitors',
            :periods='periods',
            :type='unitInfo ? unitInfo.Type : "T"',
            :show-diff='false'
        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/KTE/H2HKaratePeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        officials,
        scoreh,
        period,
        periodResp,
        scoreAth,
        currentLast,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods
    }
})
/* eslint-enable */
export default class KTEResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
