<template lang="pug">
div
    //-BEventCard(:unit='unit', :disc='"KTE"')
    BEventCard(v-if='unit && unit.isH2H && (unit.UnitDescS.slice(0, 3) == "MTK" || unit.UnitDescS.slice(0, 3) == "MSK")', :unit='unit', :disc='"KTE"', resultType='h2h',  :show-splits='false', :show-split-winner='false', :bio='bio')

    BEventCard(v-if='unit && unit.isH2H && (unit.UnitDescS.slice(0, 3) != "MTK" || unit.UnitDescS.slice(0, 3) != "MSK")', :unit='unit', :disc='"KTE"', resultType='h2h',  :show-splits='true', :show-split-winner='false', :bio='bio')

    BEventCard(v-else-if='unit && !unit.isH2H', :unit='unit', :disc='"KTE"', resultType='ath', :bio='bio')

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/KTE/ATHKarate.vue';
import h2hkte from '@/components/DisciplinesMatchCentre/KTE/H2HKarate.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
// BornanUI
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

@Component({
    props: ['unit', 'bio'],
    components: { ath, h2hkte, h2h, BEventCard }
})
export default class KTESchUnit extends Vue {}
</script>
