<template lang="pug">
.body-section-container.container-fluid(v-if='unitInfo')
    //- Presentation
    template(v-if='unitInfo.isH2H')
        //-p {{ type }}
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
        BMatchNocs.no-winner(:competitors='competitors', :type='type')
        //- 
        //- sl-indiv(v-if='type == "A"', :list-competitor='competitors')
        //- sl-doubl(v-if='type == "D"', :list-competitor='competitors')
        //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='false')
    template(v-else)
        //-p {{ type }}
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"list"')
        //- 
        //- ath(:list-competitor='competitors', :show-photo='type == "A"')
    //-
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span Officials
        officials(:list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        slIndiv,
        slDoubl,
        slTeams,
        officials,
        ath,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods
    }
})
/* eslint-enable */
export default class KTEStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        // aqui es donde calcula el tipo A:Athlete T:Team D:Doubles
        // en Karate, hay competicion por quipos marcada como A
        if (value.Competitors.every((comp: any) => comp.Members && comp.Members != 0)) {
            // puedo decir, que si TODOS los competidores tienen MEMBERS, entonces son TEAMS ??
            this.type = 'T';
        } else {
            // y si no tienen Members saca el valor de lo que hay indicado
            this.type = value.Info.Type ? value.Info.Type : 'T';
        }
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
