<template lang="pug">
.entries-header(v-if='disc', :class='`background_${disc}`')
    .overlay-full-gradient
    BDisciplineLabel.column.big(:disc='disc', :description='getTitleDesc(disc)')
.entries-header(v-else,  :class='`background_default`')
    .overlay-full-gradient
    BDisciplineLabel.column.big(:description='description', :icon='icon')
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import imagesMixin from '@/mixins/images';
import utilsMixin from '@/mixins/utils';

@Component({
    components: {
        BDisciplineLabel: () => import(/* webpackChunkName: "BDisciplineLabel" */ '@/BornanUI/BDisciplineLabel.vue')
    },
    props: {
        disc: String,
        description: String,
        backgroundImg: String,
        icon: String
    }
})
export default class BMainHeader extends Mixins(imagesMixin, utilsMixin) {}
</script>

<style scoped lang="scss">
.entries-header {
    @include class_disciplines-background;
    color: $white;
    .discipline-label {
        z-index: 1; /* over de gradient */
    }
}
</style>
