<template lang="pug">
div
    BEventCard(:unit='unit', :disc='"TRI"', resultType='ath')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { BEventCard }
})
/* eslint-enable */
export default class TRISchUnit extends Vue {}
</script>
