<template lang="pug">
    section.mt-4
        PhaseQLF(disc='SHO', :phase='info.Phase', :round-competitors='competitors')
            template(v-slot:table='{ comp, prevsplits, prevperiods }')
                ul.medal-section-container
                    li.medal-section-container__list
                        .medal-section-container__list__body.d-flex.justify-content-center
                            .medal-section-container__list__body__elipse.d-flex.justify-content-center
                                p Rank
                            .medal-section-container__list__body__noc.d-flex
                                p Noc
                            .medal-section-container__list__body__name.d-flex
                                p Name                            
                            .medal-section-container__list__body__results.visible-sm__flex
                                p.ml-2 Result
                            slot(name='extraColumnsTitle')
                                //- Slot for adding extra content
                            .medal-section-container__list__body__diff.visible-sm__flex(v-if='hasShootOff')
                                p.ml-1 S-OFF
                            .medal-section-container__list__body__diff.visible-sm__flex(v-if='hasQA(comp)')
                                p.ml-1 QLF
                            .medal-section-container__list__body__rc.visible-sm__flex(v-if='hasRC')
                                p 
                            .medal-section-container__list__body__rc.visible-sm__flex(v-if='showSplit && periods.length>0')
                                p
                                //button.medal-section-container__list__body__split-res__button.fas(@click='showAllStats' :class="isShowingAll ? 'fa-minus-circle rotateM' : 'fa-plus-circle rotateL'")
                    
                    li.medal-section-container__list(v-for='competitor,index in liveComp(isPhaseUnit ? comp : competitors)', :key='index')
                        .medal-section-container__list__body.d-flex.justify-content-center(:class="isShowing(index) ? 'split' : ''")
                            .medal-section-container__list__body__elipse.d-flex.justify-content-center
                                p.mr-3
                                    span(v-if='competitor.RkEq') = 
                                    |{{competitor.Rk}}
                            .medal-section-container__list__body__noc.d-flex
                                img.flag(:src='flag(competitor.Org)')
                                span.visible-sm {{competitor.Org}}
                                //span.hidden-sm {{competitor.Org}}
                            .medal-section-container__list__body__name.pointer(@click='goBio( $route.params.disc , competitor.Reg)')
                                p {{competitor.Name}}
                            .b-100__xx.b-100__sm_none
                            .medal-section-container__list__body__result-list
                                .medal-section-container__list__body__results.d-flex
                                    slot(name='result', :competitor='competitor')
                                        p(v-if='competitor.IRM == "OK" && competitor.Sport.InnerTens != ""') {{competitor.Result}}~{{competitor.Sport.InnerTens}}x
                                        p(v-else-if='competitor.IRM == "OK" && competitor.Sport.InnerTens == ""') {{competitor.Result}}
                                        p(v-else) {{competitor.IRM}}
                                slot(name='extraColumnsContent', :competitor='competitor')
                                    //- Slot for adding extra content
                                .medal-section-container__list__body__diff(v-if='hasShootOff')
                                    p.px-1(v-if='competitor.Sport.ShootOff') ({{competitor.Sport.ShootOff}})
                                .medal-section-container__list__body__diff(v-if='hasQA(comp)')
                                    p(v-if='competitor.Qualified') {{competitor.Qualified}}
                                
                                .medal-section-container__list__body__rc(v-if="hasRC")
                                    p(v-if='competitor.RecordInd') {{formatRecord(competitor.RecordInd)}} 
                                
                                .medal-section-container__list__body__split-res.visible-sm__flex(v-if='showSplit && periods.length>0')
                                    input.medal-section-container__list__body__split-res__input(type="checkbox" :id='index' :value='index' v-model="checkedSplits")

                            .medal-section-container__list__body__split-res.hidden-sm__flex(v-if='showSplit && periods.length>0')
                                .toggle.m-1(v-b-toggle='`col-${index}`') 
                                    i.fas.fa-angle-down

                                    
                        .b-results-list-details
                            b-collapse(:visible='showCard' :id='`col-${index}`')


                                b-card(v-if='isPhaseUnit')

                                    .medal-section-container__list__body__splits(v-if='periods.length>0')
                                        .medal-section-container__list__body__splits__descs
                                            ul.medal-section-container__list__body__splits__descs__list
                                                li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "MSkeetQualification" || info.PhaseDescS == "MTrapQualification"', v-for='period,indexPe in prevperiods', :key='indexPe + "_day1"')
                                                    span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='liveComp(prevsplits)[index].Splits[indexPe].Result') Day 1 - {{period.Desc}}
                                                    ul.medal-section-container__list__body__splits__values__list(v-if='liveComp(prevsplits)[index].Splits[indexPe].Result')
                                                        li.medal-section-container__list__body__splits__values__list__split(v-if='liveComp(prevsplits)[index].Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='liveComp(prevsplits)[index].Splits[indexPe].Result')
                                                                | {{ liveComp(prevsplits)[index].Splits[indexPe].Result }}
                                                li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M25m RFPQualification"', v-for='period,indexPe in prevperiods', :key='indexPe + "_day1"')
                                                    span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3') {{period.Desc}} 
                                                    ul.medal-section-container__list__body__splits__values__list
                                                        li.medal-section-container__list__body__splits__values__list__split(v-if='liveComp(prevsplits)[index].Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc Day 1
                                                            strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='liveComp(prevsplits)[index].Splits[indexPe].Result')
                                                                | {{ showAccum ? liveComp(prevsplits)[index].Splits[indexPe].AcumulatedResult : liveComp(prevsplits)[index].Splits[indexPe].Result }}
                                                            span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if=' liveComp(prevsplits)[index].Splits[indexPe].Result')
                                                                | {{ liveComp(prevsplits)[index].Splits[indexPe].Result }}
                                                //- Curr Splits
                                                //-
                                                li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "MSkeetQualification" || info.PhaseDescS == "MTrapQualification"', v-for='period,indexPe in periods', :key='indexPe + "_day2"')
                                                    span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='liveComp(competitors)[index].Splits[indexPe].Result') Day 2 - {{period.Desc}}
                                                    ul.medal-section-container__list__body__splits__values__list(v-if='liveComp(competitors)[index].Splits[indexPe].Result')
                                                        li.medal-section-container__list__body__splits__values__list__split(v-if='liveComp(competitors)[index].Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='liveComp(competitors)[index].Splits[indexPe].Result')
                                                                | {{ liveComp(competitors)[index].Splits[indexPe].Result }}
                                                li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M25m RFPQualification"', v-for='period,indexPe in periods', :key='indexPe + "_day2"')
                                                    span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3') {{period.Desc}} 
                                                    ul.medal-section-container__list__body__splits__values__list
                                                        li.medal-section-container__list__body__splits__values__list__split(v-if='liveComp(competitors)[index].Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc Day 2
                                                            strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='liveComp(competitors)[index].Splits[indexPe].Result')
                                                                | {{ showAccum ? liveComp(competitors)[index].Splits[indexPe].AcumulatedResult : liveComp(competitors)[index].Splits[indexPe].Result }}
                                                            span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if=' liveComp(competitors)[index].Splits[indexPe].Result')
                                                                | {{ liveComp(competitors)[index].Splits[indexPe].Result }}

                                b-card(v-else)  
                                    .medal-section-container__list__body__splits(v-if='showSplit && periods.length>0')
                                        .medal-section-container__list__body__splits__descs
                                            slot(name='splitList', :competitor='competitor', :index='index')
                                                ul.medal-section-container__list__body__splits__descs__list
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M25m RFPQualification"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].AcumulatedResult != 0 ', name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3') {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if=' competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M25m RFPFinal"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]', v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].Result > 0')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3') {{period.Desc}} 
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe < 3') {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].Result > 0')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                                | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M50m R3PFinal"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3 && competitor.Splits[indexPe].Result') {{period.Desc}} 
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 2 && competitor.Splits[indexPe].Result') Standing
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 1 && competitor.Splits[indexPe].Result') Prone
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 0 && competitor.Splits[indexPe].Result') Knee
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].Result')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                                | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M50m R3PQualification"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 2 && competitor.Splits[indexPe].Result') Standing
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 1 && competitor.Splits[indexPe].Result') Prone
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe == 0 && competitor.Splits[indexPe].Result') Knee
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].Result')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                                | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M10m AP - F" || info.PhaseDescS == "M10m ARFinal"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].AcumulatedResult != 0 ', name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 3') {{period.Desc}} 
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe < 3') {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if=' competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "M10m AP - Q" || info.PhaseDescS == "M10m ARQualification"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].AcumulatedResult != 0 ', name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        strong.medal-section-container__list__body__splits__values__list__split__valueSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if=' competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitShoSkeet(v-if='info.PhaseDescS == "MSkeetFinal"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]', v-if='competitor.Splits[indexPe].AttResult != ""')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 4') {{period.Desc}} 
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe < 4') {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].AttResult')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].AttResult')
                                                                            | {{ competitor.Splits[indexPe].AttResult }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitShoSkeet(v-if='info.PhaseDescS == "MTrapFinal"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]', v-if='competitor.Splits[indexPe].AttResult != ""')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__descFinal(v-if='indexPe >= 5') {{period.Desc}} 
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='indexPe < 5') {{period.Desc}} 
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].AttResult')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].AttResult')
                                                                            | {{ competitor.Splits[indexPe].AttResult }}
                                                    li.medal-section-container__list__body__splits__descs__list__splitSho(v-if='info.PhaseDescS == "MSkeetQualification" || info.PhaseDescS == "MTrapQualification"', v-for='period,indexPe in periods', :key='indexPe')
                                                        slot(name='splitBox', :period='period', :split='competitor.Splits[indexPe]')
                                                            span.medal-section-container__list__body__splits__descs__list__splitSho__desc(v-if='competitor.Splits[indexPe].Result') {{period.Desc}}
                                                            ul.medal-section-container__list__body__splits__values__list(v-if='competitor.Splits[indexPe].Result')
                                                                li.medal-section-container__list__body__splits__values__list__split(v-if='competitor.Splits[indexPe]')
                                                                    slot(name='split', :split='competitor.Splits[indexPe]')
                                                                        span.medal-section-container__list__body__splits__values__list__split__rkSho(v-if='competitor.Splits[indexPe].Result')
                                                                            | {{ competitor.Splits[indexPe].Result }}
        p.medal-section-container__list.text-center.legend FWR - Final World Record / FGR - Final Games Record / QWR - Qualification World record / QGR - Qualification Games record
                                   
                        //-.medal-section-container__list__body__splits__values
                            p.medal-section-container__list__body__splits__values__text Split Time

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
import { BButton, BCard } from 'bootstrap-vue';
import PhaseQLF from './PhaseQLF.vue';

type Sortable = {
    RkPo: number;
    Split: number;
};

const PHASE_UNIT = [
    'M.TR125-------------.QUAL.000200--',
    'M.SK125-------------.QUAL.000200--',
    'M.RFP---------------.QUAL.000200--'
];

@Component({
    mixins: [Images, Utils],
    components: { BButton, BCard, PhaseQLF }
})
export default class SHOScore extends Vue {
    @Prop({
        type: Array,
        default: function() {
            return [];
        }
    })
    periods!: any[];

    @Prop({ type: Object })
    info!: any;

    @Prop({ type: Number })
    currentPeriod!: number;

    @Prop({ type: Array, required: true })
    competitors!: any[];

    @Prop({ type: Boolean, default: true })
    showSplit!: boolean;

    @Prop({ type: Boolean, default: true })
    showDiff!: boolean;

    @Prop({ type: Boolean, default: false })
    showAccum!: boolean;

    @Prop({ type: Boolean })
    showCard!: boolean;

    checkedSplits: number[] = [];

    isShowing(index: number) {
        return this.checkedSplits.indexOf(index) != -1;
    }

    get isPhaseUnit() {
        return PHASE_UNIT.includes(this.info.Key);
    }

    get isShowingAll() {
        return this.checkedSplits.length === this.competitors.length;
    }

    showAllStats() {
        if (this.isShowingAll) {
            this.checkedSplits = [];
        } else {
            this.checkedSplits = [];
            for (let i = 0; i < this.competitors.length; i++) this.checkedSplits.push(i);
        }
    }

    formatRecord(record: string) {
        if (record.indexOf('/') != -1) return record.substring(0, record.indexOf('/'));
        else return record;
    }

    hasQA(competitors: any[]) {
        if (this.isPhaseUnit) return competitors.some((e: any) => e.Qualified);
        return this.competitors.some((e: any) => e.Qualified);
    }
    get hasRC() {
        return this.competitors.some((e: any) => e.RecordInd);
    }
    get hasShootOff() {
        return this.competitors.some((e: any) => e.Sport && e.Sport.ShootOff);
    }
    get hasDiff() {
        return this.showDiff && this.competitors.some((e: any) => e.Diff);
    }

    liveComp(competitors: any[]) {
        if (this.currentPeriod <= 0 || this.currentPeriod >= this.periods.length) {
            return competitors;
        }
        const comps: any[] = [];
        for (let i = 0; i < competitors.length; i++) {
            const obj = Object.assign({}, competitors[i]);
            // const currSp = obj.Splits[this.currentPeriod - 1];
            if (obj.Result === '' && obj.Rk === '' && obj.IRM === 'OK') {
                this.setLastSplit(obj, obj.Splits, this.currentPeriod - 1);
            } else {
                obj.Split = 0;
            }
            comps.push(obj);
        }
        comps.sort((a: Sortable, b: Sortable) => {
            let r = b.Split - a.Split;
            if (r === 0) r = a.RkPo - b.RkPo;
            return r;
        });
        return comps;
    }

    console(any: any) {
        console.log(any);
    }

    setLastSplit(obj: any, splits: any[], start: number) {
        let i = start + 1;
        let currSp: any = null;
        while (0 <= i && currSp === null) {
            i--;
            if (splits[i].RkPo !== 0) currSp = splits[i];
        }
        if (currSp) {
            obj.Result = currSp.AcumulatedResult;
            obj.Diff = currSp.AcumulatedDiff;
            obj.Rk = currSp.RkAcc;
            obj.RkPo = currSp.RkAccPo;
            obj.RkEq = currSp.RkAccEq;
            obj.Split = i;
        }
        if (i !== start) {
            obj.Result = '';
            obj.Rk = '';
        }
    }
}
</script>
