<template lang="pug">
    div
        slot(name='table', :comp='competitors' :prevsplits='prevsplits' :prevperiods='prevPeriods')
            div
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//

import services from '@/settings/services';

/* eslint-disable */
@Component({
    props: ['disc', 'phase', 'roundCompetitors'],
    components: {}
})
/* eslint-enable */
export default class PhaseQLF extends Vue {
    competitors: any[] = [];
    prevsplits: any[] = [];
    prevPeriods: any[] = [];

    get phaseUnit() {
        return this.$props.phase + '.--------';
    }
    get prevPhase() {
        return this.$props.phase + '.000100--';
    }
    async mounted() {
        const res = await services.link('res_results', this.$props.disc, this.phaseUnit);
        if (res) this.competitors = res.Competitors;
        const prevPhase = await services.link('res_results', this.$props.disc, this.prevPhase);
        if (res) {
            this.prevsplits = prevPhase.Competitors;
            this.prevPeriods = prevPhase.Results.Periods;
        }
    }
}
</script>
