<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        records(v-if='results && results.Results && results.Results.Records', :records='results.Results.Records')
        .body-section-container_results__disc.body-section-container_results__disc_ath
            
                score-ath(v-if='unitInfo'
                    :competitors='competitors', :periods='periods',:type='unitInfo ? unitInfo.Type : "T"',
                    :show-accum='true', :info='unitInfo'
                )
                //-statistic(v-if='stats', :stats='unitStats')
                //-officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/SHO/ATHScoreSHO.vue';
import records from '@/components/DisciplinesMatchCentre/_commons/Records.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreAth, records }
})
/* eslint-enable */
export default class SHOResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
