<template lang="pug">
.body-section-container
    records(v-if='results', :records='results.Results.Records')
    //-
    BMatchCompetitors(:competitors='competitors', :show='"list"')
    //- Presentation
    //- ath(:list-competitor='competitors', :show-photo='type == "A"') 
    //-
    officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import records from '@/components/DisciplinesMatchCentre/_commons/Records.vue';
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { ath, officials, records, BMatchCompetitors }
})
/* eslint-enable */
export default class ATHStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
