/* assets/styles/scss/components/disc/_header.scss */
/* fondo degradado HEADER sobre foto */
$color-header-section-container-after-bg: $header-background-overlay;

$header-section-container-header-height: 200px; /* alto del header */

$header-section-container-picto-height: auto;
$header-section-container-picto-width: 60px;
$color-header-section-container-after-p: $color-white-100;
