/* assets/styles/scss/components/unit/common/results/h2h/_score.scss */
$color-bodysectioncontainer-results-team: black;
$color-bodysectioncontainer-results-team-bg: $color-lightgray-100;
$color-bodysectioncontainer-results-team-boxshadow: $color-gray-100;
$color-bodysectioncontainer-results-team-title: $color0_29;
$color-bodysectioncontainer-results-team-competitor: $color-black-100;

$color-bodysectioncontainer-results-list-bodysectioncontainer_results_list_competitor_listscores-score-value: $color142_1;

$color-bodysectioncontainer-results-venue: $blue2;
$color-bodysectioncontainer-results-status: $lightGreen1;
$color-bodysectioncontainer-results-date: $gray4;
$color-bodysectioncontainer-list-competitor-list-member-info-bg: $color-lightgray-100;
$color-bodysectioncontainer-list-competitor-list-member-info-border: $color-gray-100;
$color-bodysectioncontainer-list-competitor-list-member-info-boxshadow: $gray2;
$color-bodysectioncontainer-list-competitor-list-member-info-before: $lightGreen1;
$color-bodysectioncontainer-list-competitor-list-member-info-name: $gray4;
/* faltan estilos de media_quierie */

/* assets/styles/scss/components/unit/common/startlist/h2h/_hteam.scss */
$color-bodysectioncontainer-startlits-list-before: $color-darkblue-100;

$color-bodysectioncontainer-startlist-list-competitor-list-member-container-border: transparent;
$color-bodysectioncontainer-startlist-list-competitor-list-member-container-borderimagesource: linear-gradient(
    123deg,
    $color0_29 25%,
    $color1_26 50%
);

/* assets/styles/scss/components/disc/_h2h-results.scss*/
$color-h2hresult-competitor-info-flag: $color-on-surface; /* siglas del pais */

$color-h2hresult-competitor-info-doublename: $color-on-surface;
$color-h2hresult-competitor-detailresults-split-p: $color-on-surface;
$color-h2hresult-competitor-detailresults-split-p-winner-after-bg: $color-on-surface;

$color-h2hresult-competitor-detailresults-totalrs-p: $color84_1;
$color-h2hresult-competitor-detailresults-totalrsfen-p: $color85_1;
$color-h2hresult-competitor-winnerbefore-bg: $color-lightgray-50;
$color-h2hresult-competitor-winner-resultunitcompetitor-detailsresulttotalrs: $black0;
$color-h2hresult-competitor-winner-resultunitcompetitor-name: $color-darkblue-100;
$color-h2hresult_competitor_detailresults_fbspsors-p: $color87_1;
$color-h2hresult_competitor_detailresults_fbspsors-p-bg: $white;
$color-h2hresult_competitor_detailresults_fbspsors-p-border: $white;

$color-h2hresult_competitor_detailresults_bte-p-bg: $color-black-100;
$color-h2hresult_competitor_detailresults_bte-p: $color88_1;

$color-h2h-result-splits-title-bg: $color-primary-25; /* barrita titulos en un resultado */
$color-h2h-result-splits-title: $color-on-primary-25;
$color-h2h-result-competitor: $color-on-surface;

/**/
$color-h2hresult-bg: $color-surface;
$h2hresults-boxshadow: $card-boxshadow;

$color-h2hresult-boxshadow: $gray0;
$color-h2hresult-border-top: $color12_5;
$color-h2hresult-border-bottom: $color12_5;
$color-h2hresult-border-right: $color-gray-100;
$color-h2hresult-border-left: $color-gray-100;

/**********************/
/* STATS */

$discipline_results-stats-boxshadow: $card-boxshadow;
/*assets/styles/scss/components/disc/_match_stat_pediod.scss*/
$color-matchstat-bg: $color-white-100;
$color-matchstat-bordert: $color12_5;
$color-matchstat-borderb: $color12_5;
$color-matchstat-borderl: $color-gray-100;
$color-matchstat-borderr: $color-gray-100;

$color-matchstat-heading: $color-on-surface;
$color-matchstat-title-text-bg: $white2;
$color-matchstat-title-text: $gray4;
$color-matchstat-title-text-border: $gray0;
$color-matchstat-title-text-fachartbar: $darkBlue;

$color-match-stat-content-stats-list-element-desc-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-match-stat-content-stats-list-element-desc: $white;

/*assets/styles/scss/components/disc/_match-stats-player.scss*/
$color-match-stats-by-player-player-stats-player-after-bg: linear-gradient(
    90deg,
    $color-lightgray-100,
    hsla(0, 0%, 90%, 0)
);

$color-matchstatsbyplayer-player-stats-playerstatsplayer-name: $color-black-100;

$color-matchstatsbyplayer-playerstats-bg: transparent;
$color-matchstatsbyplayer-playerstats-border-top: '';
$color-matchstatsbyplayer-playerstats-border-bottom: $color12_5;
$color-matchstatsbyplayer-playerstats-border-right: $color-gray-100;
$color-matchstatsbyplayer-playerstats-border-left: $color-gray-100;
$color-matchstatsbyplayer-playerstats-td-border-bottom: $color-whitegray-100;
$color-matchstatsbyplayer-playerstats-tr-td-bg: $white;

$color-matchstatsbyplayer-playerstats-playerstats_member-hover-bg: $color-white-100;

/* scss/components/disc/_match-stats-selection.scss */
$color-matchstatsselector-categories-buttonshow-bg: $color-white-100;
$color-matchstatsselector-categories-buttonshow-border: $color-black-100;
$color-matchstatsselector-legends-bg: $color-white-100;
$color-matchstatsselector-legends-border: $color-whitegray-100;
$color-matchstatsselector-legends-list-item-bg: $white;
$color-matchstatsselector-legends-list-item-border: $color-black-100;

/**/

.medal-section-container__list__body__splits__descs__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
label.medal-section-container__list__body__split-res__label {
    color: $color-primary;
}
button.medal-section-container__list__body__split-res__button {
    color: $color-on-primary;
}

.medal-section-container__list__body.d-flex.justify-content-center {
    .medal-section-container__list__body__splits {
        height: fit-content;
        border: 0px solid red;
    }
    .split.medal-section-container__list__body__splits {
        height: 0;
        border: 0px solid green;
    }
}

.medal-section-container__list__body {
    .bib {
        padding: 0; // RESET
    }
}

.ath_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 0.3rem 0;
    text-align: left;
    margin-left: 3rem;
    .bib {
        flex: 0 0 40px;
        text-align: left;
    }
    .avatar {
        img {
            border-radius: 50%;
            width: 25px;
        }
    }
    .name {
        flex: 1 1 300px;
        text-align: left;
    }
}
