/* HEADER nav, barra superio rque contiene el logo y a leftnav*/

/* assets/styles/scss/components/navs/_nav.scss */
$color-navcontainer-bg: $color-white-50;
$color-navcontainer-boxshadow: $color-black-100;
$navcontainer-heigth: 60px;
$navcontainer-boxshadow: 0 0 6px 0 $color-navcontainer-boxshadow;
$navcontainer-marginleft: 10px; /* posiciona el toggle button */
$navcontainer-logo-heigth: 30px;
/* imagen del logo en Nav.vue */
