/* HOME schedule-DISCIPLINES */
/* caja ENTERA */
$color-containerschdisc-list-disc-boxshadow: $card-boxshadow;
/* assets/styles/scss/components/schedule/_days-calendar.scss */
$color-containerschdisc-list-day-daynumber: $color-on-background; /* color de numero del dia en grid-DAYS */
$color-containerschdisc-list-day-dayweek: $color-on-background; /* nombre del dia */
$color-containerschdisc-list-day-bg: $color-secondary-variant; /* fondo del dia */
/* assets/styles/scss/components/schedule/_discipline-calendar.scss */
$color-containerschdisc-list-day: $color-on-surface; /* NOMBRE del dia en GRID disciplines */
$color-containerschdisc-list-day-border: transparent; /* borde del dia en GRID disciplines */
/* assets/styles/scss/components/schedule/_disciplines.scss */
$color-containerschdisc-list-disc-title: $color-on-primary;
$color-containerschdisc-list-disc-title-bg: $color-primary; /* fondo del titulo de la discipline */
$color-containerschdisc-list-disc: $color-on-primary; /* texto del titulo de la discipline */

$color-containerschdisc-list-disc-link-bg: $color-surface-50; /* fondo de la caja entera de la discipline */
$color-containerschdisc-list-disc-days-p: $color-on-surface; /* texto de la caja, donde dice DAYS */

$color-containerschdisc-list-disc-bg: ''; /* fondo caja entera LI */
