/* menuDIAS */
/* primera FILA DE DIAS */
$color-schedulecalendar-datescontainer-dateslist-date-bg: $color-primary-50; /*fondo del dia del GRID*/
$color-schedulecalendar-datescontainer-dateslist-dateactive-bg: $color-primary; /*fondo del dia del GRID:active*/
$color-schedulecalendar-datescontainer-dateslist-datep: $color-on-primary-50; /* color de la fecha del GRID */
/* menuDISCIPLINES */
/*fondo*/
$color-grid-disc-gradient: $color-primary-50;
$color-grid-disc-gradient-active: $color-primary;
/*texto*/
$color-schedulecalendar-discdates-disccontainer-disclist-disc-a: $color-on-primary-50; /* color de discipline en el GRID */
$color-schedulecalendar-discdates-disccontainer-disclist-disc-ahover: $color-on-primary-50;

/* DIAS sin evento */
$color-schedulecalendar_dayscontainer-days-day-bg: $color-secondary-variant; /* color del dia de evento del GRID */
$color-schedulecalendar_dayscontainer-days-day-event-bg: orange; /* color del circulo de evento en un dia */
$color-schedulecalendar_dayscontainer-days-day-active: $color-primary-25; /* HOVER sobre un dia SIN evento */
$color-schedulecalendar_dayscontainer-days-day-noactive: $color-background;

/* DIAS CON evento */
$color-schedulecalendar_dayscontainer-days-day-hasEvent-bg: $color-primary-50; /* color del dia con evento del GRID */
$color-schedulecalendar_dayscontainer-days-day-hasEvent-bg-hover: $color-primary; /* HOVER */

$color-schedulecalendar-datescontainer-dateslist-dateactive: red;
$color-schedulecalendar-datescontainer-dateslist-datetoday-bg: $today-color;
$color-schedulecalendar-datescontainer-dateslist-date-pactive: orange; // ???????
$color-schedulecalendar-datescontainer-dateslist-datep-bg: transparent; /* fondo de la caja que contiene la fecha */

/* discipline en el GRID */
/* scss/components/schedule/_discipline-calendar.scss */

$color-grid-day-gradient-active: $color-bluegreen-50;
/* assets/styles/scss/components/schedule/_discipline-calendar.scss */
$color-schedulecalendar_dayscontainer-legends-list-legend-info-span-today-bg: blue; /* legend TODAY en GRID */
$color-schedulecalendar_dayscontainer-legends-list-legend-info-span-competition-bg: orange; /* legend COMPETITION en GRID */
$color-schedulecalendar_dayscontainer-legends-list-legend-info-span-live-bg: $live; /* legend LIVE en GRID */
$color-schedulecalendar_dayscontainer-legends-list-legend-info-icon: $color-gold-100; /* legend MEDAL en GRID */

$color-schedulecalendar-discdates-disccontainer-disclist-disc-i: $live; /* el circulo intermitente en la Discipline */

$color-schedulecalendar_dayscontainer-days-day-medalevent-famedal: $color-gold-100;
