// scss/views/_medals.scss

/* assets/styles/scss/views/_medals.scss */
$color-medalsectioncontainer-list-body-stats-button: $color144_1;
$color-medalsectioncontainer-list-body-stats-button-bg: transparent;
$color-medalsectioncontainer-list-body-gender-stat-i: $gray4;
$color-medalsectioncontainer-list-body-gender-stat-i-famars: $lightBlue1;
$color-medalsectioncontainer-list-body-gender-stat-i-favenus: $color145_1;
$color-medalsectioncontainer-list-body-gender-stat-i-favenusmars: $gray4;
$color-medalsectioncontainer-list-body-gender-stat-span: $gray4;

$color-medalsectioncontainer-list-body-title: green;
$color-body-section-container__title_medal: green;
$color-h4-body-section-container__subtitle_medal: $gray4;

/* alto de las filas */
$color-medalsectioncontainer-list-rows-height: 54px;
/* primera fila, fondo */
$color-medal-section-container-list-firstchild-medalsectioncontainerlistbody-bg: $color-primary;
/* RANK fondo y texto */
$color-medalsectioncontainer-list-body-elipse-bg: transparent; /* fondo de elipse, NO USAR, hay padding !! */
$color-medalsectioncontainer-list-body-elipse-width: 100px; // ancho de la primera columna
$color-medalsectioncontainer-list-body-elipse: $color-on-background; /* color del numero del RANK */

$color-medalsectioncontainer-list-body-bg: $color-secondary-variant; /* fondo de las filas, menos la del titulo */
$color-medalsectioncontainer-list-body-border: transparent; /* borde de las filas, menos la primera */
$color-medalsectioncontainer-list-body-boxshadow: transparent; /* boxshadow de las filas */

/* COLOR DE TEXTO en RESULTS de una DISCIPLINE */
$color-medalsectioncontainer-list-body: $color-on-background; /* color del texto de las filas, NO AFECTA */
$color-medalsectioncontainer-list-body-noc-span: $color-on-background; /* COLOR del nombre del pais */
$color-medalsectioncontainer-list-body-medalstotals-p: $color-on-background; /* color del STAT */
$color-medalsectioncontainer-list-body-totals-p: $color-on-background; /* color de TOTAL en stat */

/* NOC, bandera y texto */
$color-medalsectioncontainer-list-body-noc: $black;
$color-medalsectioncontainer-list-body-noc-img-boxshadow: $color-gray;

$color-medalsectioncontainer-list-body-medalstotals-stat-lip: $gray4;
/* color de TOTAL EN LAS STATS */
$color-medalsectioncontainer-list-body-totals: $black;
$color-medalsectioncontainer-list-body-totals-before-bg: $color148_1;

$color-medalsectioncontainer-list-body-stat-medalsection-medaltotals-after-bg: $opgold;

$color-medalsectioncontainer-list-body-col: $black;

$color-medalsectioncontainer-list-body-stats-button-firstchild: $white;
$color-medalsectioncontainer-list-body-btnorder: $white;
$color-medalsectioncontainer-list-body-btnorder-bg: transparent;

/******** SEARCH *****/
/* assets/styles/scss/components/medals/_search-medals.scss */
$color-medal-disciplines-list-disc-container-bg: $color-secondary-variant;
$color-medal-disciplines-list-disc-container-hover-bg: $color-secondary;

/* assets/styles/scss/components/medals/_medallists-item.scss */
$color-medal-item-info-disc-bg: $color-primary;
$color-medal-item-info-disc: $color-on-primary;
$color-medal-item-info-disc-img: $color-on-primary;

/* MEDALLISTA */
$color-medalitem-event-medal-noc: $color-on-background;
$color-medalitem-event-medal-athlete: $color-on-background;

$color-medalitem-event-bg: transparent; /*no afecta ??*/
$color-medalitem-event: red; /*no afecta*/

/* TITULO de la prueba */
$color-medalitem-event-desc-bg: transparent;
$color-medalitem-event-desc: $color-on-background; /*no afecta*/

$color-events-list-event-desc-medals-medal-ME_GOLD-bg: $color-gold;
$color-events-list-event-desc-medals-medal-ME_SILVER-bg: $color-silver;
$color-events-list-event-desc-medals-medal-ME_BRONZE-bg: $color-bronze;
$color-medalitem-eventslist-event-medals-medal-bodysectioncontainer_list_element_container-bg: $color-white-100;
$color-medalitem-eventslist-event-medals-medal-bodysectioncontainer_list_element_container-boxshadow: $color-gray-100;

/* assets/styles/scss/components/navdisc/_medals.scss */
$color-medal-section-container-medals-btn-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medal-section-container-medals-btnhover-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medal-section-container-medals-box-border-box-bg: $color-whitegray-100;
$color-medal-section-container-medals-box-border-box-border: $color111_1;
$color-showBtnPlay-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-showBtnPlay: $white;

$color-showBtnPlayhover-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-showBtnPlayhover: $white;
