/* assets/styles/scss/components/navs/_left_nav.scss */
/* menu */
$color-leftnav-container-menu-bg: linear-gradient(175deg, $color-primary 24%, $color-primary-variant 79%);

$color-leftnav-container-menu-navbutton-bg: transparent;
$color-leftnav-container-menu-navbutton: $color-secondary;
$color-leftnav-container-menu-navbutton-border: transparent;
$color-leftnav-togglebutton: $color-azureblue-100;

$color-leftnav-link-hover: $color-secondary;
$color-leftnav-link-active: $color-secondary;
$color-leftnav-link: $color-on-primary-50;

$color-leftnav-container-disc-active: $color-secondary;
$color-leftnav-container-disc-hover: $color-secondary;
