$color-containernocs-list-noc-boxshadow: $color-gray-50;
$color-containernocs-list-noc-boxshadow-hover: $color-whitegray-100;
$color-containernocs-list-noc-boxshadow-hover2: $color0_29;
$color-containernocs-list-noc-boxshadow-hover3: $color0_29;

$color-container-nocs-noc-title-bg: $denim; /* fondo del titulo del NOC */
$color-container-nocs-noc-title: $color-white-100; /* color del texto del titulo del NOC */
$color-container-nocs-list-noc-info-stats-stat-gen-total-border: transparent;

$color-containernocs-list-boxshadow: $card-boxshadow;

$color-nocs-list-content-title: $color-on-surface-light;
$color-nocs-list-content-title-stats: $color-on-surface;
