<template lang="pug">
.b-match-centre
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='false')
    //- formato lista
    BMatchSectionTitle.sticky
        span Start List
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"list"')
    //- Presentation
    //- ath(:list-competitor='competitors', :show-photo='type=="A"')   
    //-
    officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { ath, titleUnit, officials, BMatchCompetitors, BMatchSectionTitle }
})
/* eslint-enable */
export default class CRDStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    created() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 0;
    }
}
</style>
