<template lang="pug">
    .medal-item(:id='value.Disc')
        .medal-item__info-disc
            //- img.medal-item__info-disc__img(:src='pictoIcon(value.Disc,"w")')
            BDisciplineLabel.menu(:disc='value.Disc')
            p.medal-item__info-disc__desc {{value.DiscDesc}}
        medallists-event(v-for='evt in value.Events', :key='evt.Event', :value='evt')    
        
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
import MedallistsEvent from '@/components/Medals/MedallistsEvent.vue';
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';

@Component({
    mixins: [Images, Utils],
    components: {
        MedallistsEvent,
        BDisciplineLabel
    },
    props: {
        value: Object
    }
})
export default class MedallistsItems extends Vue {}
</script>
