<template lang="pug">
.medal-list
    .medal-event
        BSectionTitle.sticky
            span {{ value.EventDesc }}
        .medals
            .medal(v-for='competitor in value.Medals', :class='competitor.Medal')
                template(v-if='competitor.Type == "T"')
                    .participant
                        .medal_img
                            img(:src='getMedals(competitor.Medal)')
                        .competitor
                            BPlayerLabel.list(:noc='competitor.Org', :name='competitor.Name')
                            BNocLabel.b-noc-label(:noc='competitor.Org')
                template(v-else)
                    .participant(@click='navigateToBio(competitor.Reg, competitor.Disc)')
                        .medal_img
                            img(:src='getMedals(competitor.Medal)')
                        .competitor
                            BPlayerLabel.list(:reg='competitor.Reg', :name='competitor.Name')
                            BNocLabel.b-noc-label(:noc='competitor.Org')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

@Component({
    mixins: [Images, Utils],
    components: {
        BPlayerLabel,
        BNocLabel,
        BSectionTitle
    },
    props: {
        value: Object
    }
})
export default class MedallistsEvents extends Vue {
    navigateToBio(reg: string, disc: string) {
        const newRoute = {
            name: 'athletesbio',
            params: {
                disc: disc,
                reg: reg
            }
        };
        this.$router.push(newRoute);
    }
}
</script>

<style scoped lang="scss">
.medals {
    width: 100%;
    .medal {
        width: 100%;
        border-bottom: 1px solid $color-primary-25;
        padding: 0.8rem;
        @media (max-width: $breakpoint-small) {
            padding: 0.4rem;
        }
        &.ME_GOLD {
            border-left: 0.8rem solid $color-events-list-event-desc-medals-medal-ME_GOLD-bg;
        }
        &.ME_SILVER {
            border-left: 0.8rem solid $color-events-list-event-desc-medals-medal-ME_SILVER-bg;
        }
        &.ME_BRONZE {
            border-left: 0.8rem solid $color-events-list-event-desc-medals-medal-ME_BRONZE-bg;
        }
        .participant {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.8rem;
            @media (max-width: $breakpoint-small) {
                gap: 0.4rem;
            }
            .medal_img {
                width: 3rem;
                @media (max-width: $breakpoint-small) {
                    width: 2.4rem;
                }
                img {
                    width: 100%;
                }
            }
            .competitor {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $color-primary-dark;
                .b-player {
                    border: 0;
                }
                .b-noc-label {
                    flex: 0 0;
                }
            }
        }
    }
}
</style>
