<template lang="pug">
    mixin partic(varName, showLink)
        if showLink
            router-link( :to=`{ name: 'athletesbio' , params: { disc: ${varName}.Disc , reg: ${varName}.Reg } }` )
                .avatar
                    img(v-if=`${varName}.Type !== 'T' `, :src=`photo(${varName}.Reg)`, @error='errPhotoSm')
                .info
                    .flag
                        img(:src=`flag(${varName}.Org)`)
                    .noc(v-if=`${varName}.Type !== 'T' `) {{ #{varName}.OrgDesc }}
                    .noc(v-else) {{ #{varName}.Org }}
                    .athletes(v-if=`${varName}.Type === 'T' `) 
                            template(v-if=`${varName}.Size`) {{ #{varName}.Size }}
                            template(v-else) {{ #{varName}.Members.length }} 
                            span {{ $t('nocs.ath') }}
                    .name
                        .text {{ #{varName}.Name }}
                        .athletes(v-if=`${varName}.Type === 'T' `) 
                            | {{ $t('gender.' + #{varName}.Gender )}}
        else
            .body-section-container__list__element__container__player.body-section-container__list__element__container__player_link
                .body-section-container__list__element__container__avatar
                    img.body-section-container__list__element__container__avatar__img(v-if=`${varName}.Type !== 'T' `, :src=`photo(${varName}.Reg)`, @error='errPhotoSm')
                .body-section-container__list__element__container__info
                    .body-section-container__list__element__container__info__flag
                        img.body-section-container__list__element__container__info__flag__img(:src=`flag(${varName}.Org)`)
                        p.body-section-container__list__element__container__info__flag__org(v-if=`${varName}.Type !== 'T' `) {{ #{varName}.OrgDesc }}
                        p.body-section-container__list__element__container__info__flag__org(v-else) {{ #{varName}.Org }} 
                    .body-section-container__list__element__container__info__name
                        p.body-section-container__list__element__container__info__name__text {{ #{varName}.Name }}

    mixin headerDisc()
        .body-section-container__list__element__container__disc(v-if='header')
            img.body-section-container__list__element__container__disc__img(:src='pictoIcon(partic.Disc,"w")')
            .body-section-container__list__element__container__disc__text {{ partic.DiscDesc }}

    mixin particsDoubles()
        router-link.body-section-container__list__element__container__player.body-section-container__list__element__container__player_link( :to=`{ name: 'athletesbio' , params: { disc: partic.Disc , reg: partic.Reg } }` )
            ul.body-section-container__list__element__container__members
                li.body-section-container__list__element__container__members__member(v-for='member in partic.Members')
                    +partic('member', false)
    
    
    .medallists(v-if='!list')
        template(v-if="partic.Type == 'D'")
            +headerDisc()
            +particsDoubles()
        template(v-else)
            +headerDisc()
            +partic('partic', true)
    
    .medallists(v-else)
        //-Doubles
        template(v-if="partic.Type == 'D'")
            +particsDoubles()
        //- Teams & Indiv
        template(v-else)
            +partic('partic', true)

</template>

<script lang="ts">
import Vue from 'vue';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BNocLabel from '@/BornanUI/BNocLabel.vue';

export default Vue.extend({
    name: 'ParticipantMedal',
    components: {
        BNocLabel
    },
    mixins: [Images, Utils],
    data() {
        return {
            listDisc: []
        };
    },
    props: ['partic', 'list', 'header']
});
</script>
