<template lang="pug">
    mixin partic(varName, showLink)
        if showLink
            router-link.body-section-container__list__element__container__player.body-section-container__list__element__container__player_link( :to=`{ name: 'athletesbio' , params: { disc: ${varName}.Disc , reg: ${varName}.Reg } }` )
                .body-section-container__list__element__container__avatar
                    img.body-section-container__list__element__container__avatar__img(v-if=`${varName}.Type !== 'T' `, :src=`photo(${varName}.Reg)`, @error='errPhotoSm')
                .body-section-container__list__element__container__info
                    .body-section-container__list__element__container__info__flag
                        img.body-section-container__list__element__container__info__flag__img(:src=`flag(${varName}.Org)`)
                        p.body-section-container__list__element__container__info__flag__org(v-if=`${varName}.Type !== 'T' `) {{ #{varName}.OrgDesc }}
                        p.body-section-container__list__element__container__info__flag__org(v-else) {{ #{varName}.Org }}
                        p.body-section-container__list__element__container__info__flag__athletes(v-if=`${varName}.Type === 'T' `) 
                            template(v-if=`${varName}.Size`) {{ #{varName}.Size }}
                            template(v-else) {{ #{varName}.Members.length }} 
                            span {{ $t('nocs.ath') }}
                    .body-section-container__list__element__container__info__name
                        p.body-section-container__list__element__container__info__name__text {{ #{varName}.Name }}
                        p.body-section-container__list__element__container__info__flag__athletes(v-if=`${varName}.Type === 'T' `) 
                            | {{ $t('gender.' + #{varName}.Gender )}}
        else
            .body-section-container__list__element__container__player.body-section-container__list__element__container__player_link
                .body-section-container__list__element__container__avatar
                    img.body-section-container__list__element__container__avatar__img(v-if=`${varName}.Type !== 'T' `, :src=`photo(${varName}.Reg)`, @error='errPhotoSm')
                .body-section-container__list__element__container__info
                    .body-section-container__list__element__container__info__flag
                        img.body-section-container__list__element__container__info__flag__img(:src=`flag(${varName}.Org)`)
                        p.body-section-container__list__element__container__info__flag__org(v-if=`${varName}.Type !== 'T' `) {{ #{varName}.OrgDesc }}
                        p.body-section-container__list__element__container__info__flag__org(v-else) {{ #{varName}.Org }} 
                    .body-section-container__list__element__container__info__name
                        p.body-section-container__list__element__container__info__name__text {{ #{varName}.Name }}

    mixin headerDisc()
        .body-section-container__list__element__container__disc(v-if='header')
            img.body-section-container__list__element__container__disc__img(:src='pictoIcon(partic.Disc,"w")')
            .body-section-container__list__element__container__disc__text {{ partic.DiscDesc }}

    mixin particsDoubles()
        router-link.body-section-container__list__element__container__player.body-section-container__list__element__container__player_link( :to=`{ name: 'athletesbio' , params: { disc: partic.Disc , reg: partic.Reg } }` )
            ul.body-section-container__list__element__container__members
                li.body-section-container__list__element__container__members__member(v-for='member in partic.Members')
                    +partic('member', false)
    
    
    .body-section-container__list__element__container(v-if='!list')
        template(v-if="partic.Type == 'D'")
            +headerDisc()
            +particsDoubles()
        template(v-else)
            +headerDisc()
            +partic('partic', true)
    
    li.body-section-container__list__element(v-else)
        //-Doubles
        .body-section-container__list__element__container(v-if="partic.Type == 'D'")
            +particsDoubles()
        //- Teams & Indiv
        .body-section-container__list__element__container(v-else)
            +partic('partic', true)

    
    
    //-li.body-section-container__list__element
        template(v-if='partic.hasMembers && false')
            ul.body-section-container__list__element__container(v-for='member in partic.Members')
                li.body-section-container__list__element__container__avatar
                    img.body-section-container__list__element__container__avatar__img(:src='photo(member.Reg)', @error='errPhotoSm')
                li.body-section-container__list__element__container__info
                    div.body-section-container__list__element__container__info__flag
                        img.body-section-container__list__element__container__info__flag__img(:src='flag(member.Org)')
                        p.body-section-container__list__element__container__info__flag__org {{member.Org}}
                    div.body-section-container__list__element__container__info__name
                        p.body-section-container__list__element__container__info__name__text {{member.Name}}  
            
        ul.body-section-container__list__element__container(v-else)
            li.body-section-container__list__element__container__avatar
                img.body-section-container__list__element__container__avatar__img(:src='photo(partic.Reg)', @error='errPhotoSm')
            li.body-section-container__list__element__container__info
                div.body-section-container__list__element__container__info__flag
                    img.body-section-container__list__element__container__info__flag__img(:src='flag(partic.Org)')
                    p.body-section-container__list__element__container__info__flag__org {{partic.Org}}
                div.body-section-container__list__element__container__info__name
                    p.body-section-container__list__element__container__info__name__text {{partic.Name}}
</template>

<script lang="ts">
import Vue from 'vue';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';

export default Vue.extend({
    name: 'ParticipantMedal',
    mixins: [Images, Utils],
    data() {
        return {
            listDisc: []
        };
    },
    props: ['partic', 'list', 'header']
});
</script>
