<template lang="pug">
.medals
    MainHeader(
        :description='$t("medals.searcher")',
        :backgroundImg='require("@theme/images/backgrounds/sections/medals.jpg")',
        :icon='"fa-md fas fa-medal"'
    )
    b-section(
        :bg='require("@theme/images/backgrounds/sections/medals.jpg")',
        :title='title',
        :loading='loading'
    )
        template(#header)
            p
                span.fa-lg.fas.fa-medal
                |   {{ $t('medals.searcher') }}
        template(#submenu)
            p
                span.fa-lg.fas.fa-medal
                |   {{ $t('medals.searcher') }}

        template(#filters)
            .filters-section
                .filters-menu
                    button.header-section-container-submenu__filters__button(@click='modalfilter = !modalfilter')
                        template(v-if='!modalfilter')
                            i.fas.fa-search
                            span.add-filter {{ $t('filters.title') }}
                        template(v-else-if='modalfilter')
                            i.fas.fa-times
                            span {{ $t('filters.close-filter') }}
                .header-section-container-submenu__filters__modal(:class='{ visible: modalfilter}')
                    ul.header-section-container-submenu__filters__modal__list
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t('filters.date') }}
                            auto-complete(:items='listDays', field='title', @selected='addFilter(selDays,"DAY",$event)', :placeholder='$t("filters.holder")')
                        
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t('filters.noc') }}
                            auto-complete(:items='listNOC', field='Desc', @selected='addFilter(selNOC,"NOC",$event)', :placeholder='$t("filters.holder")')

                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t('filters.disc') }}
                            auto-complete(:items='listDisc', field='Desc', @selected='addFilter(selDisc,"DISC",$event)', :placeholder='$t("filters.holder")')
                        template(v-if='activeFilters')
                            li.header-section-container-submenu__filters__modal__list__filter
                                label.header-section-container-submenu__filters__modal__list__filter__label {{ $t('filters.medal') }}
                                auto-complete(:items='listMetal', field='Desc', @selected='addFilter(selMetal,"",$event)', :placeholder='$t("filters.holder")')
                            li.header-section-container-submenu__filters__modal__list__filter
                                label.header-section-container-submenu__filters__modal__list__filter__label {{ $t('filters.gender') }}
                                auto-complete(:items='listGender', field='Desc', @selected='addFilter(selGender,"",$event)', :placeholder='$t("filters.holder")')
                
                .header-section-container-submenu__filters__selected
                    ul.header-section-container-submenu__filters__selected__list
                        li.header-section-container-submenu__filters__selected__list__filter(v-for='day in selDays')
                            span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeFilter(selDays,"DAY",day)') {{getWeekDayMonth(day.raw)}}
                                i.fas.fa-times
                        li.header-section-container-submenu__filters__selected__list__filter(v-for='noc in selNOC')
                            span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeFilter(selNOC,"NOC",noc)') {{noc.Desc}}
                                i.fas.fa-times
                        li.header-section-container-submenu__filters__selected__list__filter(v-for='disc in selDisc')
                            span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeFilter(selDisc,"DISC",disc)') {{disc.Desc}}
                                i.fas.fa-times
                        li.header-section-container-submenu__filters__selected__list__filter(v-for='item in selMetal')
                            span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeFilter(selMetal, "",item)') {{item.Desc}}
                                i.fas.fa-times
                        li.header-section-container-submenu__filters__selected__list__filter(v-for='item in selGender')
                            span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeFilter(selGender,"",item)') {{item.Desc}}
                                i.fas.fa-times

        template(#body)
            section.medal-disciplines
                ul.medal-disciplines__list
                    li.medal-disciplines__list__disc(v-for='d in medalsDisc')
                        a.medal-disciplines__list__disc__container(href='#', v-scroll-to = "{ el: '#'+d.Disc, container: '#scroll', duration: 700 , offset: -80 }")
                            //- img.medal-disciplines__list__disc__container__img(:src='pictoIcon(d.Disc,"w")')
                            BDisciplineLabel.menu(:disc='d.Disc')

            section.medal-list
                medallists-item(v-for='d in medalsDisc', :key='d.Disc', :value='d')

</template>

<script lang="ts">
// Usar esto para el scroll de disciplina!!!!!
// https://vue-scrollto.netlify.com/docs/#as-a-vue-directive

import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Dates from '@/mixins/dates';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';
import BSection from '@/components/commons/SectionBase.vue';
import AutoComplete from '@/components/commons/Filters.vue';
import MedallistsItem from '@/components/Medals/MedallistsItem.vue';
// BornanUI
import MainHeader from '@/BornanUI/main/BMainHeader.vue';
import { mixins } from 'vue-class-component';

interface Filter {
    _key: string;
    Desc?: string;
}
type FilterType = '' | 'DAY' | 'DISC' | 'NOC';

/* eslint-disable */
@Component({
    components: {
        BSection,
        AutoComplete,
        MedallistsItem,
        MainHeader,
        BDisciplineLabel
    }
})
/* eslint-enable */
export default class SearchMedals extends mixins(Images, Dates, Utils) {
    // Lists
    listDays: Array<Filter> = [];
    listDisc: Array<Filter> = [];
    listNOC: Array<Filter> = [];
    listMetal: Array<Filter> = [];
    listGender: Array<Filter> = [];
    // Selections
    selDays: Array<Filter> = [];
    selDisc: Array<Filter> = [];
    selNOC: Array<Filter> = [];
    selMetal: Array<Filter> = [];
    selGender: Array<Filter> = [];
    // Medallists
    medalsLast: Array<any> = [];
    medalsDisc: Array<any> = [];
    medallist: Array<any> = [];
    //
    modalfilter = false;
    loading = false;
    firstType: FilterType = '';
    //
    get activeFilters() {
        return this.selDays.length + this.selNOC.length + this.selDisc.length;
    }
    get title() {
        if (this.activeFilters == 0 && this.medalsLast.length > 0) return this.$t('medals.latest');
        if (this.medalsLast.length == 0 && this.medalsDisc.length == 0) return this.$t('sections.no-medals');
        if (this.activeFilters != 0 && this.medalsDisc.length == 0) return this.$t('medals.no-results');
        else return '';
    }

    @Watch('$route.params')
    onChangeNOC() {
        this.selDisc = [];
        this.selNOC = [];
        this.setFilter(this.selNOC, 'NOC', false);
        let elem = this.listDisc.find((e: Filter) => e._key === this.$route.params.disc);
        if (elem) this.addFilter(this.selDisc, 'DISC', elem);
        elem = this.listNOC.find((e: Filter) => e._key === this.$route.params.noc);
        if (elem) this.addFilter(this.selNOC, 'NOC', elem);
        elem = this.listMetal.find((e: Filter) => e._key === this.$route.params.metal);
        if (elem) this.addFilter(this.selMetal, '', elem);
        elem = this.listGender.find((e: Filter) => e._key === this.$route.params.gender);
        if (elem) this.addFilter(this.selGender, '', elem);
    }

    //
    // Services to get data
    async created() {
        this.loading = true;
        // Relleno filtros fijos
        this.listMetal.push({ _key: 'ME_GOLD', Desc: this.$t('medal.ME_GOLD').toString() });
        this.listMetal.push({ _key: 'ME_SILVER', Desc: this.$t('medal.ME_SILVER').toString() });
        this.listMetal.push({ _key: 'ME_BRONZE', Desc: this.$t('medal.ME_BRONZE').toString() });
        //
        this.listGender.push({ _key: 'M', Desc: this.$t('gender.M').toString() });
        this.listGender.push({ _key: 'W', Desc: this.$t('gender.W').toString() });
        this.listGender.push({ _key: 'X', Desc: this.$t('gender.X').toString() });

        // También busco las últimas medallas para pintar algo al principio
        const data = await services.link('medal_params');
        let latest = await services.link('medal_latest', 'ALL');
        //
        if (data) {
            this.listDays = this.buildFilter(data.dates, 'raw');
            this.listDisc = this.buildFilter(data.disciplines, 'Disc');
            this.listNOC = this.buildFilter(data.orgs, 'Org');
        }
        //
        if (this.$route.params.disc || this.$route.params.noc) this.onChangeNOC();
        else navData.getFilterMedals(this.selDays, this.selNOC, this.selDisc);
        //
        if (Array.isArray(latest)) {
            latest = latest.sort(this.sortingMedallist);
            this.buildMedalsDisc(this.medalsLast, latest);
        }
        this.setTypeFilter();
        this.loading = false;
    }

    beforeDestroy() {
        navData.setFilterMedals(this.selDays, this.selNOC, this.selDisc);
    }

    buildFilter(col: any[], field: string): Filter[] {
        col.map(e => {
            e._key = e[field];
        });
        return col;
    }

    setTypeFilter() {
        this.firstType = '';
        this.medallist = [];
        this.medalsDisc = this.medalsLast;
        if (this.selDays.length > 0) {
            this.setFilter(this.selDays, 'DAY', true, true);
        } else if (this.selDisc.length > 0) {
            this.setFilter(this.selDisc, 'DISC', true, true);
        } else if (this.selNOC.length > 0) {
            this.setFilter(this.selNOC, 'NOC', true, true);
        }
    }

    sortMedal(medal: string): number {
        switch (medal) {
            case 'ME_GOLD':
                return 1;
            case 'ME_SILVER':
                return 2;
            case 'ME_BRONZE':
                return 3;
            default:
                return 99;
        }
    }

    sortingMedallist(a: any, b: any) {
        let diff = a.DiscDesc.localeCompare(b.DiscDesc, this.$store.getters.language);
        if (diff == 0 && a.Event != b.Event) diff = a.Event < b.Event ? -1 : 1;
        if (diff == 0) diff = this.sortMedal(a.Medal) - this.sortMedal(b.Medal);
        if (diff == 0) diff = a.Order - b.Order;
        return diff;
    }

    treatMedallists(medallistsToAdd: Array<any>) {
        // Check not to insert duplicates!!!
        for (let i = 0; i < medallistsToAdd.length; i++) {
            const curr = medallistsToAdd[i];
            const some = this.medallist.some((e: any) => {
                return e.Disc == curr.Disc && e.Event == curr.Event && e.Medal == curr.Medal && e.Order == curr.Order;
            });
            if (!some) this.medallist.push(curr);
        }
        // Sort medallist on discipline, event, sortMedal, order
        this.medallist.sort(this.sortingMedallist);
    }

    filterMedallists() {
        const filtered: Array<any> = [];
        // Filter medallist
        for (let i = 0; i < this.medallist.length; i++) {
            const curr = this.medallist[i];
            if (
                this.checkFilter(this.selDays, curr.DateRaw.substring(0, 10)) &&
                this.checkFilter(this.selDisc, curr.Disc) &&
                this.checkFilter(this.selNOC, curr.Org) &&
                this.checkFilter(this.selMetal, curr.Medal) &&
                this.checkFilter(this.selGender, curr.Gender)
            )
                filtered.push(curr);
        }
        this.medalsDisc = [];
        this.buildMedalsDisc(this.medalsDisc, filtered);
    }

    buildMedalsDisc(destination: any[], medallists: any[]) {
        // Create structure
        let currDisc: any = {},
            currEvt: any = {};
        for (let i = 0; i < medallists.length; i++) {
            const curr = medallists[i];
            const newDisc: boolean = currDisc.Disc != curr.Disc;
            if (newDisc) {
                currDisc = {};
                currDisc.Disc = curr.Disc;
                currDisc.DiscDesc = curr.DiscDesc;
                currDisc.Events = [];
                destination.push(currDisc);
            }
            if (newDisc || currEvt.Event != curr.Event) {
                currEvt = {};
                currEvt.Event = curr.Event;
                currEvt.EventDesc = curr.EventDesc;
                currEvt.Medals = [];
                currDisc.Events.push(currEvt);
            }
            currEvt.Medals.push(curr);
        }
    }
    //End services

    //#region Day Block
    checkFilter(col: Filter[], key: string): boolean {
        if (col.length == 0) return true;
        return col.some((e: Filter) => e._key === key);
    }
    addFilter(col: Filter[], type: FilterType, elem: Filter) {
        if (!col.some((e: Filter) => e._key === elem._key)) {
            col.push(elem);
            if (type != '') this.setFilter(col, type, true);
            else this.filterMedallists();
        }
    }
    removeFilter(col: Filter[], type: FilterType, elem: Filter) {
        const idx = col.indexOf(elem);
        if (idx >= 0) col.splice(idx, 1);
        //col = col.filter((e:Filter) => e._key !== key)
        if (type != '') this.setFilter(col, type, false);
        else this.filterMedallists();
    }
    async setFilter(col: Filter[], type: FilterType, isAdd: boolean, isReset?: boolean) {
        if (isAdd && this.firstType == '') this.firstType = type;

        if (isAdd) {
            if (this.firstType == type && col.length > 0) {
                if (isReset) {
                    this.loading = true;
                    const pending: number[] = [];
                    for (let i = 0; i < col.length; i++) {
                        pending.push(1);
                        this.fetchMedals(type, col[i]._key).then(
                            medals => {
                                this.treatMedallists(medals);
                                this.filterMedallists();
                                pending.pop();
                                if (pending.length == 0) this.loading = false;
                            },
                            () => {
                                pending.pop();
                                if (pending.length == 0) this.loading = false;
                            }
                        );
                    }
                } else {
                    //Descargo las medallas de ese día
                    const last = col[col.length - 1]._key;
                    this.loading = true;
                    const medals = await this.fetchMedals(type, last);
                    this.treatMedallists(medals);
                    this.loading = false;
                }
            }
            // Aplico el filtro
            this.filterMedallists();
        } else if (this.firstType == type && col.length == 0) this.setTypeFilter();
        else this.filterMedallists();
    }
    async fetchMedals(type: FilterType, last: string) {
        if (type == 'DAY') return services.link('medal_daily', 'ALL', last);
        else if (type == 'DISC') return services.link('medal_discipline', last);
        //else if (type=='NOC')
        return services.link('medal_noc', 'ALL', last);
    }
}
</script>
