.body-section-container__pdf-container {
    margin: 0 auto;
    padding-bottom: 2em;
    &__discipline-unselected {
        font-size: 1em;
        font-style: italic;
        margin: 0.5em 0 0;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: 800;
        color: $color-body-section-container-pdf-container-list;
        font-size: 0.95em;
        &__li {
            @include flex(0 1 100%);
            &:last-child {
                margin-top: 8px;
            }
            &__desc {
                @include display-flex();
                background: $color-primary;
                @include align-items(center);
                @include justify-content(center);
                color: $color-on-primary;
                padding: 7px 7px 7px 7px;
                width: 100%;
                border: none;
                @include transition(all 0.3s);
                &.arrowD {
                    .fa-angle-right {
                        @include transform(rotate(90deg));
                    }
                }
                .fa-angle-right {
                    @include transition(all 0.5s);
                    margin-left: 10px;
                }
            }

            &__medals {
                cursor: pointer;
                margin: 0;
                @include display-flex();
                list-style: none;
                @include flex(1);
                padding: 0px;
                @include justify-content(center);
                @include flex-wrap(wrap);
                @include transition(all 0.5s);
                &.hideD,
                &.hideE {
                    font-size: 0;
                    margin-bottom: 8px;
                    padding: 0;
                    .body-section-container__pdf-container__list__li__medals__medal {
                        border: none;
                        .reports-list {
                            padding: 0;
                        }
                    }
                }

                &__medal {
                    background-color: $color-surface;
                    color: $color-on-surface;
                    @include display-flex();
                    margin: 0.5em;
                    border: 0px solid #aaa;
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    //-background-color: $white;
                    max-width: 100%;
                    @include flex(0 1 100%);
                    height: fit-content;
                }
            }
            .report-phase {
                list-style: none;
                padding: 0;
                margin: 0;
                @include transition(all 0.1s);
                &.hideE {
                    font-size: 0;
                    padding: 0;
                    .report-phase__list {
                        border: none;
                    }
                    .report-unit {
                        margin: 0;
                        padding: 0;
                        &__teams-info {
                            margin: 0;
                        }
                    }
                    .reports-list {
                        padding: 0;
                    }
                    .body-section-container__pdf-container__list__li__medals {
                        img {
                            height: 0;
                        }
                        &__medal {
                            border: none;
                        }
                    }
                }
                &__list {
                    color: $color-on-surface;
                    @include display-flex();
                    margin: 0.5em;
                    border: 0px solid #aaa;
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    max-width: 100%;
                    @include flex(1);
                    &__title {
                        background: $color-body-section-container-pdf-container-list-li-report-phase-list-title-bg;
                        color: $color-body-section-container-pdf-container-list-li-report-phase-list-title;
                        width: 100%;
                        margin: 0;
                        font-weight: 600;
                    }
                    .body-section-container__pdf-container__list__li__medals {
                        @include flex-direction(column);
                        width: 100%;
                        @include flex-wrap(unset);
                    }
                }
            }

            .title {
                background-color: $color-body-section-container-pdf-container-list-li-title-bg;
                color: $color-body-section-container-pdf-container-list-li-title;
                width: 100%;
                margin: 0;
                font-weight: 600;
            }
            .reports-list {
                text-align: left;
                border: 0px solid red;
                @include flex(1);
                margin: 0;
                @include display-flex();
                list-style: none;
                @include justify-content(flex-start);
                @include flex-direction(column);
                padding: 5px 2px;
                &__item {
                    &__desc {
                        color: $color-body-section-container-pdf-container-list-li-reportslist-item-desc;
                        font-weight: 400;
                        &:before {
                            color: red;
                            font-family: $font-awesome;
                            font-weight: 400;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            line-height: 1;
                            margin-right: 5px;
                            content: '\F1C1';
                        }
                    }
                }
            }
        }
    }

    .report-unit {
        background-color: $color-body-section-container-pdf-container-reportunit-bg;
        @include display-flex();
        @include align-items(center);
        @include box-shadow(1px 1px 6px $color-body-section-container-pdf-container-reportunit-boxshadow);
        padding: 5px 2px;
        @include flex-wrap(wrap);
        &__date,
        &__title {
            @include flex(0 1 100%);
            margin: 0;
        }
        &__date {
            font-weight: 400;
        }
        &__title {
            @include display-flex();
            @include align-items(center);
            @include justify-content(center);
            color: $color-body-section-container-pdf-container-reportunit-title;
            img {
                width: 21px;
                margin-right: 3px;
            }
        }

        &__teams-info {
            color: $color-body-section-container-pdf-container-reportunit-teamsinfo;
            @include display-flex();
            @include align-items(center);
            @include justify-content(flex-start);
            margin: 7px 0;
            @include flex(0 1 100%);
            &__medal {
                width: 20px;
            }
            &__players {
                list-style: none;
                padding: 0;
                margin: 0;
                @include display-flex();
                @include flex-direction(column);
                @include align-items(flex-start);
                &__player {
                    @include display-flex();
                    @include align-items(center);
                    &__flag {
                        width: 20px;
                        @include box-shadow(
                            0px 1px 6px
                                $color-body-section-container-pdf-container-reportunit-teamsinfo-players-player-flag-boxshadow
                        );
                        margin: 0 3px 0 8px;
                    }
                    &__noc {
                        color: $color-body-section-container-pdf-container-reportunit-teamsinfo-players-player-noc;
                        margin-right: 9px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .body-section-container__pdf-container {
        &__list__li {
            @include flex(1);
            &__medals__medal {
                @include flex(0 1 50%);
                margin: 0.5em auto;
                max-width: 48%;
            }
        }
        .report-unit {
            &__date,
            &__title {
                @include flex(1);
            }
            &__teams-info {
                @include flex(1);
                margin: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .body-section-container__pdf-container {
        width: 85%;
    }
}
