<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h
                
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    period-resp(
                        v-if='showPeriods',
                        :competitors='competitors', :periods='results.Results.Periods',
                        :show-winner='false'
                    )
                    
                    //-officials(v-if='hasOfficials', :list-officials='officials')
                    period-stats(
                        v-if='results && results.Stats && results.Stats.colStats && results.Stats.showStats && results.Stats.hasStats',
                        :competitors='competitors',
                        :periods='[]',
                        :desc-stats='results.Stats.colStats.teams'
                        )

                    stats-players(
                        v-if='results && results.Stats && results.Stats.colStats && results.Stats.showStats && results.Stats.hasStats',
                        :competitors='competitors',
                        :list-stats='results.Stats.colStats.players'
                        )
        
                    p &nbsp;
        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath
                score-ath(:competitors='competitors', :periods='results.Results.Periods', :type='unitInfo ? unitInfo.Type : "T"', :show-split='true')

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';

import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, periodResp, scoreAth, periodStats, statsPlayers }
})
/* eslint-enable */
export default class BK3Results extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    showPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.showPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.showPeriods =
            value.Results.Periods && value.Results.Periods.length > 0 && value.Results.CurrentPeriod >= 2;
        // Siempre que se acaba un partido el currentPeriod==2, muestro siempre que currentPeriod==2 y tenga resultado
        if (this.showPeriods) {
            const regTime = value.Results.Periods[0];
            this.showPeriods = regTime.ResHome === regTime.ResAway;
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
        // console.log(this.$props.results.Stats.colStats);
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
