<template lang="pug">
BEventCard(:unit='unit', :disc='"ESP"', resultType='h2h',  :show-splits='false', :show-split-winner='false', :bio='bio')

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, h2h, BEventCard }
})
/* eslint-enable */
export default class BK3SchUnit extends Vue {}
</script>
