<template lang="pug">
.b-match-centre
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
    BMatchNocs.no-names(:competitors='competitors', :type='type')
    //-
    template(v-if='hasPeriods')
        BMatchSectionTitle.sticky
            span Periods
        //-BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', :show='"columns"')
        BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', show="rows")

    //-
    template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
        BMatchSectionTitle.sticky
            span Team Statistics
        period-stats(
            :competitors='competitors',
            :periods='results.Results.Periods',
            :display-periods='displayPeriods',
            :desc-stats='results.Stats.colStats.teams'
        ) 
    //-
    template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
        BMatchSectionTitle.sticky
            span Player Statistics
        stats-players(:competitors='competitors', :list-stats='results.Stats.colStats.players')
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, InjectReactive } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import H2HScore from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
//
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchResultsPeriod from '@/BornanUI/components/BMatchResultsPeriod.vue';

/* eslint-disable */
@Component({
    components: {
        officials,
        H2HScore,
        periodResp,
        periodStats,
        statsPlayers,
        Result,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchResultsPeriod
    }
})
/* eslint-enable */
export default class VVOResults extends Vue {
    @Prop({ default: {} })
    results: any;

    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];
    type = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.type = '';
            return;
        }

        this.competitors = value.Competitors;
        //this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.hasPeriods = value.Results.CurrentPeriod && parseInt(value.Results.CurrentPeriod) > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    created() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
