<template lang="pug">
    h2h(v-if='unit && unit.isH2H', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
    
    ath(v-else-if='unit && !unit.isH2H', :unit='unit')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, h2h }
})
/* eslint-enable */
export default class FFSSchUnit extends Vue {}
</script>
