<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        title-unit(:results-res='unitInfo', :show-venue='true', :showCourt='true')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h(v-if='results.Results.ResDetail != ""')
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    span.result-container-animation__value_p_reason(v-if='results.Results.ResDetail != "HIKIWAKE"') WINNER BY {{ results.Results.Sport.Decision }}
                    span.result-container-animation__value_p_reason(v-if='results.Results.ResDetail == "HIKIWAKE"') {{ results.Results.Sport.Decision }}
                    p.result-container-animation__value_p_legend KIKEN: One competitor does not show up, SENSHU: First unopposed point advantage, HANSOKU: Desqualification,
                    p.result-container-animation__value_p_legend-1 SHIKKAKU: Serious Desqualification, HANTEI: Referee's decision & HIKIWAKE: Tie
                    period-resp(v-if='(unitInfo.PhaseDescS.slice(0,3) == "MTK" || unitInfo.PhaseDescS.slice(0,3) == "MSK")', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    period(v-else-if='(unitInfo.PhaseDescS.slice(0,3) != "MTK" || unitInfo.PhaseDescS.slice(0,3) != "MSK")', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    span.result-container-animation__value_p_reason I: Ippon, W: Wazari, Y: Yuko
                    
            .body-section-container_results__disc.body-section-container_results__disc_h2h(v-else)
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    .row(v-if='((unitInfo.PhaseDesc).includes("Team"))')
                        .body-section-container_results__team(v-for='teams, i in competitors')
                            .body-section-container_results__team__title Team {{competitors[i].Name}}:
                                .body-section-container_results__team__competitor(v-for='comp in teams.Members')
                                    span {{ comp.Name }}
                    period-resp(v-if='(unitInfo.PhaseDescS.slice(0,3) == "MTK" || unitInfo.PhaseDescS.slice(0,3) == "MSK")', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    period(v-else-if='(unitInfo.PhaseDescS.slice(0,3) != "MTK" || unitInfo.PhaseDescS.slice(0,3) != "MSK")', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    //-statistic(v-if='stats', :stats='unitStats')
                    //-officials(v-if='hasOfficials', :list-officials='officials')
        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath
                    
                    current-last(
                        v-if='unitInfo.IsLive'
                        :competitors='competitors', :show-diff='false',
                        :current='current', :last='last'
                        )
                    score-ath(
                        :competitors='competitors', :periods='periods',
                        :type='unitInfo ? unitInfo.Type : "T"',
                        :show-diff='false'
                        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/KTE/H2HKaratePeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { titleUnit, officials, scoreh, period, periodResp, scoreAth, currentLast }
})
/* eslint-enable */
export default class KTEResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
