<template lang="pug">
    h2h(v-if='unit && unit.isH2H && (unit.UnitDescS.slice(0,3) == "MTK" || unit.UnitDescS.slice(0,3) == "MSK")', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
    h2hkte(v-else-if='unit && unit.isH2H && (unit.UnitDescS.slice(0,3) != "MTK" || unit.UnitDescS.slice(0,3) != "MSK")', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
    ath(v-else-if='unit && !unit.isH2H', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/KTE/ATHKarate.vue';
import h2hkte from '@/components/DisciplinesMatchCentre/KTE/H2HKarate.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, h2hkte, h2h }
})
/* eslint-enable */
export default class KTESchUnit extends Vue {}
</script>
