<template lang="pug">
.group(v-if='false') 
    .group-table(v-if='value && value.Type!=="GROUP_POOLES"')
        .headers
            span {{ $t('res.group.rank') }}
            span {{ $t('res.group.player') }}
            span(v-for='num,indexN in value.Competitors', :key='indexN') {{ num.Org }}
            span {{ $t('res.group.points') }}
        .player(v-for='competitor,idx in value.Competitors', :key='idx')
            span {{competitor.Rk}}
            span {{competitor.Name}}
            //-span {{competitor.NameS}}
            span(v-for='match,idm in competitor.Matches', :key='idm')
                template(v-if='match != null') M
                template(v-else) x
            span {{competitor.Points}}

    .group-table(v-if='value')
        .headers
            span {{ $t('res.group.rank') }}
            span {{ $t('res.group.player') }}
            span {{ $t('res.group.points') }}
            span {{ $t('res.group.played') }}
            span {{ $t('res.group.won') }}
            span(v-if='showTie') {{ $t('res.group.tied') }}
            span {{ $t('res.group.lost') }}
            template(v-if='showForAgainst')
                span {{ $t('res.group.for') }}
                span {{ $t('res.group.against') }}
        .player(v-for='competitor,indexC in sortByRankPo', :key='indexC')
            span {{competitor.Rk}}
            span {{competitor.Org}}
            span {{competitor.Points}}
            span {{competitor.Played}}
            span {{competitor.Won}}
            span(v-if='showTie') {{competitor.Tied}}
            span {{competitor.Lost}}
            template(v-if='showForAgainst')
                span {{competitor.For}}
                span {{competitor.Against}}
.group(v-else)
    template(v-if='value && value.Type!=="GROUP_POOLES"')
        li.body-section-container__list-info-groups__group.table-responsive
            ul.divTable.table-groups
                li.divTableBody.table-groups__header
                    ul.divTableRow.table-groups__header__tr
                        //- li.divTableCell.table-groups__header__tr__td {{ $t('res.group.draw') }}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.rank') }}
                        li.divTableCell.table-groups__header__tr__td.table-groups__header__tr__td_name {{ $t('res.group.player') }}
                        //- li.divTableCell.table-groups__header__tr__td 
                        //- li.divTableCell.table-groups__header__tr__td(v-for='num,indexN in value.Competitors', :key='indexN')
                            span {{num.Pos}}
                        li.divTableCell.table-groups__body__tr__td(v-for='num,indexN in value.Competitors', :key='indexN')
                            img.mt-1(:src='flag(num.Org)')
                            //-span.visible-sm__inline-block {{num.Name}}
                            //-span.hidden-sm__inline-block {{num.NameS}}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.points') }}
                li.divTableBody.table-groups__body(v-for='competitor,idx in value.Competitors', :key='idx')
                    ul.divTableRow.table-groups__body__tr
                        //- li.divTableCell.table-groups__body__tr__td {{indexC+1}}
                        li.divTableCell.table-groups__body__tr__td {{competitor.Rk}}
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name
                            img(:src='flag(competitor.Org)')
                            span.visible-sm__inline-block {{competitor.Name}}
                            //- span.hidden-sm__inline-block {{competitor.NameS}}
                        //- li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_org {{competitor.Org}}
                        li.divTableCell.table-groups__body__tr__td(v-for='match,idm in competitor.Matches', :key='idm')
                            router-link(v-if='match != null' , :to="{ name: 'disc_results', params: {disc: $route.params.disc, rsc: match.Key} }", class='body-section-container__list-info-groups__group__link')
                                //- .body-section-container__list-info-groups__group__link(v-if='match != null')
                                .table-groups__body__tr__td__two-rows
                                    template(v-if='match.ShowResult')
                                        span.result {{match.Result}}
                                        span.detail(v-if='resDetails[idx][idm]') {{resDetails[idx][idm]}}
                                    template(v-else-if='!match.HideStartDate')
                                        span {{ getWeekDay(match.DateTimeRaw, false) }}
                                        span.detail {{ getHoursMinutes(match.DateTimeRaw) }} 
                                    template(v-else)
                                        span {{ $t('res.brackets.tbd') }}
                            span.empty(v-else)
                        li.divTableCell.table-groups__body__tr__td {{competitor.Points}}
    template(v-if='value')
        li.body-section-container__list-info-groups__group.table-responsive
            ul.divTable.table-groups
                li.divTableBody.table-groups__header
                    ul.divTableRow.table-groups__header__tr
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.rank') }}
                        li.divTableCell.table-groups__header__tr__td.table-groups__header__tr__td_name {{ $t('res.group.player') }}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.points') }}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.played') }}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.won') }}
                        li.divTableCell.table-groups__header__tr__td(v-if='showTie') {{ $t('res.group.tied') }}
                        li.divTableCell.table-groups__header__tr__td {{ $t('res.group.lost') }}
                        template(v-if='showForAgainst')
                            li.divTableCell.table-groups__header__tr__td {{ $t('res.group.for') }}
                            li.divTableCell.table-groups__header__tr__td {{ $t('res.group.against') }}
                li.divTableBody.table-groups__body(v-for='competitor,indexC in sortByRankPo', :key='indexC')
                    ul.divTableRow.table-groups__body__tr
                        li.divTableCell.table-groups__body__tr__td {{competitor.Rk}}
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name.text-center
                            img.table-groups__body__tr__td_name__flag(:src='flag(competitor.Org)') 
                            span.table-groups__body__tr__td_name__org {{competitor.Org}}
                            span.table-groups__body__tr__td_name__text {{(competitor.Name).toLowerCase()}}
                        li.divTableCell.table-groups__body__tr__td {{competitor.Points}}
                        li.divTableCell.table-groups__body__tr__td {{competitor.Played}}
                        li.divTableCell.table-groups__body__tr__td {{competitor.Won}}
                        li.divTableCell.table-groups__body__tr__td(v-if='showTie') {{competitor.Tied}}
                        li.divTableCell.table-groups__body__tr__td {{competitor.Lost}}
                        template(v-if='showForAgainst')
                            li.divTableCell.table-groups__body__tr__td {{competitor.For}}
                            li.divTableCell.table-groups__body__tr__td {{competitor.Against}}

</template>

<script lang="ts">
import { Prop } from 'vue-property-decorator';
import Component, { mixins } from 'vue-class-component';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';

@Component({})
export default class Group extends mixins(Dates, Images) {
    @Prop()
    value!: any;
    @Prop()
    showTie!: boolean;
    @Prop()
    showForAgainst!: boolean;

    get resDetails(): any[] {
        if (this.value) {
            const comps: any[] = this.$props.value.Competitors;
            const dets: any[][] = [];
            for (let i = 0; i < comps.length; i++) {
                const matches = comps[i].Matches;
                const detail = [];
                for (let j = 0; j < matches.length; j++) {
                    if (matches[j] != null) {
                        const result = matches[j].Result;
                        let resDet: string = matches[j].ResDetail;
                        resDet = resDet ? resDet.replace(/ /g, '') : '';
                        if (resDet === result) resDet = '';
                        resDet = resDet.replace(/,/g, ', ');
                        detail.push(resDet);
                    } else detail.push(null);
                }
                dets.push(detail);
            }
            return dets;
        }
        return [];
    }
    get sortByRankPo(): any[] {
        if (this.value) {
            let comps: any[] = this.$props.value.Competitors;
            comps = comps.slice();
            comps = comps.sort((a: any, b: any) => a.RkPo - b.RkPo);
            return comps;
        }
        return [];
    }
    get hasRank(): boolean {
        if (this.value) {
            const comps: any[] = this.$props.value.Competitors;
            let rks = 0;
            for (let i = 0; i < comps.length; i++) rks += comps[i].RkPo;
            return rks == 0;
        }
        return false;
    }
}
</script>

<style scoped lang="scss">
.group {
    border: 0 solid aqua;
    overflow: auto;
    .group-table {
        width: 900px;
        border: 2px solid orange;
        margin: 1rem 0;
        padding: 1rem;
        .headers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.6rem;
        }
        .player {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.6rem;
        }
    }
}
</style>
