$breakpoint-nav-extras: 600px;
$breakpoint-main-desktop: 768px;
/* */
$breakpoint-xlarge: 1140px;
$breakpoint-large: 960px;
$breakpoint-medium: 768px;
$breakpoint-700: 700px;
$breakpoint-600: 600px;
$breakpoint-menuextra: 660px;
$breakpoint-menu: 600px;
$breakpoint-small: 540px;
$breakpoint-small500: 500px;
$breakpoint-xsmall: 430px;
/* */

/* maximo ancho de cajas dentro del contenido MAIN */
$max-width-content-box: 920px;
$max-width-grid: 1024px;

/* estaban en BEventCard */
$breakpoint-beventcard-large: 960px;
$breakpoint-beventcard-nocname: 860px;
$breakpoint-beventcard-noclabel: 700px;
$breakpoint-beventcard-unithour: 768px;
$breakpoint-beventcard-nocsmall: 460px;
