// @use './layout.scss' as *;

@mixin default-size {
    $font-size: 1rem;
    $icon-svg-size: $font-size * 1.8;
    $icon-font-size: $font-size * 2.6;
    $icon-name-svg: $font-size * 5;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
    svg {
        width: $icon-svg-size;
        height: $icon-svg-size;
    }
    &.icon-name {
        svg {
            width: $icon-name-svg;
            height: $icon-name-svg;
        }
    }
}
@mixin small-size {
    $font-size: 0.8rem;
    $icon-svg-size: $font-size * 1.6;
    $icon-font-size: $font-size * 2.6;
    $icon-name-svg: $font-size * 5;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
    svg {
        width: $icon-svg-size;
        height: $icon-svg-size;
    }
    &.icon-name {
        svg {
            width: $icon-name-svg;
            height: $icon-name-svg;
        }
    }
}

@mixin menu-size {
    $font-size: 1.1rem;
    $icon-svg-size: $font-size * 2;
    $icon-font-size: $font-size * 2.6;
    $icon-name-svg: $font-size * 5;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
    svg {
        width: $icon-svg-size;
        height: $icon-svg-size;
    }
    &.icon-name {
        svg {
            width: $icon-name-svg;
            height: $icon-name-svg;
        }
    }
}

@mixin medium-size {
    $font-size: 1.2rem;
    $icon-svg-size: $font-size * 2;
    $icon-font-size: $font-size * 2.6;
    $icon-name-svg: $font-size * 5;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
    svg {
        width: $icon-svg-size;
        height: $icon-svg-size;
    }
    &.icon-name {
        svg {
            width: $icon-name-svg;
            height: $icon-name-svg;
        }
    }
}

@mixin big-size {
    $font-size: 1.4rem;
    $icon-svg-size: $font-size * 2;
    $icon-font-size: $font-size * 2.6;
    $icon-name-svg: $font-size * 5;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
    svg {
        width: $icon-svg-size;
        height: $icon-svg-size;
    }
    &.icon-name {
        svg {
            width: $icon-name-svg;
            height: $icon-name-svg;
        }
    }
}

@mixin b-discipline-label-mediaqueries {
    @media (min-width: $breakpoint-xlarge) {
        @include big-size;
    }
    @media (max-width: $breakpoint-xlarge) {
        @include big-size;
    }
    @media (max-width: $breakpoint-large) {
        @include medium-size;
    }
    @media (max-width: $breakpoint-medium) {
        @include default-size;
    }
    @media (max-width: $breakpoint-small) {
        @include small-size;
    }
}
