<template lang="pug">
li.body-section-container__list-nocs__noc
    router-link(:to='{ name: "countries", params: { noc: value.Key } }')
        .body-section-container__list-nocs__noc__title
            BNocLabel.flag.name(:noc='value.Key', :description='value.Desc')
        p.body-section-container__list-nocs__noc__nath {{ $t("nocs.n-ath") }}
            span {{ value.nAth }}
        p.body-section-container__list-nocs__noc__nteam {{ $t("nocs.n-team") }}
            span {{ value.nTeam }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    components: {
        BNocLabel: () => import(/* webpackChunkName: "BNocLabel" */ '@/BornanUI/BNocLabel.vue')
    },
    props: ['value']
})
export default class Noc extends Vue {
    declare value: {
        Key: string;
        Desc: string;
        nAth: string;
        nTeam: string;
    };
}
</script>

<style scoped lang="scss">
.body-section-container__list-nocs__noc__title {
    .label {
        justify-content: center;
        img {
            border: none;
        }
    }
}
</style>
