<template lang="pug">
.participants-list
    .teams-list(v-show='listType == "teams"')
        template(v-for='(disc, indexD) in filteredList')
            template(v-if='disc.nocs && disc.nocs.length > 0')
                .disc-group(v-if='disc.nocs.some((noc) => noc.participants.teams.length > 0)')
                    .title
                        BDisciplineLabel.start.big.dark(:disc='disc.disc', :description='disc.desc', :key='disc.disc + "_0"')
                        //-span.trigger(@click='openDetails', v-b-toggle='`disc-${indexD}-nocs`')
                            i.fas.fa-angle-up
                    b-collapse.disc-group.noc-group(:id='`disc-${indexD}-nocs`', :visible='true')
                        template(v-for='(noc, indexN) in disc.nocs')
                            .noc-item.noc-team(v-if='noc.participants.teams.length > 0')
                                .team-title
                                    BNocLabel(:noc='noc.noc', :description='noc.desc', :key='disc.disc + "-" + noc.noc')
                                    .team-qty
                                        span  {{ noc.participants.teams.length }} {{noc.participants.teams.length === 1 ? 'team' : 'teams'}} 
                                        span.trigger(@click='openDetails', v-b-toggle='`disc-${indexN}-team`')
                                            i.fas.fa-angle-up
                                b-collapse.team-info(:id='`disc-${indexN}-team`', :visible='true')
                                    template(v-for='(team, i) in noc.participants.teams')
                                        router-link(:to='{ name: "teamsbio", params: { disc: disc.disc, reg: team.Reg } }')
                                            .team-desc.mt-2
                                                div.team-name(v-if='team.EvDesc') {{ team.EvDesc }} 
                                                div.team-name(v-else-if='team.DiscDesc') {{ team.DiscDesc }} 
    .athletes-list(v-show='listType == "athletes"')
        template(v-for='(disc, indexD) in filteredList')
            template(v-if='disc.nocs && disc.nocs.length > 0')
                .disc-group(v-if='disc.nocs.some((noc) => noc.participants.athletes.length > 0)')
                    .title
                        BDisciplineLabel.start.big.dark(:disc='disc.disc', :description='disc.desc', :key='disc.disc + "_0"')
                        span {{ disc.nocs.length }} {{$t('participants.nocs')}}
                        span.trigger(@click='openDetails', v-b-toggle='`disc-${indexD}-nocs`')
                            i.fas.fa-angle-up
                    b-collapse.noc-groups(:id='`disc-${indexD}-nocs`', :visible='true')
                        .noc-group(v-for='(noc, indexN) in disc.nocs')
                            .noc-item
                                .title
                                    BNocLabel(:noc='noc.noc', :description='noc.desc', :key='disc.disc + "-" + noc.noc')
                                    span {{ noc.participants.athletes.length }} {{$t('participants.athletes')}}
                                    span.trigger(@click='openDetails', v-b-toggle='`noc-${indexN}-athletes`')
                                        i.fas.fa-angle-up
                                b-collapse.athletes(:id='`noc-${indexN}-athletes`', :visible='true')
                                    template(v-for='(athlete, i) in noc.participants.athletes')
                                        router-link(
                                            :key='`ath_${i}`',
                                            :to='{ name: "athletesbio", params: { disc: disc.disc, reg: athlete.Reg } }')
                                            BPlayerlabel.list.small(:reg='athlete.Reg', :name='athlete.Name')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BPlayerlabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    props: {
        filteredList: Array,
        listType: String
    },
    components: {
        BDisciplineLabel,
        BNocLabel,
        BPlayerlabel
    }
})
export default class ParticipantsList extends Vue {
    // TO.DO
    // BPlayerLabel debe cargar por defecto el avatar pequeño y asincronamente ir a buscar las imagenes de cada atleta
    // en una vista estandar no se cargan muchas imagenes, pero en Athletes and Temas se cargan miles

    // cambia el estado del boton del collapse
    openDetails(event: any) {
        event.target.classList.toggle('opened');
    }
}
</script>
