<template lang="pug">
section.official__container
    ul.body-section-container__list-info-groups.body-section-container__list-info-groups_officials
        li.body-section-container__list-info-groups__group.table-responsive 
            ul.divTable.table-groups
                li.divTableBody.table-groups__header
                    ul.divTableRow.table-groups__header__tr
                        li.divTableCell.table-groups__header__tr__td {{$t('officials.function')}}
                        li.divTableCell.table-groups__header__tr__td {{$t('officials.country')}}
                        li.divTableCell.table-groups__header__tr__td {{$t('officials.name')}}
                li.divTableBody.table-groups__body(v-for='official,indexC in listOfficials', :key='indexC')
                    ul.divTableRow.table-groups__body__tr
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_func
                            span.text {{ official.FuncDesc }}
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name.text-center
                            img.table-groups__body__tr__td_name__flag(:src='flag(official.Org)')
                            span.table-groups__body__tr__td_name__org {{ official.Org }}
                        li.divTableCell.table-groups__body__tr__td {{ official.Name }}
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import images from '@/mixins/images';

@Component
export default class Officials extends Mixins(images) {
    @Prop()
    listOfficials: any;
}
</script>
