<template lang="pug">
section
    //-h4.official__container__tittle Records
    ul.body-section-container__list-info-groups.body-section-container__list-info-groups_officials
        li.body-section-container__list-info-groups__group.table-responsive 
            ul.divTable.table-groups
                li.divTableBody.table-groups__header
                    ul.divTableRow.table-groups__header__tr
                        li.divTableCell.table-groups__header__tr__td {{ $t("records.record") }}
                        li.divTableCell.table-groups__header__tr__td {{ $t("records.mark") }}
                        li.divTableCell.table-groups__header__tr__td {{ $t("records.holder") }}
                        li.divTableCell.table-groups__header__tr__td
                        li.divTableCell.table-groups__header__tr__td {{ $t("records.date") }}
                li.divTableBody.table-groups__body(v-for='(rec, idx) in records', :key='idx')
                    ul.divTableRow.table-groups__body__tr
                        li.divTableCell.table-groups__body__tr__td {{ rec.Area }} - {{ rec.AreaDesc }}
                        //-
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_function
                            span.divTableCell.table-groups__body__tr__td_function__text {{ rec.Result }}
                        li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name
                            img.table-groups__body__tr__td_name__flag(:src='flag(rec.Org)') 
                            span.table-groups__body__tr__td_name__org {{ rec.Org }}
                        li.divTableCell.table-groups__body__tr__td {{ rec.Name }}
                        li.divTableCell.table-groups__body__tr__td {{ formatDate(rec.DateTime, "DD MMM YYYY") }}
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import images from '@/mixins/images';
import dates from '@/mixins/dates';

@Component({
    props: ['records']
})
export default class Records extends mixins(images, dates) {}
</script>
