<template lang="pug">
.reports(v-if='!reportsUnit || reportsUnit.Reports.length == 0')
    p {{ $t("sections.no-reports") }}
.reports(v-else)
    BSectionTitle.sticky
        span {{ reportsUnit.Desc }}
    //-.body-section-container.body-section-container_sub.container-fluid(v-if='reportsUnit')
    //- h3.body-section-container__title {{ reportsUnit.Desc }}

    ul.list-reports(v-if='reportsUnit.Reports.length > 0')
        li.event(v-for='(rep, idx) in reportsUnit.Reports', :key='idx')
            .content
                .info
                    button.download(@click='downloadPdf(rep.URL, rep.Desc)')
                        i.far.fa-arrow-alt-circle-down
                    span.text {{ rep.Desc }}
                    a.link(:href='rep.URL', target='_blank') 
                        i.fas.fa-expand
                //- pdf.pdf(:src='rep.URL', @num-pages='pageCount = 0', @page-loaded='currentPage = 0')
                .rsc {{ rep.RSC }}
</template>

<script lang="ts">
// import pdf from 'vue-pdf';
import { Component, Vue, Watch } from 'vue-property-decorator';
import services from '@/settings/services';
//
import BSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

@Component({
    props: ['reports'],
    components: { BSectionTitle }
    // components: { pdf, BSectionTitle }
})
export default class ReportsUnit extends Vue {
    currentPage = 0;
    pageCount = 0;
    //
    reportsUnit: any = null;

    downloadPdf(linkPdf: any, namePdf: any) {
        services.downloadPdf(linkPdf, namePdf);
    }

    @Watch('reports')
    setValues(value: any) {
        this.reportsUnit = value;
    }

    mounted() {
        this.setValues(this.$props.reports);
    }
}
</script>
