<template lang="pug">
mixin location
    template(v-if='hasVenueLocDesc && (showVenue || showCourt)')
        .body-section-container_results__title__venue__court(v-if='showVenue')
            i.fas.fa-map-marker-alt
            span {{ resultsRes.VenueDesc }}
        .body-section-container_results__title__venue__court(v-if='showCourt')
            i.fas.fa-street-view
            span {{ resultsRes.LocDesc }}

.body-section-container_results__title
    .unit-info
        .body-section-container_results__title__name
            slot(name='unit-title')
                p.body-section-container_results__title__name__desc {{ resultsRes.EventDesc }}
                p.body-section-container_results__title__name__desc {{ resultsRes.PhaseDescA }}{{ unitDesc }}
            p.body-section-container_results__title__name__date(v-if='resultsRes.DateTimeRaw')
                i.fas.fa-clock
                | {{ getWeekDayMonth(resultsRes.DateTimeRaw) }} / {{ getHoursMinutes(resultsRes.DateTimeRaw) }}
        .body-section-container_results__title__venue.hidden-sm__flex(v-if='hasVenueLocDesc')
            +location
    .status
        .body-section-container_results__title__status.status-unit
            span(:class='resultsRes.Status') {{ resultsRes.StatusDesc }}
                i.far.fa-dot-circle(v-if='resultsRes.IsLive')
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
import Dates from '@/mixins/dates';

export default Vue.extend({
    name: 'UnitTitle',
    props: ['resultsRes', 'showVenue', 'showCourt'],
    mixins: [Dates],
    computed: {
        hasVenueLocDesc(): boolean {
            if (!this.resultsRes) return false;
            return this.resultsRes.VenueDesc.length > 0 && this.resultsRes.LocDesc.length > 0;
        },
        unitDesc(): string {
            const unit = this.$props.resultsRes;
            if (unit && unit.UnitDescA && !unit.isPhase) {
                const isFinal = unit.Phase.substr(21, 4) == 'FNL-';
                if (!unit.isH2H && unit.UnitDescA != unit.PhaseDescA) return ` - ${unit.UnitDescA}`;
                if (unit.isH2H && isFinal && unit.UnitDescA != unit.PhaseDescA) return ` - ${unit.UnitDescA}`;
            }
            return '';
        }
    }
});
</script>
