<template lang="pug">
button.dots(ref='self')
    .dots-col
        .dot
        .dot.tohide
        .dot
    .dots-col
        .dot.tohide
        .dot
        .dot.tohide
    .dots-col
        .dot
        .dot.tohide
        .dot
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class MenuButtonDots extends Vue {
    $refs!: {
        self: HTMLElement;
    };
    toggle() {
        if (this.$refs.self) {
            const dotsNode = this.$refs.self.querySelectorAll('.tohide');
            const dotsToHide = [...dotsNode] as Array<HTMLElement>;
            dotsToHide.forEach((dot: HTMLElement) => {
                dot.classList.toggle('hidden');
            });
        }
    }
}
</script>

<style lang="scss">
$color-dots: $color-secondary;
$color-dots-hover: $white;

button {
    &.dots {
        border: none;
        position: relative;
        background: transparent;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .dots-col + .dots-col {
            margin-left: 3px;
        }
        .dots-col {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dot + .dot {
                margin-top: 4px;
            }
            .dot {
                width: 4px;
                height: 4px;
                border-radius: 100px;
                background-color: $color-dots;
                transform-origin: center;
                transition: opacity 1.3s;
                &.hidden {
                    opacity: 0.1;
                }
            }
        }
    }
    &:hover {
        .dot {
            background: $color-dots-hover;
        }
    }
}
.toggle-menu-right-dots {
    &:hover {
        .dots {
            .dot {
                background-color: $color-dots-hover;
            }
        }
    }
}
</style>
