<template lang="pug">
.panel-menu-right(ref='self')
    .overlay-full-tiles
    .panel-content
        .extras
            Language
            DisplayTimeSimple
        template(v-for='disc in disciplines')
            .panel-item(:key='disc.Key', @click='toggleElements')
                router-link(
                    :to='{ name: page, params: { disc: disc.Key } }',
                    :class='disc.Key === $route.params.disc ? "router-link-active" : ""')
                    BDisciplineLabel.column(:disc='disc.Key', :description='disc.Desc')
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
//
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';
import Language from '@/components/Main/Nav/Language.vue';
import DisplayTimeSimple from '@/components/Main/Nav/DisplayTimeSimple.vue';

@Component({
    components: {
        BDisciplineLabel,
        Language,
        DisplayTimeSimple
    }
})
export default class PanelMenuRight extends Vue {
    @Prop()
    onClickLink: any;
    //
    page = 'discipline' as string;
    disciplines = [] as any;
    $refs!: {
        self: HTMLElement;
    };
    //
    @Watch('$route.name')
    onPropertyNameChanged(value: string) {
        this.calcPage(value);
    }
    toggle() {
        if (this.$refs.self) {
            this.$refs.self.classList.toggle('closed');
        }
    }
    getDisciplines() {
        this.disciplines = this.$store.state.disciplines;
        // console.log(this.disciplines);
    }
    calcPage(value: string | undefined) {
        //console.log('mounted PanelMenu ', 'value:', value);
        if (this.$route.params.disc && value && value.startsWith('disc_') && value != 'disc_results') {
            this.page = value;
        } else {
            this.page = 'discipline';
        }
    }
    toggleElements() {
        // metodo que viene como PROP, se encarga de hacer TOGGLE al menu y su boton
        // cuando haces click en un link
        // el boton debe cambiar de estilo y al panel debe cerrarse
        this.$props.onClickLink();
    }
    mounted() {
        this.getDisciplines();
        if (this.$route.name) this.calcPage(this.$route.name);
    }
}
</script>

<style lang="scss">
$position-top: $navbar-final-height;
$panel-background-color: $color-primary;
$font-color: $white;
$font-color-hover: $color-secondary;
$breakpoint-panel: 666px;
$breakpoint-panel-small: 595px;

.nav-container .panel-menu-right {
    position: absolute;
}
.panel-menu-right {
    position: absolute;
    top: $position-top;
    right: 0;
    width: 66%;
    min-width: 300px;
    height: auto;
    min-height: 100vh;
    background-color: $panel-background-color;
    opacity: 0.92;
    overflow: unset;
    transition: width 0.3s, opacity 1s;

    &.closed {
        width: 1px;
        min-width: 1px;
        opacity: 0;
        overflow: hidden;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        // .panel-content {
        //     .panel-item {
        //         opacity: 0;
        //         flex: 0 0 1px;
        //         min-width: 1px;
        //     }
        // }
    }
    .panel-content {
        margin-top: 1.2rem;
        padding: 2rem 2rem 4rem 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        overflow: auto; /* por si no cabe entero, necesita scroll propio */
        overscroll-behavior: none;
        max-height: calc(100vh - 56px); /* sin fijar el alto, siempre cabe el contenido y nunca hay scroll*/
        .extras {
            display: none;
        }
        .panel-item {
            margin-top: 1rem;
            opacity: 1;
            flex: 0 0 30%;
            min-width: 148px; // esto hace que quepan 3 a partir de 800px
            padding: 0.8rem;
            a {
                color: $font-color;
                font-size: 1.1rem;
                text-decoration: none;
                &:hover,
                &.router-link-active {
                    color: $font-color-hover;
                }
            }
        }
        @media (max-width: 600px) {
            .extras {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                //
                width: 100%;
                margin-right: 2rem;
                margin-bottom: 1rem;
                .languages,
                .datetime {
                    width: max-content;
                }
            }
        }
        @media (max-width: $breakpoint-panel) {
            padding: 1.2rem 1rem 2rem 1rem;
            .panel-item {
                padding: 0.4rem;
                margin-top: 0;
                flex: 0 0 48%;
            }
        }
        @media (max-width: $breakpoint-panel-small) {
            padding: 0rem 1rem 1rem 1rem;
            /* mucho padiing-bottom, para salvar el menu inferior en Safari */
            padding-bottom: 100px;
            .panel-item {
                padding: 0.3rem;
                margin-top: 0;
                a {
                    .b-discipline-label {
                        flex-direction: row;
                        justify-content: flex-start;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
</style>
