$vue-navy: #2c3e50;
$vue-navy-light: #3a5169;
$vue-teal: #42b883;
$vue-teal-light: #42b983;
$gray: #42b983;
$light-gray: #f8f8f8;

.backGroundMagenta {
    // background-image: url('@theme/images/backgrounds/magenta_background.jpg');
    padding: 30px;
    margin-top: 15px;
    p {
        text-align: left;
        font-size: 35px;
        font-weight: 300;
        margin-top: 10px;
        color: white;
        span.strong {
            font-weight: 900;
        }
    }
}

.card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px;
    color: $gray;
}

.card-carousel {
    display: flex;
    justify-content: center;
    width: 85%;

    &--overflow-container {
        overflow: hidden;
    }

    &--nav__left,
    &--nav__right {
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 10px;
        box-sizing: border-box;
        border-top: 4px solid $vue-teal;
        border-right: 4px solid $vue-teal;
        cursor: pointer;
        margin: 0 0px;
        transition: transform 150ms linear;
        &[disabled] {
            opacity: 0.8;
            border-color: white;
        }
    }

    &--nav__left {
        transform: rotate(-135deg);
        &:active {
            transform: rotate(-135deg) scale(0.9);
        }
    }

    &--nav__right {
        transform: rotate(45deg);
        &:active {
            transform: rotate(45deg) scale(0.9);
        }
    }
}

.card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);

    .card-carousel--card {
        margin: 0 5px;
        cursor: pointer;
        box-shadow: 0 4px 15px 0 $color-cardcarouselcards-cardcarouselcard-boxshadow,
            0 2px 2px 0 $color-cardcarouselcards-cardcarouselcard-boxshadow2;
        background-color: $color-cardcarouselcards-cardcarouselcard-bg;
        border-radius: 4px;
        z-index: 3;
        margin-bottom: 2px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        img {
            vertical-align: bottom;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            transition: opacity 150ms linear;
            user-select: none;

            &:hover {
                opacity: 0.5;
            }
        }

        &--footer {
            border-top: 0;
            padding: 7px 15px;

            p {
                padding: 3px 0;
                margin: 0;
                margin-bottom: 2px;
                font-size: 19px;
                font-weight: 500;
                color: $vue-navy;
                user-select: none;

                &:nth-of-type(2) {
                    font-size: 12px;
                    font-weight: 300;
                    padding: 6px;
                    background: rgba(40, 44, 53, 0.06);
                    display: inline-block;
                    position: relative;
                    margin-left: 4px;
                    color: $gray;

                    &:before {
                        content: '';
                        float: left;
                        position: absolute;
                        top: 0;
                        left: -12px;
                        width: 0;
                        height: 0;
                        border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
                        border-style: solid;
                        border-width: 12px 12px 12px 0;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 10px;
                        left: -1px;
                        float: left;
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background: white;
                        box-shadow: -0px -0px 0px #004977;
                    }
                }
            }
        }
    }
}
