.body-section-container {
    &__list-options {
        font-family: $font-tablegroups;
        list-style: none;
        padding: 0;
        &__option {
            &.option-active {
                .body-section-container__list-options__option__button {
                    background-color: $gray3;
                    color: $white;
                    font-weight: 600;
                }
            }
            &__button {
                border: 1px solid $lightGold;
                border-right: none;
                color: $gray3;
                cursor: pointer;
                font-weight: 800;
                letter-spacing: 1px;
                outline: none;
                padding: 3px 8px;
            }
            &:last-child {
                .body-section-container__list-options__option__button {
                    border-right: 1px solid $lightGold;
                }
            }
        }
    }
    &__list-info-groups {
        margin: 1rem 0;
        list-style: none;
        font-family: $font-tablegroups;
        &_officials {
            width: 100%;
        }
        &__group {
            &__link {
                color: $color-groups-result; /*color de los resultados en GRUPOS*/
                text-decoration: none;
                &:hover,
                &:active {
                    color: var(--primary-color);
                }

                .table-groups__body__tr__td__two-rows {
                    color: $color-listinfogroups-group-link-tablegroups_body_tr_td_tworows;
                    line-height: 1em;
                    padding-bottom: 15px;
                    margin-top: 10px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @include flex-wrap(wrap);
                    span {
                        @include flex(0 1 100%);
                        transition: all 0.5s;
                    }
                }

                .table-groups__body__tr__td__two-rows :hover {
                    transform: scale(1.2);
                    color: $color-listinfogroups-group-link-tablegroups_body_tr_td_tworows-hover;
                }
            }
        }
        &_sort {
            margin-top: 3em;
            .table-groups__body__tr__td {
                font-family: $font-groups-sort;
                line-height: 1.5em;
                vertical-align: middle;
            }
        }
    }
}

.text {
    text-align: center;
}

div .table-groups {
    color: $color-tablegroups-general;
    font-family: $font-tablegroups;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    &__header,
    &__body {
        font-family: $font-tablegroups;
        &__tr {
            list-style: none;
            padding: 0;

            &__td {
                //border-radius: 14px 14px 0px 0px;
                position: relative;
                line-height: 2em;

                &_name {
                    text-align: left;
                    margin-bottom: 5px;
                    img {
                        margin-right: 10px;
                    }
                }

                &_func {
                    text-align: center;
                }
            }
        }
    }
    &__header {
        background: $color-table-groups-header-bg;
        &__tr {
            &__td {
                border: none;
                color: $color-table-groups-header-td;
                font-weight: 500;
            }
        }
    }

    &__body {
        font-family: $font-tablegroups;
        &__tr {
            background: $color-surface;
            &__td {
                font-weight: 400;
                color: $color-on-surface;
                span.result {
                    display: inline-block;
                    font-size: 14px;
                    font-family: $font-tablegroups-result;
                }
                span.detail {
                    font-size: 14px;
                    font-weight: 300;
                }
                &_name {
                    white-space: nowrap;
                    vertical-align: middle;
                    span {
                        font-size: 0.95em;
                        margin-left: 4px;
                        text-transform: capitalize;
                        max-width: 99%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        vertical-align: bottom;
                        font-weight: 500;
                    }
                    .table-groups__body__tr__td_name {
                        align-self: flex-start;
                        border: 0px solid red;
                        &__flag {
                            border: 0px solid red;
                            max-height: 17px;
                            vertical-align: middle;
                        }
                        &__org {
                            font-family: $font-tablegroups;
                            border: 0px solid red;
                            font-weight: 500;
                            vertical-align: middle;
                        }
                        &__text {
                            font-family: $font-tablegroups;
                            display: block;
                            border: 0px solid red;
                        }
                    }
                }
                &_org {
                    font-weight: 800;
                    font-size: 0.85em;
                }

                &:first-child {
                    border-left: 0px solid red;
                }
                &:last-child {
                    border-right: 0px solid blue;
                }
            }
        }
    }
    img {
        max-height: 30px;
        min-width: 30px;
    }
    .empty:before {
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}
