.schedule-days {
    @include display-flex();
    @include flex-direction(column);
    margin: 0 auto;
    max-width: 1282px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
    &__subunit {
        background-color: $color-scheduledays-subunit-bg;
        margin-top: 30px;
        &__title {
            margin-top: 30px;
        }
        &__body {
            margin-top: 30px;
        }
        &__match {
        }
    }
    &__list-days {
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(center);
        font-weight: 800;
        list-style: none;
        margin: 0;
        padding: 0;
        &__day + &__day {
            border-left: 1px solid $color-primary-25;
        }
        &__day {
            padding: 0;
            margin: 0;
            &__button {
                font-family: $font-monospace;
                background: transparent;
                color: $color-primary;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                @include align-items(center);
                @include transition(all 0.5s);
                @include flex-direction(column);
                @include display-flex();
                overflow: hidden;
                padding: 0.4rem 0.8rem;
                @media (max-width: $breakpoint-medium) {
                    padding: 0.4rem;
                }

                &:hover {
                    background: $color-secondary-variant;
                    color: $color-primary;
                    .schedule-days__list-days__day__button__day-number {
                        color: $color-primary;
                    }
                }
                &.active {
                    background: $color-secondary;
                    .schedule-days__list-days__day__button__day-number,
                    .schedule-days__list-days__day__button__day-week {
                        color: $white;
                    }
                }
                &__day-week {
                    color: $color-primary;
                    margin: 3px 0;
                    font-size: 0.8rem;
                    @media (max-width: $breakpoint-small) {
                        font-size: 0.6rem;
                    }
                }
                &__day-number {
                    color: $color-primary;
                    font-size: 1.2rem;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    text-align: center;
                    width: 100%;
                    @media (max-width: $breakpoint-small) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &__list-discs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 2em 0;
        padding: 0;
        &__disc + &__disc {
            border-left: 1px solid $color-primary-25;
        }
        &__disc {
            padding: 0.4rem;
            margin: 0;
            color: $color-primary;
            cursor: pointer;
            &:hover {
                background: $color-secondary-variant;
            }
            &__picto {
                background: transparent;
                height: $color-sch-days-disc-picto-h;
                width: $color-sch-days-disc-picto-w;
                padding: 4px;
                @include display-flex();
                &:hover {
                    background: $color-secondary-variant;
                }
                img {
                    height: 100%;
                    width: auto;
                }
                span {
                }
                p {
                    color: $color-scheduledays-listdiscs-disc-picto-p;
                    margin: auto;
                }
            }

            .fill {
                background-color: $color-scheduledays-listdiscs-disc-fill-bg;
            }
        }
    }

    &__list-units-disc {
        list-style: none;
        margin: 0;
        padding: 0;

        &__disc {
            margin: 0.3em 0;
            margin-bottom: 20px;
            &__desc {
                background: $color-schedule-days-list-units-disc-disc-desc-bg;
                //border-radius:14px 14px 2px 2px;
                border: none;
                color: $color-schedule-days-list-units-disc-disc-desc;
                font-size: 1.15em;
                @include transition(all 0.5s);
                line-height: 2em;
                margin: 0 0 7px 0;
                padding: 0px 0;
                position: relative;
                width: 100%;
                img {
                    margin-right: 5px;
                    max-width: 30px;
                    max-height: 30px;
                }
                span {
                    display: inline-block;
                }
                .fa-angle-right {
                    font-size: 0.9em;
                    @include transition(all 0.5s);
                    margin-left: 5px;
                }
                &.closed {
                    .fa-angle-right {
                        @include transform(rotate(90deg));
                    }
                }
            }
            &__units-container {
                padding: 0 2rem;
                @media (max-width: $breakpoint-small) {
                    padding: 0 1rem;
                }
                .info {
                    font-size: 1.1em;
                    margin: 0;
                }
                .loading-container {
                    background-color: $color-scheduledays-listunitsdisc-disc-unitscontainer-loadingcontainer-bg;
                    color: $color-scheduledays-listunitsdisc-disc-unitscontainer-loadingcontainer;
                    display: inline-block;
                    font-size: 1em;
                    @include transition(all 0.5s);
                    width: 67px;
                }
            }
        }
    }
}
