.container-sch-disc {
    width: 100%;
    &__list {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.5rem;
        align-content: center;
        justify-items: stretch;
        gap: 2rem;
        place-content: center;
        padding: 0 2rem;
        margin: 2rem 0;
        &__disc {
            /* caja entera de la discipline */
            @include display-flex();
            @include flex-direction(column);
            width: 100%;
            box-shadow: $color-containerschdisc-list-disc-boxshadow;
            &__link {
                /*cursor: pointer;*/
                outline: none;
                padding: 0;
                margin: 0;
                background-color: $color-containerschdisc-list-disc-link-bg;
            }
            &__title {
                /* caja del titulo de la discipline */
                background: $color-containerschdisc-list-disc-title-bg;
                color: $color-containerschdisc-list-disc-title;
                @include display-flex();
                @include justify-content(center);
                @include align-items(center);
                padding: 0.2rem 0;
                position: relative;
                font-weight: 800;
                &.live {
                    p {
                        padding-right: 20px;
                        > i {
                            animation-duration: 800ms;
                            animation-name: blink;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            color: $live;
                            font-weight: 700;
                            margin-left: 5px;
                            font-size: 15px;
                            @-moz-keyframes blink {
                                from {
                                    opacity: 1;
                                }
                                to {
                                    opacity: 0;
                                }
                            }
                            @-webkit-keyframes blink {
                                from {
                                    opacity: 1;
                                }
                                to {
                                    opacity: 0;
                                }
                            }
                            @keyframes blink {
                                from {
                                    opacity: 1;
                                }
                                to {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }

                &__disc {
                    &__img {
                        width: auto;
                        max-width: 60px;
                        max-height: 60px;
                        //@include border-radius(3px);
                    }
                }
                &__text {
                    margin-left: 7px;
                    p {
                        font-size: 1.2em;
                        margin: 0;
                    }
                }
            }

            &__days {
                padding-bottom: 1rem;
                > p {
                    color: $color-containerschdisc-list-disc-days-p;
                    font-size: 1em;
                    padding: 0.5rem 0;
                }
                &__list {
                    /* la caja que contiene los numeros de dia */
                    list-style: none;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    flex-grow: 1;
                    flex-shrink: 1;
                    gap: 4px;
                    padding: 0 1rem;
                    &__day {
                        min-width: 42px;
                        position: relative;
                        background: $color-containerschdisc-list-day-bg;
                        cursor: pointer;
                        font-size: 1.1em;
                        @include align-items(center);
                        @include display-flex();
                        @include flex-direction(column);
                        padding: 0.4rem;
                        @include transition(all 0.8s);
                        color: $color-containerschdisc-list-day;
                        border: 1px solid $color-containerschdisc-list-day-border;

                        &:hover {
                            transform: scale(1.2);
                            background: $color-schedule-days-list-days-day-button-bg-hover;
                        }
                        .day-week {
                            font-size: 0.6em;
                            font-weight: 100;
                            color: $color-containerschdisc-list-day-dayweek;
                        }
                        .day-number {
                            color: $color-containerschdisc-list-day-daynumber;
                            text-align: center;
                            @include display-flex();
                            @include align-items(center);
                            @include justify-content(center);
                            font-size: 1.4rem;
                            font-weight: 100;
                            padding: 1px;
                            width: 100%;
                        }
                        .fa-medal {
                            position: absolute;
                            top: 5px;
                            margin: 0 auto;
                            font-size: 1.7em;
                            color: $yellowGold;
                            z-index: 0;
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
    }
}
