.schedule-calendar {
    @include display-flex();
    @include flex-direction(column);
    margin: 0 auto;
    max-width: 1282px;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    width: 100%;
    &__dates-container {
        @include display-flex();
        &__dates-list {
            @include flex(1);
            @include display-flex();
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0 0 0 7px; /* coloca la fila de fechas del GRID */
            &_empty {
                @include flex(none);
                margin: 0;
                overflow: hidden;
                .schedule-calendar__dates-container__dates-list_empty__date {
                    min-width: 51px;
                    background: transparent;
                    &.active {
                        background: transparent;
                    }
                }
            }

            &__date {
                background: $color-schedulecalendar-datescontainer-dateslist-date-bg;
                @include display-flex();
                @include flex-direction(column);
                line-height: 26px;
                padding-top: 0.33rem;
                &.active {
                    background: $color-schedulecalendar-datescontainer-dateslist-dateactive-bg;
                    color: $color-schedulecalendar-datescontainer-dateslist-dateactive;
                }
                &.today {
                    background: $color-schedulecalendar-datescontainer-dateslist-datetoday-bg;
                }
                &.today.active {
                    p {
                        //background-color: $lightGold1;
                    }
                }
                &__day {
                    //@include border-radius(0 0 15px 15px);
                }
                &__month {
                    //@include border-radius(15px 15px 0 0);
                }
                p {
                    background-color: $color-schedulecalendar-datescontainer-dateslist-datep-bg;
                    color: $color-schedulecalendar-datescontainer-dateslist-datep;
                    font-size: 14px;
                    line-height: 1.3;

                    @include transition(all 0.1s);
                    margin: 0 auto;
                    width: 54px;
                    &.active {
                        color: $color-schedulecalendar-datescontainer-dateslist-date-pactive;
                    }
                }
            }
        }
    }

    &__disc-dates {
        @include display-flex();
        max-height: 55vh;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        -webkit-overflow-scrolling: touch;
        &__disc-container {
            height: 100%;
            @include flex(1);
            &__disc-list {
                .schedule-calendar__disc-dates__disc-container__disc-list__disc {
                    min-width: 51px;
                    width: 51px;
                    @include justify-content(center);
                }
                &__disc {
                    // background-color: $lightBlue1;
                    background: $color-grid-disc-gradient;
                    border: none !important;
                    //border-radius: 20px 20px 0px 20px;
                    color: $white;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 16px;
                    height: 51px;
                    @include flex(1);
                    @include display-flex();
                    @include align-items(center);
                    margin: 10px 0px;
                    min-width: 187px;
                    outline: none;
                    &__picto {
                        max-height: 40px;
                        max-width: 40px;
                        width: auto;
                    }
                    &.active {
                        background: $color-grid-disc-gradient-active;
                        color: white;
                    }
                    &.today {
                        background-color: $today-color;
                    }
                    &.today.active {
                        background-color: $lightBlue1;
                    }
                    a {
                        color: $color-schedulecalendar-discdates-disccontainer-disclist-disc-a;
                        text-transform: uppercase;
                        @include display-flex();
                        @include justify-content(center);
                        @include align-items(center);
                        &:hover {
                            color: $color-schedulecalendar-discdates-disccontainer-disclist-disc-ahover;
                        }
                    }
                    i {
                        animation-duration: 800ms;
                        animation-name: blink;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        color: $color-schedulecalendar-discdates-disccontainer-disclist-disc-i;
                        font-weight: 700;
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    p {
                        margin: 0;
                        padding-right: 10px;
                        line-height: 16px;
                    }
                }
            }
        }

        &__days-container {
            @include type-content('h', 'min');
            @include display-flex();
            @include flex-direction(column);
            margin-top: 0%;
            overflow-x: auto;
            overflow-y: hidden;
            margin-left: 7px;
            width: 100%;
            &__days {
                @include display-flex();
                margin: 0;
                .active {
                    background: $color-grid-day-gradient-active; // #a59968
                }
                .today {
                    background-color: $today-color;
                }
                .today.active {
                    background-color: $lightGold;
                }
                &__day {
                    background-color: $color-schedulecalendar_dayscontainer-days-day-bg;
                    height: 36px;
                    @include flex(1);
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    //@include border-radius(19px);
                    margin: 11px 0 0 4px;
                    &__event {
                        @include border-radius(50%);
                        background-color: $color-schedulecalendar_dayscontainer-days-day-event-bg;
                        width: 15px;
                        height: 15px;
                    }
                    &__medal-event {
                        .fa-medal {
                            color: $color-schedulecalendar_dayscontainer-days-day-medalevent-famedal;
                        }
                    }

                    &__cer {
                        max-height: 43px;
                    }
                    p {
                        @include display-flex();
                        @include justify-content(center);
                        @include align-items(center);
                        margin: 0;
                    }
                    &.active {
                        background: $color-schedulecalendar_dayscontainer-days-day-active;
                    }
                    &.no-active {
                        background: $color-schedulecalendar_dayscontainer-days-day-noactive;
                    }
                    &.hasEvent {
                        background: $color-schedulecalendar_dayscontainer-days-day-hasEvent-bg;
                        &:hover {
                            background: $color-schedulecalendar_dayscontainer-days-day-hasEvent-bg-hover;
                        }
                    }
                }
            }
        }
    }

    &__legends {
        margin: 5px 0 5px;
        &.schedule-calendar__legends_disc-view {
            margin: 1em;
        }
        &__list {
            @include display-flex();
            @include justify-content(flex-end);
            @include flex-direction(column);
            list-style: none;
            margin: 0;
            .schedule-calendar__legends__list__legend {
                @include flex(none);
                min-height: auto;
                margin-right: 22px;
            }
            &__legend {
                &__info {
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    margin: 3px 0;
                    i {
                        animation-duration: 800ms;
                        animation-name: blink;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        color: $live;
                        font-weight: 700;
                        margin-right: 4px;
                        @-moz-keyframes blink {
                            from {
                                opacity: 1;
                            }
                            to {
                                opacity: 0;
                            }
                        }
                        @-webkit-keyframes blink {
                            from {
                                opacity: 1;
                            }
                            to {
                                opacity: 0;
                            }
                        }
                        @keyframes blink {
                            from {
                                opacity: 1;
                            }
                            to {
                                opacity: 0;
                            }
                        }
                    }
                    &__span {
                        height: 15px;
                        @include border-radius(50%);
                        margin-right: 5px;
                        width: 15px;
                        &_today {
                            background-color: $color-schedulecalendar_dayscontainer-legends-list-legend-info-span-today-bg;
                        }
                        &_competition {
                            background-color: $color-schedulecalendar_dayscontainer-legends-list-legend-info-span-competition-bg;
                        }
                        &_live {
                            background-color: $color-schedulecalendar_dayscontainer-legends-list-legend-info-span-live-bg;
                        }
                    }
                    &__icon {
                        color: $color-schedulecalendar_dayscontainer-legends-list-legend-info-icon;
                        font-size: 1.1em;
                        margin-right: 3px;
                    }
                }
                &:last-child {
                    margin-right: 7px;
                }
            }
        }
    }

    ul {
        border: none;
        list-style: none;
        padding: 0;
    }
    li {
        @include flex(1);
        @include transition(all 0.1s);
        min-height: 50px;
        min-width: 60px;
        &.hasEvent {
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {
    .schedule-calendar {
        &__dates-container__dates-list_empty .schedule-calendar__dates-container__dates-list_empty__date {
            min-width: 187px;
        }
        &__disc-dates {
            //max-height: calc(100vh - 175px); No sé xq Edu dejó esto así...¿para q se vea la leyenda?
            max-height: unset;
            &__disc-container__disc-list .schedule-calendar__disc-dates__disc-container__disc-list__disc {
                @include justify-content(flex-start);
                min-width: 187px;
                width: auto;
                &__picto {
                    margin-left: 3px;
                    margin-right: 0px;
                }
            }
        }
        &__legends {
            &__list {
                @include flex-direction(row);
            }
        }
        li {
            //min-width: 96px;
            margin-left: 6px;
        }
    }
}
