@import './_disciplines.scss';
@import './_discipline-calendar.scss';
@import './_days-calendar.scss';

.body-section-container_selector.type-two > .btn-group {
    margin: 8px;
    @include box-shadow(1px 1px 6px $gray1);
    @include border-radius(5px);
    overflow: hidden;
    .btn.selector {
        border: none;
        background-color: $lightGold;
        color: $gray4;
        font-weight: 800;
        min-width: 80px;
        opacity: 0.8;
        outline: none;
        padding: 3px 8px;
        text-transform: uppercase;
        z-index: 0;
        i {
            margin-right: 3px;
        }
        &:hover,
        &:active {
            opacity: 1;
            cursor: pointer;
        }
        &.active {
            background-color: $lightBlue1;
            color: $white;
            cursor: text;
            opacity: 1;
        }
    }
}

.disclaimer {
    background-color: $color-disclaimer-bg;
    margin-bottom: 11px;
    padding: 1em;
    text-align: left;
    width: 100%;
}

@media (min-width: 768px) {
    .disclaimer {
        width: 70%;
    }
    .body-section-container_selector.type-two > .btn-group {
        .btn.selector {
            min-width: 115px;
        }
    }
}
