<template lang="pug">
h3 All Disciplines Unit Components
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class AllDiscsUnits extends Vue {}
</script>

<style lang="sass" scoped></style>
