body {
    font-family: 'Fira Sans';
    background-image: url(../img/white_background.772eb29e.jpg);
    background-size: cover;
    background-position: 50% -151.889px;
    background-repeat: repeat;
}

.fill {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

.body-section-container__404.backgroundError {
    background-image: url(../img/plug.4e712825.png);
    background-position: 0 80px;
    background-repeat: no-repeat;
}
.body-section-container__404 {
    text-align: center;
    width: 60%;
    min-height: 530px;
    padding-top: 6em;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .body-section-container__404 {
        width: 100%;
    }   
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p.sorry {
    font-size: 21px;
    font-weight: 300;
}
p.not-found {
    color: #333;
    font-size: 65px;
    font-weight: 800;
}

.logo {
    max-width: 90%;
    max-height: 152px;
}

a {
    text-decoration: none;
}

.b-to-home {
    background-color: #f05f8e;
    color: #f0f0f0;
    font-weight: 800;
    font-size: 1em;
    display: inline-block;
    -webkit-box-shadow: 0 2px 6px #7c7c7c;
    box-shadow: 0 2px 6px #7c7c7c;
    border-radius: 5px;
    min-width: 100px;
    margin: .5em 0 .2em;
    padding: 10px 18px;
    white-space: nowrap;
    width: auto;
}
.b-to-home i {
    margin-right: 4px; 
}
.b-to-home:hover {
    -webkit-transform: scale(1.05) "" "";
    transform: scale(1.05);
    -webkit-box-shadow: 0 2px 8px #333;
    box-shadow: 0 2px 8px #333;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#gear1, #gear2, #gear3 {
    color: #888;
    display: block;
    float: left;
    position: absolute;
}
            
#gear1 {
    top: 45px;
}
            
#gear2 {
    left: 60px;
}

#gear3 {
    top: 45px;
    left: 110px;
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.spin-back {
    -webkit-animation:spin-back 4s linear infinite;
    -moz-animation:spin-back 4s linear infinite;
    animation:spin-back 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }