<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="keywords" content="schedule results medal games sports kuwait">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Kuwait 2022 - Web Results by Bornan</title>
    <meta property="og:title" content="Kuwait 2022" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://results.kuwait2022.bornan.net/" />
    <meta property="og:image" content="https://awbg2019.s3.eu-west-2.amazonaws.com/meta/meta-org-awbg.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="211">
    <meta property="og:image:alt" content="Kuwait 2022 - Bornan">
    <meta property="og:site_name" content="Bornan">
    <meta property="og:description" content="Web Results of the 3rd GCC Games Kuwait 2022, powered by Bornan">
    <meta name="description" content="Web Results of the 3rd GCC Games Kuwait 2022, powered by Bornan">
    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"></meta>
    <!-- no-cache only for development -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but Bornan Web Results doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
