<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="schedule results medal africans games june 2019">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Bornan Web Results</title>
    <meta property="og:title" content="AWBG 2019" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://results.awbg2019.bornan.net" />
    <meta property="og:image" content="https://awbg2019.s3.eu-west-2.amazonaws.com/meta/meta-org-awbg.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="211">
    <meta property="og:image:alt" content="AWBG 2019 - Bornan">
    <meta property="og:site_name" content="BORNAN">
    <meta property="og:description" content="Web Results of 1st World Beach Games 2019, powered by Bornan.">
    <meta name="description"        content="Web Results of 1st World Beach Games 2019, powered by Bornan.">
    <style>
        p {
            font-family: "Roboto";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            text-transform: none;
            line-height: 26px;
            letter-spacing: 0px;
            color: #595959;
        }
    </style>
  </head>
  <body>
    <!-- built files will be auto injected -->
    <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><strong>LEGAL NOTICE</strong></p><p>Welcome to BORNAN SPORTS TECHNOLOGY.</p><p>We appreciate that you have decided to visit us. We want you to have the best experience possible on the site and that’s why we’ve written these conditions in the most transparent way possible. And we’ve used bold text to highlight everything we consider important to make sure you don’t miss anything.</p><p>To access our services, you confirm that you are of legal age and have the legal capacity to act in accordance with the law.</p><p>Access and browsing this website, or use of its services, implies the express and complete acceptance of each and all of these General Conditions, including the Specific Conditions set for certain promotions and the Privacy and Cookies Policies, relating to the purposes of processing the data you provide us with. We recommend that you please read them carefully.</p><p>The use of and access to <a href="http://www.bornan.net">www.bornan.net</a> shall be free of charge, without prejudice to the cost of the telecommunications network connection to which the user has access.</p><p>Although this website does not contain any information not suitable for minors, the user must be of legal age and declare to be so under their own responsibility, and have legal capacity to operate on the website. The user declares that they are economically responsible for all their actions.</p><p>By accessing the website, the user declares that all the information they provide is truthful and exact, without limitations, reservations or falsehoods and, similarly, is obliged to ensure that all the information provided is kept up to date, the user being the only party responsible for erroneous, false or inexact information. The user declares that the coupons issued through this website shall only be used to make legitimate printed copies for their own use or that of a duly authorized third party.</p><p>&nbsp;</p><p><strong>1.- Legal Information.</strong></p><p>In accordance with Law 34/2002 of 11 July on the Information Society and Electronic Commerce, the data provided by the owner of the Website <a href="http://www.bornan.net">www.bornan.net</a> are:</p><p>BORNAN SPORTS TECHNOLOGY</p><p>B 87915419</p><p>C/ Juan Esplandiu 11, planta 4, 28007, Madrid.</p><p>&nbsp;</p><p>For any question or enquiries, you may contact us at __________</p><p>&nbsp;</p><p>Access to <a href="http://www.bornan.net">www.bornan.net</a> entails the express acceptance by the User of these General Conditions of Use, which may be modified or substituted by the Owner at any time without prior notice.</p><p>&nbsp;</p><p><strong>2.- General Conditions of Use.</strong></p><p>The following General Conditions govern use of and access to the Website <a href="http://www.bornan.net">www.bornan.net</a> , the purpose of which is a gateway to BORNAN SPORTS TECHNOLOGY offering users information, services and Web content. Through the website, the User has access to information about our services, products, tools and applications and different information which may be of interest.</p><p>The data and information about services, prices and characteristics or other relevant data offered through the website are made, provided and updated by BORNAN SPORTS TECHNOLOGY and by Suppliers and third party companies. In relation to the information of third party companies and suppliers, BORNAN SPORTS TECHNOLOGY is not, in any way, responsible for the data or information provided to users and available on the website <a href="http://www.bornan.net">www.bornan.net</a> nor does it assume any obligation with regard to same.</p><p>The user agrees to make appropriate use of the contents, services, applications and tools accessible through www.bornan.net, subject to the Law and the these General Conditions of Use and, where applicable, the Specific conditions that may be established for access to certain services and applications, respecting other users of same at all times.</p><p>In the case of complete or partial non-compliance on the part of the User of these General Conditions of Use, BORNAN SPORTS TECHNOLOGY reserves the right to deny access to www.bornan.es with no prior notice to the User.</p><p>&nbsp;</p><p><strong>3.- General User Obligations.</strong></p><p>The User is obliged to make correct use of this page, its services and contents, without contravening fundamental rights, current legislation, good faith, generally accepted uses, public order and the specific conditions for certain services. Any use for illicit purposes or that places at risk the rights of BORNAN SPORTS TECHNOLOGY and its owners or a third party or that, in any way, harms the normal functioning of the page or an of the IT equipment or documents or contents of any kind therein, is prohibited. The User, upon accepting these General Conditions of Use, is expressly obliged to:</p><p>– Not complete any action intended to harm, block, damage, render useless or overload, on a temporary or permanent basis, the functionalities, tools, contents and/or infrastructure of the website, in such a way to prevent its normal use.</p><p>– Care for and maintain the confidentiality of the login details associated with their Username, being responsible for the use of said personal login details which are not transferable to third parties.</p><p>– Not introduce or produce contents that are offensive or slanderous either to other users or third party companies not related to BORNAN SPORTS TECHNOLOGY.</p><p>– Not use any material or information contained on the Web Site for illicit purposes and those expressly prohibited by these General Conditions of Use, such as the specific conditions which, where applicable, are established by certain applications and/or utilities and that are contrary to the rights and interests of BORNAN SPORTS TECHNOLOGY, their users and/or third parties.</p><p>– Not offer or distribute products or services, nor perform publicity or unsolicited commercial communication with other Users and visitors to BORNAN SPORTS TECHNOLOGY.</p><p>– Not perform any action of any kind that damages the reputation of BORNAN SPORTS TECHNOLOGY or third parties, or where applicable constitutes illegal, misleading or false advertisement or unfair competition in general.</p><p>– Not introduce any virus or other physical or electronic element that may damage or impede the normal functioning of the network, the system or IT materials of BORNAN SPORTS TECHNOLOGY or third parties, or that may damage electronic documents or files stored on such equipment.</p><p>&nbsp;</p><p><strong>4.- Intellectual and Industrial Property.</strong></p><p>The website <a href="http://www.bornan.net">www.bornan.net</a>, the pages that comprise it and the information or contents of same (including, but not limited to, texts, documents, photographs, drawings, graphic representations, reports, sound files and/or images, designs, source code and object code of BORNAN SPORTS TECHNOLOGY, among others), or logos, trademarks, commercial names or other distinctive symbols are protected by intellectual or industrial property rights of BORNAN SPORTS TECHNOLOGY or for which it holds authorisation for their use and public communication of the legitimate ownership of same.</p><p>The User is obliged to use content in a diligent and correct manner, in accordance with law, morality and public order. BORNAN SPORTS TECHNOLOGY authorizes the User to view the information contained on the website, and to make private reproductions (the simple act of downloading and storing on their IT systems), provided that the elements are destined only for personal use. Under no circumstances shall this constitute an authorisation or licence regarding the property rights of BORNAN SPORTS TECHNOLOGY or of the legitimate owners of same. The User is not authorised to proceed to distribute, modify, disclose or publicly communicate the information contained on the Website in any way or for any purpose.</p><p>&nbsp;</p><p><strong>5.- Links.</strong></p><p>The connections and links to sites or Web pages of third parties have been established for the use of the User only.</p><p>Under no circumstances shall BORNAN SPORTS TECHNOLOGY be held responsible for same or their content. BORNAN SPORTS TECHNOLOGY assumes no responsibility arising from the existence of links between the content of this website and contents located outside same or any other mention of content external to this site. Such links or mentions have an exclusively informative purpose and, in no case, do they imply the support, approval, commercialization or any connection whatsoever with BORNAN SPORTS TECHNOLOGY and the persons or author entities and/or administrators of such contents or the owners of the websites where they are to be found.</p><p>To provide links to the Website www.bornan.net the express and written authorization of the website owners is required; and, in the event of approval, the following conditions must be fulfilled: Any hyperlink to the website of BORNAN SPORTS TECHNOLOGY must direct to its homepage or the main pages of sections contained therein. Under no circumstances shall the reproduction of the services and contents of the website of BORNAN SPORTS TECHNOLOGY be permitted.</p><p>The website on which the hyperlink is hosted shall not contain any illegal information or contents contrary to morality, good conduct or public order, nor shall it provide any content contrary to the rights of third parties. It shall not include any false, inexact or incorrect declaration in relation to pages of the website of BORNAN SPORTS TECHNOLOGY, nor the services or contents of same. No deep links, IMG or image links, nor frames with the pages of the BORNAN SPORTS TECHNOLOGY website shall be provided without the express authorisation of BORNAN SPORTS TECHNOLOGY. Except those symbols that form part of the hyperlink, the web page providing the link shall not contain any brand, brand name, label, denomination, logo, slogan or other distinguishing signs belonging to BORNAN SPORTS TECHNOLOGY except where express authorisation is provided for same. The provision of a hyperlink does not imply any direct relationship between BORNAN SPORTS TECHNOLOGY and the owner of the website or portal providing the link nor that BORNAN SPORTS TECHNOLOGY has authorised the link or supervised, is aware of or has accepted and assumed the services and contents offered by said website.</p><p>&nbsp;</p><p><strong>6.-Responsibility.</strong></p><p>BORNAN SPORTS TECHNOLOGY does not guarantee continued access nor the correct visualization, download or use of elements or information contained on the pages of the www.­­bornan.net portal which may be impeded, obstructed or interrupted due to factors or circumstances beyond its control, nor those caused by the existence of computer viruses on the internet.</p><p>BORNAN SPORTS TECHNOLOGY assumes no responsibility for damages, losses, claims or expenses arising from:</p><p>(i) Interference, interruptions, failures, omissions, delays, blockages or disconnections caused by errors in telecommunications lines and networks or by any other issue beyond the control of BORNAN SPORTS TECHNOLOGY.</p><p>(ii) Unlawful interference through the use of malignant programs of any kind or through the use of any media such as computer viruses or any others.</p><p>(iii) Misuse or inappropriate use of the website www.bornan.net of BORNAN SPORTS TECHNOLOGY.</p><p>(iv) Failure to comply with the expectations of users in relation to the website and/or its provisions or contents.</p><p>(v) The reception, acquisition, storage and dissemination on the part of users of the contents; its unlawful, negligent or fraudulent use contrary to these conditions, to good faith and generally accepted good conduct or public order.</p><p>(vi) Security or browsing errors caused by the poor functioning of the browser or by the use of previous versions that are not up to date. BORNAN SPORTS TECHNOLOGY expressly informs users that in no case and under no circumstances shall BORNAN SPORTS TECHNOLOGY be held responsible for the economic content (discounts) or benefits provided in third-party discount coupons/vouchers provided, for which the Companies / Manufacturers of the products are exclusively responsible, who issues and makes available to BORNAN SPORTS TECHNOLOGY said promotions, offers and/or discounts/benefits for its users. BORNAN SPORTS TECHNOLOGY shall, under no circumstances, be held liable by users or third parties for the acts of any third party external to BORNAN SPORTS TECHNOLOGY which may involve acts of unfair competition or unlawful advertising or the infringement of intellectual or industrial property rights, company secrets or contractual commitments of any kind or rights to reputation, personal and family intimacy and image, of property rights of all other kind held by the third party by way of transmission, dissemination, storage, provision, reception of, obtaining or access to the contents.</p><p>&nbsp;</p><p><strong>7.- Personal Data Protection</strong></p><p>The policy for the processing of personal data can be found in the Privacy Policy, which forms an integral part of these General Conditions but which, for the sake of simplicity, we have placed in the separate document: Privacy Policy.</p><p>&nbsp;</p><p><strong>8.-Legislation.</strong></p><p>This Legal Notice and its terms and conditions shall be governed and interpreted in accordance with Spanish legislation. The user, in the act of accessing the website www.bornan.net or registering as a user, irrevocably, expresses their acceptance that the relevant competent Courts may be informed of any legal action arising from or relating to these conditions, or with the use or browsing of this website.</p><p>In the event of any dispute or conflict that may arise from the interpretation of, or compliance with, this Legal Notice, shall be resolved before the Courts and Tribunals of Alicante, Spain. If any clause or section of the General Conditions, not essential for the existence of same, is declared void or unenforceable, the validity of the remaining clauses shall not be affected.</p></div></div>
  </body>
</html>