.body-section-container {
    &.bracket {
        margin: 0 auto;
        width: calc(100% - 47px);
    }
    /* &.body-section-container{
        padding-right: 0;
    } */
    #bornanBrackets {
        float: left;
        width: 100%;
        padding-bottom: 2rem;
    }
    .brackets-display {
        float: left;
        overflow: hidden;
        width: 100%;

        .phaseSelection {
            .pagination {
                @include align-items(center);
                @include justify-content(center);
                margin: 1em 0 0;

                .page-item {
                    font-weight: bold;
                    @include flex(1);

                    .page-link {
                        background-color: $color-bracketsdisplay-phaseSelection-pagination-pagelink-bg;
                        border-radius: 0px;
                        color: $color-bracketsdisplay-phaseSelection-pagination-pagelink;
                        padding: 0;
                    }
                    &.prev,
                    &.next {
                        //background-color: #c4b888;
                        border-bottom: 0;
                        font-weight: 600;
                        text-align: center;
                        border-right: 0;
                        border-radius: 0px;
                        border-top: 0;
                        font-family: $font-monospace;
                        @include flex(inherit);
                        z-index: 1;
                        .page-link {
                            height: 20px;
                            width: 20px;
                            background-color: $color-bracketsdisplay-phaseSelection-pagination-nextpagelink-bg;
                            border: 0px solid $color-bracketsdisplay-phaseSelection-pagination-nextpagelink-border;
                            margin: 1px;
                        }
                    }
                }
            }
        }

        .bracketItems {
            float: left;
            width: 100%;
            div.jQBracket {
                float: left;
                width: 100%;
                .teamContainer {
                    &__seed {
                        background-color: $color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed-bg;
                        color: $color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed;
                    }
                    &__date {
                        /* FECHAS del partido */
                        &:not(.notTime) {
                            border: 1px solid transparent;
                            background: transparent;
                            color: $color-on-background;
                            margin: 0;
                            padding: 0.2rem 0;
                        }
                        &.notTime {
                            background-color: $color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime-bg;
                            min-height: 22px;
                        }
                    }
                    .doubles-team {
                        display: inline-block;
                        //float: left;
                        overflow: hidden;
                        padding-left: 3px;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        white-space: nowrap;
                    }
                    .team {
                        &.lose {
                            //background-color: rgba(211, 197, 144, 0.47);
                        }
                        &.win {
                            //background-color: #d3c590;
                        }
                        &.doubles {
                            height: 46px;
                            .label {
                                height: auto;
                            }
                            .score {
                            }
                        }
                    }
                }
                .connector {
                    //border-color:#d3c590;
                    div.connector {
                        //border-color:#d3c590;
                    }
                }
                .team div.label {
                    font-weight: 400;
                    font-size: 1.1em;
                    line-height: 1.2;
                }

                // efecto hover sobre todo el fondo de la ronda ???
                // @for $i from 0 to 8 {
                //     .round-#{$i} {
                //         $j: $i + 1;
                //         @include transition(all 0.5s);
                //         .round:nth-child(#{$j}):before {
                //             background-color: orange;
                //             content: '';
                //             display: block;
                //             height: 100%;
                //             position: absolute;
                //             right: -30px;
                //             width: calc(100% + 30px);
                //         }
                //     }
                // }
            }

        }
    }
}
