.body-section-container {
    min-height: 8em;
    height: auto;
    position: relative;
    margin-bottom: 3rem;
}

p {
    margin: 0;
}

.fill-submenu {
    height: 100%;
    position: relative;
    width: 100%;
}

.fill-width {
    //width: 100%;
    width: calc(100% - 48px);
}

.t-skewX {
}

.t-skewX-x {
}

.d-flex-1 {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
}

div.tooltip {
    opacity: 1;
}

.b-loading {
    background-color: $color-secondary;
    color: $white;
    font-size: 1em;
    display: inline-block;
    min-width: 100px;
    margin: 0.5em 0 0.2em;
    padding: 0.5rem 1rem;
    position: fixed;
    top: calc(60px + var(--ios-safe-area-top));
    right: calc(10px + var(--right-menu-width));
    white-space: nowrap;
    width: auto;
    z-index: 1099;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .fa-spinner {
        margin-right: 4px;
    }
    &_z-top {
        z-index: 1;
    }
}

.pointer {
    cursor: pointer;
}

@media (min-width: 576px) {
    .fluid .container {
        max-width: 100%;
    }
}

.rotateM {
    @include transform(rotate(0deg));
}
.rotateL {
    @include transform(rotate(-90deg));
}
.rotateR {
    @include transform(rotate(90deg));
}

.gold-gradient {
    background: $color-gold-gradient;
}

@media (min-width: 992px) {
    .fill-submenu {
        height: calc(100% - 140px - 39px);
    }
}
