//End Animations
@mixin animation($animation){
    -webkit-animation :$animation;
    -moz-animation:$animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin border-radius($value){
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin box-shadow($top, $left:'', $blur:'', $color:'', $inset: '') {
    -webkit-box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
    -moz-box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
    box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
}

@mixin box-sizing($val){
    -webkit-box-sizing: $val;
    -moz-box-sizing: $val;
    box-sizing: $val;
}

@mixin gradient-background( $degrees, $first-color, $first-color-position, $second-color, $second-color-position, $third-color: none, $third-color-position: none, $fourth-color: none, $fourth-color-position: none){
    background: $first-color;
    @if($third-color == none){
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
    }@else if($fourth-color == none){
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color), color-stop($third-color-position, $third-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
    }@else{
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color), color-stop($third-color-position, $third-color), color-stop($fourth-color-position, $fourth-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
    }
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$first-color}, endColorstr= #{$second-color}, GradientType=0 );
}

@mixin touch-action($val){
    -ms-touch-action: $val;
    touch-action: $val;
}

@mixin transform($transform, $transformB:'', $transformC:'', $transformD:''){
    -webkit-transform: $transform #{$transformB} $transformC $transformD;
    -moz-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    -ms-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    -o-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    transform: $transform #{$transformB} #{$transformC} #{$transformD};
}

@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin backface-visibility($val){
    backface-visibility: $val;
    -webkit-backface-visibility: $val;
    -moz-backface-visibility: $val;
    -ms-backface-visibility: $val;
}


//FLEX
@mixin align-items($val){
    -webkit-align-items: $val;
    align-items: $val;
}

@mixin align-self($align) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
  
@mixin flex($val) {
    -webkit-box-flex: $val;
    -moz-box-flex:  $val;
    -webkit-flex:  $val;
    -ms-flex:  $val;
    flex:  $val;
}

@mixin flex-direction($val){
    -webkit-box-direction: $val;
    -moz-box-direction: $val;
    -webkit-flex-direction: $val;
    -ms-flex-direction: $val;
    flex-direction: $val;
}

@mixin flex-flow($val){
    -webkit-flex-flow: $val;
    flex-flow: $val;
}

@mixin flex-wrap($val){
    -webkit-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin justify-content($val){
    -webkit-justify-content: $val;
    justify-content: $val;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}
//End Flex

//Start Contents
@mixin type-content($direcction, $type){
    @if($direcction == 'w'){
        @if($type == 'max'){
            width: -webkit-max-content;
            width: -moz-max-content;
            width: -ms-max-content;
            width: max-content;
        }@else if($type == 'min'){
            width: -webkit-min-content;
            width: -moz-min-content;
            width: -ms-min-content;
            width: min-content;
        }@else{
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: -ms-fit-content;
            width: fit-content;
        } 
    }@else{
        @if($type == 'max'){
            height: -webkit-max-content;
            height: -moz-max-content;
            height: -ms-max-content;
            height: max-content;
        }@else if($type == 'min'){
            height: -webkit-min-content;
            height: -moz-min-content;
            height: -ms-min-content;
            height: min-content;
        }@else{
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: -ms-fit-content;
            height: fit-content;
        } 
    }
}
@mixin for-content($direcction, $type, $for){
    @if($direcction == 'w'){
        @if($type == 'max'){
            $for-width: -webkit-max-content;
            $for-width: -moz-max-content;
            $for-width: -ms-max-content;
            $for-width: max-content;
        }@else if($type == 'min'){
            $for-width: -webkit-min-content;
            $for-width: -moz-min-content;
            $for-width: -ms-min-content;
            $for-width: min-content;
        }@else{
            $for-width: -webkit-fit-content;
            $for-width: -moz-fit-content;
            $for-width: -ms-fit-content;
            $for-width: fit-content;
        } 
    }@else{
        @if($type == 'max'){
            $for-height: -webkit-max-content;
            $for-height: -moz-max-content;
            $for-height: -ms-max-content;
            $for-height: max-content;
        }@else if($type == 'min'){
            $for-height: -webkit-min-content;
            $for-height: -moz-min-content;
            $for-height: -ms-min-content;
            $for-height: min-content;
        }@else{
            $for-height: -webkit-fit-content;
            $for-height: -moz-fit-content;
            $for-height: -ms-fit-content;
            $for-height: fit-content;
        } 
    }
}
//End Contents

//Loader Contents
@keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

@keyframes blink {
    0% { opacity: 0.1; }
    30% { opacity: 1; }
    100% { opacity: 0.1; }
  }

//Animations
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes shown {  
    0% { @include transform(scale(0.2)) }
    100% { @include transform(scale(1)) }
}

@keyframes shownFontSmall {  
    0% { font-size: 0; }
    100% { font-size: 14px; }
}

@keyframes shownFontNormal {  
    0% { font-size: 0; }
    100% { font-size: 15px; }
}

@keyframes shake {
    20%{
        opacity: 0;
    }
    10%, 90% {
        @include transform(translate3d(-1px, 0, 0));
        opacity: 0.6;
    }
    
    20%, 80% {
        @include transform(translate3d(2px, 0, 0));
        opacity: 0.9;
    }
  
    30%, 50%, 70% {
        @include transform(translate3d(-2px, 0, 0));
        opacity: 0.9;
    }
  
    40%, 60% {
        @include transform(translate3d(2px, 0, 0));
        opacity: 0.6;
    }
}

@keyframes hidshowleft {
    0%{
        opacity: 1;
        @include transform(translateX(0px))
    }
    50%{
        opacity: 0;
        @include transform(translateX(-100px))
        
    }
    100%{
        opacity: 1;
        @include transform(translateX(0px))

    }
}
@keyframes hidshowleftT {
    0%{
        opacity: 1;
        @include transform(translateX(0px))
    }
    50%{
        opacity: 0;
        @include transform(translateX(-100px))
        
    }
    100%{
        opacity: 1;
        @include transform(translateX(0px))

    }
}

@keyframes shownBottomToTop{
    0%{
        opacity: 0;
        @include transform(translateY(100px))
    }
    100%{
        opacity: 1;
        @include transform(translateY(0px))

    }
}

@keyframes shownTopToBottom{
    0%{
        opacity: 0;
        @include transform(translateY(0))
    }
    100%{
        opacity: 1;
        @include transform(translateY(100px))

    }
}

@keyframes arrowLeft {
    0%{
        @include transform(translateX(0px))
    }
    100%{
        @include transform(translateX(-75px))
        
    }
}

@keyframes rotateRes{
    0%{
        @include transform(rotateY(0))
    }
    90%{
        @include transform(rotateY(360deg));
        color:#11a911;
    }
    100%{
        @include transform(rotateY(360deg));
        color: #333;
    }
}