.dropdown-element {
    max-width: 204px;
    position: relative;
    &__button {
        background: $dropdown-list-button-bg;
        color: $dropdown-list-button-text;
        border: $dropdown-list-button-border-e solid $dropdown-list-button-border;
        outline: none;
        padding: 0.5rem 1rem;
    }
    &__box {
        background-color: $white;
        border: none;
        height: 0;
        @include display-flex();
        @include flex(0);
        @include transition(all 0.5s);
        opacity: 0;
        overflow: auto;
        padding: 1rem;
        position: absolute;
        top: $dropdown-list-top;
        box-shadow: $dropdown-list-boxshadow;
        &.dropdownO {
            background-color: $white;
            height: 60vh;
            @include flex(1);
            max-height: 60vh;
            opacity: 1;
            z-index: 1;
        }
        &__list {
            background: $dropdown-list-bg;
            color: $dropdown-list;
            border: $dropdown-list-border-e solid $dropdown-list-border;
            @include align-items(flex-start);
            @include display-flex();
            @include flex-direction(column);
            @include justify-content(space-between);
            list-style: none;
            margin: 0;
            padding: 0;
            &__element {
                margin-bottom: 3px;
                width: 100%;
                &__container {
                    @include align-items(center);
                    @include display-flex();
                    @include justify-content(space-between);
                    width: 100%;
                    &__desc {
                        text-align: left;
                    }
                    &__img {
                        max-height: 24px;
                        max-width: 30px;
                    }
                }
            }
        }
    }
}

//Dropdown with label
.b-dropdwn {
    font-size: 16px;
    @include align-items(center);
    @include display-flex();
    @include justify-content(center);
    &__label {
        margin: 0 5px 0 0;
    }
    .dropdown-element {
        max-width: initial;
        &__box {
            &.dropdownO {
                height: auto;
                max-height: 200px;
                width: max-content;
            }
        }
    }
}
