.body-section-container__404 {
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 160px);
    padding: 6em 20px;

    &.backgroundError {
        background-image: url('@theme/images/plug.png');
        background-position: 0% 80px;
        background-repeat: no-repeat;
    }

    p.sorry {
        font-size: 21px;
        font-weight: 300;
    }
    p.not-found {
        color: #333;
        font-size: 65px;
        font-weight: 800;
    }

    .b-to-home {
        background-color: #f05f8e;
        color: $white2;
        font-weight: 800;
        font-size: 1em;
        display: inline-block;
        @include box-shadow(0px 2px 6px $lightGray2);
        @include border-radius(5px);
        min-width: 100px;
        margin: 0.5em 0 0.2em;
        padding: 3px 10px;
        white-space: nowrap;
        width: auto;
        i {
            margin-right: 4px;
        }
        &:hover {
            @include transform(scale(1.05));
            @include box-shadow(0px 2px 8px #333);

            @include transition(all 0.5s);
        }
    }
}
