.autocomplete {
    position: relative;
    input {
        cursor: pointer;
        outline: none;
    }
    .fa-sort-down,
    .fa-sort-up {
        position: absolute;
        right: 5px;
        top: 6px;
    }

    .autocomplete-results {
        border: 1px solid $color-autocomplete-autocompleteresults-border;
        border-top: 0;
        background-color: $color-autocomplete-autocompleteresults-bg;
        @include box-shadow(1px 3px 6px $color-autocomplete-autocompleteresults-boxshadow);
        list-style: none;
        margin: 0;
        max-height: 292px;
        max-width: 300px;
        min-width: fit-content;
        overflow: auto;
        padding: 2px 6px;
        position: absolute;
        width: 100%;
        z-index: 1;
        li {
            border-bottom: 1px solid $color-autocomplete-autocompleteresults-li-border;
            cursor: pointer;
            &:last-child {
                border: none;
            }
            &:hover {
                background-color: $color-autocomplete-autocompleteresults-li-bg-hover;
            }
        }
    }
}
