/**
 * jQuery Bracket
 *
 * Copyright (c) 2011-2018, Teijo Laine,
 * http://aropupu.fi/bracket/
 *
 * Licenced under the MIT licence
 */

div.jQBracket {
    font-family: $font-jquery-brackets-light;
    font-size: 14px;
    position: relative;
    margin: 5px;

    .tools {
        position: absolute;
        top: 0px;
        color: $color-jQBracket-tools;
    }

    .tools span {
        cursor: pointer;
        margin: 5px;
        display: block;
        text-align: center;
        width: 18px;
        height: 18px;
        background-color: $color-jQBracket-tools-span-bg;
    }

    .tools span:hover {
        background-color: $color-jQBracket-tools-span-bg-hover;
    }

    .finals {
        float: right;
        right: 0px;
        clear: right;
        position: relative;
    }

    .bracket {
        float: right;
        clear: left;
    }

    .loserBracket {
        float: right;
        clear: left;
        position: relative;
    }

    .round {
        position: relative;
        float: left;

        > .phaseTitle {
            width: 100%;
            padding: 3px;
            text-align: center;
            background-color: $connectorColor;
            color: $white;
        }
    }

    .match {
        position: relative;
    }

    .editable {
        cursor: pointer;
    }

    .team {
        position: relative;
        z-index: 1;
        float: left;
        background-color: $color-jQBracket-team-bg;
        padding: 2px;
        &.home {
            border-bottom: 3px solid $color-jQBracket-team-home-border;
        }

        input {
            font-size: 14px;
            padding: 0;
            width: 100%;
            border: none;
            margin: 0;
            outline: none;
        }

        div.label {
            height: $boxHeight;
            &[disabled] {
                cursor: default;
            }
        }

        div.score {
            input {
                text-align: center;
            }

            &[disabled] {
                color: $color-jQBracket-team-score-disabled;
                cursor: default;
            }
        }

        div.label input.error,
        div.score input.error {
            background-color: $color-jQBracket-team-score-error-bg;
        }
    }

    .teamContainer {
        z-index: 1;
        position: relative;
        float: left;
        &__date {
            background-color: $color-jQBracket-teamContainer-date-bg;
            color: $color-jQBracket-teamContainer-date;
            display: block;
            float: left;
            font-weight: 500;
            padding-right: 20px;
            position: relative;
            text-align: center;
            width: 100%;
        }
        &__seed {
            color: $color-jQBracket-teamContainer-seed;
            position: absolute;
            left: -21px;
            width: 21px;
            height: 26px;
            padding-top: 3px;
            background-color: $color-jQBracket-teamContainer-seed-bg;
            text-align: center;
            font-weight: bold;
            font-size: 0.89em;
        }
    }

    .connector {
        border: 2px solid $connectorColor;
        border-left-style: none;
        position: absolute;
        z-index: 1;

        div.connector {
            border: none;
            border-bottom: 2px solid $connectorColor;
            height: 0px;
            position: absolute;
        }

        &.highlightWinner,
        div.connector.highlightWinner {
            border-color: $winColor;
        }

        &.highlightLoser,
        div.connector.highlightLoser {
            border-color: $loseColor;
        }

        &.highlight,
        div.connector.highlight {
            border-color: $highlightColor;
        }
    }

    .np .connector,
    .np .connector div.connector {
        border-color: $gray;
    }

    .bubble {
        height: $boxHeight;
        line-height: $boxHeight;
        width: 30px;
        right: -35px;
        position: absolute;
        text-align: center;
        font-size: 11px;

        &:after {
            content: '';
            position: absolute;
            top: 6px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }

        &:after {
            left: -5px;
            border-left: 0;
        }
    }

    .win {
        .bubble {
            display: none;
            background-color: $winColor;
            color: $lightBrown;

            &:after {
                border-right-color: $winColor;
            }

            &.third {
                background-color: $thirdColor;
                color: $lightGold0;

                &:after {
                    border-right: 6px solid $thirdColor;
                }
            }
        }
    }

    .lose {
        .bubble {
            display: none;
            background-color: $loseColor;
            color: $black1;

            &:after {
                border-right-color: $loseColor;
            }

            &.fourth {
                background-color: $fourthColor;
                color: $lightGray0;

                &:after {
                    border-right: 6px solid $fourthColor;
                }
            }
        }
    }
}

div.jQBracket.rl {
    .finals {
        float: left;
        left: 0px;
        clear: left;
    }

    .bracket {
        float: left;
        clear: right;
    }

    .loserBracket {
        float: left;
        clear: right;
    }

    .round {
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        float: right;
    }

    .team {
        float: right;

        div.label {
            right: 0;
        }

        div.score {
            float: left;
        }
    }

    .teamContainer {
        float: right;
    }

    .connector {
        border-left-style: solid;
        border-right-style: none;
        border-width: 2px;

        &.highlightWinner,
        div.connector.highlightWinner {
            border-color: $winColor;
        }

        &.highlightLoser,
        div.connector.highlightLoser {
            border-color: $loseColor;
        }

        &.highlight,
        div.connector.highlight {
            border-color: $lightGreen;
        }
    }

    .bubble {
        left: -35px;

        &.third {
            background-color: $thirdColor;
            color: $bornan;
        }

        &.fourth {
            background-color: $fourthColor;
            color: $lightGray0;
        }

        &:after {
            left: auto;
            right: -5px;
            border-left: 5px solid transparent;
            border-right: 0;
        }

        &.third:after {
            border-right: none;
            border-left: 6px solid $thirdColor;
        }

        &.fourth:after {
            border-right: none;
            border-left: 6px solid $fourthColor;
        }
    }

    .highlightWinner {
        .bubble {
            &:after {
                border-left-color: $winColor;
            }
        }
    }

    .highlightLoser {
        .bubble {
            &:after {
                border-left-color: $loseColor;
            }
        }
    }
}
