.languages {
    @include display-flex();
    padding: 0px 7px;
    &__button {
        background-position: center;
        background-size: cover;
        border: 1px solid $gray;
        cursor: pointer;
        height: 25px;
        @include border-radius(50%);
        outline: none;
        width: 25px;
        padding: 0;
    }
    &__modal-language {
        height: 0;
        @include transition(all 0.3s);
        @include box-shadow(0px 0px 6px $lightGray4);
        position: absolute;
        overflow: hidden;
        right: 50px;
        top: 50px;
        z-index: 3;
        &.modalOpened {
            height: 80px;
        }
        &__list {
            background-color: $lightGray1;
            list-style: none;
            @include align-items(flex-start);
            @include display-flex();
            @include flex-direction(column);
            margin: 0;
            padding: 0;
            &__language {
                cursor: pointer;
                width: 100%;
                padding: 0;
                &.activeLang {
                    background-color: $white;
                    color: var(--primary-color);
                    font-weight: 600;
                }
                &__desc {
                    @include display-flex();
                    @include align-items(center);
                    margin: 5px 9px;
                    font-size: 0.9em;
                    padding: 2px 0;
                    white-space: nowrap;
                    &__flag {
                        background-position: center;
                        background-size: 20px;
                        height: 20px;
                        @include box-shadow(1px 1px 6px $gray2);
                        @include border-radius(50%);
                        margin-right: 5px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

.datetime {
    .languages__modal-language.modalOpened {
        height: 70px;
    }
    &__button {
        background-color: transparent;
        border: none;
        color: $white;
        position: relative;
    }
    .languages__modal-language {
        &__list__language {
            &__desc {
                @include justify-content(space-between);
                .label {
                    font-weight: 300;
                    font-size: 16px;
                }
                .time {
                    font-weight: 300;
                    font-size: 14px;
                    margin-left: 21px;
                    min-width: 49px;
                    text-align: left;
                }
            }
            &_venue {
                .languages__modal-language__list__language__desc {
                    .time,
                    .label {
                        color: $blueSolid;
                    }
                }
            }
            &.activeLang {
                .label {
                    font-weight: 800;
                }
            }
        }
    }
}
