@use "sass:math";

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    //
    background-image: url('@theme/images/splash/splash-background-2022.png');
    background-clip: border-box;
    background-origin: border-box;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    .sal-title {
        color: $lightBornan;
        font-weight: 800;
        font-size: 30px;
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(center);
        margin: 0;
        position: absolute;
        top: 10px;
        span {
            @include flex(0 1 100%);
            font-size: 18px;
            font-weight: 500;
        }
    }
    .fa-spinner {
        color: $lightBornan;
        font-size: 2em;
        bottom: 10vh;
        position: absolute;
    }
}

.animate {
    font-size: 16px;
    font-weight: 600;
    font-family: $font-splash-animate;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    margin: 15px 0px 0px 15px;
    text-shadow: 0 0 1px white;
}

.b-loader {
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    margin-bottom: 10rem;
    .row {
        display: flex;
    }
}

.arrow {
    width: 0;
    height: 0;
    margin: 0 (-$size * 0.5);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -(math.div($time, 18)) * $i + s;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -(math.div($time, 6)) * $i + s;
        }
    }
}

.arrow-1 {
    width: 0;
    height: 0;
    margin: 0 (-$size * 0.5);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -(math.div($time, 18)) * $i;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -(math.div($time, 6)) + s;
        }
    }
}

@media (min-width: 568px) {
    .splash {
        .fa-spinner {
            margin-bottom: 3vh;
        }
    }
}

@media (min-width: 720px) {
    .splash {
        background-image: url('@theme/images/splash/splash-background-2022.png');
        .sal-title {
            //display: none;
        }
    }
}
