.summary{
    .table{
        thead {
            background-color: $lightGold1;
            color: $white;
            th{
                border-bottom: 0;
                vertical-align: inherit;
                &.bb{
                    border-bottom: 1px solid $white;
                }
            }
        }
        tbody{
            background-color: var(--sand-color);
            td{
                border-top: 1px solid $lightGold1;
                vertical-align: middle;
                img{
                    @include border-radius(3px);
                    @include box-shadow(1px 1px 6px $gray);
                    margin-right: 3px;
                    max-height: 26px;
                    max-width: 26px;
                    vertical-align: text-top;
                }
                &.races{
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}