/* DivTable */
.divTable {
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: $white2;
    display: table-header-group;
}
.divTableCell,
.divTableHead {
    border-bottom: 1px solid $lightGray1;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: $white2;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: $white2;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

.table-responsive {
    max-width: 1200px;
    display: block;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
}
