.b-tooltip{
    display: none;
}
@media (min-width:768px){
    .b-tooltip{
        background-color: $black1;
        color: $white;
        font-weight: 400;
        font-size: 15px;
        display: block;
        @include border-radius(5px);
        letter-spacing: -0.5px;
        padding: 3px 10px;
        position: fixed;
        z-index: 1;
    }
}