<style scoped lang="scss">
.discnav__container__menu {
    position: relative;
    .discnav__container__menu__list {
        .discnav__container__menu__list__disc {
            .label {
                border: 0px solid orange;
                margin-top: 0.2rem;
            }
        }
    }
}
</style>

<template lang="pug">
.discnav(:class='openedMenu ? "openedMenu" : "closedMenu"')
    .discnav__container
        //- button.discnav__container__toggle(role='button', aria-label='menu', aria-expanded='false', @click='toggleMenu', @mouseover="showTooltip($event, 'left', $t('tooltip.choose-sport') )", @mouseleave='hideTooltip')
        //-     i.fa.fa-ellipsis-v
        .overlay-full-tiles
        ul.discnav__container__menu
            li.discnav__container__menu__list(
                v-for='(disc, index) in disciplines',
                :key='index',
                @mouseover='onMouseOver($event, disc)',
                @mouseleave='hideTooltip')
                template(v-if='openedMenu')
                    router-link.discnav__container__menu__list__disc(
                        :to='{ name: page, params: { disc: disc.Key } }',
                        :class='disc.Key === $route.params.disc ? "router-link-active" : ""',
                        tag='a',
                        @mouseover.native='showTooltip($event, "left", disc.Desc)',
                        @mouseleave.native='hideTooltip')
                        BDisciplineLabel(:disc='disc.Key', :description='disc.Desc')

                template(v-else)
                    router-link.discnav__container__menu__list__disc(
                        :to='{ name: page, params: { disc: disc.Key } }',
                        :class='disc.Key === $route.params.disc ? "router-link-active" : ""',
                        tag='a',
                        @mouseover.native='showTooltip($event, "left", disc.Desc)',
                        @mouseleave.native='hideTooltip')
                        BDisciplineLabel.menu(:disc='disc.Key')
    .b-tooltip(v-if='visibleTooltip', v-bind:style='{ right: postXTooltip, top: postYTooltip, position: "absolute" }')
        span {{ tooltipText }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import Tooltip from '@/mixins/tooltip';
import Images from '@/mixins/images';
import { mixins } from 'vue-class-component';

/* eslint-disable */
@Component({
    components: {
        BDisciplineLabel: () => import(/* webpackChunkName: "BDisciplineLabel" */ '@/BornanUI/BDisciplineLabel.vue')
    },
    computed: mapGetters(['language', 'languages', 'events'])
})
/* eslint-enable */
export default class DiscNav extends mixins(Tooltip, Images) {
    disciplines: Array<any> = [];
    page: string | any = 'discipline';
    //
    tooltipText: any = '';
    visibleTooltip = false;
    postXTooltip: any = '';
    postYTooltip: any = '';

    get openedMenu() {
        return this.$store.state.discOpen;
    }

    @Watch('$route.params.disc')
    onPropertyPthChanged() {
        if (this.openedMenu === true) {
            setTimeout(() => {
                this.toggleMenu();
            }, 300);
        }
    }

    calcPage(value: string | undefined) {
        if (this.$route.params.disc && value && value.startsWith('disc_') && value != 'disc_results') this.page = value;
        else this.page = 'discipline';
    }

    @Watch('$route.name')
    onPropertyNameChanged(value: string) {
        this.calcPage(value);
    }
    toggleMenu(): void {
        this.$store.commit('toggleDisc');
    }
    getDisciplines() {
        this.disciplines = this.$store.state.disciplines;
    }

    onMouseOver($event: any, disc: any) {
        this.showTooltip($event, 'left', disc.Desc, false);
        // CHAPA!!!!!!!! MUCHA CHAPA!!!!
        let t = Number(this.postYTooltip.replace('px', ''));
        t -= 55;
        this.postYTooltip = t + 'px';
    }

    onMouseLeave() {
        this.hideTooltip();
    }

    mounted() {
        this.getDisciplines();
        if (this.$route.name) this.calcPage(this.$route.name);
    }
}
</script>
