<template lang="pug">
section.bornan-footer
    .overlay-full-tiles
    .container
        .row
            .col-lg-6.text-sm-center.text-lg-left
                p.mb-0 © {{Year}} Bornan Sports Technology
                ul.menu
                    li
                        a(href='http://bornan.net/legal-notice/') {{$t('footer.legal-notice')}}
                    li
                        a(href='http://bornan.net/policy-notice/') {{$t('footer.policy-notice')}}
                    li
                        a(href='http://bornan.net/cookies-policy/') {{$t('footer.cookies-policy')}}

            .col-lg-6.text-sm-center.text-lg-right
                .soc-icons
                    a.icon-facebook(
                        href='https://www.facebook.com/bornansportstechnology/',
                        title='Facebook',
                        target='_blank'
                    )
                        i.fab.fa-facebook-f
                    a.icon-instagram(
                        href='https://www.instagram.com/bornansportstechnology/',
                        title='Instagram',
                        target='_blank'
                    )
                        i.fab.fa-instagram
                    a.icon-linkedin(href='https://es.linkedin.com/company/bornan', title='LinkedIN', target='_blank')
                        i.fab.fa-linkedin
                    a.icon-twitter(href='https://twitter.com/BornanSportsIT', title='Twitter', target='_blank')
                        i.fab.fa-twitter

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import config from '@/settings/config';
@Component
export default class Footer extends Vue {
    get Year() {
        return config.copyrightYear;
    }
}
</script>
