<template lang="pug">
.leftnav(:class='isOpenedMenu ? "openedMenu" : "closedMenu"')
    //- @mouseleave='openedMenu=false'
    //-.leftnav__toggle-button
        button.leftnav__toggle-button__button(@click='openedMenu = !openedMenu', :class="openedMenu ? 'openedMenu' : 'closedMenu' ")
            span.leftnav__toggle-button__button__span
            span.leftnav__toggle-button__button__span
            span.leftnav__toggle-button__button__span
        .leftnav__toggle-button__bornan-logo
            a.leftnav__toggle-button__bornan-logo__link(href='https://www.bornan.net', target='_blank')
                img(:src="require(`@theme/images/Logo-Bornan-vertical-purple.png`)")

    .leftnav__container(:class='subMenuView ? "sub-menu" : "main-menu"')
        .leftnav__container__menu(:class='view')
            .overlay-full-tiles
            button.leftnav__container__menu_nav-button(
                @click='subMenuView = !subMenuView',
                :class='hasSubMenu ? "button-visible" : "button-hidden"')
                i.fas.fa-arrow-left
                span(v-if='subMenuView') {{ viewDesc.substr(0, 3).toUpperCase() }}
                span(v-else) {{$t('general.ALL')}}

            //- vista de MENU PRINCIPAL
            ul.leftnav__container__menu_main(v-if='!subMenuView')
                template(v-for='(nav, index) in $t("nav_global")')
                    li.leftnav__container__menu__list(:key='index')
                        template(v-if='isOpenedMenu')
                            router-link.leftnav__container__menu__list__disc(
                                :to='{ name: nav.Link }',
                                tag='a',
                                @click.native='closeMenuLeft')
                                span(:class='nav.Icon')
                                span.leftnav__container__menu__list__disc__desc {{ nav.Desc }}
                        template(v-else)
                            router-link.leftnav__container__menu__list__disc(
                                :to='{ name: nav.Link }',
                                tag='a',
                                @mouseover.native='showTooltip($event, "right", nav.Desc)',
                                @mouseleave.native='hideTooltip')
                                span(:class='nav.Icon')
                                span.leftnav__container__menu__list__disc__desc {{ nav.Desc }}

            //- vista de MENU de DISCIPLINA
            ul.leftnav__container__menu_sub(v-if='subMenuView')
                template(v-for='(item, index) in subLinks')
                    li.leftnav__container__menu__list-submenu(:key='index')
                        template(v-if='isOpenedMenu')
                            router-link.leftnav__container__menu__list-submenu__nav(
                                @click.native='closeMenuLeft',
                                :to='{ name: item.Link, params: { disc: $route.params.disc } }',
                                tag='a')
                                span(v-if='item.Icon', :class='item.Icon')
                                span(v-if='item.Icon2', :class='item.Icon2')
                                span.leftnav__container__menu__list-submenu__nav__text {{ item.Desc }}
                        template(v-else)
                            router-link.leftnav__container__menu__list-submenu__nav(
                                :to='{ name: item.Link, params: { disc: $route.params.disc } }',
                                tag='a',
                                @mouseover.native='showTooltip($event, "right", item.Desc)',
                                @mouseleave.native='hideTooltip')
                                span(v-if='item.Icon', :class='item.Icon')
                                span(v-if='item.Icon2', :class='item.Icon2')
                                span.leftnav__container__menu__list-submenu__nav__text {{ item.Desc }}

            //- FOOTER del menu
            .leftnav__container__menu__logo
                template(v-if='isOpenedMenu')
                    a.leftnav__container__menu__logo__link(href='https://www.bornan.net', target='_blank') 
                        img.leftnav__container__menu__logo__link__img(
                            :src='require(`@theme/images/_logo/Logo-Bornan-vertical-white.png`)')
                    .leftnav__container__menu__logo__copy-version
                        p.leftnav__container__menu__logo__copy-version__copyright Copyright © {{ Year }}
                        p.leftnav__container__menu__logo__copy-version__bornan Bornan Sports Technology S.A.
                        p.leftnav__container__menu__logo__copy-version__version {{ $t("version") }} {{ Version }}
                template(v-else) 
                    a.leftnav__container__menu__logo__link(href='https://www.bornan.net', target='_blank')
                        img.leftnav__container__menu__logo__link__img.leftnav__container__menu__logo__link__img_b.visible-sm__flex(
                            :src='require(`@theme/images/_logo/Logo-B-W.png`)')
                        p.leftnav__container__menu__logo__link__copyright © {{ Year }}
    .b-tooltip(v-if='visibleTooltip', v-bind:style='{ left: postXTooltip, top: postYTooltip }') {{ tooltipText }}
</template>

<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import services from '@/settings/services';
import config from '@/settings/config';
import Tooltip from '@/mixins/tooltip';

@Component({
    computed: mapGetters(['language'])
})
/* eslint-enable */
export default class LeftNav extends Mixins(Tooltip) {
    viewsWSubM: string[] = ['nav_medals', 'nav_disc'];
    view = '';
    viewDesc = '';
    subLinks: any = [];
    currDisc = '';
    dataDisc: any = null;
    //
    hasSubMenu = false;
    subMenuView = false;
    //
    tooltipText: any = '';
    visibleTooltip = false;
    postXTooltip: any = '';
    postYTooltip: any = '';

    get isOpenedMenu() {
        //console.log(this.$store.state.leftOpen);
        return this.$store.state.leftOpen;
    }

    @Watch('$route.name')
    onRouteChanged(value: string) {
        if (value == 'med_search' || value == 'med_standings') value = 'nav_medals';
        if (value.indexOf('disc_') == 0 || value == 'athletesbio') value = 'nav_disc';

        this.hasSubMenu = this.viewsWSubM.includes(value);
        this.subMenuView = this.hasSubMenu;
        this.view = value;

        if (value == 'nav_disc') {
            // solo reconstruyo el submenu cuando cambie de disciplina
            // currDisc es vacio al inicio, por eso tambien se contruye el submenu al inicio
            if (this.currDisc != this.$route.params.disc) {
                this.subLinks = this.checkDiscButtons(this.$t(value));
                this.viewDesc = this.$route.params.disc;
            }
        } else if (value == 'nav_medals') {
            const t: any = this.$t(value);
            this.subLinks = t.Links;
            this.viewDesc = t.Desc;
        }

        //console.log('this.subLinks:', this.subLinks);
    }

    @Watch('$route.params.disc')
    onDiscChanged(value: string) {
        if (this.currDisc != value) {
            this.onRouteChanged(this.view);
        }
    }

    // @Watch('$route.path')
    // onPathChanged() {
    //     if (this.isOpenedMenu) {
    //         setTimeout(() => this.closeMenu(), 300);
    //     }
    // }

    get Version() {
        return import.meta.env.VUE_APP_VERSION;
    }
    get Year() {
        return config.copyrightYear;
    }

    // subLinks, son todos los posibles subLinks
    checkDiscButtons(subLinks: any) {
        //console.log('cambio de DISC o primera carga');
        this.currDisc = this.$route.params.disc;
        this.dataDisc = this.$store.getters.buttons[this.currDisc];
        //console.log('dataDISC:', this.dataDisc);
        services.link('disc_data', this.$route.params.disc).then((data: any) => {
            if (data) this.$store.commit('DISC_DATA', data);
        });

        const resultLinks = [];
        if (this.dataDisc) {
            for (let i = 0; i < subLinks.length; i++) {
                let add = true;
                if (subLinks[i].Link == 'disc_records' && this.dataDisc.HasRecords == false) add = false;
                if (subLinks[i].Link == 'disc_groups' && this.dataDisc.HasGroups == false) add = false;
                if (subLinks[i].Link == 'disc_brackets' && this.dataDisc.HasBracket == false) add = false;
                if (subLinks[i].Link == 'disc_frank' && this.dataDisc.HasFRank == false) add = false;
                if (subLinks[i].Link == 'disc_comms' && this.dataDisc.HasComms == false) add = false;
                //
                if (add) resultLinks.push(subLinks[i]);
            }
        }
        return resultLinks;
    }

    closeMenu(): void {
        this.$store.commit('closeLeft');
    }

    closeMenuLeft(): void {
        console.log('cierra menu en metodo propio');
        this.$store.commit('closeLeft');
    }

    mounted() {
        this.view = this.$route.name && this.$route.name !== 'sal' ? this.$route.name : '';
        this.onRouteChanged(this.view);
        if (window.innerWidth < 768) {
            this.closeMenu();
        }
    }
}
</script>
