<template lang="pug">
.nav-container
    .overlay-full-tiles
    .toggle-button-left
        button(@click='toggle(1)', :class='$store.state.leftOpen ? "openedMenu" : "closedMenu"')
            span.burger-line.top
            span.burger-line.middle
            span.burger-line.bottom
    .content
        .logo
            router-link(to='/')
                //-img(:src='require(`@theme/images/_logo/logo-kuwait-white.svg`)')
                img(:src='require(`@theme/images/_logo/logoWhiteHorizontal.svg`)')
        .logo-bornan
            a(href='https://bornan.sport', target='_blank')
                img(:src='require(`@theme/images/_logo/logo-bornan-b-white.svg`)')
        .extras
            Language(@toggle='check')
            DisplayTimeSimple
    .toggle-menu-right-dots(@click='toggleElementsRight')
        MenuButtonDots(role='button', aria-label='menu', aria-expanded='false', ref='menuButtonDots')
    PanelMenuRight.closed(ref='panelMenuRight', :onClickLink='toggleElementsRight')
    //- .toggle-button-right
    //-     button(role='button', aria-label='menu', aria-expanded='false', @click='toggle(2)')
    //-         i.fa.fa-ellipsis-v
    //-         i.fa.fa-ellipsis-v
    //-         i.fa.fa-ellipsis-v
</template>

<script lang="ts">
import config from '@/settings/config';
import { Component, Vue } from 'vue-property-decorator';
import Language from '@/components/Main/Nav/Language.vue';
import Tooltip from '@/mixins/tooltip';
import DisplayTimeSimple from '@/components/Main/Nav/DisplayTimeSimple.vue';
//
import MenuButtonDots from '@/BornanUI/menus/MenuButtonDots.vue';
import PanelMenuRight from '@/BornanUI/menus/PanelMenuRight.vue';

@Component({
    components: {
        Language,
        DisplayTimeSimple,
        MenuButtonDots,
        PanelMenuRight
    },
    mixins: [Tooltip]
})
export default class Nav extends Vue {
    panelRightOpen = false as boolean;
    $refs!: {
        menuButtonDots: any;
        panelMenuRight: any;
    };
    //
    openedNav: boolean;
    /*tooltipText:string = ''
    visibleTooltip:boolean = false
    postXTooltip :string = ''
    postYTooltip :string = ''*/
    constructor() {
        super();
        this.openedNav = false;
    }

    toggle(menu: number) {
        this.$store.commit(menu == 1 ? 'toggleLeft' : 'toggleDisc');
    }

    // menu disciplinas
    toggleElementsRight() {
        // agrupa los metodos de los dos componentes que hacen funcionar el menu
        // el boton y el panel, ambos tienen un metodo toggle, que debedispararse a la vez
        this.$refs.menuButtonDots.toggle();
        this.$refs.panelMenuRight.toggle();
        this.panelRightOpen = !this.panelRightOpen;
        const root = document.documentElement;
        if (this.panelRightOpen) {
            // abierto, bloquea scroll vertical, limita el alto del elemento root
            // en Safari funciona en version 12.1, en la del iPhone6 no funciona
            root.style.setProperty('--html-overflow-y', 'hidden');
            root.style.setProperty('--html-height', '100vh');
        } else {
            // cerrado
            root.style.setProperty('--html-overflow-y', 'unset');
            root.style.setProperty('--html-height', 'auto');
        }
    }

    check() {
        //
    }
}
</script>
