@import './_typography_gcc2022.scss';

$font-primary: 'Pier-sans', Helvetica, Arial, sans-serif;
$font-secondary: Courier;
$font-monospace: 'IBMPlexMono';

$font-results-numbers: $font-monospace;
$font-livematches-title: $font-monospace;
$font-navevents-result: $font-monospace;
$font-disc-common: $font-monospace;
$font-jquery-brackets-light: $font-monospace;
$font-jquery-brackets-bold: $font-monospace;
$font-jquery-brackets-score: $font-monospace;
$font-bio-courier: $font-monospace;

$font-splash-animate: $font-primary;
$font-h2h_results-split: $font-primary;

$font-bornan-extbold: 'Bornan-extbold';

$font-awesome: 'Font Awesome 5 Free';
