@import './results/h2h/_period.scss';
@import './results/h2h/_score.scss';
@import './results/_navsearch.scss';
@import './results/currentLast';

@import './startlist/h2h/_hteam.scss';
@import './_officials.scss';

.body-section-container {
    &_results {
        margin: 0 auto;

        /* LA CAJA con el nombre de la UNIT, ronda, LOCATION y boton der unning, official, etc !!! */
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            &__venue {
                align-self: flex-end;
                color: $color-primary-50;
                font-weight: 500;
                font-size: 0.95em;
                @include flex(1);
                @include display-flex();
                @include flex-direction(column);
                @include align-items(center);
                align-items: center;

                margin-top: 5px;
                margin-bottom: 5px;

                span {
                    margin-left: 3px;
                }
                &__court {
                    @include display-flex();
                    @include align-items(center);
                    margin-bottom: 3px;
                }
            }
            &__name {
                color: $color-on-background;
                font-weight: 800;
                font-size: 2rem;
                @include flex(1);
                &__desc {
                    color: $color-on-background;
                    margin: 0;
                    font-size: 1.5rem;
                }
                &__date {
                    color: $color-primary-50;
                    font-size: 0.8rem;
                    font-weight: 500;
                    .fa-clock {
                        margin-right: 6px;
                    }
                }
            }

            &__status {
                color: $color-primary-50;
                border: none;
                font-weight: 800;
                font-size: 1.1em;
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                @include flex(1);
                margin: 0 auto 2px;
                padding: 0;
                span {
                    background-color: $color-secondary;
                    padding: 0.3rem 1rem;
                    color: $color-on-secondary;
                    border: none;
                    .fa-dot-circle {
                        color: $color-on-secondary;
                        @include animation(shown 1s infinite);
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    h4 {
        color: $color-results-bodysectioncontainer-h4;
        font-size: 1.3em;
        margin-bottom: 10px;
        &.body-section-container__subtitle {
            background-color: $color-results-bodysectioncontainer-h4-bodysectioncontainer_subtitle-bg;
            color: $color-results-bodysectioncontainer-h4-bodysectioncontainer_subtitle;
            font-size: 1.25em;
            font-weight: bold;
            line-height: 1.8em;
            margin: 13px 0;
        }
    }
    /* el contenedor UL que contiene a los LI que son cada REPORT */
    .list-reports {
        list-style: none;
        margin-bottom: 3em;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .event {
            border: 0 solid red;
            flex: 0 0 30%;
            margin: 5px 0;
            ul {
                list-style: none;
                padding: 0;
            }

            &__link {
                color: $color-listreports-event-link;
                text-decoration: none;
                .fa-file-pdf {
                    color: $color-listreports-event-link-fafilepdf;
                    font-size: 1.05em;
                }
                &__text {
                    color: $color-primary;
                    font-size: 1.2rem;
                    margin-left: 2px;
                }
            }
            &__download {
                background-color: $color-listreports-event-download-bg;
                border: none;
                color: $color-listreports-event-download;
                outline: none;
            }

            .content {
                background-color: $white;
                padding-top: 22px;
                position: relative;
                width: 100%;
                .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0.5rem 0;
                    width: 100%;
                    button {
                        border: none;
                        outline: none;
                        text-decoration: none;
                        cursor: pointer;
                        background: transparent;
                    }
                    .download,
                    .link,
                    .expand {
                        &:hover {
                            color: $color-secondary;
                            i:before,
                            .text {
                                color: $color-secondary;
                            }
                        }
                    }

                    .download {
                        color: $color-primary;
                        cursor: pointer;
                        font-size: 18px;
                    }
                    .link {
                        .text {
                            color: $color-primary;
                        }
                    }
                    .expand {
                        i.fas.fa-expand {
                            color: $color-primary;
                            font-size: 1rem;
                        }
                    }
                }
                .pdf {
                    border: 1px solid #ddd;
                    max-width: 99%;
                    //min-height: 250px;
                }

                .rsc {
                    background: $color-primary;
                    color: $white;
                    font-size: 0.8rem;
                    word-wrap: break-word;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
                }
            }

            &__box {
                @include border-radius(5px);
                @include box-shadow(1px 1px 6px $color-listreports-event-box-boxshadow);
                @include display-flex();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                min-height: 120px;
                margin: 15px 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .body-section-container {
        &_results {
            &__title {
                @include display-flex();
                &__venue {
                    @include align-items(flex-start);
                    align-items: center;
                    &__court {
                        @include justify-content(center);
                    }
                }
                &__name {
                    &__date {
                        margin: 0px 0 2px;
                    }
                }
                &__status {
                    @include justify-content(flex-end);
                    margin: unset;
                }
            }
        }
    }
}
