<template lang="pug">
.b-day-label
    .weekday {{ weekday }}
    .day {{ day }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
    props: ['weekday', 'day']
})
export default class BDayLabel extends Vue {}
</script>

<style scoped lang="scss">
.b-day-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    .weekday {
        font-size: 0.8rem;
    }
    .day {
        font-size: 1.2rem;
    }
}
</style>
