<template lang="pug">
.b-discipline-label(ref='self')
    template(v-if='disc')
        IconSet(:discipline='disc', :icontype='icontype')
        //- div(v-if='disc', :class='`icon-${disc}`')
    span(v-if='icon', :class='icon')
    .name(v-if='description') {{ description }}
    slot
    //- slot(v-if='hasSlot')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    props: { disc: String, description: String, icon: String, icontype: String }
})
export default class DisciplineLabel extends Vue {
    $refs!: {
        self: any;
    };

    get hasSlot(): boolean {
        if (this.$refs.self) {
            return this.$refs.self.classList.contains('slot');
        }
        return false;
    }
}
</script>

<style lang="scss">
@import './styles_base/abstracts/b-discipline-label.scss';
// SUS mixins estan en abstracts, para poder usarlos fuera de aqui
// o sea que este componente tambien debe cargar sus abstracts
.b-discipline-label {
    // height: fit-content;
    // width: 100%;
    line-height: 1; /* reset */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    fill: white;
    color: white;

    @include default-size;
    /* iconos de FontAwesome que no tienen padding por defecto */
    span {
        padding-right: 1rem;
    }
    &.dark {
        fill: $color-primary-dark;
        color: $color-primary-dark;
    }
    &.white {
        fill: white;
        color: white;
    }
    &.small {
        @include small-size;
    }
    &.menu {
        padding: 0.2rem 0;
        @include menu-size;
    }
    &.medium {
        @include medium-size;
    }
    &.large,
    &.big {
        @include big-size;
    }
    &.column {
        flex-direction: column;
        justify-content: center;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.reverse,
    &.mirror {
        flex-direction: row-reverse;
        &.end {
            justify-content: flex-start;
        }
        &.start {
            justify-content: flex-end;
        }
    }
    [class*='icon-']:before {
        flex: 0 0 auto;
        font-family: 'gcc2022';
        background-color: transparent;
    }
    svg {
        border: 0px solid aqua;
    }
    img {
        flex: 0 0 auto;
        background-color: transparent;
        border: 1px solid #eed;
        width: auto;
        height: 1.2em;
        margin-right: 0.6rem;
    }
    .name {
        flex: 0 0 auto;
        background-color: transparent;
        color: inherit;
        z-index: 1; // encima del degradado en el MainHeader
    }
    .slot {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
}
</style>
