<template lang="pug">
.b-help
    BScore
    BDisciplineLabel(:disc='"ATH"', :description='"Nombre disciplina"')
    BNocLabel2(:noc='"ESP"', :description='"Nombre Pais"')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
/* BORNAN COMPONENTS */
import BScore from './atoms/BScore.vue';
import BDisciplineLabel from './BDisciplineLabel.vue';
import BNocLabel2 from './BNocLabel.vue';

@Component({
    components: {
        BScore,
        BDisciplineLabel,
        BNocLabel2
    }
})
export default class BComponents extends Vue {}
</script>

<style scoped>
.b-help {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999999999;
}
.label {
    border: 1px solid #ddd;
    padding: 0.5rem;
}
</style>
