<template lang="pug">
.label(ref='self')
    img(v-if='showFlag', :src='flag(noc)')
    .noc(v-if='showNoc') {{ noc }}
    .name(v-if='description && showName') {{ description }}
</template>

<script lang="ts">
// - no lo puedo hacer functional porque usa un metodo que viene de un mixin,
// - y en los functional ,, los mixins no estan disponibles, asi como los lyfecycle methods
// - podria mandarle el metodo desde el padre como una prop ? , pero tengo dudas de si complica demasiado

import { Component, Mixins, Prop } from 'vue-property-decorator';
import images from '@/mixins/images';

@Component
export default class NocLabel extends Mixins(images) {
    @Prop()
    declare noc: string;
    @Prop()
    declare description: string;
    //
    showFlag = true as boolean;
    showNoc = true as boolean;
    showName = false as boolean;
    $refs!: {
        self: HTMLElement;
    };
    mounted() {
        const waitRefs = setInterval(() => {
            if (this.$refs.self && this.$refs.self.classList) {
                const classes = this.$refs.self.classList;
                //console.log(classes);
                // por defecto se muestra todo
                // si existe alguna de las opciones, entonces solo se muestran las que estan activadas
                if (classes.contains('flag') || classes.contains('noc') || classes.contains('name')) {
                    //console.log('cambia classes !')
                    this.showFlag = classes.contains('flag');
                    this.showNoc = classes.contains('noc');
                    this.showName = classes.contains('name');
                } else {
                    // por defecto debe mostrarse el nombre, pero inicia oculto
                    this.showName = true;
                }
                clearInterval(waitRefs);
            }
        }, 100);
        // debe esperar al menos 100ms, si no, existen las refs pero las clases no estan aun
    }
}
</script>
