<template lang="pug">
//-
//- LISTA
//-router-link(v-if='isRouterLink', :to='{ name: "athletesbio" , params: { disc: $route.params.disc , reg: reg } }')
.b-player(ref='self')
    template(v-if='isList')
        .order(v-if='order') {{ order }}
        .profile
            .avatar(v-if='reg')
                img(:src='photo("default")', ref='avatar')
            .flag(v-if='noc')
                img(:src='flag(noc)')
            .name(v-if='name') {{ name }}
        .bib(v-if='bib') {{ bib }}
        BNocLabel.mirror.end(v-if='country', :noc='country')
        slot
    //-
    //- TITULOS de la lista
    template(v-else-if='isTitles')
        .order(v-if='order') Order
        .profile(v-if='name')
            span Name
        .bib(v-if='bib') Bib
        .label Noc
    //-
    //- en una START LIST, jugador con puesto
    template(v-else-if='isStartList')
        .flag(v-if='noc')
            img(:src='flag(noc)', ref='avatar')
        .avatar(v-if='reg')
            img(:src='photo("default")', ref='avatar')
        .name(v-if='name') {{ name }}
        .position(v-if='position') {{ position }}
    //- DEFAULT, avatar/flag + name
    template(v-else)
        .avatar(v-if='reg')
            img(:src='photo("default")', ref='avatar')
        .flag(v-if='noc')
            img(:src='flag(noc)')
        .name(v-if='name') {{ name }}
</template>
<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import images from '@/mixins/images';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
@Component({
    components: {
        BNocLabel
    },
    props: {
        reg: String,
        noc: String,
        name: String,
        bib: String,
        order: String,
        country: String,
        position: String
    }
})
export default class BPlayerLabel extends Mixins(images) {
    isList = false as boolean;
    isTitles = false as boolean;
    isTeam = false as boolean;
    isStartList = false as boolean;
    isResultsList = false as boolean;
    $refs!: {
        avatar: HTMLImageElement;
        self: HTMLElement;
    };
    mounted() {
        let count = 0;
        let countAvatar = 0;
        const waitRefs = setInterval(() => {
            count += 5;
            if (count > 100) {
                //console.log('abortamos mision');
                clearInterval(waitRefs);
            }
            if (this.$refs.self && this.$refs.self.classList) {
                clearInterval(waitRefs);
                //
                const classes = this.$refs.self.classList;
                //console.log(classes);
                this.isList = classes.contains('list');
                this.isTitles = classes.contains('titles');
                this.isStartList = classes.contains('startlist');
                this.isResultsList = classes.contains('resultslist');
            }
        }, 50);

        const waitAvatar = setInterval(() => {
            countAvatar += 5;
            if (countAvatar > 100) {
                //console.log('abortamos mision');
                clearInterval(waitAvatar);
            }
            if (this.$refs.avatar) {
                clearInterval(waitAvatar);
                //
                const avatar = this.$refs.avatar;
                const newSrc = this.randomPhoto();
                const image = new Image();
                image.src = newSrc;
                if (avatar.src == this.defaultPhoto()) {
                    //console.log('avatar default cargado, cambialo por', newSrc);
                    image.addEventListener('load', (): void => {
                        this.$refs.avatar.src = image.src;
                    });
                }
            }
        }, 50);
    }
}
</script>

<style lang="scss">
a {
    width: inherit;
    .b-player {
        text-decoration: none;
        color: $color-primary-dark;
        &:hover {
            color: $color-primary;
        }
    }
}
a.b-player,
.b-player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    &.doubles {
        height: auto; /* si dejo 100% cada player ocupa el 100% del paretn y se sale por fuera */
    }
    &.start {
        align-items: flex-start;
        .name {
            text-align: left;
        }
    }
    &.end {
        align-items: flex-end;
        .name {
            text-align: right;
        }
    }
    .avatar {
        height: 3rem;
        @media (max-width: $breakpoint-small) {
            height: 2.5rem;
        }
        img {
            height: 100%;
            border-radius: 50%;
        }
    }
    .flag {
        height: 3rem;
        width: 3rem;
        @media (max-width: $breakpoint-small) {
            height: 2.5rem;
            width: 2.5rem;
        }
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 1px solid #ddd;
        }
    }
    .name {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.1;
        padding-top: 0.4rem;
        @media (max-width: $breakpoint-small) {
            font-size: 1.2rem;
        }
    }
    &.small {
        .avatar {
            height: 2.4rem;
            margin-bottom: 0.4rem;
            @media (max-width: $breakpoint-small) {
                height: 2rem;
                margin-bottom: 0.4rem;
            }
        }
        .name {
            padding-top: 0;
            font-size: 1.2rem;
            @media (max-width: $breakpoint-small) {
                font-size: 1rem;
            }
        }
    }
    &.big {
        .avatar {
            height: 5rem;
            margin-bottom: 1rem;
            @media (max-width: $breakpoint-small) {
                height: 3rem;
                margin-bottom: 0.6rem;
            }
        }
        .flag {
            height: 5rem;
            width: 5rem;
            margin-bottom: 1rem;
            @media (max-width: $breakpoint-small) {
                height: 3rem;
                width: 3rem;
                margin-bottom: 0.6rem;
            }
        }
    }
    &.startlist + &.startlist {
        border-top: 1px solid $color-primary-25;
    }
    &.startlist {
        height: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0.6rem 0.6rem;
        font-size: 1rem;
        @media (max-width: $breakpoint-small) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .avatar,
        .name {
            margin-right: 0.6rem;
        }
        .avatar,
        .flag {
            height: 2rem;
            width: 2rem;
            margin-bottom: 0.5rem;
            @media (max-width: $breakpoint-small) {
                height: 1.6rem;
                width: 1.6rem;
            }
        }
        .name,
        .position {
            font-size: 1rem;
            padding-top: 0;
            font-weight: normal;
            text-align: left;
        }
        .position {
            font-size: 0.8rem;
            color: $color-primary-50;
        }
        &.reverse,
        &.mirror {
            flex-direction: row-reverse;
            justify-content: flex-start; /*si es reverse, end ahora es start */
            .name,
            .position {
                text-align: right;
            }
            .avatar,
            .flag,
            .name {
                margin-left: 0.6rem;
                margin-right: 0;
            }
            @media (max-width: $breakpoint-small) {
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }
        }
    }
    &.list,
    &.titles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 0.6rem;
        font-size: 1rem;
        .profile .name {
            font-size: 1rem;
        }
        @media (max-width: $breakpoint-small) {
            font-size: 0.8rem;
            padding: 0.4rem 0.4rem;
            .profile .name {
                font-size: 0.8rem;
            }
        }
        .new-row {
            flex-basis: 100%;
            height: 0;
        }
        & > div {
            margin-left: 1rem;
            @media (max-width: $breakpoint-small) {
                margin-left: 0.5rem;
            }
        }
        .order {
            flex: 0 0 30px;
            margin-left: 0;
            @media (max-width: $breakpoint-small) {
                flex: 0 0 20px;
            }
            @media (max-width: $breakpoint-xsmall) {
                flex: 0 0 14px;
            }
        }
        .profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: center;
            flex: 1 1 auto; /* fit-content not supported on flex-basis */
            border: 0 solid blue;
            .avatar,
            .flag {
                height: 2rem;
                width: 2rem;
                @media (max-width: $breakpoint-small) {
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }
            .name {
                margin-left: 0.6rem;
                padding-top: 0;
                font-weight: normal;
                text-align: left;
            }
        }
        .bib {
            flex: 0 0 90px;
            @media (max-width: $breakpoint-small) {
                flex: 0 0 30px;
            }
        }
        .label {
            flex: 0 0 90px;
            width: auto;
            @media (max-width: $breakpoint-small) {
                flex: 0 0 80px;
                $b-noclabel-font-size: 0.4rem;
            }
        }
    }
    &.list + &.list {
        border-top: 1px solid $color-primary-25;
    }
    &.list {
        border-bottom: 0 solid $color-primary-25;
    }
    &.titles {
        position: sticky;
        top: 0;
        padding: 0.6rem 0.6rem;
        background: $color-primary-25;
        font-size: 0.8rem;
        .profile .name {
            font-size: 0.8rem;
        }
    }
}
</style>
