<template lang="pug">
router-link(ref='self', :to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: reg } }')
    BPlayerLabel(
        :reg='reg',
        :noc='noc',
        :name='name',
        :bib='bib',
        :order='order',
        :country='country',
        :position='position',
        :class='classes')
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';
@Component({
    components: {
        BPlayerLabel
    },
    props: {
        reg: { type: String, default: false },
        noc: { type: String, default: false },
        name: { type: String, default: false },
        bib: { type: String, default: false },
        order: { type: String, default: false },
        country: { type: String, default: false },
        position: { type: String, default: false }
    }
})
export default class BPlayerLabelRouterLink extends Vue {
    classes = '' as string;
    $refs!: {
        self: HTMLElement;
    };
    mounted() {
        setTimeout(() => {
            if (this.$refs.self) {
                this.classes = this.$refs.self.classList.value;
            }
        }, 300);
    }
}
</script>
