<template lang="pug">
.b-list(v-if='isRow', ref='self')
    slot
.b-list(v-else-if='isColumn', ref='self')
    slot 
.b-list(v-else, ref='self')
    span -
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class BResultsRow extends Vue {
    $refs!: {
        self: HTMLElement;
    };
    isRow = false as boolean;
    isColumn = false as boolean;
    //
    mounted() {
        setTimeout(() => {
            if (this.$refs.self) {
                const classes = this.$refs.self.classList;
                if (classes) {
                    this.isRow = classes.contains('b-row');
                    this.isColumn = classes.contains('b-column');
                }
            }
        }, 300);
    }
}
</script>

<style scoped lang="scss">
@function getSize($size: medium) {
    @if $size == large {
        @return 1.4rem;
    } @else if $size == medium {
        @return 1.2rem;
    } @else if $size == small {
        @return 1rem;
    } @else if $size == xsmall {
        @return 0.8rem;
    }
}

@mixin b-results-row-column-setSize($size: medium) {
    $font-size: 1.2rem !default;
    $font-size: getSize($size);
    $line-heigth: $font-size * 1.1666; /* 1.2 -> 1.4 */
    $font-size-small: $font-size * 0.8333; /* 1.2 -> 1 */
    $padding-columns: $font-size * 0.5; /* 1.2 -> 0.6 */
    $padding-rows: $font-size * 0.17; /* 1.2 -> 0.2 */
    /* estilos parametrizables */
    font-size: $font-size;
    line-height: $line-heigth;
    &.titles {
        font-size: $font-size-small;
        line-height: $line-heigth;
    }
    .result {
        padding: $padding-columns 0;
    }
    &.b-row {
        .result {
            padding: $padding-rows 0;
        }
    }
}
.b-list {
    @include b-results-row-column-setSize(medium);
    font-family: $font-monospace;
    font-weight: bold;
    color: $color-primary;
    &.large {
        @include b-results-row-column-setSize(large);
    }
    &.medium {
        @include b-results-row-column-setSize(medium);
    }
    &.small {
        @include b-results-row-column-setSize(small);
    }
    &.xsmall {
        @include b-results-row-column-setSize(xsmall);
    }
    &.titles {
        font-weight: 100;
    }
    &.b-row {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        grid-template-rows: minmax(2rem, 1fr);
        justify-items: flex-end;
        align-items: center;
        span,
        div {
            width: 100%;
            max-width: 70px; /* cuando solo hay 1 por ejemplo,no quiero que ocupe el 100% */
            height: 100%;
            /* cada hijo de b-row, centra su contenido */
            display: flex;
            flex-direction: column;
            place-content: center;
        }
    }
    &.b-column {
        border: 0 solid green;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        justify-items: center;
        align-items: center;
        > * {
            width: 100%;
            height: 100%;
        }
    }
}
</style>
