<template lang="pug">
.main-container
    header
        Nav
    main.content-view
        LeftNav
        DiscNav
            section
                .body-section-container__404.backgroundError
                    p.sorry We are sorry,
                    //-img(src='@theme/images/animat-customize-color.gif' width='100px')
                    p.not-found page not found

                    a.button.b-to-home(href='/')
                        i.far.fa-calendar-alt 
                        | Take me to schedule
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LeftNav from '@/components/Main/LeftNav.vue';
import DiscNav from '@/components/Main/DiscNav.vue';
import Nav from '@/components/Main/Nav.vue';

import carrousel from '@/components/commons/Carrousel.vue';

@Component({
    components: {
        LeftNav,
        DiscNav,
        Nav,
        carrousel
    }
})
export default class Error404View extends Vue {}
</script>
