<template lang="pug">
.content.athlete-profile
    p.b-loading.b-loading_z-top(v-if='loading')
        i.fa.fas.fa-spin.fa-spinner
        | {{ $t("general.loading") }}
    .body-section-container(v-if='Object.values(biography).length > 0')
        //- Bio
        .content-section(v-if='biography.participant')
            BSectionTitle.sticky
                span(v-if='!biography.participant.isTeam') {{ $t("bios.ath") }}
                span(v-else) {{ $t("bios.team") }}
            Bio(:bio='biography.participant')

        //- Team Members
        .content-section(v-if='biography.participant.isTeam')
            BSectionTitle.sticky
                span {{ $t("bios.members") }}
            //- Biomembers(:members='biography.participant.Members')
            .members-container
                ul.members
                    li.member(v-for='(member, index) in biography.participant.Members', :key='index')
                        BioSimple(:bio='member')

        //- Event, medals, ranking, etc ...
        .content-section(v-if='biography.entries.length > 0')
            BSectionTitle.sticky
                span {{ $t("bios.results") }}
            Bioevent(:entries='biography.entries')

        //-Schedule
        .content-section(v-if='biography.schedule && biography.schedule.length > 0')
            BSectionTitle.sticky
                span {{ $t("bios.schedule-results") }}
            ul.body-section-container__list-events
                template(v-for='unit in biography.schedule')
                    component(:is='unitComponent', :key='unit.Key', :unit='unit', :bio='bioReg')
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import services from '@/settings/services';
import Utils from '@/mixins/utils';
//
import Bio from '@/components/Bio/Bio.vue';
import Bioevent from '@/components/Bio/BioEvent.vue';
import Biomembers from '@/components/Bio/BioMembers.vue';
import BioSimple from '@/components/Bio/BioSimple.vue';
//
import carrousel from '@/components/commons/Carrousel.vue';
//
import BSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
/* eslint-disable */
@Component({
    components: {
        Bio,
        Bioevent,
        Biomembers,
        BioSimple,
        BSectionTitle,
        carrousel
        // unitComponentes are now registered globally
    },
    mixins: [Utils]
})
/* eslint-enable */
export default class AthleteView extends mixins(Utils) {
    loading = false;
    biography: any = {};
    bioReg = '';

    get disc() {
        return this.$route.params.disc;
    }
    get unitComponent() {
        return `Unit${this.disc}`;
    }

    getBioReg(participant: Record<string, any>) {
        if (participant) {
            const members: any = participant;
            this.bioReg = members.Reg;
        }
    }

    // biography.participant, incluir numero de Men y Women, para mostrar en el profile
    getBioExtraData(participant: Record<string, any>) {
        const data = {
            genders: {
                athletes: 0 as number,
                men: 0 as number,
                women: 0 as number,
                nd: 0 as number
            },
            ages: {
                all: [] as any,
                max: 0 as number,
                min: 0 as number,
                average: 0 as number
            }
        };
        if (participant && participant.Members && participant.Members.length > 0) {
            // GENDERS
            data.genders.athletes = participant.Members.length;
            data.genders.men = participant.Members.filter((p: any) => p.Gender === 'M').length;
            data.genders.women = participant.Members.filter((p: any) => p.Gender === 'W').length;
            data.genders.nd = participant.Members.filter((p: any) => p.Gender === 'ND').length;
            // AGE
            const ages = participant.Members.map((p: any) => p.Age);
            const averageAge: number = ages.reduce((a: number, b: number) => a + b, 0) / ages.length;
            data.ages.all = ages;
            data.ages.average = Math.trunc(averageAge);
            data.ages.max = Math.max(...ages);
            data.ages.min = Math.min(...ages);
        }
        return data;
    }

    async init() {
        this.loading = true;
        this.biography = await services.link('biography', this.$route.params.disc, this.$route.params.reg);
        this.loading = false;
        this.getBioReg(this.biography.participant);
        // añado cuantos atletas hay de cada genero para pintarlo en el perfil
        this.biography.participant.ExtraData = this.getBioExtraData(this.biography.participant);
    }

    mounted() {
        this.init();
    }
}
</script>

<style lang="scss">
.athlete-profile {
    padding: 2rem 0;
}

.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
