<template lang="pug">
.content.athlete-profile
    p.b-loading.b-loading_z-top(v-if='loading')
        i.fa.fas.fa-spin.fa-spinner
        | {{ $t("general.loading") }}
    //- h1 __test__athlete
    .body-section-container(v-if='!(Object.values(biography).length === 0)')
        .body-section-container_bio.mb-5
            .body-section-container_bio__profile
                .body-section-container_bio__profile__title
                    p.body-section-container_bio__profile__title__text(v-if='!biography.participant.isTeam') {{ $t("bios.ath") }}
                    p.body-section-container_bio__profile__title__text(v-else) {{ $t("bios.team") }}
                Bio(:bio='biography.participant')

            Biomembers(v-if='biography.participant.isTeam', :members='biography.participant.Members')
            Bioevent(:entries='biography.entries')

            //-Schedule
            .body-section-container_bio__members-container(v-if='biography.schedule && biography.schedule.length > 0')
                .body-section-container_bio__members-container__title
                    p.body-section-container_bio__members-container__title__text {{ $t("bios.schedule-results") }}

                .body-section-container__schedule-unit-container
                    ul.body-section-container__list-events
                        component(:is='`Unit${disc}`', v-for='unit in biography.schedule', :key='unit.Key', :unit='unit', :bio='bioReg')
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import services from '@/settings/services';
import Utils from '@/mixins/utils';
import Bio from '@/components/Bio/Bio.vue';
import Bioevent from '@/components/Bio/BioEvent.vue';
import Biomembers from '@/components/Bio/BioMembers.vue';
//
import carrousel from '@/components/commons/Carrousel.vue';
//
/* eslint-disable */
@Component({
    components: {
        Bio,
        Bioevent,
        Biomembers,
        carrousel
    },
    mixins: [Utils]
})
/* eslint-enable */
export default class AthleteView extends mixins(Utils) {
    loading = false;
    biography: any = {};
    bioReg = '';

    get disc() {
        return this.$route.params.disc;
    }

    getBioReg(participant: Record<string, any>) {
        if (participant) {
            const members: any = participant;
            this.bioReg = members.Reg;
        }
    }

    async init() {
        this.loading = true;
        this.biography = await services.link('biography', this.$route.params.disc, this.$route.params.reg);
        this.loading = false;
        this.getBioReg(this.biography.participant);
    }

    mounted() {
        this.init();
    }
}
</script>
