<template lang="pug">
router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class DisciplineView extends Vue {}
</script>
