<template lang="pug">
.main-container
    header
        Nav
    main.content-view
        LeftNav
        .main-view
            router-view
        DiscNav(v-if='renderComponent')
    footer
        Footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LeftNav from '@/components/Main/LeftNav.vue';
import DiscNav from '@/components/Main/DiscNav.vue';
import Nav from '@/components/Main/Nav.vue';
import Footer from '@/components/Main/Footer.vue';

@Component({
    components: {
        LeftNav,
        DiscNav,
        Nav,
        Footer
    }
})
export default class MainView extends Vue {
    renderComponent = true;
    reloadData() {
        // const app = this;
        this.$store.watch(
            (state: any) => {
                return state.language;
            },
            () => {
                this.renderComponent = false;
                setTimeout(() => {
                    this.renderComponent = true;
                });
            }
        );
    }
    mounted() {
        this.reloadData();
    }
}
</script>
