<template lang="pug">
.medals
    BMainHeader(
        :description='$t("medals.standings")',
        :backgroundImg='require("@theme/images/backgrounds/sections/medals.jpg")',
        :icon='"fa-md fas fa-medal"'
    )
    SectionBase(:bg='require("@theme/images/backgrounds/sections/medals.jpg")', :loading='loading')
        //- template(#header)
        //-     p
        //-         span.fa-lg.fas.fa-medal
        //-         |
        //-         | {{ $t("medals.standings") }}
        //- template(#submenu)
        //-     p
        //-         span.fa-lg.fas.fa-medal
        //-         |
        //-         | {{ $t("medals.standings") }}

        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.disc")',
                    :list='listDisciplines',
                    @changed-option='onSelectionDisc'
                )

        template(#title)
            h3.body-section-container__title_medal
                img.container-nocs__list__noc__title__disc__img(v-if='selDisc', :src='picto(selDisc)')
                | &nbsp; {{ title }}

            //-h4.body-section-container__subtitle_medal Medal Standings

            p(v-if='medalStandings.length == 0 && !loading') {{ $t("sections.no-medals") }}

        template(#body)
            .medal-list
                ul.medal-section-container(v-if='medalStandings.length != 0')
                        li.medal-section-container__list
                            .medal-section-container__list__body.d-flex.justify-content-center
                                .medal-section-container__list__body__elipse.d-flex.justify-content-center.pointer(
                                    @click='orderByRank()'
                                )
                                    p {{ $t("medals.rank") }}
                                    button.medal-section-container__list__body__btn-order.fas.fa-sort-down(
                                        :class='{ active: isUpR === 1, off: isUpR === 0 }'
                                    )

                                .medal-section-container__list__body__noc.d-flex-1.d-flex
                                    p {{ $t("medals.noc") }}
                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_gold.d-flex
                                    img.medal-section-container__list__body__medal__img(:src='getMedals("ME_GOLD")')
                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_silver.d-flex
                                    img.medal-section-container__list__body__medal__img(:src='getMedals("ME_SILVER")')
                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_bronze.d-flex
                                    img.medal-section-container__list__body__medal__img(:src='getMedals("ME_BRONZE")')
                                .medal-section-container__list__body__totals.d-flex.justify-content-center.pointer(
                                    @click='orderByMedals()'
                                )
                                    p.visible-sm {{ $t("medals.total-lg") }}
                                    p.hidden-sm {{ $t("medals.total-sm") }}
                                    button.medal-section-container__list__body__btn-order.fas.fa-sort-down(
                                        :class='{ active: isUpM === 1, off: isUpM === 0 }'
                                    )
                                .medal-section-container__list__body__stats
                                    button.medal-section-container__list__body__stats__button.fas(
                                        @click='showAllStats',
                                        :class='isShowingAllStats ? "fa-minus-circle rotateM" : "fa-plus-circle rotateL"'
                                    )

                        li.medal-section-container__list(v-for='(comp, index) in medalStandings', :key='index')
                            .medal-section-container__list__body.d-flex.justify-content-center(
                                :class='isShowing(index) ? "stat" : ""'
                            )
                                .medal-section-container__list__body__elipse.d-flex.justify-content-center
                                    p
                                        span.equalled(v-if='comp.RkEq') =
                                        | {{ comp.Rk }}
                                .medal-section-container__list__body__noc.d-flex-1.d-flex.pointer(
                                    @click='goToMedals(comp)'
                                )
                                    img(:src='flag(comp.Org)')
                                    span.visible-sm {{ comp.OrgDesc }}
                                    span.hidden-sm {{ comp.Org }}
                                .b-100
                                .medal-section-container__list__body__gender
                                    ul.medal-section-container__list__body__gender__stat
                                        li(
                                            v-if='comp.Count.ME_GOLD.X > 0 || comp.Count.ME_SILVER.X > 0 || comp.Count.ME_BRONZE.X > 0'
                                        )
                                        li.mt-3(v-else)
                                            i.fas.fa-mars
                                            span {{ $t("gender.M") }}
                                        li
                                            i.fas.fa-venus
                                            span {{ $t("gender.W") }}
                                        li(
                                            v-if='comp.Count.ME_GOLD.X > 0 || comp.Count.ME_SILVER.X > 0 || comp.Count.ME_BRONZE.X > 0'
                                        )
                                            i.fas.fa-venus-mars
                                            span {{ $t("gender.X") }}

                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_gold.d-flex
                                    ul.medal-section-container__list__body__medal__stat
                                        li.pointer(@click='goToMedals(comp, "ME_GOLD", "M")')
                                            p {{ comp.Count.ME_GOLD.M }}
                                        li.pointer(@click='goToMedals(comp, "ME_GOLD", "W")')
                                            p {{ comp.Count.ME_GOLD.W }}
                                        li.pointer(
                                            @click='goToMedals(comp, "ME_GOLD", "X")',
                                            v-if='comp.Count.ME_GOLD.X > 0'
                                        )
                                            p {{ comp.Count.ME_GOLD.X }}
                                    p.pointer(@click='goToMedals(comp, "ME_GOLD")')
                                        | {{ comp.Count.ME_GOLD.M + comp.Count.ME_GOLD.W + comp.Count.ME_GOLD.X }}

                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_silver.d-flex
                                    ul.medal-section-container__list__body__medal__stat
                                        li.pointer(@click='goToMedals(comp, "ME_SILVER", "M")')
                                            p {{ comp.Count.ME_SILVER.M }}
                                        li.pointer(@click='goToMedals(comp, "ME_SILVER", "W")')
                                            p {{ comp.Count.ME_SILVER.W }}
                                        li.pointer(
                                            @click='goToMedals(comp, "ME_SILVER", "X")',
                                            v-if='comp.Count.ME_SILVER.X > 0'
                                        )
                                            p {{ comp.Count.ME_SILVER.X }}
                                    p.pointer(@click='goToMedals(comp, "ME_SILVER")')
                                        | {{ comp.Count.ME_SILVER.M + comp.Count.ME_SILVER.W + comp.Count.ME_SILVER.X }}

                                .medal-section-container__list__body__medal.medal-section-container__list__body__medal_bronze.d-flex
                                    ul.medal-section-container__list__body__medal__stat
                                        li.pointer(@click='goToMedals(comp, "ME_BRONZE", "M")')
                                            p {{ comp.Count.ME_BRONZE.M }}
                                        li.pointer(@click='goToMedals(comp, "ME_BRONZE", "W")')
                                            p {{ comp.Count.ME_BRONZE.W }}
                                        li.pointer(
                                            @click='goToMedals(comp, "ME_BRONZE", "X")',
                                            v-if='comp.Count.ME_BRONZE.X > 0'
                                        )
                                            p {{ comp.Count.ME_BRONZE.X }}
                                    p.pointer(@click='goToMedals(comp, "ME_BRONZE")')
                                        | {{ comp.Count.ME_BRONZE.M + comp.Count.ME_BRONZE.W + comp.Count.ME_BRONZE.X }}

                                .medal-section-container__list__body__totals.d-flex.justify-content-center
                                    ul.medal-section-container__list__body__totals__stat
                                        li.pointer(@click='goToMedals(comp, "-", "M")')
                                            p {{ comp.Count.ME_GOLD.M + comp.Count.ME_SILVER.M + comp.Count.ME_BRONZE.M }}
                                        li.pointer(@click='goToMedals(comp, "-", "W")')
                                            p {{ comp.Count.ME_GOLD.W + comp.Count.ME_SILVER.W + comp.Count.ME_BRONZE.W }}
                                        li.pointer(
                                            @click='goToMedals(comp, "-", "X")',
                                            v-if='comp.Count.ME_BRONZE.X > 0'
                                        )
                                            p {{ comp.Count.ME_GOLD.X + comp.Count.ME_SILVER.X + comp.Count.ME_BRONZE.X }}
                                    p.pointer(@click='goToMedals(comp)')
                                        | {{ medalsTotalCount(comp.Count) }}
                                .medal-section-container__list__body__stats
                                    input.medal-section-container__list__body__stats__input(
                                        type='checkbox',
                                        :id='index',
                                        :value='index',
                                        v-model='checkedStats'
                                    )
                                    label.medal-section-container__list__body__stats__label.fas(
                                        :for='index',
                                        :class='isShowing(index) ? "fa-minus-circle rotateM" : "fa-plus-circle rotateL"'
                                    )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import SectionBase from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import { mixins } from 'vue-class-component';

/* eslint-disable */
@Component({
    components: { SectionBase, Dropdown, BMainHeader }
})
/* eslint-enable */
export default class MedalsView extends mixins(Utils, Images) {
    //
    listDisciplines: any[] = [];
    medalStandings: any[] = [];
    //
    checkedStats: number[] = [];
    //
    isUpR = 1;
    isUpM = 0;
    //
    loading = false;

    discAll: any = { Key: 'ALL', Desc: 'All Sports' };

    get selDisc() {
        return this.$route.params.disc;
    }
    get title() {
        if (this.listDisciplines.length == 0) return '';
        const idx = this.listDisciplines.findIndex((e: any) => e.Key == this.selDisc);
        if (idx > 0) return this.listDisciplines[idx].DescL;
        else return this.listDisciplines[0].Desc;
    }

    goToMedals(org: any, metal = '-', gender = '-') {
        const disc = this.selDisc ? this.selDisc : '-';
        this.$router.push({ name: 'med_search', params: { disc, noc: org.Org, metal, gender } });
    }

    medalsTotalCount(competitor: any) {
        const goldMedals = competitor.ME_GOLD.X + competitor.ME_GOLD.W + competitor.ME_GOLD.M;
        const silverdMedals = competitor.ME_SILVER.X + competitor.ME_SILVER.W + competitor.ME_SILVER.M;
        const bronzeMedals = competitor.ME_BRONZE.X + competitor.ME_BRONZE.W + competitor.ME_BRONZE.M;
        return goldMedals + silverdMedals + bronzeMedals;
    }

    isShowing(index: number) {
        return this.checkedStats.indexOf(index) != -1;
    }

    get isShowingAllStats() {
        return this.checkedStats.length === this.medalStandings.length;
    }

    showAllStats() {
        if (this.isShowingAllStats) {
            this.checkedStats = [];
        } else {
            this.checkedStats = [];
            for (let i = 0; i < this.medalStandings.length; i++) this.checkedStats.push(i);
        }
    }

    orderByRank() {
        this.isUpR = this.isUpR ? this.isUpR * -1 : 1;
        this.medalStandings.sort((a: any, b: any) => (a.RkPo - b.RkPo) * this.isUpR);
        this.isUpM = 0;
    }

    orderByMedals() {
        this.isUpM = this.isUpM ? this.isUpM * -1 : 1;
        this.medalStandings.sort((a: any, b: any) => (parseInt(a.RkTotal) - parseInt(b.RkTotal)) * this.isUpM);
        this.isUpR = 0;
    }

    @Watch('$route.params.disc')
    onRouteChanged(value: string) {
        const dd: any = this.$refs.dropDown;
        const idx = this.listDisciplines.findIndex((e: any) => e.Key == value);
        if (idx > 0) {
            dd.selectIndex(idx);
        } else {
            dd.selectIndex(0);
            this.$router.replace({ name: 'med_standings' });
        }
        this.fetchData();
    }

    onSelectionDisc(disc: any) {
        if (disc.Key != 'ALL') this.$router.push({ name: 'med_standings', params: { disc: disc.Key } });
        else this.$router.push({ name: 'med_standings' });
    }

    async fetchData() {
        this.loading = true;
        this.medalStandings = await services.link('medal_standings', this.$route.params.disc);
        this.loading = false;
        if (this.medalStandings == null) this.medalStandings = [];
    }

    async mounted() {
        this.discAll.Desc = this.$t('medals.all');
        this.listDisciplines = [this.discAll].concat(this.$store.state.disciplines);
        await this.$nextTick();
        this.onRouteChanged(this.selDisc);
    }
}
</script>
