<template lang="pug">
mixin nocItem
    .container-nocs.link(@click='onSelectionNOC(noc)')
        //- pre {{ noc }}
        .title
            BNocLabel.center(:noc='noc.Key', :description='noc.Desc')
        .container-nocs__list__noc__info
            p {{ $t("nocs.ath") }}
            ul.container-nocs__list__noc__info__stats
                li.container-nocs__list__noc__info__stats__stat
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_men
                        p
                            i.fas.fa-mars
                            span {{ $t("gender.M") }}
                        p {{ noc.Totals.Totals.M }}
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_women
                        p
                            i.fas.fa-venus
                            span {{ $t("gender.W") }}
                        p {{ noc.Totals.Totals.W }}
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_total
                        p {{ $t("nocs.total") }}
                        p {{ noc.Totals.Totals.Total }}
mixin discItem
    .container-nocs
        .title
            BDisciplineLabel(:disc='disc.Disc', :description='disc.DiscDesc')
        .container-nocs__list__noc__info
            p {{ $t("nocs.ath") }}
            ul.container-nocs__list__noc__info__stats
                li.container-nocs__list__noc__info__stats__stat
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_men
                        p
                            i.fas.fa-mars
                            span {{ $t("gender.M") }}
                        p {{ disc.M }}
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_women
                        p
                            i.fas.fa-venus
                            span {{ $t("gender.W") }}
                        p {{ disc.W }}
                    .container-nocs__list__noc__info__stats__stat__gen.container-nocs__list__noc__info__stats__stat__gen_total
                        p {{ $t("nocs.total") }}
                        p {{ disc.Total }}
.nocs
    BMainHeader(
        :description='$t("nocs.title")',
        :backgroundImg='require("@theme/images/backgrounds/sections/nocs.jpg")',
        :icon='"fa fas fa-globe-africa"')
    b-section(:bg='require("@theme/images/backgrounds/sections/nocs.jpg")', title='', :loading='loading')
        //- template(#header)
        //-     p
        //-         span.fa-lg.fas.fa-globe-africa
        //-         |   {{ $t('nocs.title') }}
        template(#submenu)
            p
                span.fa-lg.fas.fa-globe-africa
                |
                | {{ $t("nocs.title") }}

        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("nocs.title")',
                    :list='listNOCsSelect',
                    @changed-option='onSelectionNOC')

        template(#title)
            h3.body-section-container__title(v-if='showEntries && nocEntries')
                img.container-nocs__list__noc__title__org__img(:src='flag(nocEntries.Org)')
                | &nbsp; {{ nocEntries.OrgDesc }}

        template(#body)
            .container-nocs(v-if='!showEntries')
                ul.container-nocs__list
                    template(v-for='(noc, index) in listNOCs')
                        li.container-nocs__list__noc(v-if='noc.Totals.Totals.Total > 0', :key='noc.Key')
                            +nocItem
                p(v-if='listNOCs.length == 0 && !loading') {{ $t("nocs.no-countries") }}
            .container-nocs(v-if='showEntries')
                ul.container-nocs__list(v-if='nocEntries && nocEntries.Count.length > 0')
                    li.container-nocs__list__noc(v-for='(disc, index) in nocEntries.Count', :key='disc.Key')
                        +discItem
                p(v-else) {{ $t("nocs.no-partics") }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import services from '@/settings/services';
import images from '@/mixins/images';
import BSection from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';

/* eslint-disable */
@Component({
    components: { BSection, Dropdown, BMainHeader, BNocLabel, BDisciplineLabel }
})
/* eslint-enable */
export default class NocsView extends mixins(images) {
    listNOCs: Array<Record<string, any> | any> = [];
    listNOCsSelect: Array<Record<string, any> | any> = [];
    //
    nocEntries: any = null;
    showEntries = false;
    loading = false;
    //
    discAll: any = { Key: 'ALL', Desc: 'General' };

    @Watch('$route.params.noc')
    async onChangeNOC(value: string) {
        const dd: any = this.$refs.dropDown;
        const idx = this.listNOCsSelect.findIndex(e => e.Key == value);
        if (idx > 0) {
            dd.selectIndex(idx);
            this.showEntries = true;
            this.nocEntries = this.listNOCsSelect[idx].Totals;
            // this.loading = true;
            // this.nocEntries = await services.link('entries_noc', null, this.$route.params.noc);
            // this.loading = false;
        } else {
            dd.selectIndex(0);
            this.showEntries = false;
            this.$router.replace({ name: 'countries' });
        }
    }

    onSelectionNOC(noc: any) {
        const to = { params: { noc: noc.Key } };
        if (noc.Key == 'ALL') to.params.noc = undefined;
        this.$router.push(to);
    }

    async init() {
        this.discAll.Desc = this.$t('nocs.all');
        this.loading = true;
        this.listNOCs = await services.link('nocs_info');
        if (this.listNOCs == null) this.listNOCs = [];
        this.loading = false;
        this.listNOCsSelect = [this.discAll].concat(this.listNOCs);
        await this.$nextTick();
        this.onChangeNOC(this.$route.params.noc);
    }

    mounted() {
        this.init();
    }
}
</script>

<style lang="scss">
.container-nocs {
    padding: 0;
    .title {
        border: 0px solid aqua;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        //
        color: $white;
        fill: $white;
        background-color: $color-primary;
        padding: 0.4rem 0.6rem;
        .label {
            border: 0px solid aqua;
        }
        &.link {
            cursor: pointer;
        }
    }
}
</style>
