<template lang="pug">
.participants
    BMainHeader(
        :description='$t("participants.title")',
        :backgroundImg='require("@theme/images/backgrounds/sections/athletes.jpg")',
        :icon='"fa fas fa-users"')
    SectionBase(
        :bg='require("@theme/images/backgrounds/sections/athletes.jpg")',
        title='',
        :loading='loading',
        :selectors='selectors',
        seldesc='Desc',
        @selection='setType',
        ref='bsection')
        template(#header)
            p
                span.fa-lg.fas.fa-users
                | {{ $t("participants.title") }}
        template(#submenu)
            p
                span.fa-lg.fas.fa-users
                | {{ $t("participants.title") }}

        template(#filters)
            //- h1 __test__FILTERS ATH and TEAMS
            button.header-section-container-submenu__filters__button(@click='modalfilter = !modalfilter')
                template(v-if='!modalfilter')
                    i.fas.fa-search
                    span.add-filter {{ $t("filters.title") }}
                template(v-else-if='modalfilter')
                    i.fas.fa-times
                    span {{ $t("filters.close-filter") }}
            .header-section-container-submenu__filters__modal(:class='{ visible: modalfilter }')
                ul.header-section-container-submenu__filters__modal__list
                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.noc") }}
                        auto-complete(:items='listNOC', field='Desc', @selected='addNOC', :placeholder='`(${$t("filters.noc")})`')

                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.disc") }}
                        auto-complete(:items='listDisc', field='Desc', @selected='addDisc', :placeholder='`(${$t("filters.disc")})`')

            template(v-if='selType == "athletes"')
                .header-section-container-submenu__filters__search-ath
                    i.far.fa-user
                    input(type='text', placeholder='(Name)', v-model='searchText')

            .header-section-container-submenu__filters__selected
                ul.header-section-container-submenu__filters__selected__list
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='noc in selNOC')
                        span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeNOC(noc.Key)') {{ noc.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='disc in selDisc')
                        span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeDisc(disc.Key)') {{ disc.Desc }}
                            i.fas.fa-times

        template(#body)
            template(v-if='selType == "nocs"')
                ul.body-section-container__list-nocs
                    noc-item(v-for='noc in listToShow', :key='noc.Key + "_1"', :value='noc')
                p(v-if='listNOC.length == 0 && !loading') {{ $t("participants.no-countries") }}

            template(v-else)
                .body-section-container__list-participant
                    partic-item(v-for='(p, i) in listToShow', :key='p.Disc + p.Reg', :partic='p', :header='true')
                p(v-if='listPartics.length == 0 && !loading') {{ $t("participants.no-partics") }}

            .body-section-container__button-navigation-container(v-if='showPrev || showNext')
                button.body-section-container__button-navigation-container__button.body-section-container__button-navigation-container__button_prev(
                    v-if='showPrev',
                    @click='setPage(currPage, -1)')
                    i.fas.fa-angle-left
                    span {{ $t("participants.prev") }}
                p.body-section-container__button-navigation-container__state {{ state }}
                button.body-section-container__button-navigation-container__button.body-section-container__button-navigation-container__button_next(
                    v-if='showNext',
                    @click='setPage(currPage, 1)')
                    span {{ $t("participants.next") }}
                    i.fas.fa-angle-right
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import services from '@/settings/services';
import navData from '@/settings/navData';
//
import AutoComplete from '@/components/commons/Filters.vue';
import SectionBase from '@/components/commons/SectionBase.vue';
import ParticItem from '@/components/Participants/Participant.vue';
import NocItem from '@/components/Participants/Noc.vue';
//
import ParticipantsList from '@/components/Participants/ParticipantsList.vue';
//
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

interface Partic {
    Disc: string; // Discipline
    DiscDesc: string;
    Reg: string; // Reg
    Org: string; // Org
    Gender: string; // gender
    Name: string; // Name
    Type: string; // Type
    Size?: number; // # members
    Memebers?: Array<any>; // members si es dobles
}

interface Noc {
    Key: string;
    Desc: string;
    nAth: number;
    nTeam: number;
}

/* eslint-disable */
@Component({
    components: {
        AutoComplete,
        SectionBase,
        ParticItem,
        ParticipantsList,
        NocItem,
        BMainHeader
    }
})
/* eslint-enable */
export default class ParticipantsView extends mixins(Images, Utils) {
    //
    // Lists
    listByNOC: Array<Noc> = [];
    listFiltered: Array<any> = [];
    listToShow: Array<any> = [];
    //
    listPartics: Array<Partic> = [];
    listDisc: Array<any> = [];
    listNOC: Array<any> = [];
    // limits
    limitFirstLoad = 100 as number;
    // Selections
    searchText = '';
    selType = '';
    selDisc: Array<any> = [];
    selNOC: Array<any> = [];
    //
    // Pages
    currPage = 0;
    numPages = 0;
    size = 50;
    //
    modalfilter = false;
    loading = false;
    //
    //
    selectors = [
        { Key: 'athletes', Desc: 'Athletes' },
        { Key: 'teams', Desc: 'Teams' },
        { Key: 'nocs', Desc: 'NOCs' }
    ];

    async created() {
        this.loading = true;
        const res = await services.link('participants');
        this.listPartics = res ? res.participants : [];
        //
        this.listNOC = res ? res.orgs : [];
        this.listDisc = res ? res.disciplines : [];
        this.buildElements();
        navData.getFilterPartics(this.selNOC, this.selDisc);
        if (!this.$route.params.type) {
            this.$router.replace({ params: { type: 'athletes' } });
        } else {
            this.selType = this.$route.params.type;
            const bsection: any = this.$refs.bsection;
            bsection.setSelection(this.selectors.findIndex((e: any) => e.Key == this.selType));
        }
        this.runFilters();
        this.loading = res ? false : true;
    }

    runFilters() {
        this.loading = true;
        this.filterParticipants();
        this.loading = false;
    }

    beforeDestroy() {
        navData.setFilterPartics(this.selNOC, this.selDisc);
    }

    buildElements() {
        this.listByNOC = [];
        const counters: any = {};
        const colDisc: any = {};
        for (let i = 0; i < this.listDisc.length; i++) {
            colDisc[this.listDisc[i].Key] = this.listDisc[i];
        }
        for (let i = 0; i < this.listPartics.length; i++) {
            const p = this.listPartics[i];
            p.DiscDesc = colDisc[p.Disc].Desc;
            let noc: Noc = counters[p.Org];
            if (!noc) {
                noc = {
                    Key: p.Org,
                    Desc: '',
                    nAth: 0,
                    nTeam: 0
                };
                counters[p.Org] = noc;
            }
            if (p.Type == 'A') noc.nAth++;
            else noc.nTeam++;
        }
        for (let i = 0; i < this.listNOC.length; i++) {
            const noc: Noc = counters[this.listNOC[i].Key];
            if (noc) {
                noc.Desc = this.listNOC[i].Desc;
                this.listByNOC.push(noc);
            }
        }
    }

    filterParticipants() {
        this.listFiltered = [];
        // Filter participants
        if (this.selType != 'nocs') {
            for (let i = 0; i < this.listPartics.length; i++) {
                const curr = this.listPartics[i];
                if (
                    this.checkType(curr.Type) &&
                    this.checkDisc(curr.Disc) &&
                    this.checkNOC(curr.Org) &&
                    this.checkName(curr.Name)
                ) {
                    this.listFiltered.push(curr);
                }
            }
        }
        // Filter NOC list
        else {
            for (let i = 0; i < this.listByNOC.length; i++) {
                const curr = this.listByNOC[i];
                if (this.checkNOC(curr.Key)) this.listFiltered.push(curr);
            }
        }
        this.currPage = 0;
        this.numPages = Math.ceil(this.listFiltered.length / this.size);
        this.setPage(0, 0);
    }

    setPage(nPag: number, offset: number) {
        if (offset) nPag = this.currPage + offset;
        if (nPag < 0) nPag = 0;
        if (nPag >= this.numPages) nPag = this.numPages - 1;
        this.currPage = nPag;
        // Now filter list
        const start = nPag * this.size;
        this.listToShow = this.listFiltered.slice(start, start + this.size);
    }

    get showPrev() {
        return this.currPage > 0;
    }
    get showNext() {
        return this.currPage < this.numPages - 1;
    }
    get state() {
        // const total = this.listFiltered.length;
        /* let first = this.size * this.currPage + 1
        let last = first + this.listToShow.length - 1
        return `${first}-${last} ${this.$t('participants.x-of-y')} ${total}` */
        return `${this.currPage + 1} ${this.$t('participants.x-of-y')} ${this.numPages}`;
    }

    //#region Events
    checkDisc(key: string): boolean {
        if (this.selDisc.length == 0) return true;
        return this.selDisc.some((e: any) => e.Key === key);
    }
    addDisc(elem: any) {
        if (!this.selDisc.some((e: any) => e.Key === elem.Key)) {
            this.selDisc.push(elem);
            this.runFilters();
        }
    }
    removeDisc(key: string) {
        this.selDisc = this.selDisc.filter((e: any) => e.Key !== key);
        this.runFilters();
    }

    //#endregion

    //NOC Block
    checkNOC(key: string): boolean {
        if (this.selNOC.length == 0) return true;
        return this.selNOC.some((e: any) => e.Key === key);
    }
    addNOC(elem: any) {
        if (!this.selNOC.some((e: any) => e.Key === elem.Key)) {
            this.selNOC.push(elem);
            this.runFilters();
        }
    }
    removeNOC(key: string) {
        this.selNOC = this.selNOC.filter((e: any) => e.Key !== key);
        this.runFilters();
    }

    checkName(name: string) {
        if (this.searchText.length < 3) return true;
        else {
            const mask = this.searchText.toUpperCase();
            name = name.toUpperCase();
            return name.indexOf(mask) >= 0;
        }
    }

    setType(selection: any) {
        this.$router.push({ name: '', params: { type: selection.Key } });
    }
    @Watch('$route.params.type')
    onChangedView(value: string) {
        if (!value) {
            this.$router.replace({ name: '', params: { type: 'athletes' } });
            return;
        }
        this.selType = value;
        const bsection: any = this.$refs.bsection;
        bsection.setSelection(this.selectors.findIndex(e => e.Key == value));
        // espera a que this.loading sea false
        const intervalId = setInterval(() => {
            if (!this.loading) {
                this.runFilters();
                clearInterval(intervalId);
            }
        }, 50);
    }

    @Watch('searchText')
    onSearchText() {
        let timer;
        if (this.searchText.length >= 3) {
            //console.log('clear Timeout, busca ', this.searchText);
            clearTimeout(timer);
            timer = setTimeout(() => {
                this.runFilters();
            }, 300);
        }
    }

    checkType(type: string) {
        if (type == 'A' && this.selType == 'athletes') return true;
        if (type != 'A' && this.selType == 'teams') return true;
        return false;
    }
}
</script>
