<template lang="pug">
.participants
    BMainHeader(
        :description='$t("participants.title")',
        :backgroundImg='require("@theme/images/backgrounds/sections/athletes.jpg")',
        :icon='"fa fas fa-users"')
    SectionBase(
        :bg='require("@theme/images/backgrounds/sections/athletes.jpg")',
        title='',
        :loading='loading',
        :selectors='selectors',
        seldesc='Desc',
        @selection='setType',
        ref='bsection')
        template(#header)
            p
                span.fa-lg.fas.fa-users
                | {{ $t("participants.title") }}
        template(#submenu)
            p
                span.fa-lg.fas.fa-users
                | {{ $t("participants.title") }}

        template(#filters)
            .filters-section
                .filters-menu
                    button.header-section-container-submenu__filters__button(@click='modalfilter = !modalfilter')
                        template(v-if='!modalfilter')
                            i.fas.fa-search
                            span.add-filter {{ $t("filters.title") }}
                        template(v-else-if='modalfilter')
                            i.fas.fa-times
                            span {{ $t("filters.close-filter") }}
                //- WIP
                //- .filters-options
                //-     .option
                //-         .label Noc
                //-         .select
                //-             auto-complete(:items='listNOC', field='Desc', @selected='addNOC', :placeholder='`(${$t("filters.noc")})`')
                //-     .option
                //-         .label Disc
                //-         .select
                //-             auto-complete(:items='listDisc', field='Desc', @selected='addDisc', :placeholder='`(${$t("filters.disc")})`')
                //-     .option
                //-         .select
                //-             i.far.fa-user
                //-             input(type='text', placeholder='(Name)', v-model='searchText')
                //- .filters-selected
                //-     template(v-for='noc in selNOC')
                //-         .selected(@click='removeNOC(noc.Key)') {{ noc.Desc }}
                //-     template(v-for='disc in selDisc')
                //-         .selected(@click='removeDisc(disc.Key)') {{ disc.Desc }}
            .header-section-container-submenu__filters__modal(:class='{ visible: modalfilter }')
                ul.header-section-container-submenu__filters__modal__list
                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.noc") }}
                        auto-complete(:items='listNOC', field='Desc', @selected='addNOC', :placeholder='`(${$t("filters.noc")})`')

                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.disc") }}
                        auto-complete(:items='listDisc', field='Desc', @selected='addDisc', :placeholder='`(${$t("filters.disc")})`')

            .header-section-container-submenu__filters__search-ath
                i.far.fa-user
                input(type='text', placeholder='(Name)', v-model='searchText')

            .header-section-container-submenu__filters__selected
                ul.header-section-container-submenu__filters__selected__list
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='noc in selNOC')
                        span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeNOC(noc.Key)') {{ noc.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='disc in selDisc')
                        span.header-section-container-submenu__filters__selected__list__filter__text(@click='removeDisc(disc.Key)') {{ disc.Desc }}
                            i.fas.fa-times

        template(#body)
            //- p(:class='loading ? "red" : "green"') loading: {{ loading }}
            //- p(:class='loadedNextTemp ? "green" : "red"') loadedNextTemp: {{ loadedNextTemp }}
            //- p(:class='loadedAllTemp ? "green" : "red"') loadedAllTemp: {{ loadedAllTemp }}
            //- p(:class='loadedAll ? "green" : "orange"') loadedAll: {{ loadedAll }}
            //- hr
            //- pre {{ selDisc }}   
            //- pre {{ selNOC }}

            .nocs-view(v-show='selType == "nocs"')
                p(v-if='listNOC.length == 0 && !loading') {{ $t("participants.no-countries") }}
                
                template(v-else)
                    ul.body-section-container__list-nocs
                        noc-item(v-for='(noc, i) in listToShow', :key='noc.Key + "_" + i', :value='noc')

                    .body-section-container__button-navigation-container(v-if='showPrev || showNext')
                        button.body-section-container__button-navigation-container__button.body-section-container__button-navigation-container__button_prev(
                            v-if='showPrev',
                            @click='setPage(currPage, -1)')
                            i.fas.fa-angle-left
                            span {{ $t("participants.prev") }}
                        p.body-section-container__button-navigation-container__state {{ state }}
                        button.body-section-container__button-navigation-container__button.body-section-container__button-navigation-container__button_next(
                            v-if='showNext',
                            @click='setPage(currPage, 1)')
                            span {{ $t("participants.next") }}
                            i.fas.fa-angle-right

            .participants-view(v-show='selType != "nocs"')
                //- muestra lo que haya en listFilteredByGroup, esta agrupado, primero por DIsc , luego por Noc
                template(v-if='listFilteredByGroup && listFilteredByGroup.length > 0')
                    //- template(v-if='selType == "athletes"')
                    //-     span.loaded-data {{ listFilteredCountAthletesShowing }} athletes listed
                    //- template(v-else-if='selType == "teams"')
                    //-     span.loaded-data {{ listFilteredCountTeamsShowing }} teams listed
                    template(v-if='!loadedAll')
                        template(v-if='!loadedNextTemp && !loadedAllTemp')
                            .button-fixed-bottom
                                span.loaded-data loading more ...
                        template(v-else-if='loadedNextTemp && !loadedAllTemp')
                            template(v-if='selType == "athletes"')
                                .button-fixed-bottom
                                    button.button-next(@click='loadNextChunk') Show next {{ listFilteredCountAthletesTemp }}
                            template(v-else-if='selType == "teams"')
                                .button-fixed-bottom
                                    button.button-next(@click='loadNextChunk') Show next {{ listFilteredCountTeamsTemp }}
                        template(v-else-if='loadedNextTemp && loadedAllTemp')
                            template(v-if='selType == "athletes"')
                                .button-fixed-bottom
                                    button.button-next(@click='loadNextChunk') Show last {{ listFilteredCountAthletesTemp }}
                            template(v-else-if='selType == "teams"')
                                .button-fixed-bottom
                                    button.button-next(@click='loadNextChunk') Show last {{ listFilteredCountTeamsTemp }}
                    //- template(v-else)
                    //-     span.loaded-data all data loaded ...
                    //- hr
                    keep-alive
                        ParticipantsList(:filteredList='listFilteredByGroup', :listType='selType', :class='loading ? "loading" : ""')

                    //- hr
                    //- template(v-if='selType == "athletes"')
                    //-     span.loaded-data {{ listFilteredCountAthletesShowing }} athletes listed
                    //- template(v-else-if='selType == "teams"')
                    //-     span.loaded-data {{ listFilteredCountTeamsShowing }} teams listed
                    //- template(v-if='!loadedAll')
                    //-     template(v-if='!loadedNextTemp && !loadedAllTemp')
                    //-         span.loaded-data loading more ...
                    //-     template(v-else-if='loadedNextTemp && !loadedAllTemp')
                    //-         template(v-if='selType == "athletes"')
                    //-             button.button-next(@click='loadNextChunk') Show next {{ listFilteredCountAthletesTemp }}
                    //-         template(v-else-if='selType == "teams"')
                    //-             button.button-next(@click='loadNextChunk') Show next {{ listFilteredCountTeamsTemp }}
                    //-     template(v-else-if='loadedNextTemp && loadedAllTemp')
                    //-         template(v-if='selType == "athletes"')
                    //-             button.button-next(@click='loadNextChunk') Show last {{ listFilteredCountAthletesTemp }}
                    //-         template(v-else-if='selType == "teams"')
                    //-             button.button-next(@click='loadNextChunk') Show last {{ listFilteredCountTeamsTemp }}
                    //- template(v-else)
                    //-     span.loaded-data all data loaded ...
                p(v-if='listPartics.length == 0 && !loading') {{ $t("participants.no-partics") }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import services from '@/settings/services';
import navData from '@/settings/navData';
//
import AutoComplete from '@/components/commons/Filters.vue';
import SectionBase from '@/components/commons/SectionBase.vue';
import ParticItem from '@/components/Participants/Participant.vue';
import NocItem from '@/components/Participants/Noc.vue';
//
import ParticipantsList from '@/components/Participants/ParticipantsList.vue';
//
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

interface Partic {
    Disc: string; // Discipline
    DiscDesc: string;
    Reg: string; // Reg
    Org: string; // Org
    Gender: string; // gender
    Name: string; // Name
    Type: string; // Type
    Size?: number; // # members
    Memebers?: Array<any>; // members si es dobles
}

interface Noc {
    Key: string;
    Desc: string;
    nAth: number;
    nTeam: number;
}

/* eslint-disable */
@Component({
    components: {
        AutoComplete,
        SectionBase,
        ParticItem,
        ParticipantsList,
        NocItem,
        BMainHeader
    }
})
/* eslint-enable */
export default class ParticipantsView extends mixins(Images, Utils) {
    //
    // Lists
    listByNOC: Array<Noc> = [];
    listFiltered: Array<any> = [];
    listFilteredByGroup: Array<any> = [];
    listFilteredTemp: Array<any> = [];
    loadedAllTemp = false;
    loadedNextTemp = false;
    loadedAll = false;
    listFilteredCountAthletesShowing = 0 as number;
    listFilteredCountTeamsShowing = 0 as number;
    listFilteredCountAthletesTemp = 0 as number;
    listFilteredCountTeamsTemp = 0 as number;
    listToShow: Array<any> = [];
    //
    listPartics: Array<Partic> = [];
    listParticsAthletes: Array<Partic> = [];
    listParticsTeams: Array<Partic> = [];
    listParticsDoubles: Array<Partic> = [];
    listDisc: Array<any> = [];
    listNOC: Array<any> = [];
    // limits
    limitFirstLoad = 100 as number;
    // Selections
    searchText = '';
    selType = '';
    selDisc: Array<any> = [];
    selNOC: Array<any> = [];
    //
    // Pages
    currPage = 0;
    numPages = 0;
    size = 50;
    //
    modalfilter = false;
    loading = false;
    //
    //
    selectors = [
        { Key: 'athletes', Desc: 'Athletes' },
        { Key: 'teams', Desc: 'Teams' },
        { Key: 'nocs', Desc: 'NOCs' }
    ];

    async created() {
        this.loading = true;
        const res = await services.link('participants');
        this.loading = false;
        this.listPartics = res ? res.participants : [];
        // listParticipants, por Teams, por Athletes o por Nocs
        this.listParticsAthletes = res ? res.participants.filter((p: any) => p.Type == 'A') : [];
        this.listParticsTeams = res ? res.participants.filter((p: any) => p.Type == 'T') : [];
        this.listParticsDoubles = res ? res.participants.filter((p: any) => p.Type == 'D') : [];
        //
        this.listNOC = res ? res.orgs : [];
        this.listDisc = res ? res.disciplines : [];
        this.buildElements();
        navData.getFilterPartics(this.selNOC, this.selDisc);
        if (!this.$route.params.type) {
            this.$router.replace({ params: { type: 'athletes' } });
        } else {
            this.selType = this.$route.params.type;
            const bsection: any = this.$refs.bsection;
            bsection.setSelection(this.selectors.findIndex((e: any) => e.Key == this.selType));
        }
        this.runFilters();
    }

    resetFilters() {
        // reset
        this.listFilteredTemp = [];
        this.loadedNextTemp = false;
        this.loadedAllTemp = false;
        this.loadedAll = false;
        this.listFilteredCountAthletesTemp = 0;
        this.listFilteredCountTeamsTemp = 0;
    }

    runFilters() {
        this.loading = true;
        this.resetFilters();
        const filterLimit = this.selDisc.length == 0 ? 100 : 200;
        setTimeout(() => {
            this.listFilteredByGroup = [];
            this.listFilteredByGroup = this.filterParticipantsAndGroup(filterLimit);
            this.listFilteredCountAthletesShowing = this.listFilteredCountAthletesTemp;
            this.listFilteredCountTeamsShowing = this.listFilteredCountTeamsTemp;
            if (this.loadedAllTemp) {
                //console.log('primera carga tiene todo, no necesito ir a buscar mas datos');
                this.loadedAll = true;
            } else {
                this.loadedAllTemp = false;
                this.loadedNextTemp = false;
                //console.log('voy a buscar todo el resto de datos');
                this.loadAllFilterParticipantByGroup();
            }
            this.loading = false;
        }, 100);
    }

    loadNextChunk() {
        this.mergeFilteredData();
        this.listFilteredTemp = [];
        if (this.loadedAllTemp) {
            console.log('esta carga tiene todo, no necesito ir a buscar mas datos');
            this.loadedAll = true;
        } else {
            this.loadedNextTemp = false;
            this.loadedAllTemp = false;
            this.loadedAll = false; // por si acaso
            //console.log(' cargado otro chunk, pero quedan mas datos, voy a por ellos');
            this.loadAllFilterParticipantByGroup();
        }
    }

    loadAllFilterParticipantByGroup() {
        setTimeout(() => {
            this.listFilteredTemp = this.filterParticipantsAndGroup(300);
        }, 1000);
    }

    beforeDestroy() {
        navData.setFilterPartics(this.selNOC, this.selDisc);
    }

    buildElements() {
        this.listByNOC = [];
        const counters: any = {};
        const colDisc: any = {};
        for (let i = 0; i < this.listDisc.length; i++) {
            colDisc[this.listDisc[i].Key] = this.listDisc[i];
        }
        for (let i = 0; i < this.listPartics.length; i++) {
            const p = this.listPartics[i];
            p.DiscDesc = colDisc[p.Disc].Desc;
            let noc: Noc = counters[p.Org];
            if (!noc) {
                noc = {
                    Key: p.Org,
                    Desc: '',
                    nAth: 0,
                    nTeam: 0
                };
                counters[p.Org] = noc;
            }
            if (p.Type == 'A') noc.nAth++;
            else noc.nTeam++;
        }
        for (let i = 0; i < this.listNOC.length; i++) {
            const noc: Noc = counters[this.listNOC[i].Key];
            if (noc) {
                noc.Desc = this.listNOC[i].Desc;
                this.listByNOC.push(noc);
            }
        }
    }

    mergeFilteredData() {
        const mergedData = this.listFilteredByGroup as Array<any>;
        if (this.listFilteredTemp.length > 0) {
            this.listFilteredTemp.forEach(moreDisc => {
                const index = mergedData.findIndex(disc => moreDisc.disc == disc.disc);
                if (index != -1) {
                    // mergea los nocs
                    if (moreDisc.nocs && moreDisc.nocs.length > 0) {
                        moreDisc.nocs.forEach((mn: any) => {
                            const isIncluded = mergedData[index].nocs.some((n: any) => n.noc == mn.noc) as boolean;
                            if (!isIncluded) {
                                mergedData[index].nocs.push(mn);
                            }
                        });
                    }
                } else {
                    //copia contenido entero
                    mergedData.push(moreDisc);
                }
            });
        }
        this.listFilteredCountAthletesShowing += this.listFilteredCountAthletesTemp;
        this.listFilteredCountTeamsShowing += this.listFilteredCountTeamsTemp;
        return mergedData;
    }

    // dados un array y un valor, calcula el indice que tienen el valor en el array
    // y devuelve el valor del mismo indice en el array target
    getValueInArrayByArrayValue(origin: Array<string>, value: string, target: Array<string>): string {
        const theIndex = origin.findIndex(val => val == value);
        if (theIndex == -1) return '';
        if (!target[theIndex]) return '';
        return target[theIndex];
    }

    // es acumulativo: agrupa, segun los criterios de filtro, todo lo que NO ESTA aun en this.listFilteredByGroup
    filterParticipantsAndGroup(limit: number) {
        let count = 0;
        let allDiscs = false;
        let allNocs = false;
        const resultFilteredByGroup = [] as any; // Los resultados FILTRADOS, agrupados por disciplinas y nocs
        let countParticipantsAthtletes = 0;
        let countParticipantsTeams = 0;

        // por cada disciplina seleccionada (TODAS si no hay filtro)
        let groupDisc = [] as Array<string>;
        let groupNoc = [] as Array<string>;
        // si hay algo filtrado lo usaré, si no, usaré todo
        groupDisc = this.selDisc.length > 0 ? this.selDisc : this.listDisc;
        groupNoc = this.selNOC.length > 0 ? this.selNOC : this.listNOC;
        // guardo las Descripciones para usarlas despues
        const groupDiscDesc = groupDisc.map((d: any) => d.Desc) as Array<string>;
        const groupNocDesc = groupNoc.map((n: any) => n.Desc) as Array<string>;
        // quiero solo las Keys
        groupDisc = groupDisc.map((d: any) => d.Key);
        groupNoc = groupNoc.map((n: any) => n.Key);

        if (this.listPartics.length > 0) {
            groupDisc.forEach((discKey: any, indexD: number) => {
                if (count < limit) {
                    //console.log('disciplina ', discKey);
                    if (indexD + 1 == groupDisc.length) allDiscs = true;
                    groupNoc.forEach((nocKey: any, indexN: number) => {
                        const filteredDiscIndex = this.listFilteredByGroup.findIndex((d: any) => d.disc == discKey);
                        const discIsFiltered = filteredDiscIndex == -1 ? false : true;
                        let nocIsFiltered = false;
                        if (discIsFiltered) {
                            nocIsFiltered = this.listFilteredByGroup[filteredDiscIndex].nocs.some(
                                (n: any) => n.noc == nocKey
                            );
                        }
                        //console.log('disc filtered?', discKey, discIsFiltered, 'noc filtered?', nocKey, nocIsFiltered);
                        if (count < limit && !nocIsFiltered) {
                            //console.log('noc ', indexN);
                            const getDiscIndex = resultFilteredByGroup.findIndex((d: any) => d.disc == discKey);
                            // si la disciplina ya existe en objeto que estoy construyendo, dime su index
                            let discIndex = -1;
                            if (getDiscIndex != -1) {
                                discIndex = getDiscIndex;
                                //console.log('disc ', discKey, ' existe con indice ', discIndex);
                            }
                            // si no esta incluida, incluyela y dime su index
                            else {
                                const newDisc = {
                                    disc: discKey,
                                    desc: this.getValueInArrayByArrayValue(groupDisc, discKey, groupDiscDesc),
                                    nocs: []
                                };
                                discIndex = resultFilteredByGroup.push(newDisc) - 1;
                                //console.log('disc ', discKey, ' creado con index ', discIndex);
                            }

                            if (indexN + 1 == groupNoc.length) allNocs = true;
                            // filtra todos los participantes, de tipo A, T o D
                            let participants = this.listPartics.filter(
                                (participant: any) => participant.Disc == discKey && participant.Org == nocKey
                            );
                            if (this.searchText.length >= 3) {
                                //console.log('buscando ', this.searchText);
                                participants = participants.filter((p: any) => {
                                    const name = p.Name.toLowerCase();
                                    const search = this.searchText.toLowerCase();
                                    const res = name.indexOf(search) >= 0;
                                    //console.log('en ', name, ' = ', res);
                                    return res;
                                });
                            }
                            participants = participants.sort((a: any, b: any) =>
                                parseInt(a.Reg) > parseInt(b.Reg) ? 1 : -1
                            );
                            count += participants.length;

                            // separa en 2: Teams/Doubles y Athletes
                            const participantsAthtletes = participants.filter((p: any) => ['A'].includes(p.Type));
                            const participantsTeams = participants.filter((p: any) => ['T', 'D'].includes(p.Type));
                            if (participants.length > 0 && discIndex != -1) {
                                const newItem = {
                                    noc: nocKey as string,
                                    desc: groupNocDesc[indexN] as string,
                                    participants: {
                                        athletes: participantsAthtletes as any,
                                        teams: participantsTeams as any
                                    }
                                };
                                // simplemente añade el noc donde corresponde
                                resultFilteredByGroup[discIndex].nocs.push(newItem);
                                countParticipantsAthtletes += participantsAthtletes.length;
                                countParticipantsTeams += participantsTeams.length;
                            }
                        }
                    });
                }
            });
        }

        // he recorrido todas las disciplinas y todos los nocs, o sea tengo todo los resultados posibles
        if (allDiscs && allNocs) {
            //console.log('tengo todo los resultados posibles, are you sure?');
            this.loadedAllTemp = true;
        } else {
            this.loadedAllTemp = false;
            //console.log('aqui no esta todo, faltan cosas');
        }
        this.loadedNextTemp = true;
        this.listFilteredCountAthletesTemp = countParticipantsAthtletes;
        this.listFilteredCountTeamsTemp = countParticipantsTeams;
        //console.log('total = ', countParticipantsAthtletes);
        return resultFilteredByGroup;
    }

    filterParticipantsNocs() {
        //console.log('filters Nocs');
        for (let i = 0; i < this.listByNOC.length; i++) {
            const curr = this.listByNOC[i];
            if (this.checkNOC(curr.Key)) this.listFiltered.push(curr);
        }
        this.currPage = 0;
        this.numPages = Math.ceil(this.listFiltered.length / this.size);
        this.setPage(0, 0);
    }

    filterParticipants() {
        this.listFiltered = [];
        // Filter participants
        if (this.selType != 'nocs') {
            for (let i = 0; i < this.listPartics.length; i++) {
                const curr = this.listPartics[i];
                if (
                    this.checkType(curr.Type) &&
                    this.checkDisc(curr.Disc) &&
                    this.checkNOC(curr.Org) &&
                    this.checkName(curr.Name)
                ) {
                    this.listFiltered.push(curr);
                }
            }
        }
        // Filter NOC list
        else {
            this.filterParticipantsNocs();
        }
        this.currPage = 0;
        this.numPages = Math.ceil(this.listFiltered.length / this.size);
        this.setPage(0, 0);
    }

    setPage(nPag: number, offset: number) {
        if (offset) nPag = this.currPage + offset;
        if (nPag < 0) nPag = 0;
        if (nPag >= this.numPages) nPag = this.numPages - 1;
        this.currPage = nPag;
        // Now filter list
        const start = nPag * this.size;
        this.listToShow = this.listFiltered.slice(start, start + this.size);
    }

    get showPrev() {
        return this.currPage > 0;
    }
    get showNext() {
        return this.currPage < this.numPages - 1;
    }
    get state() {
        // const total = this.listFiltered.length;
        /* let first = this.size * this.currPage + 1
        let last = first + this.listToShow.length - 1
        return `${first}-${last} ${this.$t('participants.x-of-y')} ${total}` */
        return `${this.currPage + 1} ${this.$t('participants.x-of-y')} ${this.numPages}`;
    }

    //#region Events
    checkDisc(key: string): boolean {
        if (this.selDisc.length == 0) return true;
        return this.selDisc.some((e: any) => e.Key === key);
    }
    addDisc(elem: any) {
        if (!this.selDisc.some((e: any) => e.Key === elem.Key)) {
            this.selDisc.push(elem);
        }
        this.runFilters();
    }
    removeDisc(key: string) {
        this.selDisc = this.selDisc.filter((e: any) => e.Key !== key);
        this.runFilters();
    }

    //#endregion

    //NOC Block
    checkNOC(key: string): boolean {
        if (this.selNOC.length == 0) return true;
        return this.selNOC.some((e: any) => e.Key === key);
    }
    addNOC(elem: any) {
        if (!this.selNOC.some((e: any) => e.Key === elem.Key)) {
            this.selNOC.push(elem);
        }
        this.runFilters();
    }
    removeNOC(key: string) {
        this.selNOC = this.selNOC.filter((e: any) => e.Key !== key);
        this.runFilters();
    }

    checkName(name: string) {
        if (this.searchText.length < 3) return true;
        else {
            const mask = this.searchText.toUpperCase();
            name = name.toUpperCase();
            return name.indexOf(mask) >= 0;
        }
    }

    setType(selection: any) {
        this.$router.push({ name: '', params: { type: selection.Key } });
    }
    @Watch('$route.params.type')
    onChangedView(value: string) {
        if (!value) {
            this.$router.replace({ name: '', params: { type: 'athletes' } });
            return;
        }
        this.selType = value;
        const bsection: any = this.$refs.bsection;
        bsection.setSelection(this.selectors.findIndex(e => e.Key == value));
        // espera a que this.loading sea false
        const waitLoading = setInterval(() => {
            if (!this.loading) {
                // de aqui sale el filtro de NOCS, no lo elimines hasta que no lo cambies
                this.filterParticipantsNocs();
                //console.log('cambio de Type, no es un cambio de ruta');
                clearInterval(waitLoading);
            }
        }, 50);
    }

    @Watch('searchText')
    onSearchText() {
        let timer;
        if (this.searchText.length == 0 || this.searchText.length >= 3) {
            console.log('clear Timeout, busca ', this.searchText);
            clearTimeout(timer);
            timer = setTimeout(() => {
                console.log('runFilters desde Watch searchText');
                this.runFilters();
            }, 300);
        }
    }

    checkType(type: string) {
        if (type == 'A' && this.selType == 'athletes') return true;
        if (type != 'A' && this.selType == 'teams') return true;
        return false;
    }
}
</script>
