<template lang="pug">
.reports
    BMainHeader(v-if='disc', :disc='disc')
    BMainHeader(v-else, :description='$t("reports.title")', :backgroundImg='bg', :icon='"fa far fa-file-pdf"')
    b-section(:bg='bg', :image='picto(disc)', :image-sub='picto(disc)', :title='title', :loading='loading')
        //- template(#header)
        //-     h3 hola Reports HEADER
        //-     p(v-if='disc') {{ getTitleDesc(disc) }}
        //-     p(v-else)
        //-         span.fa-lg.far.fa-file-pdf
        //-         |
        //-         | {{ $t("reports.title") }}
        template(#submenu)
            //- h3 __test__hola Reports SUBMENU
            p(v-if='disc') {{ getTitleDesc(disc) }}
            p(v-else)
                span.fa-lg.far.fa-file-pdf
                |
                | {{ $t("reports.title") }}

        template(#filters)
            .filters-section
                .filters-menu
                    button.header-section-container-submenu__filters__button(@click='modalfilter = !modalfilter')
                        template(v-if='!modalfilter')
                            i.fas.fa-search
                            span.add-filter {{ $t("filters.title") }}
                        template(v-else-if='modalfilter')
                            i.fas.fa-times
                            span {{ $t("filters.close-filter") }}
            .header-section-container-submenu__filters__modal(:class='{ visible: modalfilter }')
                ul.header-section-container-submenu__filters__modal__list
                    li.header-section-container-submenu__filters__modal__list__filter(v-if='!disc')
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.disc") }}
                        auto-complete(
                            :items='listDisc',
                            field='Desc',
                            @selected='selectDiscipline($event)',
                            :placeholder='$t("filters.holder")'
                        )

                    template(v-if='activeDisc')
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.event") }}
                            auto-complete(
                                :items='listEvents',
                                field='Desc',
                                @selected='addFilter(selEvent, $event)',
                                :placeholder='$t("filters.holder")'
                            )
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.phase") }}
                            auto-complete(
                                :items='listPhases',
                                field='Desc',
                                @selected='addFilter(selPhase, $event)',
                                :placeholder='$t("filters.holder")'
                            )
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.date") }}
                            auto-complete(
                                :items='listDays',
                                field='title',
                                @selected='addFilter(selDays, $event)',
                                :placeholder='$t("filters.holder")'
                            )
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.type") }}
                            auto-complete(
                                :items='listOris',
                                field='Desc',
                                @selected='addFilter(selOris, $event)',
                                :placeholder='$t("filters.holder")'
                            )

            .header-section-container-submenu__filters__selected
                ul.header-section-container-submenu__filters__selected__list
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='event in selEvent')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selEvent, event)'
                        ) {{ event.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='ph in selPhase')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selPhase, ph)'
                        ) {{ ph.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='day in selDays')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selDays, day)'
                        ) {{ day.title }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='oris in selOris')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selOris, oris)'
                        ) {{ oris.Title }}
                            i.fas.fa-times

        template(#body)
            //- h3 __test__hola REPORTS body
            .body-section-container__button-navigation-container(v-if='filteredReports.length > 0')
                button.body-section-container__button-navigation-container__button.body-section-container__button-navigation-container__button_next(
                    @click='downloadReports'
                )
                    span {{ $t("reports.download") }}
                    i.far.fa-arrow-alt-circle-down

            .body-section-container__pdf-container
                template(v-if='!activeDisc')
                    p.body-section-container__pdf-container__discipline-unselected.mb-4 {{ $t("reports.start") }}

                    ul.body-section-container__pdf-container__list
                        li.body-section-container__pdf-container__list__li
                            ul.body-section-container__pdf-container__list__li__medals(v-if='listResultBook.length > 0'                            )
                                li.body-section-container__pdf-container__list__li__medals__medal
                                    p.title Result Books
                                    ul.reports-list
                                        li.reports-list__item(v-for='rep in listResultBook')
                                            a(:href='rep.URL', target='_blank')
                                                .reports-list__item__desc {{ rep.DiscDesc }}

                template(v-else)
                    ul.body-section-container__pdf-container__list
                        //- Discipline level
                        li.body-section-container__pdf-container__list__li(
                            v-if='filteredRepDisc.length > 0 || filteredRepCommsDisc.length > 0'
                        )
                            button.body-section-container__pdf-container__list__li__desc.mb-2(
                                    v-b-toggle.collapse-disc,
                                @click='showPDF',
                                :class='openedDisc ? "arrowR" : "arrowD"'
                            ) {{ $t("reports.general") }}
                                i.fas.fa-angle-right
                        
                            b-collapse#collapse-disc
                                ul.body-section-container__pdf-container__list__li__medals
                                    li.body-section-container__pdf-container__list__li__medals__medal(
                                        v-for='item in filteredRepDisc'
                                    )
                                        p.title(v-if='item.Desc') {{ item.Desc }}
                                        ul.reports-list
                                            li.reports-list__item(v-for='rep in item.Reports')
                                                a(:href='rep.URL', target='_blank')
                                                    .reports-list__item__desc {{ rep.Desc }}
                                    //- Communications level, Group == COMMS
                                    li.body-section-container__pdf-container__list__li__medals__medal(
                                        v-if='filteredRepCommsDisc.length > 0'
                                    )
                                        template(v-for='item in filteredRepCommsDisc')
                                            p.title(v-if='item.Desc') {{ item.Desc }}
                                            ul.reports-list
                                                li.reports-list__item(v-for='rep in item.Reports')
                                                    a(:href='rep.URL', target='_blank')
                                                        .reports-list__item__desc {{ rep.Desc }}
                        //- Event level
                        li.body-section-container__pdf-container__list__li(v-for='(evt, indexE) in filteredRepEvt')
                            .accordion(role="tablist")
                                .mb-1
                                    button.body-section-container__pdf-container__list__li__desc.mb-2(
                                            v-b-toggle='`collapse-${indexE}`',
                                            @click='openingEvent(indexE)',
                                            :class='openedEvent == indexE ? "arrowR" : "arrowD"'
                                        ) {{ evt.Desc }}
                                            i.fas.fa-angle-right
                                        
                                    
                                    b-collapse(:id='`collapse-${indexE}`', accordion="my-accordion" ,role="tabpanel")
                                        ul.body-section-container__pdf-container__list__li__medals(
                                            v-if='evt.Reports.length > 0',
                                            :class='openedEvent == indexE ? "showE" : "hideE"')
                                            li.body-section-container__pdf-container__list__li__medals__medal(v-for='item in evt.Reports')
                                                p.title(v-if='item.Desc') {{ item.Desc }}
                                                ul.reports-list
                                                    li.reports-list__item(v-for='repEvt in item.Reports')
                                                        a(:href='repEvt.URL', target='_blank')
                                                            .reports-list__item__desc {{ repEvt.Desc }}

                                        ul.report-phase(:class='openedEvent == indexE ? "showEXX" : "hideEXX"')
                                            .report-phase__list(v-for='ph in evt.Phases')
                                                .report-phase__list__title {{ ph.Desc }}
                                                //- Reports de phase
                                                ul.body-section-container__pdf-container__list__li__medals(v-if='ph.Reports.length > 0')
                                                    li.body-section-container__pdf-container__list__li__medals__medal(
                                                        v-for='repPh in ph.Reports')
                                                        p.title(v-if='repPh.Desc') {{ repPh.Desc }}
                                                        ul.reports-list
                                                            li.reports-list__item(v-for='rep in repPh.Reports')
                                                                a(:href='rep.URL', target='_blank')
                                                                    .reports-list__item__desc {{ rep.Desc }}

                                                //-Reports de las units
                                                ul.body-section-container__pdf-container__list__li__medals(v-if='ph.Units.length > 0')
                                                    li.report-unit(v-for='unit in ph.Units')
                                                        p.report-unit__date {{ getWeekDayMonth(unit.DateTimeRaw) }}
                                                        router-link.report-unit__teams-info(
                                                            v-if='!unit.isH2H',
                                                            :to='{ name: "disc_results", params: { disc: selDisc, rsc: unit.Key } }'
                                                        )
                                                            .report-unit__title(v-if='!unit.isH2H') 
                                                                img(:src='getMedals(unit.Medal)')
                                                                span {{ unit.UnitDescA ? unit.UnitDescA : unit.PhaseDescA }}
                                                        router-link.report-unit__teams-info(
                                                            v-if='unit.isH2H',
                                                            :to='{ name: "disc_results", params: { disc: selDisc, rsc: unit.Key } }'
                                                        )
                                                            img.report-unit__teams-info__medal(:src='getMedals(unit.Medal)') 
                                                            ul.report-unit__teams-info__players
                                                                li.report-unit__teams-info__players__player(
                                                                    :class='unit.Home.Winner ? "winner" : ""'
                                                                )
                                                                    img.report-unit__teams-info__players__player__flag(
                                                                        :src='flag(unit.Home.Org)'
                                                                    ) 
                                                                    span.report-unit__teams-info__players__player__noc {{ unit.Home.Org }}
                                                                    span.report-unit__teams-info__players__player__name {{ unit.Home.Name }}
                                                                li.report-unit__teams-info__players__player(
                                                                    :class='unit.Away.Winner ? "winner" : ""'
                                                                )
                                                                    img.report-unit__teams-info__players__player__flag(
                                                                        :src='flag(unit.Away.Org)'
                                                                    ) 
                                                                    span.report-unit__teams-info__players__player__noc {{ unit.Away.Org }}
                                                                    span.report-unit__teams-info__players__player__name {{ unit.Away.Name }}

                                                        ul.reports-list
                                                            li.reports-list__item(v-for='repUnit in unit.Reports')
                                                                a(:href='repUnit.URL', target='_blank')
                                                                    .reports-list__item__desc {{ repUnit.Desc }}

                    p(v-if='filteredReports.length == 0 && !loading') {{ $t("reports.no-info") }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import axios from 'axios';
import JSZip from 'jszip';
import services from '@/settings/services';
import images from '@/mixins/images';
import utils from '@/mixins/utils';
import dates from '@/mixins/dates';
import BSection from '@/components/commons/SectionBase.vue';
import AutoComplete from '@/components/commons/Filters.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

interface Filter {
    _key: string;
    Desc?: string;
}

interface RepItem {
    Name: string;
    URL: string;
}

@Component({
    components: {
        BSection,
        AutoComplete,
        BMainHeader
    }
})
export default class ReportsView extends mixins(images, utils, dates) {
    listDisc: Filter[] = [];
    listEvents: Filter[] = [];
    listOris: Filter[] = [];
    listDays: Filter[] = [];
    listPhases: Filter[] = [];
    //
    selDisc = '';
    selEvent: Filter[] = [];
    selPhase: Filter[] = [];
    selOris: Filter[] = [];
    selDays: Filter[] = [];
    //
    listResultBook: any[] = [];
    listRepDisc: any[] = [];
    listRepEvents: any[] = [];
    filteredRepDisc: any[] = [];
    filteredRepCommsDisc: any[] = [];
    filteredRepEvt: any[] = [];
    filteredReports: RepItem[] = [];
    //
    openedDisc = false;
    openedEvent = -1;
    //
    loading = false;
    title = '';
    modalfilter = false;
    idValue = '';

    get activeDisc() {
        if (this.disc) return true;
        if (this.selDisc) return true;
        return false;
    }

    get disc(): string {
        return this.$route.params.disc || '';
    }
    @Watch('disc')
    discWatcher() {
        const elem = this.listDisc.find((elem: Filter) => elem._key == this.disc);
        this.selectDiscipline(elem);
    }

    get bg() {
        if (this.disc) return this.discBg();
        else return require('@theme/images/backgrounds/sections/reports.jpg');
    }

    showPDF() {
        if (this.openedDisc) {
            this.openedDisc = false;
        } else {
            this.openedDisc = true;
        }
    }

    cleanData() {
        this.listEvents = [];
        this.listOris = [];
        this.listDays = [];
        this.listPhases = [];
        //
        this.listRepDisc = [];
        this.listRepEvents = [];
        this.filteredRepDisc = [];
        this.filteredRepCommsDisc = [];
        this.filteredRepEvt = [];
        this.filteredReports = [];
        //
        this.selEvent = [];
        this.selPhase = [];
        this.selOris = [];
        this.selDays = [];
    }

    async selectDiscipline(key: any) {
        this.cleanData();
        this.selDisc = key._key;
        this.title = key.Desc;
        //
        this.listDays = this.buildFilter(this.$store.state.scheduleDays[this.selDisc], 'raw');
        //
        this.loading = true;
        const allReps = await services.link('reports_all', this.selDisc);
        this.loading = false;
        //
        if (allReps) {
            this.listRepDisc = allReps.Discipline;
            this.listRepEvents = allReps.Events;
            for (let i = 0; i < allReps.Oris.length; i++) {
                const o = allReps.Oris[i];
                o.Desc = `(${o.Oris}) ${o.Title}`;
            }
            this.listOris = this.buildFilter(allReps.Oris, 'Oris');
        } else {
            this.listRepDisc = [];
            this.listRepEvents = [];
            this.listOris = [];
        }

        this.listEvents = this.buildFilter(this.listRepEvents, 'Key');
        this.listPhases = [];
        for (let idxEv = 0; idxEv < this.listRepEvents.length; idxEv++) {
            const evt = this.listRepEvents[idxEv];
            for (let idxPh = 0; idxPh < evt.Phases.length; idxPh++) {
                const ph = evt.Phases[idxPh];
                this.listPhases.push({ _key: ph.Key, Desc: evt.Desc + ' - ' + ph.Desc });
            }
        }
        //
        this.setFilter();
    }
    //
    //
    //
    buildFilter(col: any[], field: string): Filter[] {
        col.map(e => {
            e._key = e[field];
        });
        return col;
    }

    checkFilter(col: Filter[], key: string | RegExp): boolean {
        if (col.length == 0) return true;
        return col.some((e: Filter) => {
            if (key instanceof RegExp) return key.test(e._key);
            return e._key === key;
        });
    }
    addFilter(col: Filter[], elem: Filter) {
        if (!col.some((e: Filter) => e._key === elem._key)) {
            col.push(elem);
            this.setFilter();
        }
    }
    removeFilter(col: Filter[], elem: Filter) {
        const idx = col.indexOf(elem);
        if (idx >= 0) col.splice(idx, 1);
        this.setFilter();
    }

    buildCommsArray(): void {
        const repDisc: any[] = [];
        for (let i = 0; i < this.filteredRepDisc.length; i++) {
            if (this.filteredRepDisc[i].Group === 'COMMS') {
                this.filteredRepCommsDisc.push(this.filteredRepDisc[i]);
            } else {
                repDisc.push(this.filteredRepDisc[i]);
            }
        }
        this.filteredRepDisc = repDisc;
    }

    setFilter() {
        this.filteredRepDisc = [];
        this.filteredRepCommsDisc = [];
        this.filteredRepEvt = [];
        this.filteredReports = [];
        // Filtro directamente todos los reports
        if (this.selEvent.length == 0) {
            this.filteredRepDisc = this.filterReportPack(this.listRepDisc);
            this.buildCommsArray();
        }
        // Eventos
        for (let i = 0; i < this.listRepEvents.length; i++) {
            const evt = this.listRepEvents[i];
            if (this.checkFilter(this.selEvent, evt.Key)) {
                const filtered = { Desc: evt.Desc, Phases: [] as any[], Reports: [] as any[] };
                filtered.Reports = this.filterReportPack(evt.Reports);
                filtered.Phases = this.filterPhases(evt.Phases);
                //
                if (filtered.Reports.length > 0 || filtered.Phases.length > 0) this.filteredRepEvt.push(filtered);
            }
        }
    }
    filterReportPack(reportPacks: any[], unitDate?: string) {
        const resp: any[] = [];
        for (let i = 0; i < reportPacks.length; i++) {
            const item = reportPacks[i];
            const filtered = { Type: item.Type, Group: item.Group, Desc: item.Desc, Reports: [] as any };
            filtered.Reports = this.filterReports(item.Reports, unitDate);
            //
            if (filtered.Reports.length > 0) resp.push(filtered);
        }
        return resp;
    }
    filterReports(reports: any[], unitDate?: string) {
        const t = [];
        for (let i = 0; i < reports.length; i++) {
            const curr = reports[i];
            let date = curr.RSC ? curr.RSC.substr(-8) : ''; // en la parte de la unit vendrá la fecha
            let rscPhase = curr.RSC ? curr.RSC.substr(0, 29) : '';
            rscPhase = new RegExp('^' + rscPhase.substr(4));
            //
            if (date) date = date.substr(0, 4) + '-' + date.substr(4, 2) + '-' + date.substr(6, 2);
            //
            if (
                this.checkFilter(this.selOris, curr.Oris) &&
                this.checkFilter(this.selDays, unitDate || date) &&
                this.checkFilter(this.selPhase, rscPhase)
            ) {
                t.push(curr);
                const rep: RepItem = {
                    Name: `${curr.RSC}_${curr.Oris}_${curr.Desc}`,
                    URL: curr.URL
                };
                this.filteredReports.push(rep);
            }
        }
        return t;
    }
    filterPhases(phases: any[]): any[] {
        const t: any[] = [];
        for (let i = 0; i < phases.length; i++) {
            const filtered = { Desc: phases[i].Desc, Units: [] as any[], Reports: [] as any[] };
            filtered.Reports = this.filterReportPack(phases[i].Reports);
            filtered.Units = [];
            for (let u = 0; u < phases[i].Units.length; u++) {
                const unit = phases[i].Units[u];
                const newUnit = Object.assign({}, unit);

                const date = unit.DateTimeRaw ? unit.DateTimeRaw.substr(0, 10) : '';
                newUnit.Reports = this.filterReports(unit.Reports, date);
                if (newUnit.Reports.length > 0) filtered.Units.push(newUnit);
            }

            if (filtered.Reports.length > 0 || filtered.Units.length > 0) t.push(filtered);
        }
        return t;
    }

    async downloadReports() {
        const ops = [];
        const zip = new JSZip();
        for (let i = 0; i < this.filteredReports.length; i++) {
            const report = this.filteredReports[i];
            const prom = axios.get(report.URL, { responseType: 'blob' });
            ops.push(prom);
            prom.then(function(rep) {
                zip.file(report.Name + '.pdf', rep.data);
            });
        }
        try {
            await Promise.all(ops);
            const content = await zip.generateAsync({ type: 'blob' });
            //
            const link = document.createElement('a');
            document.body.appendChild(link);
            link.href = URL.createObjectURL(content);
            const title = this.$store.getters.champDesc + '_' + this.title;
            link.setAttribute('download', title + '.zip');
            link.click();
        } catch (err) {
            console.error((err as any).stack);
        }
    }

    openingEvent(index: any) {
        this.openedEvent = index;

        // for (let i = 0; i < colapsedAll.length; i++) {
        //     colapsedAll[i]._prevClass = 'collapse';
        // }
        // colapsedAll[index]._prevClass = 'collapse show';
        //console.log(colapsedAll);

        // if (this.openedEvent == index) {
        //     this.openedEvent = -1;
        // } else {
        //     this.openedEvent = index;
        // }
    }

    async created() {
        this.listDisc = this.buildFilter(this.$store.state.disciplines, 'Key');
        if (this.disc) {
            const elem = this.listDisc.find((elem: Filter) => elem._key == this.disc);
            if (elem) this.selectDiscipline(elem);
        }
        this.listResultBook = await services.link('reports_books');
    }
}
</script>
