<template lang="pug">
mixin discItem
    .container-sch-disc__list__disc__link
        .container-sch-disc__list__disc__title.pointer(:class='live[item.Disc.Key] ? "live" : ""', @click='navigate(item.Disc.Key)')
            BDisciplineLabel.center(:disc='item.Disc.Key', :description='item.Disc.Desc')
            //- .container-sch-disc__list__disc__title__disc
            //-     img.container-sch-disc__list__disc__title__disc__img(:src='pictoIcon(item.Disc.Key, "w")')
            //- .container-sch-disc__list__disc__title__text
            //-     p.container-sch-disc__list__disc__title__text
            //-         | {{ item.Disc.Desc }}
            //-         i.far.fa-circle(v-if='live[item.Disc.Key]')

        .container-sch-disc__list__disc__days
            p Days
            ul.container-sch-disc__list__disc__days__list
                template(v-for='(day, dayIdx) in item.Dates')
                    li.container-sch-disc__list__disc__days__list__day(
                        v-if='day != "N"',
                        @click='navigate(item.Disc.Key, days[dayIdx].raw)')
                        .day-week {{ days[dayIdx].weekDay }}
                        .day-number {{ days[dayIdx].day }}
                            span.fa-lg.fas.fa-medal(v-if='day == "1"')
        //- .fo
        //-     section.fill
.container-schedule
    p.b-loading(v-if='loading')
        i.fa.fas.fa-spin.fa-spinner
        | {{ $t("general.loading") }}
    //- Radio selectors
    .body-section-container_selector.n-type-two(v-if='selectors.length > 0')
        .btn-group(role='group')
            .btn.selector(v-for='(item, i) in selectors', :class='{ active: i == idx }', @click='selection(item)')
                .btn-transform
                    i.fas(:class='item.Style')
                    span.m-r-5 {{ item.Desc }}
    template(v-if='genSch')
        section.body-section-container(v-if='mode == "G"')
            schedule-calendar(:info-schedule='genSch', :live='live', :today='today')
        section.body-section-container(v-if='mode == "T"')
            schedule-days(:info-schedule='genSch', :live='live', :today='today')
        section.body-section-container.container-sch-disc(v-if='mode == "D"')
            ul.container-sch-disc__list(v-if='matrix && matrix.length > 0')
                template(v-for='(item, index) in matrix')
                    li.container-sch-disc__list__disc(v-if='item.Disc.NonSport == false')
                        +discItem
            .schedule-calendar__legends.schedule-calendar__legends_disc-view
                ul.schedule-calendar__legends__list
                    li.schedule-calendar__legends__list__legend
                        p.schedule-calendar__legends__list__legend__info
                            i.far.fa-circle
                            | {{ $t("tooltip.live") }}
                    li.schedule-calendar__legends__list__legend
                        p.schedule-calendar__legends__list__legend__info
                            span.schedule-calendar__legends__list__legend__info__icon.fa-lg.fas.fa-medal
                            | {{ $t("tooltip.medal-day") }}
        //- p.disclaimer {{ $t("disclaimer") }}
    p(v-else-if='!loading') {{ $t("general.no-info") }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import moment from 'moment';
//
import config from '@/settings/config';
import services from '@/settings/services';
import images from '@/mixins/images';
//
import scheduleCalendar from '@/components/Schedule/ScheduleCalendar.vue';
import scheduleDays from '@/components/Schedule/ScheduleDays.vue';
//
import BDisciplineLabel from '@/BornanUI/BDisciplineLabel.vue';

@Component({
    components: {
        scheduleCalendar,
        scheduleDays,
        BDisciplineLabel
    }
})
export default class ScheduleView extends mixins(images) {
    selectors: any[] = [
        { Key: 'G', Style: 'fa-th', Desc: 'Grid', tab: 'grid', index: 0 },
        { Key: 'D', Style: 'fa-th-large', Desc: 'Disciplines', tab: 'disciplines', index: 1 },
        { Key: 'T', Style: 'fa-calendar-alt', Desc: 'Days', tab: 'days', index: 2 }
    ];
    idx = 0;
    mode: 'G' | 'D' | 'T' = 'G';
    loading = false;
    idInterval: NodeJS.Timeout | null = null;
    //
    genSch: any = null;
    days: any[] = [];
    matrix: any[] = [];
    live: any = {};

    async init() {
        this.loading = true;
        this.genSch = await services.link('schedule');
        this.loading = false;
        this.live = {};
        if (this.genSch == null) {
            this.days = [];
            this.matrix = [];
            return;
        }
        this.days = this.genSch.dates = this.genSch.dates.map((date: string) => {
            const dd = moment(date);
            return {
                raw: date,
                day: dd.format('DD'),
                month: dd.format('MMM'),
                weekDay: dd.format('ddd'),
                title: dd.format('ddd, D MMM')
            };
        });
        this.matrix = this.genSch.matrix;
        for (let i = 0; i < this.genSch.live.length; i++) {
            this.live[this.genSch.live[i].Key] = true;
        }
    }

    async mounted() {
        this.selectors[0].Desc = this.$t('schedule.grid');
        this.selectors[1].Desc = this.$t('schedule.disciplines');
        this.selectors[2].Desc = this.$t('schedule.days');
        this.init();
        if (this.$route.params.tab) {
            const tabSelected = this.selectors.find((d: any) => d.tab == this.$route.params.tab);
            this.mode = tabSelected.Key;
            this.idx = tabSelected.index;
            // } else if (window.innerWidth < 768) {
            //     this.mode = 'D';
            //     this.idx = 1;
            //     this.$router.push({ params: { tab: 'disciplines' } });
        } else {
            this.$router.push({ params: { tab: 'grid' } });
        }
        this.idInterval = setInterval(this.init, config.timeouts.schedule * 500);
    }

    selection(item: any) {
        const to: any = { params: { tab: item.tab, day: undefined } };
        this.$router.push(to);
    }

    navigate(disc: string, date: string) {
        this.$router.push({ name: 'disc_schedule', params: { disc, date } });
    }

    @Watch('$route.params')
    onChangeParams(value: any) {
        const idx = this.selectors.findIndex((e: any) => value.tab == e.tab);
        if (idx >= 0) {
            this.idx = idx;
            this.mode = this.selectors[idx].Key;
        }
    }

    get today(): string {
        const now = moment(new Date());
        if (this.$store.getters.myTime) return now.format('YYYY-MM-DD');
        else return now.utcOffset(config.general.venueTimeZone).format('YYYY-MM-DD');
    }

    beforeDestroy() {
        if (this.idInterval) {
            clearInterval(this.idInterval);
            this.idInterval = null;
        }
    }
}
</script>
