<template lang="pug">
div
    //-BEventCard(:unit='unit', :disc='"JUD"')
    h2h(v-if='unit && unit.isH2H', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
    ath(v-else-if='unit && !unit.isH2H', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/JUD/ATHJudo.vue';
import h2h from '@/components/DisciplinesMatchCentre/JUD/H2HJudo.vue';
// BornanUI

import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, h2h, BEventCard }
})
/* eslint-enable */
export default class JUDSchUnit extends Vue {}
</script>
