<template lang="pug">
.body-section-container.container-fluid(v-if='unitInfo')
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='false')
    //- Presentation
    template(v-if='unitInfo.isH2H')
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
        BMatchNocs.no-winner(:competitors='competitors', :type='type')
        //- 
        //- sl-indiv(v-if='type=="A"', :list-competitor='competitors')
        //- sl-doubl(v-if='type=="D"', :list-competitor='competitors')
        //- sl-teams(v-if='type=="T"', :list-competitor='competitors', :show-pos='false')
    template(v-else)
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"list"')
        //-
        //- ath(:list-competitor='competitors', :show-photo='type=="A"')
    //-
    officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import ath from '@/components/DisciplinesMatchCentre/_commons/startlist/ATH.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { slIndiv, slDoubl, slTeams, titleUnit, officials, ath, BMatchCompetitors, BMatchNocs }
})
/* eslint-enable */
export default class JUDStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
