<template lang="pug">
.b-match-centre(v-if='unitInfo')
    template(v-if='unitInfo.isH2H')
        //-p {{ type }}
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
        BMatchNocs(:competitors='competitors', :type='type')
        //- en JUDO, es la razon por la que ganó
        .result-container-animation__value_p_reason(
            v-if='results.Results.Sport.GoldenScore == "false" && unitInfo.Status == "OFFICIAL"'
        ) WINNER {{ results.Results.Sport.DecisionText }}
        span.result-container-animation__value_p_reason(v-if='results.Results.Sport.GoldenScore == "true"') {{ results.Results.Sport.DecisionText }}
        p.result-container-animation__value_p_legend(v-if='results.Results.Sport.GoldenScore == "true"') GS: Golden Score
        //-
        template(v-if='isPreMatch()')
            //- p preMatch
        template(v-else)
            BMatchSectionTitle.sticky
                span Periods
            period(
                :competitors='competitors',
                :periods='results.Results.Periods',
                :results='results.Results.Sport',
                :current='results.Results.CurrentPeriod'
            )
            span.result-container-animation__value_p_reason I: Ippon, W: Wazari, S: Shidos,
            i.fas.fa-file.fa-xs.result-container-animation__value_p_hkm 
            span.result-container-animation__value_p_reason : Hansoku Make (3 Shidos, Against Judo Spirit or Safety Reasons).
        //-
        template(v-if='hasOfficials')
            BMatchSectionTitle.sticky
                span Officials
            officials(:list-officials='officials')

        //- .body-section-container_results__disc.body-section-container_results__disc_h2h
        //-     scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
        //-     span.result-container-animation__value_p_reason(
        //-         v-if='results.Results.Sport.GoldenScore == "false" && unitInfo.Status == "OFFICIAL"'
        //-     ) WINNER {{ results.Results.Sport.DecisionText }}
        //-     span.result-container-animation__value_p_reason(v-if='results.Results.Sport.GoldenScore == "true"') {{ results.Results.Sport.DecisionText }}
        //-     p.result-container-animation__value_p_legend(v-if='results.Results.Sport.GoldenScore == "true"') GS: Golden Score
        //-     period(
        //-         :competitors='competitors',
        //-         :periods='results.Results.Periods',
        //-         :results='results.Results.Sport',
        //-         :current='results.Results.CurrentPeriod'
        //-     )
        //-     span.result-container-animation__value_p_reason I: Ippon, W: Wazari, S: Shidos,
        //-     i.fas.fa-file.fa-xs.result-container-animation__value_p_hkm 
        //-     span.result-container-animation__value_p_reason : Hansoku Make (3 Shidos, Against Judo Spirit or Safety Reasons).
        //-     officials(v-if='hasOfficials', :list-officials='officials')
        //-     //-statistic(v-if='stats', :stats='unitStats')
    template(v-else)
        //-p {{ type }}
        .body-section-container_results__disc.body-section-container_results__disc_ath
            current-last(
                v-if='unitInfo.IsLive',
                :competitors='competitors',
                :show-diff='false',
                :current='current',
                :last='last'
            )
            score-ath(
                :competitors='competitors',
                :periods='periods',
                :type='unitInfo ? unitInfo.Type : "T"',
                :show-diff='false'
            )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/JUD/H2HJudoPeriod.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        officials,
        scoreh,
        period,
        scoreAth,
        currentLast,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods
    }
})
/* eslint-enable */
export default class JUDResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';
    type = '' as string;

    isPreMatch(): boolean {
        //console.log(this.unitData.Status);
        const statusPreMatch = ['scheduled', 'start_list', 'getting_ready', 'unscheduled'];
        if (statusPreMatch.includes(this.unitInfo.Status.toLowerCase())) {
            return true;
        }
        return false;
    }

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            this.type = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        this.type = value.Info.Type;

        if (value.Results.Sport.GoldenScore == 'true') {
            const regex = /(\d+)/g;
            if (value.Results.Sport.DecisionText.includes('Ippon')) {
                value.Results.Sport.DecisionText =
                    'WINNER BY IPPON IN ' +
                    (value.Results.Sport.DecisionText.match(regex)[0] - 4) +
                    ':' +
                    value.Results.Sport.DecisionText.match(regex)[1] +
                    ' (GS)';
            } else if (value.Results.Sport.DecisionText.includes('Shidos')) {
                value.Results.Sport.DecisionText =
                    'WINNER BY HANSOKU-MAKE (3 SHIDOS) IN ' +
                    (value.Results.Sport.DecisionText.match(regex)[1] - 4) +
                    ':' +
                    value.Results.Sport.DecisionText.match(regex)[2] +
                    ' (GS)';
            } else if (value.Results.Sport.DecisionText.includes('safety reasons')) {
                value.Results.Sport.DecisionText =
                    'WINNER BY DIRECT HANSOKU-MAKE (SAFETY REASONS) IN ' +
                    (value.Results.Sport.DecisionText.match(regex)[0] - 4) +
                    ':' +
                    value.Results.Sport.DecisionText.match(regex)[1] +
                    ' (GS)';
            } else if (value.Results.Sport.DecisionText.includes('spirit')) {
                value.Results.Sport.DecisionText =
                    'WINNER BY DIRECT HANSOKU-MAKE (AGAINST THE JUDO SPIRIT) IN ' +
                    (value.Results.Sport.DecisionText.match(regex)[0] - 4) +
                    ':' +
                    value.Results.Sport.DecisionText.match(regex)[1] +
                    ' (GS)';
            } else if (value.Results.Sport.DecisionText.includes('Waza-Ari')) {
                value.Results.Sport.DecisionText =
                    'WINNER BY WAZA-ARI IN ' +
                    (value.Results.Sport.DecisionText.match(regex)[0] - 4) +
                    ':' +
                    value.Results.Sport.DecisionText.match(regex)[1] +
                    ' (GS)';
            }
        }
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
