<template lang="pug">
    //-h2h(v-if='unit && unit.isH2H', :unit='unit', :show-splits='false', :show-winner='false', :bio='bio')
    BEventCard(:unit='unit', :disc='"JUD"', resultType='h2h',  :show-splits='true', :show-split-winner='false', :bio='bio')
        template(#results)
            h2h(:unit='unit')
                template(#res)
                    .results
                        //- Home Results
                        ul(v-if='!hasIRMs')
                            li(v-for='splitH,indexSH in unit.Home.Splits', :key='unit.Home.reg')
                                result(:type='"p"', :res='splitH.Result', :irm='unit.Home.IRM')
                        result(v-if='unit.Home.Result || unit.Home.IRM!="OK"', :type='"p"', :res='unit.Home.Result ? unit.Home.Result : unit.Home.IRM', :irm='unit.Home.IRM')

                        //- SPLITS titles
                        BResultsRowColumn.b-row.small.res-title

                            span.split(:key='`title_I`') I
                            span.split(:key='`title_W`') W
                            span.split(:key='`title_S`') S

                        //- AWAY Results
                        ul(v-if='!hasIRMs')
                            li(v-for='splitA in unit.Away.Splits', :key='unit.Away.reg')
                                result.res-away(:type='"p"', :res='splitA.Result', :irm='unit.Away.IRM', :clas="splitA.RkPo == 1 ? 'winner':'' ")
                        result.res-away(v-if='unit.Away.Result || unit.Away.IRM!="OK"', :type='"p"', :res='unit.Away.Result ? unit.Away.Result : unit.Away.IRM', :irm='unit.Away.IRM')

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2Hv2.vue';
import BResultsRowColumn from '@/BornanUI/BResultsRowColumn.vue';
import Images from '@/mixins/images';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultJudo.vue';

@Component({
    mixins: [Images],
    props: ['unit', 'bio'],
    components: { h2h, BEventCard, BResultsRowColumn, Result }
})
/* eslint-enable */
export default class JUDSchUnit extends Vue {
    get homeSplitData() {
        return this.$props.unit.Home.Splits[0];
    }
    get awaySplitData() {
        return this.$props.unit.Away.Splits[0];
    }
    get hasIRMs() {
        const unit = this.$props.unit;
        if (unit) {
            return unit.Home.IRM != 'OK' || unit.Away.IRM != 'OK';
        }
        return false;
    }

    isTeam(unit: Record<string, any> | any) {
        return this.checkCompetitor(unit.Home) && this.checkCompetitor(unit.Away);
    }

    checkCompetitor(comp: any) {
        if (comp && comp.Members) return comp.Members.length == 1 || comp.Members.length >= 3;
        if (comp && !comp.Members) return true;
        return false;
    }
    isBio(participant: any, bio: any) {
        if (!bio || !participant) return false;

        if (participant.Members) {
            return participant.Members.some((e: any) => e.Reg == bio);
        } else {
            return participant.Reg == bio;
        }
    }
}
</script>
