<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='true')

        .body-section-container_results__disc.body-section-container_results__disc_h2h
            
            //- h3 __test__aqui H2HScore
            //- pre {{competitors}}
            scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
            //-period(v-if='hasPeriods', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')

            period-resp.schedule-days__subunit__match(
                v-if='hasPeriods',
                :type='unitInfo ? unitInfo.Type : "T"',
                :competitors='competitors', :periods='results.Results.Periods',
                :display-periods='displayPeriods'
            )
                template(#splits)
                    template(v-if='results.Info.IsLive')
                        .h2h-result__splits-title
                        .h2h-result__splits-title

                    .h2h-result__splits-title(v-else)
                        span Total

                template(#total='{competitor}')
                    template(v-if='results.Info.IsLive')
                        .h2h-result__competitor__detail-results__bte
                            result(type='p', :res='competitor.Sport.GamePoints')
                        .h2h-result__competitor__detail-results__bte
                            img.serve(v-if='competitor.Sport.Server=="true"', src='@theme/images/tennis-ball.png')

                    .h2h-result__competitor__detail-results__total-rs(v-else)
                        result(type='p', :res='competitor.Result')     
            .result-container-animation__value_p_reason-ten
                p {{$t('disciplines.ret-message')}}
                p {{$t('disciplines.wo-message')}}

            //-officials(v-if='hasOfficials', :list-officials='officials')
            period-stats(
                v-if='results && results.Stats.showStats && results.Stats.hasStats',
                :competitors='competitors',
                :periods='results.Results.Periods',
                :display-periods='displayPeriods',
                :match-duration='results.Results.Duration',
                :desc-stats='results.Stats.colStats.teams')
                
        
        .body-section-container_results__disc.body-section-container_results__disc_h2h(v-if='subUnits.length > 0')
            h4.title Matches
            ul.schedule-days__list-discs
                li.schedule-days__list-discs__disc(v-for="subMatch,indexDs in subUnits")
                    a.schedule-days__list-discs__disc__picto(href='#', v-scroll-to="{ el: '#sub-match-' + indexDs, container: '.fill', duration: 700 , offset: -80 }")
                        p {{ subMatch.Info.UnitDescA }}
            
            ul.schedule-days__list-units-disc
                li.schedule-days__list-units-disc__disc(v-for="subMatch,indexDs in subUnits", :id='"sub-match-" + indexDs')
                    .body-section-container_results.body-section-container.container-fluid.schedule-days__subunit
                        title-sub-unit.schedule-days__subunit__title(v-if='subMatch.Info', :results-res='subMatch.Info', :show-venue='false', :show-court='true')

                        .body-section-container_results__disc.body-section-container_results__disc_h2h.schedule-days__subunit__body
                            scoreh(:competitors='subMatch.Competitors', :type='subMatch.Info ? subMatch.Info : "T"')
                            
                            period-resp.schedule-days__subunit__match(
                                v-if='subMatch.Results.Periods',
                                :type='subMatch.Info ? subMatch.Info.Type : "T"',
                                :competitors='subMatch.Competitors', :periods='subMatch.Results.Periods'
                                )
                                template(#splits)
                                    template(v-if='subMatch.Info.IsLive')
                                        .h2h-result__splits-title
                                        .h2h-result__splits-title

                                    .h2h-result__splits-title(v-else)
                                        span Total

                                template(#total='{competitor}')
                                    template(v-if='subMatch.Info.IsLive')
                                        .h2h-result__competitor__detail-results__bte
                                            result(type='p', :res='competitor.Sport.GamePoints')
                                        .h2h-result__competitor__detail-results__bte
                                            img.serve(v-if='competitor.Sport.Server=="true"', src='@theme/images/tennis-ball.png')

                                    .h2h-result__competitor__detail-results__total-rs(v-else)
                                        result(type='p', :res='competitor.Result')
                                        

                            //-officials(v-if='hasOfficials', :list-officials='officials')
                            period-stats(
                                v-if='subMatch.HasStats',
                                :competitors='subMatch.Competitors',
                                :periods='subMatch.Results.Periods',
                                :match-duration='results.Results.Duration',
                                :desc-stats='results.Stats.colStats.teams')
                        

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import titleSubUnit from '@/components/DisciplinesMatchCentre/TEN/TitleTennis.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';

/* eslint-disable */
@Component({
    props: ['results', 'unit', 'bio'],
    components: { titleUnit, titleSubUnit, officials, scoreh, period, periodResp, periodStats, Result, h2h }
})
/* eslint-enable */
export default class TTEResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];
    subUnits: Array<any> = [];

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (value.SubUnits) {
            this.subUnits = value.SubUnits;
        }
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
