<template lang="pug">
    h2h(v-if='unit', :unit='unit', :show-splits='true', :show-winner='true', :bio='bio')
        template(#unit-place)
            .info-unit__dsv__venue__desc 
                p.info-unit__dsv__venue__desc__match {{ (unit.UnitDesc).split("-",3)[2] }}
                p.info-unit__dsv__venue__desc__court {{ unit.VenueDesc }} - {{ unit.LocDesc }}
                
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';

@Component({
    props: ['unit', 'bio'],
    components: { h2h }
})
export default class TTESchUnit extends Vue {}
</script>
