<template lang="pug">
.b-match-centre
    //-  SI ES PARTIDO DE PARTIDOS si necesito mostrar el resultado total
    template(v-if='subUnits.length == 0')
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"no-scores"')
    template(v-else)
        BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
    BMatchNocs.no-names(:competitors='competitors', :type='type')
    //-
    template(v-if='subUnits.length == 0')
        template(v-if='hasPeriods')
            BMatchSectionTitle.sticky
                span {{$t('disciplines.periods')}}
            BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', :show='"rows"')
            .result-container-animation__value_p_reason-ten
                p {{$t('disciplines.ret-message')}}
                p {{$t('disciplines.wo-message')}}

        template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
            BMatchSectionTitle.sticky
                span {{$t('disciplines.team-stats')}}
            period-stats(
                :competitors='competitors',
                :periods='results.Results.Periods',
                :display-periods='displayPeriods',
                :match-duration='results.Results.Duration',
                :desc-stats='results.Stats.colStats.teams')

    //- //- PARTIDOS, si hay subUnits, dos selecciones juegan partidos todos contra todos y se listan aqui             
    .body-section-container_results__disc.body-section-container_results__disc_h2h(v-if='subUnits.length > 0')
        h4.title {{$t('disciplines.matches')}}
        
        ul.schedule-days__list-units-disc
            li.schedule-days__list-units-disc__disc(v-for="subMatch,indexDs in subUnits", :id='"sub-match-" + indexDs')
                .body-section-container_results.body-section-container.container-fluid.schedule-days__subunit
                    title-sub-unit.schedule-days__subunit__title(v-if='subMatch.Info', :results-res='subMatch.Info', :show-venue='false', :show-court='true')
                    .body-section-container_results__disc.body-section-container_results__disc_h2h.schedule-days__subunit__body
                         
                        BMatchResultsPeriod.no-final(:competitors='subMatch.Competitors', :periods='results.Results.Periods', :show='"rows"')
                        period-stats(
                            v-if='subMatch.HasStats',
                            :competitors='subMatch.Competitors',
                            :periods='subMatch.Results.Periods',
                            :match-duration='results.Results.Duration',
                            :desc-stats='results.Stats.colStats.teams'
                        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import titleSubUnit from '@/components/DisciplinesMatchCentre/TEN/TitleTennis.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchResultsPeriod from '@/BornanUI/components/BMatchResultsPeriod.vue';

@Component({
    props: ['results', 'unit', 'bio'],
    components: {
        titleUnit,
        titleSubUnit,
        officials,
        scoreh,
        period,
        periodResp,
        periodStats,
        Result,
        h2h,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchResultsPeriod
    }
})
export default class TENResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];
    subUnits: Array<any> = [];
    type = '' as string;

    //@InjectReactive('msg') public saludoProvide!: string;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (value.SubUnits) {
            this.subUnits = value.SubUnits;
        }
        //this.resultsStatistic = results.Results.Stats
        // calculo del TYPE; A, D, T
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
.b-match-result-periods {
    &.rows {
        /* MAS grande cuando es el resultado final de un partido */
        grid-template-rows: 5fr 4fr 2fr 4fr 5fr;
        &.submatch {
            grid-template-rows: 5fr 4fr 3fr 4fr 5fr;
            border-top: 1px solid $color-primary-25;
            border-bottom: 1px solid $color-primary-25;
        }
    }
}
</style>
