<template lang="pug">
BEventCard(:unit='unit', :disc='"BDM"', :show-split-winner='true', :show-splits='true', :bio='bio',  resultType='h2h' , :no-final-result='false', :court='true')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
// BornanUI
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

@Component({
    props: ['unit', 'bio'],
    components: { BEventCard }
})
export default class BDMSchUnit extends Vue {}
</script>
