<template lang="pug">
.b-match-centre
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='true')
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs.no-winner(:competitors='competitors', :type='type')
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span {{$t('disciplines.officials')}}
        officials(:list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
//
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';

@Component({
    props: ['results'],
    components: { titleUnit, officials, BMatchCompetitors, BMatchNocs, BMatchSectionTitle }
})
/* eslint-enable */
export default class TENStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
