<template lang="pug">
.brackets 
    BMainHeader(:disc='disc')
    b-section(
        :bg='discBg()',
        :image='picto(disc)',
        :image-sub='picto(disc, "d")',
        :title='title',
        :loading='loading',
        :selectors='bracketList',
        seldesc='Desc',
        @selection='selectBracket',
        body-class='bracket',
        @updated='postProcess')


        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.event")',
                    :list='listEvents',
                    @changed-option='onSelectionEvent')

        template(#body)
            #bornanBrackets
                p.empty-results(v-if='bracketList.length == 0 && !loading') {{ $t("sections.no-brackets") }}
                //- Main content of bracket app
                .brackets-display(v-else)
                    .phaseSelection(v-if='bracketSel', :style='{ width: bracketSel.Width + "px" }')
                        //- Phase selection mobile
                        #selectRound.match-filters(v-if='showPhases.showCombo')
                            .filter
                                .select-wp
                                    select#selectRound(name='selectRound', v-model='showPhases.startAt')
                                        option(v-for='(ph, index) in bracketSel.Phases', :value='index') {{ ph.Desc }}
                        //- Phase selection other
                        nav.nav-pagination(v-else)
                            ul.pagination(@mouseleave='checkarea(-1)')
                                li.page-item.prev(v-if='showPhases.hasPrev', @click='selectPhase(showPhases.startAt - 1)')
                                    a.page-link &lt;
                                li.page-item(
                                    v-for='(item, index) in showPhases.Phases',
                                    :key='item.Code',
                                    @click='selectPhase(showPhases.startAt + index)',
                                    @mouseover='checkarea(index)')
                                    a.page-link {{ item.Desc }}
                                li.page-item.next(v-if='showPhases.hasNext', @click='selectPhase(showPhases.startAt + 1)')
                                    a.page-link &gt;

                    .bracketItems(v-if='bracketSel')
                        .jQBracket.lr(:id='bracketSel.Code', :style='{ width: bracketSel.Width + "px" }')
                            .bracket(:style='{ height: bracketSel.Height + "px" }', :class='"round-" + checkedArea')
                                .round(
                                    v-for='(ph, pIdx) in showPhases.Phases',
                                    :key='ph.Code',
                                    :style='{ width: teamW + SIZES.scoreW + "px", marginRight: SIZES.roundSep + "px" }')
                                    bracket-match(
                                        v-for='(match, mIdx) in ph.Matches',
                                        :key='ph.Code + mIdx',
                                        :style='{ height: ph.matchesHeight + "px" }',
                                        :match='match',
                                        :idx='mIdx',
                                        :pos='ph.matchesPos',
                                        :show-draw='!showPhases.hasPrev && pIdx == 0')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BSection from '@/components/commons/SectionBase.vue';
import BracketMatch from '@/components/Disciplines/Brackets/BracketMatch.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
import $ from 'jquery';
import ResizeObserver from 'resize-observer-polyfill';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
/* eslint-disable */
@Component({
    mixins: [Images, Utils],
    components: {
        Dropdown,
        BracketMatch,
        BSection,
        BMainHeader
    }
})
/* eslint-enable */
export default class Brackets extends Vue {
    SIZES: any = {
        dateH: 30,
        compH: 28,
        compHDbl: 46,
        teamW: 174,
        scoreW: 32,
        matchSep: 30,
        roundSep: 30
    };
    teamW = 174;
    //
    title = '';
    loading = false;
    listEvents: any[] = [];
    //
    bracketList: any[] = [];
    bracketIdx = 0;
    bracketSel: any = null;
    //
    isDoubles: boolean | any = false;
    regWinner = '';
    regLoser = '';
    checkedArea: any = -1;
    //
    showPhases: Record<string, any> | any = {
        showCombo: false,
        selPhase: 0,
        startAt: 0,
        hasPrev: false,
        hasNext: false,
        Phases: [],
        numVisible: 0
    };

    @Watch('showPhases.startAt')
    changedShowPhases(value: any) {
        this.selectPhase(value);
    }

    get disc() {
        return this.$route.params.disc;
    }
    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    checkarea(val: any) {
        this.checkedArea = val;
    }

    @Watch('$route.params.rsc')
    async selectEvent(evKey: string) {
        if (!evKey) {
            this.reset();
            return;
        }
        navData.setRSC(this.disc, evKey);
        const newIdx = this.listEvents.findIndex((evt: any) => {
            return evt.EvKey === evKey;
        });
        const currEvt = newIdx >= 0 ? this.listEvents[newIdx] : { Desc: this.$t('sections.invalid-event') };
        this.title = currEvt.Desc;
        //
        const dropDown = this.$refs.dropDown as any;
        dropDown.selectIndex(newIdx);
        //
        this.bracketList = [];
        this.loading = true;
        const response = await services.link('res_brackets', this.$route.params.disc, evKey);
        this.loading = false;
        this.updateBrackets(response);
    }

    addMarkers(comp: any, isHome: any, isLast: any, status: any) {
        comp.IsBye = comp.Org == 'BYE';
        comp.IsTBD = comp.Org == '';
        comp.ShowRes = status == 'OFFICIAL' && comp.RkPo > 0;
        switch (comp.RkPo) {
            case 1:
                comp.Type = 'win';
                break;
            case 2:
                comp.Type = 'lose';
                break;
            default:
                comp.Type = 'nr';
                break;
        }
        if (comp.IsBye || comp.IsTBD) comp.Type = 'np';
        comp.Type = [comp.Type];
        if (isLast) {
            comp.Type.push('last');
            if (comp.RkPo == 1) this.regWinner = comp.Reg;
            else if (comp.RkPo == 2) this.regLoser = comp.Reg;
        }
        if (this.isDoubles) {
            comp.Type.push('doubles');
        }
        if (isHome) comp.Type.push('home');
    }

    updateBrackets(json: any) {
        console.log('updateBrackets');
        this.loading = false;
        if (json && Array.isArray(json)) this.bracketList = json;
        else this.bracketList = [];
        // Process info & add markers
        this.isDoubles = false;
        this.regWinner = this.regLoser = '';
        for (let i = 0; i < this.bracketList.length; i++) {
            this.isDoubles |= this.bracketList[i].isDoubles;
            //this.isDoubles = true;
            for (let j = 0; j < this.bracketList[i].Phases.length; j++) {
                for (let k = 0; k < this.bracketList[i].Phases[j].Matches.length; k++) {
                    const match = this.bracketList[i].Phases[j].Matches[k];
                    this.addMarkers(match.Home, true, match.Info.Last, match.Info.Status);
                    this.addMarkers(match.Away, false, match.Info.Last, match.Info.Status);
                }
            }
        }
        if (this.bracketList.length > 0) this.selectBracket(this.bracketList[0]);
    }

    selectBracket(bracket: any) {
        this.bracketSel = bracket;
        this.showPhases.numVisible = this.calcPhasesVisible();
        this.selectPhase(0);
    }

    calcPhasesVisible(showingPhases?: any) {
        let el: any = document.getElementById('bornanBrackets');
        if (!el) return 1;
        el = el.offsetWidth; //padding del estilo
        const SZ: any = this.SIZES;
        const minPhaseWidth = SZ.teamW + SZ.scoreW + SZ.roundSep;
        const nPh = Math.floor(el / minPhaseWidth);
        let mod = el - (SZ.scoreW + SZ.roundSep) * nPh;
        if (showingPhases) {
            mod = el - (SZ.scoreW + SZ.roundSep) * showingPhases;
            this.teamW = Math.floor(mod / showingPhases);
        } else this.teamW = Math.floor(mod / nPh);
        return nPh;
    }

    resizeN() {
        this.showPhases.numVisible = this.calcPhasesVisible();
        this.selectPhase(this.showPhases.startAt);
    }

    selectPhase(index: any) {
        if (!this.bracketSel) return;
        const phases = this.bracketSel.Phases;
        this.showPhases.showCombo = this.showPhases.numVisible == 1;
        if (this.showPhases.showCombo) {
            // Fill with all available phases
            this.showPhases.Phases = [phases[index]];
            this.showPhases.startAt = index;
            this.showPhases.hasPrev = index > 0;
            this.showPhases.hasNext = index < phases.length - 1;
        } else {
            // Adjust index
            index = Math.min(index, phases.length - this.showPhases.numVisible);
            index = Math.max(index, 0);
            // Fill array
            this.showPhases.startAt = index;
            this.showPhases.Phases = [];
            for (let i = 0; i < this.showPhases.numVisible && index + i < phases.length; i++) {
                this.showPhases.Phases.push(phases[index + i]);
            }
            this.showPhases.hasNext = index < phases.length - this.showPhases.numVisible;
            this.showPhases.hasPrev = index > 0;
            this.calcPhasesVisible(this.showPhases.Phases.length);
        }
        this.calcSizes(this.bracketSel, this.showPhases.Phases);
    }

    calcSizes(bracket: any, phasesToShow: any) {
        const width = this.teamW + this.SIZES.scoreW + this.SIZES.roundSep;
        bracket.Width = phasesToShow.length * width;
        const height = phasesToShow.length > 0 ? phasesToShow[0].Matches.length : 0;
        const boxTotal = this.SIZES.dateH + 2 * (this.isDoubles ? this.SIZES.compHDbl : this.SIZES.compH);
        const matchesHeight = height * (boxTotal + this.SIZES.matchSep);
        bracket.Height = matchesHeight;
        // Ahora calculo cada partido
        for (let i = 0; i < phasesToShow.length; i++) {
            const ph = phasesToShow[i];
            ph.matchesHeight = matchesHeight / ph.Matches.length - 1;
            ph.matchesPos = (ph.matchesHeight - boxTotal) / 2;

            const width = this.SIZES.roundSep / 2;
            for (let j = 0; j < ph.Matches.length; j++) {
                const match = ph.Matches[j];
                const shiftHome = this.SIZES.dateH + (this.isDoubles ? this.SIZES.compHDbl : this.SIZES.compH);
                const shiftAway = this.isDoubles ? this.SIZES.compHDbl : this.SIZES.compH;
                // Calculo los conectores, sólo si no es la última fase
                if (i == phasesToShow.length - 1 && this.showPhases.hasNext == false) {
                    delete match.conn1;
                    continue;
                }

                match.conn1 = {
                    height: ph.matchesHeight / 2 + 'px',
                    width: width + 'px',
                    right: -width - 2 + 'px'
                };
                // Subtract 1 due to line thickness and alignment mismatch caused by
                // combining top and bottom alignment
                if (j % 2 == 0) {
                    match.conn1.top = shiftHome - 1 + 'px';
                    match.conn1['border-bottom'] = 'none';
                } else {
                    match.conn1.bottom = shiftAway - 1 + 'px';
                    match.conn1['border-top'] = 'none';
                }

                match.conn2 = {
                    width: width + 'px',
                    right: -width + 'px'
                };
                if (j % 2 == 0) {
                    match.conn2.bottom = '0px';
                } else {
                    match.conn2.top = '0px';
                }
            }
        }
    }

    trackHighlighter(container: JQuery<HTMLElement>, regId: string, cssClass: string) {
        const elements = $(container).find(".team[reg='" + regId + "']");
        const addedClass = !cssClass ? 'highlight' : cssClass;

        return {
            highlight: function() {
                elements.each(function(i: number, e: any) {
                    $(e).addClass(addedClass);

                    if ($(e).hasClass('win')) {
                        $(e)
                            .parent()
                            .find('.connector')
                            .addClass(addedClass);
                    }
                });
            },

            deHighlight: function() {
                elements.each(function(i: number, e: any) {
                    $(e).removeClass(addedClass);
                    $(e)
                        .parent()
                        .find('.connector')
                        .removeClass(addedClass);
                });
            }
        };
    }

    postProcess() {
        // const app = this;
        const container = $('.bracket');
        // 1st & 2nd path
        if (this.regWinner && this.regLoser) {
            this.trackHighlighter(container, this.regWinner, 'highlightWinner').highlight();
            this.trackHighlighter(container, this.regLoser, 'highlightLoser').highlight();
        }
        // General path
        container.find('.team').mouseover(() => {
            const regId = $(this).attr('reg');
            // Don't highlight BYEs
            if (regId === undefined || regId == '') {
                return;
            }
            const track = this.trackHighlighter(container, regId, '');
            track.highlight();
            $(this).mouseout(function() {
                track.deHighlight();
                $(this).unbind('mouseout');
            });
        });
    }

    initResize() {
        // const app = this;
        const myObserver: any = new ResizeObserver((entries: any) => {
            entries.forEach(() => {
                this.resizeN();
            });
        });

        const someEl = document.querySelector('.body-section-container');
        myObserver.observe(someEl);
    }

    onSelectionEvent(evt: any) {
        this.navigateToEvent(evt.EvKey, false);
    }

    navigateToEvent(evKey: string, replace = false) {
        if (replace) this.$router.replace({ params: { rsc: evKey } });
        else this.$router.push({ params: { rsc: evKey } });
    }

    async reset() {
        this.listEvents = this.$store.state.events[this.disc];
        let evt = this.$route.params.rsc;
        if (!evt) evt = navData.getRSC(this.disc);
        if (!evt) evt = this.listEvents[0].EvKey;
        //
        // Tengo que hacer esto para esperar que se rellene el dropdown
        await this.$nextTick();
        if (this.$route.params.rsc) this.selectEvent(evt);
        else this.navigateToEvent(evt, true);
    }

    mounted() {
        this.initResize();
        this.reset();
    }
}
</script>
