<template lang="pug">
.communications
    BMainHeader(:disc='disc')
    b-section(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc)', :loading='loading')

        template(#body)
            template(v-if='listCommunications && listCommunications.length == 0')
                h3.body-section-container__title
                    | {{ $t("communications.title") }}
                p {{ $t("sections.no-comms") }}

            template(v-else)
                .body-section-container.body-section-container__coms
                    template(v-if='listOffComms.length > 0 && (!currentCom || currentCom.Code == "C67")')
                        h3.body-section-container__title
                            | {{ listOffComms[0].CodeDesc }}
                        ul.body-section-container__coms__list(v-if='!currentCom')
                            li.body-section-container__coms__list__com(
                                v-for='(communication, indexCom) in listOffComms',
                                :key='indexCom'
                            )
                                button.body-section-container__coms__list__com__element(
                                    @click='navigateToCommunication(communication.Key)'
                                ) 
                                    span.fas.fa-tty 
                                    span.title {{ communication.Subtitle }}
                                    .date {{ getDayMonth(communication.DateTimeRaw) }} {{ getHoursMinutes(communication.DateTimeRaw) }}

                    template(v-if='listSportComms.length > 0 && (!currentCom || currentCom.Code != "C67")')
                        h3.body-section-container__title
                            | {{ listSportComms[0].CodeDesc }}
                        ul.body-section-container__coms__list(v-if='!currentCom')
                            li.body-section-container__coms__list__com(
                                v-for='(communication, indexCom) in listSportComms',
                                :key='indexCom'
                            )
                                button.body-section-container__coms__list__com__element(
                                    @click='navigateToCommunication(communication.Key)'
                                ) 
                                    span.fas.fa-tty 
                                    span.title {{ communication.Subtitle }}
                                    .date {{ getDayMonth(communication.DateTimeRaw) }} {{ getHoursMinutes(communication.DateTimeRaw) }}

                    .body-section-container__coms__selected-com(v-if='currentCom', :class='{ hiddenCom: hiddenCom }')
                        button.body-section-container__coms__selected-com__close.fas.fa-times-circle(
                            @click='navigateToCommunication("")'
                        )
                        .body-section-container__coms__selected-com__container 
                            .body-section-container__coms__selected-com__container__venue-container.mb-2
                                .body-section-container__coms__selected-com__container__venue-container__title
                                    p.body-section-container__coms__selected-com__container__venue-container__title__text {{ currentCom.Subtitle }}
                                .body-section-container__coms__selected-com__container__venue-container__desc-container
                                    ul.body-section-container__coms__selected-com__container__venue-container__desc-container__list
                                        li.body-section-container__coms__selected-com__container__venue-container__desc-container__list__elem
                                            p {{ $t("communications.item") }}:
                                                span {{ currentCom.ItemNum }}
                                        li.body-section-container__coms__selected-com__container__venue-container__desc-container__list__elem
                                            p {{ currentCom.Desc }}
                                        li.body-section-container__coms__selected-com__container__venue-container__desc-container__list__elem
                                            p 
                                                i.fas.fa-map-marker-alt
                                                span {{ currentCom.VenueDesc }}
                            .body-section-container__coms__selected-com__container__summary
                                .body-section-container__coms__selected-com__container__summary__title(
                                    v-if='currentCom.SummaryTitle'
                                )
                                    p {{ currentCom.SummaryTitle }}
                                ul.body-section-container__coms__selected-com__container__summary__list
                                    li.body-section-container__coms__selected-com__container__summary__list__elem(
                                        v-for='(elem, indexS) in currentCom.SummaryBody',
                                        :key='indexS'
                                    )
                                        p {{ elem }}

                                .body-section-container__coms__selected-com__container__details__title(
                                    v-if='currentCom.DetailsTitle'
                                )
                                    p {{ currentCom.DetailsTitle }}
                                .body-section-container__coms__selected-com__container__summary__list__elem(
                                    v-if='currentCom.DetailsBody'
                                )
                                    p {{ currentCom.DetailsBody }}

                                .body-section-container__coms__selected-com__container__summary__image(
                                    v-if='currentCom.DetailsImage'
                                )
                                    img(:src='"data:image/png;base64," + currentCom.DetailsImage')
                            .body-section-container__coms__selected-com__container__issued-container
                                .body-section-container__coms__selected-com__container__issued-container__dec
                                    ul.body-section-container__coms__selected-com__container__issued-container__dec__list
                                        li.body-section-container__coms__selected-com__container__issued-container__dec__list__elem
                                            p {{ $t("communications.IssuedBy") }}:
                                                span {{ currentCom.IssuedBy }}
                                        li.body-section-container__coms__selected-com__container__issued-container__dec__list__elem
                                            p {{ $t("communications.date") }}:
                                                span {{ getDayMonth(currentCom.DateTimeRaw) }}
                                        li.body-section-container__coms__selected-com__container__issued-container__dec__list__elem
                                            p {{ $t("communications.time") }}:
                                                span {{ getHoursMinutes(currentCom.DateTimeRaw) }}
                                    .body-section-container__coms__selected-com__container__issued-container__dec__list__signature(
                                        v-if='currentCom.IssuedByImage'
                                    )
                                        img(:src='"data:image/png;base64," + currentCom.IssuedByImage')
                                .body-section-container__coms__selected-com__container__issued-container__res
                                    .body-section-container__coms__selected-com__container__issued-container__res__title
                                        p {{ $t("communications.affects") }}:
                                    ul.body-section-container__coms__selected-com__container__issued-container__res__list
                                        li.body-section-container__coms__selected-com__container__issued-container__res__list__elem
                                            p {{ $t("communications.schedule") }}
                                                i.far(
                                                    :class='currentCom.AffectResults ? "fa-check-square" : "fa-square"'
                                                )
                                        li.body-section-container__coms__selected-com__container__issued-container__res__list__elem
                                            p {{ $t("communications.results") }}
                                                i.far(
                                                    :class='currentCom.AffectSchedule ? "fa-check-square" : "fa-square"'
                                                )
                                        li.body-section-container__coms__selected-com__container__issued-container__res__list__elem
                                            p {{ $t("communications.other") }}
                                                i.far(
                                                    :class='currentCom.AffectOther ? "fa-check-square" : "fa-square"'
                                                )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
import Dates from '@/mixins/dates';
import BSection from '@/components/commons/SectionBase.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import { mixins } from 'vue-class-component';

@Component({
    components: { BSection, BMainHeader }
})
export default class Communications extends mixins(Images, Utils, Dates) {
    title = '';
    loading = false;
    listCommunications: any[] = [];
    listOffComms: any[] = [];
    listSportComms: any[] = [];
    currentCom: any = null;
    //
    hiddenCom = false;

    get disc() {
        return this.$route.params.disc;
    }
    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    @Watch('$route.params.id')
    async selectCommunication(evKey: string) {
        if (!evKey) {
            this.hiddenCom = true;
            this.listCommunications = await services.link('comms_list', this.disc);
            //Given time for animation css
            await new Promise(r => setTimeout(r, 200));
            this.hiddenCom = false;
            this.currentCom = null;
            return;
        }
        this.currentCom = await services.link('comms_detail', this.disc, evKey);

        if (this.listCommunications.length == 0) this.listCommunications = await services.link('comms_list', this.disc);
    }

    @Watch('listCommunications')
    updateArrays(val: any[] | null) {
        this.listOffComms = [];
        this.listSportComms = [];
        if (val == null) {
            this.listCommunications = [];
            return;
        }

        for (let i = 0; i < this.listCommunications.length; i++) {
            if (this.listCommunications[i].Code == 'C67') this.listOffComms.push(this.listCommunications[i]);
            else this.listSportComms.push(this.listCommunications[i]);
        }
    }

    navigateToCommunication(evKey: string) {
        if (evKey == '') {
            this.$router.replace({ name: 'disc_comms' });
            return;
        }
        this.$router.push({ params: { id: evKey } });
    }

    async reset() {
        const evt = this.$route.params.id;
        if (!evt) this.listCommunications = await services.link('comms_list', this.disc);
        else this.selectCommunication(evt);

        this.navigateToCommunication(evt);
    }

    mounted() {
        this.reset();
    }
}
</script>
