<template lang="pug">
.entries
    BMainHeader(:disc='disc')
    SectionBase(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc)', :title='title', :loading='loading')
        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.event")',
                    :list='listEvents',
                    @changed-option='onSelectionEvent'
                )

        template(#body)
            p(v-if='!loading && (!listEntries || listEntries.Partics.length == 0)') {{ $t("sections.no-entries") }}
            template(v-else-if='listEntries')
                p.info {{ $t("participants.total-entries") }}: {{ listEntries.Partics.length }}

                ul.body-section-container__list
                    Participant(
                        v-for='partic in listEntries.Partics',
                        :key='partic.Reg',
                        :partic='partic',
                        :list='true'
                    )
</template>

<script lang="ts">
import { Component, Watch, Mixins } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
import SectionBase from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
import Participant from '@/components/Participants/Participant.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

@Component({
    components: {
        SectionBase,
        Dropdown,
        Participant,
        BMainHeader
    }
})
export default class Entries extends Mixins(Images, Utils) {
    title = '';
    loading = false;
    listEvents: any[] = [];
    listEntries: any = null;

    get disc() {
        return this.$route.params.disc;
    }

    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    @Watch('$route.params.rsc')
    async selectEvent(evKey: string) {
        if (!evKey) {
            this.reset();
            return;
        }
        navData.setRSC(this.disc, evKey);
        const newIdx = this.listEvents.findIndex((evt: any) => {
            return evt.EvKey === evKey;
        });
        const currEvt = newIdx >= 0 ? this.listEvents[newIdx] : { Desc: this.$t('sections.invalid-event') };
        this.title = currEvt.Desc;
        //
        const dropDown: any = this.$refs.dropDown;
        dropDown.selectIndex(newIdx);
        //
        this.listEntries = null;
        this.loading = true;
        this.listEntries = newIdx >= 0 ? await services.link('entries_event', this.disc, evKey) : null;
        this.loading = false;
        if (this.listEntries && this.listEntries.Partics) {
            const partics: any[] = this.listEntries.Partics;
            for (let i = 0; i < partics.length; i++) {
                partics[i].Disc = this.disc;
                if (partics[i].hasMembers) {
                    for (let j = 0; j < partics[i].Members.length; j++) partics[i].Members[j].Disc = this.disc;
                }
            }
        }
    }

    onSelectionEvent(evt: any) {
        if (!evt) return false;
        this.navigateToEvent(evt.EvKey, false);
    }

    navigateToEvent(evKey: string, replace = false) {
        if (replace) this.$router.replace({ params: { rsc: evKey } });
        else this.$router.push({ params: { rsc: evKey } });
    }

    async reset() {
        this.listEvents = this.$store.state.events[this.disc];
        let evt = this.$route.params.rsc;
        if (!evt) evt = navData.getRSC(this.disc);
        if (!evt) evt = this.listEvents[0].EvKey;
        //
        // Tengo que hacer esto para esperar que se rellene el dropdown
        await this.$nextTick();
        if (this.$route.params.rsc) this.selectEvent(evt);
        else this.navigateToEvent(evt, true);
    }

    mounted() {
        this.reset();
    }
}
</script>
