<template lang="pug">
.final-rank
    BMainHeader(:disc='disc')
    SectionBase(
        :bg='discBg()',
        :image='picto(disc)',
        :image-sub='picto(disc)',
        :title='title',
        :loading='loading'
    )
        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.event")',
                    :list='listEvents',
                    @changed-option='onSelectionEvent'
                )

        template(#body)
            p(v-if='listMedallists.length == 0 && listNoMedallists.length == 0 && !loading') {{ $t("sections.no-data") }}

            ul.medal-section-container-medals(v-else)
                .medal-standings-title(v-if='listMedallists.length>0') {{ $t("medals.winners") }}
                .medal-standings 
                    li(v-for='(competitor, index) in listMedallists', :key='index', :class='competitor.Medal')
                        .info
                            .noc
                                BNocLabel(:noc='competitor.Org', :description='competitor.Org')
                                //- img(:src='flag(competitor.Org)')
                                //- span {{ competitor.Org }}
                            .name.single(v-if='!competitor.Members || competitor.Members.length == 0') {{ competitor.Name }}
                            .name.team(v-else) {{ competitor.Name }}
                            .result(v-if='competitor.Result') {{ competitor.Result }}
                        .podium(:class='competitor.Medal')
                        .players(v-if='showAllMed == true && competitor.Members && competitor.Members.length > 0')
                            .competitor-name {{ competitor.Name }}
                            p(v-for='m in competitor.Members') {{ m.Name }}

                //- OLD WAY TO SHOW WINNERS
                //- li.medal-section-container-medals__box(v-for='(competitor, index) in listMedallists', :key='index')
                //-     .medal-section-container-medals__box__border-box
                //-         .medal-section-container-medals__box__rank
                //-             img.medal-section-container-medals__box__rank__img(:src='getMedals(competitor.Medal)')
                //-         .medal-section-container-medals__box__result(v-if='competitor.Result') {{ competitor.Result }}
                //-         .medal-section-container-medals__box__name(v-if='showAllMed == true')
                //-             .single(v-if='!competitor.Members || competitor.Members.length == 0') 
                //-                 p {{ competitor.Name }}
                //-             .team(v-else)
                //-                 p(v-for='m in competitor.Members') {{ m.Name }}
                //-         .medal-section-container-medals__box__name(v-if='showAllMed == false')
                //-             .single(v-if='!competitor.Members || competitor.Members.length == 0') 
                //-                 p {{ competitor.Name }}
                //-         .medal-section-container-medals__box__noc.d-flex
                //-             img.medal-section-container-medals__box__noc__img(:src='flag(competitor.Org)')
                //-             span.medal-section-container-medals__box__noc__text {{ competitor.Org }}

                .medal-standings-players
                    .showBtnPlay(v-if='showbtn == true', @click='reset')
                        p(v-if='showAllMed == false') Show All Players
                        p(v-if='showAllMed == true') Hide Players

                ul.medal-section-container(v-if='listNoMedallists.length > 0')
                    li.medal-section-container__list
                        .medal-section-container__list__body.d-flex.justify-content-center
                            .medal-section-container__list__body__elipse.d-flex.justify-content-center
                                p {{ $t("res.final.rank2") }}
                            .medal-section-container__list__body__noc.d-flex
                                p {{ $t("res.final.noc") }}
                            .medal-section-container__list__body__name.d-flex
                                p {{ $t("res.final.name") }}
                            .medal-section-container__list__body__medals.d-flex.justify-content-center(
                                v-if='showResult'
                            )
                                p {{ $t("res.final.mark") }}
                    li.medal-section-container__list(v-for='(competitor, index) in listNoMedallists', :key='index')
                        .medal-section-container__list__body.d-flex.justify-content-center
                            .medal-section-container__list__body__elipse.d-flex.justify-content-center
                                p {{ competitor.Rk }}
                            .medal-section-container__list__body__noc.d-flex
                                img(:src='flag(competitor.Org)')
                                span {{ competitor.Org }}
                            .medal-section-container__list__body__name.d-flex
                                p {{ competitor.Name }}
                            .medal-section-container__list__body__medals.d-flex.justify-content-center(
                                v-if='showResult'
                            )
                                p {{ competitor.Result }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import SectionBase from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import { mixins } from 'vue-class-component';

@Component({
    components: { Dropdown, SectionBase, BMainHeader, BNocLabel }
})
export default class FinalRank extends mixins(Utils, Images) {
    listEvents: Array<any> = [];
    listMedallists: Array<any> = [];
    listNoMedallists: Array<any> = [];
    showResult = false;
    //
    title: any = '';
    loading = false;
    showAllMed = true;
    showbtn = false;

    get disc() {
        return this.$route.params.disc;
    }
    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    filterMedals(competitors: Array<any>) {
        this.listMedallists = [];
        this.listNoMedallists = [];
        for (let i = 0; i < competitors.length; i++) {
            if (competitors[i].Medal && competitors[i].Medal.length > 0) this.listMedallists.push(competitors[i]);
            else this.listNoMedallists.push(competitors[i]);
        }

        this.showbtn = this.listMedallists.length > 0 && this.listMedallists[0].Members !== undefined;
    }

    @Watch('$route.params.rsc')
    async selectEvent(evKey: string) {
        if (!evKey) {
            this.reset();
            return;
        }
        navData.setRSC(this.disc, evKey);
        const newIdx = this.listEvents.findIndex((evt: any) => {
            return evt.EvKey === evKey;
        });
        const currEvt = newIdx >= 0 ? this.listEvents[newIdx] : { Desc: this.$t('sections.invalid-event') };
        this.title = currEvt.Desc;
        //
        const dropDown: any = this.$refs.dropDown;
        dropDown.selectIndex(newIdx);
        //
        this.loading = true;
        const resp = await services.link('res_final-rank', this.disc, evKey);
        this.loading = false;
        this.filterMedals(resp ? resp.Competitors : []);
        this.showResult = resp ? resp.ShowResult : false;
    }

    onSelectionEvent(evt: any) {
        this.navigateToEvent(evt.EvKey, false);
    }

    navigateToEvent(evKey: string, replace = false) {
        if (replace) this.$router.replace({ params: { rsc: evKey } });
        else this.$router.push({ params: { rsc: evKey } });
    }

    async reset() {
        this.listEvents = this.$store.state.events[this.disc];
        let evt = this.$route.params.rsc;
        if (!evt) evt = navData.getRSC(this.disc);
        if (!evt) evt = this.listEvents[0].EvKey;
        //
        // Tengo que hacer esto para esperar que se rellene el dropdown
        await this.$nextTick();
        if (this.$route.params.rsc) this.selectEvent(evt);
        else this.navigateToEvent(evt, true);
        if (this.showAllMed == false) this.showAllMed = true;
        else this.showAllMed = false;
    }

    mounted() {
        this.reset();
    }
}
</script>
