<template lang="pug">
.final-rank
    BMainHeader(:disc='disc')
    SectionBase(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc)', :title='title', :loading='loading')
        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.event")',
                    :list='listEvents',
                    @changed-option='onSelectionEvent')

        template(#body)
            //-p faltan podiums, no tengo datos
            template(v-if='listMedallists.length == 0 && listNoMedallists.length == 0 && !loading')
                span {{ $t("sections.no-data") }}
            template(v-else)
                //- pre {{ listMedallists }}
                template(v-if='listMedallists.length > 0')
                    BSectionTitle
                        span {{ $t("medals.winners") }}
                    //- pre {{ groupedMedallists }}
                    .phase-medals
                        .medal-item.silver
                            .podium-list(v-for='comp in groupedMedallists.silver')
                                BPlayerLabel.startlist(:name='comp.Name', :reg='comp.Reg', :noc='comp.Org')
                            .podium
                        .medal-item.gold
                            .podium-list(v-for='comp in groupedMedallists.gold')
                                BPlayerLabel.startlist(:name='comp.Name', :reg='comp.Reg', :noc='comp.Org')
                            .podium
                        .medal-item.bronze
                            .podium-list(v-for='comp in groupedMedallists.bronze')
                                BPlayerLabel.startlist(:name='comp.Name', :reg='comp.Reg', :noc='comp.Org')
                            .podium
                BSectionTitle
                    span {{$t('disciplines.final-ranks')}}
                .rank-row.titles
                    .row-one
                        .rank 
                            span {{ $t("res.final.rank1") }}
                        .noc-item
                            span {{ $t("res.final.noc") }}
                    .row-two
                        .name-item
                            span {{ $t("res.final.name") }}
                        .mark(v-if='showResult')
                            span {{ $t("res.final.mark") }}
                .rank-row(v-for='(competitor, index) in listNoMedallists', :key='index')
                    .row-one
                        .rank
                            span {{ competitor.Rk }}
                        .noc-item
                            BNocLabel(:noc='competitor.Org')
                    .row-two
                        .medal-item(v-if='competitor.Medal')
                            span {{ competitor.Medal }}
                        .name-item
                            template(v-if='competitor.Type == "T"')
                                BPlayerLabel.startlist(:name='competitor.Name')
                            template(v-else)
                                BPlayerLabel.startlist(:reg='competitor.Reg', :name='competitor.Name')
                            //- span {{ competitor.Reg }}. {{ competitor.Name }}
                        .mark(v-if='showResult')
                            span {{ competitor.Result }}

            //- hr
            //- p(v-if='listMedallists.length == 0 && listNoMedallists.length == 0 && !loading') {{ $t("sections.no-data") }}

            //- ul.medal-section-container-medals(v-else)
            //-     .medal-standings-title(v-if='listMedallists.length > 0') {{ $t("medals.winners") }}
            //-     .medal-standings 
            //-         li(v-for='(competitor, index) in listMedallists', :key='index', :class='competitor.Medal')
            //-             .info
            //-                 .noc
            //-                     BNocLabel(:noc='competitor.Org', :description='competitor.Org')
            //-                     //- img(:src='flag(competitor.Org)')
            //-                     //- span {{ competitor.Org }}
            //-                 .name.single(v-if='!competitor.Members || competitor.Members.length == 0') {{ competitor.Name }}
            //-                 .name.team(v-else) {{ competitor.Name }}
            //-                 .result(v-if='competitor.Result') {{ competitor.Result }}
            //-             .podium(:class='competitor.Medal')
            //-             .players(v-if='showAllMed == true && competitor.Members && competitor.Members.length > 0')
            //-                 .competitor-name {{ competitor.Name }}
            //-                 p(v-for='m in competitor.Members') {{ m.Name }}
                //- OLD WAY TO SHOW WINNERS
                //- li.medal-section-container-medals__box(v-for='(competitor, index) in listMedallists', :key='index')
                //-     .medal-section-container-medals__box__border-box
                //-         .medal-section-container-medals__box__rank
                //-             img.medal-section-container-medals__box__rank__img(:src='getMedals(competitor.Medal)')
                //-         .medal-section-container-medals__box__result(v-if='competitor.Result') {{ competitor.Result }}
                //-         .medal-section-container-medals__box__name(v-if='showAllMed == true')
                //-             .single(v-if='!competitor.Members || competitor.Members.length == 0') 
                //-                 p {{ competitor.Name }}
                //-             .team(v-else)
                //-                 p(v-for='m in competitor.Members') {{ m.Name }}
                //-         .medal-section-container-medals__box__name(v-if='showAllMed == false')
                //-             .single(v-if='!competitor.Members || competitor.Members.length == 0') 
                //-                 p {{ competitor.Name }}
                //-         .medal-section-container-medals__box__noc.d-flex
                //-             img.medal-section-container-medals__box__noc__img(:src='flag(competitor.Org)')
                //-             span.medal-section-container-medals__box__noc__text {{ competitor.Org }}

                //- .medal-standings-players
                //-     .showBtnPlay(v-if='showbtn == true', @click='reset')
                //-         p(v-if='showAllMed == false') Show All Players
                //-         p(v-if='showAllMed == true') Hide Players

                //- ul.medal-section-container(v-if='listNoMedallists.length > 0')
                //-     li.medal-section-container__list
                //-         .medal-section-container__list__body.d-flex.justify-content-center
                //-             .medal-section-container__list__body__elipse.d-flex.justify-content-center
                //-                 p {{ $t("res.final.rank2") }}
                //-             .medal-section-container__list__body__noc.d-flex
                //-                 p {{ $t("res.final.noc") }}
                //-             .medal-section-container__list__body__name.d-flex
                //-                 p {{ $t("res.final.name") }}
                //-             .medal-section-container__list__body__medals.d-flex.justify-content-center(v-if='showResult')
                //-                 p {{ $t("res.final.mark") }}
                //-     li.medal-section-container__list(v-for='(competitor, index) in listNoMedallists', :key='index')
                //-         .medal-section-container__list__body.d-flex.justify-content-center
                //-             .medal-section-container__list__body__elipse.d-flex.justify-content-center
                //-                 p {{ competitor.Rk }}
                //-             .medal-section-container__list__body__noc.d-flex
                //-                 img(:src='flag(competitor.Org)')
                //-                 span {{ competitor.Org }}
                //-             .medal-section-container__list__body__name.d-flex
                //-                 p {{ competitor.Name }}
                //-             .medal-section-container__list__body__medals.d-flex.justify-content-center(v-if='showResult')
                //-                 p {{ competitor.Result }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import SectionBase from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';
import BSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import { mixins } from 'vue-class-component';

@Component({
    components: { Dropdown, SectionBase, BMainHeader, BNocLabel, BPlayerLabel, BSectionTitle }
})
export default class FinalRank extends mixins(Utils, Images) {
    listEvents: Array<any> = [];
    listMedallists: Array<any> = [];
    listNoMedallists: Array<any> = [];
    showResult = false;
    //
    title: any = '';
    loading = false;
    showAllMed = true;
    showbtn = false;

    get disc() {
        return this.$route.params.disc;
    }
    //  de la lista extraigo los medallistas ordenados por medalla
    get groupedMedallists() {
        const medallistsGrouped = { gold: [], silver: [], bronze: [] };
        if (this.listMedallists && this.listMedallists.length > 0) {
            // los devuelvo agrupados por el color de la medalla
            // agrupa por color de la medalla
            medallistsGrouped.gold = this.listMedallists.filter((c: any) => c.Medal === 'ME_GOLD') as any;
            medallistsGrouped.silver = this.listMedallists.filter((c: any) => c.Medal === 'ME_SILVER') as any;
            medallistsGrouped.bronze = this.listMedallists.filter((c: any) => c.Medal === 'ME_BRONZE') as any;
        }
        return medallistsGrouped;
    }

    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    filterMedals(competitors: Array<any>) {
        this.listMedallists = [];
        this.listNoMedallists = [];
        for (let i = 0; i < competitors.length; i++) {
            if (competitors[i].Medal && competitors[i].Medal.length > 0) this.listMedallists.push(competitors[i]);
            else this.listNoMedallists.push(competitors[i]);
        }
        this.showbtn = this.listMedallists.length > 0 && this.listMedallists[0].Members !== undefined;
    }

    @Watch('$route.params.rsc')
    async selectEvent(evKey: string) {
        if (!evKey) {
            this.reset();
            return;
        }
        navData.setRSC(this.disc, evKey);
        const newIdx = this.listEvents.findIndex((evt: any) => {
            return evt.EvKey === evKey;
        });
        const currEvt = newIdx >= 0 ? this.listEvents[newIdx] : { Desc: this.$t('sections.invalid-event') };
        this.title = currEvt.Desc;
        //
        const dropDown: any = this.$refs.dropDown;
        dropDown.selectIndex(newIdx);
        //
        this.loading = true;
        const resp = await services.link('res_final-rank', this.disc, evKey);
        this.loading = false;
        this.filterMedals(resp ? resp.Competitors : []);
        this.showResult = resp ? resp.ShowResult : false;
    }

    onSelectionEvent(evt: any) {
        this.navigateToEvent(evt.EvKey, false);
    }

    navigateToEvent(evKey: string, replace = false) {
        if (replace) this.$router.replace({ params: { rsc: evKey } });
        else this.$router.push({ params: { rsc: evKey } });
    }

    async reset() {
        this.listEvents = this.$store.state.events[this.disc];
        let evt = this.$route.params.rsc;
        if (!evt) evt = navData.getRSC(this.disc);
        if (!evt) evt = this.listEvents[0].EvKey;
        //
        // Tengo que hacer esto para esperar que se rellene el dropdown
        await this.$nextTick();
        if (this.$route.params.rsc) this.selectEvent(evt);
        else this.navigateToEvent(evt, true);
        if (this.showAllMed == false) this.showAllMed = true;
        else this.showAllMed = false;
    }

    mounted() {
        this.reset();
    }
}
</script>

<style lang="scss">
@mixin line-clamp-1 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.phase-medals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-items: center;
    border-bottom: 1px solid $color-primary-25;
    width: 100%;
    padding: 0 1rem;
    margin: 2rem 0 1rem 0;
    @media (max-width: $breakpoint-small) {
        padding: 0;
    }
    .medal-item {
        // width: 100%;
        .podium-list {
            .b-player {
                .name {
                    max-width: 100px;
                    @include line-clamp-1;
                }
                @media (max-width: 599px) {
                    .avatar {
                        display: none;
                    }
                }
            }
        }
    }
    .podium {
        padding: 0.6rem 0;
        box-sizing: border-box;
        &:after {
            color: $white;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
    .gold {
        order: 2;
        grid-template-rows: 1fr 5rem;
        .podium {
            background: $color-gold;
            // box-shadow: $box-shadow-podium-gold;
            &:after {
                content: '1';
                font-size: 1.8rem;
            }
        }
    }
    .silver {
        order: 1;
        grid-template-rows: 1fr 4rem;
        .podium {
            background: $color-silver;
            // box-shadow: $box-shadow-podium;
            &:after {
                content: '2';
            }
        }
    }
    .bronze {
        order: 3;
        grid-template-rows: 1fr 3rem;
        .podium {
            padding: 0.4rem 0; /* no cabe con mas padding */
            background: $color-bronze;
            // box-shadow: $box-shadow-podium;
            &:after {
                content: '3';
            }
        }
    }
}

.rank-row:not(.titles) + .rank-row {
    border-top: 1px solid $color-primary-10;
}
.rank-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.4rem;
    .fas {
        padding-left: 0.2rem;
    }
    .row-one,
    .row-two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .row-one {
        flex: 0 0 140px;
    }
    .row-two {
        flex: 1 0 300px;
        justify-content: flex-end;
        overflow: clip; // esconde los que se ocultan
        // @media (max-width: 466px) {
        //     flex: 1 1 300px;
        // }
    }
    // @media (max-width: 466px) {
    //     .row-one {
    //         flex: 0 0 140px;
    //     }
    //     .row-two {
    //         flex: 1 1 300px;
    //     }
    // }
    &.titles {
        font-size: 0.8rem;
        color: $color-primary-50;
        border-bottom: 1px solid $color-primary-25;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        .name-item {
            span {
                width: 100%;
            }
            text-align: left;
            @media (max-width: 466px) {
                text-align: right;
            }
        }
    }
    .rank {
        flex: 0 0 40px;
    }
    .noc-item {
        flex: 0 0 80px;
    }
    .name-item {
        flex: 1 1;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .b-player {
            padding: 0;
            padding-top: 0.2rem;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            .avatar {
                margin: 0;
            }
            .name {
                max-width: 200px;
                @include line-clamp-1;
                flex: 1 0 max-content;
                line-height: 1.86firem;
                margin: 0 0.4rem;
            }
        }
        // cuando paso a DOS filas, no es muy exacto por el FLEX
        @media (max-width: 466px) {
            flex: 1 0;
            text-align: right;
            .b-player {
                width: auto; // reset el 100%
                justify-content: flex-end;
                .name {
                    line-height: 1.5rem;
                }
            }
        }
    }
    .mark {
        flex: 0 0 70px;
    }
}
</style>
