<template lang="pug">
.groups
    BMainHeader(:disc='disc')
    SectionBase(
        :bg='discBg()',
        :image='picto(disc)',
        :image-sub='picto(disc)',
        :title='title',
        :loading='loading',
        :selectors='listGroups',
        seldesc='DescA',
        @selection='filterGroup',
        ref='SectionBase'
    )

        template(#filters)
            .filters-section
                Dropdown.b-dropdwn__dropdown(
                    ref='dropDown',
                    :title='$t("filters.event")',
                    :list='listEvents',
                    @changed-option='onSelectionEvent'
                )

        template(#body)
            p(v-if='!loading && listGroups.length == 0') {{ $t("sections.no-groups") }}
            Group(v-if='selGroup', :value='selGroup', :show-tie='showTie', :show-for-against='showFA')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import services from '@/settings/services';
import navData from '@/settings/navData';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import SectionBase from '@/components/commons/SectionBase.vue';
import Dropdown from '@/components/commons/Dropdown.vue';
import Group from '@/components/Disciplines/Groups/Group.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import { mixins } from 'vue-class-component';

/* eslint-disable */
@Component({
    components: {
        Dropdown,
        Group,
        SectionBase,
        BMainHeader
    }
})
/* eslint-enable */
export default class Groups extends mixins(Utils, Images) {
    loading = false;
    title = '';
    listEvents: Array<any> = [];
    listGroups: Array<any> = [];
    selGroup: any = null;

    get showTie() {
        return this.disc == 'FBL' || this.disc == 'BKB' || this.disc == 'VVO';
    }

    get showFA() {
        return this.disc == 'FBS' || this.disc == 'BHB' || this.disc == 'BK3';
    }

    get disc() {
        return this.$route.params.disc;
    }
    @Watch('disc')
    discWatcher() {
        this.reset();
    }

    @Watch('$route.params.rsc')
    async selectEvent(evKey: string, oldKey?: string) {
        if (!evKey) {
            this.reset();
            return;
        }
        navData.setRSC(this.disc, evKey);
        const newIdx = this.listEvents.findIndex((evt: any) => {
            return evt.EvKey === evKey;
        });
        const currEvt = newIdx >= 0 ? this.listEvents[newIdx] : { Desc: this.$t('sections.invalid-event') };
        this.title = currEvt.Desc;
        //
        const dropDown: any = this.$refs.dropDown;
        dropDown.selectIndex(newIdx);
        //
        this.listGroups = [];
        this.selectGroup(null);
        //
        this.loading = true;
        const info = await services.link('res_groups', this.disc, evKey);
        this.loading = false;
        this.listGroups = info ? info.Groups : [];
        const SectionBase: any = this.$refs.SectionBase;
        if (oldKey && this.listGroups.length > 0) {
            // Estaba en otro grupo, reseteo el grupo
            this.filterGroup(this.listGroups[0]);
            SectionBase.setSelection(0);
        } else if (this.listGroups.length == 0 && this.$route.params.group) {
            // Limpio grupo de la URL
            this.navigateToEvent(evKey);
        } else if (oldKey === undefined) {
            // Es la primera ejecución...
            const grp = this.$route.params.group;
            if (grp) {
                // selecciono el grupo que tuviera en el parámetro
                SectionBase.setSelection(this.listGroups.findIndex(el => el.Key === grp));
                this.selectGroup(grp);
            } else if (this.listGroups.length > 0) {
                // selecciono 1er grupo si lo hubiera
                this.filterGroup(this.listGroups[0]);
                SectionBase.setSelection(0);
            }
        }
    }

    onSelectionEvent(evt: any) {
        if (evt.EvKey === this.$route.params.rsc) return;
        this.navigateToEvent(evt.EvKey, false);
    }

    navigateToEvent(evKey: string, replace = false) {
        const params = ({ rsc: evKey, group: undefined } as any) as any;
        if (replace) this.$router.replace({ params });
        else this.$router.push({ params });
    }

    @Watch('$route.params.group')
    async selectGroup(group: string | null) {
        (this.$refs.SectionBase as any).setSelection(this.listGroups.findIndex(el => el.Key === group));
        if (group) {
            this.selGroup = this.listGroups.find(el => el.Key === group);
        } else {
            this.selGroup = null;
        }
    }

    filterGroup(group: any, replace = true) {
        if (this.$route.params.group === group.Key) return;

        if (group && replace) {
            this.$router.replace({ params: { group: group.Key } });
        } else if (group) {
            this.$router.push({ params: { group: group.Key } });
        }
    }

    async reset() {
        this.listEvents = this.$store.state.events[this.disc];
        let evt = this.$route.params.rsc;
        if (!evt) evt = navData.getRSC(this.disc);
        if (!evt) evt = this.listEvents[0].EvKey;
        //
        // Tengo que hacer esto para esperar que se rellene el dropdown
        await this.$nextTick();
        if (this.$route.params.rsc) this.selectEvent(evt);
        else this.navigateToEvent(evt, true);
    }

    mounted() {
        this.reset();
    }
}
</script>
