<template lang="pug">
.medals
    BMainHeader(:disc='disc')
    SectionBase(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc, "d")', :loading='loading', :title='$t("nav_medals.Desc")')
        //- template(#header)
        //-     p {{getTitleDesc(disc)}}
        //- template(#submenu)
        //-     p {{getTitleDesc(disc)}}

        template(#body)
            section.medal-list
                .medal-item(v-if='listEvents.length > 0')
                    medallists-event(v-for='evt in listEvents', :key='evt.Event', :value='evt')

                p(v-else-if='!loading') {{ $t("sections.no-medals") }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import services from '@/settings/services';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import SectionBase from '@/components/commons/SectionBase.vue';
import MedallistsEvent from '@/components/Medals/MedallistsEvent.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

@Component({
    mixins: [Images, Utils],
    components: {
        SectionBase,
        MedallistsEvent,
        BMainHeader
    }
})
export default class Medals extends Vue {
    loading = false;
    listMedallists: any[] = [];
    listEvents: any[] = [];

    get disc() {
        return this.$route.params.disc;
    }

    @Watch('disc')
    discWatcher() {
        this.getEventMedals();
    }

    async getEventMedals() {
        this.loading = true;
        this.listMedallists = await services.link('medal_discipline', this.disc);
        this.loading = false;
        if (this.listMedallists == null) this.listMedallists = [];
        this.buildMedalsDisc(this.listEvents, this.listMedallists);
    }

    buildMedalsDisc(destination: any[], medallists: any[]) {
        destination.splice(0);
        // Create structure
        let currEvt: any = {};
        for (let i = 0; i < medallists.length; i++) {
            const curr = medallists[i];
            if (currEvt.Event != curr.Event) {
                currEvt = {};
                currEvt.Event = curr.Event;
                currEvt.EventDesc = curr.EventDesc;
                currEvt.Medals = [];
                destination.push(currEvt);
            }
            currEvt.Medals.push(curr);
        }
    }

    created() {
        this.getEventMedals();
    }
}
</script>
