<template lang="pug">
.results
    BMainHeader(:disc='disc')
    b-section(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc)', :loading='loading')
        //- template(#header)
        //-     h3 RESULTS
        //-     p {{ getTitleDesc(disc) }}
        //- template(#submenu)
        //-     h3 RESULTS 2
        //-     p {{ getTitleDesc(disc) }}
        //- template(#prefilters)
        //-     component(:is='presentationComponent', :results='results')
        template(#filters)
            .filters-section
                .presentation
                    component(:is='presentationComponent', :results='results')
                .filters-menu.d-flex.flex-row.flex-wrap
                    .header-section-container-submenu__list__element(v-for='(comp, index) in buttons', :key='index')
                        button.header-section-container-submenu__list__element__link.mb-1(
                            @click='compoToShow(comp.Link)',
                            :class='comp.Link == activeTab ? "router-link-active" : ""'
                        )
                            span.header-section-container-submenu__list__element__link__desc {{ $t(comp.Desc) }}

        template(#body)
            p(v-if='!results && !loading') {{ $t("sections.no-results") }}

            //- button.live-schedule(v-if='results', @click='toggle', :class="showSchedule ? 'openedMenuSchedule' : 'closedMenuSchedule' ")
                span Schedule
            //- LiveScheduleNav(v-if='results', :show='showSchedule', :info='results', @toggle='toggle')

            KeepAlive
                component(v-if='activeTab == "start-list"', :is='compStartL', :results='results')

            KeepAlive
                component(v-if='activeTab == "results"', :is='compResult', :results='results')
                //- Mostrar resultados free text
                //- .free-text-result.my-2(v-if='true', v-html='')
            
            KeepAlive(v-if='activeTab == "stats"')
                Statistics(:results='results')

            KeepAlive
                component(v-if='activeTab == "summary"', :is='compSumm', :results='summary')

            KeepAlive
                template(v-if='activeTab == "reports"')
                    reports(v-if='reports', :reports='reports')
                    p(v-else) {{ $t("sections.no-reports") }}
</template>

<script lang="ts">
import { Component, Watch, Mixins } from 'vue-property-decorator';
//
import config from '@/settings/config';
import services from '@/settings/services';
import socket from '@/settings/socket';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BSection from '@/components/commons/SectionBase.vue';
import Reports from '@/components/DisciplinesMatchCentre/_commons/Reports.vue';
//import LiveScheduleNav from '@/components/navs/LiveScheduleNav.vue';
//
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';
import Statistics from './Statistics.vue';

@Component({
    components: {
        Statistics,
        BSection,
        Reports,
        BMainHeader
        // Start y Results componentes, are registered globally in main.ts
    }
})
export default class Results extends Mixins(Images, Utils) {
    loading = false;
    activeTab = '';
    //
    refreshTime = 0;
    intervalID: NodeJS.Timeout | false = false;
    room = '';
    //
    buttons: Array<any> = [];
    results: any = null;
    summary: any = null;
    reports: any = null;
    schedule: any = null;
    hasSummary = false;
    hasOverall = false;
    hasStats = false;
    showSchedule = false;

    //@ProvideReactive('msg') public saludoProvide = 'A';

    get unitRSC() {
        return this.$route.params.rsc;
    }

    get disc() {
        return this.$route.params.disc;
    }

    get presentationComponent() {
        return `Presentation${this.disc}`;
    }
    get compStartL() {
        return `Start${this.disc}`;
    }
    get compResult() {
        return `Res${this.disc}`;
    }
    get compSumm() {
        return `Summ${this.disc}`;
    }

    toggle(show: any) {
        this.showSchedule = !this.showSchedule;
        if (show) {
            this.showSchedule = show;
        }
    }

    async compoToShow(tab: string) {
        this.activeTab = tab;
        if (tab == 'summary' && this.summary == null) {
            const summRSC = this.hasOverall ? this.unitRSC + '.sum' : this.results.Info.Phase;
            this.loading = true;
            this.summary = await services.link('res_results', this.disc, summRSC);
            this.loading = false;
        }
    }

    @Watch('unitRSC')
    async getResults() {
        if (this.room !== '') {
            socket.leave(this.room);
            this.room = '';
        }
        //
        this.results = null;
        this.reports = null;
        this.summary = null;
        this.activeTab = '';
        this.buttons = [];
        //
        this.loading = true;
        this.results = await services.link('res_results', this.disc, this.unitRSC);
        this.reports = await services.link('reports_unit', this.disc, this.unitRSC);
        this.loading = false;
        //
        if (this.results && this.results.Info) {
            const buttons = [
                { Link: 'start-list', Desc: 'nav_unit.start-list' },
                { Link: 'results', Desc: 'nav_unit.results' },
                { Link: 'stats', Desc: 'nav_unit.stats' },
                { Link: 'summary', Desc: 'nav_unit.summary' }
            ];

            this.hasSummary = this.results.Info.ShowSummary || false;
            this.hasOverall = this.results.Info.HasFleetOverall || false;

            if (!(this.hasSummary == true || this.hasOverall == true)) buttons.pop();
            if (this.results.Stats.HasStats !== true || this.results.Stats.ShowStats !== true) buttons.pop();
            if (this.reports && this.reports.Reports && this.reports.Reports.length > 0)
                buttons.push({ Link: 'reports', Desc: 'nav_unit.reports' });

            this.buttons = buttons;

            // Sección por defecto
            this.compoToShow(this.results.Info.ShowResults ? 'results' : 'start-list');

            if (this.results.Info.IsLive) {
                // Socket connection
                this.room = socket.roomName('results', this.disc, this.unitRSC);
                socket.join(this.room, this.socketRefresh);
            }
        }
    }

    socketRefresh(disconnected: boolean, data: any) {
        if (disconnected == true) {
            this.setRefreshInterval();
        } else {
            this.results = data;
            this.clearRefeshInterval();
            if (this.results && this.results.Info && this.results.Info.IsLive == false) {
                socket.leave(this.room);
                this.room = '';
            }
        }
    }

    setRefreshInterval() {
        const tOuts: any = config.timeouts.sports;
        this.refreshTime = tOuts[this.disc] ? tOuts[this.disc] * 1000 : 60 * 1000;
        this.clearRefeshInterval();
        this.intervalID = setInterval(this.refreshResults, this.refreshTime);
    }

    clearRefeshInterval() {
        if (this.intervalID != false) {
            clearInterval(this.intervalID);
            this.intervalID = false;
        }
    }

    async refreshResults() {
        this.results = await services.link('res_results', this.disc, this.unitRSC);
        if (this.results && this.results.Info && this.results.Info.IsLive == false) {
            this.clearRefeshInterval();
        }
    }

    created() {
        this.getResults();
        //this.saludoProvide = 'hola que tal';
    }

    destroyed() {
        if (this.room !== '') socket.leave(this.room);
        this.clearRefeshInterval();
    }
}
</script>
