<template lang="pug">
.schedule
    BMainHeader(:disc='disc')
    b-section(:bg='discBg()', :image='picto(disc)', :image-sub='picto(disc, "d")', :title='title', :loading='loading')
        template(#header)
            p {{ getTitleDesc(disc) }}
        template(#submenu)
            p {{ getTitleDesc(disc) }}

        template(#filters)
            button.header-section-container-submenu__filters__button(@click='modalfilter = !modalfilter')
                template(v-if='!modalfilter')
                    i.fas.fa-search
                    span.add-filter {{ $t("filters.title") }}
                template(v-else-if='modalfilter')
                    i.fas.fa-times
                    span {{ $t("filters.close-filter") }}
            .header-section-container-submenu__filters__modal(:class='{ visible: modalfilter }')
                ul.header-section-container-submenu__filters__modal__list
                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.date") }}
                        auto-complete(
                            :items='listDays',
                            field='title',
                            @selected='addFilter(selDay, "DAY", $event)',
                            :placeholder='$t("filters.holder")'
                        )
                    li.header-section-container-submenu__filters__modal__list__filter
                        label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.event") }}
                        auto-complete(
                            :items='listEvents',
                            field='Desc',
                            @selected='addFilter(selEvent, "EVT", $event)',
                            :placeholder='$t("filters.holder")'
                        )
                    template(v-if='activeFilters')
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.status") }}
                            auto-complete(
                                :items='listStatus',
                                field='Desc',
                                @selected='addFilter(selStatus, "", $event)',
                                :placeholder='$t("filters.holder")'
                            )
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.noc") }}
                            auto-complete(
                                :items='listNOC',
                                field='Desc',
                                @selected='addFilter(selNOC, "", $event)',
                                :placeholder='$t("filters.holder")'
                            )
                        li.header-section-container-submenu__filters__modal__list__filter
                            label.header-section-container-submenu__filters__modal__list__filter__label {{ $t("filters.ath") }}
                            auto-complete(
                                :items='listATH',
                                field='Name',
                                @selected='addFilter(selATH, "", $event)',
                                :placeholder='$t("filters.holder")'
                            )

            .header-section-container-submenu__filters__selected
                ul.header-section-container-submenu__filters__selected__list
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='day in selDay')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selDay, "DAY", day)'
                        ) {{ day.title }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='event in selEvent')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selEvent, "EVT", event)'
                        ) {{ event.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='state in selStatus')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selStatus, "", state)'
                        ) {{ state.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='noc in selNOC')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selNOC, "", noc)'
                        ) {{ noc.Desc }}
                            i.fas.fa-times
                    li.header-section-container-submenu__filters__selected__list__filter(v-for='ath in selATH')
                        span.header-section-container-submenu__filters__selected__list__filter__text(
                            @click='removeFilter(selATH, "", ath)'
                        ) {{ ath.Name }}
                            i.fas.fa-times

        template(#body)
            .body-section-container__schedule-unit-container
                template(v-if='activeFilters')
                    template(v-if='filteredUnitsLoc.length > 0')
                        template(v-for='loc in filteredUnitsLoc')
                            p.info {{ loc.Desc }}
                            ul.body-section-container__list-events
                                component(
                                    v-for='unit in loc.Units',
                                    :key='unit.id ? unit.id : unit.Key',
                                    :is='unit.id ? "Alternative" : disc',
                                    :unit='unit'
                                )

                    ul.body-section-container__list-events(v-else-if='filteredUnits.length > 0')
                        component(
                            v-for='unit in filteredUnits',
                            :key='unit.id ? unit.id : unit.Key',
                            :is='unit.id ? "Alternative" : disc',
                            :unit='unit'
                        )

                    p.info(v-else-if='!loading') {{ $t("filters.no-results") }}

                template(v-else-if='listUnitsEmpty')
                    template(v-if='listUnitsEmpty.live && listUnitsEmpty.live.length > 0')
                        p.info {{ $t("schedule.live") }}
                        ul.body-section-container__list-events
                            component(v-for='unit in listUnitsEmpty.live', :key='unit.Key', :is='disc', :unit='unit')

                    template(v-if='listUnitsEmpty.next && listUnitsEmpty.next.length > 0')
                        p.info(v-if='listUnitsEmpty.next.length == 1') {{ $t("schedule.next-1") }}
                        p.info(v-if='listUnitsEmpty.next.length > 1') {{ $t("schedule.next") }}
                        ul.body-section-container__list-events
                            component(
                                v-for='unit in listUnitsEmpty.next',
                                :key='unit.id ? unit.id : unit.Key',
                                :is='unit.id ? "Alternative" : disc',
                                :unit='unit'
                            )

                    template(v-if='listUnitsEmpty.last && listUnitsEmpty.last.length > 0')
                        p.info(v-if='listUnitsEmpty.last.length == 1') {{ $t("schedule.last-1") }}
                        p.info(v-if='listUnitsEmpty.last.length > 1') {{ $t("schedule.last") }}
                        ul.body-section-container__list-events
                            component(v-for='unit in listUnitsEmpty.last', :key='unit.Key', :is='unitComponent', :unit='unit')

                template(v-else-if='!loading')
                    p.info {{ $t("sections.no-units") }}
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import config from '@/settings/config';
import services from '@/settings/services';
import navData from '@/settings/navData';

import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import AutoComplete from '@/components/commons/Filters.vue';
import BSection from '@/components/commons/SectionBase.vue';

import Alternative from '@/components/DisciplinesMatchCentre/_commons/schedule/Alternative.vue';
//
// import ATH from '@/components/DisciplinesMatchCentre/ATH/ScheduleUnit.vue';
import UnitBKB from '@/components/DisciplinesMatchCentre/BKB/ScheduleUnit.vue';
// import CRD from '@/components/DisciplinesMatchCentre/CRD/v2/ScheduleUnit.vue';
import UnitFEN from '@/components/DisciplinesMatchCentre/FEN/ScheduleUnit.vue';
import UnitFBL from '@/components/DisciplinesMatchCentre/FBL/v2/ScheduleUnit.vue';
import UnitHBL from '@/components/DisciplinesMatchCentre/HBL/v2/ScheduleUnit.vue';
import UnitIHO from '@/components/DisciplinesMatchCentre/IHO/ScheduleUnit.vue';
import UnitJUD from '@/components/DisciplinesMatchCentre/JUD/ScheduleUnit.vue';
import UnitKTE from '@/components/DisciplinesMatchCentre/KTE/ScheduleUnit.vue';
import UnitOWS from '@/components/DisciplinesMatchCentre/OWS/ScheduleUnit.vue';
import UnitSHO from '@/components/DisciplinesMatchCentre/SHO/ScheduleUnit.vue';
import UnitSWM from '@/components/DisciplinesMatchCentre/SWM/ScheduleUnit.vue';
import UnitTEN from '@/components/DisciplinesMatchCentre/TEN/ScheduleUnit.vue';
import UnitTTE from '@/components/DisciplinesMatchCentre/TTE/ScheduleUnit.vue';
import UnitVVO from '@/components/DisciplinesMatchCentre/VVO/v2/ScheduleUnit.vue';
// BornanUI
import BMainHeader from '@/BornanUI/main/BMainHeader.vue';

interface Filter {
    [_key: string]: string;
}
type FilterType = '' | 'DAY' | 'EVT';

/* eslint-disable */
@Component({
    components: {
        BSection,
        AutoComplete,
        Alternative,
        UnitBKB,
        UnitFEN,
        UnitFBL,
        UnitHBL,
        UnitIHO,
        UnitJUD,
        UnitKTE,
        UnitOWS,
        UnitSHO,
        UnitSWM,
        UnitTEN,
        UnitTTE,
        UnitVVO,
        BMainHeader
    }
})
/* eslint-enable */
export default class Schedule extends mixins(Images, Utils) {
    //
    listEvents: Array<Filter> = [];
    listNOC: Array<Filter> = [];
    listATH: Array<Filter> = [];
    listStatus: Array<Filter> = [];
    listDays: Array<Filter> = [];
    //
    selEvent: Array<Filter> = [];
    selNOC: Array<Filter> = [];
    selATH: Array<Filter> = [];
    selStatus: Array<Filter> = [];
    selDay: Array<Filter> = [];
    //
    firstType: FilterType = '';
    listUnits: Array<any> = [];
    listUnitsEmpty: any = null;
    filteredUnits: Array<any> = [];
    filteredUnitsLoc: Array<any> = [];
    //
    modalfilter = false;
    loading = false;
    idInterval: NodeJS.Timeout | null = null;
    today = '';

    get disc() {
        return this.$route.params.disc;
    }
    get unitComponent() {
        return `Unit${this.disc}`;
    }
    get activeFilters() {
        return this.selDay.length + this.selEvent.length;
    }
    get title() {
        if (this.activeFilters) return this.$t('schedule.search');
        return '';
    }

    beforeDestroy() {
        navData.setFilterSch(this.disc, this.selEvent, this.selNOC, this.selATH, this.selStatus, this.selDay);
        if (this.idInterval) {
            clearInterval(this.idInterval);
            this.idInterval = null;
        }
    }

    @Watch('$route.params.disc')
    onPropertyChanged(value: string, oldValue: string) {
        services.cancelRequests();
        navData.setFilterSch(oldValue, this.selEvent, this.selNOC, this.selATH, this.selStatus, this.selDay);
        this.init();
    }
    //Services to get data
    async init() {
        if (this.idInterval) {
            clearInterval(this.idInterval);
            this.idInterval = null;
        }
        this.listEvents = this.buildFilter(this.$store.state.events[this.disc], 'EvKey');
        this.listDays = this.buildFilter(this.$store.state.scheduleDays[this.$route.params.disc], 'raw');
        this.listStatus = [
            { _key: 'SCHEDULED', Desc: 'Schedule' },
            { _key: 'START_LIST', Desc: 'Start list' },
            { _key: 'RUNNING', Desc: 'Running' },
            { _key: 'OFFICIAL', Desc: 'Official' }
        ];
        this.filteredUnits = [];
        this.listUnitsEmpty = null;
        this.loading = true;
        const partics = await services.link('participants', this.disc);
        if (partics) {
            this.listNOC = this.buildFilter(partics.orgs, 'Key');
            this.listNOC.forEach(e => (e.Desc = e._key + ' - ' + e.Desc));
            this.listATH = this.buildFilter(partics.participants, 'Reg');
        }

        navData.getFilterSch(this.disc, this.selEvent, this.selNOC, this.selATH, this.selStatus, this.selDay);
        this.setTypeFilter();
        //
        // me fijo si hay fecha por parámetro
        if (this.$route.params.date) {
            // Selecciono el filtro
            const elem = this.listDays.find((e: Filter) => e._key === this.$route.params.date);
            if (elem) this.addFilter(this.selDay, 'DAY', elem);
        }
        // Cargo las units de landing
        await this.getLandingInfo();
        this.idInterval = setInterval(this.refreshResults, config.timeouts.schedule * 1000);
        this.loading = false;
    }

    async getLandingInfo() {
        this.listUnitsEmpty = await services.link('schedule_landing', this.disc);
        if (
            this.listUnitsEmpty == null ||
            (this.listUnitsEmpty.last.length == 0 &&
                this.listUnitsEmpty.live.length == 0 &&
                this.listUnitsEmpty.next.length == 0)
        )
            this.listUnitsEmpty = null;
    }

    buildFilter(col: any[], field: string): Filter[] {
        col.map(e => {
            e._key = e[field];
        });
        return col;
    }

    setTypeFilter() {
        this.firstType = '';
        this.listUnits = [];
        this.filteredUnits = this.listUnitsEmpty || [];

        if (this.selEvent.length > 0) {
            this.setFilter(this.selEvent, 'EVT', true, true);
        } else if (this.selDay.length > 0) {
            this.setFilter(this.selDay, 'DAY', true, true);
        }
    }

    checkNOC(unit: any) {
        if (this.selNOC.length == 0) return true;
        let unitOrgs: string[] = [];
        if (unit.isH2H) unitOrgs = [unit.Home.Org, unit.Away.Org];
        else {
            for (let j = 0; j < unit.Results.length; j++) {
                unitOrgs.push(unit.Results[j].Org);
            }
        }

        let pass = false;
        for (let i = 0; i < unitOrgs.length && !pass; i++) pass = pass || this.checkFilter(this.selNOC, unitOrgs[i]);
        return pass;
    }
    checkATH(unit: any) {
        if (this.selATH.length == 0) return true;
        let unitRegs: string[] = [];
        if (unit.isH2H) unitRegs = [unit.Home.Reg, unit.Away.Reg];
        else {
            for (let j = 0; j < unit.Results.length; j++) {
                unitRegs.push(unit.Results[j].Reg);
            }
        }
        if (unit.Home && unit.Home.Members) {
            for (let j = 0; j < unit.Home.Members.length; j++) {
                unitRegs.push(unit.Home.Members[j].Reg);
            }
        }
        if (unit.Away && unit.Away.Members) {
            for (let j = 0; j < unit.Away.Members.length; j++) {
                unitRegs.push(unit.Away.Members[j].Reg);
            }
        }

        let pass = false;
        for (let i = 0; i < unitRegs.length && !pass; i++) pass = pass || this.checkFilter(this.selATH, unitRegs[i]);
        return pass;
    }
    checkFilter(col: Filter[], key: string): boolean {
        if (col.length == 0) return true;
        return col.some((e: Filter) => e._key === key);
    }
    addFilter(col: Filter[], type: FilterType, elem: Filter) {
        if (!col.some((e: Filter) => e._key === elem._key)) {
            col.push(elem);
            this.setFilter(col, type, true);
        }
    }
    removeFilter(col: Filter[], type: FilterType, elem: Filter) {
        const idx = col.indexOf(elem);
        if (idx >= 0) col.splice(idx, 1);
        this.setFilter(col, type, false);
    }
    async setFilter(col: Filter[], type: FilterType, isAdd: boolean, isReset?: boolean) {
        if (type == '') {
            this.filterUnits();
            return;
        }

        if (isAdd && type && this.firstType == '') this.firstType = type;
        if (type == 'EVT' && col.length == 1 && isAdd && this.firstType != type) {
            this.setTypeFilter();
            return;
        }

        if (isAdd) {
            if (this.firstType == type && col.length > 0) {
                if (isReset) {
                    // eslint-disable-next-line @typescript-eslint/no-this-alias
                    const comp = this;
                    this.loading = true;
                    const pending: number[] = [];
                    for (let i = 0; i < col.length; i++) {
                        pending.push(1);
                        this.getUnits(type, col[i]._key).then(
                            function(units) {
                                comp.treatUnits(units ? units : []);
                                comp.filterUnits();
                                pending.pop();
                                if (pending.length == 0) comp.loading = false;
                            },
                            function() {
                                pending.pop();
                                if (pending.length == 0) comp.loading = false;
                            }
                        );
                    }
                } else {
                    const last = col[col.length - 1]._key;
                    this.loading = true;
                    const units = await this.getUnits(type, last);
                    this.loading = false;
                    this.treatUnits(units ? units : []);
                }
            }
            // Aplico el filtro
            this.filterUnits();
        } else if (this.firstType == type && col.length == 0) this.setTypeFilter();
        else this.filterUnits();
    }

    async getUnits(type: FilterType, key: string): Promise<any[]> {
        if (type == 'EVT') return services.link('schedule_event', this.disc, key);
        else return services.link('schedule_date', this.disc, key);
    }

    treatUnits(unitsToAdd: any[]) {
        // Check not to insert duplicates!!!
        for (let i = 0; i < unitsToAdd.length; i++) {
            const curr = unitsToAdd[i];
            const idx = this.listUnits.findIndex((e: any) => {
                if (curr.id && e.id) {
                    return curr.id == e.id;
                } else if ((curr.id && !e.id) || (!curr.id && e.id)) return false;
                else return e.Key == curr.Key;
            });
            if (idx == -1) this.listUnits.push(curr);
            else {
                // Replace the element
                this.listUnits.splice(idx, 1, curr);
            }
        }
        // Sort units on line, event, sortMedal, order
        this.listUnits.sort(this.sortingUnits);
    }

    filterUnits() {
        const filtered: Array<any> = [];
        // Filter medallist
        for (let i = 0; i < this.listUnits.length; i++) {
            const curr = this.listUnits[i];
            if (
                this.checkFilter(this.selDay, curr.DateTimeRaw.substring(0, 10)) &&
                this.checkFilter(this.selEvent, curr.Event) &&
                this.checkFilter(this.selStatus, curr.Status)
            ) {
                //Chequeo ATH y NOC (jodido)
                if (this.checkNOC(curr) && this.checkATH(curr)) filtered.push(curr);
            }
        }
        this.filteredUnits = filtered;
        this.filteredUnitsLoc = [];
        // Now reorganize if Disc is Order by LOC
        const selDisc: any = this.$store.state.disciplines.find((e: any) => e.Key == this.disc);
        if (selDisc && selDisc.EventOrder === 'LOC') {
            const units = this.filteredUnits.slice();
            units.sort(this.sortingUnitsLoc);
            let currLoc = undefined;
            let objLoc: any = {};
            for (let i = 0; i < units.length; i++) {
                if (units[i].Loc != currLoc) {
                    currLoc = units[i].Loc;
                    objLoc = { Loc: units[i].Loc, Desc: units[i].LocDesc, Units: [] };
                    this.filteredUnitsLoc.push(objLoc);
                }
                objLoc.Units.push(units[i]);
            }
        }
    }

    sortingUnitsLoc(a: any, b: any) {
        if (a.Loc < b.Loc) return -1;
        if (a.Loc > b.Loc) return 1;

        if (a.DateTimeRaw < b.DateTimeRaw) return -1;
        if (a.DateTimeRaw > b.DateTimeRaw) return 1;

        return 0;
    }
    sortingUnits(a: any, b: any) {
        if (a.DateTimeRaw < b.DateTimeRaw) return -1;
        if (a.DateTimeRaw > b.DateTimeRaw) return 1;

        return 0;
    }

    created() {
        this.init();
    }

    async refreshResults() {
        // eslint-disable-next-line @typescript-eslint/no-this-alias
        const comp = this;
        const pending: number[] = [];
        const col = this.firstType == 'DAY' ? this.selDay : this.selEvent;
        for (let i = 0; i < col.length; i++) {
            pending.push(1);
            this.getUnits(this.firstType, col[i]._key).then(
                function(units) {
                    comp.treatUnits(units ? units : []);
                    pending.pop();
                    if (pending.length == 0) comp.filterUnits();
                },
                function() {
                    pending.pop();
                    if (pending.length == 0) comp.filterUnits();
                }
            );
        }
        this.getLandingInfo();
    }
}
</script>
