<template lang="pug">
.match-statistics
    template(v-if='showStatsPeriod')
        BMatchSectionTitle.sticky
            span(v-if='isTeam') {{ $t('res.stats.team')}}
            
        PeriodStats(
            :competitors='competitors',
            :periods='results.Results.Periods',
            :display-periods='displayPeriods',
            :desc-stats='layoutPeriodStats'
        ) 

    template(v-if='showStatsMembers')
        BMatchSectionTitle.sticky
             span(v-if='isTeam') {{ $t('res.stats.player')}}
        MemberStats(:competitors='competitors', :list-stats='results.Stats.Layout.players')
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import Utils from '@/mixins/utils';

//
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import PeriodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
import MemberStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';

@Component({
    components: { BMatchSectionTitle, PeriodStats, MemberStats }
})
export default class Statistics extends mixins(Utils) {
    @Prop()
    results: any;

    competitors: any[] = [];
    displayPeriods: boolean[] = [];

    get isTeam() {
        return this.results && this.results.Info.Type === 'T';
    }

    get showStatsPeriod() {
        return (
            this.results &&
            this.results.Stats.HasStats &&
            this.results.Stats.ShowStats &&
            (!!this.results.Stats.Layout.teams || Array.isArray(this.results.Stats.Layout))
        );
    }
    get showStatsMembers() {
        return (
            this.results &&
            this.results.Stats.HasStats &&
            this.results.Stats.ShowStats &&
            !!this.results.Stats.Layout.players
        );
    }

    get layoutPeriodStats() {
        if (!this.showStatsPeriod) return null;
        if (this.results.Stats.Layout.teams) return this.results.Stats.Layout.teams;
        else return this.results.Stats.Layout;
    }

    @Watch('results', { immediate: true })
    setValues(value: any, old?: any) {
        if (!value) {
            this.competitors = [];
            return;
        }

        this.competitors = value.Competitors;
        const hasPeriods = value.Results.CurrentPeriod && parseInt(value.Results.CurrentPeriod) > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }
    }
}
</script>
