<template lang="pug">
.icon-discipline(v-if='discipline')
    svg(:class='discipline')
        template(v-if='icontype == "name"')
            use(:href='`${svgPictoNames}#${discipline}`')
        template(v-else-if='icontype == "picto"')
            use(:href='`${svgPicto}#${discipline}`')
        template(v-else)
            use(:href='`${svgPicto}#${discipline}`')
.icon-discipline(v-else)
    p no icon
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//
import svgPictoNames from '@theme/icons/disciplines/disciplines-names-sprite.svg';
import svgPicto from '@theme/icons/disciplines/disciplines-picto-sprite.svg';

@Component({
    props: {
        discipline: {
            type: String,
            default: 'default'
        },
        icontype: {
            type: String,
            required: false
        }
    }
})
export default class IconSet extends Vue {
    svgPicto = svgPicto;
    svgPictoNames = svgPictoNames;
}
</script>

<style scoped lang="scss">
/*
data:image/svg+xml;utf8,<svg><use xlink:href="@theme/icons/disciplines/disciplines-sprite.svg#boxeo"></use></svg>
*/

.icon-discipline {
    // position
    position: relative;
    //z-index
    // size
    // width: 160px;
    // height: 160px;
    // border
    //border: 0px dotted rgba(255, 255, 255, 0.534);
    // children disposition
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // svg color
    fill: inherit;
    // svg border
    // fill: transparent;
    // stroke: white;
    // stroke-width:0.5;
    //mix-blend-mode: hard-light;
    //mix-blend-mode: soft-light; // como fondo mas clarito, muy transparente
    //mix-blend-mode: difference; // cambia el color sin mucho control
    //mix-blend-mode: exclusion; // muy parecido a difference
    //mix-blend-mode: hue; // como difference muy clarito
    // background
    background-color: transparent;
    // background-image: url('@theme/icons/icon-background.svg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    &.picto {
        justify-content: center;
        border-radius: 50%;
        svg {
            clip-path: circle(50%);
        }
    }
    svg {
        // asi toma el tamaño que el contenedor, ni mas ni menos
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        fill: inherit;
        &.default {
            fill: none;
            stroke: white;
            stroke-width: 4;
        }
        use {
            fill: inherit;
        }
    }
}
</style>
