.medal-section-container-medals {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    place-content: center;
    .medal-standings-title {
        border: 0 solid red;
        width: 100%;
        font-size: 1.4rem;
        color: $color-primary;
    }
    .medal-standings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: end;
        justify-items: center;
        border-bottom: 1px solid $color-primary-25;
        width: 100%;
        padding: 0 1rem;
        margin: 2rem 0 1rem 0;

        li {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr;
            img {
                height: 2rem;
            }
            .info {
                color: $color-primary-dark;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 1rem 0.5rem;
                .result {
                    font-family: $font-monospace;
                    font-weight: normal;
                    font-size: 1rem;
                }
                .noc {
                    .label {
                        font-size: 1rem;
                        justify-content: center;
                        img {
                            height: 1.2rem;
                        }
                    }
                }
            }
            .podium {
                padding: 0.6rem 0;
                box-sizing: border-box;
                &:after {
                    color: $white;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }
            &.ME_GOLD {
                order: 2;
                grid-template-rows: 1fr 5rem;
                .podium {
                    background: $color-gold;
                    box-shadow: $box-shadow-podium-gold;
                    &:after {
                        content: '1';
                        font-size: 1.8rem;
                    }
                }
            }
            &.ME_SILVER {
                order: 1;
                grid-template-rows: 1fr 4rem;
                .podium {
                    background: $color-silver;
                    box-shadow: $box-shadow-podium;
                    &:after {
                        content: '2';
                    }
                }
            }
            &.ME_BRONZE {
                order: 3;
                grid-template-rows: 1fr 3rem;
                .podium {
                    padding: 0.4rem 0; /* no cabe con mas padding */
                    background: $color-bronze;
                    box-shadow: $box-shadow-podium;
                    &:after {
                        content: '3';
                    }
                }
            }
            .players {
                .competitor-name {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $color-primary-dark;
                    padding: 0.5rem 0;
                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .medal-standings-players {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        place-content: center;
        .btn {
            background: $color-surface;
            text-transform: uppercase;
            height: 40px;
            color: $color-on-surface;
            font-weight: 600;
            transition: all 0.5s ease 0s;
            padding: 0.2rem 0.4rem;
            p {
                margin: 0;
            }
            &:hover {
                background: $color-surface;
                color: $color-on-surface;
            }
        }
    }

    &__box {
        &__border-box {
            border: 0px solid $color-medal-section-container-medals-box-border-box-border;
            background-color: $color-surface;
            @include box-shadow(3px 5px 6px $gray1);
            margin: 10px 0;
            padding: 1em;
        }
        &__noc {
            @include align-items(center);
            @include justify-content(center);
            &__img {
                @include box-shadow(0 1px 6px $gray0);
                max-height: 21px;
            }
            &__text {
                color: $gray4;
                font-size: 14px;
                font-weight: 600;
                margin-left: 8px;
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        &__name {
            margin: 12px 0;
            p {
                margin: 3px 0;
                font-weight: 600;
            }
        }
        &__rank {
            &__text {
                color: $gray4;
                font-weight: 500;
                margin-left: 4px;
            }
            &__img {
                max-height: 28px;
            }
        }
    }
}

.showBtnPlay {
    margin: 1rem auto;
    background: transparent;
    border: 2px solid $color-primary;
    text-transform: uppercase;
    max-width: 200px;
    color: $color-primary;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    padding-top: 0.5rem 1rem;
    &:hover {
        border: 2px solid $color-primary;
        background: $color-primary;
        color: $color-on-primary;
    }
}
