@use './colors_vars' as *;
$background-tile: '../../images/_background/background-tile-10.svg';

@mixin overlay-full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin overlay-full-tiles {
    /*  
        as a first child, add an empty element with .overlay-full-tiles class
        in order to mantain the z order use disable pointer-events in the overlay
    */
    .overlay-full-tiles {
        @include overlay-full;
        background-image: url('../../images/_background/background-tile-10.svg');
        background-repeat: repeat;
        background-position: bottom 0 left 0;
        pointer-events: none;
    }
}

@mixin overlay-full-gradient {
    .overlay-full-gradient {
        @include overlay-full;
        background: linear-gradient(0deg, $color-gradient-header, transparent);
        pointer-events: none;
    }
}
