/* VARIABLES */
//Custom Loader
$color: #43025f;
$size: 6px;
$time: 1;

//WBGDoha2019
$blue: #3282a4;
$blue2: #00bcd3;
$blue3: #1a6488;
$blueSolid: #2b4070;
$black: #000;
$black0: #111;
$black1: #333;
$bornan: #310;
$darkBlue: #006fb9;
$darkBlue2: #849cc0;
$darkBlue1: #27648c;
$green: #060;
$gray: #999;
$gray0: #bbb;
$gray1: #ccc;
$gray2: #aaa;
$gray3: #4b4b4b;
$gray4: #555;
$gray5: #ddd;
$lightBlue: #5ccfd2;
// $lightBlue1: #36a3cb;
$lightBlue1: rgba(14, 130, 164, 1);
$lightBrown: #960;
$lightBrown1: #686554;
$lightBornan: #3e005e;
$lightGreen: #0c0;
$lightGreen1: #48a49a;
$lightGreen2: #42b983;
$live: #4cf281;
$lightLive: #41ffb2;
$lightGray: #5d5b5b;
$lightGray0: #ccd;
$lightGray1: #e5e5e5;
$lightGray2: #7c7c7c;
$lightGray3: #dcdcdc;
$lightGray4: #888;
$lightRed: #ce5959;
$opgold: #c4b888;
$opgray: #555f5e7a;
$opwhite: #ffffff8c;
$pink: #f05f8d;
$violet: #540039;
$lightViolet: #9e6ba2;
$lightPink: #f38998;
$red: #900;
$yellowGold: #fecc00;
$yellowGold1: #d6b944;
$yellowGold2: #fcbd3e;
$lightGold: #d9c785;
$lightGold0: #d95;
$lightGold1: #d3c590;
$lightGold2: #95874d;
$lightGold3: #a59968;
$resultGold: #736733;
$today-color: #17a2b8b8;
$white: #fff;
$white2: #f0f0f0;
$scheduleSelect: #e0d197;
$scheduleDayDisc: #eae0b9;
$scheduleDot: #bfb07d;
$scheduleMedal: #d09f0b;
//Unit Status WBGD2019
$unscheduled: #000;
$scheduled: #7700aa;
$startList: #b56f13;
$running: #2f6d3f;
$finished: #1e2ebc;
$official: #a90000;

// colores FINALES
$color-black-100: rgba(20, 20, 20, 1);
$color-gray-100: rgba(100, 100, 100, 1);
$color-gray-50: rgba(100, 100, 100, 0.5);
$color-lightgray-100: rgba(200, 200, 200, 1);
$color-lightgray-50: rgba(200, 200, 200, 0.5);
$color-whitegray-100: rgba(250, 250, 250, 1);
$color-whitegray-50: rgba(250, 250, 250, 0.5);
$color-white-100: rgba(255, 255, 255, 1);
$color-white-90: rgba(255, 255, 255, 0.95);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-white-50: rgba(255, 255, 255, 0.5);

$color-darkblue-100: #2b4070; // blueSolid
$color-blue-100: #006fb9; // darkBlue
$color-azureblue-100: #269bd1;
$color-bluegreen-100: #1e7eaa; /* AZUL menus, degradado con el del footer */
$color-bluegreen-50: #1e7eaa70;
$color-vikingblue-100: #5ccfd2;
$color-darkviolet-100: #452c79;
$color-darkmagenta-100: #440054; /* MAGENTA del footer y de los degradados */
$color-cannonpink-100: #7f487a;
$color-warmmagenta-100: #cc29a5;
$color-purpleviolet-100: #6e36c7;
$color-brightred-100: #a90001;
$color-red-100: #ed000f;

$color-candleyellow-100: #ffd622;
$color-lemon-100: #ffef08;
$color-warmyellow-100: #fcf6ba;

$color-gold-100: #d09f0b;
$color-sienaorange-100: #ca7345;
$color-saladgreen-100: #4b914f;

/***********/
/* ROSARIO 2022 */
$black: #000103;
$denim-dark: #022f5a;
$denim: #005cb1;
$denim-50: rgba(0, 92, 177, 0.7);
$denim-25: rgba(0, 92, 177, 0.3);
$curious: #27aae1;
$carayola: #5dcfe3;
$denim-light: #9ac1e6;
$denim-lighter: rgba(234, 240, 244, 0.7);
$denim-10: rgba(234, 240, 244, 0.7);

$cinnabar: #ea3727;
$amber: #ffbf00;
$amber-mid: #fade8c;
$amber-light: #f8eac2;
$amber-lighter: #f9f8f3;
$ghost-gray: #c5cdd6;
$cultured: #eff1f1;
$white: #fff;
$pompadour: #63003b;
$pompadour-10: #dad4de;
$bornan: #3e005e;
$bornan-mid: #722f94;
$bornan-light: #bda6c9;
$color-gold: #cca01d;
$color-silver: #aaa9ae;
$color-bronze: #cd8032;
/* GCC2022 */
/***********/

$denim-dark: #022f5a;
$denim: #005cb1;
$denim-50: rgba(0, 92, 177, 0.7);
$denim-25: rgba(0, 92, 177, 0.3);
$curious: #27aae1;
$carayola: #5dcfe3;
$denim-light: #9ac1e6;
$denim-light-10: rgba(153, 190, 202, 0.25);
$denim-lighter: rgba(234, 240, 244, 0.7);
$denim-10: rgba(234, 240, 244, 0.7);

$cinnabar: #ea3727;
$amber: #ffbf00;
$amber-mid: #fade8c;
$amber-light: #f8eac2;
$amber-lighter: #f9f8f3;
$ghost-gray: #c5cdd6;
$cultured: #eff1f1;
$cultured-80: rgba(239, 241, 241, 0.8);
$cultured-50: rgba(239, 241, 241, 0.5);
$cultured-20: rgba(239, 241, 241, 0.2);

$pompadour: #63003b;
$pompadour-10: #dad4de;
$color-gold: #cca01d;
$color-silver: #aaa9ae;
$color-bronze: #cd8032;
/* GCC2022 */
/***********/

// ROSARIO
$noble-plum: #791b70;
$noble-plum-dark: #4b112d;

$borderline-pink: #ec0b62;

$habanero: #f68712;
$habanero-dark: #8b3e28;

$trasured-teal: #4dc3b2;

$silken-jade: #17b090;

$gunsmoke: #7b7979;
///
// GRADIENT COLOR
// $color-primary: #b11b48;
$color-primary: #a30534;
$color-secondary: #4dc3b2;
//
$color-gradient-header: $color-primary;
//
$color-primary-dark: #59003b;
// $color-primary-50: #d3adb3;
// $color-primary-25: #e3d0d3;
//
//$color-primary-dark: #00414d; // OK bonito para fondo de los menus
$color-primary-50: #5198af;
$color-primary-25: #99beca;
$color-primary-10: $denim-10;
//
$cultured-80: rgba(239, 241, 241, 0.8);
$cultured-50: rgba(239, 241, 241, 0.5);
$cultured-20: rgba(239, 241, 241, 0.2);
$color-surface-light: $cultured;
$color-surface-lighter: $cultured-50;
$color-border-light: $cultured-50;
//
//
$color-on-primary-dark: $white;
$color-on-primary: $white;
//$color-primary-50: $denim-50;
$color-on-primary-50: $white;
//$color-primary-25: $denim-25;
$color-on-primary-25: $color-primary;
/* magent Bornan? */
$color-primary-variant: $pompadour;
$color-on-primary-variant: $pompadour-10;
$color-primary-variant-light: $pompadour-10;
/* amarillo AMBER */
$color-on-secondary: $white;
/* amarillo AMBER-light */
$color-secondary-50: $amber-light;
$color-secondary-variant: $amber-light;
$color-on-secondary-variant: $color-primary-50;
$color-on-secondary-variant-light: $ghost-gray;
/* gris suave ON azules*/
$color-background: $cultured;
$color-on-background: $denim-dark;
$color-on-background-light: $ghost-gray;
/* blanco ON azules */
$color-surface: $white;
$color-surface-50: $color-white-50;
$color-on-surface: $denim-dark;
$color-on-surface-mid: $denim;
$color-on-surface-light: $ghost-gray;
$color-surface-lighter: $denim-lighter;
$color-on-surface-lighter: $color-primary-50;
$color-surface-winner: $denim-lighter;
/* blanco ON magent amarillo */
$color-on-surface-variant: $pompadour;
$color-on-surface-secondary: #f68712;
/* rojo */
$color-error: $cinnabar;
$color-on-error: $white;

/* BOX SHADOW de las cajas */
$card-boxshadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
$card-boxshadow-small: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

/* HEADER IMAGE overlay */
$header-background-overlay: linear-gradient(0deg, $color-primary, transparent);

/* blue-100 */
$color111_1: $color-blue-100;
$color150_1: $color-blue-100;
$color130_1: $color-blue-100;
$color34_2: $color-blue-100;
$color128_1: $color-blue-100;
$color127_1: $color-blue-100;
$color62_1: $color-blue-100;
$color14_4: $color-blue-100;
/* BLUEGREEN-100 */
$color13_4: $color-bluegreen-100;
$color126_1: $color-bluegreen-100;
$color15_4: $color-bluegreen-100;
$color0_29: $color-bluegreen-100;
$color4_13: $color-bluegreen-100;
$color5_11: $color-bluegreen-100;
$color16_4: $color-bluegreen-100;
$color33_2: $color-bluegreen-100;
$color63_1: $color-bluegreen-100;
$color144_1: $color-bluegreen-100;
$color75_1: $color-bluegreen-100;
$color85_1: $color-bluegreen-100;
$color42_2: $color-bluegreen-100;
$color12_5: $color-bluegreen-100;
$color94_1: $color-bluegreen-100;
$color101_1: $color-bluegreen-100;
$color132_1: $color-bluegreen-100;
/* AZUREBLUE-100 */
$color131_1: $color-azureblue-100;
$color152_1: $color-azureblue-100;
$color35_2: $color-azureblue-100;
$color151_1: $color-azureblue-100;
$color30_2: $color-azureblue-100;
/*bluegreen-50*/
$color81_1: $color-bluegreen-50;
$color92_1: $color-bluegreen-50;
$color82_1: $color-bluegreen-50;
$color118_1: $color-bluegreen-50;
/*darkviolet-100*/
$color57_2: $color-darkviolet-100;
$color26_3: $color-darkviolet-100;
$color31_2: $color-darkviolet-100;
/* darkmagenta-100 */
$color17_4: $color-darkmagenta-100;
$color149_1: $color-darkmagenta-100;
$color25_3: $color-darkmagenta-100;
$color1_26: $color-darkmagenta-100;
$color138_1: $color-darkmagenta-100;
$color60_1: $color-darkmagenta-100;
$color125_1: $color-darkmagenta-100;
$color61_1: $color-darkmagenta-100;
$color105_1: $color-darkmagenta-100;
/* cannonpink-100 */
$color142_1: $color-cannonpink-100;
$color87_1: $color-cannonpink-100;
$color19_3: $color-cannonpink-100;
$color21_3: $color-cannonpink-100;
$color134_1: $color-cannonpink-100;
/* warmmagenta-100 */
$color55_2: $color-warmmagenta-100;
$color145_1: $color-warmmagenta-100;
$color153_1: $color-warmmagenta-100;
/* purpleviolet-100 */
$color102_1: $color-purpleviolet-100;
$color83_1: $color-purpleviolet-100;
/* brightred-100 */
$color84_1: $color-brightred-100;
$color66_1: $color-brightred-100;
$color44_2: $color-brightred-100;
$color51_2: $color-brightred-100;
/* red-100 */
$color54_2: $color-red-100;
/* lemon-100 */
$color67_1: $color-lemon-100;
$color40_2: $color-lemon-100;
$color88_1: $color-lemon-100;
$color72_1: $color-lemon-100;
/* warmyellow-100 */
$color23_3: $color-warmyellow-100;
$color37_2: $color-warmyellow-100;
/* saladgreen-100 */
$color41_2: $color-saladgreen-100;
$color100_1: $color-saladgreen-100;
$color49_2: $color-saladgreen-100;
/* sienaorange-100 */
$color50_2: $color-sienaorange-100;
/* candleyellow-100 */
$color28_2: $color-candleyellow-100;
$color52_2: $color-candleyellow-100;
/* gold-100 */
$color64_1: $color-gold-100;
$color38_2: $color-gold-100;
$color36_2: $color-gold-100;
$color22_3: $color-gold-100;
$color68_1: $color-gold-100;
$color148_1: $color-gold-100;
$color39_2: $color-gold-100;

/* ORIGINAL FILE */

/* REGEX SEARCH ^\s*color: 
search:
__hardcoded color:
^\s*color:\s*(rgb|#)
__hardcoded background-color:
^\s*background-color:\s*(rgb|#)

        FALTA:
        ^\s*background:\s*(rgb|#)


include:
*.scss
exclude: 
node_modules/*

*/

$color-bodysectioncontainer-title: brown;
$color-bodysectioncontainer-info: green;

/* scss/components/disc/_ath-curr-period.scss */
$color-athcurrentperiod-bg: $color-white-100;
$color-athcurrentperiod-border: $color19_3;
$color-athcurrentperiod-boxshadow: $color-lightgray-100;

/* scss/_common/_autocomplete.scss */
$color-autocomplete-autocompleteresults: inherit;
$color-autocomplete-autocompleteresults-bg: $color-white-100;
$color-autocomplete-autocompleteresults-border: $color-whitegray-100;
$color-autocomplete-autocompleteresults-boxshadow: $color-lightgray-100;
$color-autocomplete-autocompleteresults-li-border: $color-whitegray-100;
$color-autocomplete-autocompleteresults-li-bg-hover: $color-whitegray-100;

/* base.scss */
$color-app-fallback: $color-darkblue-100;

/* assets/styles/scss/common/_brackets.scss */
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed-bg: '';
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed: $white;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime: $color60_1;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime-bg: transparent;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime-border: $color61_1;
$color-bracketsdisplay-bracketItems-jQBracket-roundnth-bg: $color62_1;

$color-bracketsdisplay-phaseSelection-pagination-pagelink-bg: $color63_1;
$color-bracketsdisplay-phaseSelection-pagination-pagelink: white;
$color-bracketsdisplay-phaseSelection-pagination-nextpagelink-bg: $color19_3;
$color-bracketsdisplay-phaseSelection-pagination-nextpagelink-border: $opgold;

/* assets/styles/scss/common/_jquery.bracket.scss */
$color-jQBracket-team-np-bg: $color19_3;
$color-jQBracket-team-np: $color-whitegray-100;

$winColor: $color-darkblue-100;
$loseColor: $lightBlue1;
$thirdColor: $color64_1;
$fourthColor: $color-gray-100;

$connectorColor: $color66_1;
$highlightColor: $color28_2;
$highlightForColor: black;

$boxHeight: 22px;
$boxPadding: 3px;

$color-jQBracket-team-na: $gray1;
$color-jQBracket-team-nr: $white;
$color-jQBracket-team-win: $black1;
$color-jQBracket-team-win-score: $color67_1;
$color-jQBracket-team-lose-score: $white;

$color-jQBracket-teamContainer-date-bg: $white;
$color-jQBracket-teamContainer-date: $gray4;
$color-jQBracket-teamContainer-seed-bg: $color68_1;
$color-jQBracket-teamContainer-seed: $color-black-100;

$color-jQBracket-tools: $white;
$color-jQBracket-tools-span-bg: $color-black-100;
$color-jQBracket-tools-span-bg-hover: $color-gray-50;
$color-jQBracket-team-bg: $color30_2;
$color-jQBracket-team-home-border: $gray1;
$color-jQBracket-team-score-bg: $color-gray-100;
$color-jQBracket-team-score-disabled: $gray;
$color-jQBracket-team-score-error-bg: $pink;

/* assets/styles/scss/components/bio/_bio.scss */
$color-bio-profile-title-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-bio-profile-title: $white2;
$color-bio-profile-info-input-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-bio-profile-info-input: $white;
$color-bio-profile-info-bg: $color-lightgray-100;
$color-bio-profile-info-profile-noc-p: $color1_26;
$color-bio-profile-info-profile-noc-gender: $color1_26;
$color-bio-profile-info-profile-disc-img-border: $color13_4;
$color-bio-profile-info-profile-disc-p: $color31_2;
$color-bio-profile-entriecontainer-listentries-entrie-bg: $color-lightgray-100;
$color-bio-profile-entriecontainer-listentries-entrie: $color-darkblue-100;
$color-bio-profile-entriecontainer-listentries-entrie-rankmedal-rank: $color5_11;
$color-bio-entriecontainer-title-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-bio-entriecontainer-title: $white;
$color-bio-members-container-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-bio-members-container: $white;

/**/
$color-gray: $color-gray-100;
$color-gray: $color72_1;
$color-menu-gradient: linear-gradient(175deg, $color0_29 24%, $color1_26 79%);

$color-menu-active: $color21_3;
$color-menu-active: red;

$color-bornan-footer: $color1_26;

/* menu nav de discos */
$color-nav-disc: $color13_4;
$color-nav-disc-active: $color-white-100;

/* ranking medallas, numero del Rank */
$color-medal-list-rank: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medal-list-title: linear-gradient(175deg, $color0_29 25%, $color1_26 50%);

$color-latest-medals-title: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-medals-box-title: var(--gradient-background); /* ?? */

$color-grid-days-day: linear-gradient(175deg, $color0_29 25%, $color1_26 95%);
$color-grid-days-day-active: linear-gradient(175deg, $color14_4 31%, $color15_4 56%);

$color-grid-days-discipline: linear-gradient(175deg, $color33_2 33%, $color34_2 82%);

/* athlete profile */
$color-athlete-profile-sections-title-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-athlete-profile-sections-title: $color-white-100;
$color-athlete-profile-name: $color-darkblue-100;
$color-athlete-profile-noc: $color1_26;
$color-athlete-profile-discipline: $color31_2;
$color-athlete-profile-data: $color-white-100;
$color-athlete-profile-data-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
/* events and medals */
$color-athlete-profile-medals-unit: $color-darkblue-100;
$color-athlete-profile-medals-rank: $color5_11;

$color-athlete-profile-schedule-unit: $color-darkblue-100;
$color-athlete-profile-schedule-unit_hover: $color35_2;

$color-gold-gradient: linear-gradient(to right, $color22_3, $color23_3);

/* jquery brackets */
$color-jquery-brackets-win-bg: linear-gradient(45deg, $color-darkblue-100 31%, $color75_1 56%);
$color-jquery-brackets-win: $color-white-100;
$color-jquery-brackets-winner-bg: linear-gradient(to right, $color22_3, $color23_3, $color36_2, $color37_2, $color38_2);
$color-jquery-brackets-winner: $black;
$color-jquery-brackets-looser-bg: linear-gradient(
    to right,
    $color-gray-50,
    $color-whitegray-100,
    $color-gray-50,
    $color-whitegray-100,
    $color-gray-50
);
$color-jquery-brackets-looser: $black;

$color-ribbon-span: linear-gradient(175deg, $color0_29 0%, $color1_26 80%);

/* _ath-results.scss */
$color-medalsectioncontainer_listbody-splitres-button: $color28_2;

$color-medalsection-list-split-desc-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medalsection-list-split-desc: $white;

$color-medalsection-list-splitsho-desc-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medalsection-list-splitsho-desc: $white;

$color-medalsection-list-splitsho-descfinal-bg: linear-gradient(52deg, $color39_2 24%, $color40_2 79%);
$color-medalsection-list-splitsho-descfinal: $black;

$color-medalsection-list-splitshoskeet-desc-bg: linear-gradient(52deg, $color-darkblue-100 24%, $color4_13 79%);
$color-medalsection-list-splitshoskeet-desc: $white;

$color-medalsection-list-splitshoskeet-descfinal-bg: linear-gradient(52deg, $color39_2 24%, $color40_2 79%);
$color-medalsection-list-splitshoskeet-descfinal: $black;

$color-split-values-text-bg: $lightBlue1;
$color-split-values-text: $white;
$color-split-values-list-bg: linear-gradient(90deg, $color81_1 25%, $color82_1 80%);

/* scss/components/disc/_disc_CLB.scss */
$color-splitclbsplitresult-resnone-bg: $color-gray-50;
$color-splitclbsplitresult-resfail-bg: white;
$color-splitclbsplitresult-restop-bg: $color41_2;
$color-splitclbsplitresult-resbonus-bg: -webkit-linear-gradient(135deg, $color41_2 51%, white 49%);
$color-splitclbsplitresult-topbonus: white;

/*assets/styles/scss/components/disc/_header.scss*/

$color-headersectioncontainersubmenu-list-element-text: $gray4;
$color-headersectioncontainersubmenu-list-element-link-bg: transparent;
$color-headersectioncontainersubmenu-list-element-link: $gray4;
$color-headersectioncontainersubmenu-list-element-link-after-bg: $gray0;
$color-headersectioncontainersubmenu-list-element-link-active: $color4_13;

$color-live-schedule-bg: linear-gradient(90deg, $color0_29 24%, $color1_26 79%);
$color-live1-bg: linear-gradient(90deg, $color0_29 24%, $color1_26 79%);
$color-live1: $white;
$color-live-schedule-sm-bg: linear-gradient(90deg, $color0_29 24%, $color1_26 79%);
$color-live-schedule-sm: $white;

/* assets/styles/scss/components/disc/_info-unit.scss */
$color-infounit-tucontainer-title: $white;
$color-infounit-tucontainer-title-link: $color-darkblue-100; /* nombre de la unit */
$color-infounit-tucontainer-title-link-active: $lightGray;
$color-infounit-dsv: $color-bluegreen-50; /* nombre de location de la unit + icono de reloj*/
$color-infounit-dsv-status-p: $color-bluegreen-50; /* hora del evento */
$color-infounit-dsv-venue-match: $color1_26;
$color-infounit-dsv-venue-court: $color-black-100;
$color-threadlive: $color44_2;
$color-threadlive-border: $color44_2;

$color-info-unit-bg: $color-bluegreen-100;
$color-info-unit: $color-white-100;
$color-info-unit-span: $color-white-100;

/* assets/styles/scss/components/disc/_result-unit.scss */
$color-resultunit-competitor-flag-span: $color100_1;
$color-resultunit-competitor-doublename-span: $color-darkblue-100;
$color-resultunit-competitor-detailresults-splits-rs-p: $color-darkblue-100;
$color-resultunit-competitor-winner-before-bg: $color-bluegreen-50; /* result unit, fondo del ganador */
/* en una caja de resultados, nombre y resultados del ganador */
$color-resultunit-competitor-winner-resultunitcompetitor-detailresults_totalrs: $black0;
$color-resultunit-competitor-winner-resultunitcompetitor-name: $color-darkblue-100;

$color-resultunit-competitor-isBio: $gray4 !important;
$color-resultunit-counters-p: $color0_29;
$color-resultunit-counters-p-span: $color-darkblue-100;

$color-resultunit-competitor-detailresults-splits-rs-p-winner-after-bg: $color102_1;
/* en caja de resultados, los resultados de los competidores, no ganadores */
$color-resultunit-competitor-detailresults-totalrs-p-bg: transparent;
$color-resultunit-competitor-detailresults-totalrs-p: $resultGold;
$color-resultunit-competitor-detailresults-totalrs-penalty-bg: $color-lightgray-100;
$color-resultunit-competitor-detailresults-totalrs-penalty: $resultGold;

/* scss/components/schedule/_schedule-base.scss */
$color-disclaimer-bg: $color-gray-50;

/* assets/styles/scss/components/disc/_status-unit.scss */
$color-status-unit-facircle: $color49_2;
$color-status-unit-border-image-source: linear-gradient(123deg, $color0_29 25%, $color1_26 50%);

/* scss/components/navevents/_carrousel.scss */
$color-cardcarouselcards-cardcarouselcard-bg: $color-white-100;
$color-cardcarouselcards-cardcarouselcard-boxshadow: $color-gray-100;
$color-cardcarouselcards-cardcarouselcard-boxshadow2: $color-gray-100;

/* assets/styles/scss/components/disc/_schedule-disicpline-event-unit.scss */
$color-scheduledisicplineeventunit-container-link-active-infounit_tucontainer_title_link: $color35_2;
$color-scheduledisicplineeventunit-container-bg: $color-white-50; /* fondo caja resultados */
$color-scheduledisicplineeventunit-container-border-bottom: transparent;
$color-scheduledisicplineeventunit-container-border-right: transparent;
$color-scheduledisicplineeventunit-container-link-boxshadow: $color-gray-100;

$color-resultcontaineranimation-value-p-shido: $color52_2;
$color-resultcontaineranimation-value-p-shido-bg: $color52_2;
$color-resultcontaineranimation-value-p-shido-boxshadow: $color-black-100;

$color-resultcontaineranimation-value-p-hkm: $color54_2;
$color-resultcontaineranimation-value-p-hkm-bg: $color54_2;
$color-resultcontaineranimation-value-p-hkm-boxshadow: $color-black-100;

$color-resultcontaineranimation-value-p-reason: $color-darkblue-100;
$color-resultcontaineranimation-value-p-reasonten: $color-darkblue-100;
$color-resultcontaineranimation-value-p-legend: $color-darkblue-100;
$color-resultcontaineranimation-value-p-legend1: $color-darkblue-100;

/* scss/components/unit/common/results/_navsearch.scss */
$color-headersectioncontainer-searcher-after-bg: $color-gray-100;
$color-headersectioncontainer-searcher-events-headersection-events-dropdown: var(--primary-color);
$color-headersectioncontainer-searcher-events-headersection-events-dropdown-border: var(--primary-color);
$color-headersectioncontainer-searcher-groups-headersection-events-dropdown: var(--primary-color);
$color-headersectioncontainer-searcher-groups-headersection-events-dropdown-border: var(--primary-color);
$color-headersectioncontainer-searcher-matches-dropdown: var(--primary-color);
$color-headersectioncontainer-searcher-matches-dropdown-border: var(--primary-color);
$color-headersectioncontainer-searcher-progress-progressbar-bg: var(--primary-color);
$color-headersectioncontainer-searcher-dropdownelement-button-border: $gray4;
$color-headersectioncontainer-searcher-dropdownelement-button-bg: $white;
$color-headersectioncontainer-searcher-dropdownelement-button-border: $gray4;
$color-headersectioncontainer-searcher-dropdownelement-dropdownO-bg: $white2;
$color-headersectioncontainer-searcher-dropdownelement-dropdownO-border: $gray1;
$color-headersectioncontainer-searcher-dropdownelement-dropdownO-boxshadow: $gray5;
$color-headersectioncontainer-searcher-dropdownelement-list-element-container-active: var(--primary-color);
$color-headersectioncontainer-searcher-dropdownelement-list-element-container-desc: $gray4;

/* assets/styles/scss/components/navs/_live_schedule_nav.scss */
$color-discLiveMatches-openedMenuSchedule-live-bg: linear-gradient(90deg, $color0_29 24%, $color1_26 79%);
$color-discLiveMatches-closedMenuSchedule-live-bg: linear-gradient(90deg, $color0_29 24%, $color1_26 79%);
$color-discLiveMatches-container-bg: linear-gradient(175deg, $color16_4 24%, $color17_4 79%);
$color-discLiveMatches-container-toggle-bg: transparent;
$color-discLiveMatches-container-togglebefore-bg: $opgray;
$color-discLiveMatches-container-menu-bg: linear-gradient(175deg, $color16_4 24%, $color17_4 79%);
$color-discLiveMatches-container-menu: $white;

/* scss/components/participant/_participant-base.scss */
$color-bodysectioncontainer_buttonnavigationcontainer-button-bg: $lightViolet;
$color-bodysectioncontainer_buttonnavigationcontainer-button: $white;
$color-bodysectioncontainer_buttonnavigationcontainer-button-bg-hover: $color125_1;
$color-bodysectioncontainer_buttonnavigationcontainer-button-hover: $white;

/* assets/styles/scss/components/reports/_reports.scss */
$color-body-section-container-pdf-container-list-li-report-phase-list-title-bg: linear-gradient(
    52deg,
    $color126_1 24%,
    $color127_1 79%
);
$color-body-section-container-pdf-container-list-li-report-phase-list-title: $white;
$color-body-section-container-pdf-container-list-li-report-phase-list: $black1;

$color-body-section-container-pdf-container-list: $gray4;
$color-body-section-container-pdf-container-list-li-desc-bg: var(--gradient-background);
$color-body-section-container-pdf-container-list-li-desc: $white;
$color-body-section-container-pdf-container-list-li-desc-boxshadow-hover: $color128_1;

$color-body-section-container-pdf-container-list-li-medals-medal: $white2;
$color-body-section-container-pdf-container-list-li-medals-medal-bg: var(--gradient-background-Opwhite);
$color-body-section-container-pdf-container-list-li-medals-medal-boxshadow: $color-gray-50;

$color-body-section-container-pdf-container-list-li-title: $white;
$color-body-section-container-pdf-container-list-li-title-bg: $color30_2;
$color-body-section-container-pdf-container-list-li-reportslist-item-desc: $black1;
$color-body-section-container-pdf-container-list-li-reportslist-item-desc-before: lightRed;
$color-body-section-container-pdf-container-reportunit-bg: var(--gradient-background-Opwhite);
$color-body-section-container-pdf-container-reportunit-boxshadow: $color-gray-50;
$color-body-section-container-pdf-container-reportunit-title: $gray4;
$color-body-section-container-pdf-container-reportunit-teamsinfo: $lightBlue1;
$color-body-section-container-pdf-container-reportunit-teamsinfo-players-player-flag-boxshadow: $color-lightgray-100;
$color-body-section-container-pdf-container-reportunit-teamsinfo-players-player-noc: $lightGold2;

/* assets/styles/scss/components/unit/common/_common.scss */
$color-results-title-venue: $blue;
$color-results-title-name: $gray4;
$color-results-title-name-desc: $blue;
$color-results-title-status: $lightBrown;
$color-results-title-status-span-bg: $color-lightgray-100;
$color-results-title-status-span-fadotcircle: $green;
$color-listreports-event-link: $gray4;
$color-listreports-event-link-fafilepdf: $red;
$color-listreports-event-download-bg: transparent;
$color-listreports-event-download: $lightGreen1;
$color-listreports-event-content-bg: $white;
$color-listreports-event-content-boxshadow: $gray1;
$color-listreports-event-content-download: $lightGreen1;
$color-listreports-event-content-download-bg: transparent;
$color-listreports-event-content-link-text: $gray4;
$color-listreports-event-content-link-text-fasfaexpand: $lightBlue1;
$color-listreports-event-box-boxshadow: $gray1;

$color-results-bodysectioncontainer-title-name-date: $color138_1;
$color-results-bodysectioncontainer-h4: $color-darkblue-100;
$color-results-bodysectioncontainer-h4-bodysectioncontainer_subtitle: $white;
$color-results-bodysectioncontainer-h4-bodysectioncontainer_subtitle-bg: $lightGreen1;

$color-bodysectioncontainer-listreports-event-content-rsc-bg: linear-gradient(
    52deg,
    $color-darkblue-100 24%,
    $color4_13 79%
);
$color-bodysectioncontainer-listreports-event-content-rsc: $white;
$color-bodysectioncontainer-listreports-event-content-rsc-border: $gray1;

/* faltan mediaqueries */

/* sass maps */
// $font-weights: ("regular": 400, "medium": 500, "bold": 700);

// @debug map.get($font-weights, "medium"); // 500
// @debug map.get($font-weights, "extra-bold"); // null

/* mixins */
// @mixin grid($flex) {
//     @if $flex {
//         @include flex;
//     } @else {
//         display: block;
//     }
// }
