// discipline backgrounds
$theme: '@theme/images/backgrounds/DISC/';
@mixin disciplines-backgrounds($ext, $size) {
    &.background {
        &_default {
            background-image: url($theme+'stadium.jpg');
        }
        &_atletismo,
        &_ATH {
            background-image: url($theme+'ATH.jpg');
        }

        &_badminton,
        &_BDM {
            background-image: url($theme+'BDM.jpg');
        }
    }
}

@mixin class_disciplines-background {
    $ext: '.jpg';
    $size: '';
    @include disciplines-backgrounds($ext, $size);
    // @media (max-width: 600px) {
    //     $size: '_small';
    //     @include disciplines-backgrounds($ext, $size);
    // }
    // @media (max-width: 768px) {
    //     $size: '_medium';
    //     @include disciplines-backgrounds($ext, $size);
    // }
}
