@font-face {
    font-family: 'Pier-sans';
    src: url('@theme/fonts/PierSans-Regular.otf') format('opentype');
    font-weight: 400; // Normal
    font-style: normal;
}
@font-face {
    font-family: 'PierSans';
    src: url('@theme/fonts/PierSans-Light.otf') format('opentype');
    font-weight: 300; // Light
    font-style: normal;
}

@font-face {
    font-family: 'gcc2022';
    src: url('@theme/fonts/gcc2022_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-Medium.otf') format('opentype');
    font-weight: 500; // Medium
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-Regular.otf') format('opentype');
    font-weight: 400; // Normal
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-Light.otf') format('opentype');
    font-weight: 300; // Light
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-SemiBold.otf') format('opentype');
    font-weight: 600; // SemiBold
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-SemiBold.otf') format('opentype');
    font-weight: 600; // SemiBold
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('@theme/fonts/IBMPlexMono-Bold.otf') format('opentype');
    font-weight: 700; // Bold
    font-style: normal;
}

/* fontawesome free */
@import url('~@/../node_modules/@fortawesome/fontawesome-free/css/all.css');

[class*='icon-']:before {
    color: inherit;
    display: inline-block;
    font-family: 'gcc2022';
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-ATH:before {
    content: '\0041';
}
.icon-BKB:before,
.icon-BK3:before {
    content: '\0042';
}
.icon-CRD:before {
    content: '\0043';
}
.icon-ESP:before {
    content: '\0044';
}
.icon-FBL:before,
.icon-FSL:before {
    content: '\0045';
}
.icon-FEN:before {
    content: '\0046';
}
.icon-HBL:before {
    content: '\0047';
}
.icon-IHO:before {
    content: '\0048';
}
.icon-JUD:before {
    content: '\0049';
}
.icon-KTE:before {
    content: '\004A';
}
.icon-SHO:before {
    content: '\004B';
}
.icon-SWM:before {
    content: '\004C';
}
.icon-TEN:before {
    content: '\004D';
}
.icon-TTE:before {
    content: '\004E';
}
.icon-VVO:before {
    content: '\004F';
}
