/*  Discipline Label + Noc Label
    Picto/Img + Descriptcion  */
@mixin default-size {
    $font-size: 1rem;
    $icon-font-size: $font-size * 2.6;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
}
@mixin big-size {
    $font-size: 1.4rem;
    $icon-font-size: $font-size * 2.6;
    //
    font-size: $font-size;
    [class*='icon-']:before {
        font-size: $icon-font-size;
    }
}

.label,
.discipline-label {
    height: fit-content;
    width: 100%;
    line-height: 1; /* reset */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 0;
    @include default-size;
    &.column {
        flex-direction: column;
        justify-content: center;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.big {
        @include big-size;
    }
    [class*='icon-']:before {
        flex: 0 0 auto;
        font-family: 'gcc2022';
        background-color: transparent;
    }
    img {
        flex: 0 0 auto;
        background-color: transparent;
        border: 1px solid #eed;
        width: auto;
        height: 1.2em;
        margin-right: 0.6rem;
    }
    .name {
        flex: 0 0 auto;
        background-color: transparent;
        color: inherit;
    }
    .slot {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
}
