/*  Discipline Label + Noc Label
    Picto/Img + Descriptcion  */
@function getSize($size: medium) {
    @if $size == large {
        @return 1.2rem;
    } @else if $size == medium {
        @return 1rem;
    } @else if $size == small {
        @return 0.8rem;
    } @else if $size == xsmall {
        @return 0.6rem;
    } @else {
        @return 1rem;
    }
}

/* estos mixins estarán disponibles en toda la app
   por eso, los nombres deben ser únicos */
@mixin bNocLabelSize($size: medium) {
    $b-noclabel-font-size: getSize($size);
    $b-image-height: 1.2 * $b-noclabel-font-size;
    $b-margin-right: $b-noclabel-font-size * 0.2;
    /* name */
    $b-font-size-name: $b-noclabel-font-size * 1.1;
    $b-margin-right-noc: $b-noclabel-font-size * 0.4;
    img {
        margin-right: $b-margin-right;
    }
    img,
    .flag {
        height: $b-image-height;
    }
    .noc {
        margin-right: $b-margin-right-noc;
        font-size: $b-noclabel-font-size;
    }
    .name {
        font-size: $b-font-size-name;
    }
    &.reverse,
    &.mirror {
        .name {
            margin-right: $b-margin-right-noc;
        }
    }
}

.label {
    @include bNocLabelSize;
    /* para sobreescribir este comportamiento, 
       añades este mismo breakpoint, con el mismo include y su variante
       en la clase que corresponda, en el nivel más específica que puedas */
    @media (max-width: $breakpoint-small) {
        @include bNocLabelSize(small);
    }
    height: fit-content;
    width: 100%;
    line-height: 1; /* reset */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    & > div,
    img {
        // margin-right: $b-margin-right;
        background-color: transparent;
    }
    /* SIZE */
    &.xsmall {
        @include bNocLabelSize(xsmall);
    }
    &.small {
        @include bNocLabelSize(small);
    }
    &.large {
        @include bNocLabelSize(large);
    }
    /* ORDER */
    &.reverse,
    &.mirror {
        flex-direction: row-reverse;
    }
    /* JUSTIFICADO */
    &.start,
    &.end.reverse,
    &.end.mirror {
        justify-content: flex-start;
    }
    &.end,
    &.start.reverse,
    &.start.mirror {
        justify-content: flex-end;
    }
    /* VARIANTES */
    &.avatar {
        .flag,
        img {
            height: 2rem;
        }
    }
    &.brackets {
        color: $color-primary-dark;
        .name {
            font-size: 0.8rem;
            font-weight: normal;
        }
    }
    /* ICONOS */
    [class*='icon-']:before {
        flex: 0 0 auto;
        font-family: 'gcc2022';
        background-color: transparent;
        font-size: 2.6em;
    }
    /* img */
    img,
    .flag {
        flex: 0 0 auto;
        border: 1px solid #eed;
        // height: $b-image-height;
    }
    /* noc code */
    .noc {
        flex: 0 0 auto;
        // margin-right: $b-margin-right-noc;
        // font-size: $b-noclabel-font-size;
        font-weight: normal;
    }
    /* noc name */
    .name {
        flex: 0 0 auto;
        // font-size: $b-font-size-name;
        font-weight: bold;
    }
}
