/* BIO SIMPLE, para mostrar members de un equipo, es mas simple */
$color-biosimple-ath-name: $color-on-surface-mid;
$color-biosimple-ath-name-fontsize: 1.2rem;
$color-biosimple-members-bg: $color-surface; /* fondo del la caja de miembros de un equipo, TODA la caja */
$color-biosimple-members-border: $color-on-surface-light;

/* assets/styles/scss/components/bio/_bio.scss */
$color-bio-profile-bg: transparent; /* la caja ENTERA de la BIO ? */
$color-profile-boxshadow: $card-boxshadow;

/* caja del titulo , nombre de la discipline */
$color-bio-profile-title-bg: $color-primary;
$color-bio-profile-title: $color-on-primary;

/* fondo de la caja INFO que contiene la info */
$color-bio-profile-info-bg: $color-surface-50;

/* nombre atleta */
$color-profile-info-name: $color-on-surface-mid;
/* nombre del NOC */
$color-bio-profile-info-profile-noc-p: $color-on-surface;

/* borde del picto de la disciplina */
$color-bio-profile-info-profile-disc-img-border: transparent;
/*  nombre de la disciplina */
$color-bio-profile-info-profile-disc-p: $color-on-surface;

/* gender + age */
$color-bio-profile-info-input-bg: $color-primary-50;
$color-bio-profile-info-input: $color-on-primary-50;
$color-bio-profile-info-input-border-e: 2px;
$color-bio-profile-info-input-border: transparent;

/* ENTRIES */
$color-bio-entriecontainer-boxshadow: '';
$color-bio-profile-entriecontainer-listentries-entrie-boxshadow: $card-boxshadow-small;
/* titulo */
$color-bio-entriecontainer-title-bg: $color-primary;
$color-bio-entriecontainer-title: $color-on-primary;
/* list entries */
$color-bio-entriecontainer-listentries-bg: transparent;
/* entrie */
$color-bio-profile-entriecontainer-listentries-entrie-bg: $color-secondary-variant;
$color-bio-profile-entriecontainer-listentries-entrie: $color-on-surface;
$color-bio-profile-entriecontainer-listentries-entrie-rankmedal-rank: $color-on-surface-mid;

$color-bio-profile-info-profile-noc-gender: $color1_26;

$color-bio-members-container-bg: linear-gradient(175deg, $color-darkblue-100 31%, $color5_11 56%);
$color-bio-members-container: $white;
