/* BORDE */
$color-bodysectioncontainer-list-element-container-border: $color-on-primary; /* Ath&Teams borde caja Discipline-entries-ath-list */
$color-containernocs-list-noc-border: $color-on-primary;
$color-body-section-container-list-nocs-noc-border: $color-on-primary; /* Borde */
$color-body-section-container-list-nocs-noc-border-hover: $color-on-primary;
$color-body-section-container-list-nocs-noc-border: $color-on-primary;

$color-bodysectioncontainer-list-element-container-border-hover: $color-on-primary;
/* TITULO */
$color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-disc-bg: $color-primary; /* fondo del titulo discipline */
$color-body-section-container-list-nocs-noc-title-bg: $color-primary; /* fondo del titulo discipline */
$color-body-section-container-list-nocs-noc-title: $color-on-primary; /* texto del titulo discipline */
$color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-disc-text: $color-on-primary; /* color nombre discipline */
/* CONTENT */
$color-bodysectioncontainer-list-element-container-bg: $color-background; /* fondo de la caja */
$color-body-section-container-list-nocs-noc-bg: $color-background; /* fondo de la caja */
$color-bodysectioncontainer_listparticipant-bodysectioncontainer_list_element_container-hover: $color-secondary-variant; /* fondo caja HOVER */
$color-bodysectioncontainer-list-element-container-bg-hover: $color-secondary-variant; /* fondo:Hover de la caja. NO FUNCIONA */
$color-body-section-container-list-nocs-noc-bg-hover: $color-secondary-variant;
/* CONTENT.textos */
$color-bodysectioncontainer-list-element-container-info-flag-athletes: $color-on-background; /* en Teams color de texto "4 Athletes, Men" */
$color-listnocs-noc-nathnteam: $color-on-background; /* texto de la caja */

/* scss/components/participant/_participant.scss */

/* /assets/styles/scss/components/disc/_body.scss */
$color-bodysectioncontainer-title: $color-darkblue-100; /* ? */

/* assets/styles/scss/components/nocs/_nocs.scss */

/* section NOCS, listado general y listado por pais */
/* assets/styles/scss/components/nocs/_nocs.scss */

$color-containernocs-list-noc: red;
$color-containernocs-list-noc-bg: $color-whitegray-100;
/* borde caja en NOCs listado general */
