h3 {
    &.body-section-container__title,
    &.body-section-container__title_medal {
        margin: 0;
        padding: 0;
        font-size: 2em;
        color: $color-on-background;
    }
}

p {
    &.info {
        color: $color-on-background;
        font-size: 1.3em;
    }
}
