/* submenu del header, grid+disciplines+days HOVER y ACTIVE */

$color-bodymenu-btngroup-btnselector-bg: $color-secondary-variant;
$color-bodymenu-btngroup-btnselector-hover-bg: $color-secondary;
$color-bodymenu-btngroup-btnselector-active-bg: $color-secondary;

$color-bodymenu-btngroup-btnselector: $color-on-secondary-variant; /* texto boton inactivo */
$color-bodymenu-btngroup-btnselector-hover: $white;
$color-bodymenu-btngroup-btnselector-active: $white;

$color-headersectioncontainersubmenu-bg: transparent;
$color-headersectioncontainersubmenu-border: transparent;

$color-headersectioncontainersubmenu-containeranimationfilter-bg: $color-black-100;

$color-bodymenu-btngroup-bg: transparent; /* fondo del boton group, no aplica */
