/* assets/styles/scss/common/_brackets.scss */
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed-bg: '';
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-seed: $white;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime: $color60_1;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime-bg: transparent;
$color-bracketsdisplay-bracketItems-jQBracket-teamContainer-date-notTime-border: $color61_1;
$color-bracketsdisplay-bracketItems-jQBracket-roundnth-bg: $color62_1;

$color-bracketsdisplay-phaseSelection-pagination-pagelink-bg: $color63_1;
$color-bracketsdisplay-phaseSelection-pagination-pagelink: white;
$color-bracketsdisplay-phaseSelection-pagination-nextpagelink-bg: $color19_3;
$color-bracketsdisplay-phaseSelection-pagination-nextpagelink-border: $opgold;

/* assets/styles/scss/common/_jquery.bracket.scss */
$color-jQBracket-team-np-bg: $color19_3;
$color-jQBracket-team-np: $color-whitegray-100;

/* connectors COLORS */
$winColor: $color-secondary;
$loseColor: $color-secondary;
$thirdColor: $color-secondary;
$fourthColor: $color-secondary;

$connectorColor: $color-secondary;
$highlightColor: $color-secondary;
$highlightForColor: $color-secondary;

$boxHeight: 22px;
$boxPadding: 0.3rem;

$color-jQBracket-team-na: $gray1;
$color-jQBracket-team-nr: $white;
$color-jQBracket-team-win: $black1;
$color-jQBracket-team-win-score: $color67_1;
$color-jQBracket-team-lose-score: $white;

$color-jQBracket-teamContainer-date-bg: $white;
$color-jQBracket-teamContainer-date: $gray4;
$color-jQBracket-teamContainer-seed-bg: $color68_1;
$color-jQBracket-teamContainer-seed: $color-black-100;

$color-jQBracket-tools: $white;
$color-jQBracket-tools-span-bg: $color-black-100;
$color-jQBracket-tools-span-bg-hover: $color-gray-50;
$color-jQBracket-team-bg: $color30_2;
$color-jQBracket-team-home-border: $gray1;
$color-jQBracket-team-score-bg: $color-gray-100;
$color-jQBracket-team-score-disabled: $gray;
$color-jQBracket-team-score-error-bg: $pink;

.body-section-container {
    #bornanBrackets {
        .brackets-display {
            .phaseSelection {
                .nav-pagination {
                    ul.pagination {
                        background: transparent;
                        border: none;
                        li.page-item {
                            background: transparent;
                            border: none;
                            a.page-link {
                                background: $color-primary-50;
                                color: $color-on-primary-50;
                                border: none;
                                padding: 0.5rem;
                                font-size: 1rem;
                                font-weight: 100;
                                height: auto;
                                width: auto;
                            }
                        }
                        li.page-item.next,
                        li.page-item.prev {
                            height: 100%;
                            width: auto;
                            a.page-link {
                                cursor: pointer;
                                &:hover {
                                    background: $color-primary;
                                    color: $color-on-primary;
                                }
                            }
                        }
                    }
                }
            }
            .bracketItems {
                div.jQBracket {
                    border: 0px solid orange;
                    height: fit-content;
                    margin-left: 0.5rem;
                    .bracket {
                        border: 0px solid blue;
                        .round {
                            border: 0px solid green;
                            height: fit-content;
                            .match {
                                margin: 0 auto;
                                max-width: 600px;
                                border: 0px solid red;
                                overflow: visible;
                                height: 100%;
                                .teamContainer {
                                    width: 100%; /*este determina donde empiezan y terminan las lineas de conexion*/
                                    border: 0px solid blue;
                                    .date {
                                    }
                                    .team {
                                        /* este es cada caja del equipo, esta fijado el ancho, pero creo que no es necesario */
                                        width: 100%;
                                        display: flex;
                                        flex-wrap: nowrap;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: flex-start;
                                        padding: 0.3rem 0.3rem 0.3rem 0.6rem;
                                        background: $color-surface; /* color generico de un team */
                                        border: 1px solid $color-secondary-variant;
                                        .player {
                                            flex: 1 1 auto;
                                            overflow: hidden;
                                            text-align: left;
                                            ul.isDoubles {
                                                padding: 0;
                                                margin: 0;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: flex-start;
                                            }
                                            span {
                                                width: 100%;
                                                text-align: left;
                                            }
                                        }
                                        // ya no es label, se llama player
                                        .label {
                                            flex: 1 1 auto;
                                            justify-self: flex-start;
                                            border: 0px solid orange;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: flex-start;

                                            img {
                                                flex: 0 0 30px;
                                                margin-right: 0.4rem;
                                            }
                                            span {
                                                font-size: 0.9rem;
                                                color: $color-on-surface;
                                                flex: 1 1 auto;
                                                border: 0px solid red;
                                                text-align: left;
                                            }
                                        }
                                        .score {
                                            flex: 0 0 30px;
                                            justify-self: flex-end;
                                            border: 0px solid orange;
                                            font-size: 1.1rem;
                                            font-weight: 600;
                                            color: $color-on-surface;
                                        }
                                        &.win {
                                            background: $color-secondary-variant;
                                            .score {
                                                color: $color-on-background;
                                            }
                                        }
                                        &.lose {
                                            .score {
                                                color: $color-primary-25;
                                            }
                                        }
                                        &.win.highlight {
                                            .score {
                                                color: $color-on-background;
                                            }
                                        }
                                        &.lose.highlight {
                                            .score {
                                                color: $color-primary-25;
                                            }
                                        }

                                        &.home {
                                            border-radius: 0.3rem 0.3rem 0 0;
                                        }
                                        &:not(.home) {
                                            border-radius: 0 0 0.3rem 0.3rem;
                                        }
                                        &.np {
                                            //background-color: $color-jQBracket-team-np-bg;
                                            color: $color-primary-50;
                                        }

                                        &.na {
                                            //background-color: $gray;
                                            color: $color-primary-50;
                                        }

                                        &.nr {
                                            // color: $black1;
                                            color: $color-primary-50;
                                        }

                                        &.win {
                                            color: $color-primary-50;
                                        }

                                        &.lose {
                                            //background: rgba(41, 41, 41, 0.815);
                                            color: $color-primary-50;
                                        }

                                        &.tie div.score {
                                            color: $color-primary-50;
                                        }

                                        &.highlightWinner {
                                            //background: $color-jquery-brackets-winner-bg;
                                            color: $color-primary-50;
                                        }
                                        &.highlightLoser {
                                            //background: $color-jquery-brackets-looser-bg;
                                            color: $color-primary-50;
                                        }

                                        &.highlight {
                                            border: 2px solid rgb(0, 238, 255);
                                        }

                                        &.bye {
                                            //background-color: $gray;
                                            color: $color-primary-50;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
