$color-groups-result: $color-on-surface; /* color del resultado en una tabla de grupos */
$color-tablegroups: $color-on-surface;
$color-tablegroups-general: $color-on-surface;

/* assets/styles/scss/components/navevents/_groups.scss */
$color-listinfogroups-group-link-tablegroups_body_tr_td_tworows: inherit;
$color-listinfogroups-group-link-tablegroups_body_tr_td_tworows-hover: $color-darkblue-100;

$color-tablegroups-body-tr-td: $color-darkblue-100;
$color-tablegroups-body-tr-td-divTableCell-border: $color-whitegray-100;

$color-table-groups-header-bg: $color-primary;
$color-table-groups-header-td: $color-on-primary;

$font-groups-sort: $font-results-numbers;
$font-tablegroups-result: $font-results-numbers;
$font-tablegroups: $font-primary;
