/* assets/styles/scss/views/_footer.scss */
$color-bornanfooter-menu-li-aspan: $color-on-primary-variant;
$color-bornanfooter-menu-li-aspan-border: $color-on-primary-variant;
$color-bornanfooter-menu-li-aspan-hover: $color-on-surface-secondary;

$color-bornanfooter-bg: $color-primary-variant;
$color-bornanfooter: $color-on-primary-variant;
$color-bornanfooter-p: $color-on-primary-variant;
$color-bornanfooter-socicons-a: $color-on-primary-variant;
$color-bornanfooter-socicons-a-hovericonfacebook: $color-on-surface-secondary;
$color-bornanfooter-socicons-a-hovericontwitter: $color-on-surface-secondary;
$color-bornanfooter-socicons-a-hovericonlinkedin: $color-on-surface-secondary;
$color-bornanfooter-socicons-a-hovericoninstagram: $color-on-surface-secondary;
