.body-section-container_results__list__competitor__list__member__container {
}

.card-body {
    background-color: white;
}

ul.body-section-container_results__list {
    .body-section-container_results__list__competitor.col-12.col-md-5.col-lg-4 {
        ul.body-section-container_results__list__competitor__list.row {
            li.body-section-container_results__list__competitor__list__member.col-12.athlete {
                .body-section-container_results__list__competitor__list__member__container {
                    border-radius: 50%;

                    img {
                        width: 90%;
                        border: none;
                        box-shadow: '';
                    }
                    .d-flex.align-items-end.w-100:first-child {
                        order: 2;
                    }
                }
                .body-section-container_results__list__competitor__list__member__info {
                    text-align: left;
                    margin: 1rem;
                }
            }
        }
    }
}

/* JUDO stats in RESULTS */
ul.divTableRow.table-groups__body__tr {
    margin-left: 2rem;
    li.divTableCell.table-groups__body__tr__td.table-groups__body__tr__td_name {
        margin-left: 2rem;
    }
}

/* JUDO start list */
div.body-section-container_start-list__list__competitor__list__member__container__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    img {
        width: 100%;
    }
}

/* SWIMMING button border */
span.ath-current-period {
    border: 2px solid $color-primary;
    color: $color-primary;
}

.medal-section-container {
    overflow: hidden;
    .medal-section-container__list__body.d-flex.justify-content-center {
        flex-wrap: wrap;
    }
}

.medal-section-container__list__body__splits__descs__list {
    flex-wrap: wrap;
}

/* REPORTS */
.body-section-container__pdf-container__list__li__desc {
    background-color: $color-primary;
    color: $color-on-primary;
}

/* KARATE results */
.body-section-container_results__disc.body-section-container_results__disc_ath {
    section.body-section-container {
        width: 100%;
        margin: 0 auto;
        ul.medal-section-container {
            width: 100%;
        }
    }
}

li.medal-section-container__list {
    div.medal-section-container__list__body.d-flex.justify-content-center {
    }
}

.result-container-animation {
    .result-container-animation__value.result-container-animation__value_p {
        background-color: transparent;
        color: $color-primary;
    }
}

/* Fencing FINAL RANK descentrado por Bootstrap */
.body-section-container {
    .container {
        .row {
            margin-left: 0;
            margin-right: 0;
            margin: 0 auto;
        }
    }
}
