/* menu de FILTROS en header */
/* BUTTON search */
$color-header-submenu-button: $color-primary;
$color-header-submenu-button-bg: transparent;
$color-header-submenu-button-border: $color-primary;
$color-header-submenu-button-fatimes: $color-primary; /* color de icono */
$color-header-submenu-button-fasearch: $color-primary;
/* MODAL */

/* SELECTED ul li span + fas fa-times */
$color-submenu-filters-selected: $color-on-primary-50;
$color-submenu-filters-selected-bg: $color-primary-50;
/*fatimes*/
$color-submenu-filters-selected-fatimes: $color-on-primary-50;
$color-submenu-filters-selected-fatimes_bg: transparent;
$color-submenu-filters-selected-fatimes_border: transparent;
