/* assets/styles/scss/components/schedule/_days-calendar.scss */

/* PICTO button */
$color-sch-days-disc-picto-margin-x: 2px;
$color-sch-days-disc-picto-margin-y: 0;
$color-sch-days-disc-picto-h: 46px;
$color-sch-days-disc-picto-w: 46px;
$color-sch-days-disc-picto-bg: $color-secondary-variant; /*fondo del picto*/
$color-sch-days-disc-picto-border: transparent; /*borde del picto*/
$color-scheduledays-listdiscs-disc-pictohover-border: transparent; /* HOVER: fondo del picto*/
$color-scheduledays-listdiscs-disc-pictohover-bg: $color-secondary; /* HOVER: borde del picto*/

$color-scheduledays-listdiscs-disc-picto-p: $color130_1;

$color-scheduledays-listdiscs-disc-fill-bg: $color132_1;

$color-schedule-days-list-units-disc-disc-desc-bg: $color-primary; /* fondo discippline */
$color-schedule-days-list-units-disc-disc-desc: $color-on-primary; /* texto discipline */

/* MENU DE DIAS */
/* assets/styles/scss/components/schedule/_days-calendar.scss */
/* borde */
$color-schedule-days-list-days-day-button-border: transparent;
$color-schedule-days-list-days-day-button-hover-bg: $color-secondary;
$color-schedule-days-list-days-day-button-active-bg: $color-secondary;
/* texto */
$color-schedule-days-list-days-day-button: $color-on-background; /* nombre dia */
$color-schedule-days-list-days-day-button-hover: $color-on-secondary;
$color-schedule-days-list-days-day-button-active: $color-on-secondary;
/* texto numero dia */
$color-schedule-days-list-days-day-button-daynumber: $color-on-background;
$color-schedule-days-list-days-day-button-hover-scheduledays: $color-on-secondary;
$color-schedule-days-list-days-day-button-active-scheduledays: $color-on-secondary;

$color-scheduledays-listunitsdisc-disc-unitscontainer-loadingcontainer-bg: $color134_1;
$color-scheduledays-listunitsdisc-disc-unitscontainer-loadingcontainer: $white2;

$color-scheduledays-subunit-bg: $color-whitegray-100;
$color-scheduledays-subunit-boxshadow: $gray0;

/* assets/styles/scss/components/schedule/_days-calendar.scss */
$color-schedule-days-list-days-day-button-bg: $color-secondary-variant; /* fondo de los dias del GRID-DAYS */
$color-schedule-days-list-days-day-button-bg-hover: $color-secondary-variant; /* fondo HOVER de los dias del GRID-DAYS */
