/* assets/styles/scss/components/navs/_navdisc.scss */
/* fondo */
$color-discnav-container-menu-bg: linear-gradient(175deg, $color-primary 24%, $color-primary-variant 79%);
/* texto del menu */
$color-discnav-container-menu: $color-on-primary;
$color-discnav-container-menu-list-disc-hoveractive: $color-secondary;
$color-discnav-container-menu-list-disc-routerlinkactive: $color-secondary;

$color-discnav-container-menu-list-today-bg: $lightLive;
$color-discnav-container-menu-list-picto-bg: transparent;
$color-discnav-container-menu-list-picto-border: transparent;
$color-discnav-container-menu-list-picto-bg-hover: transparent;
$color-discnav-container-menu-list-picto-border-hover: transparent;
