<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_h2h.fill
            .fill
                scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                period(v-if='hasPeriods', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                //-statistic(v-if='stats', :stats='unitStats')
                //-officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period }
})
/* eslint-enable */
export default class TEQResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
