.ath-current-period {
    box-shadow: 2px 2px 6px $color-athcurrentperiod-boxshadow;
    background-color: $color-athcurrentperiod-bg;
    border: 2px solid $color-athcurrentperiod-border;
    padding: 3px 10px;
    margin: 0px 4px 3px 4px;
}
