.medal-section-container__list__body__elipse {
    p {
        padding: 0 0.3rem;
    }
}
.medal-section-container__list__body {
    .title {
        margin-left: 20px;
    }
    &.split {
        .medal-section-container__list__body {
            &__splits {
                font-size: inherit;
                padding: 0 0 1em;
                &__descs {
                    p.medal-section-container__list__body__splits__descs__list__member {
                        border-top: 1px solid #aaa;
                        margin-top: 15px;
                        padding-top: 5px;
                    }
                    p.medal-section-container__list__body__splits__descs__list__member__m {
                        border-top: 1px solid #aaa;
                        margin-top: 15px;
                        padding-top: 5px;
                        max-width: 100px;
                    }
                    &__list {
                        &__split {
                            &__desc {
                                padding: 1px 10px;
                            }
                        }
                    }
                }
                &__values {
                    &__text {
                        padding: 0px 18px;
                    }
                    &__list {
                        padding: 5px 10px;
                    }
                }
            }
            &__member {
                font-size: inherit;
                margin: 5px;
                &__descs {
                    p.medal-section-container__list__body__splits__descs__list__member {
                        border-top: 1px solid #aaa;
                        margin-top: 15px;
                        padding-top: 5px;
                    }
                    p.medal-section-container__list__body__splits__descs__list__member__m {
                        border-top: 1px solid #aaa;
                        margin-top: 15px;
                        padding-top: 5px;
                        max-width: 100px;
                    }
                    &__list {
                        &__split {
                            &__desc {
                                padding: 1px 10px;
                            }
                        }
                    }
                }
                &__values {
                    &__text {
                        padding: 0px 18px;
                    }
                    &__list {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
    &__split-res {
        padding-bottom: 3px;
        padding-left: 3px;
        &__input {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }

        &__label,
        &__button {
            background-color: transparent;
            border: none;
            color: $color-medalsectioncontainer_listbody-splitres-button;
            cursor: pointer;
            @include transition(all 0.5s);
            margin: 0;
        }
        &__button {
            padding: 0;
        }
    }
    &__splits {
        font-weight: 500;
        @include flex(0 1 100%);
        @include display-flex();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include transition(all 0.5s);
        &__descs {
            width: 100%;
            &__text {
                background-color: $lightBlue1;
                color: $white;
                display: inline-block;
                @include border-radius(4px);
                margin: 0 auto;
                min-width: 100px;
                padding: 0px 18px;
            }
            p.medal-section-container__list__body__splits__descs__list__member {
                .badge {
                    font-size: 85%;
                    font-weight: 400;
                }
                .bib {
                    margin-left: 10px;
                    font-style: italic;
                    padding: 2px;
                }
            }
            &__list {
                // @include display-flex();
                // @include flex-direction(row);
                // @include flex-wrap(wrap);
                // @include justify-content(space-around);
                list-style: none;
                margin: 0;
                padding: 0;

                &__split {
                    @include flex(1);
                    @include display-flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    max-width: 200px;
                    overflow: hidden;
                    min-width: 180px;
                    padding: 0;
                    color: $color-on-surface;
                    span {
                        padding: 0.2rem 0.5rem;
                    }
                    &__desc {
                        background: $color-primary;
                        color: $color-on-primary;
                        padding: 0.5rem;
                        width: 100%;
                        font-weight: 700;
                    }
                }
                &__splitSho {
                    @include flex(1);
                    @include display-flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    max-width: 200px;
                    overflow: hidden;
                    margin: 0;
                    background: transparent;
                    &__desc,
                    &__descFinal {
                        text-align: center;
                        padding: 0.3rem 1rem;
                        width: 100%;
                        font-weight: 700;
                    }
                    &__desc {
                        background: $color-primary-50;
                        color: $color-on-primary-50;
                    }
                    &__descFinal {
                        background: $color-secondary;
                        color: $color-on-secondary;
                    }
                }
                &__splitShoSkeet {
                    @include flex(1);
                    @include display-flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    max-width: 75px;
                    overflow: hidden;
                    min-width: 75px;
                    margin: 0.5em 0.5em 0;
                    &__desc {
                        background: $color-medalsection-list-splitshoskeet-desc-bg;
                        color: $color-medalsection-list-splitshoskeet-desc;
                        padding: 0 10px;
                        width: 100%;
                        font-weight: 700;
                    }
                    &__descFinal {
                        background: $color-medalsection-list-splitshoskeet-descfinal-bg;
                        color: $color-medalsection-list-splitshoskeet-descfinal;
                        padding: 0 10px;
                        width: 100%;
                        font-weight: 700;
                    }
                }
            }
        }
        &__values {
            &__text {
                background-color: $color-split-values-text-bg;
                color: $color-split-values-text;
                display: inline-block;
                @include border-radius(4px);
                margin: 0 auto;
                min-width: 100px;
                padding: 0 18px;
            }
            &__list {
                background: $color-primary-25;
                @include display-flex();
                @include flex-direction(column);
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                &__split {
                    @include flex-wrap(wrap);
                    @include display-flex();
                    &__valueSho {
                        @include flex(0 1 100%);
                        @include display-flex();
                        justify-content: center;
                    }
                    &__rkSho {
                        @include flex(0 1 100%);
                        @include display-flex();
                        text-transform: uppercase;
                        justify-content: center;
                    }
                    &__diffSho {
                        @include flex(0 1 100%);
                        @include display-flex();
                        justify-content: center;
                    }
                    &__value {
                        @include flex(0 1 100%);
                        @include display-flex();
                        justify-content: center;
                    }
                    &__rk {
                        @include flex(1);
                        @include display-flex();
                    }
                    &__diff {
                        @include flex(1);
                        @include display-flex();
                        @include justify-content(flex-end);
                    }
                }
            }
        }
    }
    &__members {
        font-weight: 500;
        @include flex(0 1 100%);
        &__descs {
            &__list {
                list-style: none;
                padding-right: 20px;
                &__member {
                    @include display-flex();
                    margin-bottom: 5px;
                }
            }
        }
    }
    &__results,
    &__diff {
        @include justify-content(center);
        min-width: 65px;
    }
    &__qa,
    &__rc {
        @include justify-content(center);
        min-width: 40px;
    }
    &__diff,
    &__qa,
    &__rc {
        @include flex(1);
        @include justify-content(center);
    }
    .medal-section-container__list__body__result-list {
        @include display-flex();
        @include align-items(center);
    }
}

.legend {
    margin-top: 20px;
}

.body-section-container_results__disc_ath {
    .medal-section-container {
        &__list__body {
            &__results {
                @include flex(1);
            }
            &__elipse {
                height: 40px;
                @include flex(0 1 40px);
            }
            &__noc {
                @include flex(none);
                min-width: 65px;
                margin-left: -30px;
            }
            &__name {
                @include flex(1);
                padding-left: 1em;
            }
        }
    }
    .medal-section-container__list__body__result-list {
        @include display-flex();
        @include flex(1);
        @include flex-direction(row-reverse);
    }
}

@media (min-width: 768px) {
    .medal-section-container__list__body {
        &__splits {
            &__descs {
                &__text {
                    min-width: 130px;
                }
            }
            &__values {
                &__text {
                    min-width: 130px;
                }
            }
        }
        &__diff,
        &__qa,
        &__rc {
            @include flex(none);
        }
    }

    .body-section-container_results__disc_ath {
        .medal-section-container__list__body {
            &__results {
                @include flex(none);
            }
            &__elipse {
                height: 54px;
                @include flex(0 1 54px);
            }
            &__noc {
                min-width: 82px;
                margin-left: 30px;
            }

            &__name {
                padding-left: 1em;
            }
        }
        .medal-section-container__list__body__result-list {
            @include flex-direction(row);
            @include flex(none);
        }
    }
}
