.body-section-container {
    min-height: calc(100vh - 330px);
    height: auto;
    &__schedule-unit-container {
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    &__title {
        color: $color-bodysectioncontainer-title;
        font-weight: 700;
        line-height: 2em;
        margin: 8px 0;
    }
    p {
        &info {
            color: $color-bodysectioncontainer-info;
            font-size: 1.5em;
            line-height: 2em;
            margin: 1rem 0;
        }
    }
    &__list-events {
        list-style: none;
        padding: 0;
    }
    &_sub {
        padding-top: 0;
    }
    &__list {
        border: 0px solid red;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 0.5rem;
        padding: 0 1rem;
        list-style: none;
        &__element {
            // //@include flex(0 1 100%);
            // @include display-flex();
            // @include justify-content(center);
            // max-width: 100%;

            &__container {
                background-color: $color-bodysectioncontainer-list-element-container-bg;
                border: solid 1px $color-bodysectioncontainer-list-element-container-border;
                @include display-flex();
                @include transition(all 0.5s);
                list-style: none;
                padding: 5px 0;
                &:hover {
                    background-color: $color-bodysectioncontainer-list-element-container-bg-hover;
                    border: solid 1px $color-bodysectioncontainer-list-element-container-border-hover;
                }
                &__avatar {
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    padding: 0px 6px;
                    margin: 3px;
                    &__img {
                        @include border-radius(50%);
                        max-height: 50px;
                        object-fit: cover;
                        object-position: center;
                        width: 50px;
                    }
                }
                &__info {
                    @include align-items(flex-start);
                    @include display-flex();
                    @include flex-direction(column);
                    @include justify-content(flex-end);
                    overflow: hidden;
                    &__flag {
                        @include align-items(center);
                        @include display-flex();
                        @include justify-content(center);
                        width: 100%;
                        &__img {
                            @include box-shadow(1px 1px 6px $gray);
                            width: 28px;
                            margin-right: 4px;
                        }
                        &__org {
                            font-family: $font-monospace;
                            font-size: 1.1em;
                            font-weight: 700;
                            margin: 0 0 0 3px;
                            letter-spacing: -0.5px;
                        }
                        &__athletes {
                            color: $color-bodysectioncontainer-list-element-container-info-flag-athletes;
                            font-size: 0.9em;
                            font-weight: 600;
                            @include flex(1);
                            @include display-flex();
                            @include justify-content(flex-end);
                            margin: 0;
                            padding-right: 4px;
                            span {
                                padding: 0 0 0 3px;
                            }
                        }
                    }
                    &__name {
                        @include display-flex();
                        @include justify-content(center);
                        width: calc(99.99%);

                        &__text {
                            color: $darkBlue1;
                            margin: 0;
                            font-weight: 500;
                            overflow: hidden;
                            padding: 0;
                            text-overflow: ellipsis;
                            white-space: pre;
                        }
                    }
                }
            }
        }
    }
}
