.body-section-container__coms {
    &__list {
        @include display-flex();
        @include flex-direction(column);
        list-style: none;
        margin: 0;
        padding: 0.5em 1em;
        &__com {
            @include flex(1);
            @include justify-content(center);
            &__element {
                background-color: transparent;
                border: none;
                color: $lightBrown1;
                margin: 8px 0px;
                .fas {
                    color: $lightGold1;
                    margin-right: 5px;
                }
                .date {
                    margin-right: 5px;
                    margin-top: 5px;
                    font-weight: 300;
                }
                .title {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
    }
    &__selected-com {
        background-color: $white;
        @include animation(shownBottomToTop 0.5s);
        @include border-radius(5px);
        @include box-shadow(1px 1px 6px $gray);
        margin: 1em;
        padding: 1em;
        position: relative;
        overflow: hidden;
        &.hiddenCom {
            @include animation(shownTopToBottom 0.5s);
        }
        &__close {
            background-color: $lightGold;
            border: none;
            color: $lightGold2;
            @include border-radius(0 5px 0 5px);
            padding: 5px 11px;
            position: absolute;
            right: 0;
            top: 0;
        }
        &__container {
            color: $gray4;
            p {
                margin: 0;
            }
            &__venue-container {
                @include display-flex();
                @include justify-content(center);
                @include flex-wrap(wrap);
                &__title {
                    @include flex(0 1 100%);
                    &__text {
                        color: $lightBrown;
                        font-size: 1.15em;
                        font-weight: 800;
                        text-align: left;
                    }
                }
                &__desc-container {
                    @include flex(1);
                    @include justify-content(flex-end);
                    @include display-flex();
                    min-width: 85px;
                    &__list {
                        @include display-flex();
                        @include flex-direction(column);
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        &__elem {
                            @include justify-content(flex-start);
                            @include display-flex();
                            .fa-map-marker-alt {
                                color: $lightGold1;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
            &__summary {
                &__title {
                    margin-top: 1rem;
                    p {
                        color: $gray4;
                        border-bottom: 1px solid $gray1;
                        padding-bottom: 4px;
                        margin-bottom: 7px;
                        margin-top: 6px;
                        font-weight: 600;
                    }
                }
                &__list {
                    @include display-flex();
                    @include flex-direction(column);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    &__elem {
                        @include justify-content(flex-start);
                        @include display-flex();
                        min-height: 20px;
                        p {
                            text-align: left;
                        }
                    }
                }
                &__image {
                    img {
                        max-height: 100px;
                    }
                }
            }
            &__details__title {
                margin: 1.2rem 0;
                padding-top: 1.2rem;
                font-weight: 600;
            }
            &__issued-container {
                @include display-flex();
                @include flex-wrap(wrap);
                @include justify-content(space-between);
                margin-top: 4em;
                &__dec {
                    max-width: 100%;
                    &__list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        &__elem {
                            @include display-flex();
                            @include justify-content(flex-end);
                            p {
                                font-weight: 700;
                                @include display-flex();
                                @include flex(1);
                                @include justify-content(space-between);
                            }
                            span {
                                font-weight: 400;
                                margin-left: 1em;
                            }
                        }
                        &__signature {
                            img {
                                max-height: 56px;
                                max-width: 150px;
                            }
                        }
                    }
                }
                &__res {
                    @include display-flex();
                    @include align-items(center);
                    @include flex(0 1 100%);
                    @include justify-content(flex-end);
                    margin-top: 14px;
                    &__title {
                        margin-right: 1em;
                    }
                    &__list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        &__elem {
                            p {
                                @include display-flex();
                                @include justify-content(space-between);
                                @include flex(1);
                                @include align-items(center);
                            }
                            i {
                                margin-left: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .body-section-container {
        &__coms {
            &__selected-com {
                &__container {
                    &__venue-container {
                        &__title {
                            @include flex(1);
                        }
                        &__desc-container {
                            @include flex(unset);
                            @include justify-content(flex-start);
                        }
                    }
                    &__issued-container {
                        &__dec {
                            max-width: 50%;
                        }
                        &__res {
                            @include justify-content(center);
                            @include flex(unset);
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
