.info {
    &__dtu {
        background-color: var(--sand-color);
        font-family: $font-bornan-extbold;
        @include display-flex();
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        min-height: 111px;
        position: relative;
        padding: 0.3em;
        &__date {
            background-color: var(--back-date-color);
            font-family: $font-disc-common;
            color: $lightGray;
            font-size: 1.1em;
            @include align-items(center);
            @include display-flex();
            @include flex-direction(column);
            margin: 0 0.2em;
            min-width: 55px;
            overflow: hidden;
            text-transform: uppercase;
            p {
                margin: 8px 0;
            }
            span {
                background-color: $white;
                color: $black1;
                text-align: center;
                font-size: 1.3em;
                padding: 4px;
                width: 100%;
            }
        }
        &__tu-container {
            @include flex(1);
            padding: 0;
            text-align: center;
            &__title {
                color: $white;
                &__link {
                    color: $lightGray;
                    @include display-flex();
                    @include flex-direction(column);
                    @include flex(1);
                    line-height: 1.5em;
                    text-decoration: none;
                    &:hover,
                    &:active {
                        color: inherit;
                    }
                    > span {
                        font-size: 1.46em;
                        @include align-items(center);
                        @include display-flex();
                        @include flex-direction(column);
                        margin: 6px 0 14px;
                        span {
                            font-size: 0.8em;
                            margin-top: 7px;
                        }
                    }
                }
            }
            &__units {
                @include display-flex();
                @include justify-content(center);
                list-style: none;
                padding: 0;
                &__unit {
                    @include display-flex();
                    margin: 0 0.1em;
                    a,
                    button {
                        background-color: $white;
                        border: 1px solid $gray4;
                        color: $black1;
                        font-size: 0.8em;
                        font-family: $font-bornan-extbold;
                        @include box-shadow(1px 1px 6px $gray4);
                        line-height: 0.9;
                        padding: 4px 5px;
                    }
                }
            }
        }
    }
}

.info-event {
    @include display-flex();
    @include flex(0 1 100%);
    &__dsv {
        color: $lightGray;
        @include display-flex();
        @include flex(0 1 100%);
        font-size: 0.9em;
        &__date {
            display: block;
            p {
                margin-left: 2px;
            }
            span {
                line-height: 16px;
                @include display-flex();
                font-size: 1em;
                margin-bottom: 0px;
            }
        }
        &__venue {
            @include align-items(center);
            @include display-flex();
            @include flex(0 1 100%);
            @include justify-content(center);
            span {
                font-size: 1.1em;
            }
        }
        &__status {
            @include display-flex();
            @include align-items(center);
            span {
                @include align-items(center);
                @include display-flex();
                margin-left: 0.5em;
            }
            p {
                font-family: $font-disc-common;
                font-size: 1.3em;
                margin: 0 0 0 4px;
            }
        }
    }
    &__stats {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(center);
        @include flex(1);
        &__list {
            list-style: none;
            padding: 0;
            &__stat {
                width: 100%;
                &__val {
                    @include display-flex();
                    @include flex-direction(row);
                    margin: 0;
                    width: 100%;
                    &__number {
                        color: $blue3;
                        font-weight: 500;
                        font-family: $font-disc-common;
                        font-size: 20px;
                        @include display-flex();
                        @include align-items(center);
                        @include justify-content(center);
                        @include flex(1);
                        min-width: 50px;
                    }
                    &__text {
                        @include justify-content(center);
                        @include flex(1);
                    }
                }
            }
        }
    }
    &__rank {
        @include display-flex();
        @include flex(1);
        &__container {
            @include display-flex();
            @include flex-wrap(wrap);
            &__drs {
                @include display-flex();
                margin-top: 14px;
                &__rank {
                    @include display-flex();
                    margin-top: -4px;
                    p {
                        color: $black;
                        font-size: 1.1em;
                    }
                }
                &__flag {
                    @include display-flex();
                    @include flex-direction(column);
                    img {
                        border: none;
                        height: 19px;
                        @include box-shadow(2px 2px 3px $color-gray);
                        margin: 1px 10px 0px 7px;
                        vertical-align: middle;
                        width: 26px;
                    }
                    span {
                        color: $black;
                        font-size: 0.65em;
                        @include display-flex();
                        margin-left: 10px;
                        text-align: center;
                    }
                }
                &__avatar {
                    @include display-flex();
                    @include flex-direction(column);
                    p {
                        font-size: 0.9em;
                        margin-left: 15px;
                        margin-top: -3px;
                    }
                    img {
                        height: 42px;
                        @include box-shadow(1px 2px 0 rgba(0, 0, 0, 0.16));
                        object-fit: cover;
                        overflow: hidden;
                        margin-left: 13px;
                        width: 42px;
                    }
                    span {
                        color: $black;
                        font-size: 0.9em;
                        &:hover {
                            color: var(--bornan-color);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &__h2h {
        @include display-flex();
        @include flex(0 1 27%);
        @include flex-direction(column);
        @include justify-content(space-around);
        padding: 2px 0px 5px 15px;
        position: relative;
        &.fill {
            @include flex(1);
            height: auto;
        }
        &__tag {
            @include display-flex();
            @include flex(0 1 87%);
            @include align-items(center);
            color: $blue3;
            font-family: $font-disc-common;
            &__flag {
                @include display-flex();
                @include flex(0 1 17%);
                @include align-items(center);
                img {
                    @include box-shadow(2px 2px 3px $color-gray);
                    height: 21px;
                    margin: 0 5px;
                    vertical-align: middle;
                    width: 35px;
                }
                span {
                    font-size: 1.4em;
                }
            }
            &__double {
                @include display-flex();
                @include justify-content(center);
                @include align-items(center);
                @include flex-direction(column);
                @include flex(1);
                span {
                    font-size: 1.6em;
                    padding: 1px 0;
                }
            }
            &__name {
                @include display-flex();
                @include flex(0 1 42%);
                padding: 1px 3px;
                span {
                    font-size: 1.6em;
                    font-family: $font-bornan-extbold;
                }
            }
            &__set {
                @include display-flex();
                @include justify-content(center);
                @include flex(0 1 20%);
                span {
                    font-size: 1.3em;
                }
                &__sets {
                    @include align-items(center);
                    align-self: center;
                    background: $white2;
                    @include border-radius(4px);
                    @include display-flex();
                    @include justify-content(center);
                    @include flex(0 1 20%);
                    color: var(--bornan-color);
                    color: $blue3;
                    border: 1px solid $lightGray0;
                    height: 27px;
                    outline: none;
                    text-decoration: none;
                    font-size: 1.8em;
                    p {
                        margin-left: 2px;
                    }
                }
                &__games {
                    @include display-flex();
                    @include justify-content(center);
                    @include flex(0 1 20%);
                    font-size: 1.8em;
                    display: none;
                }
            }
            &__result {
                @include display-flex();
                @include flex(0 1 25%);
                p {
                    font-size: 1.3em;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    &__notH2h {
        @include display-flex();
        @include flex(1);
        position: relative;
        &__list {
            list-style: none;
            @include display-flex();
            @include flex-wrap(wrap);
            @include flex(1);
            margin: 0;
            padding: 2px 0 2px 0px;
            &__player {
                @include flex(0 1 33%);
                @include display-flex();
                @include justify-content(center);
                @include align-items(self-start);
                @include flex-direction(column);
                margin: 6px 0;
                //overflow: hidden;
                &__container {
                    background-color: $lightGray1;
                    @include box-shadow(1px 1px 6px $gray);
                    padding: 0;
                    @include display-flex();
                    @include align-items(center);
                    width: 95%;
                    &__avatar {
                        @include display-flex();
                        @include box-shadow(-11px 0px 8px rgba(233, 233, 233, 0.9));
                        position: relative;
                        img {
                            height: 42px;
                            @include box-shadow(1px 2px 0 rgba(0, 0, 0, 0.16));
                            max-height: 42px;
                            max-width: 33px;
                            object-fit: cover;
                            padding: 0;
                        }
                    }
                    &__info {
                        @include display-flex();
                        @include flex-direction(column);
                        @include flex(1);
                        @include align-items(flex-start);
                        overflow: hidden;
                        padding: 0px 0 0 5px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &__flag {
                            @include display-flex();
                            @include align-items(self-start);
                            img {
                                width: 30px;
                            }
                            span {
                                font-size: 0.9em;
                                font-weight: bold;
                                padding-left: 4px;
                            }
                        }
                        &__name {
                            font-weight: 400;
                            margin: 0;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }
    }
    &__status {
        border-top: 1px solid $gray1;
        @include display-flex();
        @include flex(0 1 8%);
        @include align-items(center);
        @include justify-content(center);
        font-family: $font-disc-common;
        padding: 6px 0;
        span {
            color: $lightGreen;
            font-size: 1.1em;
            font-family: $font-bornan-extbold;
        }
    }
    &__video {
        iframe {
            border: none;
            height: 100%;
        }
    }
}

@media (min-width: 992px) {
    .info__dtu {
        height: 160px;
        width: 245px;
    }
    .info-event {
        &__notH2h {
            &__list {
                padding: 2px 0 2px 11px;
                &__player {
                    margin: 0;
                    &__container {
                        width: 88%;
                    }
                }
            }
        }
        &__status {
            border: none;
            padding: 0;
        }
    }
}

@media (min-width: 1200px) {
    .info__dtu {
        width: 320px;
    }
}
