div.clb {
    @include display-flex();
    @include flex(none);
    > p.clb__result {
        //margin-right: 20px;
        font-weight: 600;
    }
    > p.clb__tat {
        margin-right: 10px;
    }
    > p.clb__taz {
        margin-right: 5px;
    }
}

.split .clb__split-result {
    .res-none,
    .res-top,
    .res-bonus,
    .res-fail {
        width: 32px;
        height: 32px;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 3px;
        background-size: 100%;
        position: relative;
    }

    .res-none {
        background-color: $color-splitclbsplitresult-resnone-bg;
        border-radius: 3px;
    }
    .res-fail {
        background-color: $color-splitclbsplitresult-resfail-bg;
        border-radius: 3px;
    }
    .res-top {
        background-color: $color-splitclbsplitresult-restop-bg;
        border-radius: 3px;
    }
    .res-bonus {
        background-color: $color-splitclbsplitresult-resbonus-bg;
        background-image: '';
        border-radius: 3px;
    }
    &__top,
    &__bonus {
        position: absolute;
        font-size: 90%;
        font-weight: 600;
        color: $color-splitclbsplitresult-topbonus;
        line-height: 1;
    }
    &__top {
        left: 3px;
        top: 1px;
    }
    &__bonus {
        right: 2px;
        bottom: 2px;
    }
}

.clb__split-result {
    .res-none,
    .res-top,
    .res-bonus,
    .res-fail {
        width: 0px;
        height: 0px;
    }
    &__top,
    &__bonus {
        color: white;
    }
}
