.h2h-result {
    padding: 0.5rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-primary-25;
    @media (max-width: $breakpoint-small) {
        padding: 0.4rem;
        padding-bottom: 1rem;
    }
    .splits-title {
        background: $color-surface-lighter;
        margin: 0.5rem 0;
    }
    &__splits-title {
        color: $color-on-surface-lighter;
        font-size: 0.8rem;
        font-family: $font-monospace;
        span {
            line-height: 1.1;
        }
    }
    &__competitor {
        color: $color-h2h-result-competitor;
        @include display-flex();
        @include align-items(center);
        @include flex-wrap(wrap);
        position: relative;
        &__info {
            @include display-flex();
            @include align-items(center);
            @include flex(0 1 100%);
            max-width: 100%;
            &__flag {
                @include display-flex();
                @include align-items(center);
                min-width: 70px;
                img {
                    height: auto;
                    margin: 0 7px;
                    width: 29px;
                }

                span {
                    font-size: 14px;
                    color: $color-h2hresult-competitor-info-flag;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                }
            }
            &__double,
            &__name {
                @include display-flex();
                @include align-items(center);
                @include flex(auto);
                //max-width: calc(100% - 70px);
                overflow: hidden;
                padding: 0 3px 0 7px;
                &__list {
                    @include flex(1);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    &__player {
                        @include display-flex();
                        line-height: 1.4em;
                    }
                }

                span {
                    color: $color-h2hresult-competitor-info-doublename;
                    font-size: 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 98%;
                }
            }
            &__double__list {
                padding: 5px 0;
            }
        }

        &__detail-results {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: $font-results-numbers;
            flex: 0 1 20%;
            &__splits-title {
                //border: 1px solid red;
            }
            &__split {
                //border: 1px solid red;
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                @include flex(1);
                padding: 0;
                p {
                    color: $color-primary;
                    font-size: 1.2rem;
                    margin-bottom: 3px;
                    position: relative;
                    &.winner:after {
                        background: $color-surface-winner;
                        bottom: 0px;
                        content: '';
                        height: 6px;
                        left: -2px;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        width: 6px;
                        z-index: 0;
                    }
                }
            }

            &__total-rs {
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                @include flex(1);
                p {
                    color: $color-primary;
                    font-size: 1.6rem;
                    line-height: 22px;
                }
            }
            &__total-rs-fen {
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                @include flex(0 1 100%);
                .res {
                    width: 100%;
                }
                p {
                    // border: 1px solid #a8c7d5;
                    color: $color-h2hresult-competitor-detailresults-totalrsfen-p;
                    font-size: 28px;
                    border-radius: 4px;
                    line-height: 22px;
                    margin: 0;
                    min-height: 32px;
                    width: 100%;
                    padding: 4px 4px 6px 4px;
                }
            }
        }

        &.winner {
            &:before {
                background-color: $color-h2hresult-competitor-winnerbefore-bg;
                content: '';
                height: 100%;
                @include box-shadow(1px 1px 6px $lightGold);
                @include border-radius(4px);
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
            .result-unit__competitor {
                &__flag,
                &__name,
                &__double,
                &__detail-results {
                    z-index: 1;
                }
                &__detail-results__total-rs p {
                    color: $color-h2hresult-competitor-winner-resultunitcompetitor-detailsresulttotalrs;
                }
                &__double span,
                &__name span {
                    font-weight: 700;
                    color: $color-h2hresult-competitor-winner-resultunitcompetitor-name;
                }
            }
        }
    }
}

.h2h-result__competitor__detail-results__fbs-pso-rs {
    @include flex(1);
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    p {
        background-color: $color-h2hresult_competitor_detailresults_fbspsors-p-bg;
        border: 1px solid $color-h2hresult_competitor_detailresults_fbspsors-p-border;
        //color: $resultGold;
        color: $color-h2hresult_competitor_detailresults_fbspsors-p;
        font-size: 35px;
        @include border-radius(4px);
        line-height: 22px;
        margin: 0;
        min-height: 32px;
        min-width: 38px;
        padding: 4px 4px 6px 4px;
    }
}

.h2h-result__competitor__detail-results__bte {
    @include flex(1);
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    p {
        background-color: $color-h2hresult_competitor_detailresults_bte-p-bg;
        color: $color-h2hresult_competitor_detailresults_bte-p;
        font-size: 35px;
        @include border-radius(4px);
        line-height: 22px;
        margin: 0;
        min-height: 32px;
        min-width: 38px;
        padding: 8px 8px 10px 8px;
    }
    img.serve {
        max-height: 25px;
    }
}
