.header-section-container {
    background-position-y: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    @include display-flex();
    position: relative;
    z-index: 1;
    &:after {
        content: '';
        background: $color-header-section-container-after-bg;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &.ath {
        background-position-y: 24%;
    }
    &__discipline {
        height: 100%;
        @include display-flex();
        @include align-items(flex-end);
        @include justify-content(center);
        @include flex(1);
        padding-bottom: 3rem;
        gap: 1rem;
        border: 3px solid green;
        &__picto {
            height: $header-section-container-picto-height;
            width: $header-section-container-picto-width;
        }
        &__text {
            p {
                color: $color-header-section-container-after-p;
                line-height: 1em;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
                font-size: 1.6em;
            }
        }
    }
    &__entries {
        @include display-flex();
        @include flex(1);
        z-index: 2;
        &__list {
            @include display-flex();
            @include justify-content(center);
            @include flex-wrap(wrap);
            @include align-items(center);
            @include flex(1);
            list-style: none;
            margin: 0;
            padding: 0;
            &__entrie {
                &__button {
                    background-color: $white;
                    border: none;
                    color: $gray3;
                    cursor: pointer;
                    font-family: $font-bornan-extbold;
                    font-size: 1.3em;
                    @include border-radius(50%);
                    @include transition(all 0.4s);
                    margin: 0 6px;
                    min-width: 40px;
                    opacity: 0.7;
                    outline: none;
                    padding: 5px;
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    &.currentEvent,
                    &.router-link-active {
                        color: var(--secundary-color);
                        opacity: 1;
                        &:hover {
                            color: var(--secundary-color);
                            .header-section-container__entries__list__entrie__button__tooltip {
                                color: var(--secundary-color);
                            }
                        }
                    }
                    &:not(.currentDay):hover {
                        @include box-shadow(0px 2px 6px $black1);
                        @include transform(translateY(-2px));
                    }
                    &:hover {
                        color: inherit;
                        .header-section-container__entries__list__entrie__button__tooltip {
                            color: $white;
                            font-size: 12px;
                            opacity: 1;
                        }
                    }
                    &__tooltip {
                        background-color: $black1;
                        font-size: 0;
                        @include border-radius(4px);
                        @include transition(all 0.5s);
                        left: 0;
                        opacity: 0;
                        padding: 6px;
                        position: absolute;
                        top: 41px;
                        width: 70px;
                        z-index: 99;
                    }
                }
            }
        }
    }
    &_sub {
        height: $header-section-container-header-height;
        @include flex-wrap(wrap);
        filter: grayscale(0%) contrast(1);
        -webkit-filter: grayscale(0%) contrast(1);
    }
}

.hiddenHeader {
    .header-section-container-submenu__list__element {
        &:first-child {
            .header-section-container-submenu__list__element__link:after {
                display: block;
            }
        }
    }
}

.header-section-container-submenu {
    background-color: $color-headersectioncontainersubmenu-bg;
    border-bottom: 2px solid $color-headersectioncontainersubmenu-border;
    @include display-flex();
    @include align-items(center);
    flex-wrap: wrap;
    width: 100%;
    z-index: 7;
    &__disc {
        @include display-flex();
        @include align-items(center);
        overflow: hidden;
        padding-right: 5px;
        width: 0;
        &__picto {
            height: 0;
            margin-right: 7px;
            width: 0;
        }
        &__title {
            font-size: 0;
            @include transition(all 0.5s);
            p {
                color: $color-on-surface;
                font-weight: 700;
                margin: 0;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }
    &__list {
        @include display-flex();
        @include flex-direction(row);
        justify-content: center;
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 2rem 0;
        border: 3px solid red;
        &__element {
            margin: 0 4px;
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
            &:first-child {
                .header-section-container-submenu__list__element__link:after {
                    display: none;
                }
            }
            &__disc {
                max-height: 30px;
            }
            &__text {
                color: $color-headersectioncontainersubmenu-list-element-text;
                font-size: 0.95em;
                margin: 0 8px 0 5px;
            }
            &__link {
                background-color: $color-secondary-variant;
                border: 0px solid red;
                color: $color-primary-50;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                @include display-flex();
                @include justify-content(center);
                @include transition(all 0.3s);
                text-transform: uppercase;
                padding: 0.8rem 2rem;
                @media (max-width: 500px) {
                    padding: 0.6rem 1.4rem;
                    font-size: 0.8rem;
                }
                // &:after {
                //     background: $color-headersectioncontainersubmenu-list-element-link-after-bg;
                //     content: '';
                //     height: 70%;
                //     @include transform(translateY(-50%));
                //     left: -16px;
                //     position: absolute;
                //     top: 50%;
                //     width: 1px;
                // }
                &.router-link-active,
                &:hover,
                &:active {
                    background-color: $color-secondary;
                    color: $color-on-secondary;
                }
            }
        }
    }
    .filters-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .presentation {
            flex: 1 1 100%;
        }
        .filters-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .filters-options {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .option {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .label {
                    font-size: 0.8rem;
                }
                .select {
                    border: 1px dotted red;
                }
            }
        }
    }
    &__filters {
        flex: 1 1 100%;
        @include display-flex();
        @include align-items(center);
        justify-content: center;
        position: relative;
        width: 100%;
        margin-top: 1rem;
        z-index: 8;
        @media (max-width: $breakpoint-small) {
            margin-top: 0.5rem;
        }
        &.opened-modal-fitler {
            .header-section-container-submenu__filters__modal {
                height: auto;
                opacity: 1;
                overflow: visible;
            }
        }
        /* BOTON de FILTERS generales */
        &__button {
            background-color: $color-header-submenu-button-bg;
            border: 2px solid $color-header-submenu-button-border;
            color: $color-header-submenu-button;
            cursor: pointer;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: -0.5px;
            @include flex(inherit);
            white-space: nowrap;
            position: relative;
            padding: 0.5rem 1rem;
            z-index: 2;
            .fa-search {
                color: $color-header-submenu-button-fasearch;
                font-size: 0.9em;
                padding-right: 4px;
            }
            .fa-times {
                color: $color-header-submenu-button-fatimes;
                font-size: 0.9em;
                padding-right: 4px;
            }
        }
        &__modal {
            font-size: 16px;
            height: 0;
            @include box-shadow(1px 2px 6px $gray2);
            @include transition(all 0.5s);
            min-width: max-content;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            top: 46px;
            z-index: 5;
            &__close {
                position: absolute;
                top: -10px;
                color: $live;
                right: -12px;
                background-color: $white;
                border: 1px solid $live;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                font-size: 0.8em;
                padding: 0 0 0 1px;
                box-shadow: 1px 1px 6px $gray1;
            }
            &__list {
                border: 1px solid $lightGray1;
                background-color: $white2;
                list-style: none;
                margin: 0;
                padding: 5px;
                &__filter {
                    @include align-items(center);
                    @include display-flex();
                    @include justify-content(space-between);
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &__label {
                        margin: 0 6px 0 0;
                    }
                }
            }
            &.visible {
                height: auto;
                opacity: 1;
                overflow: visible;
            }
        }
        &__selected {
            margin-left: 12px;
            overflow: auto;
            &__list {
                @include display-flex();
                @include align-items(center);
                list-style: none;
                margin: 0;
                padding: 2px 0;
                &__filter {
                    background-color: $color-submenu-filters-selected-bg;
                    color: $color-submenu-filters-selected;
                    cursor: pointer;
                    font-size: 15px;
                    letter-spacing: -0.5px;
                    height: 100%;
                    @include animation(showfilter 0.5s 1);
                    @include display-flex();
                    @include align-items(center);
                    @include transition(all 0.5s);
                    @include justify-content(space-between);
                    margin-right: 3px;
                    min-width: max-content;
                    overflow: hidden;
                    padding: 3px 6px;
                    &:hover {
                        @include box-shadow(1px 1px 3px $lightGray3);
                    }
                    &__text {
                        height: 100%;
                        margin: 0;
                        padding: 0 0 0 3px;
                    }
                    .fa-times {
                        background-color: $color-submenu-filters-selected-fatimes_bg;
                        border: 1px solid $color-submenu-filters-selected-fatimes_border;
                        border-left: 0;
                        color: $color-submenu-filters-selected-fatimes;
                        height: 100%;
                        line-height: 23px;
                        margin-left: 5px;
                        font-size: 0.85rem;
                    }
                }
            }
        }
        &__search-ath {
            background-color: $color-header-submenu-button-bg;
            border: 2px solid $color-header-submenu-button-border;
            color: $color-header-submenu-button;
            margin-left: 0.5rem;
            padding: 0.5rem 0.3rem 0.5rem 1rem;
            display: flex;
            place-content: center;
            height: 43px;
            i.far {
                color: $color-header-submenu-button;
                padding: 5px 6px 0 0;
            }
            input {
                background: transparent;
                border: none;
                font-size: 16px;
                font-weight: 300;
                max-width: 120px;
                border-bottom: 0px dotted $color-primary-25;
                color: $color-primary-25;
                &:hover,
                &:focus {
                    border: none;
                }
            }
        }
    }

    .container-animation-filter {
        background-color: $color-headersectioncontainersubmenu-containeranimationfilter-bg;
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        &.hiddenPanel {
            display: none;
        }
        &__text {
            @include transition(all 0.5s);
            position: fixed;
            top: 190px;
            left: 0;
            z-index: 2;
            p {
                color: $white;
                font-weight: 800;
                font-size: 1.5em;
                margin: 0;
                i {
                    color: $lightBlue;
                    margin-left: 100px;
                    @include animation(arrowLeft 2s infinite);
                }
                span {
                    display: block;
                    padding: 0.5em 1em;
                }
            }
        }
        &.showPanel {
            + .header-section-container-submenu__filters__button {
                &:before {
                    border: 2px solid $lightBlue;
                    content: '';
                    display: block;
                    height: 44px;
                    left: -8px;
                    position: absolute;
                    top: -8px;
                    width: calc(100% + 16px);
                    border-radius: 14px;
                }
            }
        }
    }
}

.leftnav.openedMenu ~ .main {
    .header-section-container-submenu {
        .container-animation-filter__text {
            left: 400px;
        }
    }
}

.body-section-container_selector {
    > .btn-group {
        margin: 8px;
        .btn.selector {
            margin: 0 3px;
            padding: 0.8rem 2rem;
            background-color: $color-bodymenu-btngroup-btnselector-bg;
            color: $color-bodymenu-btngroup-btnselector;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            outline: none;
            text-transform: uppercase;
            z-index: 0;
            border-radius: 0;
            @media (max-width: $breakpoint-small) {
                padding: 0.5rem 0.8rem;
                font-size: 0.8rem;
            }
            &.active {
                background-color: $color-bodymenu-btngroup-btnselector-active-bg;
                color: $color-bodymenu-btngroup-btnselector-active;
            }
            &:hover {
                background-color: $color-bodymenu-btngroup-btnselector-hover-bg;
                color: $color-bodymenu-btngroup-btnselector-hover;
            }
            > i {
                margin-right: 3px;
            }
        }
    }
}

.live-schedule {
    color: white;
    position: fixed;
    right: 55px;
    bottom: 10px;
    z-index: 2;
    height: 45px;
    background: $color-live-schedule-bg;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    border: none;
    span {
        margin: 10px;
    }
}

.live1 {
    color: $color-live1;
    position: fixed;
    right: 450px;
    bottom: 10px;
    z-index: 2;
    height: 45px;
    background: $color-live1-bg;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    border: none;
    span {
        margin: 10px;
    }
}

@keyframes showfilter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hiddenHeader {
    position: relative;
    .header-section-container-submenu {
        background-color: $hiddenHeader-bg;
        position: fixed;
        top: $hiddenHeader-top;
        width: 100%;
        height: $hiddenHeader-height;
        z-index: 4;
        &__disc {
            position: absolute;
            left: 1.1rem;
            top: 1.6rem;
            @include flex(0 0 auto);
            padding-right: 5px;
            width: auto;
            &__picto {
                height: 31px;
                width: auto;
            }
            &__title {
                font-size: 1em;
            }
        }
    }
    .body-section-container_sub {
        padding-top: 100px;
    }
}

@media (max-width: 480px) {
    .hiddenHeader .header-section-container-submenu {
        @include flex-wrap(wrap);
        &__disc {
            @include flex(0 1 100%);
            border-bottom: 1px solid $gray1;
            margin-bottom: 6px;
            padding-bottom: 2px;
        }
    }
}

@media (min-width: 768px) {
    .header-section-container-submenu {
        .container-animation-filter {
            &__text {
                left: 250px;
                p {
                    i {
                        margin-left: 0;
                        margin-right: 14px;
                    }
                    span {
                        display: inline;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .live-schedule {
        color: $color-live-schedule-sm;
        position: fixed;
        right: 10px;
        bottom: 30px;
        z-index: 2;
        height: 45px;
        background: $color-live-schedule-sm-bg;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2em;
        border: none;
        span {
            margin: 10px;
        }
    }
}

// @media (min-width: 992px) {
//     .header-section-container {
//         height: 200px;
//         &_sub {
//             height: 140px;
//         }
//     }
//     .hiddenHeader {
//         .header-section-container-submenu {
//             width: calc(100% - 102px);
//         }
//     }
// }
