.info-unit {
    @include display-flex();
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    @include flex(0);
    min-width: 100%px;
    position: relative;
    padding: 0.3em;
    &__date {
        background: $color-info-unit-bg;
        color: $color-info-unit;
        border: 1px solid $color-bluegreen-50;
        font-size: 1.1em;
        @include align-items(center);
        @include display-flex();
        @include flex-direction(column);
        margin: 0 0.2em;
        min-width: 55px;
        overflow: hidden;
        text-transform: uppercase;
        p {
            font-size: 17px;
            margin: 4px 0;
        }
        span {
            //background-color: $white;
            color: $color-info-unit-span;
            text-align: center;
            font-size: 1.2em;
            font-weight: 700;
            padding: 1px 4px;
            width: 100%;
        }
    }
    &__tu-container {
        height: auto;
        @include flex(1);
        padding: 0;
        text-align: center;
        &__title {
            color: $color-infounit-tucontainer-title;
            height: 100%;
            &__link {
                color: $color-infounit-tucontainer-title-link;
                @include display-flex();
                @include flex-direction(column);
                @include flex(1);
                @include transition(color 0.5s);
                line-height: 1.5em;
                text-decoration: none;
                text-transform: uppercase;
                height: 100%;
                &:hover,
                &:active {
                    color: $color-infounit-tucontainer-title-link-active;
                }
                > span {
                    font-size: 1.2em;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                    height: 100%;
                    @include align-items(center);
                    @include display-flex();
                    @include flex-direction(column);
                    @include justify-content(space-around);
                    min-height: 76px;
                    span {
                        font-size: 0.8em;
                        font-weight: 500;
                        @include align-items(center);
                        @include display-flex();
                        .fa-medal {
                            color: $running;
                            font-size: 1em;
                            font-weight: 900;
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }

    /* HORA y venue en la caja de un PARTIDO */
    &__dsv {
        color: $color-infounit-dsv;
        @include display-flex();
        @include flex(0 1 100%);
        font-size: 0.9em;
        &__status {
            @include display-flex();
            @include align-items(center);
            max-width: 60px;
            span {
                @include align-items(center);
                @include display-flex();
                margin-left: 0.2em;
            }
            p {
                color: $color-infounit-dsv-status-p;
                font-weight: 400;
                font-size: 1em;
                margin: 0 0 0 8px;
            }
        }
        &__venue {
            @include align-items(center);
            @include display-flex();
            @include flex(1);
            @include justify-content(center);
            span {
                font-size: 15px;
                font-weight: 700;
            }
            &__desc {
                width: 100%;
                &__match {
                    width: 100%;
                    color: $color-infounit-dsv-venue-match;
                    margin: 0px;
                    font-weight: 600;
                }
                &__court {
                    width: 100%;
                    color: $color-infounit-dsv-venue-court;
                    margin-top: 5px;
                }
            }
        }
    }
}

.thread-live {
    color: $color-threadlive;
    font-weight: 500;
    border: 1px solid $color-threadlive-border;
    font-size: 13px;
    line-height: 1;
    padding: 0 3px;
    border-radius: 2px;
    margin-left: 6px;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .info-unit {
        min-width: 330px;
    }
}
