.match-stats-selector {
    margin: 0 auto;
    padding: 1rem;

    &__categories {
        margin: 0 auto;
        @include display-flex();
        @include justify-content(space-between);
        @include align-items(center);
        &.center {
            @include justify-content(center);
        }
        @media (max-width: $breakpoint-small) {
            @include flex-direction(column);
            margin-bottom: 6px;
        }
        &__list {
            @include display-flex();
            @include justify-content(center);
            @include flex-wrap(wrap);
            text-transform: uppercase;
            font-weight: 700;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &__elem {
            background-color: $white;
            border: 2px solid $color-primary;
            color: $color-primary;
            padding: 5px 20px;
            margin: 0px 8px 3px 8px;
            cursor: pointer;
            &.active {
                color: $white;
                border: none;
                background: $color-primary;
                @include transition(background-color 0.5s);
            }
        }
        &__button-show {
            background-color: transparent;
            color: $color-on-surface;
            font-size: 14px;
            min-height: 30px;
            font-weight: 400;
            display: inline-block;
            padding: 0.5rem 1rem;
            border: 2px solid $color-on-surface;
            cursor: pointer;
        }
    }

    &__legends {
        border-top: 0px solid $color-on-surface;
        background: transparent;
        padding: 15px 0;
        &__list {
            @include display-flex();
            @include flex-wrap(wrap);
            @include justify-content(space-evenly);
            &__item {
                background-color: transparent;
                color: $color-on-surface;
                font-size: 13px;
                font-weight: 400;
                display: inline-block;
                padding: 0.5rem 1rem;
                margin: 3px 0px;
                border: 2px solid $color-on-surface;
                span.key {
                    font-weight: 700;
                    margin-right: 4px;
                }
            }
        }
    }
}
