.match-stat {
    padding: 1rem;
    border-bottom: 1px solid $color-primary-25;
    // min-width: 400px;
    @media (max-width: $breakpoint-small) {
        padding: 1rem 0.4rem;
    }
    &__heading {
        padding: 1rem 1rem;
        color: $color-matchstat-heading;
        font-size: 1.5rem;
        font-weight: 800;
    }
    &__title {
        margin-top: 10px;
        @include display-flex();
        &__text {
            background-color: $color-matchstat-title-text-bg;
            color: $color-matchstat-title-text;
            font-size: 1.05em;
            @include align-items(center);
            @include display-flex();
            padding: 4px 7px 6px;
            outline: none;
            .fa-chart-bar {
                color: $color-matchstat-title-text-fachartbar;
                font-size: 1.15em;
                margin-right: 3px;
            }
            .fa-angle-down {
                font-size: 1.5em;
                @include transition(all 0.5s);
                @include transform(rotate(-90deg));
                line-height: 0.6em;
                margin-left: 25px;
            }
        }
    }
    &__content {
        padding: 7px 0;
        &__games {
            @include display-flex();
            @include justify-content(center);
            @include flex-wrap(wrap);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            padding: 1rem;
            margin: 0;
            &__game {
                background-color: transparent;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                padding: 0.5rem 1rem;
                margin: 0px 4px 3px 4px;
                cursor: pointer;
                &.active {
                    color: $color-on-secondary;
                    border: 2px solid transparent;
                    background: $color-secondary;
                }
                &:hover {
                    color: $color-on-secondary;
                    border: 2px solid transparent;
                    background: $color-secondary;
                }
            }
        }
        &__time {
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
            .fa-clock-o {
                color: $color-on-surface;
            }
            &__label {
                margin: 0 5px 0 2px;
            }
            &__value {
                color: $color-on-surface;
                font-weight: 600;
            }
        }
        &__competitors {
            @include display-flex();
            @include justify-content(center);
            .body-section-container_results__list__competitor__list__member__info.competitor {
                margin: 0px 5px;
                padding-left: 5px;
                // width: unset;
                // min-width: unset;
                // max-width: unset;
                @include flex(0 0 auto);
                background: transparent;
                border: 0;
                &.away {
                    align-items: flex-end;
                    padding-left: 0px;
                    padding-right: 5px;
                    &:before {
                        content: attr(data-bib);
                        position: absolute;
                        display: block;
                        float: left;
                        right: 100px;
                        top: 4px;
                        color: $color-on-surface;
                        font-size: 0.95em;
                        font-weight: 500;
                    }
                }
                .body-section-container_results__list__competitor__list__member__info__country {
                    margin-bottom: 6px;
                    padding: 0px;
                    //.body-section-container_results__list__competitor__list__member__info__country__org.away
                    //.body-section-container_results__list__competitor__list__member__info__country__country__org away
                    &__org.away {
                        margin: 0px 5px 0px 0px;
                    }
                }
            }
            &__fill {
                @include flex(0 0 28%);
            }
        }
        &__stats {
            margin-top: 4px;
            &__list {
                list-style: none;
                padding: 5px 0px;
                &__element {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &_desc {
                        padding: 0.5rem 0;
                        flex: 0 0 30%;
                        margin: 3px 0px;
                        background: $color-surface-lighter;
                        color: $color-on-surface-lighter;
                        font-weight: 300;
                    }
                    &_value {
                        flex: 0 0 30%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        color: $color-primary-dark;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 14px;
                        margin: 3px 0;
                    }
                }
            }
        }
    }
}

.container-medals {
    .row-medals {
        border: 4px solid red;
    }
}
