.match-stats-by-player {
    margin: 0 auto;
    padding: 1rem 2rem;
    @media (max-width: $breakpoint-small) {
        padding: 0.5rem 0.2rem;
    }
    .body-section-container_results__list__competitor__list__member__info {
        margin: 3px 10px;
        // min-width: 200px;
    }

    table.player-stats {
        padding: 1rem;
        width: 100%;
        background-color: $color-surface;
        color: $color-on-surface;
        td {
            border-bottom: 1px solid $color-on-surface-light;
        }
        tr > td {
            background-color: $color-surface;
        }
        tr.player-stats__member:hover {
            > td {
                background-color: $color-background;
            }
        }
        tr.player-stats__header {
            padding: 0.5rem;
            background: $color-primary;
            th {
                color: $color-on-primary;
                font-weight: 400;
                padding: 0.5rem;
            }
            @media (max-width: $breakpoint-small) {
                padding: 0.2rem;
                th {
                    font-weight: 100;
                    padding: 0.2rem 0;
                }
            }
        }
        td.fixed-col,
        th.fixed-col {
            position: sticky;
            left: 0;
            z-index: 2;
        }
        .player-stats__player {
            padding: 4px 0px;
            // min-width: 150px;
            &:after {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 2;
                width: 5px;
                background: $color-surface;
            }
            .player-stats__player__link {
                @include display-flex();
                @include align-items(center);
                padding: 0px 8px;
                height: 30px;
                text-decoration: none;
            }
            &__avatar {
                margin-left: 0.7rem;
                @media (max-width: $breakpoint-medium) {
                    display: none;
                }
                img {
                    height: 20px;
                    width: 20px;
                    // min-width: 20px;
                    border-radius: 50%;
                    vertical-align: sub;
                }
            }
            .player-stats__player__bib {
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                background: transparent;
                color: $color-on-surface;
                // width: 30px;
                // min-width: 30px;
                height: 30px;
                font-size: 1rem;
                font-weight: 500;
                padding: 0.5rem;
                @media (max-width: $breakpoint-medium) {
                    font-size: 0.8rem;
                    padding: 0.2rem 0;
                }
            }

            &__name {
                color: $color-on-surface;
                font-size: 1rem;
                line-height: 14px;
                text-align: left;
                margin-left: 0.6rem;
                @media (max-width: $breakpoint-medium) {
                    font-size: 0.8rem;
                    margin-left: 0.2rem;
                }
            }
        }
        td.stat-content {
            font-size: 13px;
            line-height: 30px;
            max-width: 120px;
            // min-width: 60px;
            padding: 4px 0px;
        }
        td.total {
            border-top: 0px solid #d5d5d5;
        }

        tr.player-stats__total {
            font-weight: 700;
        }
    }
}
