.result-unit {
    height: auto;
    @include display-flex();
    @include flex(auto);
    @include flex-direction(column);
    @include justify-content(space-around);
    position: relative;
    &__competitor {
        color: $blue3;
        @include display-flex();
        @include align-items(center);
        @include flex-wrap(wrap);
        position: relative;
        &__flag {
            @include display-flex();
            @include align-items(center);
            line-height: 2.8em;
            min-width: 70px;
            img.result-unit__competitor__flag__medal {
                width: 18px;
            }
            img {
                height: auto;
                margin: 0 5px;
                vertical-align: middle;
                width: 29px;
            }
            span {
                font-family: $font-monospace;
                font-size: 1.1em;
                color: $color-resultunit-competitor-flag-span;
                font-weight: 700;
                letter-spacing: -0.5px;
            }
        }

        &__double,
        &__name {
            /* height: 100%; */
            @include display-flex();
            @include align-items(center);
            @include flex(auto);
            /* max-width: calc(100% - 71px); */
            overflow: hidden;
            padding: 0 3px 0 7px;
            &_ath {
                max-width: calc(100% - 100px);
                padding: 0px 3px 0 8px;
            }
            &__list {
                @include flex(1);
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                &__player {
                    @include display-flex();
                    line-height: 1.4em;
                }
            }

            span {
                color: $color-resultunit-competitor-doublename-span;
                font-size: 1.3em;
                max-width: 99%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
            }
        }
        &__double__list {
            padding: 5px 0;
        }
        &__detail-results {
            @include display-flex();
            @include align-items(center);
            font-family: $font-results-numbers;
            @include justify-content(space-between);
            @include flex(0 1 100%);
            margin: 3px;
            &__splits {
                @include display-flex();
                @include align-items(center);
                @include justify-content(space-between);
                min-width: 77px;
                padding: 0;
                &__rs {
                    @include display-flex();
                    @include justify-content(center);
                    @include flex(1);
                    font-family: $font-results-numbers;
                    font-size: 1.8em;
                    padding: 0 3px;
                    position: relative;

                    p {
                        color: $color-resultunit-competitor-detailresults-splits-rs-p;
                        margin: 0;
                        min-width: 27px;
                        position: relative;
                        &.winner:after {
                            background-color: $color-resultunit-competitor-detailresults-splits-rs-p-winner-after-bg;
                            bottom: 0px;
                            content: '';
                            display: block;
                            height: 6px;
                            @include border-radius(50%);
                            left: 0;
                            margin: 0 auto;
                            position: absolute;
                            right: 0;
                            width: 6px;
                            z-index: 0;
                        }
                    }
                }
            }

            &__total-rs {
                @include display-flex();
                margin-right: 1em;
                p {
                    background-color: $color-resultunit-competitor-detailresults-totalrs-p-bg;
                    color: $color-resultunit-competitor-detailresults-totalrs-p;
                    font-size: 1.7em;
                    line-height: 22px;
                    margin: 0;
                    min-height: 32px;
                    min-width: 38px;
                    padding: 4px 4px 4px 6px;
                }

                .penalty {
                    background-color: $color-resultunit-competitor-detailresults-totalrs-penalty-bg;
                    color: $color-resultunit-competitor-detailresults-totalrs-penalty;
                    font-size: 1em;
                    line-height: 22px;
                    margin: 0;
                    min-height: 28px;
                    min-width: 34px;
                }
            }
        }
        &.winner {
            &:before {
                background-color: $color-resultunit-competitor-winner-before-bg;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
                margin: 0px 3px 0px -3px;
            }
            .result-unit__competitor {
                &__flag,
                &__name,
                &__double,
                &__detail-results {
                    z-index: 1;
                }
                &__detail-results__total-rs p {
                    color: $color-resultunit-competitor-winner-resultunitcompetitor-detailresults_totalrs;
                }
                &__double span,
                &__name span {
                    font-weight: 700;
                    color: $color-resultunit-competitor-winner-resultunitcompetitor-name;
                }
            }
        }
        .isBio {
            color: $color-resultunit-competitor-isBio;
        }
    }
    &__counters {
        @include flex(1);
        @include align-items(flex-start);
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(space-evenly);
        max-width: 60px;
        &__nocs,
        &__partics {
            min-width: 100%;
            font-size: 0.9em;
            padding: 0 1em;
            &__text {
                @include align-items(center);
                @include display-flex();
                @include justify-content(space-between);
                max-width: 170px;
            }
        }
        p {
            font-weight: 500;
            color: $color-resultunit-counters-p;
            font-size: 1.2em;
            margin: 0;
            span {
                font-family: $font-results-numbers;
                color: $color-resultunit-counters-p-span;
                font-size: 1.4em;
            }
        }
    }
}

.watch-live {
    color: $lightRed;
    background-color: $white2;
    border: solid 1px $lightRed;
    display: inline-block;
    font-weight: 800;
    @include border-radius(5px);
    @include transition(transform 0.3s);
    margin: 1em;
    padding: 5px 16px;
    &:hover {
        color: $lightRed;
        @include transform(scale(1.05));
    }
    .far,
    .fas {
        color: $lightRed;
        font-size: 0.9em;
        margin-right: 4px;
    }
}

@media (min-width: 768px) {
    .result-unit {
        &__competitor__detail-results {
            @include flex(initial);
            @include justify-content(center);
            padding: 0 0.5em;
            &__total-rs {
                margin-right: 0;
            }
        }
        &__counters {
            &__nocs,
            &__partics {
                min-width: 300px;
                font-size: 0.9em;
            }
        }
    }
}

@media (max-width: 768px) {
    .result-unit {
        &__competitor__detail-results {
            @include flex(initial);
            @include justify-content(center);
            padding: 0 0.5em;
            &__total-rs {
                margin-right: 0;
            }
        }
        &__counters {
            &__nocs,
            &__partics {
                min-width: 300px;
                font-size: 0.9em;
            }
        }
    }
}
@media (max-width: 1080px) {
    .result-unit {
        &__competitor__detail-results {
            @include flex(initial);
            @include justify-content(center);
            padding: 0 0.5em;
            &__total-rs {
                margin-right: 0;
            }
        }
        &__counters {
            &__nocs,
            &__partics {
                margin-left: -10px;
                font-size: 0.9em;
                &__text {
                    @include align-items(center);
                    @include display-flex();
                    @include justify-content(space-between);
                    max-width: 130px;
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    .result-unit {
        &__counters {
            &__nocs,
            &__partics {
                min-width: 300px;
                font-size: 1.1em;
            }
        }
    }
}
