.schedule-disicpline-event-unit {
    box-shadow: $schedule-discipline-event-uni-boxshadow;
    margin-bottom: 1em;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }

    &__container {
        background-color: $color-scheduledisicplineeventunit-container-bg;
        border-bottom: 2px solid $color-scheduledisicplineeventunit-container-border-bottom;
        border-right: 2px solid $color-scheduledisicplineeventunit-container-border-right;
        @include display-flex();
        @include flex-direction(column);
        min-height: 120px;

        position: relative;
        &.link {
            cursor: pointer;
            border: 1px solid $color-lightgray-50;
            margin: 0;
            padding: 1rem;
            @include transition(transform 0.3s);
            &:hover,
            &:active {
                @include transform(scale(1.01));
                .info-unit__tu-container__title__link {
                    color: $color-scheduledisicplineeventunit-container-link-active-infounit_tucontainer_title_link;
                }
            }
        }
    }
}

.container-animation-filter-modal-backdrop {
    background-color: transparent;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    &.hiddenPanel {
        display: none;
    }
}

.result-container-animation {
    &__value {
        @include transition(all 1s);
        &.updateV {
            @include animation(rotateRes 1s);
            &:after {
                opacity: 0;
            }
        }
        &_p {
            &_shido {
                margin-right: 2px;
                color: $color-resultcontaineranimation-value-p-shido;
                background-color: $color-resultcontaineranimation-value-p-shido-bg;
                box-shadow: 1px 1px 4px $color-resultcontaineranimation-value-p-shido-boxshadow;
            }
            &_hkm {
                margin-right: 2px;
                color: $color-resultcontaineranimation-value-p-hkm;
                background-color: $color-resultcontaineranimation-value-p-hkm-bg;
                box-shadow: 1px 1px 4px $color-resultcontaineranimation-value-p-hkm-boxshadow;
            }
            &_reason {
                font-weight: 500;
                text-transform: uppercase;
                color: $color-resultcontaineranimation-value-p-reason;
                margin-right: 2px;
            }
            &_reason-ten {
                font-weight: 500;
                color: $color-resultcontaineranimation-value-p-reasonten;
                margin-right: 2px;
                margin-bottom: 20px;
            }
            &_legend {
                font-weight: 500;
                font-size: 0.8em;
                text-transform: uppercase;
                color: $color-resultcontaineranimation-value-p-legend;
                margin-top: 10px;
                margin-bottom: 3px;
            }
            &_legend-1 {
                font-weight: 500;
                font-size: 0.8em;
                text-transform: uppercase;
                color: $color-resultcontaineranimation-value-p-legend1;
                margin-top: 0px;
            }
        }
    }
}

@media (min-width: 768px) {
    .schedule-disicpline-event-unit {
        &__container {
            @include flex-direction(column);
        }
    }
}

@media (min-width: 992px) {
    .schedule-disicpline-event-unit {
        &__container {
            @include flex-direction(row);
        }
    }
}
