.status-unit {
    // border-top: 5px solid transparent;
    // border-image-source: $color-status-unit-border-image-source;
    // border-image-slice: 1;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    // padding: 6px 0;
    text-transform: uppercase;
    span {
        background: orangered;
        color: $color-on-secondary;
        padding: 0.5rem 1rem;
        font-size: 1em;
        font-weight: 400;
        width: fit-content;
        border-radius: 4px;
        &.UNSCHEDULED {
            background: $unscheduled;
        }
        &.SCHEDULED {
            background: $scheduled;
        }
        &.DELAYED {
            background: $scheduled;
        }
        &.POSTPONED {
            background: $scheduled;
        }
        &.RESCHEDULED {
            background: $scheduled;
        }
        &.START_LIST {
            background: $startList;
        }
        &.RUNNING {
            background: $running;
        }
        &.LIVE {
            background: $running;
        }
        &.INTERRUPTED {
            background: $running;
        }
        &.GETTING_READY {
            background: $finished;
        }
        &.SCHEDULE_BREAK {
            background: $running;
        }
        &.FINISHED {
            background: $finished;
        }
        &.UNCONFIRMED {
            background: $finished;
        }
        &.UNOFFICIAL {
            background: $finished;
        }
        &.OFFICIAL {
            background: $official;
        }
        &.CANCELLED {
            background: $official;
        }
        &.PROTESTED {
            background: $live;
        }
        .fa-circle {
            animation-duration: 800ms;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            color: $color-on-secondary;
            font-weight: 700;
            font-size: 0.8rem;
            padding-left: 0.8rem;
        }
    }
}
