<template lang="pug">
.b-event-card
    //- DIA Y MES {{ getMonths(unit.DateTimeRaw) }} + {{ getDays(unit.DateTimeRaw) }}

    .b-content(@click='navigateToMatchCentre')
        //-p(@click='navigateToMatchCentre') match-centre
        .info
            //-p {{ unit.DateTimeRaw }}
            .hour(v-if='unit.Estimated') {{ getMonths(unit.DateTimeRaw) }}.{{ getDays(unit.DateTimeRaw) }} 
            .hour(v-else) {{ getMonths(unit.DateTimeRaw) }} {{ getDays(unit.DateTimeRaw) }} - {{ getHoursMinutes(unit.DateTimeRaw) }}
            .group {{ unit.EventDesc }}
            .round {{ unit.PhaseDescA }}
                span(v-if='unit.UnitDescA') - {{ unit.UnitDescA }}
                span.fa.fas.fa-medal(v-if='unit.Medal && unit.Medal !== "0"')
                //- span(v-if='unit.Medal && unit.Medal !== "0"') (medals)

            .venue
                p(v-if='venue && unit.VenueDesc') {{ unit.VenueDesc }}
                p(v-else-if='venue && unit.Venue') {{unit.Venue}}
                p(v-if='court && unit.LocDesc') {{ unit.LocDesc }}

        template(v-if='isPreMatch()')
            //- estado PREMATCH y es un Head2Head
            .pre-match(v-if='unit.Home && unit.Away')
                .home(:class='isWinner(unit.Home, unit.Status) ? "winner" : ""')
                    BNocLabel.start(:noc='unit.Home.Org', :description='unit.Home.Name', v-if='unit.Home.Name')
                .away(:class='isWinner(unit.Away, unit.Status) ? "winner" : ""')
                    BNocLabel.start(:noc='unit.Away.Org', :description='unit.Away.Name', v-if='unit.Away.Name')
                .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
                    div {{ unit.StatusDesc }}
            //- estado PREMATCH y es un listado de ATHs en el que hay Counters
            .pre-match(v-else-if='unit.Counters')
                span Nocs: {{ unit.Counters.Orgs }}
                span Competitors: {{ unit.Counters.Partics }}
                .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
                    div {{ unit.StatusDesc }}
            .pre-match(v-else)
                span 
                span 
                .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
                    div {{ unit.StatusDesc }}
        template(v-else)
            slot(name='results')
                h2h(:unit='unit' v-if='resultType === "h2h"', :showSplits='showSplits', :showSplitWinner='showSplitWinner', :no-final-result='noFinalResult')

                ath(:unit='unit' v-if='resultType === "ath"')

</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import datesMixin from '@/mixins/dates';
// Bornan UI
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BResultsRowColumn from '@/BornanUI/BResultsRowColumn.vue';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATHv2.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2Hv2.vue';

@Component({
    components: {
        BNocLabel,
        BResultsRowColumn,
        ath,
        h2h
    }
})
export default class BEventCard extends Mixins(datesMixin) {
    @Prop()
    unit!: any;
    @Prop()
    disc!: string;
    @Prop()
    resultType!: 'ath' | 'h2h';
    @Prop()
    showSplits?: boolean;
    @Prop({ default: false })
    showSplitWinner?: boolean;
    @Prop({ default: false })
    noFinalResult?: boolean;
    @Prop({ default: true })
    venue?: boolean;
    @Prop({ default: false })
    court?: boolean;

    isPreMatch(): boolean {
        //console.log(this.unitData.Status);
        const statusPreMatch = ['scheduled', 'start_list', 'getting_ready', 'unscheduled'];
        const status = (this.unit.Status || '').toLowerCase();
        return statusPreMatch.includes(status);
    }

    isWinner(unitData: any, unitStatus: string): boolean {
        const statusWithWinner = ['official', 'finished', 'unconfirmed', 'unofficial', 'protested'];
        if (unitData && unitData.WLT == 'W' && statusWithWinner.includes(unitStatus.toLowerCase())) {
            return true;
        }
        return false;
    }

    get unitDesc() {
        if (this.unit) {
            const isFinal = this.unit.Phase.substr(-4) == 'FNL-';
            if (isFinal && this.unit.UnitDescA != this.unit.PhaseDescA) return ` - ${this.unit.UnitDescA}`;
        }
        return '';
    }

    get unitStatusClass() {
        return (this.unit.Status || '').toLowerCase();
    }

    navigateToMatchCentre() {
        if (this.unit.ShowLink) {
            let disc = this.$route.params.disc;
            if (!disc) {
                disc = this.unit.Disc;
            }
            this.$router.push({ name: 'disc_results', params: { disc, rsc: this.unit.ResCode } });
        } else {
            console.log('showLink = false');
        }
    }
}
</script>
