<template lang="pug">
.b-match-centre(v-if='unitInfo')
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
    BMatchNocs(:competitors='competitors', :type='type')
    //-
    BMatchSectionTitle.sticky
        span {{$t('disciplines.periods')}}
    BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', :show='"columns"')

    template(v-if='unitInfo.isH2H')
        template(
            v-if='results && results.Stats && results.Stats.colStats && results.Stats.showStats && results.Stats.hasStats'
        )
            BMatchSectionTitle.sticky
                span {{$t('disciplines.team-stats')}}
            period-stats(:competitors='competitors', :periods='[]', :desc-stats='results.Stats.colStats.teams')
        template(
            v-if='results && results.Stats && results.Stats.colStats && results.Stats.showStats && results.Stats.hasStats'
        )
            BMatchSectionTitle.sticky
                span Player Statistics
            stats-players(:competitors='competitors', :list-stats='results.Stats.colStats.players')
    template(v-else)
        .body-section-container_results__disc.body-section-container_results__disc_ath
            score-ath(
                :competitors='competitors',
                :periods='results.Results.Periods',
                :type='unitInfo ? unitInfo.Type : "T"',
                :show-split='true'
            )
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';

import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/v2/StatsPeriod.vue';
import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchResultsPeriod from '@/BornanUI/components/BMatchResultsPeriod.vue';

/* eslint-disable */
@Component({
    components: {
        officials,
        scoreh,
        periodResp,
        scoreAth,
        periodStats,
        statsPlayers,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchResultsPeriod
    }
})
/* eslint-enable */
export default class BKBResults extends Vue {
    @Prop()
    declare results: any;
    //
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasOfficials = false;
    type = '' as string;

    @Watch('results')
    setValues(value: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.type = '';
            return;
        }

        this.competitors = value.Competitors;

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
        // console.log(this.$props.results.Stats.colStats);
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
