<template lang="pug">
BEventCard(:unit='unit', :disc='"BKB"', resultType='h2h',  :show-splits='true', :show-split-winner='false', :bio='bio')

//- h2h(
//-     v-if='unit && unit.isH2H && unit.Home.Splits.length < 2',
//-     :unit='unit',
//-     :show-splits='false',
//-     :show-winner='false',
//-     :bio='bio'
//- )

//- h2h(
//-     v-else-if='unit && unit.isH2H && unit.Home.Splits.length > 1',
//-     :unit='unit',
//-     :show-splits='true',
//-     :show-winner='false',
//-     :bio='bio'
//- )

//- ath(v-else-if='unit && !unit.isH2H', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
// BornanUI
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, h2h, BEventCard }
})

/* eslint-enable */
export default class BKBSchUnit extends Vue {}
</script>
