<template lang="pug">
.b-match-centre
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"scores"')
    BMatchNocs(:competitors='competitors', :type='type')

    template(v-if='hasPeriods')
        BMatchSectionTitle.sticky
            span Periods
        BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', :show='"columns"')
        //-BMatchResultsPeriod.no-final(:competitors='competitors', :periods='results.Results.Periods', :show='"rows"')
        //- period-resp(
        //-     :competitors='competitors',
        //-     :periods='results.Results.Periods',
        //-     :display-periods='displayPeriods',
        //-     :show-winner='false'
        //- ) 
    template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
        BMatchSectionTitle.sticky
            span Team Statistics
        period-stats(
            :show-button='false',
            :competitors='competitors',
            :periods='results.Results.Periods',
            :display-periods='displayPeriods',
            :desc-stats='results.Stats.colStats.teams',
            :match-duration='results.Duration'
        )
    template(v-if='results && results.Stats.showStats && results.Stats.hasStats')
        BMatchSectionTitle.sticky
            span Player Statistics
        stats-players(
            :competitors='competitors',
            :list-stats='results.Stats.colStats.players',
            :checkPosition='isGoalkeeper'
        )
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';

import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchResultsPeriod from '@/BornanUI/components/BMatchResultsPeriod.vue';

/* eslint-disable */
@Component({
    components: {
        officials,
        scoreh,
        periodResp,
        statsPlayers,
        periodStats,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchResultsPeriod
    }
})
/* eslint-enable */
export default class HBLResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];
    type = '' as string;
    //
    @Prop()
    results: any;

    @Watch('results')
    setValues(value: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.displayPeriods = [];
            this.type = '';
            return;
        }

        this.competitors = value.Competitors;
        //this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.hasPeriods = value.Results.CurrentPeriod && parseInt(value.Results.CurrentPeriod) > 0;
        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [true, true, currP == 3];

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }
    isGoalkeeper(competitor: any, position: string) {
        if (position == '*') return true;
        return competitor.Position == 'GK' || competitor.Sport.Goalkeeper == 'true';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
