<template lang="pug">
BEventCard(:unit='unit', :disc='"HBL"', :show-split-winner='false', :show-splits='true', :bio='bio',  resultType='h2h')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import h2h from '@/components/DisciplinesMatchCentre/FBL/H2HFootball.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

@Component({
    props: ['unit', 'bio'],
    components: { h2h, BEventCard }
})
export default class FBLSchUnit extends Vue {}
</script>
