<template lang="pug">
li.schedule-disicpline-event-unit
    .schedule-disicpline-event-unit__container(
        :class='[$route.params.disc, unit.ShowLink ? "link" : "no-link"]',
        @click='navigateToUnit(unit.ShowLink, $route.params.disc, unit.Key)'
    )
        .info-unit
            .info-unit__date
                //- h3 __test__ath
                p {{ getMonths(unit.DateTimeRaw) }}
                span {{ getDays(unit.DateTimeRaw) }}
            .info-unit__tu-container
                .info-unit__tu-container__title
                    .info-unit__tu-container__title__link
                        span {{ unit.EventDesc }}
                            slot(name='unit-title')
                                span {{ unit.PhaseDescA }}{{ unitDesc }}
                                    span.fa-lg.fas.fa-medal(v-if='unit.Medal && unit.Medal !== "0"')

            .info-unit__dsv
                .info-unit__dsv__status
                    span.fas.fa-clock
                    p {{ getHoursMinutes(unit.DateTimeRaw) }}
                .info-unit__dsv__venue
                    slot(name='unit-place')
                        span {{ unit.VenueDesc }}
        .result-unit(ref='resUni')
            .result-unit__counters(v-if='unit.Counters && !unit.Results')
                .result-unit__counters__nocs
                    p.result-unit__counters__nocs__text {{ $t("schedule.num-noc") }}
                        span {{ unit.Counters.NOCs }}
                .result-unit__counters__partics
                    p.result-unit__counters__partics__text {{ $t("schedule.num-comp") }}
                        span {{ unit.Counters.Partics }}
            template(v-if='unit.Results')
                .result-unit__competitor(v-for='(competitor, indexCom) in unit.Results', :key='competitor.Reg')
                    .result-unit__competitor__flag
                        img.result-unit__competitor__flag__medal(
                            v-if='competitor.Medal',
                            :src='getMedals(competitor.Medal)'
                        )
                        img(v-if='competitor.Org && competitor.Org !== "BYE"', :src='flag(competitor.Org)')
                        span {{ competitor.Org }}
                    .result-unit__competitor__name(:class='{ "result-unit__competitor__name_ath": competitor.Medal }')
                        template(v-if='bio')
                            span(:class='isBio(competitor, bio) ? "isBio" : ""') {{ competitor.Name }}
                        template(v-else)
                            span {{ competitor.Name }}
                    .result-unit__competitor__detail-results
                        .result-unit__competitor__detail-results__total-rs(v-if='competitor.Result')
                            ResultAnimated(:type='"p"', :res='competitor.Result')
        .status-unit
            span(:class='unit.Status') {{ unit.StatusDesc }}
                i.far.fa-circle(v-if='unit.IsLive')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import ResultAnimated from './ResultAnimated.vue';
import ResizeObserver from 'resize-observer-polyfill';

@Component({
    mixins: [Images, Dates],
    props: ['unit', 'bio'],
    components: { ResultAnimated }
})
export default class ATH extends Vue {
    observer: any = null;

    get unitDesc() {
        const unit = this.$props.unit;
        if (unit && unit.UnitDescA) {
            if (unit.UnitDescA != unit.PhaseDescA) return ` - ${unit.UnitDescA}`;
        }
        return '';
    }

    navigateToUnit(hasLink: boolean, disc: string, key: string) {
        if (!disc) {
            disc = this.$props.unit.Disc;
        }
        if (hasLink) {
            this.$router.push({ name: 'disc_results', params: { disc, rsc: key } });
        }
    }

    isBio(competitor: any, bio: any) {
        if (!bio || !competitor) return false;
        return competitor.Reg == bio;
    }

    async initResize() {
        await this.$nextTick();
        this.observer = new ResizeObserver((entries: any) => {
            entries.forEach(() => {
                this.resizeName();
                if (window.innerWidth < 768) {
                    this.cleanResize();
                }
            });
        });

        const someEl = this.$el;
        this.observer.observe(someEl);
    }

    cleanResize() {
        const resUnit: any = this.$refs.resUni;
        const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
        for (let i = 0; i < listCompetitors.length; i++) {
            for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
                if (
                    listCompetitors[i].childNodes[n].nodeName != '#comment' &&
                    (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
                        listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
                ) {
                    listCompetitors[i].childNodes[n].style.maxWidth = 'none';
                }
            }
        }
    }

    stopResize() {
        this.observer.disconnect();
        this.cleanResize();
    }

    async resizeName() {
        await this.$nextTick();
        const resUnit: any = this.$refs.resUni;
        const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
        for (let i = 0; i < listCompetitors.length; i++) {
            const withCompetitor: number = listCompetitors[i].clientWidth - 1;
            let counterWidth = 0;
            for (let c = 0; c < listCompetitors[i].childNodes.length; c++) {
                if (
                    listCompetitors[i].childNodes[c].nodeName != '#comment' &&
                    listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__double') == -1 &&
                    listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__name') == -1
                ) {
                    counterWidth += listCompetitors[i].childNodes[c].clientWidth;
                }
            }
            const finalWidth = withCompetitor - counterWidth;
            for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
                if (
                    listCompetitors[i].childNodes[n].nodeName != '#comment' &&
                    (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
                        listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
                ) {
                    listCompetitors[i].childNodes[n].style.maxWidth =
                        finalWidth < 10 ? 'none' : finalWidth.toString() + 'px';
                }
            }
        }
    }

    mounted() {
        this.initResize();
    }

    beforeDestroy() {
        this.stopResize();
    }
}
</script>
