<template lang="pug">
div(v-if='unit.Results && unit.Results.length > 0')
    .match-list
        .competitors
            template(v-for='(c, i) in unit.Results') 
                .competitors-list
                    .noc-label
                        .rank(v-if='unit.Medal') 
                            .medal-section-container__list__body__medal.medal-section-container__list__body__medal_gold.d-flex
                                img.medal-section-container__list__body__medal__img(
                                    :src='getMedals(c.Medal)'
                                )
                        .rank(v-else-if='c.RkPo || c.Rk') 
                            span(v-if='c.Rk') {{c.Rk}}
                            span(v-else-if='c.RkPo') {{c.RkPo}}
                        BNocLabel.start(:noc='c.Org', :description='c.Name', :key='i')
                    .result(v-if='c.Result') 
                        span {{c.Result}}
        .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
            div {{ unit.StatusDesc }}
//-
div(v-else-if='unit.Counters')
    .pre-match
        span {{$t('schedule.num-noc')}}: {{ unit.Counters.Orgs }}
        span {{$t('schedule.num-comp')}}: {{ unit.Counters.Partics }}
        .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
            div {{ unit.StatusDesc }}
div(v-else)
    .pre-match
        span 
        span 
        .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
            div {{ unit.StatusDesc }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import BNocLabel from '@/BornanUI/BNocLabel.vue';

@Component({
    mixins: [Images, Dates],
    props: ['unit', 'bio'],
    components: { BNocLabel }
})
export default class ATHResult extends Vue {
    get unitStatusClass() {
        return (this.$props.unit.Status || '').toLowerCase();
    }
}
</script>
