<template lang="pug">
li.schedule-disicpline-event-unit
    .schedule-disicpline-event-unit__container(
        :class='[$route.params.disc, unit.ShowLink ? "link" : "no-link"]',
        @click='navigateToUnit(unitData.ShowLink, $route.params.disc, unitData.ResCode, unitData.ResType)'
    )
        .info-unit
            .info-unit__date
                //- h3 __test__h2h
                p {{ getMonths(unitData.DateTimeRaw) }}
                span {{ getDays(unitData.DateTimeRaw) }}
            .info-unit__tu-container
                .info-unit__tu-container__title
                    .info-unit__tu-container__title__link
                        span {{ unitData.EventDesc }}
                            slot(name='unit-title')
                                span {{ unitData.PhaseDescA }}{{ unitDesc }}
                                    span.fa-lg.fas.fa-medal(v-if='unitData.Medal && unitData.Medal !== "0"')
            .info-unit__dsv
                .info-unit__dsv__status
                    span.fas.fa-clock
                    p(v-if='unitData.Estimated')
                        | {{ unitData.EstText }}
                    p(v-else)
                        | {{ getHoursMinutes(unitData.DateTimeRaw) }}
                .info-unit__dsv__venue
                    slot(name='unit-place')
                        span {{ unitData.VenueDesc }}
        .result-unit(ref='resUni')
            .result-unit__competitor(:class='{ winner: unitData.Home.RkPo == 1 }')
                .result-unit__competitor__flag
                    img(v-if='unitData.Home.Org && unitData.Home.Org !== "BYE"', :src='flag(unitData.Home.Org)')
                    span {{ unitData.Home.Org }}
                .result-unit__competitor__name(v-if='isTeam(unitData)')
                    span(:class='isBio(unitData.Home, bio) ? "isBio" : ""') {{ unitData.Home.Name }}
                .result-unit__competitor__double(v-if='!isTeam(unitData)')
                    ul.result-unit__competitor__double__list
                        li.result-unit__competitor__double__list__player(
                            v-for='(member, index) in unitData.Home.Members',
                            :key='index'
                        )
                            template(v-if='bio')
                                span(:class='isBio(unitData.Home, bio) ? "isBio" : ""') {{ member.Name }}
                            template(v-else)
                                span {{ member.Name }}
                .result-unit__competitor__detail-results 
                    ul.result-unit__competitor__detail-results__splits(v-if='showSplits && hasIRMs == false')
                        li.result-unit__competitor__detail-results__splits__rs(
                            v-for='(splitH, indexSH) in unitData.Home.Splits',
                            :key='unitData.Home.reg'
                        )
                            ResultAnimated(
                                v-if='showWinner',
                                :type='"p"',
                                :res='splitH.Result',
                                :clas='splitH.RkPo == 1 ? "winner" : ""'
                            )
                            ResultAnimated(v-else, :type='"p"', :res='splitH.Result')
                    .result-unit__competitor__detail-results__total-rs(
                        v-if='unitData.Home.Result || unitData.Home.IRM != "OK"'
                    )
                        ResultAnimated(:type='"p"', :res='unitData.Home.Result ? unitData.Home.Result : unitData.Home.IRM')

            .result-unit__competitor(:class='{ winner: unitData.Away.RkPo == 1 }')
                .result-unit__competitor__flag
                    img(v-if='unitData.Away.Org && unitData.Away.Org !== "BYE"', :src='flag(unitData.Away.Org)')
                    span {{ unitData.Away.Org }}
                .result-unit__competitor__name(v-if='isTeam(unitData)')
                    span(:class='isBio(unitData.Away, bio) ? "isBio" : ""') {{ unitData.Away.Name }}
                .result-unit__competitor__double(v-if='!isTeam(unitData)')
                    ul.result-unit__competitor__double__list
                        li.result-unit__competitor__double__list__player(
                            v-for='(member, index) in unitData.Away.Members',
                            :key='index'
                        )
                            template(v-if='bio')
                                span(:class='isBio(unitData.Away, bio) ? "isBio" : ""') {{ member.Name }}
                            template(v-else)
                                span {{ member.Name }}
                .result-unit__competitor__detail-results
                    ul.result-unit__competitor__detail-results__splits(v-if='showSplits && hasIRMs == false')
                        li.result-unit__competitor__detail-results__splits__rs(
                            v-for='(splitA, indexSA) in unitData.Away.Splits',
                            :key='unitData.Away.reg'
                        )
                            ResultAnimated(
                                v-if='showWinner',
                                :type='"p"',
                                :res='splitA.Result',
                                :clas='splitA.RkPo == 1 ? "winner" : ""'
                            )
                            ResultAnimated(v-else, :type='"p"', :res='splitA.Result')
                    .result-unit__competitor__detail-results__total-rs(
                        v-if='unitData.Away.Result || unitData.Away.IRM != "OK"'
                    )
                        ResultAnimated(:type='"p"', :res='unitData.Away.Result ? unitData.Away.Result : unitData.Away.IRM')
        .status-unit
            span(:class='unitData.Status') {{ unitData.StatusDesc }}
                i.far.fa-circle(v-if='unitData.IsLive')
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import ResultAnimated from './ResultAnimated.vue';
//import ResizeObserver from 'resize-observer-polyfill';

@Component({
    components: { ResultAnimated }
})
export default class H2H extends Mixins(Images, Dates) {
    unitData = {} as any;
    @Prop()
    unit: any;
    @Prop()
    showSplits: any;
    @Prop()
    showWinner: any;
    @Prop()
    bio: any;
    //
    // observer: any;
    created() {
        this.unitData = this.$props.unit;
    }

    get unitDesc() {
        const unitData = this.$props.unit;
        if (unitData) {
            let isFinal = false;
            if (unitData.Phase) {
                isFinal = unitData.Phase.substr(-4) == 'FNL-';
            }
            if (isFinal && unitData.UnitDescA != unitData.PhaseDescA) return ` - ${unitData.UnitDescA}`;
        }
        return '';
    }

    get hasIRMs() {
        const unitData = this.$props.unit;
        if (unitData) {
            return unitData.Home.IRM != 'OK' || unitData.Away.IRM != 'OK';
        }
        return false;
    }

    isTeam(unit: Record<string, any> | any) {
        return this.checkCompetitor(unit.Home) && this.checkCompetitor(unit.Away);
    }

    checkCompetitor(comp: any) {
        if (comp && comp.Members) return comp.Members.length == 1 || comp.Members.length >= 3;
        if (comp && !comp.Members) return true;
        return false;
    }
    navigateToUnit(hasLink: boolean, disc: string, key: string, resType?: string) {
        if (!disc) {
            disc = this.$props.unit.Disc;
        }
        if (hasLink) {
            if (resType === 'groups') {
                const evt = key.substring(0, 20);
                this.$router.push({ name: 'disc_groups', params: { disc: disc, rsc: evt, group: key } });
                return;
            }
            this.$router.push({ name: 'disc_results', params: { disc: disc, rsc: key } });
        }
    }
    isBio(participant: any, bio: any) {
        if (!bio || !participant) return false;

        if (participant.Members) {
            return participant.Members.some((e: any) => e.Reg == bio);
        } else {
            return participant.Reg == bio;
        }
    }

    // async initResize() {
    //     await this.$nextTick();
    //     this.observer = new ResizeObserver((entries: any) => {
    //         entries.forEach(() => {
    //             this.resizeName();
    //             if (window.innerWidth < 768) {
    //                 this.cleanResize();
    //             }
    //         });
    //     });

    //     const someEl = this.$el;
    //     this.observer.observe(someEl);
    // }

    // cleanResize() {
    //     const resUnit: any = this.$refs.resUni;
    //     const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
    //     for (let i = 0; i < listCompetitors.length; i++) {
    //         for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
    //             if (
    //                 listCompetitors[i].childNodes[n].nodeName != '#comment' &&
    //                 (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
    //                     listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
    //             ) {
    //                 listCompetitors[i].childNodes[n].style.maxWidth = 'none';
    //             }
    //         }
    //     }
    // }

    // stopResize() {
    //     this.observer.disconnect();
    //     this.cleanResize();
    // }

    // async resizeName() {
    //     await this.$nextTick();
    //     const resUnit: any = this.$refs.resUni;
    //     const listCompetitors: Array<Record<string, any> | any> = resUnit.childNodes;
    //     for (let i = 0; i < listCompetitors.length; i++) {
    //         const withCompetitor: number = listCompetitors[i].clientWidth - 1;
    //         let counterWidth = 0;
    //         for (let c = 0; c < listCompetitors[i].childNodes.length; c++) {
    //             if (
    //                 listCompetitors[i].childNodes[c].nodeName != '#comment' &&
    //                 listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__double') == -1 &&
    //                 listCompetitors[i].childNodes[c].className.indexOf('result-unit__competitor__name') == -1
    //             ) {
    //                 counterWidth += listCompetitors[i].childNodes[c].clientWidth;
    //             }
    //         }
    //         const finalWidth = withCompetitor - counterWidth;
    //         for (let n = 0; n < listCompetitors[i].childNodes.length; n++) {
    //             if (
    //                 listCompetitors[i].childNodes[n].nodeName != '#comment' &&
    //                 (listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__double') != -1 ||
    //                     listCompetitors[i].childNodes[n].className.indexOf('result-unit__competitor__name') != -1)
    //             ) {
    //                 listCompetitors[i].childNodes[n].style.maxWidth =
    //                     finalWidth < 10 ? 'none' : finalWidth.toString() + 'px';
    //             }
    //         }
    //     }
    // }

    // async created() {
    //     await this.initResize();
    // }

    // beforeDestroy() {
    //     this.stopResize();
    // }
}
</script>
