<template lang="pug">
.match(v-if='unit.Home && unit.Away')
    .home(:class='isWinner(unit.Home, unit.Status) ? "winner" : ""')
        BNocLabel.start(:noc='unit.Home.Org', :description='unit.Home.Name')
    .away(:class='isWinner(unit.Away, unit.Status) ? "winner" : ""')
        BNocLabel.start(:noc='unit.Away.Org', :description='unit.Away.Name')
    slot(name='results')
        .results(v-if='unit.Home.Splits && unit.Away.Splits && unit.Home.Splits.length > 0 && unit.Away.Splits.length > 0')
            //- HOME results
            BResultsRowColumn.b-row.small.res-home
                span.split(v-if='showSplits', v-for='(split, i) in unit.Home.Splits', :key='`home_${i}`', :class='{winner : showSplitWinner && split.RkPo === 1}') 
                    span(v-if='split.Result') {{ split.Result }}
                    span(v-else-if='split.Res') {{ split.Res }}
                span.result(v-if='!noFinalResult') {{ unit.Home.Result }}
            //- SPLITS titles
            BResultsRowColumn.b-row.small.res-title

                span.split(v-if='showSplits', v-for='(title, i) in getPeriodsBySplits(unit.Home.Splits)', :key='`title_${i}`') {{ title.DescS }}
                span.result(v-if='!noFinalResult') {{$t('schedule.final')}}
            //- AWAY results
            BResultsRowColumn.b-row.small.res-away
                span.split(v-if='showSplits', v-for='(split, i) in unit.Away.Splits', :key='`away_${i}`', :class='{winner : showSplitWinner && split.RkPo === 1}')
                    span(v-if='split.Result') {{ split.Result }}
                    span(v-else-if='split.Res') {{ split.Res }}
                span.result(v-if='!noFinalResult') {{ unit.Away.Result }}
        .results(v-else-if='unit.Home.Result && unit.Away.Result')
            //- HOME results
            BResultsRowColumn.b-row.small.res-home
                span.result {{ unit.Home.Result }}
            //- SPLITS titles
            BResultsRowColumn.b-row.small.res-title
                span.result(v-if='!noFinalResult') {{$t('schedule.final')}}
            //- AWAY results
            BResultsRowColumn.b-row.small.res-away
                span.result {{ unit.Away.Result }}
        .results.no-result(v-else)
            .res-title
                span.result {{$t('sections.no-results')}}
    .status(:class='[unitStatusClass, unit.IsLive ? "live" : ""]')
        div {{ unit.StatusDesc }}
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Dates from '@/mixins/dates';
import ResultAnimated from './ResultAnimated.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BResultsRowColumn from '@/BornanUI/BResultsRowColumn.vue';

//import ResizeObserver from 'resize-observer-polyfill';

@Component({
    components: { ResultAnimated, BNocLabel, BResultsRowColumn }
})
export default class H2H extends Mixins(Images, Dates) {
    unitData = {} as any;
    @Prop()
    unit: any;
    @Prop()
    showSplits?: boolean;
    @Prop()
    showSplitWinner?: boolean;
    @Prop()
    bio: any;
    @Prop()
    noFinalResult?: boolean;

    isWinner(unitData: any, unitStatus: string): boolean {
        const statusWithWinner = ['official', 'finished', 'unconfirmed', 'unofficial', 'protested'];
        if (unitData && unitData.Winner && statusWithWinner.includes(unitStatus.toLowerCase())) {
            return true;
        }
        return false;
    }

    get unitStatusClass() {
        return (this.$props.unit.Status || '').toLowerCase();
    }

    /*     completeSplits(splits: any[], periods: any[]) {
        const splitsWithRes: any[] = [...splits];
        if (splits.length < periods.length) {
            const lengthDiff = periods.length - splits.length;
            for (let i = 0; i < lengthDiff; i++) {
                splitsWithRes.push({});
            }
        }
        splitsWithRes.splice(splits.length);
        return splitsWithRes;
    } */

    getPeriodsBySplits(splits: any[]) {
        return this.$props.unit.Periods.slice(0, splits.length);
    }

    created() {
        this.unitData = this.$props.unit;
    }

    get unitDesc() {
        const unitData = this.$props.unit;
        if (unitData) {
            let isFinal = false;
            if (unitData.Phase) {
                isFinal = unitData.Phase.substr(-4) == 'FNL-';
            }
            if (isFinal && unitData.UnitDescA != unitData.PhaseDescA) return ` - ${unitData.UnitDescA}`;
        }
        return '';
    }

    get hasIRMs() {
        const unitData = this.$props.unit;
        if (unitData) {
            return unitData.Home.IRM != 'OK' || unitData.Away.IRM != 'OK';
        }
        return false;
    }

    isTeam(unit: Record<string, any> | any) {
        return this.checkCompetitor(unit.Home) && this.checkCompetitor(unit.Away);
    }

    checkCompetitor(comp: any) {
        if (comp && comp.Members) return comp.Members.length == 1 || comp.Members.length >= 3;
        if (comp && !comp.Members) return true;
        return false;
    }
    navigateToUnit(hasLink: boolean, disc: string, key: string, resType?: string) {
        if (!disc) {
            disc = this.$props.unit.Disc;
        }
        if (hasLink) {
            if (resType === 'groups') {
                const evt = key.substring(0, 20);
                this.$router.push({ name: 'disc_groups', params: { disc: disc, rsc: evt, group: key } });
                return;
            }
            this.$router.push({ name: 'disc_results', params: { disc: disc, rsc: key } });
        }
    }
    isBio(participant: any, bio: any) {
        if (!bio || !participant) return false;

        if (participant.Members) {
            return participant.Members.some((e: any) => e.Reg == bio);
        } else {
            return participant.Reg == bio;
        }
    }
}
</script>
