<template lang="pug">
BResultsRowColumn.b-row.small.res-home(v-if='type')

    span(v-if='ipons != ""', :class="[ updateV ? 'updateV': '', clas]")
        span {{ipons}}
    span(v-else, :class="[ updateV ? 'updateV': '', clas]")
        span 0
    
    span(v-if='wazaris != ""',:class="[ updateV ? 'updateV': '', clas]")
        span {{wazaris}}
    span(v-else, :class="[ updateV ? 'updateV': '', clas]")
        span 0

    span(v-if='shidos != ""',:class="[ updateV ? 'updateV': '', clas]") 
        p.result-container-animation__value.result-container-animation__value_p
            i.fas.fa-file.fa-xs.result-container-animation__value_p_shido(v-if='shidos < 3', v-for='s in shidos')
            i.fas.fa-file.fa-xs.result-container-animation__value_p_hkm(v-if='hkm == true || shidos == 3')
    span(v-else,:class="[ updateV ? 'updateV': '', clas]")
        span 0


span.result-container-animation__value.result-container-animation__value_span(v-else, :class="[updateV ? 'updateV': '', clas]") {{res}}

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import BResultsRowColumn from '@/BornanUI/BResultsRowColumn.vue';

@Component({
    props: ['type', 'res', 'irm', 'clas', 'classTag'],
    components: { BResultsRowColumn }
})
export default class Result extends Vue {
    updateV = false;
    newClass = '';
    score = '';
    ipons = '';
    wazaris = '';
    shidos = 0;
    hkm = false;
    data = '';

    async mounted() {
        this.computedResults();
    }

    computedResults() {
        this.score = this.$props.res;
        this.data = this.$props.irm;
        if (this.score) {
            if (this.score.slice(0, 2) == '11') {
                this.ipons = '1';
                this.wazaris = '1';
            } else if (this.score.slice(0, 2) == '01') {
                this.wazaris = '1';
            } else if (this.score.slice(0, 2) == '10') {
                this.ipons = '1';
            }
            if (this.score.length > 2) {
                this.shidos = parseInt(this.score.slice(3, 4));
            }
        }
        if (this.data == 'DSQ' || this.data == 'HSK') {
            this.hkm = true;
        } else {
            this.hkm = false;
        }
    }

    @Watch('res')
    async changeValue(value: any, old?: any) {
        if (value != old) {
            this.updateV = true;
            await new Promise(r => setTimeout(r, 1000));
            this.updateV = false;
        }
        this.computedResults();
    }
}
</script>
