<template lang="pug">
    .result-container-animation(v-if='type')
        template(v-if='type == "p"')
            table
                tr
                    th
                        p.result-container-animation__value.result-container-animation__value_p I
                    th
                        p.result-container-animation__value.result-container-animation__value_p W
                    th
                        p.result-container-animation__value.result-container-animation__value_p Y
                    th
                        p.result-container-animation__value.result-container-animation__value_p.small
                            small {{$t('schedule.tot')}}
                tr
                    td.result-container-animation__value.result-container-animation__value_p(v-if='ippons != ""', :class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p {{ippons}}
                    td.result-container-animation__value.result-container-animation__value_p(v-else, :class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p 0
                    
                    td.result-container-animation__value.result-container-animation__value_p(v-if='wazaris != ""', :class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p {{wazaris}}
                    td.result-container-animation__value.result-container-animation__value_p(v-else, :class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p 0

                    td.result-container-animation__value.result-container-animation__value_p(v-if='yukos != ""',:class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p {{yukos}}
                    td.result-container-animation__value.result-container-animation__value_p(v-else, :class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p 0

                    td.result-container-animation__value.result-container-animation__value_p(:class="[ updateV ? 'updateV': '', clas, classTag]")
                        p.result-container-animation__value.result-container-animation__value_p {{ res }}
                    

        template(v-else)
            span.result-container-animation__value.result-container-animation__value_span(:class="[updateV ? 'updateV': '', clas, classTag]") {{res}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

@Component({
    props: ['type', 'res', 'ippon', 'wazari', 'yuko', 'clas', 'classTag']
})
export default class Result extends Vue {
    updateV = false;
    newClass = '';
    score = '';
    ippons = '';
    wazaris = '';
    yukos = '';

    async mounted() {
        this.computedResults();
    }

    computedResults() {
        this.ippons = this.$props.ippon;
        this.wazaris = this.$props.wazari;
        this.yukos = this.$props.yuko;
    }

    @Watch('res')
    async changeValue(value: any, old?: any) {
        if (value != old) {
            this.updateV = true;
            await new Promise(r => setTimeout(r, 1000));
            this.updateV = false;
        }
        this.computedResults();
    }
}
</script>
