<template lang="pug">
.result-container-animation(v-if='type')
    p.result-container-animation__value.result-container-animation__value_p(
        v-if='type == "p"',
        :class='[updateV ? "updateV" : "", clas, classTag]'
    ) {{ res }}
    span.result-container-animation__value.result-container-animation__value_span(
        v-else,
        :class='[updateV ? "updateV" : "", clas, classTag]'
    ) {{ res }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

@Component({
    props: ['type', 'res', 'clas', 'classTag']
})
export default class Result extends Vue {
    updateV = false;
    newClass = '';

    @Watch('res')
    async changeValue(value: any, old?: any) {
        if (value != old) {
            this.updateV = true;
            await new Promise(r => setTimeout(r, 1000));
            this.updateV = false;
        }
    }
}
</script>
