<template lang="pug">
    BEventCard(:unit='unit', :disc='"SKB"', resultType='ath')

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { BEventCard }
})
/* eslint-enable */
export default class SKBSchUnit extends Vue {}
</script>
