<template lang="pug">
    div.my-3(v-if='current>0')
        span.ath-current-period {{$t('disciplines.current-split')}}: {{ currDesc }}

    
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class ATHCurrentPeriod extends Vue {
    @Prop({ type: Array })
    periods!: any[];

    @Prop({ type: Number })
    current!: number;

    get currDesc(): string {
        const curr = this.periods.find(e => e.Order === this.current);
        if (curr) {
            return curr.Desc;
        }
        return '';
    }
}
</script>
