<template lang="pug">
.athlete-results
    BResultsList(:competitor='liveComp[0]', :isTitles='true' :columns='columnsToShow')
        .toggle
            span(@click='[showAllCards(), openDetails($event)]')
                i.fas.fa-angle-down
    template(v-for='(competitor, index) in liveComp')
        template(v-if='competitor.Name && competitor.Result != ""')
        //-pre {{ competitor }}
        BResultsList(:competitor='competitor', :key='index' , :columns='columnsToShow')
            .toggle(v-if='showSplit && periods.length > 0', v-b-toggle='`col-${index}`', @click='openDetails')
                i.fas.fa-angle-down

        .b-results-list-details
            b-collapse(:visible='showCard', :id='`col-${index}`')
                .result-details(v-if='showSplit && periods.length > 0')
                    .medal-section-container__list__body__splits__descs
                        slot(name='splitList', :competitor='competitor', :index='index')
                            ul.medal-section-container__list__body__splits__descs__list
                                li.medal-section-container__list__body__splits__descs__list__split(
                                    v-for='(period, indexPe) in periods',
                                    :key='indexPe')
                                    slot(
                                        v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].AcumulatedResult != 0',
                                        name='splitBox',
                                        :period='period',
                                        :split='competitor.Splits[indexPe]')
                                        span.medal-section-container__list__body__splits__descs__list__split__desc {{ period.Desc }}
                                        ul.medal-section-container__list__body__splits__values__list
                                            li.medal-section-container__list__body__splits__values__list__split(
                                                v-if='competitor.Splits[indexPe]')
                                                slot(name='split', :split='competitor.Splits[indexPe]')
                                                    span.medal-section-container__list__body__splits__values__list__split__value(
                                                        v-if='competitor.Splits[indexPe].Result') {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                    span.medal-section-container__list__body__splits__values__list__split__rk(
                                                        v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].Rk && competitor.Splits[indexPe].Rk != "0"') POS: {{ showAccum ? competitor.Splits[indexPe].RkAcc : competitor.Splits[indexPe].Rk }}
                                                    span.medal-section-container__list__body__splits__values__list__split__diff(
                                                        v-if='competitor.Splits[indexPe].Diff') {{ showAccum ? competitor.Splits[indexPe].AcumulatedDiff : competitor.Splits[indexPe].Diff }}

                    //-.medal-section-container__list__body__splits__values
                        p.medal-section-container__list__body__splits__values__text Split Time
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';
//
import BResultsList from '@/BornanUI/components/BResultsList.vue';

type Sortable = {
    RkPo: number;
    Split: number;
};

@Component({
    components: {
        BResultsList
    },
    mixins: [Images, Utils]
})
export default class ATHScore extends Vue {
    @Prop({
        type: Array,
        default: function() {
            return [];
        }
    })
    periods!: any[];

    @Prop({ type: Number })
    currentPeriod!: number;

    @Prop({ type: Array, required: true })
    competitors!: any[];

    @Prop({ type: Boolean, default: true })
    showSplit!: boolean;

    @Prop({ type: Boolean, default: true })
    showDiff!: boolean;

    @Prop({ type: Boolean, default: false })
    showAccum!: boolean;

    checkedSplits: number[] = [];

    showCard = false;

    openDetails(event: any) {
        event.target.classList.toggle('opened');
    }

    isShowing(index: number) {
        return this.checkedSplits.indexOf(index) != -1;
    }

    get isShowingAll() {
        return this.checkedSplits.length === this.competitors.length;
    }

    showAllCards() {
        this.showCard = !this.showCard;
    }

    showAllStats() {
        if (this.isShowingAll) {
            this.checkedSplits = [];
        } else {
            this.checkedSplits = [];
            for (let i = 0; i < this.competitors.length; i++) this.checkedSplits.push(i);
        }
    }

    formatRecord(record: string) {
        if (record.indexOf('/') != -1) return record.substring(0, record.indexOf('/'));
        else return record;
    }

    get hasQA() {
        return this.competitors.some((e: any) => e.Qualified && e.Qualified != '');
    }
    get hasRC() {
        return this.competitors.some((e: any) => e.RecordInd && e.RecordInd != '');
    }
    get hasDiff() {
        return this.showDiff && this.competitors.some((e: any) => e.Diff && e.Diff != '');
    }

    get liveComp() {
        if (this.currentPeriod <= 0 || this.currentPeriod >= this.periods.length) {
            return this.competitors;
        }
        const comps: any[] = [];
        for (let i = 0; i < this.competitors.length; i++) {
            const obj = Object.assign({}, this.competitors[i]);
            // const currSp = obj.Splits[this.currentPeriod - 1];
            if (obj.Result === '' && obj.Rk === '' && obj.IRM === 'OK') {
                this.setLastSplit(obj, obj.Splits, this.currentPeriod - 1);
            } else {
                obj.Split = 0;
            }
            comps.push(obj);
        }
        comps.sort((a: Sortable, b: Sortable) => {
            let r = b.Split - a.Split;
            if (r === 0) r = a.RkPo - b.RkPo;
            return r;
        });
        return comps;
    }

    setLastSplit(obj: any, splits: any[], start: number) {
        let i = start + 1;
        let currSp: any = null;
        while (0 <= i && currSp === null) {
            i--;
            if (splits[i].RkPo !== 0) currSp = splits[i];
        }
        if (currSp) {
            obj.Result = currSp.AcumulatedResult;
            obj.Diff = currSp.AcumulatedDiff;
            obj.Rk = currSp.RkAcc;
            obj.RkPo = currSp.RkAccPo;
            obj.RkEq = currSp.RkAccEq;
            obj.Split = i;
        }
        if (i !== start) {
            obj.Result = '';
            obj.Rk = '';
        }
    }
    get columnsToShow() {
        return {
            rank: this.liveComp.some(comp => comp.Rk),
            country: this.liveComp.some(comp => comp.Org),
            name: this.liveComp.some(comp => comp.Reg && comp.Name),
            result: true,
            gap: this.liveComp.some(comp => comp.Diff),
            qa: this.liveComp.some(comp => comp.Qualified),
            rc: this.liveComp.some(comp => comp.RecordInd)
        };
    }
}
</script>

<style scoped lang="scss">
.b-results-list {
    .toggle {
        display: flex;
        flex-direction: column;
        place-content: center;
        i {
            transition: rotate 0.5s ease-in-out;
            .fa,
            .fas {
                font-size: 1.1rem;
            }
            &.opened {
                transform: rotate(180deg);
            }
        }
        &.opened {
            transform: rotate(180deg);
        }
    }
}
.b-results-list-details {
    > .collapse {
        box-sizing: border-box;
        border-bottom: 1px solid $color-primary-25;
        > .result-details {
            box-sizing: border-box;
            padding: 2rem 0;
            @media (max-width: $breakpoint-small) {
                padding: 1rem 0;
            }
        }
    }
}
</style>
