<template lang="pug">
section.body-section-container
    ul.medal-section-container
        li.medal-section-container__list
            .medal-section-container__list__body.d-flex.justify-content-center
                .medal-section-container__list__body__elipse.d-flex.justify-content-center
                    p Rank
                .medal-section-container__list__body__noc.d-flex
                    p Noc
                .medal-section-container__list__body__name.d-flex
                    p Name
                .medal-section-container__list__body__results.visible-sm__flex
                    p Result
                slot(name='extraColumnsTitle')
                    //- Slot for adding extra content
                .medal-section-container__list__body__diff.visible-sm__flex(v-if='hasDiff')
                    p Gap
                .medal-section-container__list__body__qa.visible-sm__flex(v-if='hasQA')
                    p QA
                .medal-section-container__list__body__rc.visible-sm__flex(v-if='hasRC')
                    p RC
                //- .medal-section-container__list__body__split-res.d-flex(v-if='showSplit && periods.length > 0')
                //-     b-button.m-1( @click="showAllCards" ) Show All

        li.medal-section-container__list(v-for='(competitor, index) in liveComp', :key='index')
                    //- .medal-section-container__list__body.d-flex.justify-content-center(
                    //- :class='isShowing(index) ? "split" : ""'
                    //- )
                    .medal-section-container__list__body__global
                        .medal-section-container__list__body__elipse
                            p
                                span(v-if='competitor.RkEq') =
                                | {{ competitor.Rk }}
                        .medal-section-container__list__body__noc
                            img(:src='flag(competitor.Org)')
                            span.visible-sm {{ competitor.Org }}
                            //- span.hidden-sm {{ competitor.Org }}
                            .medal-section-container__list__body__name.pointer(@click='goBio($route.params.disc, competitor.Reg)')
                                p {{ competitor.Name }}
                            .medal-section-container__list__body__results
                            slot(name='result', :competitor='competitor')
                                p(v-if='competitor.IRM == "OK"') {{ competitor.Result }}
                                p(v-else) {{ competitor.IRM }}
                            slot(name='extraColumnsContent', :competitor='competitor')
                                //- Slot for adding extra content
                            .medal-section-container__list__body__diff(v-if='hasDiff')
                                p(v-if='competitor.Diff != ""') {{ competitor.Diff }}

                            .medal-section-container__list__body__qa(v-if='hasQA')
                                p(v-if='competitor.Qualified != ""') {{ competitor.Qualified }}

                            .medal-section-container__list__body__rc(v-if='hasRC')
                                p(v-if='competitor.RecordInd != ""') {{ formatRecord(competitor.RecordInd) }}
                        button( v-b-toggle='`col-${index}`', variant="primary") More Info
                    .medal-section-container__list__body__split-res(v-if='showSplit && periods.length > 0')
                        input.medal-section-container__list__body__split-res__input(
                            type='checkbox',
                            :id='index',
                            :value='index',
                            v-model='checkedSplits'
                        )
                    //- label.medal-section-container__list__body__split-res__label.fas(
                    //-     :for='index',
                    //-     :class='isShowing(index) ? "fa-minus-circle rotateM" : "fa-plus-circle rotateL"'
                    //- )
                    .medal-section-container__list__body__result-list
                        .medal-section-container__list__body__results
                            //- slot(name='result', :competitor='competitor')
                            //-     p(v-if='competitor.IRM == "OK"') {{ competitor.Result }}
                            //-     p(v-else) {{ competitor.IRM }}
                        slot(name='extraColumnsContent', :competitor='competitor')
                            //- Slot for adding extra content
                        //- .medal-section-container__list__body__diff(v-if='hasDiff')
                        //-     p(v-if='competitor.Diff != ""') {{ competitor.Diff }}

                        .medal-section-container__list__body__qa(v-if='hasQA')
                            p(v-if='competitor.Qualified != ""') {{ competitor.Qualified }}

                        .medal-section-container__list__body__rc(v-if='hasRC')
                            p(v-if='competitor.RecordInd != ""') {{ formatRecord(competitor.RecordInd) }}

                        .medal-section-container__list__body__split-res.visible-sm__flex(
                            v-if='showSplit && periods.length > 0'
                        )
                            input.medal-section-container__list__body__split-res__input(
                                type='checkbox',
                                :id='index',
                                :value='index',
                                v-model='checkedSplits'
                            )
                        //- label.medal-section-container__list__body__split-res__label.fas(
                        //-     :for='index',
                        //-     :class='isShowing(index) ? "fa-minus-circle rotateM" : "fa-plus-circle rotateL"'
                        //- )
            
                    
                    b-collapse( :visible='showCard' :id='`col-${index}`')
                        b-card    
                            .medal-section-container__list__body__splits(v-if='showSplit && periods.length > 0')
                                .medal-section-container__list__body__splits__descs
                                    slot(name='splitList', :competitor='competitor', :index='index')
                                        ul.medal-section-container__list__body__splits__descs__list
                                            li.medal-section-container__list__body__splits__descs__list__split(
                                                v-for='(period, indexPe) in periods',
                                                :key='indexPe'
                                            )
                                                slot(
                                                    v-if='competitor.Splits[indexPe] && competitor.Splits[indexPe].AcumulatedResult != 0',
                                                    name='splitBox',
                                                    :period='period',
                                                    :split='competitor.Splits[indexPe]'
                                                )
                                                    span.medal-section-container__list__body__splits__descs__list__split__desc {{ period.Desc }}
                                                    ul.medal-section-container__list__body__splits__values__list
                                                        li.medal-section-container__list__body__splits__values__list__split(
                                                            v-if='competitor.Splits[indexPe]'
                                                        )
                                                            slot(name='split', :split='competitor.Splits[indexPe]')
                                                                span.medal-section-container__list__body__splits__values__list__split__value(
                                                                    v-if='competitor.Splits[indexPe].Result'
                                                                )
                                                                    | {{ showAccum ? competitor.Splits[indexPe].AcumulatedResult : competitor.Splits[indexPe].Result }}
                                                                span.medal-section-container__list__body__splits__values__list__split__rk(
                                                                    v-if='competitor.Splits[indexPe].Rk && competitor.Splits[indexPe].Rk != "0"'
                                                                )
                                                                    | POS: {{ showAccum ? competitor.Splits[indexPe].RkAcc : competitor.Splits[indexPe].Rk }}
                                                                span.medal-section-container__list__body__splits__values__list__split__diff(
                                                                    v-if='competitor.Splits[indexPe].Diff'
                                                                )
                                                                    | {{ showAccum ? competitor.Splits[indexPe].AcumulatedDiff : competitor.Splits[indexPe].Diff }}



                            //-.medal-section-container__list__body__splits__values
                                p.medal-section-container__list__body__splits__values__text Split Time
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Images from '@/mixins/images';
import Utils from '@/mixins/utils';

type Sortable = {
    RkPo: number;
    Split: number;
};

@Component({
    mixins: [Images, Utils]
})
export default class ATHScore extends Vue {
    @Prop({
        type: Array,
        default: function() {
            return [];
        }
    })
    periods!: any[];

    @Prop({ type: Number })
    currentPeriod!: number;

    @Prop({ type: Array, required: true })
    competitors!: any[];

    @Prop({ type: Boolean, default: true })
    showSplit!: boolean;

    @Prop({ type: Boolean, default: true })
    showDiff!: boolean;

    @Prop({ type: Boolean, default: false })
    showAccum!: boolean;

    checkedSplits: number[] = [];

    showCard = false;

    isShowing(index: number) {
        return this.checkedSplits.indexOf(index) != -1;
    }

    get isShowingAll() {
        return this.checkedSplits.length === this.competitors.length;
    }

    showAllCards() {
        if (this.showCard) {
            this.showCard = false;
        } else {
            this.showCard = true;
        }
    }

    showAllStats() {
        if (this.isShowingAll) {
            this.checkedSplits = [];
        } else {
            this.checkedSplits = [];
            for (let i = 0; i < this.competitors.length; i++) this.checkedSplits.push(i);
        }
    }

    formatRecord(record: string) {
        if (record.indexOf('/') != -1) return record.substring(0, record.indexOf('/'));
        else return record;
    }

    get hasQA() {
        return this.competitors.some((e: any) => e.Qualified && e.Qualified != '');
    }
    get hasRC() {
        return this.competitors.some((e: any) => e.RecordInd && e.RecordInd != '');
    }
    get hasDiff() {
        return this.showDiff && this.competitors.some((e: any) => e.Diff && e.Diff != '');
    }

    get liveComp() {
        if (this.currentPeriod <= 0 || this.currentPeriod >= this.periods.length) {
            return this.competitors;
        }
        const comps: any[] = [];
        for (let i = 0; i < this.competitors.length; i++) {
            const obj = Object.assign({}, this.competitors[i]);
            // const currSp = obj.Splits[this.currentPeriod - 1];
            if (obj.Result === '' && obj.Rk === '' && obj.IRM === 'OK') {
                this.setLastSplit(obj, obj.Splits, this.currentPeriod - 1);
            } else {
                obj.Split = 0;
            }
            comps.push(obj);
        }
        comps.sort((a: Sortable, b: Sortable) => {
            let r = b.Split - a.Split;
            if (r === 0) r = a.RkPo - b.RkPo;
            return r;
        });
        return comps;
    }

    setLastSplit(obj: any, splits: any[], start: number) {
        let i = start + 1;
        let currSp: any = null;
        while (0 <= i && currSp === null) {
            i--;
            if (splits[i].RkPo !== 0) currSp = splits[i];
        }
        if (currSp) {
            obj.Result = currSp.AcumulatedResult;
            obj.Diff = currSp.AcumulatedDiff;
            obj.Rk = currSp.RkAcc;
            obj.RkPo = currSp.RkAccPo;
            obj.RkEq = currSp.RkAccEq;
            obj.Split = i;
        }
        if (i !== start) {
            obj.Result = '';
            obj.Rk = '';
        }
    }
}
</script>
