<template lang="pug">
    ul.medal-section-container.current-last
        li.medal-section-container__list
        template(v-if='compLast')
            li.medal-section-container__list
                p.medal-section-container__list__title
                    span {{$t('disciplines.last')}}
                .medal-section-container__list__body.d-flex.justify-content-center.split
                    .medal-section-container__list__body__elipse.d-flex.justify-content-center
                        p
                            span(v-if='compLast.RkEq') = 
                            | {{compLast.Rk}}
                    
                    .medal-section-container__list__body__competitor
                        .medal-section-container__list__body__competitor__container(v-if='type=="A"')
                            .medal-section-container__list__body__competitor__container__avatar
                                    img(:src='photo(compLast.Reg)', @error='errPhoto')
                        .medal-section-container__list__body__competitor__info(:data-bib=`compLast.Bib`)
                            .medal-section-container__list__body__competitor__info__country
                                img.medal-section-container__list__body__competitor__info__flag(:src=`flag(compLast.Org)`)
                                p.medal-section-container__list__body__competitor__info__org {{ compLast.Org }}
                            p.medal-section-container__list__body__competitor__info__name {{ compLast.Name }}
                    
                    .b-100__xx.b-100__sm_none
                    .medal-section-container__list__body__result-list
                        .medal-section-container__list__body__result-curr-last.d-flex
                            slot(name='result', :competitor='compLast')
                                span(v-if='compLast.IRM == "OK"') {{compLast.Result}}
                                span(v-else) {{compLast.IRM}}
                        slot(name='extraColumnsContent', :competitor='compLast')
                            //- Slot for adding extra content
                        .medal-section-container__list__body__diff(v-if='showDiff && compLast.Diff')
                            p(v-if='compLast.Diff != ""') {{compLast.Diff}}
                        
                        .medal-section-container__list__body__qa(v-if="compLast.Qualified")
                            p(v-if='compLast.Qualified != ""') {{compLast.Qualified}}
                        
                    
                    .medal-section-container__list__body__splits(v-if='showSplit && periods.length>0')
                        .medal-section-container__list__body__splits__descs
                            slot(name='splitList', :competitor='compLast', :isCurrent='false')
                                ul.medal-section-container__list__body__splits__descs__list
                                    li.medal-section-container__list__body__splits__descs__list__split(v-for='period,indexPe in periods', :key='indexPe')
                                        slot(name='splitBox', :period='period', :split='compLast.Splits[indexPe]')
                                            span.medal-section-container__list__body__splits__descs__list__split__desc {{period.Desc}}
                                            ul.medal-section-container__list__body__splits__values__list
                                                li.medal-section-container__list__body__splits__values__list__split(v-if='compLast.Splits[indexPe]')
                                                    slot(name='split', :split='compLast.Splits[indexPe]')
                                                        span.medal-section-container__list__body__splits__values__list__split__value(v-if='compLast.Splits[indexPe].Result')
                                                            | {{ showAccum ? compLast.Splits[indexPe].AcumulatedResult : compLast.Splits[indexPe].Result }}
                                                        span.medal-section-container__list__body__splits__values__list__split__rk(v-if='compLast.Splits[indexPe].Rk && compLast.Splits[indexPe].Rk!="0"')
                                                            | {{ showAccum ? compLast.Splits[indexPe].RkAcc : compLast.Splits[indexPe].Rk}}
                                                        span.medal-section-container__list__body__splits__values__list__split__diff(v-if='compLast.Splits[indexPe].Diff')
                                                            | {{ showAccum ? compLast.Splits[indexPe].AcumulatedDiff : compLast.Splits[indexPe].Diff}}
            
        template(v-if='compCurrent')
            li.medal-section-container__list
                p.medal-section-container__list__title
                    span {{$t('disciplines.current')}}
                        i.far.fa-dot-circle                            
                
                .medal-section-container__list__body.d-flex.justify-content-center.split
                    .medal-section-container__list__body__elipse.d-flex.justify-content-center
                        p
                            span(v-if='compCurrent.RkEq') = 
                            | {{compCurrent.Rk}}
                    
                    .medal-section-container__list__body__competitor
                        .medal-section-container__list__body__competitor__container(v-if='type=="A"')
                            .medal-section-container__list__body__competitor__container__avatar
                                    img(:src='photo(compCurrent.Reg)', @error='errPhoto')
                        .medal-section-container__list__body__competitor__info(:data-bib=`compCurrent.Bib`)
                            .medal-section-container__list__body__competitor__info__country
                                img.medal-section-container__list__body__competitor__info__flag(:src=`flag(compCurrent.Org)`)
                                p.medal-section-container__list__body__competitor__info__org {{ compCurrent.Org }}
                            p.medal-section-container__list__body__competitor__info__name {{ compCurrent.Name }}
                    
                    .b-100__xx.b-100__sm_none
                    .medal-section-container__list__body__result-list
                        .medal-section-container__list__body__result-curr-last.d-flex
                            slot(name='result', :competitor='compCurrent')
                                span(v-if='compCurrent.IRM == "OK"') {{compCurrent.Result}}
                                span(v-else) {{compCurrent.IRM}}
                        slot(name='extraColumnsContent', :competitor='compCurrent')
                            //- Slot for adding extra content
                        .medal-section-container__list__body__diff(v-if='showDiff && compCurrent.Diff')
                            p(v-if='compCurrent.Diff != ""') {{compCurrent.Diff}}
                        
                        .medal-section-container__list__body__qa(v-if="compCurrent.Qualified")
                            p(v-if='compCurrent.Qualified != ""') {{compCurrent.Qualified}}
                        
                    
                    .medal-section-container__list__body__splits(v-if='showSplit && periods.length>0')
                        .medal-section-container__list__body__splits__descs
                            slot(name='splitList', :competitor='compCurrent', :isCurrent='false')
                                ul.medal-section-container__list__body__splits__descs__list
                                    li.medal-section-container__list__body__splits__descs__list__split(v-for='period,indexPe in periods', :key='indexPe')
                                        slot(name='splitBox', :period='period', :split='compCurrent.Splits[indexPe]')
                                            span.medal-section-container__list__body__splits__descs__list__split__desc {{period.Desc}}
                                            ul.medal-section-container__list__body__splits__values__list
                                                li.medal-section-container__list__body__splits__values__list__split(v-if='compCurrent.Splits[indexPe]')
                                                    slot(name='split', :split='compCurrent.Splits[indexPe]')
                                                        span.medal-section-container__list__body__splits__values__list__split__value(v-if='compCurrent.Splits[indexPe].Result')
                                                            | {{ showAccum ? compCurrent.Splits[indexPe].AcumulatedResult : compCurrent.Splits[indexPe].Result }}
                                                        span.medal-section-container__list__body__splits__values__list__split__rk(v-if='compCurrent.Splits[indexPe].Rk && compCurrent.Splits[indexPe].Rk!="0"')
                                                            | {{ showAccum ? compCurrent.Splits[indexPe].RkAcc : compCurrent.Splits[indexPe].Rk}}
                                                        span.medal-section-container__list__body__splits__values__list__split__diff(v-if='compCurrent.Splits[indexPe].Diff')
                                                            | {{ showAccum ? compCurrent.Splits[indexPe].AcumulatedDiff : compCurrent.Splits[indexPe].Diff}}
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import images from '@/mixins/images';

/* eslint-disable */
@Component({
    props: {
        competitors: { type: Array },
        periods: {
            type: Array,
            default: function() {
                return [];
            }
        },
        type: { type: String, default: 'A' },
        showSplit: { type: Boolean, default: true },
        showDiff: { type: Boolean, default: true },
        showAccum: { type: Boolean, default: false },
        current: { type: String },
        last: { type: String }
    },
    components: {}
})
/* eslint-enable */
export default class CurrentLast extends mixins(images) {
    @Prop({ type: Boolean, default: true })
    showSplit!: boolean;

    @Prop({ type: Boolean, default: true })
    showDiff!: boolean;

    @Prop({ type: Boolean, default: false })
    showAccum!: boolean;

    compCurrent: any = null;
    compLast: any = null;

    findCompetitor(reg: string) {
        if (this.$props.competitors && reg) {
            return this.$props.competitors.find((c: any) => c.Reg == reg);
        }
        return null;
    }

    @Watch('current')
    setCurrent(value: any) {
        this.compCurrent = this.findCompetitor(value);
    }

    @Watch('last')
    setLast(value: any) {
        this.compLast = this.findCompetitor(value);
    }

    @Watch('competitors')
    setValues(competitors: any, old?: any) {
        if (!competitors) {
            this.compCurrent = null;
            this.compLast = null;
            return;
        }
        this.setCurrent(this.$props.current);
        this.setLast(this.$props.last);
    }

    mounted() {
        this.setValues(this.$props.competitors);
    }
}
</script>
