<template lang="pug">
mixin detailSplits
    .h2h-result__competitor__detail-results__split(v-if='!displayPeriods || displayPeriods[indexSH]')
        ResultAnimated(v-if='showWinner', type='p', :res='splitH.Result', :clas='splitH.RkPo == 1 ? "winner" : ""')
        ResultAnimated(v-else, type='p', :res='splitH.Result')

.h2h-result
    .h2h-result__competitor(:class='{ winner1: Home.RkPo == 1 }')
        .h2h-result__competitor__info
            .h2h-result__competitor__info__flag
                img(v-if='Home.Org && Home.Org !== "BYE"', :src='flag(Home.Org)')
                span {{ Home.Org }}

            .h2h-result__competitor__info__name(v-if='isTeam')
                span {{ Home.Name }}

            .h2h-result__competitor__info__double(v-if='!isTeam')
                ul.h2h-result__competitor__info__double__list
                    li.h2h-result__competitor__double__info__list__player(
                        v-for='(member, index) in Home.Members',
                        :key='index'
                    )
                        span {{ member.Name }}

        .h2h-result__competitor__detail-results 
            template(v-if='showSplits') 
                template(v-for='(splitH, indexSH) in Home.Splits')
                    +detailSplits

            slot(name='total', :competitor='Home')
                .h2h-result__competitor__detail-results__total-rs(v-if='Home.Result || Home.IRM != "OK"')
                    ResultAnimated(v-if='Home.Result', type='p', :res='Home.Result')
                    ResultAnimated(v-else, type='p', :res='Home.IRM')

    .h2h-result__competitor.splits-title
        .h2h-result__competitor__info
        .h2h-result__competitor__detail-results
            template(v-for='(per, idx) in periods')
                .h2h-result__splits-title(v-if='!displayPeriods || displayPeriods[idx]')
                    span {{ per.Desc }}
            slot(name='splits')
                .h2h-result__splits-title
                    span {{$t('disciplines.total')}}

    .h2h-result__competitor(:class='{ winner1: Away.RkPo == 1 }')
        .h2h-result__competitor__detail-results.hidden-sm
            template(v-if='showSplits') 
                template(v-for='(splitH, indexSH) in Away.Splits')
                    +detailSplits
            slot(name='total', :competitor='Away')
                .h2h-result__competitor__detail-results__total-rs(v-if='Away.Result || Away.IRM != "OK"')
                    ResultAnimated(v-if='Away.Result', type='p', :res='Away.Result')
                    ResultAnimated(v-else, type='p', :res='Away.IRM')

        .h2h-result__competitor__info
            .h2h-result__competitor__info__flag
                img(v-if='Away.Org && Away.Org !== "BYE"', :src='flag(Away.Org)')
                span {{ Away.Org }}
            .h2h-result__competitor__info__name(v-if='isTeam')
                span {{ Away.Name }}
            .h2h-result__competitor__info__double(v-if='!isTeam')
                ul.h2h-result__competitor__info__double__list
                    li.h2h-result__competitor__info__double__list__player(
                        v-for='(member, index) in Away.Members',
                        :key='index'
                    )
                        span {{ member.Name }}
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import ResultAnimated from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
//

@Component({
    props: {
        competitors: { type: Array },
        periods: { type: Array },
        showSplits: { type: Boolean, default: true },
        showWinner: { type: Boolean, default: true },
        displayPeriods: { type: Array },
        current: { type: Number, default: 0 },
        type: { type: String, default: 'A' }
    },
    components: { ResultAnimated }
})
export default class H2HPeriodNew extends Mixins(Images) {
    get Home(): any {
        if (this.$props.competitors && this.$props.competitors.length == 2) return this.$props.competitors[0];
        return null;
    }
    get Away(): any {
        if (this.$props.competitors && this.$props.competitors.length == 2) return this.$props.competitors[1];
        return null;
    }

    get isTeam() {
        return this.$props.type === 'T' || this.$props.type === 'A';
    }
}
</script>
