<template lang="pug">
mixin members(varName, isHome)
    ul.body-section-container_results__list__competitor__list.row
        //- Doubles
        template(v-if='type == "D"')
            li.body-section-container_results__list__competitor__list__member.col-12.doubles(
                v-for=`member,indexM in ${varName}.Members`,
                :key='indexM'
            )
                .body-section-container_results__list__competitor__list__member__container
                    .body-section-container_results__list__competitor__list__member__container__avatar
                        img(:src='photo(member.Reg)', @error='errPhoto')
                .body-section-container_results__list__competitor__list__member__info(:data-bib='member.Bib')
                    .body-section-container_results__list__competitor__list__member__info__country
                        img.body-section-container_results__list__competitor__list__member__info__country__flag(
                            :src='flag(member.Org)'
                        )
                        p.body-section-container_results__list__competitor__list__member__info__country__org {{ member.Org }}
                    p.body-section-container_results__list__competitor__list__member__info__name {{ member.Name }}

            li.body-section-container_results__list__competitor__list__member__winner(class=isHome ? "home" : "away")
                .ribbon-wrapper.ribbon-small(:class=`${varName}.WLT == "W" ? "ribbon-op1" : ""`)
                    span
                        span {{$t('disciplines.winner')}}
        //- Individuals & Teams
        template(v-else)
            li.body-section-container_results__list__competitor__list__member.col-12(
                :class='type == "A" ? "athlete" : "team"'
            )
                .d-flex.align-items-end.w-100
                    .body-section-container_results__list__competitor__list__member__container(v-if='type == "A"')
                        .body-section-container_results__list__competitor__list__member__container__avatar
                            img(:src=`photo(${varName}.Reg)`, @error='errPhoto')

                    .body-section-container_results__list__competitor__list__member__info(:data-bib=`${varName}.Bib`)
                        .body-section-container_results__list__competitor__list__member__info__country
                            img.body-section-container_results__list__competitor__list__member__info__country__flag(
                                :src=`flag(${varName}.Org)`
                            )
                            p.body-section-container_results__list__competitor__list__member__info__country__org {{ #{ varName }.Org }}
                        p.body-section-container_results__list__competitor__list__member__info__name {{ #{ varName }.Name }}

                .body-section-container_results__list__competitor__list__member__winner(class=isHome ? "home" : "away")
                    .ribbon-wrapper.ribbon-small(:class='`${varName}.WLT=="W" ? "ribbon-op1" : ""`')
                        span
                            span {{$t('disciplines.winner')}}

ul.body-section-container_results__list
    li.body-section-container_results__list__competitor.col-12.col-md-5.col-lg-4(v-if='home')
        +members('home', true)

    li.body-section-container_results__list__competitor.col-12.col-md-2.col-lg-2.d-flex(
        v-for='(competitor, indexS) in competitors',
        :key='indexS'
    )
        ul.body-section-container_results__list__competitor__list.body-section-container_results__list__competitor__list_scores
            li.body-section-container_results__list__competitor__list_scores__score
                result(
                    type='span',
                    :res='competitor.IRM == "OK" ? competitor.Result : competitor.IRM',
                    :clas='indexS == 0 ? "hyphen" : ""',
                    class-tag='body-section-container_results__list__competitor__list_scores__score__value'
                ) 

    li.body-section-container_results__list__competitor.col-12.col-md-5.col-lg-4(v-if='away')
        +members('away', false)
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
//
import Images from '@/mixins/images';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';

/* eslint-disable */
@Component({
    props: ['competitors', 'type'],
    components: { Result }
})
/* eslint-enable */
export default class Score extends mixins(Images) {
    //
    home: any = null;
    away: any = null;

    @Watch('competitors')
    setValues(value: any[]) {
        if (value) {
            this.home = value[0];
            this.away = value[1];
        } else {
            this.home = null;
            this.away = null;
        }
    }
    mounted() {
        this.setValues(this.$props.competitors);
    }
}
</script>
