$dropdown-list-boxshadow: $card-boxshadow;
$dropdown-list-button-bg: $white;
$dropdown-list-button-text: $color-primary;
$dropdown-list-button-border: $color-primary;
$dropdown-list-button-border-e: 2px;

$dropdown-list-top: 46px;
$dropdown-list-bg: $color-surface;
$dropdown-list: $color-on-surface;
$dropdown-list-border: $color-secondary;
$dropdown-list-border-e: 0;
