.body-section-container {
    &__list-info-groups {
        list-style: none;
        padding: 0;
        &_sort {
            margin-top: 3em;
            .table-groups__body__tr__td {
                line-height: 1.5em;
                vertical-align: middle;
                &__two-rows {
                    font-size: 1.5em;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @include flex-wrap(wrap);
                    span {
                        @include flex(0 1 100%);
                        &.detail {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}
