.body-section-container {
    &_results {
        padding: 1rem 2rem;
        &__title {
            width: 100%;
            // max-width: $max-width-content-box;
        }
        &__team {
            display: flex;
            flex-direction: column;
            color: $color-bodysectioncontainer-results-team;
            background-color: $color-bodysectioncontainer-results-team-bg;
            align-items: center;
            margin: auto;
            &__title {
                color: $color-bodysectioncontainer-results-team-title;
                font-size: 1.1em;
                font-weight: 600;
                margin-top: 4px;
                margin-bottom: 4px;
            }
            &__competitor {
                color: $color-bodysectioncontainer-results-team-competitor;
                font-size: 0.8em;
                font-weight: 500;
                margin-bottom: 8px;
            }
        }

        &__venue {
            color: $color-bodysectioncontainer-results-venue;
            font-size: 1.5em;
            margin: 0;
        }
        &__status {
            color: $color-bodysectioncontainer-results-status;
            font-size: 1.1em;
            margin: 0;
        }
        &__date {
            font-family: $font-results-numbers;
            color: $color-bodysectioncontainer-results-date;
            font-size: 0.95em;
            margin-top: 4px;
        }
        &__list {
            /* el resultado del partido ONE vs OTHER */
            list-style: none;
            padding: 0;
            @include display-flex();
            position: relative;
            @include flex-direction(column);
            @include align-items(center);
            &__competitor {
                /* cada uno de los pareticipantes */
                &__list {
                    list-style: none;
                    padding: 0;
                    @include display-flex();
                    @include flex-direction(column);
                    &__member {
                        @include flex(1);
                        @include display-flex();
                        @include justify-content(flex-start);
                        @include align-items(flex-end);
                        @include flex-wrap(wrap);

                        &__container {
                            //background-color: $red;
                            border: 3px solid transparent;
                            border-image-slice: 1;
                            @include display-flex();
                            @include align-items(center);
                            @include box-shadow(1px 1px 6px $gray5);
                            @include border-radius(0px 5px);
                            @include flex-direction(column);
                            @include flex-wrap(wrap);
                            min-height: 40px;
                            position: relative;
                            //border: 4px solid #a55f9e;
                            overflow: hidden;
                            z-index: 0;
                            &__avatar {
                                width: 40px;
                                height: 40px;
                                display: block;
                                position: relative;
                                img {
                                    object-fit: cover;
                                    max-height: 44px;
                                    min-width: 46px;
                                    object-position: center;
                                    position: absolute;
                                    left: -3px;
                                    top: 0px;
                                    height: inherit;
                                    width: inherit;
                                }
                            }
                        }

                        &__info {
                            background-color: transparent;
                            @include display-flex();
                            @include flex-direction(column);
                            justify-content: center;
                            align-items: center;
                            z-index: 0;
                            &:before {
                                content: attr(data-bib);
                                font-family: $font-results-numbers;
                                position: absolute;
                                display: block;
                                right: 25px;
                                top: 4px;
                                color: $color-bodysectioncontainer-list-competitor-list-member-info-before;
                                font-size: 0.95em;
                                font-weight: 500;
                            }
                            &__country {
                                @include display-flex();
                                margin-top: 6px;
                                padding-left: 0px;
                                &__flag {
                                    max-height: 24px;
                                }
                                &__org {
                                    margin-left: 5px;
                                    margin-bottom: 0;
                                    font-weight: 700;
                                }
                            }

                            &__name {
                                width: auto;
                                color: $color-bodysectioncontainer-list-competitor-list-member-info-name;
                                margin-top: 4px;
                                margin-bottom: 0;
                                text-align: left;
                                /*text-transform: uppercase;*/
                                padding-right: 13px;
                                font-weight: 500;
                            }
                        }
                        &__winner {
                            order: 3;
                            display: flex;
                            // align-items: center;
                            justify-content: center;
                            @include flex(0 0 100%);
                            margin-top: 10px;
                            margin-left: -18px;
                            @media screen and(min-width: 992px) {
                                &.home {
                                    @include justify-content(center);
                                }
                                &.away {
                                    @include justify-content(center);
                                }
                            }

                            @media screen and(max-width: 992px) {
                                margin-left: 0px;
                            }
                        }
                        &.doubles {
                            margin-top: 1em;
                        }
                        &.team {
                            margin-top: 0.5em;

                            .body-section-container_results__list__competitor__list__member__info {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .body-section-container_results__list__competitor__list_scores {
                border: 0px solid red;

                text-align: center;
                &__score {
                    &__value {
                        color: $color-primary-dark;
                        font-size: 3em;
                        font-family: $font-monospace;
                        display: flex;
                        flex-direction: row;
                        &.hyphen:after {
                            content: '-';
                            display: block;
                            padding-left: 1.5rem;
                            // position: absolute;
                            // line-height: 1em;
                            // right: calc(50% - 7px);
                            // top: calc(50% + 10px);
                        }
                    }
                }
            }
        }
    }
}

.body-section-container_results__disc_h2h {
    width: 100%;
    ul.body-section-container_results__list {
        border: 2px solid orange;
        padding: 2rem;
        background: $color-surface;
        box-shadow: $card-boxshadow;
        margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(200px, 10fr) minmax(90px, 3fr) minmax(90px, 3fr) minmax(200px, 10fr);
        align-content: center;
        justify-items: center;
        li {
            max-width: 100%;
        }
    }
}
