<template lang="pug">
BEventCard(:unit='unit', :disc='"VVO"')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
// BornanUI
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

@Component({
    components: { BEventCard }
})
export default class VVOSchUnit extends Vue {
    @Prop()
    unit: any;
    @Prop()
    bio: any;
}
</script>
