<template lang="pug">
.b-match-centre(v-if='!hasCompetitors')
    h3 {{ $t("sections.no-results") }}
.b-match-centre(v-else)
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='true')
    //-
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs.no-winner(:competitors='competitors', :type='type')
    //- Presentation
    sl-indiv(v-if='type == "A"', :list-competitor='competitors')
    sl-doubl(v-else-if='type == "D"', :list-competitor='competitors')
    //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='true') 
    template(v-else-if='type == "T"')
        BMatchSectionTitle.sticky
            span Team Members
        BTeamStartList(:teamHome='competitors[0].Members', :teamAway='competitors[1].Members')
        //- Team Officials
        template(v-if='competitors[0].TeamOfficials || competitors[1].TeamOfficials')
            BMatchSectionTitle.sticky
                span Team Officials
            BTeamStartList.officials(
                :teamHome='competitors[0].TeamOfficials',
                :teamAway='competitors[1].TeamOfficials'
            )
    //- Officials
    BMatchSectionTitle.sticky
        span Officials
    officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator';
import h2hHasComps from '@/mixins/h2hHasComps';
//
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BTeamStartList from '@/BornanUI/components/BTeamStartList.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: {
        slIndiv,
        slDoubl,
        slTeams,
        titleUnit,
        officials,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BTeamStartList
    }
})
/* eslint-enable */
export default class VVOStartList extends Mixins(h2hHasComps) {
    hasCompetitors = false as any;
    //
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
    }

    created() {
        this.setValues(this.$props.results);
        this.hasCompetitors = this.hasCompsData(this.competitors);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
