<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid(v-if='unitInfo')
        template(v-if='unitInfo.isH2H')
            .body-section-container_results__disc.body-section-container_results__disc_h2h
                
                    scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                    period(:competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')
                    //-statistic(v-if='stats', :stats='unitStats')
                    //-officials(v-if='hasOfficials', :list-officials='officials')
        template(v-else)
            .body-section-container_results__disc.body-section-container_results__disc_ath
                
                    current-last(
                        v-if='unitInfo.IsLive'
                        :competitors='competitors', :periods='periods',
                        :current='current', :last='last'
                        )
                        template(#extraColumnsContent='{competitor}')
                            .medal-section-container__list__body__qa
                                p {{competitor.Sport.TAT}}
                            .medal-section-container__list__body__qa
                                p {{competitor.Sport.TAZ}}

                        template(#splitBox='{period, split}')
                            split-result(:data='split.Sport')

                    score-ath(:competitors='competitors', :periods='periods',
                        :type='unitInfo ? unitInfo.Type : "T"',
                        :show-diff='false'
                        )
                        template(#extraColumnsTitle='{competitor}')
                            .medal-section-container__list__body__qa.visible-sm__flex
                                p TAT
                            .medal-section-container__list__body__qa.visible-sm__flex
                                p TAZ
                        
                        template(#result='{competitor}')
                            .clb(v-if='competitor.IRM == "OK" && competitor.Rk')
                                p.clb__result {{competitor.Result}}
                            p(v-else-if='competitor.IRM != "OK"') {{competitor.IRM}}
                        
                        template(#extraColumnsContent='{competitor}')
                            .medal-section-container__list__body__qa
                                p {{competitor.Sport.TAT}}
                            .medal-section-container__list__body__qa
                                p {{competitor.Sport.TAZ}}

                        template(#splitBox='{period, split}')
                            split-result(:data='split.Sport', :finished='split.Result!==""')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currentLast from '@/components/DisciplinesMatchCentre/_commons/results/CurrentLast.vue';
//
import splitResult from './SplitResult.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period, scoreAth, splitResult, currentLast }
})
/* eslint-enable */
export default class CLBResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasOfficials = false;
    current = '';
    last = '';

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.current = '';
            this.last = '';
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.periods = value.Results.Periods;
        this.current = value.Results.Current;
        this.last = value.Results.Last;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
