<template lang="pug">
    .clb__split-result
        div(:class='classType')
            .clb__split-result__top(v-if='top!="0"')
                | {{top}}                
            .clb__split-result__bonus(v-if='bonus!="0"')
                | {{bonus}}
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';

@Component
export default class CLBSplitResult extends Vue {
    @Prop() data!: any;
    @Prop() finished!: boolean;

    get top() {
        return this.data ? this.data.TAT : '';
    }

    get bonus() {
        return this.data ? this.data.TAZ : '';
    }

    get classType() {
        if (this.top && this.bonus && this.top != '0' && this.bonus != '0') return 'res-top';
        if (this.bonus && this.bonus != '0') return 'res-bonus';
        if (this.top == '0' && this.bonus == '0' && this.finished) return 'res-fail';
        return 'res-none';
    }
}
</script>
