.body-section-container {
    p {
        .text {
            margin: 0;
        }
    }
    .members-container {
        margin: 2em 0 0;
        .title {
            background: $color-bio-entriecontainer-title-bg;
            .text {
                margin: 0; // reset
                text-align: center;
                color: $color-bio-entriecontainer-title;
                padding: 7px 0;
            }
        }
        .members {
            padding: 0;
            list-style: none;
            background: $color-biosimple-members-bg;
            // box-shadow: $color-profile-boxshadow; // misma del resto de cajas
            .member + .member {
                border-top: 1px solid $color-primary-25;
            }
            .member {
                margin: 0; // reset
                .body-section-container {
                    &_bio {
                        padding: 0;
                        margin: 0; // reset
                        width: 100%;
                        &__profile {
                            margin: 0; // reset
                            &__info {
                                margin: 0; // reset
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                align-items: center;
                                .avatar {
                                    flex: 0 0 4rem;
                                    img {
                                        border-radius: 50%;
                                        width: 75%;
                                    }
                                    @media (max-width: $breakpoint-small) {
                                        flex: 0 0 3rem;
                                    }
                                }
                                .name {
                                    font-size: 1rem;
                                    font-weight: bold;
                                    flex: 1 0;
                                    margin: 0; // reset
                                    text-align: left;
                                    @media (max-width: $breakpoint-small) {
                                        font-size: 0.8rem;
                                    }
                                }

                                .inputs {
                                    flex: 0 0;
                                    margin: 0; // reset
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    .input {
                                        flex: 0 0 auto;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        margin: 0.2rem 0.6rem;
                                        .name {
                                            font-size: 0.6rem;
                                            font-weight: 100;
                                        }
                                        .value {
                                            font-size: 1rem;
                                            font-weight: 100;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_bio {
        padding: 2rem 2rem;
        width: 100%;
        &__profile {
            box-shadow: $color-profile-boxshadow;
            &__title {
                background: $color-bio-profile-title-bg;
                &__text {
                    color: $color-bio-profile-title;
                    padding: 0.5rem 0;
                    font-size: 1.2rem;
                    margin: 0;
                    p {
                        margin: 0;
                    }
                }
            }

            &__info {
                background-color: $color-bio-profile-info-bg;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: 1rem;
                &__avatar {
                    padding: 0;
                    &__img {
                        width: 100px;
                        margin: 20px;
                        @include border-radius(50%);
                    }
                }
                &__profile {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    &__name {
                        p {
                            font-size: 1.45em;
                            font-weight: 900;
                            color: $color-profile-info-name;
                        }
                    }
                    &__noc {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 32px 6fr minmax(80px, 1fr);
                        grid-gap: 0.6rem;
                        justify-content: center;
                        align-items: center;
                        margin: 0; // reset
                        &__img {
                            max-width: 32px;
                        }

                        p {
                            margin: 0; // reset
                            justify-self: start;
                            color: $color-bio-profile-info-profile-noc-p;
                            font-weight: 600;
                            font-family: $font-monospace;
                            &.body-section-container_bio__profile__info__profile__noc__gender {
                                font-weight: 600;
                                font-size: 22px;
                            }
                        }

                        &__gender {
                            width: 100%;
                            text-align: right;
                            justify-self: flex-end;
                            font-weight: 600;
                            font-size: 20px;
                            color: $color-bio-profile-info-profile-noc-gender;
                        }
                    }

                    &__disc {
                        width: fit-content;
                        align-self: flex-end;
                        @include display-flex();
                        @include align-items(center);
                        @include justify-content(center);
                        &__img {
                            @include border-radius(50%);
                            border: solid 1px $color-bio-profile-info-profile-disc-img-border;
                            @include display-flex();
                            max-width: 45px;
                        }
                        p {
                            padding-left: 7px;
                            color: $color-bio-profile-info-profile-disc-p;
                            font-weight: 700;
                        }
                    }
                    // el campo gender y age
                    &_input {
                        align-self: flex-end;
                        width: 40%;
                        min-width: 200px;
                        justify-content: flex-end;
                        p {
                            background: $color-bio-profile-info-input-bg;
                            color: $color-bio-profile-info-input;
                            border: $color-bio-profile-info-input-border-e solid $color-bio-profile-info-input-border;
                            font-family: $font-monospace;
                            padding: 0.3rem 1rem;
                            font-size: 16px;
                            margin: 0 0 4px 0;
                            @include border-radius(0px);
                            @include display-flex();
                            @include justify-content(space-between);
                        }
                    }
                    &_team {
                        padding: 0 15px;
                    }
                }
            }
        }
        &__entrie-container {
            margin-top: 2rem;
            box-shadow: $color-bio-entriecontainer-boxshadow;

            &__title {
                margin-bottom: 10px;
                background: $color-bio-entriecontainer-title-bg;
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                &__text {
                    color: $color-bio-entriecontainer-title;
                    margin: 0;
                    padding: 7px 0;
                }
            }

            &__list-entries {
                background: $color-bio-entriecontainer-listentries-bg;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: stretch;
                gap: 5px;
                &__entrie {
                    width: 100%;
                    background-color: $color-bio-profile-entriecontainer-listentries-entrie-bg;
                    color: $color-bio-profile-entriecontainer-listentries-entrie;
                    box-shadow: $color-bio-profile-entriecontainer-listentries-entrie-boxshadow;
                    padding: 0.5rem 1.5rem 0.2rem 1rem;
                    &__name {
                        text-align: left;
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    &__rank-medal {
                        @include display-flex();
                        @include align-items(center);
                        @include justify-content(end);
                        &__medal {
                            margin: 0 11px 0 0px;
                            //padding: 0px 0 3px 7px;
                            &__img {
                                width: 35px;
                            }
                            &__no-medal {
                                margin: 0;
                            }
                        }
                        &__rank {
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 500;
                            color: $color-bio-profile-entriecontainer-listentries-entrie-rankmedal-rank;
                            span {
                                font-size: 2rem;
                                margin-left: 11px;
                                font-family: $font-bio-courier;
                            }
                        }
                    }
                }
            }
        }

        &__title {
            background: $color-bio-entriecontainer-title-bg;
            &__text {
                text-align: center;
                color: $color-bio-entriecontainer-title;
                margin: 0;
                padding: 7px 0;
            }
        }
        &__members {
            list-style: none;
            margin: 0;
            padding: 0;
            @include display-flex();
            @include flex-wrap(wrap);
            @include justify-content(center);
            p {
                margin: 0; // reset
            }

            &__member {
                @include flex(0 1 100%);
                margin-bottom: 10px;
                .body-section-container_bio__profile__info {
                    padding: 0.3rem 1rem;
                    &__profile {
                        .body-section-container_bio__profile__info__avatar__img {
                            width: 30px;
                        }
                        &__name {
                            p {
                                margin-bottom: 1rem;
                                font-size: 20px;
                            }
                        }
                        &__disc {
                            display: none;
                        }
                        &_input p {
                            margin-bottom: 2px;
                        }
                    }
                    .body-section-container_bio__profile__info__profile__noc {
                        display: none;
                    }
                }
            }
        }
    }
}
