<template lang="pug">
    h2h(v-if='unit', :unit='unit', :show-splits='true', :show-winner='true', :bio='bio')
        template(#unit-place)
            span {{ unit.VenueDesc }} - {{ unit.LocDesc }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { h2h }
})
/* eslint-enable */
export default class BHBSchUnit extends Vue {}
</script>
