.container-nocs {
    width: 100%;
    padding: 2rem;
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        align-content: center;
        justify-items: center;
        margin: 0;
        padding: 2rem 1rem;
        grid-gap: 1rem;
        button {
            width: 100%;
            max-width: 500px;
        }
        &__noc,
        button.container-nocs__list {
            width: 100%;
            max-width: 500px;
            background-color: $color-containernocs-list-noc-bg;
            border: 0px solid $color-containernocs-list-noc-border;
            box-shadow: $color-containernocs-list-boxshadow;
            padding: 0;
            transition: 0.1s;
            &:hover {
                //transform: scale(1.02);
            }
            &__link {
                //cursor: pointer;
                outline: none;
                padding: 0;
                margin: 0;
                background-color: transparent;
                border: none;
            }
            &__title {
                background: $color-container-nocs-noc-title-bg;
                @include display-flex();
                @include justify-content(center);
                @include align-items(center);
                padding: 9px 0;
                &__disc {
                    &__img {
                        width: auto;
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
                &__org {
                    &__img {
                        width: auto;
                        max-width: 30px;
                        max-height: 30px;
                    }
                }
                &__text {
                    margin-left: 7px;
                    color: $color-container-nocs-noc-title;
                    p {
                        margin: 0;
                    }
                }
            }
            &__info {
                padding: 0.8rem 2.5rem;
                color: $color-nocs-list-content-title;
                > p {
                    text-align: right;
                    margin: 3px 0;
                    font-size: 0.8em;
                    padding-right: 2rem;
                }
                &__stats {
                    color: $color-nocs-list-content-title-stats;
                    text-align: left;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &__stat {
                        padding: 0;
                        &__gen {
                            display: grid;
                            grid-template-columns: 6fr 1fr;
                            align-content: flex-start;
                            margin: 0 0 !important;
                            p {
                                text-align: left;
                                margin: 0 0 !important;
                            }
                            i {
                                margin-right: 2px;
                            }
                            .fa-mars {
                                color: $lightBlue1;
                            }
                            .fa-venus {
                                color: $lightRed;
                            }
                            &_total {
                                border-top: 3px solid $color-container-nocs-list-noc-info-stats-stat-gen-total-border;
                                font-weight: 600;
                                padding-top: 3px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        button.container-nocs__list__noc__link {
            .container-nocs__list__noc__info {
                > p {
                    padding-right: 0.7rem;
                }
            }
        }
    }
}
