<template lang="pug">
BEventCard(:unit='unit', :disc='"IHO"', :show-split-winner='false', :show-splits='true', :bio='bio',  resultType='h2h')

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import h2h from '@/components/DisciplinesMatchCentre/_commons/schedule/H2H.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { h2h, BEventCard }
})
/* eslint-enable */
export default class IHOSchUnit extends Vue {}
</script>
