<template lang="pug">
.b-match-centre
    BMatchCompetitors(:competitors='competitors', :type='type', :show='"versus"')
    BMatchNocs(:competitors='competitors', :type='type')
    //-
    sl-indiv(v-if='type == "A"', :list-competitor='competitors')
    sl-doubl(v-if='type == "D"', :list-competitor='competitors')
    //- sl-teams(v-if='type == "T"', :list-competitor='competitors', :show-pos='true')
    template(v-if='type == "T"')
        template(v-if='competitors[0].Members || competitors[1].Members')
            BMatchSectionTitle.sticky
                span Team Members
            BTeamStartList(:teamHome='competitors[0].Members', :teamAway='competitors[1].Members')
        //- Officials
        template(v-if='hasTeamOfficials')
            BMatchSectionTitle.sticky
                span Team Officials
            BTeamStartList.officials(:teamHome='competitors[0].TeamOfficials', :teamAway='competitors[1].TeamOfficials')
    //-
    template(v-if='hasOfficials')
        BMatchSectionTitle.sticky
            span Officials
        officials(:list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import slIndiv from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HIndividual.vue';
import slDoubl from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HDoubles.vue';
import slTeams from '@/components/DisciplinesMatchCentre/_commons/startlist/H2HTeam.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
/* Bornan UI */
import BMatchCompetitors from '@/BornanUI/components/BMatchCompetitors.vue';
import BMatchNocs from '@/BornanUI/components/BMatchNocs.vue';
import BMatchSectionTitle from '@/BornanUI/components/BSectionTitle.vue';
import BMatchPeriods from '@/BornanUI/components/BMatchPeriods.vue';
import BTeamStartList from '@/BornanUI/components/BTeamStartList.vue';

@Component({
    props: ['results'],
    components: {
        slIndiv,
        slDoubl,
        slTeams,
        officials,
        BMatchCompetitors,
        BMatchNocs,
        BMatchSectionTitle,
        BMatchPeriods,
        BTeamStartList
    }
})
export default class IHOStartList extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    //
    type = '';
    hasOfficials = false;
    hasTeamOfficials = false;

    @Watch('results')
    setValues(value: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.type = '';
            this.hasOfficials = false;
            this.hasTeamOfficials = false;
            return;
        }

        this.competitors = value.Competitors;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        this.type = value.Info.Type ? value.Info.Type : 'T';
        // hay Team Officials ?
        this.hasTeamOfficials = value.Competitors.some((c: any) => c.TeamOfficials && c.TeamOfficials.length > 0);
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>

<style scoped lang="scss">
.b-section-title {
    &.sticky {
        top: 53.5px;
    }
}
</style>
