<template lang="pug">
.body-section-container_results.body-section-container
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='false')
    records(v-if='results', :records='results.Results.Records')
    .body-section-container_results__disc.body-section-container_results__disc_ath
        curr-period(
            v-if='hasPeriods && unitInfo.Status === "RUNNING"',
            :periods='results.Results.Periods',
            :current='results.Results.CurrentPeriod'
        )

        score-ath(
            :competitors='competitors',
            :periods='periods',
            :current-period='results.Results.CurrentPeriod',
            :type='unitInfo ? unitInfo.Type : "T"',
            :show-accum='true'
        )
        //-statistic(v-if='stats', :stats='unitStats')
        //-officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currPeriod from '@/components/DisciplinesMatchCentre/_commons/results/ATHCurrentPeriod.vue';
import records from '@/components/DisciplinesMatchCentre/_commons/Records.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { titleUnit, currPeriod, officials, scoreAth, records }
})
/* eslint-enable */
export default class ATHResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
