<template lang="pug">
.backGroundMagenta(v-if='$store.state.sponsors.length>0')
    p
        span.strong {{$t('carrousel.sponsors')}},
        span  {{$t('carrousel.partners')}}, & {{$t('carrousel.suppliers')}},    
    .card-carousel-wrapper(sytle="{background :blue}")
        .card-carousel--nav__left(
            @click="moveCarousel(-1)"
            :disabled="atHeadOfList"
        )
        .card-carousel
            .card-carousel--overflow-container
                .card-carousel-cards(:style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}")
                    a.card-carousel--card(v-for="item in items" :href='item.url' target="_blank")
                        img(:src="item.picto", :width="widthSponsor + 'px'")
        .card-carousel--nav__right(
            @click="moveCarousel(1)"
            :disabled="atEndOfList"
        )
</template>
<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import images from '@/mixins/images';
import utils from '@/mixins/utils';

@Component
export default class VueCarrousel extends Mixins(images, utils) {
    @Prop()
    widthSponsor = '' as any;
    dataURL = 'https://awbg2019.s3.eu-west-2.amazonaws.com/sponsor/sponsors.json';
    currentOffset = 0;
    currentItem = 0;
    windowSize = 1;
    timerTimeMilis = 4000;
    paginationFactor = 220;
    realItems: Array<any> = [];
    items1: Array<any> = [
        { name: 'qatar', picto: 'pat9.png', url: '' },
        { name: 'katara', picto: 'pat1.png', url: 'http://www.katara.net/' },
        { name: 'aspire', picto: 'pat2.png', url: 'https://www.aspirezone.qa/' },
        { name: 'baladna', picto: 'pat3.png', url: 'https://baladna.com/' },
        { name: 'mowasalat', picto: 'pat4.png', url: 'http://www.mowasalat.com/' },
        { name: 'bornan', picto: 'pat5.png', url: 'https://www.bornan.net/' },
        { name: 'wizteam', picto: 'pat6.png', url: 'https://wiz-team.com/' },
        { name: 'xtrememarine', picto: 'pat7.png', url: '' },
        { name: 'allradwa', picto: 'pat8.png', url: '' }
    ];

    get items(): any[] {
        return this.$store.state.sponsors;
    }

    atEndOfList() {
        return this.currentOffset <= this.paginationFactor * -1 * (this.items.length - this.windowSize);
    }
    getMaxItems() {
        if (this.$el) return Math.floor(this.$el.clientWidth / (Number(this.$props.widthSponsor) + 10));
        else return 0;
    }
    getAllItems() {
        // empiezo por el relativo
        const resItems: Array<any> = [];

        const maxItems = this.getMaxItems();

        for (let i = 0; i < maxItems; i++) {
            const realIndex = this.getItemIndex(i + this.currentItem);
            // console.log('index ' , realIndex , (i + this.currentItem) )
            if (this.items[realIndex]) resItems.push(this.items[realIndex]);
        }
        return resItems;
    }

    getItemIndex(subItem: number) {
        do {
            // console.log('items length', this.items.length, subItem)
            if (subItem >= this.items.length) subItem = subItem - this.items.length;
        } while (subItem >= this.items.length);

        do {
            // console.log('items length', this.items.length, subItem)
            if (subItem < 0 - this.items.length) subItem = subItem + this.items.length;
        } while (subItem < 0 - this.items.length);

        if (subItem < 0) subItem = this.items.length + subItem;
        return subItem;
    }
    atHeadOfList() {
        return this.currentOffset === 0;
    }
    moveItem(direction: number) {
        // Find a more elegant way to express the :style. consider using props to make it truly generic
        this.currentItem += direction;
        if (direction === 1 && !this.atEndOfList()) {
            this.currentOffset -= this.paginationFactor;
        } else if (direction === -1 && !this.atHeadOfList()) {
            this.currentOffset += this.paginationFactor;
        }
    }
    moveCarousel(direction: number) {
        // Find a more elegant way to express the :style. consider using props to make it truly generic
        if (direction === 1 && !this.atEndOfList()) {
            this.currentOffset -= this.paginationFactor;
        } else if (direction === -1 && !this.atHeadOfList()) {
            this.currentOffset += this.paginationFactor;
        }
    }

    timerFunctionBackwards() {
        if (this.currentItem == 0) {
            //cambio de direccion
            this.moveItem(1);
            setTimeout(this.timerFunction, this.timerTimeMilis);
        } else {
            this.moveItem(-1);
            setTimeout(this.timerFunctionBackwards, this.timerTimeMilis);
        }
    }
    timerFunction() {
        if (this.currentItem + this.getMaxItems() >= this.items.length) {
            //cambio de direccion
            this.moveItem(-1);
            setTimeout(this.timerFunctionBackwards, this.timerTimeMilis);
        } else {
            this.moveItem(1);
            setTimeout(this.timerFunction, this.timerTimeMilis);
        }
    }
    mounted() {
        // console.log('Window size: ', this.$el.clientWidth)
        this.realItems = this.getAllItems();
        //console.log('Max items:' ,this.getMaxItems())
        if (!this.$props.widthSponsor) this.$props.widthSponsor = 200;
        this.paginationFactor = Number(this.$props.widthSponsor) + 10;
        setTimeout(this.timerFunction, this.timerTimeMilis);
    }
}
</script>
