<template lang="pug">
.b-dropdwn
    label.b-dropdwn__label {{ title }}
    .dropdown-element
        button.dropdown-element__button(@click='openDropdown')
            span.dropdown-element__button__title(v-if='selIdx >= 0') {{ descSelected }}
                i.fas.fa-caret-down
            span.dropdown-element__button__title(v-else) {{ $t("filters.empty") }}
        .dropdown-element__box(:class='isOpened ? "dropdownO" : "dropdownC"')
            ul.dropdown-element__box__list
                li.dropdown-element__box__list__element.pointer(v-for='(element, index) in list', :key='index')
                    .dropdown-element__box__list__element__container(
                        @click='changeOption(index, element)',
                        :class='selIdx == index ? "active" : ""'
                    )
                        img.dropdown-element__box__list__element__container__img(
                            v-if='fieldImg && element[fieldImg]',
                            :src='require(element[fieldImg])'
                        )
                        span.dropdown-element__box__list__element__container__desc {{ element[fieldDesc] }}
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

/* eslint-disable */
@Component
export default class Dropdown extends Vue {
    @Prop({ type: Array })
    list: any;
    @Prop({ type: String })
    declare title: string;
    @Prop({ type: String })
    declare fieldImg: string;
    @Prop({ default: 'Desc', type: String })
    declare fieldDesc: string;

    selIdx = -1;
    isOpened = false;

    get descSelected() {
        if (this.selIdx < 0) return '';
        const sel = this.$props.list[this.selIdx];
        if (sel && sel[this.$props.fieldDesc]) return sel[this.$props.fieldDesc];
        return '';
    }

    @Watch('list')
    onListChanged() {
        this.selIdx = -1;
        this.isOpened = false;
    }

    openDropdown(): void {
        this.isOpened = !this.isOpened;
    }

    changeOption(idx: number, elem: any) {
        this.selIdx = idx;
        this.isOpened = false;
        this.$emit('changed-option', elem);
    }

    selectIndex(index: number) {
        if (index >= 0 && index < this.$props.list.length) this.selIdx = index;
        else this.selIdx = -1;
    }
}
</script>
