<template lang="pug">
.autocomplete
    input(
        type='text',
        v-model='search',
        :placeholder='placeholder',
        @focus='onChange',
        @input='onChange',
        @keydown.down='onArrowDown',
        @keydown.up='onArrowUp',
        @keydown.enter='onEnter')
    i.fas.fa-sort-down(@click='onChange')
    i.fas.fa-sort-up(@click='onChange')
    ul.autocomplete-results(v-show='isOpen')
        li.autocomplete-result(
            v-for='(result, i) in results',
            :key='i',
            :class='{ "is-active": i === arrowCounter }',
            @click='setResult(result)') 
            span {{ field ? result[field] : result }}
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import dates from '@/mixins/dates';

@Component
export default class Filters extends Mixins(dates) {
    @Prop({
        type: Array,
        required: true,
        default: () => []
    })
    items: any;
    @Prop({
        type: String,
        required: false,
        default: null
    })
    field: null | any;
    @Prop({
        type: String,
        required: false,
        default: '(Player)'
    })
    declare placeholder: string;
    //
    search = '' as any;
    results = '' as any;
    isOpen = false as boolean;
    arrowCounter = -1 as number;
    dates = new dates() as any;

    onChange() {
        this.isOpen = true;
        this.filterResults();
    }
    filterResults() {
        const toFind = this.search.toLowerCase();
        this.results = this.$props.items.filter((item: any) => {
            //console.log('filter results: ', item);
            const value = this.$props.field ? item[this.$props.field] : item;
            return value.toLowerCase().indexOf(toFind) > -1;
        });
    }
    setResult(result: any) {
        //console.log('FILTER result: ', result, ' + field: ', this.$props.field);
        if (result) {
            this.search = this.$props.field ? (result[this.$props.field] ? result[this.$props.field] : result) : result;
        } else this.search = '';
        this.isOpen = false;
        this.arrowCounter = -1;
        this.$emit('selected', result);
        //Clear input
        this.search = '';
    }
    onArrowDown() {
        if (this.arrowCounter < this.results.length) {
            this.arrowCounter = this.arrowCounter + 1;
        }
    }
    onArrowUp() {
        if (this.arrowCounter > 0) {
            this.arrowCounter = this.arrowCounter - 1;
        }
    }
    onEnter() {
        let result = null;
        if (this.results.length === 1) this.arrowCounter = 0;
        if (this.arrowCounter >= 0) result = this.results[this.arrowCounter];
        this.setResult(result);
    }
    handleClickOutside(evt: any) {
        if (!this.$el.contains(evt.target)) {
            this.isOpen = false;
            this.arrowCounter = -1;
        }
    }

    mounted() {
        document.addEventListener('click', this.handleClickOutside);
    }
    destroyed() {
        document.removeEventListener('click', this.handleClickOutside);
    }
}
</script>
