<template lang="pug">
//- #scroll.fill(@scroll='handleScroll', :class='hiddenHeader ? "hiddenHeader" : ""')
//- HEADER CON BACKGROUND image y con titulo de la subseccion
//- EXTRAIDO AL COMPONENTE main/BMainHeader.vue
//- section.header-section-container.header-section-container_sub(:style='{ backgroundImage: `url(${bg})` }')
//-     h3 __sub
//-     .header-section-container__discipline
//-         img.header-section-container__discipline__picto(v-if='image', :src='image')
//-         .header-section-container__discipline__text
//-             slot(name='header')

.content(:class='hiddenHeader ? "hiddenHeader" : ""')
    section.header-section-container-submenu
        //- h3 __test__submenu
        .header-section-container-submenu__disc
            img.header-section-container-submenu__disc__picto(v-if='imageSub', :src='imageSub')
            .header-section-container-submenu__disc__title
                slot(name='submenu')

        .header-section-container-submenu__filters
            //h2 __test__filters
            .container-animation-filter-modal-backdrop(
                v-if='$store.state.panelA < 2',
                @click='showPanelAnimation()',
                :class='showPanel ? "showPanel" : "hiddenPanel"'
            )
            .container-animation-filter(
                v-if='$store.state.panelA < 2',
                :class='showPanel ? "showPanel" : "hiddenPanel"'
            )
                .container-animation-filter__text
                    p
                        i.fas.fa-arrow-left
                        span {{ $t("text-animation-panel") }}
            slot(name='filters')

    section#section-container.body-section-container(:class='bodyClass')
        //- h2 __test__BODY CLASS
        p.b-loading(v-if='loading')
            i.fa.fas.fa-spin.fa-spinner
            | {{ $t("general.loading") }}
        slot(name='title')
            h3.body-section-container__title(v-if='title') {{ title }}

        //- Radio selectors
        .body-section-container_selector(v-if='selectors && selectors.length > 0')
            .btn-group(role='group')
                .btn.selector(
                    v-for='(item, i) in selectors',
                    :class='{ active: i == idx }',
                    @click='selection(item, i)'
                )
                    span {{ seldesc ? item[seldesc] : item }}
        //- h3 __test__slotBody
        slot(name='body')
</template>

<script lang="ts">
import Vue from 'vue';
import Utils from '@/mixins/utils';
import Images from '@/mixins/images';
import { ScrollHeader } from '@/mixins/directives';
import carrousel from '@/components/commons/Carrousel.vue';

export default Vue.extend({
    name: 'SectionBase',
    mixins: [Utils, Images],
    components: { carrousel },
    directives: { ScrollHeader },
    props: {
        bg: String,
        image: String,
        imageSub: String,
        title: String,
        selectors: Array,
        seldesc: String,
        loading: Boolean,
        bodyClass: String,
        resetScrolll: Boolean
    },
    data() {
        return {
            idx: 0,
            hiddenHeader: false,
            showPanel: false
        };
    },
    watch: {
        '$route.params.disc'() {
            this.hiddenHeader = false;
        }
    },
    methods: {
        selection(item: any, i: number) {
            this.$data.idx = i;
            this.$emit('selection', item);
        },
        setSelection(i: number) {
            this.$data.idx = i;
        },

        showPanelAnimation() {
            this.showPanel = false;
            if (this.$store.state.panelA < 2) this.$store.commit('PANELA_COUNT', 1);
        },

        handleScroll() {
            this.$nextTick(() => {
                const filterHeight = 41;
                const target = document.querySelector('#scroll');
                const section = document.querySelector('#section-container');
                if (target && section) {
                    const bodyHeight = section.clientHeight;
                    if (target.clientHeight + filterHeight > bodyHeight) {
                        this.hiddenHeader = false;
                        return;
                    }

                    this.hiddenHeader = target.scrollTop > 140;
                }
            });
        },
        async checkFilterButton() {
            await this.$nextTick();
            if (document.getElementsByClassName('add-filter').length == 0) this.showPanel = false;
            else this.showPanel = true;
        }
    },
    mounted() {
        if (this.$store.state.panelA < 2) this.checkFilterButton();
    },
    updated() {
        this.$emit('updated');
    }
});
</script>
