<template lang="pug">
.b-splash
    p.splash-title(v-if='remaining > 0')
        | {{ $t("general.loading-error") }}
        span {{ errorDisplay }}
    .b-loader
        .row
            .arrow.up.outer.outer-18
            .arrow.down.outer.outer-17
            .arrow.up.outer.outer-16
            .arrow.down.outer.outer-15
            .arrow.up.outer.outer-14
        .row
            .arrow.up.outer.outer-1
            .arrow.down.outer.outer-2
            .arrow.up.inner.inner-6
            .arrow.down.inner.inner-5
            .arrow.up.inner.inner-4
            .arrow.down.outer.outer-13
            .arrow.up.outer.outer-12
        .row
            .arrow.down.outer.outer-3
            .arrow.up.outer.outer-4
            .arrow.down.inner.inner-1
            .arrow.up.inner.inner-2
            .arrow.down.inner.inner-3
            .arrow.up.outer.outer-11
            .arrow.down.outer.outer-10
        .row
            .arrow.down.outer.outer-5
            .arrow.up.outer.outer-6
            .arrow.down.outer.outer-7
            .arrow.up.outer.outer-8
            .arrow.down.outer.outer-9
    //h2.animate Loading...
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
    props: {
        remaining: { type: Number, default: 0 }
    }
})
export default class Splash extends Vue {}
</script>
<style lang="scss">
.b-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //
    background-image: url('@theme/images/splash/splash.svg');
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    .splash-title {
        color: $lightBornan;
        font-weight: 800;
        font-size: 30px;
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(center);
        margin: 0;
        position: absolute;
        top: 10px;
        span {
            @include flex(0 1 100%);
            font-size: 18px;
            font-weight: 500;
        }
    }
    .fa-spinner {
        color: $color-secondary;
        font-size: 2em;
        margin-top: 0;
    }
}

.animate {
    font-size: 16px;
    font-weight: 600;
    font-family: $font-splash-animate;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    margin: 15px 0px 0px 15px;
    text-shadow: 0 0 1px white;
}

.b-loader {
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    margin-bottom: 10rem;
    .row {
        display: flex;
    }
}

.arrow {
    width: 0;
    height: 0;
    margin: 0 (-$size * 0.5);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -(math.div($time, 18)) * $i + s;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -(math.div($time, 6)) * $i + s;
        }
    }
}

.arrow-1 {
    width: 0;
    height: 0;
    margin: 0 (-$size * 0.5);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -(math.div($time, 18)) * $i;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -(math.div($time, 6)) + s;
        }
    }
}

@media (min-width: 568px) {
    .b-splash {
        .fa-spinner {
            margin-top: 0;
        }
    }
}

@media (max-width: 720px) {
    .b-splash {
        // background-image: url('@theme/images/splash/splash-background-2022-mobile.png');
        background-image: url('@theme/images/splash/splash-mobile.svg');
    }
}
</style>
