@use '@theme/styles/_theme/background' as background;

.bornan-footer {
    background-color: $color-bornanfooter-bg;
    padding: 0;
    box-sizing: content-box;
    color: $color-bornanfooter;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 2em;
    padding-bottom: max(2em, calc(2em + var(--ios-safe-area-bottom)));
    @include background.overlay-full-tiles;
    p {
        font-weight: 500;
        color: $color-bornanfooter-p;
    }
    .soc-icons {
        a {
            color: $color-bornanfooter-socicons-a;
            font-size: 25px;
            padding: 0 7px;
            opacity: 1;
            -webkit-transition: color 0.3s ease, opacity 0.3s ease;
            -moz-transition: color 0.3s ease, opacity 0.3s ease;
            transition: color 0.3s ease, opacity 0.3s ease;

            &:hover.icon-facebook {
                color: $color-bornanfooter-socicons-a-hovericonfacebook;
            }

            &:hover.icon-twitter {
                color: $color-bornanfooter-socicons-a-hovericontwitter;
            }

            &:hover.icon-linkedin {
                color: $color-bornanfooter-socicons-a-hovericonlinkedin;
            }

            &:hover.icon-instagram {
                color: $color-bornanfooter-socicons-a-hovericoninstagram;
            }
        }
    }

    ul.menu {
        margin: 0;
        padding: 0;
        padding-bottom: 1em;
        list-style: none;
        text-transform: uppercase;
        li {
            display: inline-block;
            a,
            span {
                font-weight: 400;
                text-transform: uppercase;
                margin: 0;
                color: $color-bornanfooter-menu-li-aspan;
                padding: 0 10px 0 8px;
                border-right: 1px solid $color-bornanfooter-menu-li-aspan-border;
                line-height: 1;
                &:hover {
                    color: $color-bornanfooter-menu-li-aspan-hover;
                }
            }
        }
        li:last-child a,
        li:last-child span {
            border-right: none;
            padding-right: 0;
        }
    }

    &__links {
        // background-image: url('@theme/images/backgrounds/background_footer.jpg');
        // background-size: 100%;
        // background-repeat: repeat-y;
        font-size: 12.6px;
        font-weight: 400;
        line-height: 22.4px;
        .btFooterCopy {
            padding: 1em 0;
        }
        .btFooterMenu {
            padding: 1em 0;
            ul {
                margin: 0 -1em;
                padding: 0;
                list-style: none;
                width: 100%;
                display: inline-block;
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0 1em;
                    a {
                        color: $white;
                        outline: none;
                        &:hover {
                            color: var(--nav-hover-color);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .bornan-footer__links {
        .btFooterCopy {
            padding: 2em 0;
        }
        .btFooterMenu {
            padding: 2em 0;
        }
    }
}

@media (min-width: 1200px) {
    .bornan-footer__links {
        font-size: 11.7px;
    }
}

@media (max-width: 426px) {
    .bornan-footer__links {
        background-size: cover;
        .btFooterMenu ul li.hide-xs {
            display: none;
        }
    }
}
