.main-container {
    // box-sizing: border-box;
    // width: calc(100vw - var(--scrollbar));
    // height: fit-content;
    header {
        left: 0;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 10;
        // box-sizing: border-box;
    }
    main {
        width: 100%;
        // position: relative;
        display: grid;
        grid-template-columns: var(--left-menu-width) 1fr var(--right-menu-width);
        // grid-template-columns: var(--left-menu-width) minmax(var(--main-width-with-menus), 1fr) var(--right-menu-width);
        grid-template-rows: auto;
        box-sizing: content-box;
        @media (max-width: $breakpoint-main-desktop) {
            grid-template-columns: 0 1fr 0;
            /* que existan los menus laterales, pero no ocupen espacio, asi funcionan */
        }
        .content,
        .container-schedule {
            width: min($max-width-grid, 100%);
            @media (max-width: $breakpoint-medium) {
                width: 100%;
            }
            margin: 0 auto;
            .body-section-container {
                // border: 2px dotted green;
                padding: 2rem 1rem;
                @media (max-width: $breakpoint-medium) {
                    padding: 1rem 0.6rem;
                }
                @media (max-width: $breakpoint-small) {
                    padding: 0.6rem 0.4rem;
                }
                /* una content-section incluye un BSectionTitle + su contenido
                   diria que en todas las paginas cuelga de body-section-container */
                .content-section + .content-section {
                    padding-top: 3rem;
                    border-top: 1px solid $color-primary-25;
                    @media (max-width: $breakpoint-medium) {
                        padding-top: 2rem;
                    }
                    @media (max-width: $breakpoint-small) {
                        padding-top: 1rem;
                    }
                    @media (max-width: $breakpoint-xsmall) {
                        padding-top: 0.6rem;
                    }
                }
            }
        }
    }
    footer {
        box-sizing: border-box;
        /* estilo en _footer.scss */
    }
}
