.medals {
    &.hiddenHeader {
        .header-section-container-submenu {
            padding: 5px 10px;
        }
    }
    .header-section-container-submenu {
        padding: 0;
    }
}

.medal-section-container {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 3rem;
    &__list {
        &:first-child {
            .medal-section-container__list__body {
                background: $color-medal-section-container-list-firstchild-medalsectioncontainerlistbody-bg;
                &__elipse {
                    font-size: 0.9rem;
                }
                &__namne {
                    color: $white;
                }
                &__medals {
                    p {
                        color: $black;
                    }
                }
                &__totals {
                    @include flex-direction(inherit);
                }
                p {
                    color: $white;
                }
            }
        }
        p {
            font-weight: 500;
            margin: 0;
        }

        &__body {
            @include align-items(center);
            @include transition(all 0.5s);
            @include flex-wrap(wrap);
            border: solid 1px $color-medalsectioncontainer-list-body-border;
            color: $color-medalsectioncontainer-list-body;
            padding: 0.7rem;
            margin-top: 5px;
            &.stat {
                height: 102px;
                .medal-section-container__list__body {
                    &__gender {
                        &__stat {
                            font-size: inherit;
                            height: initial;
                            width: auto;
                        }
                    }
                    &__medal,
                    &__totals {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 25px;
                            width: 100%;
                            height: 1px;
                            background-color: $color-medalsectioncontainer-list-body-stat-medalsection-medaltotals-after-bg;
                            z-index: 5;
                        }

                        &__stat {
                            font-size: inherit;
                            height: auto;
                        }
                    }
                }
            }
            .b-100 {
                width: 0;
            }
            &__elipse {
                width: $color-medalsectioncontainer-list-body-elipse-width;
                background: $color-medalsectioncontainer-list-body-elipse-bg;
                @include align-items(center);
                color: $color-medalsectioncontainer-list-body-elipse;
                position: relative;
                text-transform: uppercase;
                font-size: 1.2rem;
                p {
                    letter-spacing: -2px;
                    margin: 0;
                }
                span.equalled {
                    margin-right: 3px;
                }
            }

            &__noc {
                @include align-items(center);
                color: $color-medalsectioncontainer-list-body-noc;
                text-transform: uppercase;
                font-weight: 500;
                text-align: left;
                padding: 0 1rem;
                img {
                    max-height: 21px;
                }
                span {
                    color: $color-medalsectioncontainer-list-body-noc-span;
                    font-size: 0.9em;
                    margin-left: 5px;
                    text-align: left;
                }
            }
            &__col {
                @include align-items(left);
                @include justify-content(flex-start);
                color: $color-medalsectioncontainer-list-body-col;
                margin-left: 120px;
                font-weight: 500;
                text-align: left;
                border: 1px solid orange;
            }
            &__title {
                @include align-items(left);
                @include justify-content(flex-start);
                color: $color-medalsectioncontainer-list-body-title;
                margin-left: 150px;
                font-weight: 500;
                text-align: left;
            }
            .title {
                margin-left: 180px;
            }

            &__name {
                @include flex(0 1 100%);
                overflow: hidden;
                margin-left: 90px;
                min-width: 70px;
                @include align-items(left);
                @include justify-content(flex-start);
                &__avatar {
                    height: 30px;
                    @include border-radius(50%);
                    overflow: hidden;
                    width: 30px;
                    min-width: 30px;
                    @media (max-width: $breakpoint-small) {
                        width: 18px;
                        min-width: 18px;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 0.5em;
                    margin: 0;
                    text-align: left;
                }
            }
            &__gender {
                height: inherit;
                @include display-flex();
                &__stat {
                    font-size: 0;
                    height: 0;
                    list-style: none;
                    @include transition(all 0.5s);
                    @include flex-direction(column);
                    @include align-items(flex-start);
                    @include display-flex();
                    padding: 0;
                    width: 0;
                    li {
                        @include display-flex();
                        margin: 4px 0 0px;
                    }
                    i {
                        color: $color-medalsectioncontainer-list-body-gender-stat-i;
                        @include align-items(center);
                        @include display-flex();
                        min-width: 18px;
                        &.fa-mars {
                            color: $color-medalsectioncontainer-list-body-gender-stat-i-famars;
                        }
                        &.fa-venus {
                            color: $color-medalsectioncontainer-list-body-gender-stat-i-favenus;
                        }
                        &.fa-venus-mars {
                            color: $color-medalsectioncontainer-list-body-gender-stat-i-favenusmars;
                        }
                    }

                    span {
                        color: $color-medalsectioncontainer-list-body-gender-stat-span;
                        font-size: 0.9em;
                        padding-left: 3px;
                    }
                }
            }

            &__medal,
            &__totals {
                @include flex(0 0 5%);
                @include justify-content(center);
                @include flex-direction(column);
                @include align-items(center);
                position: relative;
                &__img {
                    max-height: 30px;
                }
                &__stat {
                    height: 0;
                    @include transition(all 0.5s);
                    list-style: none;
                    font-size: 0;
                    margin: 0;
                    padding: 0;
                    li p {
                        color: $color-medalsectioncontainer-list-body-medalstotals-stat-lip;
                    }
                }
                p {
                    color: $color-medalsectioncontainer-list-body-medalstotals-p;
                }
            }

            &__totals {
                @include flex(0 0 9%);
                color: $color-medalsectioncontainer-list-body-totals;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 3px;
                    width: 1px;
                    height: 100%;
                    background-color: $color-medalsectioncontainer-list-body-totals-before-bg;
                    z-index: 1;
                }
                &__stat {
                    height: 0;
                    @include transition(all 0.5s);
                    list-style: none;
                    font-size: 0;
                    margin: 0;
                    padding: 0;
                }
                p {
                    color: $color-medalsectioncontainer-list-body-totals-p;
                }
            }
            &__bib {
                min-width: 18px;
                padding-left: 90px;
                padding-right: 40px;
            }
            &__stats {
                @include flex(0 1 16px);
                &__input {
                    visibility: hidden;
                    position: absolute;
                    z-index: -1;
                }
                &__label,
                &__button {
                    background-color: $color-medalsectioncontainer-list-body-stats-button-bg;
                    border: none;
                    color: $color-medalsectioncontainer-list-body-stats-button;
                    cursor: pointer;
                    @include transition(all 0.5s);
                    margin: 0;
                }

                &__button {
                    padding: 0;
                    &:first-child {
                        color: $color-medalsectioncontainer-list-body-stats-button-firstchild;
                    }
                }
            }
            &__btn-order {
                background-color: $color-medalsectioncontainer-list-body-btnorder-bg;
                border: none;
                color: $color-medalsectioncontainer-list-body-btnorder;
                cursor: pointer;
                margin-top: -9px;
                padding: 0 0 0 3px;
                &.off {
                    opacity: 0.5;
                }
                &.active {
                    margin-top: 3px;
                    &:before {
                        content: '\f0de';
                    }
                }
            }
        }
    }
}

.body-section-container__title_medal {
    color: $color-body-section-container__title_medal;
    font-size: 28px;
    font-weight: 700;
    line-height: 2em;
    margin: 8px 0;
}
h4.body-section-container__subtitle_medal {
    color: $color-h4-body-section-container__subtitle_medal;
    font-size: 1.2em;
    line-height: 2em;
    margin: 8px 0;
}

.medal-section-container__list__body {
    min-height: auto;
    &__noc {
        @include flex(inherit);
    }
    &__name {
        @include flex(1);
        p {
            margin: 0;
        }
    }
}

// @media (max-width: 1080px) {
//     .medal-section-container__list__body {
//         &__noc {
//             margin-left: -20px;
//         }
//         &__bib {
//             margin-left: -20px;
//         }
//         &__col {
//             margin-left: 10px;
//         }
//         &__title {
//             @include align-items(left);
//             @include justify-content(flex-start);
//             color: $black;
//             margin-left: 50px;
//             font-weight: 500;
//             text-align: left;
//             display: none;
//         }
//         .title {
//             margin-left: 80px;
//         }
//         &__name {
//             margin-left: 70px;
//             padding-left: 0;
//         }
//     }
// }

// @media (max-width: 768px) {
//     .medal-section-container__list__body {
//         &__noc {
//             margin-left: 0px;
//         }
//         &__col {
//             display: none;
//         }
//         &__bib {
//             margin-left: 0px;
//         }
//         &__title {
//             @include align-items(left);
//             @include justify-content(flex-start);
//             color: $black;
//             margin-left: 0px;
//             font-weight: 500;
//             text-align: left;
//             display: none;
//         }
//         &__name {
//             margin-left: 90px;
//             padding-left: 0;
//         }
//     }
// }

// @media (max-width: 575px) {
//     .medal-section-container__list__body {
//         &__noc {
//             margin-left: -40px;
//         }
//         &__col {
//             margin-left: -40px;
//             display: none;
//         }
//         &__bib {
//             margin-left: -50px;
//         }
//         &__title {
//             @include align-items(left);
//             @include justify-content(flex-start);
//             color: $black;
//             margin-left: 0px;
//             font-weight: 500;
//             text-align: left;
//             display: none;
//         }
//         &__name {
//             margin-left: 0px;
//             padding-left: 0;
//         }
//         .title {
//             margin-left: 20px;
//         }
//     }
// }
