<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_ath
            
                curr-period(
                    v-if='hasPeriods && unitInfo.Status==="RUNNING"'
                    :periods='results.Results.Periods', :current='results.Results.CurrentPeriod'
                    )

                score-ath(
                    :competitors='competitors', 
                    :periods='results.Results.Periods',
                    :current-period='results.Results.CurrentPeriod',
                    :type='unitInfo ? unitInfo.Type : "T"'
                    )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currPeriod from '@/components/DisciplinesMatchCentre/_commons/results/ATHCurrentPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { currPeriod, scoreAth }
})
/* eslint-enable */
export default class CRDResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
