<template lang="pug">
    BEventCard(:unit='unit', :disc='"CRD"', resultType='ath' )

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';
import BEventCard from '@/BornanUI/schedule/BEventCard.vue';

/* eslint-disable */
@Component({
    props: ['unit', 'bio'],
    components: { ath, BEventCard }
})
/* eslint-enable */
export default class CRDSchUnit extends Vue {}
</script>
