<template lang="pug">
#app
    template(v-if='loaded')
        router-view.view
    template(v-else)
        Splash(:remaining='remaining')
</template>

<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator';
import services from '@/settings/services';
import config from '@/settings/config';
import documentMixin from '@/mixins/documentUtils';
//
import Splash from '@/components/commons/Splash.vue';

@Component({
    components: {
        Splash
    }
})
export default class App extends Mixins(documentMixin) {
    loaded = false as boolean;
    remaining = 0 as number;
    errorMsg = '' as string;

    @Watch('$route.query')
    onRouteChanged(value: any) {
        if (value.lang) {
            const langs: any[] = this.$store.getters.languages;
            const newLang = langs.find((e: any) => e.Key == value.lang);
            if (newLang && newLang.Key != this.$store.getters.language) {
                this.$store.commit('CHANGE_LANG', newLang.Key);
            }
        }
    }

    get errorDisplay() {
        if (this.loaded == true) return '';
        if (this.remaining > 0 && this.errorMsg) {
            const nMsg: string = this.errorMsg.replace('%t%', this.remaining.toString());
            return nMsg;
        }
        return '';
    }

    async updateConfig() {
        const cfgParams = await services.link('config');
        if (cfgParams == null) {
            if (this.loaded == false) {
                this.errorMsg = this.$t('general.loading-restart').toString();
                this.remaining = 31;
                this.retryConfig();
            }
            return false;
        }
        config.general.champDesc = cfgParams.champDesc;
        config.general.storage = cfgParams.storage;
        config.general.venueTimeZone = cfgParams.venueTimeZone;
        config.general.photoPath = cfgParams.photoPath;
        config.timeouts.sports = cfgParams.timeouts;
        config.general.useSockets = cfgParams.useSockets;
        config.general.socketsURL = cfgParams.socketsURL;
        //
        this.$store.commit('INIT');
        this.$store.commit('SET_LANGS', cfgParams.langs);
        // Reload storage
        await this.$store.dispatch('update');
        this.$store.commit('sponsors', cfgParams.sponsors);
        return true;
    }
    async retryConfig() {
        this.remaining--;
        if (this.remaining == 0) {
            this.loaded = await this.updateConfig();
        } else {
            setTimeout(this.retryConfig, 1000);
        }
    }

    beforeMount() {
        //console.log('before mount APP');
    }
    async mounted() {
        // Read values from localStorage
        this.loaded = await this.updateConfig();
        this.$i18n.locale = this.$store.state.language;
        setInterval(this.updateConfig, config.timeouts.config * 1000);
        if (this.loaded) {
            //console.log('store loaded');
        }

        // setTimeout(() => {
        //     //console.log('set ScrollBar');
        //     this.setScrollbarSize();
        // }, 300);
        // pone borde rojo al elemento que provoca overflow
        // tambien a sus hijos, el responsable será el que tenga más niveles en rojo
        // setTimeout(() => {
        //     console.log('search Overflow --> GO');
        //     this.searchOverflow();
        // }, 4000);
    }
}
</script>

<style lang="scss">
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
</style>
