<template lang="pug">
.icon-discipline(v-if='discipline')
    div(:class='`icon-${discipline}`')
.icon-discipline(v-else)
    p no icon
</template>

<script setup lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
    props: {
        discipline: {
            type: String,
            default: 'default'
        },
        icontype: {
            type: String,
            required: false
        }
    }
})
export default class IconSet extends Vue {}
</script>

<style scoped lang="scss">
.icon-discipline {
    z-index: 1; // encima del overlay gradient
}
</style>