<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_h2h
            
                scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                
                period-resp(
                    v-if='hasPeriods',
                    :competitors='competitors', :periods='results.Results.Periods',
                    :display-periods='displayPeriods',
                    :show-winner='false'
                )
                    template(#splits)
                        .h2h-result__splits-title
                            span Total
                        .h2h-result__splits-title(v-if='results.Results.CurrentPeriod>=5')
                            span PSO
                    template(#total='{competitor}')
                        .h2h-result__competitor__detail-results__total-rs(v-if='competitor.Result')
                            result(type='p', :res='competitor.Result')
                        .h2h-result__competitor__detail-results__fbs-pso-rs(v-if='results.Results.CurrentPeriod>=5')
                            result(type='p', :res='competitor.ResDetail')

                period-stats(
                    v-if='results && results.Stats.showStats && results.Stats.hasStats',
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :display-periods='displayPeriods',
                    :desc-stats='results.Stats.colStats.teams'
                    )

                stats-players(
                    v-if='results && results.Stats.showStats && results.Stats.hasStats',
                    :competitors='competitors',
                    :list-stats='results.Stats.colStats.players'
                    )

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
//
import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, periodResp, statsPlayers, periodStats, Result }
})
/* eslint-enable */
export default class FBSResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];

    //- Selector de Play by play o full stats TODO select icons TODO make component
    // NOT NEEDED ANYMORE
    /*
    screenFullStats   : number = 0
    selectors   : any[] = [
        { Key: 'F', Style: 'fa-numbers', Desc: 'Team Stats', index:0 },
        //{ Key: 'S', Style: 'fa-numbers', Desc: 'Player Stats', index:1 },
        //{ Key: 'P', Style: 'fa-sort-amount-asc', Desc: 'Play by Play', index:2 },
    ] 
    */

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.displayPeriods = [];
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [true, true, true, currP >= 4, false];

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }
    selection(item: any, index: number) {
        //-console.log( 'Pulsado', item, index);
        // this.screenFullStats = index;
        //- let to : any = { params: { tab: item.tab, day: undefined } }
        //- this.$router.push(to)
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
