<template lang="pug">
div(v-if='competitorData && type === "D"')
    BPlayerLabel.doubles(v-for='(m, idx) in competitorData.Members', :reg='m.Reg', :name='m.Name', :key='idx')
div(v-else-if='competitorData && type === "T"')
    BPlayerLabel(:noc='competitorData.Org', :name='competitorData.Name')
div(v-else-if='competitorData && type === "A"')
    //- puede ser athlete individual, con avatar y nombre
    //- equipo, con bandera y nombre
    //- dobles, con dos nombres y dos fotos
    BPlayerLabel(:reg='competitorData.Reg', :name='competitorData.Name')
div(v-else)
    //- no es ni Athlete ni Double ni Team ? 
    //- tenis por equipos va aqui, se muestran todos los partidos seguidos
    BPlayerLabel(:noc='competitorData.Org', :name='competitorData.Name')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    components: {
        BPlayerLabel
    }
})
export default class BMatchCompetitor extends Vue {
    competitorData = {
        Org: '' as string,
        WLT: '' as string,
        Name: '' as string,
        Reg: '' as string
    } as any;
    @Prop()
    competitor: any;
    @Prop()
    type: any;
    //
    created() {
        this.competitorData = this.$props.competitor;
    }
}
</script>

<style lang="scss">
.home {
    .b-player {
        align-items: flex-end;
        justify-content: flex-start; /* vertical alignment */
        .name {
            text-align: right;
        }
        @media (max-width: $breakpoint-small) {
            padding-right: 1rem;
        }
        @media (max-width: $breakpoint-xsmall) {
            padding-right: 0.4rem;
        }
    }
}
.away {
    .b-player {
        align-items: flex-start;
        justify-content: flex-start; /* vertical alignment */
        .name {
            text-align: left;
        }
        @media (max-width: $breakpoint-small) {
            padding-left: 1rem;
        }
        @media (max-width: $breakpoint-xsmall) {
            padding-left: 0.4rem;
        }
    }
}
</style>
