<template lang="pug">
//-
//- COLUMNS version
//-
.b-match-result-periods(v-if='showSplits && show == "columns"', :class='show', ref='self')
    //- home
    BResultsRowColumn.b-column(:class='{ winner: Home.RkPo == 1 }')
        //- splits
        template(v-for='(split, i) in Home.Splits')
            template(v-if='!displayPeriods || displayPeriods[i]')
                template(v-if='showWinner')
                    ResultAnimated.result(
                        type='p',
                        :res='split.Result',
                        :clas='split.RkPo == 1 ? "winner" : ""',
                        :class='split.RkPo == 1 ? "winner" : ""')
                template(v-else)
                    ResultAnimated.result(type='p', :res='split.Result')
        //- final
        template(v-if='showFinalResult && (Home.Result || Home.IRM != "OK")')
            ResultAnimated.result(v-if='Home.Result', type='p', :res='Home.Result')
            ResultAnimated.result(v-else, type='p', :res='Home.IRM')
    //- titles
    BResultsRowColumn.b-column.titles
        template(v-for='(per, idx) in periods')
            template(v-if='!displayPeriods || displayPeriods[idx]')
                span.result {{ per.Desc }}
                //-span {{ per.DescS }}
        template(v-if='showFinalResult')
            span.result Final
    //- away
    BResultsRowColumn.b-column(:class='{ winner: Away.RkPo == 1 }')
        //- splits
        template(v-for='(split, i) in Away.Splits')
            template(v-if='!displayPeriods || displayPeriods[i]')
                template(v-if='showWinner')
                    ResultAnimated.result(
                        type='p',
                        :res='split.Result',
                        :clas='split.RkPo == 1 ? "winner" : ""',
                        :class='split.RkPo == 1 ? "winner" : ""')
                template(v-else)
                    ResultAnimated.result(type='p', :res='split.Result')
        //- final
        template(v-if='showFinalResult && (Away.Result || Away.IRM != "OK")')
            ResultAnimated.result(v-if='Away.Result', type='p', :res='Away.Result')
            ResultAnimated.result(v-else, type='p', :res='Away.IRM')
//-
//- ROWS version
//-
.b-match-result-periods(v-else-if='showSplits && show == "rows"', :class='show', ref='self')
    //- HOME NOC label
    BNocLabel(:noc='Home.Org', :description='Home.Name')
    //- home results
    BResultsRowColumn.b-row(:class='{ winner: Home.RkPo == 1 }')
        //- splits
        template(v-for='(split, i) in Home.Splits')
            template(v-if='!displayPeriods || displayPeriods[i]')
                ResultAnimated(
                    v-if='showWinner',
                    type='p',
                    :res='split.Result',
                    :clas='split.RkPo == 1 ? "winner" : ""',
                    :class='split.RkPo == 1 ? "winner" : ""')
                ResultAnimated(v-else, type='p', :res='split.Result')
        //- final
        template(v-if='showFinalResult && (Home.Result || Home.IRM != "OK")')
            ResultAnimated(v-if='Home.Result', type='p', :res='Home.Result')
            ResultAnimated(v-else, type='p', :res='Home.IRM')
    //- titles
    BResultsRowColumn.b-row.titles
        template(v-for='(per, idx) in periodsBySplits')
            template(v-if='!displayPeriods || displayPeriods[idx]')
                span {{ per.Desc }}
                //-span {{ per.DescS }}
        template(v-if='showFinalResult')
            span Final
    //- away results
    BResultsRowColumn.b-row(:class='{ winner: Away.RkPo == 1 }')
        //- splits
        template(v-for='(split, i) in Away.Splits')
            template(v-if='!displayPeriods || displayPeriods[i]')
                ResultAnimated(
                    v-if='showWinner',
                    type='p',
                    :res='split.Result',
                    :clas='split.RkPo == 1 ? "winner" : ""',
                    :class='split.RkPo == 1 ? "winner" : ""')
                ResultAnimated(v-else, type='p', :res='split.Result')
        //- final 
        template(v-if='showFinalResult && (Away.Result || Away.IRM != "OK")')
            ResultAnimated(v-if='Away.Result', type='p', :res='Away.Result')
            ResultAnimated(v-else, type='p', :res='Away.IRM')
    //- HOME NOC label
    BNocLabel.help(:noc='Away.Org', :description='Away.Name')
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import ResultAnimated from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
//
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BResultsRowColumn from '@/BornanUI/BResultsRowColumn.vue';

@Component({
    props: {
        competitors: { type: Array },
        periods: { type: Array },
        showSplits: { type: Boolean, default: true },
        showWinner: { type: Boolean, default: true },
        displayPeriods: { type: Array },
        current: { type: Number, default: 0 },
        type: { type: String, default: 'A' },
        show: { type: String, default: 'rows' }
    },
    components: { ResultAnimated, BResultsRowColumn, BNocLabel }
})
export default class BMatchResultsPeriods extends Mixins(Images) {
    showFinalResult = true as boolean;
    $refs!: {
        self: HTMLElement;
    };
    get Home(): any {
        if (this.$props.competitors && this.$props.competitors.length == 2) return this.$props.competitors[0];
        return null;
    }
    get Away(): any {
        if (this.$props.competitors && this.$props.competitors.length == 2) return this.$props.competitors[1];
        return null;
    }
    get periodsBySplits() {
        return this.$props.periods.slice(0, this.Home.Splits.length);
    }
    get isTeam() {
        return this.$props.type === 'T' || this.$props.type === 'A';
    }
    mounted() {
        setTimeout(() => {
            if (this.$refs.self) {
                const classes = this.$refs.self.classList;
                this.showFinalResult = !classes.contains('no-final'); // si tiene la clase, valor false para no mostrarlo
            }
        }, 300);
        //- Periods tiene valores que no han ocurrido aun. o que no van a ocurrir porque l partido ha terminado
        //- con el valor de currentPeriod, puedo calcular los periods reales y aqui filtrar los splits reales
        this.Home.Splits = this.Home.Splits.slice(0, this.$props.periods.length);
        this.Away.Splits = this.Away.Splits.slice(0, this.$props.periods.length);
    }
}
</script>

<style lang="scss">
@mixin b-match-result-periods-density() {
    $density-regular: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    @media (max-width: $breakpoint-medium) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media (max-width: $breakpoint-small) {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
    &.columns,
    &.rows {
        padding-top: 1rem;
        padding-bottom: 1.4rem;
    }
    &.rows {
        .b-list {
            &.b-row {
                > * {
                    &.winner {
                        background: $color-surface-winner;
                    }
                }
                &.titles {
                    padding-top: 0;
                    padding-bottom: 0;
                    /* este padding hace crecer el alto de la fila, e influye en el calculo que hace GRID, por eso todas crecen */
                }
            }
        }
    }
}

.b-match-result-periods {
    @include b-match-result-periods-density;
    &.columns {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr 3fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        .b-list {
            &.b-column {
                /* todos los result */
                .result + .result {
                    border-top: 1px solid $color-primary-25;
                }
                .result {
                    &.winner {
                        background: $color-surface-winner;
                    }
                }
                &.titles {
                    /* solo los result de titles */
                    .result + .result {
                        border-top: 1px solid $color-primary-25;
                    }
                }
            }
        }
    }
    &.rows {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 4fr 3fr 4fr 5fr;
        justify-items: center;
        align-items: center;
        .b-list {
            &.b-row {
                &.titles {
                    padding: 0;
                    border-top: 1px solid $color-primary-25;
                    border-bottom: 1px solid $color-primary-25;
                }
                // &.winner {
                //     background: $color-surface-winner;
                // }
            }
        }
    }
}
</style>
