<template lang="pug">
.b-match-nocs.sticky(ref='self')
    template(v-if='competitors[0] && competitors[0]')
        BNocLabel.start(
            :noc='competitors[0].Org',
            :description='competitors[0].OrgDesc',
            :class='[showNames ? "" : "flag noc", competitors[0].WLT == "W" ? "winner" : ""]')
        BNocLabel.end.reverse(
            :noc='competitors[1].Org',
            :description='competitors[1].OrgDesc',
            :class='[showNames ? "" : "flag noc", competitors[1].WLT == "W" ? "winner" : ""]')
    template(v-else)
        p No competitors data
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BNocLabel from '@/BornanUI/BNocLabel.vue';

@Component({
    components: { BNocLabel }
})
export default class BMatchNocs extends Vue {
    showNames = true as boolean;
    $refs!: {
        self: HTMLElement;
    };
    //
    @Prop({ default: {} })
    competitors: any;
    @Prop({ default: '' })
    type: any;
    //
    checkIfIsTeam() {
        if (this.type == 'T') {
            //console.log(this.type+': es TEAM, no muestres nombre de pais')
            this.showNames = false;
        }
    }
    mounted() {
        const waitRefs = setInterval(() => {
            if (this.$refs.self) {
                const classes = this.$refs.self.classList;
                //this.showNames = !classes.contains('no-names');
            }
            // prevalece esto sobre la clase, debes mandar el type a BMatchNocs en todos los deportes
            this.checkIfIsTeam();
            clearInterval(waitRefs);
        }, 50);
    }
}
</script>

<style scoped lang="scss">
.b-match-nocs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $color-primary-25;
    &.sticky {
        background: $white;
        position: sticky;
        top: 0;
        z-index: 7;
    }
    .label {
        padding: 1rem 1rem 1.1rem 1rem;
        &.winner {
            background: $color-surface-lighter;
            height: 100%;
        }
    }
    @media (max-width: $breakpoint-small) {
        .label {
            .name {
                display: none;
            }
        }
    }
    /* ANULA el background distinto para el ganador */
    &.no-winner {
        .label.winner {
            background: transparent;
        }
    }
}
</style>
