<template lang="pug">
.b-match-periods
    .list resultados por periodos
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class BMatchPeriods extends Vue {}
</script>

<style scoped lang="scss">
.b-match-periods {
    width: 100%;
    height: fit-content;
    list-style: none;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start;
    padding: 0;
    border-bottom: 1px solid $color-primary-25;
    padding: 1rem;
}
</style>
