<template lang="pug">
.b-match-versus(v-if='home && away && show == "versus"')
    BMatchCompetitor.home(:competitor='home', :type='type')
    .versus vs
    BMatchCompetitor.away(:competitor='away', :type='type')
.b-match-no-scores(v-else-if='home && away && show == "no-scores"')
    BMatchCompetitor.home(:competitor='home', :type='type', :class='home.WLT == "W" ? "winner" : ""')
    BMatchCompetitor.away(:competitor='away', :type='type', :class='away.WLT == "W" ? "winner" : ""')
.b-match-scores(v-else-if='home && away && show == "scores"')
    BMatchCompetitor.home(:competitor='home', :type='type', :class='home.WLT == "W" ? "winner" : ""')
    //- competitor[0] es home y el 1 es away, los scores salen en el mismo orden en que pintas los datos
    .score(v-if='home', :class='[`score_0`, home.WLT == "W" ? "winner" : ""]')
        //- {{ home.IRM == "OK" ? home.Result : home.IRM }}
        ResultAnimated(
            type='span',
            :res='home.IRM == "OK" ? home.Result : home.IRM',
            :clas='0 == 0 ? "hyphen" : ""',
            class-tag='body-section-container_results__list__competitor__list_scores__score__value') 
    .score(v-if='away', :class='[`score_1`, away.WLT == "W" ? "winner" : ""]')
        //- {{ away.IRM == "OK" ? away.Result : away.IRM }}
        //- :clas='1 == 0 ? "hyphen" : ""',
        ResultAnimated(
            type='span',
            :res='away.IRM == "OK" ? away.Result : away.IRM',
            :clas='""',
            class-tag='body-section-container_results__list__competitor__list_scores__score__value') 
    BMatchCompetitor.away(:competitor='away', :type='type', :class='away.WLT == "W" ? "winner" : ""')
.b-match-list(v-else-if='sortedCompetitors && type != "T" && show == "list"')
    //- p tipo: {{ type }}
    //-  como sabe el de los titulos, los datos que vas a mandar y los que no ?
    //-  le mando los valores del primero de la lista
    BPlayerLabel.titles(
        v-if='competitors[0]',
        :name='competitors[0].Name',
        :bib='competitors[0].Bib',
        :order='competitors[0].StartOrder',
        :country='competitors[0].Org')

    template(v-for='competitor in sortedCompetitors')
        template(v-if='competitor.isTeam')
            router-link(:to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: competitor.Reg } }')
                BPlayerLabel.list(
                    :noc='competitor.Org',
                    :name='competitor.Name',
                    :bib='competitor.Bib',
                    :order='competitor.StartOrder',
                    :country='competitor.Org')
        template(v-else)
            router-link(:to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: competitor.Reg } }')
                BPlayerLabel.list(
                    :reg='competitor.Reg',
                    :name='competitor.Name',
                    :bib='competitor.Bib',
                    :order='competitor.StartOrder',
                    :country='competitor.Org') 
.b-match-list(v-else-if='sortedCompetitors && type == "T" && show == "list"')
    //- h3 tipo: {{ type }} - SON EQUIPOS con Members
    //-  como sabe el de los titulos, los datos que vas a mandar y los que no ?
    //-  le mando los valores del primero de la lista
    BPlayerLabel.titles(
        v-if='competitors[0]',
        :name='competitors[0].Name',
        :bib='competitors[0].Bib',
        :order='competitors[0].StartOrder',
        :country='competitors[0].Org')
    template(v-for='competitor in sortedCompetitors')
        BPlayerLabel.list(
            :noc='competitor.Org',
            :name='competitor.Name',
            :bib='competitor.Bib',
            :order='competitor.StartOrder',
            :country='competitor.Org')
        //- LISTA de MEMBERS dentro de un equipo
        //- es otro estilo distinto al de la lista, es una lista dentro de otra
        .new-row
        .player-members
            BPlayerLabel.list(v-for='(m, idx) in competitor.Members', :reg='m.Reg', :name='m.Name', , :key='idx')
.b-match-else(v-else)
    slot
</template>

<script lang="ts">
import { Component, Prop, Mixins, Watch } from 'vue-property-decorator';
//
import Images from '@/mixins/images';
import ResultAnimated from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
/* Bornan UI */
import BNocLabel from '@/BornanUI/BNocLabel.vue';
import BMatchCompetitor from '@/BornanUI/components/BMatchCompetitor.vue';
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    components: {
        ResultAnimated,
        BNocLabel,
        BMatchCompetitor,
        BPlayerLabel
    }
})
export default class BMatchCompetitors extends Mixins(Images) {
    // data
    sortedCompetitors = [] as Array<any>;
    // props
    @Prop()
    declare competitors: any;
    @Prop()
    type: any;
    @Prop()
    show: any;
    //
    get home() {
        if (this.$props.show == 'list') return false;
        return this.$props.competitors[0];
    }
    get away() {
        if (this.$props.show == 'list') return false;
        return this.$props.competitors[1];
    }
    competitorisTeam(competitor: any) {
        return competitor.Members?.length > 0 && competitor.Org == competitor.NameS;
    }
    setData(value: any[]) {
        this.sortedCompetitors = value.slice();
        this.sortedCompetitors.sort((a: any, b: any) => a.StartSortOrder - b.StartSortOrder);
        // dime si el competidor es un equipo o no
        this.sortedCompetitors.map((c: any) => (c.isTeam = this.competitorisTeam(c)));
    }
    @Watch('competitors')
    onChangeCompetitors(value: any[]) {
        this.setData(value);
    }
    created() {
        this.setData(this.$props.competitors);
    }
}
</script>

<style lang="scss">
.b-match-scores,
.b-match-no-scores,
.b-match-versus,
.b-match-list {
    width: 100%;
    height: fit-content;
    list-style: none;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start;
    padding: 0;
    border-top: 1px solid $color-primary-25;
    .home,
    .away {
        width: 100%;
        padding: 1rem;
        @media (max-width: $breakpoint-small) {
            padding: 0.6rem;
        }
    }
    .score {
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .home,
    .away,
    .score {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .score,
    .versus {
        align-self: center;
        font-size: 2.8rem;
        color: $color-primary;
        div {
            /* esto es lo que centra en vertical el numero de SCORE */
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
.b-match-scores {
    grid-template-columns: 3fr 1fr 1fr 3fr;
    .home,
    .away,
    .score {
        &.winner {
            background: $color-surface-lighter;
            height: 100%;
        }
    }
    @media (max-width: $breakpoint-small) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        .home {
            order: 1;
        }
        .away {
            order: 2;
        }
        .score_0 {
            order: 3;
        }
        .score_1 {
            order: 4;
        }
    }
}
.b-match-no-scores {
    grid-template-columns: 1fr 1fr;
    .home,
    .away {
        padding: 1rem 2rem;
        overflow: hidden;
        &.winner {
            background: $color-surface-lighter;
            height: 100%;
        }
        @media (max-width: $breakpoint-xsmall) {
            padding: 1rem 0.4rem;
        }
    }
    .home {
        order: 1;
    }
    .away {
        order: 2;
    }
}
.b-match-versus {
    grid-template-columns: 3fr 2fr 3fr;
    .home {
        order: 1;
    }
    .versus {
        order: 2;
    }
    .away {
        order: 3;
    }
    @media (max-width: $breakpoint-small) {
        grid-template-columns: 3fr 1fr 3fr;
        .versus {
            font-size: 1.5rem;
        }
    }
}
.b-match-list {
    grid-template-columns: 1fr;
    /* ej: start list de ciclismo, time trial por equipos */
    .player-members {
        justify-self: flex-start;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-small) {
            margin-left: 1rem;
        }
    }
    .b-player.list {
        .player-members {
            padding-left: 3.5rem;
            display: flex;
            flex-direction: column;
            @media (max-width: $breakpoint-small) {
                padding-left: 2.4rem;
            }
            .b-player.list {
                border-top: 0 solid $color-primary-25;
                border-bottom: 0 solid $color-primary-25;
                justify-content: flex-start;
                padding: 0.2rem 0;
                .avatar {
                    height: 1.6rem;
                }
                .name {
                    font-size: 1rem;
                    font-weight: 100;
                    text-align: left;
                }
                @media (max-width: $breakpoint-small) {
                    padding: 0.1rem 0;
                    .name {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
</style>
