<template lang="pug">
//-
//- TITULOS de la lista
.b-results-list(v-if='isTitles', ref='self' :class='`grid-cols-${columnsLength}`')
    .rank(v-if='columns.rank') Rank
    .noc(v-if='columns.country') Noc
    .noc-placeholder
    .ath(v-if='columns.name') Name
    .result(v-if='columns.result') Result
    .gap(v-if='columns.gap') Gap
    .qa(v-if='columns.qa') QA
    .rc(v-if='columns.rc') RC
    slot
//-
//- LISTA
.b-results-list(v-else, ref='self', :class='`grid-cols-${columnsLength}`')
    .rank(v-if='columns.rank') {{ rank }}
    BNocLabel.flag.noc(v-if='columns.country', :noc='country')
    .noc-placeholder
    //- es un Team si tiene Members y si NameS==Org
    template(v-if='isTeam')
        router-link(:to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: reg } }')
            BPlayerLabel.ath.startlist(:noc='noc', :name='name')
    template(v-else-if='columns.name')
        router-link(:to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: reg } }')
            BPlayerLabel.ath.startlist(:reg='reg', :name='name')
    .result(v-if='columns.result') {{ result }}
    .gap(v-if='columns.gap') {{ gap }} -
    .qa(v-if='columns.qa') {{ qa }}
    .rc(v-if='columns.rc') {{ rc }} -

    slot
</template>
<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import images from '@/mixins/images';
//
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';
import BNocLabel from '@/BornanUI/BNocLabel.vue';
@Component({
    components: {
        BNocLabel,
        BPlayerLabel
    }
})
export default class BResultsList extends Mixins(images) {
    $refs!: {
        self: HTMLElement;
    };
    //
    @Prop()
    competitor: any;
    @Prop({ default: false })
    declare isTitles: boolean;
    @Prop()
    columns!: {
        rank: boolean;
        country: boolean;
        reg: boolean;
        name: boolean;
        result: boolean;
        gap: boolean;
        qa: boolean;
        rc: boolean;
    };

    get isTeam() {
        return (
            this.competitor &&
            this.competitor.Members &&
            this.competitor.Members.length > 0 &&
            this.competitor.Org == this.competitor.NameS
        );
    }

    get rank() {
        return this.competitor ? this.competitor.Rk : '-';
    }
    get noc() {
        return this.competitor ? this.competitor.Org : ' ';
    }
    get country() {
        return this.noc;
    }
    get reg() {
        return this.competitor ? this.competitor.Reg : ' ';
    }
    get name() {
        return this.competitor ? this.competitor.Name : ' ';
    }
    get result() {
        return this.competitor ? (this.competitor.IRM == 'OK' ? this.competitor.Result : this.competitor.IRM) : ' ';
    }
    get gap() {
        return this.competitor && this.competitor.Diff ? this.competitor.Diff : ' ';
    }
    get qa() {
        return this.competitor && this.competitor.Qualified ? this.competitor.Qualified : '';
    }
    get rc() {
        return this.competitor && this.competitor.RecordInd ? this.competitor.RecordInd : ' ';
    }

    get columnsLength() {
        return Object.values(this.$props.columns).filter(v => v).length;
    }
}
</script>

<style lang="scss">
.b-results-list {
    border-bottom: 1px solid $color-primary-25;
    width: 100%;
    display: grid;

    // grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 1fr;
    justify-items: flex-start;
    align-items: center;
    padding: 1rem 0;

    .result {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .gap {
        font-size: 0.9rem;
        color: $color-primary-50;
    }
    .b-player {
        &.startlist {
            border: 0 solid red;
            padding: 0; /* reset */
            .avatar {
                margin-bottom: 0;
            }
            .name {
                font-weight: 100;
            }
        }
    }
    .noc-placeholder {
        display: none;
    }

    // @media (max-width: $breakpoint-medium) {
    //     grid-template-columns: 25px 80px 1fr 60px 60px 30px;
    // }
    @media (max-width: $breakpoint-small) {
        //grid-template-columns: 25px 1fr 80px 80px 20px 20px;
        .noc {
            display: none;
        }
        .noc-placeholder {
            display: block;
        }
    }
    &.titles {
        justify-items: center;
        > div {
            color: $color-primary;
            font-size: 0.8rem;
            font-weight: 100;
        }
    }
}
.grid-cols-7 {
    grid-template-columns:
        minmax(50px, 36px) minmax(80px, 90px) minmax(100px, 1fr) minmax(80px, 90px) minmax(80px, 90px)
        minmax(80px, 90px) minmax(80px, 90px) minmax(30px, 50px);
}
.grid-cols-6 {
    grid-template-columns:
        minmax(50px, 36px) minmax(80px, 90px) minmax(100px, 1fr) minmax(80px, 90px) minmax(80px, 90px)
        minmax(80px, 90px) minmax(30px, 50px);
}
.grid-cols-5 {
    grid-template-columns:
        minmax(50px, 36px) minmax(80px, 90px) minmax(100px, 1fr) minmax(80px, 90px) minmax(80px, 90px)
        minmax(30px, 50px);
}
.grid-cols-4 {
    grid-template-columns: minmax(50px, 36px) minmax(80px, 90px) minmax(100px, 1fr) minmax(80px, 90px) minmax(
            30px,
            50px
        );
}
.grid-cols-3 {
    grid-template-columns: minmax(50px, 36px) minmax(80px, 90px) minmax(100px, 1fr) minmax(30px, 50px);
}
</style>
