<template lang="pug">
.b-section-title
    slot
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class BSectionTitle extends Vue {}
</script>

<style lang="scss">
.b-section-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: $color-primary-dark;
    padding: 0.4rem 0.6rem 1rem 0.6rem;
    @media (max-width: $breakpoint-medium) {
        font-size: 1.2rem;
        padding: 0.4rem 0.4rem 0.8rem 0.4rem;
    }
    @media (max-width: $breakpoint-small) {
        font-size: 1rem;
        padding: 0.4rem 0.4rem 0.6rem 0.4rem;
    }
    &.sticky {
        position: sticky;
        background: $white;
        z-index: 6;
    }
}
</style>
