<style lang="scss">
.start-list {
    padding: 0 1.5rem;
    @media (max-width: $breakpoint-medium) {
        padding: 0 1rem;
    }
    @media (max-width: $breakpoint-small) {
        padding: 0 0.8rem;
    }
    .teams {
        padding: 1rem;
        background: $color-surface;
        box-shadow: $card-boxshadow;
        .match-vs {
            display: grid;
            grid-template-columns: 1fr 50px 1fr;
            grid-template-rows: auto;
            align-items: center; /* centra vertical */
            justify-content: center;
            .team {
                /* duplicado con el de Member, mandale la clase left o right al componente y elimina este */
                width: 100%;
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-on-surface;
            }
            .vs {
                font-size: 2rem;
                font-weight: 900;
                color: $color-on-surface;
            }
            .right {
                .team-member {
                    .team {
                        justify-content: flex-end;
                        .country {
                            order: 2;
                        }
                        .name {
                            order: 1;
                        }
                    }
                }
            }
        }
    }
    .teams-members {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 2rem;
        .officials-title {
            margin: 1rem 0;
            font-size: 1.3rem;
        }
        @media (max-width: $breakpoint-small) {
            grid-gap: 0.5rem;
        }
        .team-left {
            justify-content: flex-start;
            align-items: flex-start;
            .team-member {
                justify-self: flex-end;
                .player {
                    display: grid;
                    grid-template-columns: max-content 1fr max-content;
                    justify-content: flex-start;
                    align-items: center;
                    @media (max-width: 550px) {
                        grid-template-columns: max-content 1fr;
                        grid-template-rows: 2fr 1fr;
                    }
                }
            }
        }
        .team-right {
            justify-content: flex-end;
            align-items: flex-end;
            .team-member {
                justify-self: flex-start;
                .team {
                    .country {
                        order: 2;
                    }
                    .name {
                        order: 1;
                    }
                }
                .player {
                    display: grid;
                    grid-template-columns: max-content 1fr max-content;
                    justify-content: flex-end;
                    align-items: center;
                    .name {
                        order: 2;
                        text-align: right;
                    }
                    .position {
                        order: 1;
                    }
                    .avatar {
                        order: 3;
                    }
                    @media (max-width: 550px) {
                        grid-template-columns: 1fr max-content;
                        grid-template-rows: 2fr 1fr;
                        .name {
                            order: 1;
                            text-align: right;
                        }
                        .position {
                            order: 3;
                        }
                        .avatar {
                            order: 2;
                        }
                    }
                }
            }
        }
    }
}
</style>
<template lang="pug">
.start-list(ref='self')
    .teams-members
        .team-left
            router-link(
                v-for='(member, i) in teamHome',
                :key='`player_right_${i}`',
                :to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: member.Reg } }')
                BPlayerLabel.startlist(:reg='member.Reg', :name='member.Name', :position='member[description]')
        .team-right
            router-link(
                v-for='(member, i) in teamAway',
                :key='`player_right_${i}`',
                :to='{ name: "athletesbio", params: { disc: $route.params.disc, reg: member.Reg } }')
                BPlayerLabel.startlist.mirror(:reg='member.Reg', :name='member.Name', :position='member[description]')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
//
import BPlayerLabel from '@/BornanUI/BPlayerLabel.vue';

@Component({
    components: {
        BPlayerLabel
    }
})
export default class BTeamStartList extends Vue {
    description = '' as string;
    //
    @Prop()
    teamHome: any;
    @Prop()
    teamAway: any;
    //
    $refs!: {
        self: HTMLElement;
    };
    //
    mounted() {
        // mismo componente para players que para Team Officials
        // si el componente tiene la clase Officials, la descripcion del cargo es FuncDesc
        // si es un jugador, se llama PosDesc ... probado en BKB
        // esta de fallback el componente antiguo
        setTimeout(() => {
            const classes = this.$refs.self.classList;

            if (classes.contains('officials')) {
                this.description = 'FuncDesc';
            } else {
                this.description = 'PosDesc';
            }
            //console.log('is Officials: ' + classes.contains('officials') + ' + ' + this.description);
        }, 300);
    }
}
</script>
