<template lang="pug">
.body-section-container_results.body-section-container.container-fluid
    title-unit(v-if='unitInfo', :results-res='unitInfo', :show-venue='true', :show-court='true')

    .body-section-container_results__disc.body-section-container_results__disc_h2h
        scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
        period-resp(
            v-if='hasPeriods',
            :competitors='competitors',
            :periods='results.Results.Periods',
            :display-periods='displayPeriods',
            :show-winner='false'
        )

        period-stats(
            v-if='results && results.Stats.showStats && results.Stats.hasStats',
            :show-button='false',
            :competitors='competitors',
            :periods='results.Results.Periods',
            :display-periods='displayPeriods',
            :desc-stats='results.Stats.colStats.teams',
            :match-duration='results.Duration'
        )

        stats-players(
            v-if='results && results.Stats.showStats && results.Stats.hasStats',
            :competitors='competitors',
            :list-stats='results.Stats.colStats.players',
            :checkPosition='isGoalkeeper'
        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import titleUnit from '@/components/DisciplinesMatchCentre/_commons/Title.vue';
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';

import statsPlayers from '@/components/DisciplinesMatchCentre/_commons/stats/StatsMatchPlayers.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { titleUnit, officials, scoreh, periodResp, statsPlayers, periodStats }
})
/* eslint-enable */
export default class HBLResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];

    @Watch('results')
    setValues(value: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            this.displayPeriods = [];
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [true, true, currP == 3];

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }
    isGoalkeeper(competitor: any, position: string) {
        if (position == '*') return true;
        return competitor.Position == 'GK' || competitor.Sport.Goalkeeper == 'true';
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
