<template lang="pug">
    .datetime
        button.datetime__button(@click='openModal')
            i.far.fa-clock
        .languages__modal-language(:class="modalOpened ? 'modalOpened' : 'modalClosed' ")
            ul.languages__modal-language__list
                li.languages__modal-language__list__language(:class="myTime ? 'activeLang' : ''")
                    p.languages__modal-language__list__language__desc(@click='changeTimeRef(true)')
                        span.label {{ $t('general.my-time') }} 
                        span.time {{ localTime }}
                li.languages__modal-language__list__language.languages__modal-language__list__language_venue(:class="!myTime ? 'activeLang' : ''")
                    p.languages__modal-language__list__language__desc(@click='changeTimeRef(false)')
                        span.label {{ $t('general.venue-time') }}
                        span.time {{ venueTime }}

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';
import config from '@/settings/config';

@Component({})
export default class DisplayTime extends Vue {
    modalOpened = false;
    localTime = '';
    venueTime = '';
    intervalId: NodeJS.Timeout | null = null;

    get myTime(): boolean {
        return this.$store.getters.myTime;
    }

    changeTimeRef(value: boolean) {
        this.$store.commit('CHANGE_TIME', value);
        this.openModal();
    }

    openModal(): void {
        this.modalOpened = !this.modalOpened;
        if (this.modalOpened) {
            this.updateTimes();
            this.intervalId = setInterval(this.updateTimes, 500);
        } else if (this.intervalId) {
            clearInterval(this.intervalId);
            this.intervalId = null;
        }
    }

    updateTimes() {
        const time = moment(new Date());
        this.localTime = time.format('HH:mm:ss');
        this.venueTime = time.utcOffset(config.general.venueTimeZone).format('HH:mm:ss');
    }
}
</script>
