<template lang="pug">
.languages(v-if='languages.length > 1')
    //- button.languages__button(@click='openModalLang' :class='language ? language : lang ')
    span.b-language(@click='openModalLang')
        i.fa.fa-language
    .languages__modal-language(:class='modalOpened ? "modalOpened" : "modalClosed"')
        ul.languages__modal-language__list
            li.languages__modal-language__list__language(
                v-for='(lang, index) in languages',
                :key='index',
                :class='lang.Key == language ? "activeLang" : ""')
                p.languages__modal-language__list__language__desc(@click='changeLang(lang.Key, lang.Desc), openModalLang()')
                    //- span.languages__modal-language__list__language__desc__flag(:class='lang.Key')
                    span {{ lang.Desc }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import i18n from '@/settings/i18n.vite';

@Component({
    computed: mapGetters(['language', 'languages'])
})
export default class Language extends Vue {
    lang = '';
    modalOpened = false;
    changeLang(key: string, desc: string): void {
        this.$store.commit('CHANGE_LANG', key);
        this.lang = desc;
        i18n.locale = key;
    }
    openModalLang(): void {
        this.modalOpened = !this.modalOpened;
    }
}
</script>
<style lang="scss">
.b-language {
    cursor: pointer;
    color: $white;
    &:hover {
        color: $color-secondary;
    }
}
</style>