.select-default {
    background-color: $white;
    border: 1px solid $blue;
    color: $blue;
    height: 35px;
    @include border-radius(0);
    @include box-shadow(none);
    vertical-align: top;
}
.input-default {
    background-color: $white;
    border: 1px solid $blue;
    color: $blue;
    height: 35px;
    @include border-radius(0);
    @include box-shadow(none);
    vertical-align: top;
    border-right: 0;
}
.info-text {
    color: $blue3;
    font-size: 2em;
}