.player-entries {
    background: $lightGray1;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.32));
    @include border-radius(0px);
    margin: 9px 0px 11px 0px;
    padding: 15px 20px;
    height: 100px;
    margin-bottom: 20px;
    .picture-container {
        @include align-items(center);
    }
    .img-avatar {
        @include border-radius(10%);
        @include box-shadow(0px 1px 0 rgba(0,0,0,0.32));
        margin-top: 5px;
        object-fit: cover;
        overflow: hidden;
        height: 64px;
        width: 64px;
    }
    .flag-container {
        @include flex-direction(column-reverse);
        @include flex(1);
        margin-left: -5px;
    }
    .flag-style{
        border: none;
        height: 19px;
        @include box-shadow(2px 2px 3px rgba(0,0,0,0.2));
        margin-left: 4px;
        margin-right: 4px;
        width: 26px;
    }
    .noc-flag{
        @include align-items(center);
    }
    .noc-style{
        font-size: 1em;
        font-weight: 600;
    }
    .name-player{
        margin-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
            color: $blueSolid;
            text-decoration: none;
        }
        span {
            color: $lightGray;
            font-size: 1.2em;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: pre;
        }
    }
    .disc-box{
    //background-color: #3C2541;
        .disc-avatar{
            .disc-img{
                width: 26px;
            }
            span{
                font-weight: 600;
                margin-right: 0.4em;
            }
        }
    }
}