<template lang="pug">
.b-match-centre
    title-unit(v-if='unitInfo', :results-res='unitInfo' , :show-venue='true', :show-court='false')
</template>

<script src="../_commons/PresentationScript" lang="ts"></script>
