<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_ath
                
                curr-period(
                    v-if='hasPeriods && unitInfo.Status==="RUNNING"'
                    :periods='results.Results.Periods', :current='results.Results.CurrentPeriod'
                    )
            
                //- Si no es relevos, caso normal
                score-ath(
                    v-if='!isRelay'
                    :competitors='competitors', :periods='periods',
                    :current-period='results.Results.CurrentPeriod',
                    :type='unitInfo ? unitInfo.Type : "T"',
                    :show-accum='true'
                )
                //- Si es relevos sobreescribo el pintado de splits
                
                score-ath(
                    v-if='isRelay'
                    :competitors='competitors', :periods='periods',
                    :current-period='results.Results.CurrentPeriod',
                    :type='unitInfo ? unitInfo.Type : "T"',
                    :show-accum='true'
                    )
                    template(#splitList='{index}')
                        template(v-for='relay,idm in splitsTeams[index].Relay')
                            p.medal-section-container__list__body__splits__descs__list__member
                                span.badge.badge-secondary.mr-2 \#{{idm+1}}
                                span.bib {{ relay.Member.Bib }}
                                span.name {{ relay.Member.Name }}
                            ul.medal-section-container__list__body__splits__descs__list
                                li.medal-section-container__list__body__splits__descs__list__split(v-for='memberSp,indexPe in relay.Splits', :key='indexPe')
                                        span.medal-section-container__list__body__splits__descs__list__split__desc {{memberSp.Desc}}
                                        ul.medal-section-container__list__body__splits__values__list
                                            li.medal-section-container__list__body__splits__values__list__split(v-if='memberSp')
                                                span.medal-section-container__list__body__splits__values__list__split__value(v-if='memberSp.Result')
                                                    | {{ showAccum ? memberSp.AcumulatedResult : memberSp.Result }}
                                                span.medal-section-container__list__body__splits__values__list__split__rk(v-if='memberSp.Rk && memberSp.Rk!="0"')
                                                    | {{ showAccum ? memberSp.RkAcc : memberSp.Rk}}
                                                span.medal-section-container__list__body__splits__values__list__split__diff(v-if='memberSp.Diff')
                                                    | {{ showAccum ? memberSp.AcumulatedDiff : memberSp.Diff}}

                //-statistic(v-if='stats', :stats='unitStats')
                //-officials(v-if='hasOfficials', :list-officials='officials')
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreAth from '@/components/DisciplinesMatchCentre/_commons/results/ATHScore.vue';
import currPeriod from '@/components/DisciplinesMatchCentre/_commons/results/ATHCurrentPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { currPeriod, officials, scoreAth }
})
/* eslint-enable */
export default class AQTResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    splitsTeams: Array<any> = [];
    officials: Array<any> = [];
    periods: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    showAccum = true;

    get isRelay(): boolean {
        return this.$route.params.rsc != undefined && this.$route.params.rsc.indexOf('.TEAM', 1) == 1;
    }

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.periods = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;
        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        if (this.hasPeriods) this.periods = value.Results.Periods;
        this.buildSplitsData();
    }

    buildSplitsData() {
        if (this.isRelay == false) return;
        this.splitsTeams = [];
        const nSplits: number = this.periods.length;
        for (let i = 0; i < this.competitors.length; i++) {
            const splits: any[] = this.competitors[i].Splits;
            const nMembers: number = this.competitors[i].Members.length;
            const nRelay = splits.length / nMembers;
            //
            const splitsCompetitor: any = {};
            splitsCompetitor.Reg = this.competitors[i].Reg;
            splitsCompetitor.Relay = [];
            //
            let currRelay: any;
            for (let j = 0; j < splits.length; j++) {
                if (j % nRelay == 0) {
                    currRelay = {};
                    currRelay.Member = this.competitors[i].Members[j / nRelay];
                    currRelay.Splits = [];
                    splitsCompetitor.Relay.push(currRelay);
                }
                splits[j].Desc = this.periods[j].Desc;
                currRelay.Splits.push(splits[j]);
            }
            this.splitsTeams.push(splitsCompetitor);
        }
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
