<template lang="pug">
    ath(v-if='unit', :unit='unit', :bio='bio')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ath from '@/components/DisciplinesMatchCentre/_commons/schedule/ATH.vue';

@Component({
    props: ['unit', 'bio'],
    components: { ath }
})
export default class AQTSchUnit extends Vue {}
</script>
