/* BOOTSTRAP */
// @import "/node_modules/bootstrap/scss/functions";
// @import "/node_modules/bootstrap/scss/variables";
// @import "/node_modules/bootstrap/scss/mixins";
// @import "/node_modules/bootstrap/scss/root";
// @import "/node_modules/bootstrap/scss/reboot";
// @import "/node_modules/bootstrap/scss/type";
// @import "/node_modules/bootstrap/scss/images";
// @import "/node_modules/bootstrap/scss/code";
// @import "/node_modules/bootstrap/scss/grid";
// @import "/node_modules/bootstrap/scss/tables";
// @import "/node_modules/bootstrap/scss/forms";
// @import "/node_modules/bootstrap/scss/buttons";
// @import "/node_modules/bootstrap/scss/transitions";
// @import "/node_modules/bootstrap/scss/dropdown";
// @import "/node_modules/bootstrap/scss/button-group";
// @import "/node_modules/bootstrap/scss/input-group";
// @import "/node_modules/bootstrap/scss/custom-forms";
// @import "/node_modules/bootstrap/scss/nav";
// @import "/node_modules/bootstrap/scss/navbar";
// @import "/node_modules/bootstrap/scss/card";
// @import "/node_modules/bootstrap/scss/breadcrumb";
// @import "/node_modules/bootstrap/scss/pagination";
// @import "/node_modules/bootstrap/scss/badge";
// @import "/node_modules/bootstrap/scss/jumbotron";
// @import "/node_modules/bootstrap/scss/alert";
// @import "/node_modules/bootstrap/scss/progress";
// @import "/node_modules/bootstrap/scss/media";
// @import "/node_modules/bootstrap/scss/list-group";
// @import "/node_modules/bootstrap/scss/close";
// @import "/node_modules/bootstrap/scss/toasts";
// @import "/node_modules/bootstrap/scss/modal";
// @import "/node_modules/bootstrap/scss/tooltip";
// @import "/node_modules/bootstrap/scss/popover";
// @import "/node_modules/bootstrap/scss/carousel";
// @import "/node_modules/bootstrap/scss/spinners";
// @import "/node_modules/bootstrap/scss/utilities";
// @import "/node_modules/bootstrap/scss/print";

/* ALL bootstrap */
//@import '/node_modules/bootstrap/dist/css/node_modules/bootstrap.min.css';
//@import '/node_modules/bootstrap/scss/node_modules/bootstrap.scss';

/* THEME */
@import './_theme/base.scss';
/* COMMON */
@import '../../common/base.scss';

/* esta variable se setea en JS, este valor es un fallback, tengo scroll entodas partes por eso no la dejo en cero */
:root {
    // ios
    --ios-safe-area-top: env(safe-area-inset-top, 0px);
    --ios-safe-area-bottom: env(safe-area-inset-bottom, 0px);
    // layout
    --left-menu-width: 56px;
    --right-menu-width: 50px;
    --main-width-with-menus: calc(100vw - var(--left-menu-width) - var(--right-menu-width));
    // general
    --scrollbar: 13px;
    --html-overflow-y: unset;
    --html-height: auto;
}

html {
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
}
html {
    /* en todos, fnciona en Safari del iPhone6 y no afecta al resto de navegadores */
    overflow-y: var(--html-overflow-y);
    max-height: var(--html-height);
}

#app {
    font-family: $font-primary;
    color: $color-primary-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    text-align: center;
}

a,
button {
    outline: none !important;
    text-decoration: none !important;
}
