<template lang="pug">
    .body-section-container_results.body-section-container.container-fluid
        .body-section-container_results__disc.body-section-container_results__disc_h2h
            
                scoreh(:competitors='competitors', :type='unitInfo ? unitInfo.Type : "T"')
                //-period(v-if='hasPeriods', :competitors='competitors', :periods='results.Results.Periods', :current='results.Results.CurrentPeriod')

                period-resp(
                    v-if='hasPeriods',
                    :type='unitInfo ? unitInfo.Type : "T"',
                    :competitors='competitors', :periods='results.Results.Periods',
                    :display-periods='displayPeriods'
                )
                    template(#splits)
                        template(v-if='results.Info.IsLive')
                            .h2h-result__splits-title
                            .h2h-result__splits-title

                        .h2h-result__splits-title(v-else)
                            span Total

                    template(#total='{competitor}')
                        template(v-if='results.Info.IsLive')
                            .h2h-result__competitor__detail-results__bte
                                result(type='p', :res='competitor.Sport.GamePoints')
                            .h2h-result__competitor__detail-results__bte
                                img.serve(v-if='competitor.Sport.Server=="true"', src='@theme/images/tennis-ball.png')

                                //-svg(v-if='competitor.Sport.Server=="true"', style='font-size: 28px')
                                    symbol(version="1.1", width="24", height="24", viewBox="0 0 255.228 255.228")
                                        path(d="M232.593,55.115C213.228,27.07,184.101,8.246,150.578,2.11c-7.636-1.398-15.413-2.107-23.114-2.107\
                                            c-61.542,0-114.266,44.006-125.365,104.636C-10.57,173.842,35.425,240.45,104.628,253.118c7.633,1.397,15.41,2.106,23.113,2.107\
                                            c0.004,0,0.007,0,0.01,0c61.537,0,114.256-44.004,125.355-104.636C259.244,117.065,251.959,83.158,232.593,55.115z M14.886,106.98\
                                            C16.928,95.826,20.54,85.3,25.465,75.61c2.16,18.46,8.838,34.284,14.931,48.719c7.016,16.622,13.644,32.321,12.744,49.667\
                                            c-0.625,12.035-2.679,23.786-6.079,35.068C21.091,183.307,7.817,145.596,14.886,106.98z M127.742,242.225\
                                            c-6.921,0-13.91-0.638-20.773-1.894c-18.557-3.397-35.254-11.115-49.247-21.922c4.79-13.972,7.617-28.66,8.4-43.739\
                                            c1.055-20.325-6.471-38.154-13.75-55.396c-8.03-19.022-16.32-38.678-14.32-63.204c21.146-26.481,53.615-43.067,89.411-43.067\
                                            c6.917,0,13.907,0.637,20.773,1.894c30.108,5.512,56.267,22.418,73.659,47.604c2.749,3.98,5.224,8.093,7.426,12.314\
                                            c0.037,13.724-20.255,26.056-34.451,30.196c-65.718,19.168-80.629,61.135-81.565,92.964c-0.473,15.966,6.147,32.371,14.67,44.246\
                                            C127.899,242.222,127.821,242.225,127.742,242.225z M240.32,148.248c-8.982,49.064-48.304,85.998-96.418,92.833\
                                            c-9.221-9.333-18.079-26.578-17.601-42.721c1.177-40.028,25.473-67.236,72.21-80.868c13.485-3.933,24.854-10.535,32.877-19.092\
                                            c1.965-2.096,3.681-4.281,5.141-6.51C242.45,109.857,243.821,129.12,240.32,148.248z")


                        .h2h-result__competitor__detail-results__total-rs(v-else)
                            result(type='p', :res='competitor.Result')
                            

                //-officials(v-if='hasOfficials', :list-officials='officials')
                period-stats(
                    v-if='results && results.Stats.showStats && results.Stats.hasStats',
                    :competitors='competitors',
                    :periods='results.Results.Periods',
                    :display-periods='displayPeriods',
                    :desc-stats='results.Stats.colStats.teams')

</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
//
import officials from '@/components/DisciplinesMatchCentre/_commons/Officials.vue';
import scoreh from '@/components/DisciplinesMatchCentre/_commons/results/H2HScore.vue';
import period from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriod.vue';
import periodResp from '@/components/DisciplinesMatchCentre/_commons/results/H2HPeriodResponsive.vue';
import Result from '@/components/DisciplinesMatchCentre/_commons/schedule/ResultAnimated.vue';
import periodStats from '@/components/DisciplinesMatchCentre/_commons/stats/StatsPeriod.vue';

/* eslint-disable */
@Component({
    props: ['results'],
    components: { officials, scoreh, period, periodResp, periodStats, Result }
})
/* eslint-enable */
export default class BTEResults extends Vue {
    unitInfo: any = null;
    competitors: Array<any> = [];
    officials: Array<any> = [];
    hasPeriods = false;
    hasOfficials = false;
    displayPeriods: Array<boolean> = [];

    @Watch('results')
    setValues(value: any, old?: any) {
        if (!value) {
            this.unitInfo = null;
            this.competitors = [];
            this.officials = [];
            this.hasOfficials = false;
            this.hasPeriods = false;
            return;
        }

        this.competitors = value.Competitors;
        this.hasPeriods = value.Results.Periods && value.Results.Periods.length > 0;

        const currP = value.Results.CurrentPeriod;
        this.displayPeriods = [];
        for (let i = 0; this.hasPeriods && i < value.Results.Periods.length; i++) {
            this.displayPeriods.push(value.Results.Periods[i].Order <= currP);
        }

        this.officials = value.Results.Officials;
        this.hasOfficials = this.officials && this.officials.length > 0;
        this.unitInfo = value.Info;
        //this.resultsStatistic = results.Results.Stats
    }

    mounted() {
        this.setValues(this.$props.results);
    }
}
</script>
